@import 'column.setup.scss';
@import 'column.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}column {
  @include column-gap-normal;
  @include column-direction-normal;

  max-width: $column-max-width;
  min-height: $column-min-height; // prevents layout even when column is empty
  box-sizing: border-box;

  &--auto { @include column-auto; }
  &--1    { @include column-1; }
  &--2    { @include column-2; }
  &--3    { @include column-3; }
  &--4    { @include column-4; }
  &--5    { @include column-5; }
  &--6    { @include column-6; }
  &--7    { @include column-7; }
  &--8    { @include column-8; }
  &--9    { @include column-9; }
  &--10   { @include column-10; }
  &--11   { @include column-11; }
  &--12   { @include column-12; }

  @include breakpoint('xs') {
    &--auto-xs  { @include column-auto; }
    &--1-xs     { @include column-1; }
    &--2-xs     { @include column-2; }
    &--3-xs     { @include column-3; }
    &--4-xs     { @include column-4; }
    &--5-xs     { @include column-5; }
    &--6-xs     { @include column-6; }
    &--7-xs     { @include column-7; }
    &--8-xs     { @include column-8; }
    &--9-xs     { @include column-9; }
    &--10-xs    { @include column-10; }
    &--11-xs    { @include column-11; }
    &--12-xs    { @include column-12; }
  }

  @include breakpoint('s') {
    &--auto-s   { @include column-auto; }
    &--1-s      { @include column-1; }
    &--2-s      { @include column-2; }
    &--3-s      { @include column-3; }
    &--4-s      { @include column-4; }
    &--5-s      { @include column-5; }
    &--6-s      { @include column-6; }
    &--7-s      { @include column-7; }
    &--8-s      { @include column-8; }
    &--9-s      { @include column-9; }
    &--10-s     { @include column-10; }
    &--11-s     { @include column-11; }
    &--12-s     { @include column-12; }
  }

  @include breakpoint('m') {
    &--auto-m   { @include column-auto; }
    &--1-m      { @include column-1; }
    &--2-m      { @include column-2; }
    &--3-m      { @include column-3; }
    &--4-m      { @include column-4; }
    &--5-m      { @include column-5; }
    &--6-m      { @include column-6; }
    &--7-m      { @include column-7; }
    &--8-m      { @include column-8; }
    &--9-m      { @include column-9; }
    &--10-m     { @include column-10; }
    &--11-m     { @include column-11; }
    &--12-m     { @include column-12; }
  }

  @include breakpoint('l') {
    &--auto-l   { @include column-auto; }
    &--1-l      { @include column-1; }
    &--2-l      { @include column-2; }
    &--3-l      { @include column-3; }
    &--4-l      { @include column-4; }
    &--5-l      { @include column-5; }
    &--6-l      { @include column-6; }
    &--7-l      { @include column-7; }
    &--8-l      { @include column-8; }
    &--9-l      { @include column-9; }
    &--10-l     { @include column-10; }
    &--11-l     { @include column-11; }
    &--12-l     { @include column-12; }
  }

  @include breakpoint('xl') {
    &--auto-xl  { @include column-auto; }
    &--1-xl     { @include column-1; }
    &--2-xl     { @include column-2; }
    &--3-xl     { @include column-3; }
    &--4-xl     { @include column-4; }
    &--5-xl     { @include column-5; }
    &--6-xl     { @include column-6; }
    &--7-xl     { @include column-7; }
    &--8-xl     { @include column-8; }
    &--9-xl     { @include column-9; }
    &--10-xl    { @include column-10; }
    &--11-xl    { @include column-11; }
    &--12-xl    { @include column-12; }
  }

  &--direction {
    &-normal  { @include column-direction-normal; }
    &-reverse { @include column-direction-reverse; }

    @include breakpoint('xs') {
      &-normal-xs  { @include column-direction-normal; }
      &-reverse-xs { @include column-direction-reverse; }
    }

    @include breakpoint('s') {
      &-normal-s  { @include column-direction-normal; }
      &-reverse-s { @include column-direction-reverse; }
    }

    @include breakpoint('m') {
      &-normal-m  { @include column-direction-normal; }
      &-reverse-m { @include column-direction-reverse; }
    }

    @include breakpoint('l') {
      &-normal-l  { @include column-direction-normal; }
      &-reverse-l { @include column-direction-reverse; }
    }

    @include breakpoint('xl') {
      &-normal-xl  { @include column-direction-normal; }
      &-reverse-xl { @include column-direction-reverse; }
    }
  }

  &--gap {
    &-normal  { @include column-gap-normal; }
    &-small   { @include column-gap-small; }
    &-zero    { @include column-gap-zero; }

    @include breakpoint('xs') {
      &-normal-xs { @include column-gap-normal; }
      &-small-xs  { @include column-gap-small; }
      &-zero-xs   { @include column-gap-zero; }
    }

    @include breakpoint('s') {
      &-normal-s { @include column-gap-normal; }
      &-small-s  { @include column-gap-small; }
      &-zero-s   { @include column-gap-zero; }
    }

    @include breakpoint('m') {
      &-normal-m { @include column-gap-normal; }
      &-small-m  { @include column-gap-small; }
      &-zero-m   { @include column-gap-zero; }
    }

    @include breakpoint('l') {
      &-normal-l { @include column-gap-normal; }
      &-small-l  { @include column-gap-small; }
      &-zero-l   { @include column-gap-zero; }
    }

    @include breakpoint('xl') {
      &-normal-xl { @include column-gap-normal; }
      &-small-xl  { @include column-gap-small; }
      &-zero-xl   { @include column-gap-zero; }
    }
  }
}
