@import '../../../../../../packages/utilities/projects/utilities/scss';

:host {
  display: block;
}

.#{$p-global-class-prefix}fieldset-wrapper {
  $bem-block: &;
  margin: 0;
  padding: 0;
  border: none;

  &__label {
    @include p-headline-4;
    padding: 0;
    margin: 0 0 $p-spacing-16 0;
  }
}
