@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'footer.setup.scss';

.#{$global-class-prefix}footer {

  &__paragraph {
    @include -text-color-white;
    @include -text-size-copy;
    @include -spacing-e;
    @include -spacing-e(top, padding);

    border-top: $footer-paragraph-border-width solid $footer-paragraph-border-color;

    @include breakpoint('xxs', 's') {
      margin-top: 0;
    }
  }

  &__links {
    display: block;

    @include breakpoint('m') {
      display: inline;
    }
  }

  &__link {
    @include -text-color-white;

    text-decoration: underline;
    display: block;

    @include breakpoint('xxs') {
      display: inline-block;
    }

    @include breakpoint('s') {
      display: inline;
    }

    &:hover {
      @include -text-color-red-1;
    }
  }
}
