<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Button Primary</h2>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Default</h4>
      {{> molecules-button-regular styleModifier="-spacing-12" }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_error=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_loading=true }}
    </div>
  </div>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Black</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_black=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_error=true
                                   button-regular_black=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_black=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_black=true }}
    </div>
  </div>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Red</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_red=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_error=true
                                   button-regular_red=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_red=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_red=true }}
    </div>
  </div>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Acid Green</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_acidGreen=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_error=true
                                   button-regular_acidGreen=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_acidGreen=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_acidGreen=true }}
    </div>
  </div>

  <div class="row">
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Stretch</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_black=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_red=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_acidGreen=true }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_error=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_error=true
                                   button-regular_black=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_error=true
                                   button-regular_red=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_error=true
                                   button-regular_acidGreen=true }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_black=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_red=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_acidGreen=true }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_loading=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_black=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_red=true }}
      <br>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_stretch=true
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_acidGreen=true }}
    </div>
  </div>
</div>

<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Edge Case Tests</h2>
  <div class="row">
    <div class="column column--12 -spacing-30">

      <h4 class="-text-size-5-thin -text-color-black">Button Group &lt;button&gt;</h4>
      <div class="flex -spacing-12">

        {{> molecules-button-regular styleModifier=""
                                     button-regular_stretch=true
                                     button-regular_label="Some Button Label" }}

        {{> molecules-button-regular styleModifier=""
                                     button-regular_red=true
                                     button-regular_stretch=true
                                     button-regular_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." }}

      </div>

    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-30">

      <h4 class="-text-size-5-thin -text-color-black">Link Group &lt;a href="#"&gt;</h4>
      <div class="flex -spacing-12">

        {{> molecules-button-regular styleModifier=""
                                     button-regular_link=true
                                     button-regular_stretch=true
                                     button-regular_label="Some Button Label" }}

        {{> molecules-button-regular styleModifier=""
                                     button-regular_link=true
                                     button-regular_red=true
                                     button-regular_stretch=true
                                     button-regular_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." }}

      </div>

    </div>
  </div>
  <div class="row">
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Long Label</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_error=true
                                   button-regular_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> molecules-button-regular styleModifier="-spacing-12"
                                   button-regular_disabled=true
                                   button-regular_loading=true
                                   button-regular_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
  </div>
</div>
