<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Button Primary</h2>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Default</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12" }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_error=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_loading=true }}
    </div>
  </div>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Black</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_black=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_error=true
                                   button-primary_black=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_black=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_black=true }}
    </div>
  </div>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Red</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_red=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_error=true
                                   button-primary_red=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_red=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_red=true }}
    </div>
  </div>

  <div class="row -spacing-30">
    <div class="column column--12 column--3-xs">
      <h4 class="-text-size-5-thin -text-color-black">Acid Green</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_acidGreen=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_error=true
                                   button-primary_acidGreen=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_acidGreen=true }}
    </div>
    <div class="column column--12 column--3-xs -spacing-12 -spacing-zero-xs">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_acidGreen=true }}
    </div>
  </div>

  <div class="row">
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Stretch</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_black=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_red=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_acidGreen=true }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_error=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_error=true
                                   button-primary_black=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_error=true
                                   button-primary_red=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_error=true
                                   button-primary_acidGreen=true }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_black=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_red=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_acidGreen=true }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_loading=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_black=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_red=true }}
      <br>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_stretch=true
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_acidGreen=true }}
    </div>
  </div>
</div>

<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Edge Case Tests</h2>
  <div class="row">
    <div class="column column--12 -spacing-30">

      <h4 class="-text-size-5-thin -text-color-black">Button Group &lt;button&gt;</h4>
      <div class="flex -spacing-12">

        {{> deprecated-button-primary styleModifier=""
                                     button-primary_stretch=true
                                     button-primary_label="Some Button Label" }}

        {{> deprecated-button-primary styleModifier=""
                                     button-primary_red=true
                                     button-primary_stretch=true
                                     button-primary_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." }}

      </div>

    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-30">

      <h4 class="-text-size-5-thin -text-color-black">Link Group &lt;a href="#"&gt;</h4>
      <div class="flex -spacing-12">

        {{> deprecated-button-primary styleModifier=""
                                     button-primary_link=true
                                     button-primary_stretch=true
                                     button-primary_label="Some Button Label" }}

        {{> deprecated-button-primary styleModifier=""
                                     button-primary_link=true
                                     button-primary_red=true
                                     button-primary_stretch=true
                                     button-primary_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." }}

      </div>

    </div>
  </div>
  <div class="row">
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Long Label</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Error</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_error=true
                                   button-primary_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Disabled</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
    <div class="column column--3 -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Loading</h4>
      {{> deprecated-button-primary styleModifier="-spacing-12"
                                   button-primary_disabled=true
                                   button-primary_loading=true
                                   button-primary_label="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." }}
    </div>
  </div>
</div>
