@import 'central-context-menu.setup.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}central-context-menu {
  @include -position(relative);
  @include flex;
  @include flex--direction(column);
  list-style-type: none;
  margin: $central-context-menu-margin;

  &__bar {
    @include -spacing-24(bottom);
    @include flex;

    width: $central-context-menu-bar-width;
  }

  &__left {
    @include flex;
    @include flex--direction(row);
    @include flex--justify-content(flex-start);
    @include flex--grow(1);
  }

  &__right {
    @include flex;
    @include flex--direction(row);
    @include flex--justify-content(flex-end);
  }

  &__item {
    @include -spacing-6(right); // spec means -spacing-12, but this will not fit all elements for notificationcenter on mobile viewport

    &--right {
      @include -spacing-zero(right);
    }

    &--has-flyout { // cannot realize the arrow on other place
      &::after {
        position: absolute;
        content: $central-context-menu-item-has-flyout-content;
        top: $central-context-menu-flyout-arrow-position-vertical;
        width: $central-context-menu-flyout-reset;
        height: $central-context-menu-flyout-reset;
        margin-left: $central-context-menu-flyout-arrow-spacing-horizontal;
        border-color: $central-context-menu-flyout-arrow-border-color;
        border-left: $central-context-menu-flyout-arrow-border-size solid transparent;
        border-right: $central-context-menu-flyout-arrow-border-size solid transparent;
        border-bottom: $central-context-menu-flyout-arrow-border-size solid $central-context-menu-flyout-arrow-border-color;
      }
    }
  }
}
