@import "../../../common";
@import "./select.setup";

.#{$global-class-prefix}Select {
    position: relative;
    min-width: 100px;
}

.#{$global-class-prefix}Select,
.#{$global-class-prefix}Select div,
.#{$global-class-prefix}Select input,
.#{$global-class-prefix}Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.#{$global-class-prefix}Select-control {
    background-color: $select-background-color;
    border: $select-border-size solid $select-border-color;
    border-radius: 0;
    color: $select-text-color;
    cursor: default;
    display: block;
    border-spacing: 0;
    border-collapse: separate;
    height: $select-height;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.#{$global-class-prefix}Select-control:hover {
    box-shadow: none;

    .#{$global-class-prefix}Select-placeholder,
    .#{$global-class-prefix}Select-value,
    .#{$global-class-prefix}Select-icon {
        color: $color-palette-red-1;
    }
}

.#{$global-class-prefix}select-is-focused:not(.#{$global-class-prefix}select-is-pseudo-focused) {
    .#{$global-class-prefix}Select-placeholder {
        display: none;
    }
}

.#{$global-class-prefix}Select-control .#{$global-class-prefix}Select-input:focus {
    outline: none;
}

.#{$global-class-prefix}select-is-searchable.#{$global-class-prefix}select-is-open > .#{$global-class-prefix}Select-control {
    cursor: text;
}

.#{$global-class-prefix}select-is-searchable.#{$global-class-prefix}select-is-focused:not(.#{$global-class-prefix}select-is-open) > .#{$global-class-prefix}Select-control {
    cursor: text;
}

.#{$global-class-prefix}Select-placeholder,
.#{$global-class-prefix}Select-control .#{$global-class-prefix}Select-value {
    @include -typo-body-1;

    bottom: 0;
    color: $select-text-color;
    left: 0;
    line-height: $select-height - 2px;
    padding-left: $select-padding-horizontal-left;
    padding-right: 48px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.#{$global-class-prefix}Select-input {
    vertical-align: middle;
    outline: none;
    position: absolute;
    top: 0;
    right: $spacing-48;
    left: 0;
    bottom: 0;
}

.#{$global-class-prefix}Select-input > input {
    /* For IE 8 compatibility */
    padding: 0;

    /* For IE 8 compatibility */
    -webkit-appearance: none;

    left: $spacing-18;
    padding-right: $spacing-18;
    position: relative;
    width: 100%;
    height: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: $spacing-18;
}

.#{$global-class-prefix}select-is-focused .#{$global-class-prefix}Select-input > input {
    cursor: text;
}

.#{$global-class-prefix}select-is-pseudo-focused .#{$global-class-prefix}Select-input {
    opacity: 0;
}

.#{$global-class-prefix}Select-control:not(.#{$global-class-prefix}select-is-searchable) > .#{$global-class-prefix}Select-input {
    outline: none;
}

// .#{$global-class-prefix}Select-loading-zone {
//     cursor: pointer;
//     display: table-cell;
//     position: relative;
//     text-align: center;
//     vertical-align: middle;
//     width: 16px;
// }

// .#{$global-class-prefix}Select-loading {
//     -webkit-animation: #{$global-class-prefix}Select-animation-spin 400ms infinite linear;
//     -o-animation: #{$global-class-prefix}Select-animation-spin 400ms infinite linear;
//     animation: #{$global-class-prefix}Select-animation-spin 400ms infinite linear;
//     width: 16px;
//     height: 16px;
//     box-sizing: border-box;
//     border-radius: 50%;
//     border: 2px solid #ccc;
//     border-right-color: #333;
//     display: inline-block;
//     position: relative;
//     vertical-align: middle;
// }
.#{$global-class-prefix}Select-arrow-zone {
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    padding-right: 24px;
    padding-left: 24px;
    top: 0;
    right: 0;
    bottom: 0;
}

.#{$global-class-prefix}Select-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    font-size: 20px;
}

.#{$global-class-prefix}Select--multi .#{$global-class-prefix}Select-multi-value-wrapper {
    padding-left: $select-padding-horizontal-left;
}

// PICK ONE: Hide select values when select-has-query is set
// .#{$global-class-prefix}Select--multi.#{$global-class-prefix}select-has-query {
//     .#{$global-class-prefix}Select-value {
//         display: none;
//     }
// }

// PICK ONE: Hide select values when select is open
.#{$global-class-prefix}select-is-searchable.#{$global-class-prefix}select-is-open .#{$global-class-prefix}Select-value {
    display: none;
}

.#{$global-class-prefix}Select .#{$global-class-prefix}Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
}

.#{$global-class-prefix}Select-menu-outer {
    border-top: none;
    border: $select-border-size solid $select-border-color;
    background-color: $select-background-color;
    overflow: hidden;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.#{$global-class-prefix}Select-menu {
    max-height: 200px;
    overflow-y: auto;
}

.#{$global-class-prefix}Select-option-group-label {
    @include -typo-subheading-3;

    box-sizing: border-box;
    cursor: default;
    display: block;
    color: $black;
    padding: $basic-spacing 2*$basic-spacing;
    min-height: 50px;
    word-wrap: break-word;
    margin-top: $basic-spacing;
}

.#{$global-class-prefix}Select-option {
    @include -typo-body-1;

    box-sizing: border-box;
    background-color: $select-background-color;
    color: $select-text-color;
    cursor: pointer;
    line-height: $select-height;
    vertical-align: middle;
    display: block;
    position: static;
    padding: 0 $select-padding-horizontal-left 0 $select-padding-horizontal-left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.#{$global-class-prefix}select-is-focused {
        background-color: inherit;
        color: $brand-red-light;
    }

    &.#{$global-class-prefix}select-is-selected {
        background-color: $select-background-color;
        color: $brand-red-light;
    }
}

.#{$global-class-prefix}Select.#{$global-class-prefix}select-is-error {
    .#{$global-class-prefix}Select-control {
        border-color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-placeholder {
        color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-value {
        color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-arrow-zone {
        color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-menu-outer {
        border-color: $select-text-color-error;
    }
}

.#{$global-class-prefix}Select.#{$global-class-prefix}select-is-disabled {
    .#{$global-class-prefix}Select-arrow-zone {
        cursor: default;
        pointer-events: none;
        color: $grey-light;
    }

    .#{$global-class-prefix}Select-placeholder {
        color: $grey-light;
    }

    .#{$global-class-prefix}Select-value {
        color: $grey-light !important;
    }

    .#{$global-class-prefix}Select-icon {
        color: $grey-light;
    }
}

.#{$global-class-prefix}Select-noresults {
    box-sizing: border-box;
    color: $grey-light;
    cursor: default;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    line-height: $select-height - 2px;
}

.#{$global-class-prefix}Select-value-icon {
    display: none;
}

.#{$global-class-prefix}Select-option .#{$global-class-prefix}pui-checkbox__label {
    color: inherit;
}

.#{$global-class-prefix}mobile-select {

    // -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@keyframes #{$global-class-prefix}Select-animation-spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes #{$global-class-prefix}Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}

@-webkit-keyframes #{$global-class-prefix}Select-animation-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes #{$global-class-prefix}Select-animation-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
