@import './trip-statistics.setup.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/font/font.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}trip-statistics {
  @include -background-grey-9;
  @include -spacing-inner-a;
  padding-bottom: $trip-statistics-reset;


  @include breakpoint('s') {
    padding-bottom: $trip-statistics-reset;
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  &__item {
    padding-bottom: $trip-statistics-item-spacing;
  }

  &__title {
    @include -text-color-grey-5;
    @include -text-size-5-thin;
  }

  &__info {
    @include -font-primary;
    @include -text-color-white;
    @include -spacing-12;
    font-size: $trip-statistics-text-size;

    :last-child {
      font-size: $trip-statistics-text-small-size;
    }

    &--e-mobility {
      @include -text-color-acid-green;
    }
  }

  &__icon {
    padding-right: $trip-statistics-spacing-horizontal;
    font-size: $trip-statistics-icon-size;
  }

  &__text {
    padding-right: $trip-statistics-spacing-horizontal;
  }
}
