@import "./../functions/converter";

// global spacing variables
$p-spacing-4: p-rem(4px);
$p-spacing-8: p-rem(8px);
$p-spacing-16: p-rem(16px);
$p-spacing-24: p-rem(24px);
$p-spacing-32: p-rem(32px);
$p-spacing-40: p-rem(40px);
$p-spacing-48: p-rem(48px);
$p-spacing-56: p-rem(56px);
$p-spacing-64: p-rem(64px);
$p-spacing-72: p-rem(72px);
$p-spacing-80: p-rem(80px);

// reduced layout spacings
$p-layout-x-small: $p-spacing-4;
$p-layout-small: $p-spacing-8;
$p-layout-medium: $p-spacing-16;
$p-layout-large: $p-spacing-32;
$p-layout-x-large: $p-spacing-48;
$p-layout-xx-large: $p-spacing-80;
