@import "../../../styles/utility/index";

.#{$p-global-class-prefix}button-regular {
  $bem-block: &;
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  @include p-text-copy;
  margin: 0;
  padding: 11px 15px; // 15px width because of 1 px border which leads to 16px
  max-width: 100%; // fix for IE11, forces using multi line label
  box-sizing: border-box;
  border-radius: 0; // fix for Chrome and Safari
  appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: $p-color-neutral-grey-8;
  border: 1px solid $p-color-neutral-grey-8;
  color: $p-color-porsche-light;
  transition: background-color $p-animation-hover-duration $p-animation-hover-bezier,
    border-color $p-animation-hover-duration $p-animation-hover-bezier,
    color $p-animation-hover-duration $p-animation-hover-bezier; // must be globally defined

  &::-moz-focus-inner {
    // sass-lint:disable-line no-vendor-prefixes
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &--theme-dark {
    color: $p-color-porsche-black;
    background-color: $p-color-porsche-light;
    border-color: $p-color-porsche-light;
  }

  &:enabled,
  &:not([disabled]) {
    &:hover,
    &:active {
      background-color: $p-color-neutral-grey-7;
      border-color: $p-color-neutral-grey-7;
      text-decoration: none;

      &#{$bem-block}--theme-dark {
        background-color: $p-color-neutral-grey-1;
        border-color: $p-color-neutral-grey-1;
      }
    }
    &:focus:not([aria-disabled="true"]) {
      outline: 2px solid $p-color-state-focus;
      outline-offset: -2px;
      &#{$bem-block}--theme-dark {
        outline: 2px solid $p-color-state-focus;
      }
    }
  }

  &:disabled,
  &[disabled],
  &[aria-disabled="true"] {
    cursor: default;
    pointer-events: none;
    color: $p-color-neutral-grey-5;
    background-color: $p-color-neutral-grey-2;
    border-color: $p-color-neutral-grey-2;

    &#{$bem-block}--theme-dark {
      color: $p-color-neutral-grey-4;
      background-color: $p-color-neutral-grey-7;
      border-color: $p-color-neutral-grey-7;
    }
  }

  &--ghost {
    color: $p-color-porsche-black;
    background-color: transparent;
    border-color: $p-color-neutral-grey-8;

    &#{$bem-block}--theme-dark {
      color: $p-color-porsche-light;
      border-color: $p-color-porsche-light;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        color: $p-color-porsche-light;
        background-color: $p-color-neutral-grey-8;
        border-color: $p-color-neutral-grey-8;

        &#{$bem-block}--theme-dark {
          color: $p-color-porsche-black;
          background-color: $p-color-porsche-light;
          border-color: $p-color-porsche-light;
        }
      }
      &:focus:not([aria-disabled="true"]) {
        outline-color: $p-color-state-focus;
        &#{$bem-block}--theme-dark {
          outline-color: $p-color-state-focus;
        }
      }
    }

    &:disabled,
    &[disabled],
    &[aria-disabled="true"] {
      color: $p-color-neutral-grey-5;
      background-color: transparent;
      border-color: $p-color-neutral-grey-2;

      &#{$bem-block}--theme-dark {
        color: $p-color-neutral-grey-4;
        background-color: transparent;
        border-color: $p-color-neutral-grey-7;
      }
    }
  }

  &--highlight {
    color: $p-color-porsche-light;
    background-color: $p-color-porsche-red;
    border-color: $p-color-porsche-red;

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        background-color: $p-color-porsche-dark-red;
        border-color: $p-color-porsche-dark-red;
        text-decoration: none;

        &#{$bem-block}--theme-dark {
          // sass-lint:disable-line nesting-depth
          background-color: $p-color-porsche-dark-red;
          border-color: $p-color-porsche-dark-red;
        }
      }
      &:focus:not([aria-disabled="true"]) {
        outline-color: $p-color-state-focus;
        &#{$bem-block}--theme-dark {
          outline-color: $p-color-state-focus;
        }
      }
    }

    &:disabled,
    &[disabled],
    &[aria-disabled="true"] {
      color: $p-color-neutral-grey-5;
      background-color: $p-color-neutral-grey-2;
      border-color: $p-color-neutral-grey-2;

      &#{$bem-block}--theme-dark {
        color: $p-color-neutral-grey-4;
        background-color: $p-color-neutral-grey-7;
        border-color: $p-color-neutral-grey-7;
      }
    }
  }

  &--small {
    padding: rem(2px) rem(11px);

    #{$bem-block}__label {
      padding-left: rem(24px);
    }
  }

  &__icon,
  &__loader {
    position: absolute;
  }

  &__loader {
    margin-top: 0.1875em; // this must be adapted if final SVG icons are integrated!
  }

  &__label {
    padding-left: rem(24px);
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  &--loading {
    cursor: default;
    pointer-events: none;
  }

  // fix for Firefox, so that top alignment of button content works when two button are next to each other
  @-moz-document url-prefix() {
    // sass-lint:disable-line no-vendor-prefixes
    &__label {
      height: 100%;
    }
  }
}
