{{> organisms-header }}

<div class="-wrapper-page">
  <div class="row">
    <div class="column column--12 -spacing-d">
      {{> organisms-page-header page-header_title=service-appointment-confirmation.pageHeadline page-header_description=service-appointment-confirmation.pageDescription }}
    </div>
  </div>

  <div class="row flex flex--row-wrap flex--row">
    <div class="column column--12 column--l-8 -spacing-b flex">
      {{> service-appointment-request-service-confirmation-information }}
    </div>
    <div class="column column--12 column--l-4 -spacing-b">
      <div class="row">
        {{> service-appointment-request-dealer-information }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column column--12 -spacing-c">
      {{> organisms-next-best-actions next-best-actions_title=service-appointment-confirmation.nbaHeadline }}
    </div>
  </div>
</div>
