{{#if service-appointment-request.notificationCookie }}
  {{> organisms-notification-cookie }}
{{/if}}

{{#if service-appointment-request.chooseDealer }}
  {{> service-appointment-request-modal-choose-dealer }}
{{/if}}

{{> organisms-header }}

<div class="-wrapper-page">
  <div class="row">
    <div class="column column--12 -spacing-d">
      {{> organisms-page-header page-header_title=service-appointment-request.pageTitle page-header_description=service-appointment-request.pageSubtitle }}
    </div>
  </div>

  <div class="row">
    <div class="column column--12">
      {{> organisms-car-chooser styleModifier="-spacing-c" }}
    </div>
  </div>

  <div class="row flex flex--row-wrap flex--row">
    <div class="column column--12 column--l-8 -spacing-b flex">
      {{> service-appointment-request-vehicle-information }}
    </div>
    <div class="column column--12 column--l-4 -spacing-b">
      <div class="row">
        {{> service-appointment-request-dealer-information }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column column--12">
      <div class="row -spacing-c">
        <div class="column column--12">
          <hr class="divider divider--gray">
        </div>
      </div>
      {{> service-appointment-request-layout-dealer-service }}
    </div>
  </div>

  <div class="row">
    <div class="column column--12">
      <div class="row -spacing-c">
        <div class="column column--12">
          <hr class="divider divider--gray">
        </div>
      </div>
      {{#if service-appointment-request.choosePreferredDate }}
        {{> service-appointment-request-service-scheduling service-scheduling_choosePreferredDate=true }}
      {{ else }}
        {{> service-appointment-request-service-scheduling }}
      {{/if }}
    </div>
  </div>

  <div class="row">
    <div class="column column--12">
      <div class="row -spacing-c">
        <div class="column column--12">
          <hr class="divider divider--gray">
        </div>
      </div>

      {{> service-appointment-request-additional-information }}
    </div>
  </div>

  <div class="row">
    <div class="column column--12 -align-right">
      {{> molecules-button-primary styleModifier="-spacing-b"
          button-primary_label=service-appointment-request.buttonLabel
          button-primary_icon=service-appointment-request.buttonIcon
          button-primary_red=true }}

    </div>
  </div>

  <div class="row">
    <div class="column column--12">
      {{> organisms-footer }}
    </div>
  </div>
</div>
