@import "../../../styles/utility/index";

/**
 * static spacings vars for iterating SASS function
 */
$p-spacings: (
  "0": $p-spacing-0,
  "4": $p-spacing-4,
  "8": $p-spacing-8,
  "16": $p-spacing-16,
  "24": $p-spacing-24,
  "32": $p-spacing-32,
  "40": $p-spacing-40,
  "48": $p-spacing-48,
  "56": $p-spacing-56,
  "64": $p-spacing-64,
  "72": $p-spacing-72,
  "80": $p-spacing-80
);

/*
 * responsive spacings vars
 */
$p-spacing-a: $p-spacing-4;
$p-spacing-a-s: $p-spacing-8;
$p-spacing-a-m: rem(12px);
$p-spacing-a-l: $p-spacing-16;
$p-spacing-a-xl: rem(20px);

$p-spacing-b: $p-spacing-8;
$p-spacing-b-s: $p-spacing-16;
$p-spacing-b-m: $p-spacing-24;
$p-spacing-b-l: $p-spacing-32;
$p-spacing-b-xl: $p-spacing-40;

$p-spacing-c: $p-spacing-16;
$p-spacing-c-s: $p-spacing-24;
$p-spacing-c-m: $p-spacing-32;
$p-spacing-c-l: $p-spacing-40;
$p-spacing-c-xl: $p-spacing-48;

$p-spacing-d: $p-spacing-24;
$p-spacing-d-s: $p-spacing-32;
$p-spacing-d-m: $p-spacing-40;
$p-spacing-d-l: $p-spacing-48;
$p-spacing-d-xl: $p-spacing-56;

$p-spacing-e: $p-spacing-32;
$p-spacing-e-s: $p-spacing-40;
$p-spacing-e-m: $p-spacing-48;
$p-spacing-e-l: $p-spacing-56;
$p-spacing-e-xl: $p-spacing-64;

$p-spacing-f: $p-spacing-40;
$p-spacing-f-s: $p-spacing-48;
$p-spacing-f-m: $p-spacing-56;
$p-spacing-f-l: $p-spacing-64;
$p-spacing-f-xl: $p-spacing-72;

$p-spacing-g: $p-spacing-48;
$p-spacing-g-s: $p-spacing-56;
$p-spacing-g-m: $p-spacing-64;
$p-spacing-g-l: $p-spacing-72;
$p-spacing-g-xl: $p-spacing-80;

/*
 * responsive spacing
 */
@mixin p-spacing-a($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-a;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-a;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-xl;
      }
    }
  }
}

@mixin p-spacing-b($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-b;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-b;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-xl;
      }
    }
  }
}

@mixin p-spacing-c($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-c;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-c;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-xl;
      }
    }
  }
}

@mixin p-spacing-d($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-d;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-d;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-xl;
      }
    }
  }
}

@mixin p-spacing-e($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-e;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-e;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-xl;
      }
    }
  }
}

@mixin p-spacing-f($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-f;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-f;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-xl;
      }
    }
  }
}

@mixin p-spacing-g($type: "margin", $direction: "top", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-g;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-g;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-xl;
      }
    }
  }
}

/*
 * margin spacings
 */
.#{$p-global-class-prefix}m {
  @each $name, $spacing in $p-spacings {
    &--#{$name} {
      margin: $spacing;
    }

    &t--#{$name} {
      margin-top: $spacing;
    }

    &r--#{$name} {
      margin-right: $spacing;
    }

    &b--#{$name} {
      margin-bottom: $spacing;
    }

    &l--#{$name} {
      margin-left: $spacing;
    }
  }

  &--0 {
    margin: 0;

    @include breakpoint("xs") {
      &-xs {
        margin: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        margin: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        margin: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        margin: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        margin: 0;
      }
    }
  }

  &t--0 {
    margin-top: 0;

    @include breakpoint("xs") {
      &-xs {
        margin-top: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        margin-top: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        margin-top: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        margin-top: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        margin-top: 0;
      }
    }
  }

  &r--0 {
    margin-right: 0;

    @include breakpoint("xs") {
      &-xs {
        margin-right: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        margin-right: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        margin-right: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        margin-right: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        margin-right: 0;
      }
    }
  }

  &b--0 {
    margin-bottom: 0;

    @include breakpoint("xs") {
      &-xs {
        margin-bottom: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        margin-bottom: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        margin-bottom: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        margin-bottom: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        margin-bottom: 0;
      }
    }
  }

  &l--0 {
    margin-left: 0;

    @include breakpoint("xs") {
      &-xs {
        margin-left: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        margin-left: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        margin-left: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        margin-left: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        margin-left: 0;
      }
    }
  }

  /*
   * responsive margin spacings
   */
  &t--a {
    @include p-spacing-a("margin", "top", "");
  }

  &r--a {
    @include p-spacing-a("margin", "right", "");
  }

  &b--a {
    @include p-spacing-a("margin", "bottom", "");
  }

  &l--a {
    @include p-spacing-a("margin", "left", "");
  }

  &--a {
    @include p-spacing-a("margin", "", "");
  }

  &t--b {
    @include p-spacing-b("margin", "top", "");
  }

  &r--b {
    @include p-spacing-b("margin", "right", "");
  }

  &b--b {
    @include p-spacing-b("margin", "bottom", "");
  }

  &l--b {
    @include p-spacing-b("margin", "left", "");
  }

  &--b {
    @include p-spacing-b("margin", "", "");
  }

  &t--c {
    @include p-spacing-c("margin", "top", "");
  }

  &r--c {
    @include p-spacing-c("margin", "right", "");
  }

  &b--c {
    @include p-spacing-c("margin", "bottom", "");
  }

  &l--c {
    @include p-spacing-c("margin", "left", "");
  }

  &--c {
    @include p-spacing-c("margin", "", "");
  }

  &t--d {
    @include p-spacing-d("margin", "top", "");
  }

  &r--d {
    @include p-spacing-d("margin", "right", "");
  }

  &b--d {
    @include p-spacing-d("margin", "bottom", "");
  }

  &l--d {
    @include p-spacing-d("margin", "left", "");
  }

  &--d {
    @include p-spacing-d("margin", "", "");
  }

  &t--e {
    @include p-spacing-e("margin", "top", "");
  }

  &r--e {
    @include p-spacing-e("margin", "right", "");
  }

  &b--e {
    @include p-spacing-e("margin", "bottom", "");
  }

  &l--e {
    @include p-spacing-e("margin", "left", "");
  }

  &--e {
    @include p-spacing-e("margin", "", "");
  }

  &t--f {
    @include p-spacing-f("margin", "top", "");
  }

  &r--f {
    @include p-spacing-f("margin", "right", "");
  }

  &b--f {
    @include p-spacing-f("margin", "bottom", "");
  }

  &l--f {
    @include p-spacing-f("margin", "left", "");
  }

  &--f {
    @include p-spacing-f("margin", "", "");
  }

  &t--g {
    @include p-spacing-g("margin", "top", "");
  }

  &r--g {
    @include p-spacing-g("margin", "right", "");
  }

  &b--g {
    @include p-spacing-g("margin", "bottom", "");
  }

  &l--g {
    @include p-spacing-g("margin", "left", "");
  }

  &--g {
    @include p-spacing-g("margin", "", "");
  }

  &t--auto {
    margin-top: auto;
  }

  &l--auto {
    margin-left: auto;
  }

  &b--auto {
    margin-bottom: auto;
  }

  &r--auto {
    margin-right: auto;
  }

  &--auto {
    margin: auto;
  }
}

/*
 * negative margin spacings
 */
.#{$p-global-class-prefix}m-n {
  @each $name, $spacing in $p-spacings {
    &--#{$name} {
      margin: -$spacing;
    }

    &t--#{$name} {
      margin-top: -$spacing;
    }

    &r--#{$name} {
      margin-right: -$spacing;
    }

    &b--#{$name} {
      margin-bottom: -$spacing;
    }

    &l--#{$name} {
      margin-left: -$spacing;
    }
  }

  &--0 {
    padding: 0;

    @include breakpoint("xs") {
      &-xs {
        padding: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        padding: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        padding: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        padding: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        padding: 0;
      }
    }
  }

  &t--0 {
    padding-top: 0;

    @include breakpoint("xs") {
      &-xs {
        padding-top: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        padding-top: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        padding-top: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        padding-top: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        padding-top: 0;
      }
    }
  }

  &r--0 {
    padding-right: 0;

    @include breakpoint("xs") {
      &-xs {
        padding-right: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        padding-right: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        padding-right: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        padding-right: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        padding-right: 0;
      }
    }
  }

  &b--0 {
    padding-bottom: 0;

    @include breakpoint("xs") {
      &-xs {
        padding-bottom: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        padding-bottom: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        padding-bottom: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        padding-bottom: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        padding-bottom: 0;
      }
    }
  }

  &l--0 {
    padding-left: 0;

    @include breakpoint("xs") {
      &-xs {
        padding-left: 0;
      }
    }

    @include breakpoint("s") {
      &-s {
        padding-left: 0;
      }
    }

    @include breakpoint("m") {
      &-m {
        padding-left: 0;
      }
    }

    @include breakpoint("l") {
      &-l {
        padding-left: 0;
      }
    }

    @include breakpoint("xl") {
      &-xl {
        padding-left: 0;
      }
    }
  }

  /*
   * negative responsive margin spacings
   */
  &t--a {
    @include p-spacing-a("margin", "top", "-");
  }

  &r--a {
    @include p-spacing-a("margin", "right", "-");
  }

  &b--a {
    @include p-spacing-a("margin", "bottom", "-");
  }

  &l--a {
    @include p-spacing-a("margin", "left", "-");
  }

  &--a {
    @include p-spacing-a("margin", "", "-");
  }

  &t--b {
    @include p-spacing-b("margin", "top", "-");
  }

  &r--b {
    @include p-spacing-b("margin", "right", "-");
  }

  &b--b {
    @include p-spacing-b("margin", "bottom", "-");
  }

  &l--b {
    @include p-spacing-b("margin", "left", "-");
  }

  &--b {
    @include p-spacing-b("margin", "", "-");
  }

  &t--c {
    @include p-spacing-c("margin", "top", "-");
  }

  &r--c {
    @include p-spacing-c("margin", "right", "-");
  }

  &b--c {
    @include p-spacing-c("margin", "bottom", "-");
  }

  &l--c {
    @include p-spacing-c("margin", "left", "-");
  }

  &--c {
    @include p-spacing-c("margin", "", "-");
  }

  &t--d {
    @include p-spacing-d("margin", "top", "-");
  }

  &r--d {
    @include p-spacing-d("margin", "right", "-");
  }

  &b--d {
    @include p-spacing-d("margin", "bottom", "-");
  }

  &l--d {
    @include p-spacing-d("margin", "left", "-");
  }

  &--d {
    @include p-spacing-d("margin", "", "-");
  }

  &t--e {
    @include p-spacing-e("margin", "top", "-");
  }

  &r--e {
    @include p-spacing-e("margin", "right", "-");
  }

  &b--e {
    @include p-spacing-e("margin", "bottom", "-");
  }

  &l--e {
    @include p-spacing-e("margin", "left", "-");
  }

  &--e {
    @include p-spacing-e("margin", "", "-");
  }

  &t--f {
    @include p-spacing-f("margin", "top", "-");
  }

  &r--f {
    @include p-spacing-f("margin", "right", "-");
  }

  &b--f {
    @include p-spacing-f("margin", "bottom", "-");
  }

  &l--f {
    @include p-spacing-f("margin", "left", "-");
  }

  &--f {
    @include p-spacing-f("margin", "", "-");
  }

  &t--g {
    @include p-spacing-g("margin", "top", "-");
  }

  &r--g {
    @include p-spacing-g("margin", "right", "-");
  }

  &b--g {
    @include p-spacing-g("margin", "bottom", "-");
  }

  &l--g {
    @include p-spacing-g("margin", "left", "-");
  }

  &--g {
    @include p-spacing-g("margin", "", "-");
  }
}

/*
 * padding spacings
 */
.#{$p-global-class-prefix}p {
  @each $name, $spacing in $p-spacings {
    &--#{$name} {
      padding: $spacing;
    }

    &t--#{$name} {
      padding-top: $spacing;
    }

    &r--#{$name} {
      padding-right: $spacing;
    }

    &b--#{$name} {
      padding-bottom: $spacing;
    }

    &l--#{$name} {
      padding-left: $spacing;
    }
  }

  /*
   * responsive padding spacings
   */
  &t--a {
    @include p-spacing-a("padding", "top", "");
  }

  &r--a {
    @include p-spacing-a("padding", "right", "");
  }

  &b--a {
    @include p-spacing-a("padding", "bottom", "");
  }

  &l--a {
    @include p-spacing-a("padding", "left", "");
  }

  &--a {
    @include p-spacing-a("padding", "", "");
  }

  &t--b {
    @include p-spacing-b("padding", "top", "");
  }

  &r--b {
    @include p-spacing-b("padding", "right", "");
  }

  &b--b {
    @include p-spacing-b("padding", "bottom", "");
  }

  &l--b {
    @include p-spacing-b("padding", "left", "");
  }

  &--b {
    @include p-spacing-b("padding", "", "");
  }

  &t--c {
    @include p-spacing-c("padding", "top", "");
  }

  &r--c {
    @include p-spacing-c("padding", "right", "");
  }

  &b--c {
    @include p-spacing-c("padding", "bottom", "");
  }

  &l--c {
    @include p-spacing-c("padding", "left", "");
  }

  &--c {
    @include p-spacing-c("padding", "", "");
  }

  &t--d {
    @include p-spacing-d("padding", "top", "");
  }

  &r--d {
    @include p-spacing-d("padding", "right", "");
  }

  &b--d {
    @include p-spacing-d("padding", "bottom", "");
  }

  &l--d {
    @include p-spacing-d("padding", "left", "");
  }

  &--d {
    @include p-spacing-d("padding", "", "");
  }

  &t--e {
    @include p-spacing-e("padding", "top", "");
  }

  &r--e {
    @include p-spacing-e("padding", "right", "");
  }

  &b--e {
    @include p-spacing-e("padding", "bottom", "");
  }

  &l--e {
    @include p-spacing-e("padding", "left", "");
  }

  &--e {
    @include p-spacing-e("padding", "", "");
  }

  &t--f {
    @include p-spacing-f("padding", "top", "");
  }

  &r--f {
    @include p-spacing-f("padding", "right", "");
  }

  &b--f {
    @include p-spacing-f("padding", "bottom", "");
  }

  &l--f {
    @include p-spacing-f("padding", "left", "");
  }

  &--f {
    @include p-spacing-f("padding", "", "");
  }

  &t--g {
    @include p-spacing-g("padding", "top", "");
  }

  &r--g {
    @include p-spacing-g("padding", "right", "");
  }

  &b--g {
    @include p-spacing-g("padding", "bottom", "");
  }

  &l--g {
    @include p-spacing-g("padding", "left", "");
  }

  &--g {
    @include p-spacing-g("padding", "", "");
  }
}
