@import "../../../styles/utility/index";

/**
 * static spacings vars
 */
$p-spacings: (
  "0": $p-spacing-0,
  "4": $p-spacing-4,
  "8": $p-spacing-8,
  "12": $p-spacing-12,
  "16": $p-spacing-16,
  "20": $p-spacing-20,
  "24": $p-spacing-24,
  "32": $p-spacing-32,
  "40": $p-spacing-40,
  "48": $p-spacing-48,
  "56": $p-spacing-56,
  "64": $p-spacing-64,
  "72": $p-spacing-72,
  "80": $p-spacing-80
);

/*
 * responsive spacings vars
 */
$p-spacing-a: $p-spacing-4;
$p-spacing-a-s: $p-spacing-8;
$p-spacing-a-m: $p-spacing-12;
$p-spacing-a-l: $p-spacing-16;
$p-spacing-a-xl: $p-spacing-20;

$p-spacing-b: $p-spacing-8;
$p-spacing-b-s: $p-spacing-16;
$p-spacing-b-m: $p-spacing-24;
$p-spacing-b-l: $p-spacing-32;
$p-spacing-b-xl: $p-spacing-40;

$p-spacing-c: $p-spacing-16;
$p-spacing-c-s: $p-spacing-24;
$p-spacing-c-m: $p-spacing-32;
$p-spacing-c-l: $p-spacing-40;
$p-spacing-c-xl: $p-spacing-48;

$p-spacing-d: $p-spacing-24;
$p-spacing-d-s: $p-spacing-32;
$p-spacing-d-m: $p-spacing-40;
$p-spacing-d-l: $p-spacing-48;
$p-spacing-d-xl: $p-spacing-56;

$p-spacing-e: $p-spacing-32;
$p-spacing-e-s: $p-spacing-40;
$p-spacing-e-m: $p-spacing-48;
$p-spacing-e-l: $p-spacing-56;
$p-spacing-e-xl: $p-spacing-64;

$p-spacing-f: $p-spacing-40;
$p-spacing-f-s: $p-spacing-48;
$p-spacing-f-m: $p-spacing-56;
$p-spacing-f-l: $p-spacing-64;
$p-spacing-f-xl: $p-spacing-72;

$p-spacing-g: $p-spacing-48;
$p-spacing-g-s: $p-spacing-56;
$p-spacing-g-m: $p-spacing-64;
$p-spacing-g-l: $p-spacing-72;
$p-spacing-g-xl: $p-spacing-80;

/*
 * static spacing
 */
@mixin p-spacing-0($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-0;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-0;
    }
  }
}

@mixin p-spacing-4($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-4;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-4;
    }
  }
}

@mixin p-spacing-8($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-8;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-8;
    }
  }
}

@mixin p-spacing-12($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-12;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-12;
    }
  }
}

@mixin p-spacing-16($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-16;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-16;
    }
  }
}

@mixin p-spacing-20($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-20;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-20;
    }
  }
}

@mixin p-spacing-24($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-24;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-24;
    }
  }
}

@mixin p-spacing-32($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-32;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-32;
    }
  }
}

@mixin p-spacing-40($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-40;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-40;
    }
  }
}

@mixin p-spacing-48($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-48;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-48;
    }
  }
}

@mixin p-spacing-56($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-56;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-56;
    }
  }
}

@mixin p-spacing-64($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-64;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-64;
    }
  }
}

@mixin p-spacing-72($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-72;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-72;
    }
  }
}

@mixin p-spacing-80($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-80;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-80;
    }
  }
}

/*
 * responsive spacing
 */
@mixin p-spacing-a($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-a;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-a;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-a-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-a-xl;
      }
    }
  }
}

@mixin p-spacing-b($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-b;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-b;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-b-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-b-xl;
      }
    }
  }
}

@mixin p-spacing-c($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-c;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-c;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-c-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-c-xl;
      }
    }
  }
}

@mixin p-spacing-d($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-d;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-d;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-d-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-d-xl;
      }
    }
  }
}

@mixin p-spacing-e($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-e;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-e;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-e-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-e-xl;
      }
    }
  }
}

@mixin p-spacing-f($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-f;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-f;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-f-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-f-xl;
      }
    }
  }
}

@mixin p-spacing-g($direction: "top", $type: "margin", $sign: "+") {
  @if $direction == "" {
    #{$type}: #{$sign}$p-spacing-g;
  } @else {
    #{$type}: {
      #{$direction}: #{$sign}$p-spacing-g;
    }
  }

  @include breakpoint("s") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-s;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-s;
      }
    }
  }

  @include breakpoint("m") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-m;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-m;
      }
    }
  }

  @include breakpoint("l") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-l;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-l;
      }
    }
  }

  @include breakpoint("xl") {
    @if $direction == "" {
      #{$type}: #{$sign}$p-spacing-g-xl;
    } @else {
      #{$type}: {
        #{$direction}: #{$sign}$p-spacing-g-xl;
      }
    }
  }
}

@mixin p-spacing-zero($direction: "top", $type: "margin") {
  @if $direction == "" {
    #{$type}: 0;
  } @else {
    #{$type}: {
      #{$direction}: 0;
    }
  }
}

/*
 * margin spacings
 */
.#{$p-global-class-prefix}m {
  @each $name, $spacing in $p-spacings {
    &--#{$name} {
      margin: $spacing;
    }

    &t--#{$name} {
      margin-top: $spacing;
    }

    &r--#{$name} {
      margin-right: $spacing;
    }

    &b--#{$name} {
      margin-bottom: $spacing;
    }

    &l--#{$name} {
      margin-left: $spacing;
    }
  }

  /*
   * responsive margin spacings
   */
  &t--a {
    @include p-spacing-a("top", "margin", "");
  }

  &r--a {
    @include p-spacing-a("right", "margin", "");
  }

  &b--a {
    @include p-spacing-a("bottom", "margin", "");
  }

  &l--a {
    @include p-spacing-a("left", "margin", "");
  }

  &--a {
    @include p-spacing-a("", "margin", "");
  }

  &t--b {
    @include p-spacing-b("top", "margin", "");
  }

  &r--b {
    @include p-spacing-b("right", "margin", "");
  }

  &b--b {
    @include p-spacing-b("bottom", "margin", "");
  }

  &l--b {
    @include p-spacing-b("left", "margin", "");
  }

  &--b {
    @include p-spacing-b("", "margin", "");
  }

  &t--c {
    @include p-spacing-c("top", "margin", "");
  }

  &r--c {
    @include p-spacing-c("right", "margin", "");
  }

  &b--c {
    @include p-spacing-c("bottom", "margin", "");
  }

  &l--c {
    @include p-spacing-c("left", "margin", "");
  }

  &--c {
    @include p-spacing-c("", "margin", "");
  }

  &t--d {
    @include p-spacing-d("top", "margin", "");
  }

  &r--d {
    @include p-spacing-d("right", "margin", "");
  }

  &b--d {
    @include p-spacing-d("bottom", "margin", "");
  }

  &l--d {
    @include p-spacing-d("left", "margin", "");
  }

  &--d {
    @include p-spacing-d("", "margin", "");
  }

  &t--e {
    @include p-spacing-e("top", "margin", "");
  }

  &r--e {
    @include p-spacing-e("right", "margin", "");
  }

  &b--e {
    @include p-spacing-e("bottom", "margin", "");
  }

  &l--e {
    @include p-spacing-e("left", "margin", "");
  }

  &--e {
    @include p-spacing-e("", "margin", "");
  }

  &t--f {
    @include p-spacing-f("top", "margin", "");
  }

  &r--f {
    @include p-spacing-f("right", "margin", "");
  }

  &b--f {
    @include p-spacing-f("bottom", "margin", "");
  }

  &l--f {
    @include p-spacing-f("left", "margin", "");
  }

  &--f {
    @include p-spacing-f("", "margin", "");
  }

  &t--g {
    @include p-spacing-g("top", "margin", "");
  }

  &r--g {
    @include p-spacing-g("right", "margin", "");
  }

  &b--g {
    @include p-spacing-g("bottom", "margin", "");
  }

  &l--g {
    @include p-spacing-g("left", "margin", "");
  }

  &--g {
    @include p-spacing-g("", "margin", "");
  }

  &--auto {
    margin: auto;
  }

  &t--auto {
    margin-top: auto;
  }

  &l--auto {
    margin-left: auto;
  }

  &b--auto {
    margin-bottom: auto;
  }

  &r--auto {
    margin-right: auto;
  }

  &--auto {
    margin: auto;
  }
}

/*
 * negative margin spacings
 */
.#{$p-global-class-prefix}m-n {
  @each $name, $spacing in $p-spacings {
    &--#{$name} {
      margin: -$spacing;
    }

    &t--#{$name} {
      margin-top: -$spacing;
    }

    &r--#{$name} {
      margin-right: -$spacing;
    }

    &b--#{$name} {
      margin-bottom: -$spacing;
    }

    &l--#{$name} {
      margin-left: -$spacing;
    }
  }

  /*
   * negative responsive margin spacings
   */
  &t--a {
    @include p-spacing-a("top", "margin", "-");
  }

  &r--a {
    @include p-spacing-a("right", "margin", "-");
  }

  &b--a {
    @include p-spacing-a("bottom", "margin", "-");
  }

  &l--a {
    @include p-spacing-a("left", "margin", "-");
  }

  &--a {
    @include p-spacing-a("", "margin", "-");
  }

  &t--b {
    @include p-spacing-b("top", "margin", "-");
  }

  &r--b {
    @include p-spacing-b("right", "margin", "-");
  }

  &b--b {
    @include p-spacing-b("bottom", "margin", "-");
  }

  &l--b {
    @include p-spacing-b("left", "margin", "-");
  }

  &--b {
    @include p-spacing-b("", "margin", "-");
  }

  &t--c {
    @include p-spacing-c("top", "margin", "-");
  }

  &r--c {
    @include p-spacing-c("right", "margin", "-");
  }

  &b--c {
    @include p-spacing-c("bottom", "margin", "-");
  }

  &l--c {
    @include p-spacing-c("left", "margin", "-");
  }

  &--c {
    @include p-spacing-c("", "margin", "-");
  }

  &t--d {
    @include p-spacing-d("top", "margin", "-");
  }

  &r--d {
    @include p-spacing-d("right", "margin", "-");
  }

  &b--d {
    @include p-spacing-d("bottom", "margin", "-");
  }

  &l--d {
    @include p-spacing-d("left", "margin", "-");
  }

  &--d {
    @include p-spacing-d("", "margin", "-");
  }

  &t--e {
    @include p-spacing-e("top", "margin", "-");
  }

  &r--e {
    @include p-spacing-e("right", "margin", "-");
  }

  &b--e {
    @include p-spacing-e("bottom", "margin", "-");
  }

  &l--e {
    @include p-spacing-e("left", "margin", "-");
  }

  &--e {
    @include p-spacing-e("", "margin", "-");
  }

  &t--f {
    @include p-spacing-f("top", "margin", "-");
  }

  &r--f {
    @include p-spacing-f("right", "margin", "-");
  }

  &b--f {
    @include p-spacing-f("bottom", "margin", "-");
  }

  &l--f {
    @include p-spacing-f("left", "margin", "-");
  }

  &--f {
    @include p-spacing-f("", "margin", "-");
  }

  &t--g {
    @include p-spacing-g("top", "margin", "-");
  }

  &r--g {
    @include p-spacing-g("right", "margin", "-");
  }

  &b--g {
    @include p-spacing-g("bottom", "margin", "-");
  }

  &l--g {
    @include p-spacing-g("left", "margin", "-");
  }

  &--g {
    @include p-spacing-g("", "margin", "-");
  }
}

/*
 * padding spacings
 */
.#{$p-global-class-prefix}p {
  @each $name, $spacing in $p-spacings {
    &--#{$name} {
      padding: $spacing;
    }

    &t--#{$name} {
      padding-top: $spacing;
    }

    &r--#{$name} {
      padding-right: $spacing;
    }

    &b--#{$name} {
      padding-bottom: $spacing;
    }

    &l--#{$name} {
      padding-left: $spacing;
    }
  }

  /*
   * responsive padding spacings
   */
  &t--a {
    @include p-spacing-a("top", "padding", "");
  }

  &r--a {
    @include p-spacing-a("right", "padding", "");
  }

  &b--a {
    @include p-spacing-a("bottom", "padding", "");
  }

  &l--a {
    @include p-spacing-a("left", "padding", "");
  }

  &--a {
    @include p-spacing-a("", "padding", "");
  }

  &t--b {
    @include p-spacing-b("top", "padding", "");
  }

  &r--b {
    @include p-spacing-b("right", "padding", "");
  }

  &b--b {
    @include p-spacing-b("bottom", "padding", "");
  }

  &l--b {
    @include p-spacing-b("left", "padding", "");
  }

  &--b {
    @include p-spacing-b("", "padding", "");
  }

  &t--c {
    @include p-spacing-c("top", "padding", "");
  }

  &r--c {
    @include p-spacing-c("right", "padding", "");
  }

  &b--c {
    @include p-spacing-c("bottom", "padding", "");
  }

  &l--c {
    @include p-spacing-c("left", "padding", "");
  }

  &--c {
    @include p-spacing-c("", "padding", "");
  }

  &t--d {
    @include p-spacing-d("top", "padding", "");
  }

  &r--d {
    @include p-spacing-d("right", "padding", "");
  }

  &b--d {
    @include p-spacing-d("bottom", "padding", "");
  }

  &l--d {
    @include p-spacing-d("left", "padding", "");
  }

  &--d {
    @include p-spacing-d("", "padding", "");
  }

  &t--e {
    @include p-spacing-e("top", "padding", "");
  }

  &r--e {
    @include p-spacing-e("right", "padding", "");
  }

  &b--e {
    @include p-spacing-e("bottom", "padding", "");
  }

  &l--e {
    @include p-spacing-e("left", "padding", "");
  }

  &--e {
    @include p-spacing-e("", "padding", "");
  }

  &t--f {
    @include p-spacing-f("top", "padding", "");
  }

  &r--f {
    @include p-spacing-f("right", "padding", "");
  }

  &b--f {
    @include p-spacing-f("bottom", "padding", "");
  }

  &l--f {
    @include p-spacing-f("left", "padding", "");
  }

  &--f {
    @include p-spacing-f("", "padding", "");
  }

  &t--g {
    @include p-spacing-g("top", "padding", "");
  }

  &r--g {
    @include p-spacing-g("right", "padding", "");
  }

  &b--g {
    @include p-spacing-g("bottom", "padding", "");
  }

  &l--g {
    @include p-spacing-g("left", "padding", "");
  }

  &--g {
    @include p-spacing-g("", "padding", "");
  }
}
