@import 'callout.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}callout {
  position: absolute;
  left: $callout-position-horizontal;
  margin-top: $callout-spacing-vertical;
  width: $callout-width;
  max-width: $callout-max-width;
  display: block;
  background: $callout-background-color;

  &::after {
    content: '';
    position: absolute;
    top: -$callout-arrow-position-vertical;
    left: $callout-arrow-spacing-horizontal;
    width: $callout-reset;
    height: $callout-reset;
    border-color: $callout-arrow-border-color;
    border-left: $callout-arrow-border-size solid transparent;
    border-right: $callout-arrow-border-size solid transparent;
    border-bottom: $callout-arrow-border-size solid $callout-arrow-border-color;
  }
}
