<div class="loader-fullpage {{ styleModifier }}">

  {{> molecules-loader-base styleModifier="loader-fullpage__spinner" }}

  {{#if loader-fullpage_label }}
    <p class="loader-fullpage__label"> {{ loader-fullpage_label }} </p>
  {{/if}}
</div>
