@import '../../../setup/color-palette.setup.scss';
@import '../../../mixins/px-rem-converter.scss';
@import '../../../base/spacing/spacing.setup.scss';
@import '../../../modules/symbol/symbol-menu-dots.setup.scss';

$list-view-poi-hover-area-min-height: rem(105px) !default;
$list-view-poi-hover-area-spacing-inner-vertical: $spacing-18 !default;
$list-view-poi-hover-area-spacing-inner-right: $spacing-12 + $symbol-menu-dots-size + $spacing-18 !default;
$list-view-poi-hover-area-spacing-inner-right-m: $spacing-12 + $symbol-menu-dots-size + $spacing-30 !default;
$list-view-poi-hover-area-background-color: $color-palette-white !default;
$list-view-poi-hover-area-background-color-hover: $color-palette-grey-1 !default;
$list-view-poi-hover-area-border-size: $spacing-6 !default;
$list-view-poi-hover-area-border-size-xs: $spacing-12 !default;
$list-view-poi-hover-area-border-color: $color-palette-red-1 !default;

$list-view-poi-status-width: rem(56px) !default;
$list-view-poi-status-width-xs: rem(64px) !default;
$list-view-poi-status-width-m: rem(93px) !default;

$list-view-poi-content-width: calc(100% - #{$list-view-poi-status-width}) !default;
$list-view-poi-content-width-xs: calc(100% - #{$list-view-poi-status-width-xs}) !default;
$list-view-poi-content-width-s: 65% !default;

$list-view-poi-info-width: $list-view-poi-content-width !default;
$list-view-poi-info-width-xs: $list-view-poi-content-width-xs !default;
$list-view-poi-info-width-s: 35% !default;

$list-view-poi-control-position-top: $spacing-18 !default;
$list-view-poi-control-position-top-s: calc(50% - #{$symbol-menu-dots-size} / 2) !default;
$list-view-poi-control-position-right: $spacing-18 !default;
$list-view-poi-control-position-right-m: $spacing-30 !default;

$list-view-poi-multi-function-menu-position-top: calc(50% + #{$spacing-12}) !default;
$list-view-poi-multi-function-menu-position-right: 50% !default;

$list-view-poi-multi-function-menu-position-bottom: calc(50% + #{$spacing-12}) !default;
