@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';

:host {
  display: block;
}

::slotted(h1),
::slotted(h2),
::slotted(h3),
::slotted(h4),
::slotted(h5),
::slotted(h6) {
  margin: inherit !important;
  padding: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
  text-align: inherit !important;
  overflow-wrap: inherit !important;
  word-wrap: inherit !important;
  hyphens: inherit !important;
  white-space: inherit !important;
}

.root {
  $bem-block: &;
  padding: 0;
  margin: 0;
  text-align: left;
  color: $p-color-default;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: inherit;

  &--theme-dark {
    color: $p-color-theme-dark-default;
  }

  &--variant {
    &-large-title {
      @include p-title-large;
    }

    &-headline-1 {
      @include p-headline-1;
    }

    &-headline-2 {
      @include p-headline-2;
    }

    &-headline-3 {
      @include p-headline-3;
    }

    &-headline-4 {
      @include p-headline-4;
    }

    &-headline-5 {
      @include p-headline-5;
    }

    &-inherit {
      // line-height: inherit; <== won't have any effect because of expected p-text type scale calculation
      font-size: inherit;
    }
  }

  &--align {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--color {
    &-inherit {
      color: inherit;
    }
  }

  &--ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
