<ul class="list-violation {{ styleModifier }}">

  {{#each list-violation }}
    <li class="list-violation__item">
      <div class="list-violation__row row">
        <div class="list-violation__content list-violation__content--left column column--12 column--8-s">
          <h5 class="list-violation__title">{{ title }}</h5>
          {{#if ../list-violation_tags }}
            <ol class="list-violation__tags">
              <li>{{ coordinates }}</li><!-- fighting the space between inline block elements
              --><li>{{ location }}</li>
            </ol>
          {{/if}}
        </div>
        <div class="list-violation__content list-violation__content--right column column--12 column--4-s">

          {{> molecules-visualization-icon-text visualization-icon-text_icon="registration"
                                                visualization-icon-text_label=dateTime }}

        </div>
      </div>
    </li>
  {{/each}}

</ul>
