<div class="{{ styleModifier }}">
    <header class="row -spacing-d">
        <div class="column column--12">
            {{> organisms-page-header page-header_title="1/3 Serviceleistungen" page-header_description="Welche Serviceleistungen möchten Sie in Anspruch nehmen?" }}
        </div>
    </header>

    <div class="row row--small flex flex--row flex--row-wrap -spacing-a">
        <div class="column--small column column--s-6 column--12 column--m-4 column--l-3 -spacing-6">
            {{> service-appointment-request-checkbox-dealer-service checkbox-dealer-service_checked=true checkbox-dealer-service_disabled=true checkbox-dealer-service_label="Rückrufaktionen" checkbox-dealer-service_showTooltip=true }}
        </div>
        <div class="column--small column column--12 column--s-6  column--m-4 column--l-3 -spacing-6">
            {{> service-appointment-request-checkbox-dealer-service checkbox-dealer-service_label="Garantieverlängerung (111-Punkte-Check)" }}
        </div>
        <div class="column--small column column--12 column--s-6  column--m-4 column--l-3 -spacing-6">
            {{> service-appointment-request-checkbox-dealer-service checkbox-dealer-service_label="Ölwechsel" }}
        </div>
        <div class="column--small column column--12 column--s-6  column--m-4 column--l-3 -spacing-6">
            {{> service-appointment-request-checkbox-dealer-service checkbox-dealer-service_label="Bremsen-Service" }}
        </div>
        <div class="column--small column column--12 column--s-6  column--m-4 column--l-3 -spacing-6">
            {{> service-appointment-request-checkbox-dealer-service checkbox-dealer-service_label="Batterie-Service" }}
        </div>
        <div class="column--small column column--12 -spacing-6">
            <div class="-background-white -spacing-inner-b checkbox-dealer-service__other">
              {{#if layout-dealer-service_describeService }}
                {{> molecules-checkbox checkbox_label="Sonstige Serviceleistungen" checkbox_checked=true }}
                <div class="row">
                    <div class="column column--12 column--m-6 -spacing-a">
                      {{> molecules-textarea textarea_label="Beschreiben Sie Ihren Servicewunsch" }}
                    </div>
                </div>
              {{else}}
                {{> molecules-checkbox checkbox_label="Sonstige Serviceleistungen" }}
              {{/if}}
            </div>
        </div>
    </div>
</div>

