<div class="layout-car-chart {{ styleModifier }}">
  <h3 class="layout-car-chart__title">{{ layout-car-chart_title }}</h3>
  <div class="layout-car-chart__graph">

    {{> molecules-chart-bar }}

  </div>
  <p class="layout-car-chart__label">
    {{#if layout-car-chart_icon }}
      <span class="layout-car-chart__icon icon icon--{{ layout-car-chart_icon }}"></span>
    {{/if}}
    {{#if layout-car-chart_label }}
      <span class="layout-car-chart__text">{{ layout-car-chart_label }}</span>
    {{/if}}
  </p>
</div>
