@import '../../../setup/color-palette.setup.scss';
@import '../../../base/spacing/spacing.setup.scss';
@import '../../../mixins/px-rem-converter.scss';

$tabs-access-item-separator-width: rem(1px) !default;
$tabs-access-item-separator-height: $spacing-24 !default;
$tabs-access-item-separator-color: $color-palette-grey-3 !default;

$tabs-access-button-text-color: $color-palette-black !default;
$tabs-access-button-text-color-hover: $color-palette-red-1 !default;

$tabs-access-button-active-color: $color-palette-red-1 !default;
