@import '../../base/layout/flex.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/overflow/overflow.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import 'slider-vehicle.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}slider-vehicle {
  $bem-block: &;

  @include -background-white;
  padding: $slider-vehicle-inner-spacing-vertical $slider-vehicle-inner-spacing-horizontal;
  position: relative;
  float: left;
  width: $slider-vehicle-width;
  overflow: hidden;

  @include breakpoint('m') {
    @include flex;
    @include flex--direction(row);
    justify-content: space-around;
    padding: $slider-vehicle-inner-spacing-top-m $slider-vehicle-inner-spacing-vertical-m $slider-vehicle-inner-spacing-bottom-m;
  }

  &__arrow {
    @include flex--center-horizontal;
    @include flex--center-vertical;
    display: none;
    position: absolute;
    top: $slider-vehicle-arrow-position-top;
    bottom: $slider-vehicle-arrow-position-bottom;
    font-size: $slider-vehicle-arrow-icon-font-size;
    background: $slider-vehicle-arrow-background-color;
    color: $slider-vehicle-arrow-icon-color;
    cursor: pointer;

    @include breakpoint('m') {
      @include flex;
    }

    &--prev {
      left: $slider-vehicle-arrow-position-prev;
      padding-left: $slider-vehicle-arrow-inner-spacing;
    }

    &--next {
      right: $slider-vehicle-arrow-position-next;
      padding-right: $slider-vehicle-arrow-inner-spacing;
    }

    &:hover {
      color: $slider-vehicle-arrow-icon-color-hovered;
    }
  }

  &__item {
    display: block;
    padding: $slider-vehicle-item-inner-spacing-vertical $slider-vehicle-item-inner-spacing-horizontal;
    border-bottom: $slider-vehicle-item-border-width $slider-vehicle-item-border-color solid;
    cursor: pointer;
    float: left;
    width: $slider-vehicle-item-width;

    &:last-of-type {
      border-bottom: $slider-vehicle-item-border-reset;
    }

    @include breakpoint('m', 'l') {
      &:nth-child(4) {
        display: none;
      }
    }

    @include breakpoint('m') {
      display: inline-block;
      padding: $slider-vehicle-item-inner-spacing-vertical-m $slider-vehicle-item-inner-spacing-horizontal-m;
      border-bottom: $slider-vehicle-item-border-reset;
      max-width: $slider-vehicle-item-max-width;
    }

    &:hover {
      #{$bem-block}__title {
        color: $slider-vehicle-title-color-hovered;
      }

      #{$bem-block}__subtitle {
        color: $slider-vehicle-subtitle-color-hovered;
      }
    }
  }

  &__image {
    display: none;
    margin: auto;
    max-width: $slider-vehicle-image-max-width;
    height: auto;

    @include breakpoint('m') {
      display: block;
    }
  }

  &__icon {
    color: $slider-vehicle-icon-text-color;
    display: inline-block;
    vertical-align: top;
    line-height: $slider-vehicle-icon-line-height;
    float: left;

    @include breakpoint('m') {
      @include -spacing-18;
    }
  }

  &__title {
    @include -text-size-5-thin;
    @include -overflow-ellipsis;
    display: inline-block;
    margin-left: $slider-vehicle-title-margin-left;
    max-width: $slider-vehicle-title-max-width;
    float: left;

    @include breakpoint('m') {
      @include -spacing-18;
      width: $slider-vehicle-title-width-m;
    }
  }

  &__subtitle {
    @include -text-size-copy;
    display: block;
    margin-left: $slider-vehicle-subtitle-margin-left;
    width: $slider-vehicle-subtitle-width;
    float: left;

    @include breakpoint('m') {
      @include -align-center;
      margin-left: $slider-vehicle-subtitle-margin-left-m;
    }
  }
}
