@import "../../../styles/utility/index";

:host {
  display: inline-flex;
}

.#{$p-global-class-prefix}icon {
  display: inline-flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: rem(24px);
  height: rem(24px);
  fill: currentColor;
  transition: fill $p-animation-hover-duration $p-animation-hover-bezier;

  &--small {
    width: rem(24px);
    height: rem(24px);
  }

  &--medium {
    width: rem(36px);
    height: rem(36px);
  }

  &--large {
    width: rem(48px);
    height: rem(48px);
  }
}
