@import "../../../../../../packages/ui-kit-scss-utils/index";

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}icon {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: rem(24px);
  height: rem(24px);
  fill: currentColor;

  &--small {
    width: rem(24px);
    height: rem(24px);
  }

  &--medium {
    width: rem(36px);
    height: rem(36px);
  }

  &--large {
    width: rem(48px);
    height: rem(48px);
  }

  &--inherit {
    width: inherit;
    height: inherit;
  }

  &--color {
    &-inherit {
      fill: currentColor;
    }

    &-porsche-light {
      fill: $p-color-theme-dark-default;
    }

    &-porsche-black {
      fill: $p-color-theme-light-default;
    }

    &-porsche-red {
      fill: $p-color-theme-light-brand;
    }
  }
}
