@import 'tabs-access.setup.scss';
@import '../../../base/grid/flex.mixin.scss';
@import '../../../base/position/position.mixin.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}tabs-access {
  @include flex;

  &__item {
    @include flex;

    &:not(:last-child)::after { // sass-lint:disable-line force-pseudo-nesting
      @include -spacing-24('left');
      @include -spacing-24('right');

      content: '';
      display: block;
      width: $tabs-access-item-separator-width;
      height: $tabs-access-item-separator-height;
      background: $tabs-access-item-separator-color;
    }
  }

  &__button {
    @include -text-size-copy;

    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    color: $tabs-access-button-text-color;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // sass-lint:disable-line no-vendor-prefixes
      /* IE10+ fix */
      padding-right: 1px; // Fix for IE11, otherwise label might be cut off
    }

    &:hover {
      color: $tabs-access-button-text-color-hover;
    }

    &--active {
      color: $tabs-access-button-active-color;
      cursor: default;
    }
  }
}
