@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../setup/grid.setup.scss';

$flex-child-1-width: 8.333333% !default;
$flex-child-2-width: 16.666667% !default;
$flex-child-3-width: 25% !default;
$flex-child-4-width: 33.333333% !default;
$flex-child-5-width: 41.666667% !default;
$flex-child-6-width: 50% !default;
$flex-child-7-width: 58.333333% !default;
$flex-child-8-width: 66.666667% !default;
$flex-child-9-width: 75% !default;
$flex-child-10-width: 83.333333% !default;
$flex-child-11-width: 91.666667% !default;
$flex-child-12-width: 100% !default;

$flex-child-spacing-horizontal: $grid-gutter / 2 !default;
$flex-child-spacing-horizontal-xs: $grid-gutter-xs / 2 !default;
$flex-child-spacing-horizontal-s: $grid-gutter-s / 2 !default;
$flex-child-spacing-horizontal-m: $grid-gutter-m / 2 !default;
$flex-child-spacing-horizontal-l: $grid-gutter-l / 2 !default;
$flex-child-spacing-horizontal-xl: $grid-gutter-xl / 2 !default;
