/**
 * properties for flex container
 */
@mixin flex {
  display: flex;
}

@mixin flex-none {
  flex: none;
}

@mixin flex-inline {
  display: inline-flex;
}

@mixin flex-direction($direction) {
  flex-direction: #{$direction};
}

@mixin flex-wrap($wrap) {
  flex-wrap: #{$wrap};
}

@mixin flex-main-axis($align) {
  justify-content: #{$align};
}

@mixin flex-cross-axis($align) {
  align-items: #{$align};
}

// it is similar to align-items, but instead of aligning flex items, it aligns flex lines.
// Note: There must be multiple lines of items for this property to have any effect!
@mixin flex-align-content($align-content) {
  align-content: #{$align-content};
}

@mixin flex-gap-shim-grid {
  padding-left: 0;
  padding-right: 0;

  @include breakpoint('s') {
    padding-left: 0;
    padding-right: 0;
  }

  @include breakpoint('l') {
    padding-left: 0;
    padding-right: 0;
  }

  margin: {
    left: -$flex-child-spacing-horizontal;
    right: -$flex-child-spacing-horizontal;
  }

  @include breakpoint('s') {
    margin: {
      left: -$flex-child-spacing-horizontal-s;
      right: -$flex-child-spacing-horizontal-s;
    }
  }

  @include breakpoint('l') {
    margin: {
      left: -$flex-child-spacing-horizontal-l;
      right: -$flex-child-spacing-horizontal-l;
    }
  }
}

@mixin flex-gap-shim-zero {
  margin-left: 0;
  margin-right: 0;
}


/**
 * properties for flex child items
 */
@mixin flex-child-align($align) {
  align-self: #{$align};
}

@mixin flex-child-grow($grow) {
  flex-grow: #{$grow};
}

@mixin flex-child-shrink($shrink) {
  flex-shrink: #{$shrink};
}

@mixin flex-child-basis($basis) {
  flex-basis: #{$basis};
}

@mixin flex-child-order($order) {
  order: #{$order};
}

@mixin flex-child-gap-grid {
  padding: {
    left: $flex-child-spacing-horizontal;
    right: $flex-child-spacing-horizontal;
  }

  @include breakpoint('s') {
    padding: {
      left: $flex-child-spacing-horizontal-s;
      right: $flex-child-spacing-horizontal-s;
    }
  }

  @include breakpoint('l') {
    padding: {
      left: $flex-child-spacing-horizontal-l;
      right: $flex-child-spacing-horizontal-l;
    }
  }
}

