<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d"
                            page-header_title=speed-alarm.title
                            page-header_description=speed-alarm.description }}

  <div class="row -spacing-c">
    <div class="column column--12">

      {{> organisms-car-selector-02-logged-in-selected }}

    </div>
  </div>
  <div class="row -spacing-b">
    <div class="column column--12 -position-relative">

      {{#if speed-alarm.createMode }}

        {{> molecules-button-inline styleModifier="-layer-blocking-higher"
                                    button-inline_label="Neu"
                                    button-inline_icon="plus"
                                    button-inline_seamless=true }}

        {{#*inline "callout_content"}}
          {{> speed-alarm-alarm-form-create }}
        {{/inline}}
        {{> molecules-callout styleModifier="-layer-blocking-higher" }}

      {{else}}

        {{> molecules-button-inline button-inline_label="Neu"
                                    button-inline_icon="plus"
                                    button-inline_seamless=true }}

      {{/if}}

    </div>
  </div>
  <div class="row -spacing-12">
    <div class="column column--12">

      {{#if speed-alarm.alarms.list }}

        {{#*inline "list-expanded_content"}}
          {{> speed-alarm-alarm-form-edit }}
        {{/inline}}
        {{> organisms-list-view list-view=speed-alarm.alarms.list }}

        {{> molecules-button-inline styleModifier="-spacing-3"
                                    styleModifier_icon="-text-color-white"
                                    button-inline_label="Weitere Elemente laden"
                                    button-inline_icon="loader"
                                    button-inline_stretch=true }}

      {{else}}

        {{> organisms-state-empty-action state-empty-action_image=speed-alarm.alarms.emptyState.image
                                         state-empty-action_title=speed-alarm.alarms.emptyState.label
                                         state-empty-action_titleContinue=speed-alarm.alarms.emptyState.labelContinued
                                         state-empty-action_icon=speed-alarm.alarms.emptyState.icon }}

      {{/if}}

    </div>
  </div>
  <div class="row -spacing-b">
    <div class="column column--12">

      <h3 class="-text-size-4-thin -text-color-white">{{ speed-alarm.violations.title }}</h3>

      {{#if speed-alarm.violations.list }}

        {{> organisms-list-violation styleModifier="-spacing-a"
                                     list-violation=speed-alarm.violations.list
                                     list-violation_tags=speed-alarm.violations.tags }}


        {{> molecules-button-inline styleModifier="-spacing-3"
                                    styleModifier_icon="-text-color-white"
                                    button-inline_label="Weitere Elemente laden"
                                    button-inline_icon="loader"
                                    button-inline_stretch=true }}

        <div class="-spacing-b -align-right">
          {{> molecules-link-icon-text-scroll-up }}
        </div>

      {{else}}

        {{> organisms-list-empty styleModifier="-spacing-a"
                                 list-empty_label=speed-alarm.violations.emptyState.label }}

      {{/if}}

    </div>
  </div>
</section>

{{#if speed-alarm.blockingLayer }}
  {{> atoms-layer-blocking }}
{{/if}}
