@import "./../function/rem.function";

// generic text sizes
$p-text-size-12: rem(12px);
$p-text-size-16: rem(16px);
$p-text-size-20: rem(20px);
$p-text-size-24: rem(24px);
$p-text-size-28: rem(28px);
$p-text-size-30: rem(30px);
$p-text-size-32: rem(32px);
$p-text-size-36: rem(36px);
$p-text-size-42: rem(42px);
$p-text-size-44: rem(44px);
$p-text-size-48: rem(48px);
$p-text-size-52: rem(52px);
$p-text-size-60: rem(60px);
$p-text-size-62: rem(62px);
$p-text-size-72: rem(72px);
$p-text-size-84: rem(84px);

// font weights
$p-font-weight-thin: 200;
$p-font-weight-regular: 400;
$p-font-weight-bold: 600;
