strict-ssl = false
registry = https://pccbuild.web.porsche.de/nexus/content/groups/npm/
# Since Nexus Repository 2 does not support scopes, use public nexus for @types scope
@types:registry = https://registry.npmjs.org/
@porsche:registry = https://pcckbuild.web.porsche.de/nexus/repository/npm-internal-pcck-bunt/