@import '~@porsche-design-system/utilities/scss';

.focusable-element-regular {
  @include p-focus;
}

.focusable-element-custom {
  @include p-focus(deeppink, 6px);
}

.focusable-element-pseudo {
  position: relative;
  padding: 1rem;

  button {
    @include p-focus($p-color-state-focus, 2px, '::before');
  }
}

.focusable-element-custom-pseudo {
  position: relative;

  @include p-focus(deeppink, 6px, '::after');
}
