@import '~@porsche-design-system/utilities/scss';

.square {
  display: inline-block;
  background: grey;
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
  white-space: nowrap;

  // light
  &--color-theme-light-brand {
    background: $p-color-brand;
  }
  &--color-theme-light-default {
    background: $p-color-default;
  }
  &--color-theme-light-background-default {
    background: $p-color-background-default;
  }
  &--color-theme-light-background-surface {
    background: $p-color-background-surface;
  }
  &--color-theme-light-background-shading {
    background: $p-color-background-shading;
  }
  &--color-theme-light-neutral-contrast-high {
    background: $p-color-neutral-contrast-high;
  }
  &--color-theme-light-neutral-contrast-medium {
    background: $p-color-neutral-contrast-medium;
  }
  &--color-theme-light-neutral-contrast-low {
    background: $p-color-neutral-contrast-low;
  }
  &--color-theme-light-notification-success {
    background: $p-color-notification-success;
  }
  &--color-theme-light-notification-success-soft {
    background: $p-color-notification-success-soft;
  }
  &--color-theme-light-notification-warning {
    background: $p-color-notification-warning;
  }
  &--color-theme-light-notification-warning-soft {
    background: $p-color-notification-warning-soft;
  }
  &--color-theme-light-notification-error {
    background: $p-color-notification-error;
  }
  &--color-theme-light-notification-error-soft {
    background: $p-color-notification-error-soft;
  }
  &--color-theme-light-notification-neutral {
    background: $p-color-notification-neutral;
  }
  &--color-theme-light-notification-neutral-soft {
    background: $p-color-notification-neutral-soft;
  }
  &--color-theme-light-state-hover {
    background: $p-color-state-hover;
  }
  &--color-theme-light-state-active {
    background: $p-color-state-active;
  }
  &--color-theme-light-state-focus {
    color: black;
    outline: $p-color-state-focus solid 1px;
    outline-offset: -5px;
  }
  &--color-theme-light-state-disabled {
    background: $p-color-state-disabled;
  }

  // dark
  &--color-theme-dark-brand {
    background: $p-color-theme-dark-brand;
  }
  &--color-theme-dark-default {
    background: $p-color-theme-dark-default;
  }
  &--color-theme-dark-background-default {
    background: $p-color-theme-dark-background-default;
  }
  &--color-theme-dark-background-surface {
    background: $p-color-theme-dark-background-surface;
  }
  &--color-theme-dark-background-shading {
    background: $p-color-theme-dark-background-shading;
  }
  &--color-theme-dark-neutral-contrast-high {
    background: $p-color-theme-dark-neutral-contrast-high;
  }
  &--color-theme-dark-neutral-contrast-medium {
    background: $p-color-theme-dark-neutral-contrast-medium;
  }
  &--color-theme-dark-neutral-contrast-low {
    background: $p-color-theme-dark-neutral-contrast-low;
  }
  &--color-theme-dark-notification-success {
    background: $p-color-theme-dark-notification-success;
  }
  &--color-theme-dark-notification-success-soft {
    background: $p-color-theme-dark-notification-success-soft;
  }
  &--color-theme-dark-notification-warning {
    background: $p-color-theme-dark-notification-warning;
  }
  &--color-theme-dark-notification-warning-soft {
    background: $p-color-theme-dark-notification-warning-soft;
  }
  &--color-theme-dark-notification-error {
    background: $p-color-theme-dark-notification-error;
  }
  &--color-theme-dark-notification-error-soft {
    background: $p-color-theme-dark-notification-error-soft;
  }
  &--color-theme-dark-notification-neutral {
    background: $p-color-theme-dark-notification-neutral;
  }
  &--color-theme-dark-notification-neutral-soft {
    background: $p-color-theme-dark-notification-neutral-soft;
  }
  &--color-theme-dark-state-hover {
    background: $p-color-theme-dark-state-hover;
  }
  &--color-theme-dark-state-active {
    background: $p-color-theme-dark-state-active;
  }
  &--color-theme-dark-state-focus {
    color: white;
    outline: $p-color-theme-dark-state-focus solid 1px;
    outline-offset: -5px;
  }
  &--color-theme-dark-state-disabled {
    background: $p-color-theme-dark-state-disabled;
  }

  // light-electric
  &--color-theme-light-electric-brand {
    background: $p-color-theme-light-electric-brand;
  }
  &--color-theme-light-electric-default {
    background: $p-color-theme-light-electric-default;
  }
  &--color-theme-light-electric-background-default {
    background: $p-color-theme-light-electric-background-default;
  }
  &--color-theme-light-electric-background-surface {
    background: $p-color-theme-light-electric-background-surface;
  }
  &--color-theme-light-electric-background-shading {
    background: $p-color-theme-light-electric-background-shading;
  }
  &--color-theme-light-electric-neutral-contrast-high {
    background: $p-color-theme-light-electric-neutral-contrast-high;
  }
  &--color-theme-light-electric-neutral-contrast-medium {
    background: $p-color-theme-light-electric-neutral-contrast-medium;
  }
  &--color-theme-light-electric-neutral-contrast-low {
    background: $p-color-theme-light-electric-neutral-contrast-low;
  }
  &--color-theme-light-electric-notification-success {
    background: $p-color-theme-light-electric-notification-success;
  }
  &--color-theme-light-electric-notification-success-soft {
    background: $p-color-theme-light-electric-notification-success-soft;
  }
  &--color-theme-light-electric-notification-warning {
    background: $p-color-theme-light-electric-notification-warning;
  }
  &--color-theme-light-electric-notification-warning-soft {
    background: $p-color-theme-light-electric-notification-warning-soft;
  }
  &--color-theme-light-electric-notification-error {
    background: $p-color-theme-light-electric-notification-error;
  }
  &--color-theme-light-electric-notification-error-soft {
    background: $p-color-theme-light-electric-notification-error-soft;
  }
  &--color-theme-light-electric-notification-neutral {
    background: $p-color-theme-light-electric-notification-neutral;
  }
  &--color-theme-light-electric-notification-neutral-soft {
    background: $p-color-theme-light-electric-notification-neutral-soft;
  }
  &--color-theme-light-electric-state-hover {
    background: $p-color-theme-light-electric-state-hover;
  }
  &--color-theme-light-electric-state-active {
    background: $p-color-theme-light-electric-state-active;
  }
  &--color-theme-light-electric-state-focus {
    color: black;
    outline: $p-color-theme-light-electric-state-focus solid 1px;
    outline-offset: -5px;
  }
  &--color-theme-light-electric-state-disabled {
    background: $p-color-theme-light-electric-state-disabled;
  }

  // dark-electric
  &--color-theme-dark-electric-brand {
    background: $p-color-theme-dark-electric-brand;
  }
  &--color-theme-dark-electric-default {
    background: $p-color-theme-dark-electric-default;
  }
  &--color-theme-dark-electric-background-default {
    background: $p-color-theme-dark-electric-background-default;
  }
  &--color-theme-dark-electric-background-surface {
    background: $p-color-theme-dark-electric-background-surface;
  }
  &--color-theme-dark-electric-background-shading {
    background: $p-color-theme-dark-electric-background-shading;
  }
  &--color-theme-dark-electric-neutral-contrast-high {
    background: $p-color-theme-dark-electric-neutral-contrast-high;
  }
  &--color-theme-dark-electric-neutral-contrast-medium {
    background: $p-color-theme-dark-electric-neutral-contrast-medium;
  }
  &--color-theme-dark-electric-neutral-contrast-low {
    background: $p-color-theme-dark-electric-neutral-contrast-low;
  }
  &--color-theme-dark-electric-notification-success {
    background: $p-color-theme-dark-electric-notification-success;
  }
  &--color-theme-dark-electric-notification-success-soft {
    background: $p-color-theme-dark-electric-notification-success-soft;
  }
  &--color-theme-dark-electric-notification-warning {
    background: $p-color-theme-dark-electric-notification-warning;
  }
  &--color-theme-dark-electric-notification-warning-soft {
    background: $p-color-theme-dark-electric-notification-warning-soft;
  }
  &--color-theme-dark-electric-notification-error {
    background: $p-color-theme-dark-electric-notification-error;
  }
  &--color-theme-dark-electric-notification-error-soft {
    background: $p-color-theme-dark-electric-notification-error-soft;
  }
  &--color-theme-dark-electric-notification-neutral {
    background: $p-color-theme-dark-electric-notification-neutral;
  }
  &--color-theme-dark-electric-notification-neutral-soft {
    background: $p-color-theme-dark-electric-notification-neutral-soft;
  }
  &--color-theme-dark-electric-state-hover {
    background: $p-color-theme-dark-electric-state-hover;
  }
  &--color-theme-dark-electric-state-active {
    background: $p-color-theme-dark-electric-state-active;
  }
  &--color-theme-dark-electric-state-focus {
    color: white;
    outline: $p-color-theme-dark-electric-state-focus solid 1px;
    outline-offset: -5px;
  }
  &--color-theme-dark-electric-state-disabled {
    background: $p-color-theme-dark-electric-state-disabled;
  }

  // external
  &--color-external-facebook {
    background: $p-color-external-facebook;
  }
  &--color-external-google {
    background: $p-color-external-google;
  }
  &--color-external-instagram {
    background: $p-color-external-instagram;
  }
  &--color-external-kakaotalk {
    background: $p-color-external-kakaotalk;
  }
  &--color-external-linkedin {
    background: $p-color-external-linkedin;
  }
  &--color-external-naver {
    background: $p-color-external-naver;
  }
  &--color-external-pinterest {
    background: $p-color-external-pinterest;
  }
  &--color-external-reddit {
    background: $p-color-external-reddit;
  }
  &--color-external-tiktok {
    background: $p-color-external-tiktok;
  }
  &--color-external-twitter {
    background: $p-color-external-twitter;
  }
  &--color-external-wechat {
    background: $p-color-external-wechat;
  }
  &--color-external-whatsapp {
    background: $p-color-external-whatsapp;
  }
  &--color-external-xing {
    background: $p-color-external-xing;
  }
  &--color-external-youtube {
    background: $p-color-external-youtube;
  }

  &--spacing-4 {
    margin-left: $p-spacing-4;
  }
  &--spacing-8 {
    margin-left: $p-spacing-8;
  }
  &--spacing-16 {
    margin-left: $p-spacing-16;
  }
  &--spacing-24 {
    margin-left: $p-spacing-24;
  }
  &--spacing-32 {
    margin-left: $p-spacing-32;
  }
  &--spacing-40 {
    margin-left: $p-spacing-40;
  }
  &--spacing-48 {
    margin-left: $p-spacing-48;
  }
  &--spacing-56 {
    margin-left: $p-spacing-56;
  }
  &--spacing-64 {
    margin-left: $p-spacing-64;
  }
  &--spacing-72 {
    margin-left: $p-spacing-72;
  }
  &--spacing-80 {
    margin-left: $p-spacing-80;
  }

  &--layout-xSmall {
    margin-left: $p-layout-x-small;
  }
  &--layout-small {
    margin-left: $p-layout-small;
  }
  &--layout-medium {
    margin-left: $p-layout-medium;
  }
  &--layout-large {
    margin-left: $p-layout-large;
  }
  &--layout-xLarge {
    margin-left: $p-layout-x-large;
  }
  &--layout-xxLarge {
    margin-left: $p-layout-xx-large;
  }
}

.font {
  @include p-text-small;
  font-family: $p-font-family;

  &--thin {
    font-weight: $p-font-weight-thin;
  }
  &--regular {
    font-weight: $p-font-weight-regular;
  }
  &--semibold {
    font-weight: $p-font-weight-semibold;
  }
  &--bold {
    font-weight: $p-font-weight-bold;
  }

  &--size-12 {
    @include p-generate-font-definition($p-font-size-12, $p-font-weight-regular);
  }
  &--size-16 {
    @include p-generate-font-definition($p-font-size-16, $p-font-weight-regular);
  }
  &--size-18 {
    @include p-generate-font-definition($p-font-size-18, $p-font-weight-regular);
  }
  &--size-20 {
    @include p-generate-font-definition($p-font-size-20, $p-font-weight-regular);
  }
  &--size-22 {
    @include p-generate-font-definition($p-font-size-22, $p-font-weight-regular);
  }
  &--size-24 {
    @include p-generate-font-definition($p-font-size-24, $p-font-weight-regular);
  }
  &--size-28 {
    @include p-generate-font-definition($p-font-size-28, $p-font-weight-regular);
  }
  &--size-30 {
    @include p-generate-font-definition($p-font-size-30, $p-font-weight-regular);
  }
  &--size-32 {
    @include p-generate-font-definition($p-font-size-32, $p-font-weight-regular);
  }
  &--size-36 {
    @include p-generate-font-definition($p-font-size-36, $p-font-weight-regular);
  }
  &--size-42 {
    @include p-generate-font-definition($p-font-size-42, $p-font-weight-regular);
  }
  &--size-44 {
    @include p-generate-font-definition($p-font-size-44, $p-font-weight-regular);
  }
  &--size-48 {
    @include p-generate-font-definition($p-font-size-48, $p-font-weight-regular);
  }
  &--size-52 {
    @include p-generate-font-definition($p-font-size-52, $p-font-weight-regular);
  }
  &--size-60 {
    @include p-generate-font-definition($p-font-size-60, $p-font-weight-regular);
  }
  &--size-62 {
    @include p-generate-font-definition($p-font-size-62, $p-font-weight-regular);
  }
  &--size-72 {
    @include p-generate-font-definition($p-font-size-72, $p-font-weight-regular);
  }
  &--size-84 {
    @include p-generate-font-definition($p-font-size-84, $p-font-weight-regular);
  }
  &--size-xSmall {
    @include p-text-x-small;
  }
  &--size-small {
    @include p-text-small;
  }
  &--size-medium {
    @include p-text-medium;
  }
  &--size-large {
    @include p-text-large;
  }
  &--size-xLarge {
    @include p-text-x-large;
  }
}

.title-large {
  @include p-title-large;
}

.headline-1 {
  @include p-headline-1;
}
.headline-2 {
  @include p-headline-2;
}
.headline-3 {
  @include p-headline-3;
}
.headline-4 {
  @include p-headline-4;
}
.headline-5 {
  @include p-headline-5;
}
