/**
 * Theme light
 */

// Porsche brand colors
$p-color-theme-light-brand: #d5001c;

// Default colors
$p-color-theme-light-default: #000;

// Surface colors
$p-color-theme-light-surface: #f2f2f2;

// Background colors
$p-color-theme-light-background: #fff;

// Neutral colors
$p-color-theme-light-neutral-contrast-high: #323639;
$p-color-theme-light-neutral-contrast-medium: #626669;
$p-color-theme-light-neutral-contrast-low: #c9cacb;

// Notification colors
$p-color-theme-light-notification-success: #018a16;
$p-color-theme-light-notification-warning: #ff9b00;
$p-color-theme-light-notification-error: #e00000;

// State colors
$p-color-theme-light-state-hover: #d5001c;
$p-color-theme-light-state-active: #d5001c;
$p-color-theme-light-state-focus: #00d5b9;
$p-color-theme-light-state-disabled: #96989a;

/**
 * Theme dark
 */

// Porsche brand colors
$p-color-theme-dark-brand: #d5001c;

// Default colors
$p-color-theme-dark-default: #fff;

// Surface colors
$p-color-theme-dark-surface: #1a2023;

// Background colors
$p-color-theme-dark-background: #0e1418;

// Neutral colors
$p-color-theme-dark-neutral-contrast-high: #e3e4e5;
$p-color-theme-dark-neutral-contrast-medium: #b0b1b2;
$p-color-theme-dark-neutral-contrast-low: #4a4e51;

// Notification colors
$p-color-theme-dark-notification-success: #01ba1d;
$p-color-theme-dark-notification-warning: #ff9b00;
$p-color-theme-dark-notification-error: #fc1717;

// State colors
$p-color-theme-dark-state-hover: #d5001c;
$p-color-theme-dark-state-active: #d5001c;
$p-color-theme-dark-state-focus: #00d5b9;
$p-color-theme-dark-state-disabled: #7c7f81;

/**
 * External brand colors
 */
$p-color-external-facebook: #1877f2;
$p-color-external-google: #4285f4;
$p-color-external-instagram: #e1306c;
$p-color-external-linkedin: #0077b5;
$p-color-external-twitter: #1da1f2;
$p-color-external-wechat: #1aad19;
$p-color-external-youtube: #ff0000;
