@import "./../functions/converter";

$p-font-primary: "Porsche Next", "Arial Narrow", Arial, sans-serif;

$p-font-weight-thin: 100;
$p-font-weight-regular: 400;
$p-font-weight-semibold: 600;
$p-font-weight-bold: 700;

// basic font sizes
$p-font-size-12: p-rem(12px);
$p-font-size-16: p-rem(16px);
$p-font-size-18: p-rem(18px);
$p-font-size-20: p-rem(20px);
$p-font-size-22: p-rem(22px);
$p-font-size-24: p-rem(24px);
$p-font-size-28: p-rem(28px);
$p-font-size-30: p-rem(30px);
$p-font-size-32: p-rem(32px);
$p-font-size-36: p-rem(36px);
$p-font-size-42: p-rem(42px);
$p-font-size-44: p-rem(44px);
$p-font-size-48: p-rem(48px);
$p-font-size-52: p-rem(52px);
$p-font-size-60: p-rem(60px);
$p-font-size-62: p-rem(62px);
$p-font-size-72: p-rem(72px);
$p-font-size-84: p-rem(84px);

// default text sizes
$p-text-size-x-small: $p-font-size-12;
$p-text-size-small: $p-font-size-16;
$p-text-size-medium: $p-font-size-24;
$p-text-size-large: $p-font-size-36;
$p-text-size-x-large: $p-font-size-52;
