@import "../../../common";

$link-icon-text-icon-horizontal-spacing: rem(5px) !default;
$link-icon-text-label-spacing-left: $spacing-24 !default;

.#{$global-class-prefix}link-text {
    @include -text-size-copy;
    display: inline-block;
    text-decoration: none;

    &__label {
        @include -text-color-black;
        display: block;
        text-decoration: underline;

        &--inverted {
            @include -text-color-white;
        }
    }

    &:active &__label,
    &:active &__label--inverted,
    &:focus &__label,
    &:focus &__label--inverted,
    &:hover &__label,
    &:hover &__label--inverted {
        @include -text-color-red-1;
        text-decoration: none;
    }

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.#{$global-class-prefix}link-icon-text {
    display: inline-block;
    text-decoration: none;

    &__label {
        @include -text-color-white;
        margin-left: $link-icon-text-label-spacing-left;
        display: block;

        &--black {
            @include -text-color-black;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:hover &__label,
    &:hover &__label--black {
        @include -text-color-red-1;
        text-decoration: none;
    }

    &__icon {
        color: $color-palette-red-1;
        fill: $color-palette-red-1;
        float: left;
        margin-right: $link-icon-text-icon-horizontal-spacing;
    }
}
