@import '../../base/background/background.setup';

$tutorial-pairing-code-image-aspect-ratio-padding: (5 / 13) * 100% !default;

$tutorial-pairing-code-slideshow-image-aspect-ratio-padding: (5 / 13) * 100% !default;
$tutorial-pairing-code-slideshow-image-width: 100% !default;
$tutorial-pairing-code-slideshow-image-height: 100% !default;
$tutorial-pairing-code-slideshow-image-horizontal-position: 0 !default;
$tutorial-pairing-code-slideshow-image-vertical-position: 0 !default;
