@import '../utility/index';

/**
 * static spacings vars for iterating SASS function
 */
$p-spacings: (
  '0': 0,
  '4': $p-spacing-4,
  '8': $p-spacing-8,
  '16': $p-spacing-16,
  '24': $p-spacing-24,
  '32': $p-spacing-32,
  '40': $p-spacing-40,
  '48': $p-spacing-48,
  '56': $p-spacing-56,
  '64': $p-spacing-64,
  '72': $p-spacing-72,
  '80': $p-spacing-80
);

/*
 * margin spacings
 */
.#{$p-global-class-prefix}spacing-m {
  @each $name, $spacing in $p-spacings {
    &-#{$name} {
      margin: $spacing;
    }

    &t-#{$name} {
      margin-top: $spacing;
    }

    &r-#{$name} {
      margin-right: $spacing;
    }

    &b-#{$name} {
      margin-bottom: $spacing;
    }

    &l-#{$name} {
      margin-left: $spacing;
    }
  }

  &-0-min {
    @include generate-min-major-breakpoints() {
      margin: 0;
    }
  }

  &t-0-min {
    @include generate-min-major-breakpoints() {
      margin-top: 0;
    }
  }

  &r-0-min {
    @include generate-min-major-breakpoints() {
      margin-right: 0;
    }
  }

  &b-0-min {
    @include generate-min-major-breakpoints() {
      margin-bottom: 0;
    }
  }

  &l-0-min {
    @include generate-min-major-breakpoints() {
      margin-left: 0;
    }
  }

  &-0-max {
    @include generate-max-major-breakpoints() {
      margin: 0;
    }
  }

  &t-0-max {
    @include generate-max-major-breakpoints() {
      margin-top: 0;
    }
  }

  &r-0-max {
    @include generate-max-major-breakpoints() {
      margin-right: 0;
    }
  }

  &b-0-max {
    @include generate-max-major-breakpoints() {
      margin-bottom: 0;
    }
  }

  &l-0-max {
    @include generate-max-major-breakpoints() {
      margin-left: 0;
    }
  }

  /*
   * responsive margin spacings
   */
  &t-a {
    @include p-spacing-a('margin', 'top');
  }

  &r-a {
    @include p-spacing-a('margin', 'right');
  }

  &b-a {
    @include p-spacing-a('margin', 'bottom');
  }

  &l-a {
    @include p-spacing-a('margin', 'left');
  }

  &-a {
    @include p-spacing-a('margin');
  }

  &t-b {
    @include p-spacing-b('margin', 'top');
  }

  &r-b {
    @include p-spacing-b('margin', 'right');
  }

  &b-b {
    @include p-spacing-b('margin', 'bottom');
  }

  &l-b {
    @include p-spacing-b('margin', 'left');
  }

  &-b {
    @include p-spacing-b('margin');
  }

  &t-c {
    @include p-spacing-c('margin', 'top');
  }

  &r-c {
    @include p-spacing-c('margin', 'right');
  }

  &b-c {
    @include p-spacing-c('margin', 'bottom');
  }

  &l-c {
    @include p-spacing-c('margin', 'left');
  }

  &-c {
    @include p-spacing-c('margin');
  }

  &t-d {
    @include p-spacing-d('margin', 'top');
  }

  &r-d {
    @include p-spacing-d('margin', 'right');
  }

  &b-d {
    @include p-spacing-d('margin', 'bottom');
  }

  &l-d {
    @include p-spacing-d('margin', 'left');
  }

  &-d {
    @include p-spacing-d('margin');
  }

  &t-e {
    @include p-spacing-e('margin', 'top');
  }

  &r-e {
    @include p-spacing-e('margin', 'right');
  }

  &b-e {
    @include p-spacing-e('margin', 'bottom');
  }

  &l-e {
    @include p-spacing-e('margin', 'left');
  }

  &-e {
    @include p-spacing-e('margin');
  }

  &t-f {
    @include p-spacing-f('margin', 'top');
  }

  &r-f {
    @include p-spacing-f('margin', 'right');
  }

  &b-f {
    @include p-spacing-f('margin', 'bottom');
  }

  &l-f {
    @include p-spacing-f('margin', 'left');
  }

  &-f {
    @include p-spacing-f('margin');
  }

  &t-g {
    @include p-spacing-g('margin', 'top');
  }

  &r-g {
    @include p-spacing-g('margin', 'right');
  }

  &b-g {
    @include p-spacing-g('margin', 'bottom');
  }

  &l-g {
    @include p-spacing-g('margin', 'left');
  }

  &-g {
    @include p-spacing-g('margin');
  }

  &t-auto {
    margin-top: auto;
  }

  &l-auto {
    margin-left: auto;
  }

  &b-auto {
    margin-bottom: auto;
  }

  &r-auto {
    margin-right: auto;
  }

  &-auto {
    margin: auto;
  }
}

/*
 * negative margin spacings
 */
.#{$p-global-class-prefix}spacing-m-n {
  @each $name, $spacing in $p-spacings {
    &-#{$name} {
      margin: -$spacing;
    }

    &t-#{$name} {
      margin-top: -$spacing;
    }

    &r-#{$name} {
      margin-right: -$spacing;
    }

    &b-#{$name} {
      margin-bottom: -$spacing;
    }

    &l-#{$name} {
      margin-left: -$spacing;
    }
  }

  &-0-min {
    @include generate-min-major-breakpoints() {
      margin: 0;
    }
  }

  &t-0-min {
    @include generate-min-major-breakpoints() {
      margin-top: 0;
    }
  }

  &r-0-min {
    @include generate-min-major-breakpoints() {
      margin-right: 0;
    }
  }

  &b-0-min {
    @include generate-min-major-breakpoints() {
      margin-bottom: 0;
    }
  }

  &l-0-min {
    @include generate-min-major-breakpoints() {
      margin-left: 0;
    }
  }

  &-0-max {
    @include generate-max-major-breakpoints() {
      margin: 0;
    }
  }

  &t-0-max {
    @include generate-max-major-breakpoints() {
      margin-top: 0;
    }
  }

  &r-0-max {
    @include generate-max-major-breakpoints() {
      margin-right: 0;
    }
  }

  &b-0-max {
    @include generate-max-major-breakpoints() {
      margin-bottom: 0;
    }
  }

  &l-0-max {
    @include generate-max-major-breakpoints() {
      margin-left: 0;
    }
  }

  /*
   * negative responsive margin spacings
   */
  &t-a {
    @include p-spacing-a('margin', 'top', '-');
  }

  &r-a {
    @include p-spacing-a('margin', 'right', '-');
  }

  &b-a {
    @include p-spacing-a('margin', 'bottom', '-');
  }

  &l-a {
    @include p-spacing-a('margin', 'left', '-');
  }

  &-a {
    @include p-spacing-a('margin', '', '-');
  }

  &t-b {
    @include p-spacing-b('margin', 'top', '-');
  }

  &r-b {
    @include p-spacing-b('margin', 'right', '-');
  }

  &b-b {
    @include p-spacing-b('margin', 'bottom', '-');
  }

  &l-b {
    @include p-spacing-b('margin', 'left', '-');
  }

  &-b {
    @include p-spacing-b('margin', '', '-');
  }

  &t-c {
    @include p-spacing-c('margin', 'top', '-');
  }

  &r-c {
    @include p-spacing-c('margin', 'right', '-');
  }

  &b-c {
    @include p-spacing-c('margin', 'bottom', '-');
  }

  &l-c {
    @include p-spacing-c('margin', 'left', '-');
  }

  &-c {
    @include p-spacing-c('margin', '', '-');
  }

  &t-d {
    @include p-spacing-d('margin', 'top', '-');
  }

  &r-d {
    @include p-spacing-d('margin', 'right', '-');
  }

  &b-d {
    @include p-spacing-d('margin', 'bottom', '-');
  }

  &l-d {
    @include p-spacing-d('margin', 'left', '-');
  }

  &-d {
    @include p-spacing-d('margin', '', '-');
  }

  &t-e {
    @include p-spacing-e('margin', 'top', '-');
  }

  &r-e {
    @include p-spacing-e('margin', 'right', '-');
  }

  &b-e {
    @include p-spacing-e('margin', 'bottom', '-');
  }

  &l-e {
    @include p-spacing-e('margin', 'left', '-');
  }

  &-e {
    @include p-spacing-e('margin', '', '-');
  }

  &t-f {
    @include p-spacing-f('margin', 'top', '-');
  }

  &r-f {
    @include p-spacing-f('margin', 'right', '-');
  }

  &b-f {
    @include p-spacing-f('margin', 'bottom', '-');
  }

  &l-f {
    @include p-spacing-f('margin', 'left', '-');
  }

  &-f {
    @include p-spacing-f('margin', '', '-');
  }

  &t-g {
    @include p-spacing-g('margin', 'top', '-');
  }

  &r-g {
    @include p-spacing-g('margin', 'right', '-');
  }

  &b-g {
    @include p-spacing-g('margin', 'bottom', '-');
  }

  &l-g {
    @include p-spacing-g('margin', 'left', '-');
  }

  &-g {
    @include p-spacing-g('margin', '', '-');
  }
}

/*
 * padding spacings
 */
.#{$p-global-class-prefix}spacing-p {
  @each $name, $spacing in $p-spacings {
    &-#{$name} {
      padding: $spacing;
    }

    &t-#{$name} {
      padding-top: $spacing;
    }

    &r-#{$name} {
      padding-right: $spacing;
    }

    &b-#{$name} {
      padding-bottom: $spacing;
    }

    &l-#{$name} {
      padding-left: $spacing;
    }

    &-0-min {
      @include generate-min-major-breakpoints() {
        padding: 0;
      }
    }

    &t-0-min {
      @include generate-min-major-breakpoints() {
        padding-top: 0;
      }
    }

    &r-0-min {
      @include generate-min-major-breakpoints() {
        padding-right: 0;
      }
    }

    &b-0-min {
      @include generate-min-major-breakpoints() {
        padding-bottom: 0;
      }
    }

    &l-0-min {
      @include generate-min-major-breakpoints() {
        padding-left: 0;
      }
    }

    &-0-max {
      @include generate-max-major-breakpoints() {
        padding: 0;
      }
    }

    &t-0-max {
      @include generate-max-major-breakpoints() {
        padding-top: 0;
      }
    }

    &r-0-max {
      @include generate-max-major-breakpoints() {
        padding-right: 0;
      }
    }

    &b-0-max {
      @include generate-max-major-breakpoints() {
        padding-bottom: 0;
      }
    }

    &l-0-max {
      @include generate-max-major-breakpoints() {
        padding-left: 0;
      }
    }
  }

  /*
   * responsive padding spacings
   */
  &t-a {
    @include p-spacing-a('padding', 'top');
  }

  &r-a {
    @include p-spacing-a('padding', 'right');
  }

  &b-a {
    @include p-spacing-a('padding', 'bottom');
  }

  &l-a {
    @include p-spacing-a('padding', 'left');
  }

  &-a {
    @include p-spacing-a('padding');
  }

  &t-b {
    @include p-spacing-b('padding', 'top');
  }

  &r-b {
    @include p-spacing-b('padding', 'right');
  }

  &b-b {
    @include p-spacing-b('padding', 'bottom');
  }

  &l-b {
    @include p-spacing-b('padding', 'left');
  }

  &-b {
    @include p-spacing-b('padding');
  }

  &t-c {
    @include p-spacing-c('padding', 'top');
  }

  &r-c {
    @include p-spacing-c('padding', 'right');
  }

  &b-c {
    @include p-spacing-c('padding', 'bottom');
  }

  &l-c {
    @include p-spacing-c('padding', 'left');
  }

  &-c {
    @include p-spacing-c('padding');
  }

  &t-d {
    @include p-spacing-d('padding', 'top');
  }
  &r-d {
    @include p-spacing-d('padding', 'right');
  }

  &b-d {
    @include p-spacing-d('padding', 'bottom');
  }

  &l-d {
    @include p-spacing-d('padding', 'left');
  }

  &-d {
    @include p-spacing-d('padding');
  }

  &t-e {
    @include p-spacing-e('padding', 'top');
  }

  &r-e {
    @include p-spacing-e('padding', 'right');
  }

  &b-e {
    @include p-spacing-e('padding', 'bottom');
  }

  &l-e {
    @include p-spacing-e('padding', 'left');
  }

  &-e {
    @include p-spacing-e('padding');
  }

  &t-f {
    @include p-spacing-f('padding', 'top');
  }

  &r-f {
    @include p-spacing-f('padding', 'right');
  }

  &b-f {
    @include p-spacing-f('padding', 'bottom');
  }

  &l-f {
    @include p-spacing-f('padding', 'left');
  }

  &-f {
    @include p-spacing-f('padding');
  }

  &t-g {
    @include p-spacing-g('padding', 'top');
  }

  &r-g {
    @include p-spacing-g('padding', 'right');
  }

  &b-g {
    @include p-spacing-g('padding', 'bottom');
  }

  &l-g {
    @include p-spacing-g('padding', 'left');
  }

  &-g {
    @include p-spacing-g('padding');
  }
}
