:root {
  --p-animation-duration__spinner: 0s !important;
}

/*html, body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

#app {
  padding: 2rem;
}

.playground {
  padding: 1rem;
}

.playground.light {
  background: #fff;
}

.playground.dark {
  background: #1a2023;
}
