@import 'event-tile.setup.scss';
@import '../../../base/layout/flex.mixin.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/text-color/text-color.mixin';
@import '../../../base/background/background.mixin.scss';
@import '../../../mixins/breakpoint.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}event-tile {

  &__wrapper {
    padding-top: $event-tile-inner-offset-top;
    padding-bottom: $event-tile-inner-offset-bottom;
    border-bottom: $event-tile-border-width solid $event-tile-inner-border-color;
  }

  &__inner {
    @include -background-grey-1;
    @include -spacing-inner-a;

    @include breakpoint('xxs') {
      &-headline {
        @include -spacing-b
      }
    }
    @include breakpoint('l') {

      &-headline {
        @include -spacing-zero;
      }
    }
  }

  &__body {
    @include flex--grow(1);
  }

  &__img {
    width: $event-tile-img-width;
    height: $event-tile-img-height;
  }
}
