{{> molecules-password-complexity-bar
    password-complexity-bar_statusWeak=password-complexity-checker_stateWeak
    password-complexity-bar_statusMedium=password-complexity-checker_stateMedium
    password-complexity-bar_statusStrong=password-complexity-checker_stateStrong }}

{{#if password-complexity-checker_stateMessage }}
  <p class="-text-size-copy -spacing-12 -text-color-grey-5">Passwortstärke: <span class="-text-color-black">{{password-complexity-checker_stateMessage}}</span></p>
{{/if}}

{{> molecules-password-complexity-hint styleModifier="-spacing-b"}}

