@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';
@import 'callout.setup.scss';

.#{$global-class-prefix}callout {
  $bem-block: &;

  @include -spacing-inner-a;
  @include -text-size-copy;
  max-width: $callout-max-width;
  position: relative;
  background-color: $callout-panel-background-color;

  &__title {
    @include -spacing-6(bottom);
    @include -text-size-5-thin;
    color: $callout-title-color;
  }

  &__arrow {
    position: absolute;
    left: $callout-arrow-left;
    border-color: $callout-panel-background-color;
    border-left: $callout-arrow-size solid transparent;
    border-right: $callout-arrow-size solid transparent;
    border-bottom: $callout-arrow-size solid $callout-panel-background-color;
  }

  &--top {
    margin-top: $callout-outer-spacing;

    #{$bem-block}__arrow {
      top: -$callout-arrow-size;
    }
  }

  &--bottom {
    margin-bottom: $callout-outer-spacing;

    #{$bem-block}__arrow {
      bottom: -$callout-arrow-size;
      transform: rotate(180deg);
    }
  }
}
