@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$callout-max-width: rem(400px) !default;

$callout-panel-background-color: $color-palette-grey-1 !default;

$callout-title-color: $color-palette-black !default;

$callout-arrow-border-size: rem(8px) !default;
$callout-arrow-left: calc(50% - #{$callout-arrow-border-size}) !default;
