<h2 class="-text-size-3-thin -text-color-black">Notifications</h2>

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Default Notification</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_default }}

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Default Notification with Confirm Button</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_defaultWithConfirmButton }}

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Error Notification</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_error }}

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Offline Banner Notification</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_offlineBanner }}

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Cookie Notification</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_cookie }}

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Multiple Notifications</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_multiple }}

<h4 class="-text-size-5-thin -text-color-black -spacing-30">Edge Case Tests</h4>
{{> organisms-notification styleModifier="-spacing-12" notification=notifications_edgeCases }}
