@mixin icon-base() {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "pag-iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin icon-rotate($degree) {
    display: block;
    transform: rotate(#{$degree}deg);
}
