@import '../../../../../../packages/scss-utils/index';

@mixin p-textarea-wrapper-label-text-visible() {
  position: static;
  width: auto;
  height: auto;
  margin: 0 0 $p-spacing-4 0;
  padding: 0;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin p-textarea-wrapper-label-text-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: block;
}

::slotted(textarea) {
  width: 100% !important;
  min-height: p-rem(192px);
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: transparent none !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border-width: 0 !important;
  border-top-color: transparent !important;
  background-color: transparent !important;
  opacity: 1 !important;
  font-family: $p-font-primary !important;
  font-weight: $p-font-weight-regular !important;
  font-size: p-font-size($p-text-size-small) !important;
  line-height: p-line-height($p-text-size-small) !important;
  text-indent: 0 !important;
  color: $p-color-theme-light-default !important;
  resize: vertical;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier,
  border-top-color 0.00001ms linear !important; // used for transitionend event listener;
}

// Focus
::slotted(textarea:focus) {
  outline: $p-color-theme-light-state-focus solid 2px !important;
  outline-offset: calc(.75rem + 1px) !important;
}

::slotted(textarea:read-only:focus) {
  outline: none !important;
}

// Read only
::slotted(textarea:not(:disabled):read-only) {
  border-top-color: $p-color-theme-light-surface !important;
  color: $p-color-theme-light-neutral-contrast-medium !important;
}

// Disabled
::slotted(textarea:disabled) {
  border-top-color: $p-color-theme-light-state-disabled !important;
  color: $p-color-theme-light-state-disabled !important;
  cursor: not-allowed !important;
}

.#{$p-global-class-prefix}textarea-wrapper {

  &__wrapper {
    display: block;
  }

  &__label {
    display: block;
  }

  &__label-text {
    display: inline-block;
    color: $p-color-theme-light-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &--disabled {
      color: $p-color-theme-light-state-disabled;
    }

    &--visible {
      @include p-textarea-wrapper-label-text-visible;
    }

    &--hidden {
      @include p-textarea-wrapper-label-text-hidden;
    }

    @include p-breakpoint("xs") {
      &--visible-xs {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-xs {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("s") {
      &--visible-s {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-s {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("m") {
      &--visible-m {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-m {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("l") {
      &--visible-l {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-l {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("xl") {
      &--visible-xl {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-xl {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }
  }

  &__container {
    display: block;
    background-color: $p-color-theme-light-background;
    border: 1px solid $p-color-theme-light-default;
    padding: calc(.75rem - 1px);
    box-sizing: border-box;
    transition: border-color $p-animation-hover-duration $p-animation-hover-bezier,
    background-color $p-animation-hover-duration $p-animation-hover-bezier;

    &--disabled {
      border-color: $p-color-theme-light-state-disabled;
      background-color: $p-color-theme-light-background;
    }

    &--readonly {
      border-color: $p-color-theme-light-surface;
      background-color: $p-color-theme-light-surface;
    }

    &--success {
      border-color: $p-color-theme-light-notification-success;
      border-width: 2px;
      padding: calc(.75rem - 2px);
    }

    &--error {
      border-color: $p-color-theme-light-notification-error;
      border-width: 2px;
      padding: calc(.75rem - 2px);
    }
  }

  &__message {
    margin-top: $p-spacing-4;
    color: $p-color-theme-light-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &--success {
      color: $p-color-theme-light-notification-success;
    }

    &--error {
      color: $p-color-theme-light-notification-error;
    }

    &--none {
      color: $p-color-theme-light-default;
    }
  }
}
