<div class="icon-close {{ styleModifier }} {{#if icon-close_notification }} icon-close--notification {{/if}}">
  <span class="icon-close__icon icon icon--close {{#if icon-close_dark}} icon-close__icon--dark {{/if}} {{#if icon-close_notification }}icon-close__icon--notification {{/if}}"></span>
</div>
