@mixin codeHighlighting($theme: 'light') {
  @if ($theme == 'light') {
    code,
    pre {
      color: $p-color-default;
      text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    }

    pre {
      code ::v-deep {
        .token.comment,
        .token.prolog,
        .token.doctype,
        .token.cdata {
          color: #aaa;
        }

        .token.punctuation {
          color: #999;
        }

        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.constant,
        .token.symbol {
          color: #0cf;
        }

        .token.selector,
        .token.attr-name,
        .token.string,
        .token.char,
        .token.builtin {
          color: royalblue;
        }

        .token.operator,
        .token.entity,
        .token.url,
        .toke.variable,
        .token.inserted {
          color: yellowgreen;
        }

        .token.atrule,
        .token.attr-value,
        .token.keyword {
          color: deeppink;
        }

        .token.script {
          color: hotpink;
        }

        .token.regex,
        .token.important {
          color: orange;
        }

        .token.deleted {
          color: red;
        }
      }
    }
  } @else if($theme == 'dark') {
    code,
    pre {
      color: $p-color-theme-dark-default;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    }

    pre {
      code ::v-deep {
        .token.comment,
        .token.prolog,
        .token.doctype,
        .token.cdata {
          color: #4a5f78;
        }

        .token.punctuation {
          color: #4a5f78;
        }

        .token.tag,
        .token.operator,
        .token.number {
          color: #0aa370;
        }

        .token.property,
        .token.function {
          color: #57718e;
        }

        .token.tag-id,
        .token.selector,
        .token.atrule-id {
          color: #ebf4ff;
        }

        .token.attr-name {
          color: #7eb6f6;
        }

        .token.boolean,
        .token.string,
        .token.entity,
        .token.url,
        .token.attr-value,
        .token.keyword,
        .token.control,
        .token.directive,
        .token.unit,
        .token.statement,
        .token.regex,
        .token.atrule,
        .token.placeholder,
        .token.variable {
          color: #47ebb4;
        }
      }
    }
  }
}
