@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: theme(colors.background-surface.DEFAULT);
    color: theme(colors.primary.DEFAULT);
  }

  code {
    display: block;
    padding: theme(spacing.static-md);
    border-radius: theme(borderRadius.md);
    overflow-x: auto;
    background-color: theme(colors.background-code.DEFAULT);
    font-family: theme(fontFamily.code);
    font-weight: theme(fontWeight.regular);
    font-size: theme(fontSize.xs);
    line-height: 1.5;
    color: theme(colors.primary.DEFAULT);
  }

  :not(pre) > code {
    display: inline;
    padding: 2px 6px;
    border-radius: theme(borderRadius.sm);
    overflow-x: visible;
    font-weight: theme(fontWeight.bold);
    color: theme(colors.contrast-high.DEFAULT);
  }

  p-text-list :is(p-text-list, p-text) {
    margin: 0 !important;
  }

  p-inline-notification {
    margin-block: theme(spacing.sm);
  }

  .deprecated {
    color: theme(colors.notification-error.DEFAULT);
    text-transform: uppercase;
  }
}
