@import '@porsche-design-system/components-react';
@import 'tailwindcss';
@import '@porsche-design-system/components-react/tailwindcss';
@source "../../../../node_modules/@porsche-design-system/shared/examples/*.tsx";

@theme {
  --_pds-grid-narrow-offset: max(22px, 10.625vw - 12px);
  --_pds-grid-narrow-offset-sm: calc(5vw - 16px + (clamp(16px, 1.25vw + 12px, 36px) + (100vw - (5vw - 16px) * 2 - clamp(16px, 1.25vw + 12px, 36px) * 15) / 16) * 4);
  --_pds-grid-narrow-offset-2xl: calc(max(0px, 50vw - 1280px) + min(50vw - 880px, 400px) + (clamp(16px, 1.25vw + 12px, 36px) + (min(100vw, 2560px) - min(50vw - 880px, 400px) * 2 - clamp(16px, 1.25vw + 12px, 36px) * 15) / 16) * 4);
  --_pds-grid-basic-offset: max(22px, 10.625vw - 12px);
  --_pds-grid-basic-offset-sm: calc(5vw - 16px + (clamp(16px, 1.25vw + 12px, 36px) + (100vw - (5vw - 16px) * 2 - clamp(16px, 1.25vw + 12px, 36px) * 15) / 16) * 2);
  --_pds-grid-basic-offset-2xl: calc(max(0px, 50vw - 1280px) + min(50vw - 880px, 400px) + (clamp(16px, 1.25vw + 12px, 36px) + (min(100vw, 2560px) - min(50vw - 880px, 400px) * 2 - clamp(16px, 1.25vw + 12px, 36px) * 15) / 16) * 2);
  --_pds-grid-extended-offset: max(22px, 10.625vw - 12px);
  --_pds-grid-extended-offset-sm: calc(5vw - 16px + (clamp(16px, 1.25vw + 12px, 36px) + (100vw - (5vw - 16px) * 2 - clamp(16px, 1.25vw + 12px, 36px) * 15) / 16) * 1);
  --_pds-grid-extended-offset-2xl: calc(max(0px, 50vw - 1280px) + min(50vw - 880px, 400px) + (clamp(16px, 1.25vw + 12px, 36px) + (min(100vw, 2560px) - min(50vw - 880px, 400px) * 2 - clamp(16px, 1.25vw + 12px, 36px) * 15) / 16) * 1);
  --_pds-grid-wide-offset: max(22px, 10.625vw - 12px);
  --_pds-grid-wide-offset-sm: calc(5vw - 16px);
  --_pds-grid-wide-offset-2xl: calc(max(0px, 50vw - 1280px) + min(50vw - 880px, 400px));
  --_pds-grid-full-offset: max(0px, 50vw - 1280px);
  --_pds-grid-visualization-color: rgba(0,0,255,.1);
  --_pds-grid-visualization-grid-gap: var(--spacing-fluid-md);
  --_pds-grid-visualization-safe-zone-base: var(--_pds-grid-wide-offset);
  --_pds-grid-visualization-column-width-base: calc((100% - var(--_pds-grid-visualization-safe-zone-base) * 2 - var(--_pds-grid-visualization-grid-gap) * 5) / 6);
  --_pds-grid-visualization-base: to right,
  var(--_pds-grid-visualization-color) 0%,
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) - var(--_pds-grid-visualization-grid-gap)),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) - var(--_pds-grid-visualization-grid-gap)),
  transparent var(--_pds-grid-visualization-safe-zone-base),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 0 + var(--_pds-grid-visualization-grid-gap) * 0),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 1 + var(--_pds-grid-visualization-grid-gap) * 0),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 1 + var(--_pds-grid-visualization-grid-gap) * 0),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 1 + var(--_pds-grid-visualization-grid-gap) * 1),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 1 + var(--_pds-grid-visualization-grid-gap) * 1),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 2 + var(--_pds-grid-visualization-grid-gap) * 1),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 2 + var(--_pds-grid-visualization-grid-gap) * 1),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 2 + var(--_pds-grid-visualization-grid-gap) * 2),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 2 + var(--_pds-grid-visualization-grid-gap) * 2),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 3 + var(--_pds-grid-visualization-grid-gap) * 2),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 3 + var(--_pds-grid-visualization-grid-gap) * 2),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 3 + var(--_pds-grid-visualization-grid-gap) * 3),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 3 + var(--_pds-grid-visualization-grid-gap) * 3),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 4 + var(--_pds-grid-visualization-grid-gap) * 3),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 4 + var(--_pds-grid-visualization-grid-gap) * 3),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 4 + var(--_pds-grid-visualization-grid-gap) * 4),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 4 + var(--_pds-grid-visualization-grid-gap) * 4),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 5 + var(--_pds-grid-visualization-grid-gap) * 4),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 5 + var(--_pds-grid-visualization-grid-gap) * 4),
  transparent calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 5 + var(--_pds-grid-visualization-grid-gap) * 5),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 5 + var(--_pds-grid-visualization-grid-gap) * 5),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-column-width-base) * 6 + var(--_pds-grid-visualization-grid-gap) * 5),
  transparent calc(100% - var(--_pds-grid-visualization-safe-zone-base)),
  transparent calc(100% - var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-grid-gap)),
  var(--_pds-grid-visualization-color) calc(100% - var(--_pds-grid-visualization-safe-zone-base) + var(--_pds-grid-visualization-grid-gap)),
  var(--_pds-grid-visualization-color) 100%;
  --_pds-grid-visualization-safe-zone-sm: var(--_pds-grid-wide-offset-sm);
  --_pds-grid-visualization-column-width-sm: calc((100% - var(--_pds-grid-visualization-safe-zone-sm) * 2 - var(--_pds-grid-visualization-grid-gap) * 15) / 16);
  --_pds-grid-visualization-sm: to right,
  var(--_pds-grid-visualization-color) 0%,
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) - var(--_pds-grid-visualization-grid-gap)),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) - var(--_pds-grid-visualization-grid-gap)),
  transparent var(--_pds-grid-visualization-safe-zone-sm),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 0 + var(--_pds-grid-visualization-grid-gap) * 0),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 1 + var(--_pds-grid-visualization-grid-gap) * 0),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 1 + var(--_pds-grid-visualization-grid-gap) * 0),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 1 + var(--_pds-grid-visualization-grid-gap) * 1),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 1 + var(--_pds-grid-visualization-grid-gap) * 1),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 2 + var(--_pds-grid-visualization-grid-gap) * 1),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 2 + var(--_pds-grid-visualization-grid-gap) * 1),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 2 + var(--_pds-grid-visualization-grid-gap) * 2),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 2 + var(--_pds-grid-visualization-grid-gap) * 2),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 3 + var(--_pds-grid-visualization-grid-gap) * 2),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 3 + var(--_pds-grid-visualization-grid-gap) * 2),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 3 + var(--_pds-grid-visualization-grid-gap) * 3),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 3 + var(--_pds-grid-visualization-grid-gap) * 3),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 4 + var(--_pds-grid-visualization-grid-gap) * 3),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 4 + var(--_pds-grid-visualization-grid-gap) * 3),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 4 + var(--_pds-grid-visualization-grid-gap) * 4),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 4 + var(--_pds-grid-visualization-grid-gap) * 4),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 5 + var(--_pds-grid-visualization-grid-gap) * 4),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 5 + var(--_pds-grid-visualization-grid-gap) * 4),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 5 + var(--_pds-grid-visualization-grid-gap) * 5),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 5 + var(--_pds-grid-visualization-grid-gap) * 5),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 6 + var(--_pds-grid-visualization-grid-gap) * 5),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 6 + var(--_pds-grid-visualization-grid-gap) * 5),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 6 + var(--_pds-grid-visualization-grid-gap) * 6),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 6 + var(--_pds-grid-visualization-grid-gap) * 6),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 7 + var(--_pds-grid-visualization-grid-gap) * 6),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 7 + var(--_pds-grid-visualization-grid-gap) * 6),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 7 + var(--_pds-grid-visualization-grid-gap) * 7),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 7 + var(--_pds-grid-visualization-grid-gap) * 7),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 8 + var(--_pds-grid-visualization-grid-gap) * 7),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 8 + var(--_pds-grid-visualization-grid-gap) * 7),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 8 + var(--_pds-grid-visualization-grid-gap) * 8),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 8 + var(--_pds-grid-visualization-grid-gap) * 8),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 9 + var(--_pds-grid-visualization-grid-gap) * 8),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 9 + var(--_pds-grid-visualization-grid-gap) * 8),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 9 + var(--_pds-grid-visualization-grid-gap) * 9),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 9 + var(--_pds-grid-visualization-grid-gap) * 9),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 10 + var(--_pds-grid-visualization-grid-gap) * 9),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 10 + var(--_pds-grid-visualization-grid-gap) * 9),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 10 + var(--_pds-grid-visualization-grid-gap) * 10),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 10 + var(--_pds-grid-visualization-grid-gap) * 10),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 11 + var(--_pds-grid-visualization-grid-gap) * 10),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 11 + var(--_pds-grid-visualization-grid-gap) * 10),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 11 + var(--_pds-grid-visualization-grid-gap) * 11),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 11 + var(--_pds-grid-visualization-grid-gap) * 11),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 12 + var(--_pds-grid-visualization-grid-gap) * 11),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 12 + var(--_pds-grid-visualization-grid-gap) * 11),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 12 + var(--_pds-grid-visualization-grid-gap) * 12),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 12 + var(--_pds-grid-visualization-grid-gap) * 12),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 13 + var(--_pds-grid-visualization-grid-gap) * 12),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 13 + var(--_pds-grid-visualization-grid-gap) * 12),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 13 + var(--_pds-grid-visualization-grid-gap) * 13),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 13 + var(--_pds-grid-visualization-grid-gap) * 13),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 14 + var(--_pds-grid-visualization-grid-gap) * 13),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 14 + var(--_pds-grid-visualization-grid-gap) * 13),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 14 + var(--_pds-grid-visualization-grid-gap) * 14),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 14 + var(--_pds-grid-visualization-grid-gap) * 14),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 15 + var(--_pds-grid-visualization-grid-gap) * 14),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 15 + var(--_pds-grid-visualization-grid-gap) * 14),
  transparent calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 15 + var(--_pds-grid-visualization-grid-gap) * 15),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 15 + var(--_pds-grid-visualization-grid-gap) * 15),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-column-width-sm) * 16 + var(--_pds-grid-visualization-grid-gap) * 15),
  transparent calc(100% - var(--_pds-grid-visualization-safe-zone-sm)),
  transparent calc(100% - var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-grid-gap)),
  var(--_pds-grid-visualization-color) calc(100% - var(--_pds-grid-visualization-safe-zone-sm) + var(--_pds-grid-visualization-grid-gap)),
  var(--_pds-grid-visualization-color) 100%;
  --_pds-grid-visualization-safe-zone-2xl: var(--_pds-grid-wide-offset-2xl);
  --_pds-grid-visualization-column-width-2xl: calc((100% - var(--_pds-grid-visualization-safe-zone-2xl) * 2 - var(--_pds-grid-visualization-grid-gap) * 15) / 16);
  --_pds-grid-visualization-2xl: to right,
  var(--_pds-grid-visualization-color) 0%,
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) - var(--_pds-grid-visualization-grid-gap)),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) - var(--_pds-grid-visualization-grid-gap)),
  transparent var(--_pds-grid-visualization-safe-zone-2xl),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 0 + var(--_pds-grid-visualization-grid-gap) * 0),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 1 + var(--_pds-grid-visualization-grid-gap) * 0),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 1 + var(--_pds-grid-visualization-grid-gap) * 0),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 1 + var(--_pds-grid-visualization-grid-gap) * 1),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 1 + var(--_pds-grid-visualization-grid-gap) * 1),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 2 + var(--_pds-grid-visualization-grid-gap) * 1),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 2 + var(--_pds-grid-visualization-grid-gap) * 1),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 2 + var(--_pds-grid-visualization-grid-gap) * 2),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 2 + var(--_pds-grid-visualization-grid-gap) * 2),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 3 + var(--_pds-grid-visualization-grid-gap) * 2),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 3 + var(--_pds-grid-visualization-grid-gap) * 2),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 3 + var(--_pds-grid-visualization-grid-gap) * 3),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 3 + var(--_pds-grid-visualization-grid-gap) * 3),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 4 + var(--_pds-grid-visualization-grid-gap) * 3),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 4 + var(--_pds-grid-visualization-grid-gap) * 3),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 4 + var(--_pds-grid-visualization-grid-gap) * 4),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 4 + var(--_pds-grid-visualization-grid-gap) * 4),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 5 + var(--_pds-grid-visualization-grid-gap) * 4),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 5 + var(--_pds-grid-visualization-grid-gap) * 4),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 5 + var(--_pds-grid-visualization-grid-gap) * 5),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 5 + var(--_pds-grid-visualization-grid-gap) * 5),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 6 + var(--_pds-grid-visualization-grid-gap) * 5),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 6 + var(--_pds-grid-visualization-grid-gap) * 5),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 6 + var(--_pds-grid-visualization-grid-gap) * 6),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 6 + var(--_pds-grid-visualization-grid-gap) * 6),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 7 + var(--_pds-grid-visualization-grid-gap) * 6),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 7 + var(--_pds-grid-visualization-grid-gap) * 6),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 7 + var(--_pds-grid-visualization-grid-gap) * 7),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 7 + var(--_pds-grid-visualization-grid-gap) * 7),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 8 + var(--_pds-grid-visualization-grid-gap) * 7),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 8 + var(--_pds-grid-visualization-grid-gap) * 7),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 8 + var(--_pds-grid-visualization-grid-gap) * 8),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 8 + var(--_pds-grid-visualization-grid-gap) * 8),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 9 + var(--_pds-grid-visualization-grid-gap) * 8),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 9 + var(--_pds-grid-visualization-grid-gap) * 8),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 9 + var(--_pds-grid-visualization-grid-gap) * 9),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 9 + var(--_pds-grid-visualization-grid-gap) * 9),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 10 + var(--_pds-grid-visualization-grid-gap) * 9),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 10 + var(--_pds-grid-visualization-grid-gap) * 9),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 10 + var(--_pds-grid-visualization-grid-gap) * 10),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 10 + var(--_pds-grid-visualization-grid-gap) * 10),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 11 + var(--_pds-grid-visualization-grid-gap) * 10),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 11 + var(--_pds-grid-visualization-grid-gap) * 10),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 11 + var(--_pds-grid-visualization-grid-gap) * 11),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 11 + var(--_pds-grid-visualization-grid-gap) * 11),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 12 + var(--_pds-grid-visualization-grid-gap) * 11),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 12 + var(--_pds-grid-visualization-grid-gap) * 11),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 12 + var(--_pds-grid-visualization-grid-gap) * 12),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 12 + var(--_pds-grid-visualization-grid-gap) * 12),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 13 + var(--_pds-grid-visualization-grid-gap) * 12),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 13 + var(--_pds-grid-visualization-grid-gap) * 12),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 13 + var(--_pds-grid-visualization-grid-gap) * 13),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 13 + var(--_pds-grid-visualization-grid-gap) * 13),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 14 + var(--_pds-grid-visualization-grid-gap) * 13),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 14 + var(--_pds-grid-visualization-grid-gap) * 13),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 14 + var(--_pds-grid-visualization-grid-gap) * 14),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 14 + var(--_pds-grid-visualization-grid-gap) * 14),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 15 + var(--_pds-grid-visualization-grid-gap) * 14),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 15 + var(--_pds-grid-visualization-grid-gap) * 14),
  transparent calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 15 + var(--_pds-grid-visualization-grid-gap) * 15),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 15 + var(--_pds-grid-visualization-grid-gap) * 15),
  var(--_pds-grid-visualization-color) calc(var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-column-width-2xl) * 16 + var(--_pds-grid-visualization-grid-gap) * 15),
  transparent calc(100% - var(--_pds-grid-visualization-safe-zone-2xl)),
  transparent calc(100% - var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-grid-gap)),
  var(--_pds-grid-visualization-color) calc(100% - var(--_pds-grid-visualization-safe-zone-2xl) + var(--_pds-grid-visualization-grid-gap)),
  var(--_pds-grid-visualization-color) 100%;
}

@layer components {
  ._pds-grid-visualization {
    @apply bg-linear-(--_pds-grid-visualization-base) sm:bg-linear-(--_pds-grid-visualization-sm) 2xl:bg-linear-(--_pds-grid-visualization-2xl);
  }
}

@theme {
  --font-code: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --max-width-prose: 85ch;

  /* hljs colors - WCAG AA compliant (4.5:1 minimum contrast ratio) */
  /* Light background: #EEEFF266 ≈ #F5F5F7, Dark background: #21222599 ≈ #181a1e */
  --hljs-color: light-dark(#383a42, #c5cad3);
  --hljs-background: light-dark(#EEEFF266, #21222599);
  --hljs-comment-color: light-dark(#5c5d61, #9198a6);
  --hljs-quote-color: light-dark(#5c5d61, #9198a6);
  --hljs-doctag-color: light-dark(#8a1d96, #d9a1e8);
  --hljs-keyword-color: light-dark(#8a1d96, #d9a1e8);
  --hljs-formula-color: light-dark(#8a1d96, #d9a1e8);
  --hljs-section-color: light-dark(#c01000, #f08880);
  --hljs-name-color: light-dark(#c01000, #f08880);
  --hljs-selector-tag-color: light-dark(#c01000, #f08880);
  --hljs-deletion-color: light-dark(#82071e, #ffdcd7);
  --hljs-deletion-background: light-dark(#ffebe9, #67060c);
  --hljs-subst-color: light-dark(#c01000, #f08880);
  --hljs-literal-color: light-dark(#006898, #6fd4e8);
  --hljs-string-color: light-dark(#027000, #a8d98f);
  --hljs-regexp-color: light-dark(#027000, #a8d98f);
  --hljs-addition-color: light-dark(#116329, #aff5b4);
  --hljs-addition-background: light-dark(#dafbe1, #033a16);
  --hljs-attribute-color: light-dark(#027000, #a8d98f);
  --hljs-meta-string-color: light-dark(#027000, #a8d98f);
  --hljs-built-in-color: light-dark(#7a5200, #efc56e);
  --hljs-attr-color: light-dark(#7a5200, #efc56e);
  --hljs-variable-color: light-dark(#7a5200, #e8b878);
  --hljs-template-variable-color: light-dark(#7a5200, #e8b878);
  --hljs-type-color: light-dark(#7a5200, #e8b878);
  --hljs-selector-class-color: light-dark(#7a5200, #e8b878);
  --hljs-selector-attr-color: light-dark(#7a5200, #e8b878);
  --hljs-selector-pseudo-color: light-dark(#7a5200, #e8b878);
  --hljs-number-color: light-dark(#7a5200, #e8b878);
  --hljs-symbol-color: light-dark(#1858d9, #7fbfff);
  --hljs-bullet-color: light-dark(#1858d9, #7fbfff);
  --hljs-link-color: light-dark(#1858d9, #7fbfff);
  --hljs-meta-color: light-dark(#1858d9, #7fbfff);
  --hljs-selector-id-color: light-dark(#1858d9, #7fbfff);
  --hljs-title-color: light-dark(#1858d9, #7fbfff);
}

@layer base {
  body {
    background: var(--color-surface);
    color: var(--color-primary);
  }

  code {
    display: block;
    padding: var(--spacing-static-md);
    border-radius: var(--radius-md);
    overflow-x: auto;
    background-color: var(--hljs-background);
    font-family: var(--font-code);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-xs);
    line-height: 1.5;
    color: var(--hljs-color);
    hyphens: none;
  }

  :not(pre) > code {
    display: inline;
    padding: 2px 6px;
    border-radius: var(--radius-sm);
    overflow-x: visible;
    font-weight: var(--font-weight-bold);
    color: var(--color-contrast-high);
  }

  p-text-list :is(p-text-list, p-text) {
    margin: 0 !important;
  }

  p-inline-notification {
    margin-block: var(--spacing-fluid-md);
  }

  .deprecated {
    color: var(--color-error);
    text-transform: uppercase;
  }

  .hljs {
    /* color: theme(colors.hljsColor.DEFAULT);
    background: theme(colors.hljsBackground.DEFAULT); */
    border-radius: var(--radius-md);
  }

  .hljs-comment {
    color: var(--hljs-comment-color);
  }

  .hljs-quote {
    color: var(--hljs-quote-color);
  }

  .hljs-doctag {
    color: var(--hljs-doctag-color);
  }

  .hljs-keyword {
    color: var(--hljs-keyword-color);
  }

  .hljs-formula {
    color: var(--hljs-formula-color);
  }

  .hljs-section {
    color: var(--hljs-section-color);
  }

  .hljs-name {
    color: var(--hljs-name-color);
  }

  .hljs-selector-tag {
    color: var(--hljs-selector-tag-color);
  }

  .hljs-deletion {
    color: var(--hljs-deletion-color);
    background: var(--hljs-deletion-background);
  }

  .hljs-subst {
    color: var(--hljs-subst-color);
  }

  .hljs-literal {
    color: var(--hljs-literal-color);
  }

  .hljs-string {
    color: var(--hljs-string-color);
  }

  .hljs-regexp {
    color: var(--hljs-regexp-color);
  }

  .hljs-addition {
    color: var(--hljs-addition-color);
    background: var(--hljs-addition-background);
  }

  .hljs-attribute {
    color: var(--hljs-attribute-color);
  }

  .hljs-meta-string {
    color: var(--hljs-meta-string-color);
  }

  .hljs-built_in {
    color: var(--hljs-built-in-color);
  }

  .hljs-attr {
    color: var(--hljs-attr-color);
  }

  .hljs-variable {
    color: var(--hljs-variable-color);
  }

  .hljs-template-variable {
    color: var(--hljs-template-variable-color);
  }

  .hljs-type {
    color: var(--hljs-type-color);
  }

  .hljs-selector-class {
    color: var(--hljs-selector-class-color);
  }

  .hljs-selector-attr {
    color: var(--hljs-selector-attr-color);
  }

  .hljs-selector-pseudo {
    color: var(--hljs-selector-pseudo-color);
  }

  .hljs-number {
    color: var(--hljs-number-color);
  }

  .hljs-symbol {
    color: var(--hljs-symbol-color);
  }

  .hljs-bullet {
    color: var(--hljs-bullet-color);
  }

  .hljs-link {
    color: var(--hljs-link-color);
    text-decoration: underline;
  }

  .hljs-meta {
    color: var(--hljs-meta-color);
  }

  .hljs-selector-id {
    color: var(--hljs-selector-id-color);
  }

  .hljs-title {
    color: var(--hljs-title-color);
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: var(--font-weight-bold);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animation="fade-in-up"] {
  opacity: 0;
  transform: translateY(60px);
}
[data-animation="fade-in-up"].animation-play {
  animation: fade-in-up var(--p-animation-duration, 0.6s) ease-out forwards;
}

@keyframes tile-fade-in-up {
  0% {
    opacity: 0.3;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animation="tile-fade-in-up"] {
  opacity: 0.3;
  transform: translateY(20px);
}
[data-animation="tile-fade-in-up"].animation-play {
  animation: tile-fade-in-up var(--p-animation-duration, 0.6s) ease-out forwards;
  animation-delay: 0.3s;
}

[data-animation].animation-play {
  animation-delay: var(--animation-delay, 0s); /* Standard: 0s */
}

[data-animation].animation-play {
  animation: fade-in-up var(--p-animation-duration, 0.6s) ease-out forwards;
}
