@import "~@porsche-design-system/utilities/scss";

// maybe variables can be released and used by customers who want to create there own fully custom base grid system
$p-grid-max-width: 120rem;
$p-grid-gutter: min(max(2vw, .5rem), 2.25rem);

@function debug-grid-column-width($columns) {
  @return calc((100% - (#{$p-grid-gutter} * #{$columns - 1})) / #{$columns});
}

@function debug-grid-column-start-pos($column, $columns) {
  @return calc((#{debug-grid-column-width($columns)} + #{$p-grid-gutter}) * #{$column - 1});
}

@function debug-grid-column-end-pos($column, $columns) {
  @return calc(debug-grid-column-start-pos($column, $columns) + calc(#{debug-grid-column-width($columns)}));
}

$debug-grid-column-color: rgba(255, 0, 0, 0.25);
$debug-grid-gutter-color: transparent;
$debug-grid-columns: 14;
$debug-grid-background: null;
@for $i from 1 through $debug-grid-columns {
  $debug-grid-column-start: debug-grid-column-start-pos($i, $debug-grid-columns);
  $debug-grid-column-end: debug-grid-column-end-pos($i, $debug-grid-columns);

  $debug-grid-background: $debug-grid-background, linear-gradient(90deg,
    $debug-grid-gutter-color 0, $debug-grid-gutter-color $debug-grid-column-start,
    $debug-grid-column-color $debug-grid-column-start, $debug-grid-column-color $debug-grid-column-end,
    $debug-grid-gutter-color $debug-grid-column-end, $debug-grid-gutter-color 100%,
  );
}

// JSS and Styled Components implementation is missing
@mixin p-grid($debug: false) {
  display: grid !important;
  grid-column-gap: #{$p-grid-gutter} !important;
  grid-template-columns:
    [main-start]
      minmax(0, 1fr)
        [content-start]
          repeat(12, minmax(0, 1fr))
        [content-end]
      minmax(0, 1fr)
    [main-end] !important;
  max-width: $p-grid-max-width !important;
  margin: 0 auto !important;
  padding: 0 !important;

  @if $debug {
    // for visualization reasons in storefront only, shall never be rolled out to costumer
    &::after {
      content: '';
      position: fixed;
      inset: 0;
      z-index: 9999999;
      max-width: $p-grid-max-width !important;
      margin: 0 auto !important;
      background: $debug-grid-background;
    }
  }
}
