@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

// Standard approach to show/hide elements and stay fully accessible, see https://webaim.org/techniques/css/invisiblecontent/
@mixin p-switch-label-visible() {
  position: static;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: visible;
}

@mixin p-switch-label-hidden() {
  position: absolute;
  left: -99999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:host {
  display: flex !important;
}

$root: '.root';

#{$root} {
  display: flex;
  min-width: 0; // prevents flex child to overflow max available parent size
  min-height: 0; // prevents flex child to overflow max available parent size
  width: auto;
  justify-content: flex-start;

  &:not(&--disabled) {
    cursor: pointer;
  }

  &--stretch-on {
    width: 100%;
    justify-content: space-between;
  }

  @each $breakpoint in $breakpoints {
    @include p-media-query($breakpoint) {
      &--stretch-on-#{$breakpoint} {
        width: 100%;
        justify-content: space-between;
      }

      &--stretch-off-#{$breakpoint} {
        width: auto;
        justify-content: flex-start;
      }
    }
  }
}

.text {
  @include p-switch-label-visible;
  order: 1;
  min-width: 0; // prevents flex child to overflow max available parent size
  min-height: 0; // prevents flex child to overflow max available parent size
  padding-left: $p-spacing-8;
  padding-right: 0;
  color: $p-color-default;

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
  }

  #{$root}--label-align-left & {
    order: 0;
    padding-left: 0;
    padding-right: $p-spacing-8;
  }

  #{$root}--label-hidden & {
    @include p-switch-label-hidden;
  }

  @each $breakpoint in $breakpoints {
    @include p-media-query($breakpoint) {
      #{$root}--label-align-left-#{$breakpoint} & {
        order: 0;
        padding-left: 0;
        padding-right: $p-spacing-8;
      }

      #{$root}--label-align-right-#{$breakpoint} & {
        order: 1;
        padding-left: $p-spacing-8;
        padding-right: 0;
      }

      #{$root}--label-visible-#{$breakpoint} & {
        @include p-switch-label-visible;
      }

      #{$root}--label-hidden-#{$breakpoint} & {
        @include p-switch-label-hidden;
      }
    }
  }

  #{$root}--disabled & {
    color: $p-color-state-disabled;

    @at-root #{$root}--theme-dark#{&} {
      color: $p-color-theme-dark-state-disabled;
    }
  }
}

button {
  position: relative;
  width: p-px-to-rem(48px);
  height: p-px-to-rem(24px);
  flex-shrink: 0;
  display: block;
  margin: 0;
  padding: 0;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid $p-color-neutral-contrast-high;
  border-radius: p-px-to-rem(12px);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color $p-animation-hover-duration-var $p-animation-hover-bezier,
    border-color $p-animation-hover-duration-var $p-animation-hover-bezier;

  #{$root}--theme-dark & {
    border-color: $p-color-theme-dark-neutral-contrast-high;
  }

  #{$root}--checked & {
    border-color: $p-color-notification-success;
    background-color: $p-color-notification-success;

    @at-root #{$root}--theme-dark#{&} {
      border-color: $p-color-theme-dark-notification-success;
      background-color: $p-color-theme-dark-notification-success;
    }
  }

  #{$root}--disabled & {
    border-color: $p-color-state-disabled;
    cursor: not-allowed;

    @at-root #{$root}--theme-dark#{&} {
      border-color: $p-color-theme-dark-state-disabled;
    }
  }

  #{$root}--disabled#{$root}--checked & {
    background-color: $p-color-state-disabled;

    @at-root #{$root}--theme-dark#{&} {
      background-color: $p-color-theme-dark-state-disabled;
    }
  }

  :not(#{$root}--disabled) &:hover {
    border-color: $p-color-default;

    @at-root #{$root}--theme-dark#{&} {
      border-color: $p-color-theme-dark-default;
    }
  }

  :not(#{$root}--disabled)#{$root}--checked &:hover {
    border-color: darken($p-color-notification-success, 12%);
    background-color: darken($p-color-notification-success, 12%);

    @at-root #{$root}--theme-dark#{&} {
      border-color: darken($p-color-theme-dark-notification-success, 12%);
      background-color: darken($p-color-theme-dark-notification-success, 12%);
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px $p-color-background-default, 0 0 0 3px $p-color-neutral-contrast-high;

    #{$root}--theme-dark & {
      box-shadow: 0 0 0 2px $p-color-theme-dark-background-default, 0 0 0 3px $p-color-theme-dark-neutral-contrast-high;
    }

    #{$root}--disabled & {
      box-shadow: 0 0 0 2px $p-color-background-default, 0 0 0 3px $p-color-state-disabled;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: 0 0 0 2px $p-color-theme-dark-background-default, 0 0 0 3px $p-color-theme-dark-state-disabled;
      }
    }
  }

  #{$root}--checked:not(#{$root}--disabled) &:focus {
    box-shadow: 0 0 0 2px $p-color-background-default, 0 0 0 3px $p-color-notification-success;

    @at-root #{$root}--theme-dark#{&} {
      box-shadow: 0 0 0 2px $p-color-theme-dark-background-default, 0 0 0 3px $p-color-theme-dark-notification-success;
    }
  }

  &:not(:focus-visible) {
    box-shadow: none !important;
  }
}

.toggle {
  position: absolute;
  top: p-px-to-rem(2px);
  left: p-px-to-rem(2px);
  width: p-px-to-rem(18px);
  height: p-px-to-rem(18px);
  display: block;
  border-radius: 50%;
  background-color: $p-color-neutral-contrast-high;
  transform: translate3d(0, 0, 0);
  transition: background-color $p-animation-hover-duration-var $p-animation-hover-bezier,
    transform $p-animation-hover-duration-var $p-animation-hover-bezier;

  #{$root}--theme-dark & {
    background-color: $p-color-theme-dark-neutral-contrast-high;
  }

  #{$root}--checked & {
    transform: translate3d(p-px-to-rem(24px), 0, 0);
    background-color: $p-color-background-default;
  }

  :not(#{$root}--checked)#{$root}--disabled & {
    background-color: $p-color-state-disabled;

    @at-root #{$root}--theme-dark#{&} {
      background-color: $p-color-theme-dark-state-disabled;
    }
  }

  :not(#{$root}--disabled):not(#{$root}--checked) button:hover & {
    background-color: $p-color-default;

    @at-root #{$root}--theme-dark#{&} {
      background-color: $p-color-theme-dark-default;
    }
  }
}

.spinner {
  position: absolute;
  top: p-px-to-rem(-3px);
  left: p-px-to-rem(-3px);
  width: p-px-to-rem(24px);
  height: p-px-to-rem(24px);
}
