@import '../../../../../../packages/scss-utils/index';

@mixin p-link-pure-icon-with-label() {
  position: absolute;
  left: 0;
  top: 0;
}

@mixin p-link-pure-icon-without-label() {
  position: static;
  top: auto;
  left: auto;
}

@mixin p-link-pure-label-with-label() {
  position: static;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0 0 calc(1.5em + .25rem);
  white-space: normal;
  overflow: visible;
  border: 0;
  clip: auto;
  clip-path: none;
}

@mixin p-link-pure-label-without-label() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}link-pure {
  $bem-block: &;
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent none;
  appearance: none;
  border: none;
  text-decoration: none;
  text-align: left;
  background: transparent;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier;

  &::-moz-focus-inner {
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 1px;
  }

  &--theme-light {
    color: $p-color-theme-light-default;

    &:focus {
      outline-color: $p-color-theme-light-state-focus;
    }

    &:hover,
    &:active {
      color: $p-color-theme-light-state-hover;
    }

    &#{$bem-block}--active {
      color: $p-color-theme-light-state-active;
    }
  }

  &--theme-dark {
    color: $p-color-theme-dark-default;

    &:focus {
      outline-color: $p-color-theme-dark-state-focus;
    }

    &:hover,
    &:active {
      color: $p-color-theme-dark-state-hover;
    }

    &#{$bem-block}--active {
      color: $p-color-theme-dark-state-hover;
    }
  }

  &--size {
    &-x-small {
      font-size: $p-text-size-x-small;
    }
    &-small {
      font-size: $p-text-size-small;
    }
    &-medium {
      font-size: $p-text-size-medium;
    }
    &-large {
      font-size: $p-text-size-large;
    }
    &-x-large {
      font-size: $p-text-size-x-large;
    }
    &-inherit {
      font-size: inherit;
    }

    @include p-breakpoint("xs") {
      &-x-small-xs {
        font-size: $p-text-size-x-small;
      }
      &-small-xs {
        font-size: $p-text-size-small;
      }
      &-medium-xs {
        font-size: $p-text-size-medium;
      }
      &-large-xs {
        font-size: $p-text-size-large;
      }
      &-x-large-xs {
        font-size: $p-text-size-x-large;
      }
      &-inherit-xs {
        font-size: inherit;
      }
    }

    @include p-breakpoint("s") {
      &-x-small-s {
        font-size: $p-text-size-x-small;
      }
      &-small-s {
        font-size: $p-text-size-small;
      }
      &-medium-s {
        font-size: $p-text-size-medium;
      }
      &-large-s {
        font-size: $p-text-size-large;
      }
      &-x-large-s {
        font-size: $p-text-size-x-large;
      }
      &-inherit-s {
        font-size: inherit;
      }
    }

    @include p-breakpoint("m") {
      &-x-small-m {
        font-size: $p-text-size-x-small;
      }
      &-small-m {
        font-size: $p-text-size-small;
      }
      &-medium-m {
        font-size: $p-text-size-medium;
      }
      &-large-m {
        font-size: $p-text-size-large;
      }
      &-x-large-m {
        font-size: $p-text-size-x-large;
      }
      &-inherit-m {
        font-size: inherit;
      }
    }

    @include p-breakpoint("l") {
      &-x-small-l {
        font-size: $p-text-size-x-small;
      }
      &-small-l {
        font-size: $p-text-size-small;
      }
      &-medium-l {
        font-size: $p-text-size-medium;
      }
      &-large-l {
        font-size: $p-text-size-large;
      }
      &-x-large-l {
        font-size: $p-text-size-x-large;
      }
      &-inherit-l {
        font-size: inherit;
      }
    }

    @include p-breakpoint("xl") {
      &-x-small-xl {
        font-size: $p-text-size-x-small;
      }
      &-small-xl {
        font-size: $p-text-size-small;
      }
      &-medium-xl {
        font-size: $p-text-size-medium;
      }
      &-large-xl {
        font-size: $p-text-size-large;
      }
      &-x-large-xl {
        font-size: $p-text-size-x-large;
      }
      &-inherit-xl {
        font-size: inherit;
      }
    }
  }

  &--with-label {
    #{$bem-block}__icon {
      @include p-link-pure-icon-with-label;
    }

    #{$bem-block}__label {
      @include p-link-pure-label-with-label;
    }
  }

  &--without-label {
    #{$bem-block}__icon {
      @include p-link-pure-icon-without-label;
    }

    #{$bem-block}__label {
      @include p-link-pure-label-without-label;
    }
  }

  @include p-breakpoint("xs") {
    &--with-label-xs {
      #{$bem-block}__icon {
        @include p-link-pure-icon-with-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-with-label;
      }
    }

    &--without-label-xs {
      #{$bem-block}__icon {
        @include p-link-pure-icon-without-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("s") {
    &--with-label-s {
      #{$bem-block}__icon {
        @include p-link-pure-icon-with-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-with-label;
      }
    }

    &--without-label-s {
      #{$bem-block}__icon {
        @include p-link-pure-icon-without-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("m") {
    &--with-label-m {
      #{$bem-block}__icon {
        @include p-link-pure-icon-with-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-with-label;
      }
    }

    &--without-label-m {
      #{$bem-block}__icon {
        @include p-link-pure-icon-without-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("l") {
    &--with-label-l {
      #{$bem-block}__icon {
        @include p-link-pure-icon-with-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-with-label;
      }
    }

    &--without-label-l {
      #{$bem-block}__icon {
        @include p-link-pure-icon-without-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("xl") {
    &--with-label-xl {
      #{$bem-block}__icon {
        @include p-link-pure-icon-with-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-with-label;
      }
    }

    &--without-label-xl {
      #{$bem-block}__icon {
        @include p-link-pure-icon-without-label;
      }

      #{$bem-block}__label {
        @include p-link-pure-label-without-label;
      }
    }
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
  }

  &__label {
    display: block;
    box-sizing: border-box;
  }
}
