@import "../../../common";

.#{$global-class-prefix}maintenance-screen {
    &__content {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14 * $spacing-6;

        @include breakpoint("m") {
            margin-top: 24 * $spacing-6;
        }
    }
}
