@import "../../../common";
// Current Finder customization
$button-primary-background-color: $grey-darker;
$button-primary-border-color: $grey-darker;

@import "../../../../node_modules/@porsche/ui-kit-core/src/modules/button/button-primary";

// Current Finder Customization
.#{$global-class-prefix}button-group {
    .#{$global-class-prefix}button-primary {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }
}

// Current Finder Customization
.#{$global-class-prefix}button-primary {
    padding-left: $spacing-18;
    padding-right: $spacing-18;

    &--blue {
        background-color: $color-palette-blue-1;
        border-color: $color-palette-blue-1;

        &:not([disabled]) {
            &:hover,
            &:focus,
            &:active {
                background: $color-palette-blue-2;
                border-color: $color-palette-blue-2;
            }
        }
    }

    &--error {
        background-color: $button-primary-error-background-color;
        border-color: $button-primary-error-border-color;
        color: $button-primary-error-text-color;
    }
}
