@use '@porsche-design-system/scss' as pds;

.scss-motion {
  display: grid;
  gap: pds.$pds-spacing-fluid-medium;
  padding: pds.$pds-spacing-static-medium;
  @include pds.pds-text-small;
  color: var(--scss-color-primary);

  &__item {
    border-radius: pds.$pds-border-radius-large;
    background: var(--scss-color-surface);
    padding: pds.$pds-spacing-fluid-small;
    transition-property: transform;
    will-change: transform;
  }

  &__sm {
    transition-duration: pds.$motion-duration-sm;
    transition-timing-function: pds.$motion-ease-in-out;
    &:hover { transform: scale(1.2); }
  }

  &__md {
    transition-duration: pds.$motion-duration-md;
    transition-timing-function: pds.$motion-ease-in-out;
    &:hover { transform: scale(1.2); }
  }

  &__lg {
    transition-duration: pds.$motion-duration-lg;
    transition-timing-function: pds.$motion-ease-in-out;
    &:hover { transform: scale(1.2); }
  }

  &__xl {
    transition-duration: pds.$motion-duration-xl;
    transition-timing-function: pds.$motion-ease-in-out;
    &:hover { transform: scale(1.2); }
  }

  &__ease-in-out {
    transition-duration: pds.$motion-duration-xl;
    transition-timing-function: pds.$motion-ease-in-out;
    &:hover { transform: scale(1.2); }
  }

  &__ease-in {
    transition-duration: pds.$motion-duration-xl;
    transition-timing-function: pds.$motion-ease-in;
    &:hover { transform: scale(1.2); }
  }

  &__ease-out {
    transition-duration: pds.$motion-duration-xl;
    transition-timing-function: pds.$motion-ease-out;
    &:hover { transform: scale(1.2); }
  }
}
