@use '@porsche-design-system/scss' as pds;

.scss-shadow {
  display: grid;
  gap: pds.$pds-spacing-fluid-medium;
  @include pds.pds-text-small;
  color: var(--scss-color-primary);
  padding: pds.$pds-spacing-static-medium;

  &--sm {
    box-shadow: pds.$box-shadow-sm;
    border-radius: pds.$pds-border-radius-large;
    padding: pds.$pds-spacing-fluid-small;
  }

  &--md {
    box-shadow: pds.$box-shadow-md;
    border-radius: pds.$pds-border-radius-large;
    padding: pds.$pds-spacing-fluid-small;
  }

  &--lg {
    box-shadow: pds.$box-shadow-lg;
    border-radius: pds.$pds-border-radius-large;
    padding: pds.$pds-spacing-fluid-small;
  }
}
