@use '@porsche-design-system/scss' as pds;

.scss-skeleton {
  @include pds.prose-text-sm;
  display: grid;
  gap: pds.$spacing-fluid-sm;
  padding: pds.$spacing-static-md;
  color: pds.$color-primary;

  &__item {
    @include pds.skeleton('light');
    padding: pds.$spacing-fluid-sm;
  }
}
