@use '@porsche-design-system/scss' as *;

:root {
  --scss-color-focus: #{$color-focus-light};
  --scss-color-canvas: #{$color-canvas-light};
  --scss-color-surface: #{$color-surface-light};
  --scss-color-frosted: #{$color-frosted-light};
  --scss-color-frosted-soft: #{$color-frosted-soft-light};
  --scss-color-backdrop: #{$color-backdrop-light};
  --scss-color-contrast-lower: #{$color-contrast-lower-light};
  --scss-color-contrast-low: #{$color-contrast-low-light};
  --scss-color-contrast-medium: #{$color-contrast-medium-light};
  --scss-color-contrast-high: #{$color-contrast-high-light};
  --scss-color-contrast-higher: #{$color-contrast-higher-light};
  --scss-color-primary: #{$color-primary-light};
  --scss-color-success: #{$color-success-light};
  --scss-color-success-low: #{$color-success-low-light};
  --scss-color-success-medium: #{$color-success-medium-light};
  --scss-color-success-frosted: #{$color-success-frosted-light};
  --scss-color-success-frosted-soft: #{$color-success-frosted-soft-light};
  --scss-color-warning: #{$color-warning-light};
  --scss-color-warning-low: #{$color-warning-low-light};
  --scss-color-warning-medium: #{$color-warning-medium-light};
  --scss-color-warning-frosted: #{$color-warning-frosted-light};
  --scss-color-warning-frosted-soft: #{$color-warning-frosted-soft-light};
  --scss-color-error: #{$color-error-light};
  --scss-color-error-low: #{$color-error-low-light};
  --scss-color-error-medium: #{$color-error-medium-light};
  --scss-color-error-frosted: #{$color-error-frosted-light};
  --scss-color-error-frosted-soft: #{$color-error-frosted-soft-light};
  --scss-color-info: #{$color-info-light};
  --scss-color-info-low: #{$color-info-low-light};
  --scss-color-info-medium: #{$color-info-medium-light};
  --scss-color-info-frosted: #{$color-info-frosted-light};
  --scss-color-info-frosted-soft: #{$color-info-frosted-soft-light};
  --scss-color-skeleton: #f7f7f7;
}

.dark {
  --scss-color-focus: #{$color-focus-dark};
  --scss-color-canvas: #{$color-canvas-dark};
  --scss-color-surface: #{$color-surface-dark};
  --scss-color-frosted: #{$color-frosted-dark};
  --scss-color-frosted-soft: #{$color-frosted-soft-dark};
  --scss-color-backdrop: #{$color-backdrop-dark};
  --scss-color-contrast-lower: #{$color-contrast-lower-dark};
  --scss-color-contrast-low: #{$color-contrast-low-dark};
  --scss-color-contrast-medium: #{$color-contrast-medium-dark};
  --scss-color-contrast-high: #{$color-contrast-high-dark};
  --scss-color-contrast-higher: #{$color-contrast-higher-dark};
  --scss-color-primary: #{$color-primary-dark};
  --scss-color-success: #{$color-success-dark};
  --scss-color-success-low: #{$color-success-low-dark};
  --scss-color-success-medium: #{$color-success-medium-dark};
  --scss-color-success-frosted: #{$color-success-frosted-dark};
  --scss-color-success-frosted-soft: #{$color-success-frosted-soft-dark};
  --scss-color-warning: #{$color-warning-dark};
  --scss-color-warning-low: #{$color-warning-low-dark};
  --scss-color-warning-medium: #{$color-warning-medium-dark};
  --scss-color-warning-frosted: #{$color-warning-frosted-dark};
  --scss-color-warning-frosted-soft: #{$color-warning-frosted-soft-dark};
  --scss-color-error: #{$color-error-dark};
  --scss-color-error-low: #{$color-error-low-dark};
  --scss-color-error-medium: #{$color-error-medium-dark};
  --scss-color-error-frosted: #{$color-error-frosted-dark};
  --scss-color-error-frosted-soft: #{$color-error-frosted-soft-dark};
  --scss-color-info: #{$color-info-dark};
  --scss-color-info-low: #{$color-info-low-dark};
  --scss-color-info-medium: #{$color-info-medium-dark};
  --scss-color-info-frosted: #{$color-info-frosted-dark};
  --scss-color-info-frosted-soft: #{$color-info-frosted-soft-dark};
  --scss-color-skeleton: #1a1b1e;
}

.auto {
  @media (prefers-color-scheme: dark) {
    --scss-color-focus: #{$color-focus-dark};
    --scss-color-canvas: #{$color-canvas-dark};
    --scss-color-surface: #{$color-surface-dark};
    --scss-color-frosted: #{$color-frosted-dark};
    --scss-color-frosted-soft: #{$color-frosted-soft-dark};
    --scss-color-backdrop: #{$color-backdrop-dark};
    --scss-color-contrast-lower: #{$color-contrast-lower-dark};
    --scss-color-contrast-low: #{$color-contrast-low-dark};
    --scss-color-contrast-medium: #{$color-contrast-medium-dark};
    --scss-color-contrast-high: #{$color-contrast-high-dark};
    --scss-color-contrast-higher: #{$color-contrast-higher-dark};
    --scss-color-primary: #{$color-primary-dark};
    --scss-color-success: #{$color-success-dark};
    --scss-color-success-low: #{$color-success-low-dark};
    --scss-color-success-medium: #{$color-success-medium-dark};
    --scss-color-success-frosted: #{$color-success-frosted-dark};
    --scss-color-success-frosted-soft: #{$color-success-frosted-soft-dark};
    --scss-color-warning: #{$color-warning-dark};
    --scss-color-warning-low: #{$color-warning-low-dark};
    --scss-color-warning-medium: #{$color-warning-medium-dark};
    --scss-color-warning-frosted: #{$color-warning-frosted-dark};
    --scss-color-warning-frosted-soft: #{$color-warning-frosted-soft-dark};
    --scss-color-error: #{$color-error-dark};
    --scss-color-error-low: #{$color-error-low-dark};
    --scss-color-error-medium: #{$color-error-medium-dark};
    --scss-color-error-frosted: #{$color-error-frosted-dark};
    --scss-color-error-frosted-soft: #{$color-error-frosted-soft-dark};
    --scss-color-info: #{$color-info-dark};
    --scss-color-info-low: #{$color-info-low-dark};
    --scss-color-info-medium: #{$color-info-medium-dark};
    --scss-color-info-frosted: #{$color-info-frosted-dark};
    --scss-color-info-frosted-soft: #{$color-info-frosted-soft-dark};
    --scss-color-skeleton: #1a1b1e;
  }
}