@use '@porsche-design-system/scss' as pds;

:root {
  --scss-color-focus: #{pds.$color-focus};
  --scss-color-canvas: #{pds.$color-canvas};
  --scss-color-surface: #{pds.$color-surface};
  --scss-color-frosted: #{pds.$color-frosted};
  --scss-color-frosted-soft: #{pds.$color-frosted-soft};
  --scss-color-backdrop: #{pds.$color-backdrop};
  --scss-color-contrast-lower: #{pds.$color-contrast-lower};
  --scss-color-contrast-low: #{pds.$color-contrast-low};
  --scss-color-contrast-medium: #{pds.$color-contrast-medium};
  --scss-color-contrast-high: #{pds.$color-contrast-high};
  --scss-color-contrast-higher: #{pds.$color-contrast-higher};
  --scss-color-primary: #{pds.$color-primary};
  --scss-color-success: #{pds.$color-success};
  --scss-color-success-low: #{pds.$color-success-low};
  --scss-color-success-medium: #{pds.$color-success-medium};
  --scss-color-success-frosted: #{pds.$color-success-frosted};
  --scss-color-success-frosted-soft: #{pds.$color-success-frosted-soft};
  --scss-color-warning: #{pds.$color-warning};
  --scss-color-warning-low: #{pds.$color-warning-low};
  --scss-color-warning-medium: #{pds.$color-warning-medium};
  --scss-color-warning-frosted: #{pds.$color-warning-frosted};
  --scss-color-warning-frosted-soft: #{pds.$color-warning-frosted-soft};
  --scss-color-error: #{pds.$color-error};
  --scss-color-error-low: #{pds.$color-error-low};
  --scss-color-error-medium: #{pds.$color-error-medium};
  --scss-color-error-frosted: #{pds.$color-error-frosted};
  --scss-color-error-frosted-soft: #{pds.$color-error-frosted-soft};
  --scss-color-info: #{pds.$color-info};
  --scss-color-info-low: #{pds.$color-info-low};
  --scss-color-info-medium: #{pds.$color-info-medium};
  --scss-color-info-frosted: #{pds.$color-info-frosted};
  --scss-color-info-frosted-soft: #{pds.$color-info-frosted-soft};
  --scss-color-skeleton: #f7f7f7;
}
