// packages/styles/src/app/scss/typography.scss
@use '@porsche-design-system/scss' as pds;

.scss-typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: pds.$pds-spacing-fluid-medium;
  padding: pds.$pds-spacing-fluid-medium;
  color: var(--scss-color-primary);
}

.scss-display-lg {
  @include pds.prose-display-lg;
  margin: 0;
}

.scss-display-md {
  @include pds.prose-display-md;
  margin: 0;
}

.scss-display-sm {
  @include pds.prose-display-sm;
  margin: 0;
}

.scss-heading-2xl {
  @include pds.prose-heading-2xl;
  margin: 0;
}

.scss-heading-xl {
  @include pds.prose-heading-xl;
  margin: 0;
}

.scss-heading-lg {
  @include pds.prose-heading-lg;
  margin: 0;
}

.scss-heading-md {
  @include pds.prose-heading-md;
  margin: 0;
}

.scss-heading-sm {
  @include pds.prose-heading-sm;
  margin: 0;
}

.scss-text-xl {
  @include pds.pds-text-x-large;
  margin: 0;
}

.scss-text-lg {
  @include pds.pds-text-large;
  margin: 0;
}

.scss-text-md {
  @include pds.pds-text-medium;
  margin: 0;
}

.scss-text-sm {
  @include pds.pds-text-small;
  margin: 0;
}

.scss-text-xs {
  @include pds.pds-text-x-small;
  margin: 0;
}

.scss-text-2xs {
  @include pds.pds-text-xx-small;
  margin: 0;
}