@import "../variables/index";
@import "../functions/index";
@import "./breakpoint";

@mixin p-large-title {
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;
  font-size: $p-font-size-32;
  line-height: p-line-height($p-font-size-32);

  @include p-breakpoint("s", "m") {
    font-size: $p-font-size-42;
    line-height: p-line-height($p-font-size-42);
  }

  @include p-breakpoint("m", "l") {
    font-size: $p-font-size-52;
    line-height: p-line-height($p-font-size-52);
  }

  @include p-breakpoint("l", "xl") {
    font-size: $p-font-size-62;
    line-height: p-line-height($p-font-size-62);
  }

  @include p-breakpoint("xl") {
    font-size: $p-font-size-72;
    line-height: p-line-height($p-font-size-72);
  }
}

@mixin p-headline-1 {
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;
  font-size: $p-font-size-28;
  line-height: p-line-height($p-font-size-28);

  @include p-breakpoint("s", "m") {
    font-size: $p-font-size-36;
    line-height: p-line-height($p-font-size-36);
  }

  @include p-breakpoint("m", "l") {
    font-size: $p-font-size-44;
    line-height: p-line-height($p-font-size-44);
  }

  @include p-breakpoint("l", "xl") {
    font-size: $p-font-size-52;
    line-height: p-line-height($p-font-size-52);
  }

  @include p-breakpoint("xl") {
    font-size: $p-font-size-60;
    line-height: p-line-height($p-font-size-60);
  }
}

@mixin p-headline-2 {
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;
  font-size: $p-font-size-24;
  line-height: p-line-height($p-font-size-24);

  @include p-breakpoint("s", "m") {
    font-size: $p-font-size-30;
    line-height: p-line-height($p-font-size-30);
  }

  @include p-breakpoint("m", "l") {
    font-size: $p-font-size-36;
    line-height: p-line-height($p-font-size-36);
  }

  @include p-breakpoint("l", "xl") {
    font-size: $p-font-size-42;
    line-height: p-line-height($p-font-size-42);
  }

  @include p-breakpoint("xl") {
    font-size: $p-font-size-48;
    line-height: p-line-height($p-font-size-48);
  }
}

@mixin p-headline-3 {
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;
  font-size: $p-font-size-20;
  line-height: p-line-height($p-font-size-20);

  @include p-breakpoint("s", "m") {
    font-size: $p-font-size-24;
    line-height: p-line-height($p-font-size-24);
  }

  @include p-breakpoint("m", "l") {
    font-size: $p-font-size-28;
    line-height: p-line-height($p-font-size-28);
  }

  @include p-breakpoint("l", "xl") {
    font-size: $p-font-size-32;
    line-height: p-line-height($p-font-size-32);
  }

  @include p-breakpoint("xl") {
    font-size: $p-font-size-36;
    line-height: p-line-height($p-font-size-36);
  }
}

@mixin p-headline-4 {
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;
  font-size: $p-font-size-16;
  line-height: p-line-height($p-font-size-16);

  @include p-breakpoint("s", "m") {
    font-size: $p-font-size-18;
    line-height: p-line-height($p-font-size-18);
  }

  @include p-breakpoint("m", "l") {
    font-size: $p-font-size-20;
    line-height: p-line-height($p-font-size-20);
  }

  @include p-breakpoint("l", "xl") {
    font-size: $p-font-size-22;
    line-height: p-line-height($p-font-size-22);
  }

  @include p-breakpoint("xl") {
    font-size: $p-font-size-24;
    line-height: p-line-height($p-font-size-24);
  }
}
