@import "../variables/index";
@import "../functions/index";
@import "./breakpoint";

@mixin p-large-title {
  @include p-type-scale($p-font-size-32);
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;

  @include p-breakpoint("s", "m") {
    @include p-type-scale($p-font-size-42);
  }

  @include p-breakpoint("m", "l") {
    @include p-type-scale($p-font-size-52);
  }

  @include p-breakpoint("l", "xl") {
    @include p-type-scale($p-font-size-62);
  }

  @include p-breakpoint("xl") {
    @include p-type-scale($p-font-size-72);
  }
}

@mixin p-headline-1 {
  @include p-type-scale($p-font-size-28);
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;

  @include p-breakpoint("s", "m") {
    @include p-type-scale($p-font-size-36);
  }

  @include p-breakpoint("m", "l") {
    @include p-type-scale($p-font-size-44);
  }

  @include p-breakpoint("l", "xl") {
    @include p-type-scale($p-font-size-52);
  }

  @include p-breakpoint("xl") {
    @include p-type-scale($p-font-size-60);
  }
}

@mixin p-headline-2 {
  @include p-type-scale($p-font-size-24);
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;

  @include p-breakpoint("s", "m") {
    @include p-type-scale($p-font-size-30);
  }

  @include p-breakpoint("m", "l") {
    @include p-type-scale($p-font-size-36);
  }

  @include p-breakpoint("l", "xl") {
    @include p-type-scale($p-font-size-42);
  }

  @include p-breakpoint("xl") {
    @include p-type-scale($p-font-size-48);
  }
}

@mixin p-headline-3 {
  @include p-type-scale($p-font-size-20);
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;

  @include p-breakpoint("s", "m") {
    @include p-type-scale($p-font-size-24);
  }

  @include p-breakpoint("m", "l") {
    @include p-type-scale($p-font-size-28);
  }

  @include p-breakpoint("l", "xl") {
    @include p-type-scale($p-font-size-32);
  }

  @include p-breakpoint("xl") {
    @include p-type-scale($p-font-size-36);
  }
}

@mixin p-headline-4 {
  @include p-type-scale($p-font-size-16);
  font-family: $p-font-primary;
  font-weight: $p-font-weight-semibold;

  @include p-breakpoint("s", "m") {
    @include p-type-scale($p-font-size-18);
  }

  @include p-breakpoint("m", "l") {
    @include p-type-scale($p-font-size-20);
  }

  @include p-breakpoint("l", "xl") {
    @include p-type-scale($p-font-size-22);
  }

  @include p-breakpoint("xl") {
    @include p-type-scale($p-font-size-24);
  }
}

@mixin p-text($size: $p-text-size-small, $weight: $p-font-weight-regular) {
  @include p-type-scale($size);
  font-family: $p-font-primary;
  font-weight: $weight;
}

/**
 * Calculates font-size and line-height to fit into Porsche Vertical Grid System
 * @param $size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@mixin p-type-scale($size) {
  font-size: p-font-size($size);
  line-height: p-line-height($size);
}
