@import '../../../utilities/projects/utilities/scss';

$p-global-class-prefix: 'p-' !default;

$p-animation-hover-duration-var: var(--p-animation-hover-duration, 0.24s);
$p-animation-hover-bezier: ease;
$p-tabs-transition-duration: 0.4s;

$p-hover-background-color: $p-color-background-surface;
$p-hover-background-color-theme-dark: $p-color-theme-dark-background-surface;

$p-content-wrapper-margin: 7vw;
$p-content-wrapper-margin-xl: 10vw;
$p-content-wrapper-margin-xxl: p-px-to-rem(192px);

$breakpoints: ('xs', 's', 'm', 'l', 'xl');
