@import '../../../utilities/projects/utilities/scss';

$p-animation-hover-duration-var: var(--p-animation-hover-duration, 0.24s);
$p-animation-hover-bezier: ease;

$breakpoints: ('xs', 's', 'm', 'l', 'xl');
