@mixin required($theme: 'light') {
  &::after {
    @if ($theme == 'light') {
      content: '\00a0*';
      color: $p-color-notification-error;
    } @else if($theme == 'dark') {
      color: $p-color-theme-dark-notification-error;
    }
  }
}

@mixin form-text-visible($isCheckboxOrRadio: false) {
  @include text-visible();

  @if $isCheckboxOrRadio {
    width: auto;
    padding: 0 0 0 $p-spacing-8;
  } @else {
    width: fit-content;
    padding: 0 0 $p-spacing-4 0;
  }
}

@mixin form-text-hidden() {
  @include text-hidden();
  padding: 0;
}

@mixin text-visible() {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

// Screen reader only styles to hide (text-)contents visually in the browser but grant access for screen readers
@mixin text-hidden() {
  @include p-sr-only;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@mixin state-message() {
  .message {
    display: flex;
    margin-top: $p-spacing-4;
    transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;

    &__icon {
      margin-right: $p-spacing-4;
    }
  }
}
