always-auth = true
@porsche-ui:registry = https://porscheui.jfrog.io/porscheui/api/npm/npm/
@porsche-design-system:registry = https://porscheui.jfrog.io/porscheui/api/npm/npm/

//porscheui.jfrog.io/porscheui/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJpZkdNUkNReVVLOEtsWUpzUUd3bG1PM2RhQ3NGTjU2TDUySnNnd3B5TGZnIn0.eyJzdWIiOiJqZnJ0QDAxY3ZtdmFmazlwNTF6MWM3bTFzbTkxdGhiXC91c2Vyc1wvc3RlcGhhbi5zY2hyb2V0ZXIiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZnJ0QDAxY3ZtdmFmazlwNTF6MWM3bTFzbTkxdGhiIiwiaXNzIjoiamZydEAwMWN2bXZhZms5cDUxejFjN20xc205MXRoYiIsImlhdCI6MTU1MzAwNzI2NiwianRpIjoiY2NiNjA0YWQtN2JmYS00ZjQwLTg1NGQtZjY3ODJmMDViODUyIn0.FWII53wJSDch6VJpeGq3NXqPFN6shDDDr-A5JiA2TCTktGuJLYPUtnktPhb5vq2uOPaTEReNylVi5dLD3gj8zR4qEiWyIx3yS9g4qwyiC4jcCCsTu7RagKtiu0l0YKLRoR9o6RljzwFvfkHEiEncd_DrQr2gvaSgcYBNEixX2gX-O9agmdnmxg5iODg_vBgus7KcwQ3KFn-nF84roQKTkKtbjvkpH0FcTGi48L9WXqhzr2VDs9xlB2Z07122XpV0g_zs7H_vK2392Nknp3GDrjdGG_n6GnJP-ALjFX5r8XEsOjAiM_BDLyPt63t26Bzux1WTvgIlElkvJ0skoydA8w
