version: "3.5"

services:
  design-system:
    image: ghcr.io/porsche-design-system/porsche-design-system/playwright:v1.38.1-focal
    working_dir: /opt/porsche-design-system-app
    user: "${RUN_UID}:${RUN_GID}"
    ports:
      - "3000:3000"
      - "3001:3001"
      - "3333:3333"
      - "3334:3334"
      - "4200:4200"
      - "8080:8080"
      - "8575:8575"
    environment:
      - HOME=/home/design-system
      - PORSCHE_NPM_REGISTRY_TOKEN
      - NPMJS_REGISTRY_TOKEN
      - GITHUB_SHA
      - GITHUB_REF_NAME
      - GITHUB_TOKEN
      - BROWSERSTACK_ACCESS_KEY
      - BROWSERSTACK_USER_NAME
      - ALGOLIA_APP_ID
      - ALGOLIA_API_KEY
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - CDN_USER
      - CDN_SSH_KEY
      - UXPIN_TOKEN_DEV
      - UXPIN_TOKEN_LATEST
      - CI
    volumes:
      - ./:/opt/porsche-design-system-app:cached
      - home:/home/design-system
      - monorepo-node-modules:/opt/porsche-design-system-app/node_modules
      - assets-node-modules:/opt/porsche-design-system-app/packages/assets/node_modules
      - component-meta-node-modules:/opt/porsche-design-system-app/packages/component-meta/node_modules
      - components-node-modules:/opt/porsche-design-system-app/packages/components/node_modules
      - components-js-node-modules:/opt/porsche-design-system-app/packages/components-js/node_modules
      - components-js-jsdom-polyfill-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/jsdom-polyfill/node_modules
      - components-angular-node-modules:/opt/porsche-design-system-app/packages/components-angular/node_modules
      - components-react-node-modules:/opt/porsche-design-system-app/packages/components-react/node_modules
      - components-react-uxpin-wrapper-node-modules:/opt/porsche-design-system-app/packages/components-react/projects/uxpin-wrapper/node_modules
      - components-react-react-ssr-wrapper-node-modules:/opt/porsche-design-system-app/packages/components-react/projects/react-ssr-wrapper/node_modules
      - components-react-nextjs-node-modules:/opt/porsche-design-system-app/packages/components-react/projects/nextjs/node_modules
      - components-react-remix-node-modules:/opt/porsche-design-system-app/packages/components-react/projects/remix/node_modules
      - components-vue-node-modules:/opt/porsche-design-system-app/packages/components-vue/node_modules
      - crawler-node-modules:/opt/porsche-design-system-app/packages/crawler/node_modules
      - crest-node-modules:/opt/porsche-design-system-app/packages/crest/node_modules
      - fallbacks-node-modules:/opt/porsche-design-system-app/packages/fallbacks/node_modules
      - fonts-node-modules:/opt/porsche-design-system-app/packages/fonts/node_modules
      - icons-node-modules:/opt/porsche-design-system-app/packages/icons/node_modules
      - marque-node-modules:/opt/porsche-design-system-app/packages/marque/node_modules
      - meta-icons-node-modules:/opt/porsche-design-system-app/packages/meta-icons/node_modules
      - model-signatures-node-modules:/opt/porsche-design-system-app/packages/model-signatures/node_modules
      - partials-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/partials/node_modules
      - components-manager-cli-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/components-manager-cli/node_modules
      - components-manager-core-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/components-manager-core/node_modules
      - shared-node-modules:/opt/porsche-design-system-app/packages/shared/node_modules
      - storefront-node-modules:/opt/porsche-design-system-app/packages/storefront/node_modules
      - utilities-node-modules:/opt/porsche-design-system-app/packages/utilities/node_modules
      - utilities-utilities-node-modules:/opt/porsche-design-system-app/packages/utilities/projects/utilities/node_modules
      - utilities-styles-node-modules:/opt/porsche-design-system-app/packages/utilities/projects/styles/node_modules
  change-volume-owner:
    image: ghcr.io/porsche-design-system/porsche-design-system/playwright:v1.38.1-focal
    volumes:
      - home:/opt/porsche-design-system-volumes/home
      - monorepo-node-modules:/opt/porsche-design-system-volumes/root-node_modules
      - assets-node-modules:/opt/porsche-design-system-volumes/assets-node_modules
      - component-meta-node-modules:/opt/porsche-design-system-volumes/component-meta-node_modules
      - components-node-modules:/opt/porsche-design-system-volumes/components-node_modules
      - components-js-node-modules:/opt/porsche-design-system-volumes/components-js-node_modules
      - components-js-jsdom-polyfill-node-modules:/opt/porsche-design-system-volumes/components-js-jsdom-polyfill-node_modules
      - components-angular-node-modules:/opt/porsche-design-system-volumes/components-angular-node_modules
      - components-react-node-modules:/opt/porsche-design-system-volumes/components-react-node_modules
      - components-react-uxpin-wrapper-node-modules:/opt/porsche-design-system-volumes/components-react-uxpin-wrapper-node_modules
      - components-react-react-ssr-wrapper-node-modules:/opt/porsche-design-system-volumes/components-react-react-ssr-wrapper-node_modules
      - components-react-nextjs-node-modules:/opt/porsche-design-system-volumes/components-react-nextjs-node_modules
      - components-react-remix-node-modules:/opt/porsche-design-system-volumes/components-react-remix-node_modules
      - components-vue-node-modules:/opt/porsche-design-system-volumes/components-vue-node_modules
      - crawler-node-modules:/opt/porsche-design-system-volumes/crawler-node_modules
      - crest-node-modules:/opt/porsche-design-system-volumes/crest-node_modules
      - fallbacks-node-modules:/opt/porsche-design-system-volumes/fallbacks-node_modules
      - fonts-node-modules:/opt/porsche-design-system-volumes/fonts-node_modules
      - icons-node-modules:/opt/porsche-design-system-volumes/icons-node_modules
      - marque-node-modules:/opt/porsche-design-system-volumes/marque-node_modules
      - meta-icons-node-modules:/opt/porsche-design-system-volumes/meta-icons-node_modules
      - model-signatures-node-modules:/opt/porsche-design-system-volumes/model-signatures-node_modules
      - partials-node-modules:/opt/porsche-design-system-volumes/partials-node_modules
      - components-manager-cli-node-modules:/opt/porsche-design-system-volumes/components-manager-cli-node_modules
      - components-manager-core-node-modules:/opt/porsche-design-system-volumes/components-manager-core-node_modules
      - shared-node-modules:/opt/porsche-design-system-volumes/shared-node_modules
      - storefront-node-modules:/opt/porsche-design-system-volumes/storefront-node_modules
      - utilities-node-modules:/opt/porsche-design-system-volumes/utilities-node_modules
      - utilities-utilities-node-modules:/opt/porsche-design-system-volumes/utilities-utilities-node_modules
      - utilities-styles-node-modules:/opt/porsche-design-system-volumes/utilities-styles-node_modules
    command: |
      sh -c "chown ${RUN_UID}:${RUN_GID} /opt/porsche-design-system-volumes/*"
volumes:
  home:
  monorepo-node-modules:
  assets-node-modules:
  component-meta-node-modules:
  components-node-modules:
  components-js-node-modules:
  components-js-jsdom-polyfill-node-modules:
  components-angular-node-modules:
  components-react-node-modules:
  components-react-react-ssr-wrapper-node-modules:
  components-react-uxpin-wrapper-node-modules:
  components-react-nextjs-node-modules:
  components-react-remix-node-modules:
  components-vue-node-modules:
  crawler-node-modules:
  crest-node-modules:
  fallbacks-node-modules:
  fonts-node-modules:
  icons-node-modules:
  marque-node-modules:
  meta-icons-node-modules:
  model-signatures-node-modules:
  partials-node-modules:
  components-manager-cli-node-modules:
  components-manager-core-node-modules:
  shared-node-modules:
  storefront-node-modules:
  utilities-node-modules:
  utilities-utilities-node-modules:
  utilities-styles-node-modules:
