version: "3.5"

services:
  design-system:
    image: ghcr.io/porscheui/porsche-design-system/node:14.18.3-stretch-slim
    working_dir: /opt/porsche-design-system-app
    user: "${RUN_UID}:${RUN_GID}"
    ports:
      - "3000:3000"
      - "3001:3001"
      - "3333:3333"
      - "3334:3334"
      - "4200:4200"
      - "8080:8080"
      - "8575:8575"
    environment:
      - HOME=/home/design-system
      - PORSCHE_NPM_REGISTRY_TOKEN
      - GITHUB_SHA
      - GITHUB_REF
      - GITHUB_TOKEN
      - BROWSERSTACK_ACCESS_KEY
      - BROWSERSTACK_USER_NAME
      - ALGOLIA_APP_ID
      - ALGOLIA_API_KEY
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - CDN_USER
      - CDN_SSH_KEY
      - UXPIN_TOKEN_DEV
      - UXPIN_TOKEN_LATEST
      - CI
    volumes:
      - ./:/opt/porsche-design-system-app:cached
      - home:/home/design-system
      - monorepo-node-modules:/opt/porsche-design-system-app/node_modules
      - assets-node-modules:/opt/porsche-design-system-app/packages/assets/node_modules
      - components-node-modules:/opt/porsche-design-system-app/packages/components/node_modules
      - components-js-node-modules:/opt/porsche-design-system-app/packages/components-js/node_modules
      - components-angular-node-modules:/opt/porsche-design-system-app/packages/components-angular/node_modules
      - components-react-node-modules:/opt/porsche-design-system-app/packages/components-react/node_modules
      - components-react-uxpin-wrapper-node-modules:/opt/porsche-design-system-app/packages/components-react/projects/uxpin-wrapper/node_modules
      - email-node-modules:/opt/porsche-design-system-app/packages/email/node_modules
      - fonts-node-modules:/opt/porsche-design-system-app/packages/fonts/node_modules
      - icons-node-modules:/opt/porsche-design-system-app/packages/icons/node_modules
      - marque-node-modules:/opt/porsche-design-system-app/packages/marque/node_modules
      - meta-icons-node-modules:/opt/porsche-design-system-app/packages/meta-icons/node_modules
      - partials-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/partials/node_modules
      - components-manager-cli-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/components-manager-cli/node_modules
      - components-manager-core-node-modules:/opt/porsche-design-system-app/packages/components-js/projects/components-manager-core/node_modules
      - shared-node-modules:/opt/porsche-design-system-app/packages/shared/node_modules
      - storefront-node-modules:/opt/porsche-design-system-app/packages/storefront/node_modules
      - utilities-node-modules:/opt/porsche-design-system-app/packages/utilities/node_modules
      - utilities-utilities-node-modules:/opt/porsche-design-system-app/packages/utilities/projects/utilities/node_modules
      - utilities-styles-node-modules:/opt/porsche-design-system-app/packages/utilities/projects/styles/node_modules
      - utilities-deprecated-node-modules:/opt/porsche-design-system-app/packages/utilities-deprecated/node_modules
      - utilities-deprecated-utilities-node-modules:/opt/porsche-design-system-app/packages/utilities-deprecated/projects/utilities/node_modules
volumes:
  home:
  monorepo-node-modules:
  assets-node-modules:
  components-node-modules:
  components-js-node-modules:
  components-angular-node-modules:
  components-react-node-modules:
  components-react-uxpin-wrapper-node-modules:
  email-node-modules:
  fonts-node-modules:
  icons-node-modules:
  marque-node-modules:
  meta-icons-node-modules:
  partials-node-modules:
  components-manager-cli-node-modules:
  components-manager-core-node-modules:
  shared-node-modules:
  storefront-node-modules:
  utilities-node-modules:
  utilities-utilities-node-modules:
  utilities-styles-node-modules:
  utilities-deprecated-node-modules:
  utilities-deprecated-utilities-node-modules:
