services:
  design-system:
    image: mcr.microsoft.com/playwright:v1.56.0-jammy
    working_dir: /opt/repository
    user: "${RUN_UID}:${RUN_GID}"
    ports:
      - "3000:3000"
      - "3001:3001"
      - "3333:3333"
      - "3334:3334"
      - "4200:4200"
      - "8080:8080"
      - "8575:8575"
    environment:
      - HOME=/home/design-system
      - NODE_OPTIONS=--max-old-space-size=5120
    volumes:
      - ./:/opt/repository:cached
      - home:/home/design-system
      - monorepo-node-modules:/opt/repository/node_modules
      - assets-node-modules:/opt/repository/packages/assets/node_modules
      - assets-crest-node-modules:/opt/repository/packages/assets/projects/crest/node_modules
      - assets-flags-node-modules:/opt/repository/packages/assets/projects/flags/node_modules
      - assets-fonts-node-modules:/opt/repository/packages/assets/projects/fonts/node_modules
      - assets-icons-node-modules:/opt/repository/packages/assets/projects/icons/node_modules
      - assets-marque-node-modules:/opt/repository/packages/assets/projects/marque/node_modules
      - assets-meta-icons-node-modules:/opt/repository/packages/assets/projects/meta-icons/node_modules
      - assets-model-signatures-node-modules:/opt/repository/packages/assets/projects/model-signatures/node_modules
      - assets-font-face-node-modules:/opt/repository/packages/assets/projects/font-face/node_modules
      - component-meta-node-modules:/opt/repository/packages/component-meta/node_modules
      - components-node-modules:/opt/repository/packages/components/node_modules
      - components-js-node-modules:/opt/repository/packages/components-js/node_modules
      - components-js-components-manager-cli-node-modules:/opt/repository/packages/components-js/projects/components-manager-cli/node_modules
      - components-js-components-manager-core-node-modules:/opt/repository/packages/components-js/projects/components-manager-core/node_modules
      - components-js-jsdom-polyfill-node-modules:/opt/repository/packages/components-js/projects/jsdom-polyfill/node_modules
      - components-js-partials-node-modules:/opt/repository/packages/components-js/projects/partials/node_modules
      - components-angular-node-modules:/opt/repository/packages/components-angular/node_modules
      - components-react-node-modules:/opt/repository/packages/components-react/node_modules
      - components-react-nextjs-node-modules:/opt/repository/packages/components-react/projects/nextjs/node_modules
      - components-react-react-ssr-wrapper-node-modules:/opt/repository/packages/components-react/projects/react-ssr-wrapper/node_modules
      - components-react-remix-node-modules:/opt/repository/packages/components-react/projects/remix/node_modules
      - components-react-react-router-node-modules:/opt/repository/packages/components-react/projects/react-router/node_modules
      - components-vue-node-modules:/opt/repository/packages/components-vue/node_modules
      - shared-node-modules:/opt/repository/packages/shared/node_modules
      - storefront-node-modules:/opt/repository/packages/storefront/node_modules
      - storefront-stackblitz-node-modules:/opt/repository/packages/storefront/projects/stackblitz/node_modules
      - tokens-node-modules:/opt/repository/packages/tokens/node_modules
      - styles-node-modules:/opt/repository/packages/styles/node_modules
      - styles-shared-styles-node-modules:/opt/repository/packages/styles/projects/shared-styles/node_modules
      - styles-global-styles-node-modules:/opt/repository/packages/styles/projects/global-styles/node_modules
      - styles-tailwindcss-node-modules:/opt/repository/packages/styles/projects/tailwindcss/node_modules
      - utilities-node-modules:/opt/repository/packages/utilities/node_modules
      - utilities-ag-grid-node-modules:/opt/repository/packages/utilities/projects/ag-grid/node_modules
      - utilities-utilities-node-modules:/opt/repository/packages/utilities/projects/utilities/node_modules
  change-volume-owner:
    image: mcr.microsoft.com/playwright:v1.56.0-jammy
    volumes:
      - home:/opt/repository-volumes/home
      - monorepo-node-modules:/opt/repository-volumes/root-node_modules
      - assets-node-modules:/opt/repository-volumes/assets-node_modules
      - assets-crest-node-modules:/opt/repository-volumes/assets-crest-node_modules
      - assets-flags-node-modules:/opt/repository-volumes/assets-flags-node_modules
      - assets-fonts-node-modules:/opt/repository-volumes/assets-fonts-node_modules
      - assets-icons-node-modules:/opt/repository-volumes/assets-icons-node_modules
      - assets-marque-node-modules:/opt/repository-volumes/assets-marque-node_modules
      - assets-meta-icons-node-modules:/opt/repository-volumes/assets-meta-icons-node_modules
      - assets-model-signatures-node-modules:/opt/repository-volumes/assets-model-signatures-node_modules
      - assets-font-face-node-modules:/opt/repository-volumes/assets-font-face-node_modules
      - component-meta-node-modules:/opt/repository-volumes/component-meta-node_modules
      - components-node-modules:/opt/repository-volumes/components-node_modules
      - components-js-node-modules:/opt/repository-volumes/components-js-node_modules
      - components-js-components-manager-cli-node-modules:/opt/repository-volumes/components-manager-cli-node_modules
      - components-js-components-manager-core-node-modules:/opt/repository-volumes/components-manager-core-node_modules
      - components-js-jsdom-polyfill-node-modules:/opt/repository-volumes/components-js-jsdom-polyfill-node_modules
      - components-js-partials-node-modules:/opt/repository-volumes/partials-node_modules
      - components-angular-node-modules:/opt/repository-volumes/components-angular-node_modules
      - components-react-node-modules:/opt/repository-volumes/components-react-node_modules
      - components-react-nextjs-node-modules:/opt/repository-volumes/components-react-nextjs-node_modules
      - components-react-react-ssr-wrapper-node-modules:/opt/repository-volumes/components-react-react-ssr-wrapper-node_modules
      - components-react-remix-node-modules:/opt/repository-volumes/components-react-remix-node_modules
      - components-react-react-router-node-modules:/opt/repository-volumes/components-react-react-router-node_modules
      - components-vue-node-modules:/opt/repository-volumes/components-vue-node_modules
      - shared-node-modules:/opt/repository-volumes/shared-node_modules
      - storefront-node-modules:/opt/repository-volumes/storefront-node_modules
      - storefront-stackblitz-node-modules:/opt/repository-volumes/storefront-stackblitz-node_modules
      - tokens-node-modules:/opt/repository-volumes/tokens-node_modules
      - styles-node-modules:/opt/repository-volumes/styles-node_modules
      - styles-shared-styles-node-modules:/opt/repository-volumes/styles-shared-styles-node_modules
      - styles-global-styles-node-modules:/opt/repository-volumes/styles-global-styles-node_modules
      - styles-tailwindcss-node-modules:/opt/repository-volumes/styles-tailwindcss-node_modules
      - utilities-node-modules:/opt/repository-volumes/utilities-node_modules
      - utilities-ag-grid-node-modules:/opt/repository-volumes/utilities-ag-grid-node_modules
      - utilities-utilities-node-modules:/opt/repository-volumes/utilities-utilities-node_modules
    command: |
      sh -c "chown ${RUN_UID}:${RUN_GID} /opt/repository-volumes/*"
volumes:
  home:
  monorepo-node-modules:
  assets-node-modules:
  assets-crest-node-modules:
  assets-flags-node-modules:
  assets-fonts-node-modules:
  assets-icons-node-modules:
  assets-marque-node-modules:
  assets-meta-icons-node-modules:
  assets-model-signatures-node-modules:
  assets-font-face-node-modules:
  component-meta-node-modules:
  components-node-modules:
  components-angular-node-modules:
  components-js-node-modules:
  components-js-components-manager-cli-node-modules:
  components-js-components-manager-core-node-modules:
  components-js-jsdom-polyfill-node-modules:
  components-js-partials-node-modules:
  components-react-node-modules:
  components-react-nextjs-node-modules:
  components-react-react-ssr-wrapper-node-modules:
  components-react-remix-node-modules:
  components-react-react-router-node-modules:
  components-vue-node-modules:
  shared-node-modules:
  storefront-node-modules:
  storefront-stackblitz-node-modules:
  tokens-node-modules:
  styles-node-modules:
  styles-tailwindcss-node-modules:
  utilities-node-modules:
  utilities-ag-grid-node-modules:
  utilities-utilities-node-modules:
