@import '../../mixins/px-rem-converter.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';

$icon-close-icon-font-size: $spacing-18 !default;
$icon-close-icon-font-size-notification: rem(16px) !default;
$icon-close-position-reset: 0 !default;

$icon-close-notification-inner-spacing: $spacing-12 !default;
$icon-close-notification-spacing-right: $icon-close-notification-inner-spacing !default;
$icon-close-icon-text-color-hovered-notification: rgba($color-palette-white, .7);
