<span class="loader-text {{styleModifier}}">
    <span class="loader-text__dot {{#if loader-text_dark}}loader-text__dot--dark{{/if}} {{#if loader-text_light}}loader-text__dot--light{{/if}}"></span>
    <span class="loader-text__dot {{#if loader-text_dark}}loader-text__dot--dark{{/if}} {{#if loader-text_light}}loader-text__dot--light{{/if}}"></span>
    <span class="loader-text__dot {{#if loader-text_dark}}loader-text__dot--dark{{/if}} {{#if loader-text_light}}loader-text__dot--light{{/if}}"></span>
</span>
