<pui-input value="" label="Some input" [disabled]="false" [error]="false" type="text"></pui-input>
<br>
<pui-input [(value)]="value" label="Some input" [disabled]="false" [error]="false" type="text"></pui-input>
<br>
<pui-input [(value)]="value"  label="Some input" [icon]="carNextIcon" [disabled]="false" [error]="false" type="text"></pui-input>
<br>
<pui-input [(value)]="value"  label="Some input" [disabled]="true" [error]="false" type="text"></pui-input>
<br>
<pui-input [(value)]="value"  label="Some input" [disabled]="false" [error]="true" type="text"></pui-input>
