<div class="list-striped">

  {{#each list-striped_items}}
    <div class="row row--gap-zero list-striped__item">
      <div class="column column--gap-zero column--12 column--6-xs">

        <div class="list-striped__item-label">
          <span class="list-striped__item-label-text">{{ this.label }}</span>
          {{#if this.icon}}
          <span class="list-striped__item-label-icon icon {{ this.icon }}"></span>
          {{/if}}
        </div>

      </div>
      <div class="column column--gap-zero column--12 column--6-xs">

        <div class="list-striped__item-value">
          {{ this.text }}
        </div>

      </div>

    </div>
  {{/each}}
</div>
