@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import 'list-bullet.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}list-bullet {
  @include -text-size-copy;
  @include -text-color-red-1;

  list-style-type: disc;
  margin-left: $list-bullet-spacing-left;

  &--square {
    list-style-type: square;
  }

  &__label {
    @include -text-color-black;
  }
}
