@import './list-orders.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}list-orders {

  &__item {
    @include -spacing-inner-a;
    @include -background-white;

    @include breakpoint('s') {
      padding-top: $list-orders-item-spacing-top;
      padding-bottom: $list-orders-item-spacing-bottom;
    }

    border-left: $list-orders-item-border-width solid $list-orders-item-border-color;

    &:not(:first-child) {
      @include -spacing-3;
    }

    &--active {
      border-left-color: $list-orders-item-active-border-color;
    }
  }

  &__row {
    position: relative;
    display: block;

    @include breakpoint('s') {
      @include flex;
    }
  }

  &__order-number {
    @include -text-size-4-regular;
  }

  &__content {
    @include -text-size-copy;

    &--left {
      @include breakpoint('s') {
        border-right: $list-orders-content-border-size solid $list-orders-content-separator-color;
      }
    }

    &--right {
      @include breakpoint('s') {
        @include flex;
        @include flex--align-items(center);
        @include -spacing-24('left', 'padding');

        transform: translate(-$list-orders-content-border-size, 0);
        border-left: $list-orders-content-border-size solid $list-orders-content-separator-color;
      }
    }
  }

  &__details {
    @include -spacing-3;
    @include -text-size-copy;
    @include -spacing-zero('left', 'padding');

    list-style: none;

    &-info-item {
      @include breakpoint('s') {
        display: inline-block;
      }
    }
  }

  &__menu {
    @include -align-center;
    @include -position-absolute-coordinates(auto, 0, 0, auto);

    display: table;
    cursor: pointer;

    border-radius: $list-orders-menu-circle-button-radius;
    background-color: $list-orders-menu-circle-background-color;
    border: $list-orders-menu-circle-border-width solid $list-orders-menu-circle-border-color;

    width: $list-orders-menu-circle-button-size;
    height: $list-orders-menu-circle-button-size;

    &::before {
      @include -align-middle;
      @include -text-color-red-1;

      display: table-cell;
    }

    &:hover {
      @include -background-red-1;

      border-color: $list-orders-menu-circle-hover-border-color;

      &::before {
        @include -text-color-white;
      }
    }

    &.icon--download-02 {
      top: $list-orders-menu-icon-offset-top;
      text-decoration: none;

      &:hover {
        &::before {
          @include -text-color-white;
        }
      }

      &::before {
        @include -align-center;
        @include -text-color-red-1;

        display: block;
        width: 100%;
        font-size: $list-orders-menu-icon-font-size;
        line-height: $list-orders-menu-icon-line-height;

      }
    }
  }

  &__list-separator {
    @include -text-color-grey-6;

    display: none;
    padding: $list-orders-content-separator-spacing;

    @include breakpoint('s') {
      display: inline-block;
    }
  }
}


