@import './list-empty.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}list-empty {
  @include -spacing-inner-a;
  background-color: $list-empty-background-color;

  @include breakpoint('s') {
    padding: {
      top: $list-empty-spacing-vertical;
      bottom: $list-empty-spacing-vertical;
    }
  }

  &__label {
    @include -text-size-copy;
    color: $list-empty-label-text-color;
  }
}
