<p class="-font-primary -spacing-30">The quick brown fox jumps over the lazy dog (Font Primary — Porsche Next)</p>

<p class="-font-default -spacing-30">The quick brown fox jumps over the lazy dog (Font Default (Fallback) — Arial Narrow)</p>
