<ul class="nav">
  <li>Atoms
    <ul>
      <li>Text
        <ul>
          <a routerLink="/atoms/text/text-size">Text size</a>
        </ul>
      </li>
      <li>
        Icon
        <ul>
          <li>
            <a routerLink="/atoms/icon">Icon</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Organisms
    <ul>
      <li>Notification
        <ul>
          <a routerLink="/organisms/notification/notification-error-inline">Notification error inline</a>
        </ul>
      </li>
      <li>Page-Header
        <ul>
          <li>
            <a routerLink="/organisms/page-header">Page-Header</a>
          </li>
        </ul>
      </li>
      <li>Footer
        <ul>
          <a routerLink="/organisms/footer">Footer</a>
        </ul>
      </li>
    </ul>
  </li>
  <li>Molecules
    <ul>
      <li>Button
        <ul>
          <a routerLink="/molecules/button/button-ghost">Button ghost</a>
          <a routerLink="/molecules/button/button-primary">Button primary</a>
        </ul>
      </li>
      <li>Form
        <ul>
          <a routerLink="/molecules/form/input">Input</a>
        </ul>
      </li>
      <li>Link
        <ul>
          <a routerLink="/molecules/link/link-icon-text">Link Icon Text</a>
        </ul>
      </li>
      <li>Image
        <ul>
          <a routerLink="/molecules/image/image-cover">Image Cover</a>
        </ul>
      </li>
      <li>Loader
        <ul>
          <a routerLink="/molecules/loader/loader-base">Loader Base</a>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div class="content">
  <router-outlet></router-outlet>
</div>
