:host {
  display: flex;
}

.nav {
  border-right: 1px solid grey;
  font-weight: bold;

  ul {
    font-weight: normal;
    margin-left: 3px;
    border-left: 1px solid black;
  }
}

.content {
  flex: 1;
  position: relative;
  padding: 20px;
  margin: 5px;
  background-color: #1c2225;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 5px;
}

a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-style: italic;
  color: black;
}
