<ul class="nav">
  <li>Atoms
    <ul>
      <li>Text
        <ul>
          <a routerLink="/atoms/text/text-size">Text size</a>
        </ul>
      </li>
      <li>
        <a routerLink="/atoms/icon">Icon</a>
      </li>
    </ul>
  </li>
  <li>Organisms
    <ul>
      <li>Notification
        <ul>
          <a routerLink="/organisms/notification/notification-error-inline">Notification error inline</a>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
