$font-resource-base-path: '../../node_modules/@porsche/ui-kit-core/src/base/font';
$icon-resource-base-path: '../../node_modules/@porsche/ui-kit-core/src/modules/icon/pag-iconfont';

@import "~@porsche/ui-kit-core/src/common/reset.scss";
@import "~@porsche/ui-kit-core/src/common/font-face.scss";
@import "~@porsche/ui-kit-core/src/base/font/font.scss";

:host {
  display: flex;
}

.nav {
  border-right: 1px solid grey;
  font-weight: bold;

  ul {
    font-weight: normal;
    margin-left: 3px;
    border-left: 1px solid black;
  }
}

.content {
  flex: 1;
  position: relative;
  padding: 20px;
  margin: 5px;
  background-color: #1c2225;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 5px;
}

a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-style: italic;
  color: black;
}
