@import "./../functions/rem";

// global spacing variables
$p-spacing-4: rem(4px);
$p-spacing-8: rem(8px);
$p-spacing-16: rem(16px);
$p-spacing-24: rem(24px);
$p-spacing-32: rem(32px);
$p-spacing-40: rem(40px);
$p-spacing-48: rem(48px);
$p-spacing-56: rem(56px);
$p-spacing-64: rem(64px);
$p-spacing-72: rem(72px);
$p-spacing-80: rem(80px);

// reduced layout spacings
$p-spacing-xs: $p-spacing-4;
$p-spacing-s: $p-spacing-8;
$p-spacing-m: $p-spacing-16;
$p-spacing-l: $p-spacing-32;
$p-spacing-xl: $p-spacing-48;
$p-spacing-xxl: $p-spacing-80;
