@import "../../../common";
@import "../Flyout/flyout.setup";

.#{$global-class-prefix}nav {
    position: relative;
    margin-left: -$spacing-12;
    min-height: 50px;

    &__item {
        position: relative;
        list-style-type: none;
    }

    &__item-link {
        @include -typo-body-1;

        display: block;
        position: relative;
        color: $body-txt-color;
        padding: $spacing-24 $spacing-12;
        transition: color $transition-color;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 4px;
            background-color: $brand-red-light;
            opacity: 0;
            left: 50%;
            right: 50%;
            will-change: transition;
            transition: opacity 0.2s ease-out, left 0.2s ease-out, right 0.2s ease-out;
        }

        &:hover,
        &:focus,
        &--active {
            color: $brand-red-light;
        }

        &--active::after {
            opacity: 1;
            left: $spacing-12;
            right: $spacing-12;
        }
    }

    &__flyout {
        top: calc(100% + #{$flyout-arrow-size} - 20px);
    }
}
