<div class="summary-poi {{ styleModifier }}">
  <h3 class="summary-poi__title">
    <span>{{ summary-poi_title }}</span><!-- fighting the space between inline elements
    -->{{#if summary-poi_isFlagHome}}<span class="summary-poi__flag summary-poi__flag--home"></span>{{/if}}<!-- fighting the space between inline elements
    -->{{#if summary-poi_isFlagWork}}<span class="summary-poi__flag summary-poi__flag--work"></span>{{/if}}
  </h3>
  <p class="summary-poi__text">{{ summary-poi_text }}</p>
</div>