@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.footer {
  padding: $p-spacing-32 0;
  color: $p-color-grey-5;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 1.5rem,
    rgba(255, 255, 255, 1) 100%
  );

  @include breakpoint("m") {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 299px;
    padding-left: $p-spacing-32;
    padding-right: $p-spacing-32;
  }

  a {
    color: $p-color-grey-5;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: $p-color-red-1;
    }
  }
}
