@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

$root: '.root';

.option {
  display: flex;
  padding: $p-spacing-4 p-px-to-rem(11px);
  min-height: $p-spacing-24;
  cursor: pointer;
  text-align: left;
  word-break: break-word;
  color: $p-color-default;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier,
    background-color $p-animation-hover-duration-var $p-animation-hover-bezier;

  &[role='status'] {
    cursor: not-allowed;
  }

  &-sr {
    @include text-hidden;
  }

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
  }

  &:not([aria-disabled]):not([role='status']):hover {
    color: $p-color-state-hover;
    background-color: $p-color-background-surface;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-state-hover;
      background-color: $p-color-default;
    }
  }

  &--highlighted,
  &--selected {
    color: $p-color-state-active;
    background-color: $p-color-background-surface;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-state-active;
      background-color: $p-color-default;
    }

    .icon {
      margin-left: $p-spacing-4;
    }
  }

  &--selected {
    cursor: default;
    pointer-events: none;
    padding-right: $p-spacing-32;
  }

  &--disabled {
    cursor: not-allowed;
    color: $p-color-state-disabled;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-state-disabled;
    }
  }

  &--hidden {
    display: none;
  }
}

.optgroup-label {
  display: block;
  padding: $p-spacing-8 p-px-to-rem(12px);
  margin-top: $p-spacing-8;
  font-weight: $p-font-weight-bold;

  & ~ .option {
    padding-left: $p-spacing-24;
  }
}
