@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

@mixin p-text-field-wrapper-label-text-visible() {
  position: static;
  width: fit-content;
  height: auto;
  margin: 0;
  padding: 0 0 $p-spacing-4 0;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin p-text-field-wrapper-label-text-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: block;
}

::slotted(select) {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  padding: p-px-to-rem(12px) p-px-to-rem(48px) p-px-to-rem(12px) p-px-to-rem(12px) !important;
  @-moz-document url-prefix() {
    // fix for 3px text-indention in FF
    padding-left: p-px-to-rem(8px) !important;
  }
  margin: 0 !important;
  outline: transparent solid 1px !important;
  outline-offset: 2px !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border-width: 0 !important;
  border-top-color: transparent !important;
  background-color: transparent !important;
  opacity: 1 !important;
  font-family: $p-font-family !important;
  font-weight: $p-font-weight-regular !important;
  font-size: $p-font-size-small !important;
  line-height: p-calculate-line-height($p-font-size-small) !important;
  color: inherit;
  text-indent: 0 !important;
  cursor: pointer !important;
  transition: color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier,
    border-top-color 1ms linear !important; // used for transitionend event listener;
}

// Focus
::slotted(select:focus),
.#{$p-global-class-prefix}select-wrapper__filter-input:focus + span {
  outline-color: $p-color-neutral-contrast-medium !important;
}

:host([theme='dark']) ::slotted(select:focus),
:host([theme='dark']) .#{$p-global-class-prefix}select-wrapper__filter-input:focus + span {
  outline-color: $p-color-theme-dark-neutral-contrast-medium !important;
}

:host([state='success']) ::slotted(select:focus),
:host([state='success']) .#{$p-global-class-prefix}select-wrapper__filter-input:focus + span {
  outline-color: $p-color-notification-success !important;
}

:host([theme='dark'][state='success']) ::slotted(select:focus),
:host([theme='dark'][state='success']) .#{$p-global-class-prefix}select-wrapper__filter-input:focus + span {
  outline-color: $p-color-theme-dark-notification-success !important;
}

:host([state='error']) ::slotted(select:focus),
:host([state='error']) .#{$p-global-class-prefix}select-wrapper__filter-input:focus + span {
  outline-color: $p-color-notification-error !important;
}

:host([theme='dark'][state='error']) ::slotted(select:focus),
:host([theme='dark'][state='error']) .#{$p-global-class-prefix}select-wrapper__filter-input:focus + span {
  outline-color: $p-color-theme-dark-notification-error !important;
}

// Disabled
::slotted(select:disabled) {
  border-top-color: rgba(255, 255, 255, 0.01) !important;
  color: $p-color-state-disabled !important;
  cursor: not-allowed !important;
}

.#{$p-global-class-prefix}select-wrapper {
  $bem-block: &;
  display: block;
  position: relative;

  &--theme-light {
    color: $p-color-default;
  }

  &--theme-dark {
    color: $p-color-theme-dark-default;
  }

  &__label,
  &__description {
    display: block;
    width: fit-content;
    transition: color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;

    &--visible {
      @include p-text-field-wrapper-label-text-visible;
    }

    &--hidden {
      @include p-text-field-wrapper-label-text-hidden;
    }

    @include p-media-query('xs') {
      &--visible-xs {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-xs {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('s') {
      &--visible-s {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-s {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('m') {
      &--visible-m {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-m {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('l') {
      &--visible-l {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-l {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('xl') {
      &--visible-xl {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-xl {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }
  }

  &__label {
    #{$bem-block}--theme-light & {
      color: $p-color-default;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &--disabled {
      #{$bem-block}--theme-light & {
        color: $p-color-state-disabled;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-disabled;
      }
    }
  }

  &__required {
    @include required;

    #{$bem-block}--theme-dark & {
      @include required('dark');
    }
  }

  &__description {
    #{$bem-block}--theme-light & {
      color: $p-color-neutral-contrast-medium;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-neutral-contrast-medium;
    }

    &--disabled {
      #{$bem-block}--theme-light & {
        color: $p-color-state-disabled;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-disabled;
      }
    }

    #{$bem-block}__label ~ & {
      margin-top: -$p-spacing-4;
      padding-bottom: $p-spacing-8;
    }
  }

  &__fake-select {
    position: relative;
    width: 100%;
    height: p-px-to-rem(48px);
    display: block;
    transition: box-shadow var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier,
      background-color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;

    #{$bem-block}--theme-light & {
      background-color: $p-color-background-default;
      box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium;
    }

    #{$bem-block}--theme-light:hover &:not(&--disabled):not(&--success):not(&--error) {
      box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
    }

    #{$bem-block}--theme-dark & {
      background-color: $p-color-default;
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-medium;
    }

    #{$bem-block}--theme-dark:hover &:not(&--disabled):not(&--success):not(&--error) {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
    }

    &--disabled {
      #{$bem-block}--theme-light & {
        background-color: $p-color-background-default;
        box-shadow: inset 0 0 0 1px $p-color-state-disabled;
      }

      #{$bem-block}--theme-dark & {
        background-color: $p-color-default;
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-state-disabled;
      }
    }

    &--success {
      #{$bem-block}--theme-light & {
        box-shadow: inset 0 0 0 2px $p-color-notification-success;
      }

      #{$bem-block}--theme-dark & {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-success;
      }

      &:hover,
      #{$bem-block}__label:hover ~ & {
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
        }
      }
    }

    &--error {
      #{$bem-block}--theme-light & {
        box-shadow: inset 0 0 0 2px $p-color-notification-error;
      }

      #{$bem-block}--theme-dark & {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-error;
      }

      &:hover,
      #{$bem-block}__label:hover ~ & {
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
        }
      }
    }
  }

  &__fake-option-list {
    @include p-text-small;
    position: absolute;
    z-index: 10;
    border: 1px solid;
    left: 0;
    right: 0;
    max-height: p-px-to-rem(320px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    transition: border-color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;
    transform: translate3d(0, 0, 0); // dix IOS bug if less than 5 items are displayed

    #{$bem-block}--theme-light & {
      border-color: $p-color-neutral-contrast-medium;
      background-color: $p-color-background-default;
    }

    #{$bem-block}--theme-light:hover & {
      border-color: $p-color-neutral-contrast-high;
    }

    #{$bem-block}--theme-dark & {
      border-color: $p-color-theme-dark-neutral-contrast-medium;
      background-color: $p-color-default;
    }

    #{$bem-block}--theme-dark:hover & {
      border-color: $p-color-theme-dark-neutral-contrast-high;
    }

    &--direction {
      &-down {
        top: calc(100% - 1px);
        border-top: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 12px 25px 0 rgba(0, 0, 0, 0.1);

        &::before {
          content: '';
          display: block;
          position: sticky;
          top: 0;
          width: 100%;
          height: 1px;
        }

        #{$bem-block}--theme-light &::before {
          background-color: $p-color-neutral-contrast-low;
        }

        #{$bem-block}--theme-dark &::before {
          background-color: $p-color-theme-dark-neutral-contrast-low;
        }
      }

      &-up {
        bottom: p-px-to-rem(47px);
        border-bottom: none;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.05), 0 -12px 25px 0 rgba(0, 0, 0, 0.075);

        &::after {
          content: '';
          display: block;
          position: sticky;
          bottom: 0;
          width: 100%;
          height: 1px;
        }

        #{$bem-block}--theme-light &::after {
          background-color: $p-color-neutral-contrast-low;
        }

        #{$bem-block}--theme-dark &::after {
          background-color: $p-color-theme-dark-neutral-contrast-low;
        }
      }
    }

    // Firefox scrollbar styling
    scrollbar-width: thin;
    scrollbar-color: auto;

    &:focus {
      outline: none;
    }

    &--hidden {
      display: block;
      top: calc(100% - 3px);
      opacity: 0;
      overflow: hidden;
      height: 1px;
      pointer-events: none;
    }
  }

  &__fake-option {
    display: flex;
    padding: $p-spacing-4 p-px-to-rem(11px);
    min-height: $p-spacing-24;
    cursor: pointer;
    text-align: left;
    word-break: break-word;
    transition: color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier,
      background-color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;

    &[role='status'] {
      cursor: not-allowed;
    }

    &-sr {
      @include p-text-field-wrapper-label-text-hidden;
    }

    #{$bem-block}--theme-light & {
      color: $p-color-default;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &:not([aria-disabled]):not([role='status']):hover {
      #{$bem-block}--theme-light & {
        color: $p-color-state-hover;
        background-color: $p-color-background-surface;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-hover;
        background-color: $p-color-theme-dark-background-surface;
      }
    }

    &--selected {
      cursor: default;
      pointer-events: none;
      padding-right: $p-spacing-32;

      #{$bem-block}--theme-light & {
        color: $p-color-state-active;
        background-color: $p-color-background-surface;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-active;
        background-color: $p-color-theme-dark-background-surface;
      }

      span + #{$bem-block}__fake-option-icon {
        margin-left: $p-spacing-4;
      }
    }

    &--highlighted:not(&--selected) {
      #{$bem-block}--theme-light & {
        color: $p-color-state-active;
        background-color: $p-color-background-surface;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-active;
        background-color: $p-color-theme-dark-background-surface;
      }
    }

    &--disabled {
      cursor: not-allowed;

      #{$bem-block}--theme-light & {
        color: $p-color-state-disabled;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-disabled;
      }
    }

    &--hidden,
    &--initiallyHidden {
      display: none;
    }
  }

  &__fake-optgroup-label {
    display: block;
    padding: $p-spacing-8 p-px-to-rem(12px);
    margin-top: $p-spacing-8;
    font-weight: $p-font-weight-bold;

    & ~ #{$bem-block}__fake-option {
      padding-left: $p-spacing-24;
    }
  }

  &__icon {
    position: absolute;
    top: p-px-to-rem(12px);
    right: p-px-to-rem(12px);
    transition: transform var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;

    #{$bem-block}--theme-light & {
      color: $p-color-default;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &--disabled {
      #{$bem-block}--theme-light & {
        color: $p-color-state-disabled;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-disabled;
      }
    }

    &--opened {
      transform: rotate(180deg);
    }
  }

  &__message {
    margin-top: $p-spacing-4;
    transition: color var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;

    &#{$bem-block}--theme-light {
      color: $p-color-default;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-dark-default;
    }

    &--success {
      &#{$bem-block}--theme-light {
        color: $p-color-notification-success;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-success;
      }
    }

    &--error {
      &#{$bem-block}--theme-light {
        color: $p-color-notification-error;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-error;
      }
    }
  }

  &__filter-input {
    position: absolute;
    z-index: 1;
    bottom: 2px;
    left: 2px;
    display: block;
    width: calc(100% - #{p-px-to-rem(44px)});
    height: p-px-to-rem(44px);
    padding: p-px-to-rem(10px);
    outline: transparent none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    opacity: 0;
    font-family: $p-font-family;
    font-weight: $p-font-weight-regular;
    font-size: $p-font-size-small;
    line-height: p-calculate-line-height($p-font-size-small);
    text-indent: 0;
    cursor: text;

    #{$bem-block}--theme-light & {
      color: $p-color-default;
      background-color: $p-color-background-default;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
      background-color: $p-color-default;
    }

    &::placeholder {
      opacity: 1;

      #{$bem-block}--theme-light & {
        color: $p-color-default;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-default;
      }
    }

    &::-webkit-input-placeholder {
      opacity: 1;

      #{$bem-block}--theme-light & {
        color: $p-color-default;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-default;
      }
    }

    &::-moz-placeholder {
      opacity: 1;

      #{$bem-block}--theme-light & {
        color: $p-color-default;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-default;
      }
    }

    &:-ms-input-placeholder {
      opacity: 1;

      #{$bem-block}--theme-light & {
        color: $p-color-default;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-default;
      }
    }

    &:-moz-placeholder {
      opacity: 1;

      #{$bem-block}--theme-light & {
        color: $p-color-default;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-default;
      }
    }

    + span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: p-px-to-rem(48px);
      outline: transparent solid 1px;
      outline-offset: 2px;
      transition: box-shadow var(--p-animation-hover-duration, $p-animation-hover-duration) $p-animation-hover-bezier;
      pointer-events: all;
      cursor: pointer;

      #{$bem-block}--theme-light & {
        box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium;
      }

      #{$bem-block}--theme-light:hover & {
        box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
      }

      #{$bem-block}--theme-dark & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-medium;
      }

      #{$bem-block}--theme-dark:hover & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
      }
    }

    &:hover:not(&--disabled):not(&--success):not(&--error) + span {
      #{$bem-block}--theme-light & {
        box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
      }

      #{$bem-block}--theme-dark & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
      }
    }

    #{$bem-block}--theme-light label:hover + &:not(&--disabled):not(&--success):not(&--error) + span {
      box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
    }

    #{$bem-block}--theme-dark label:hover + &:not(&--disabled):not(&--success):not(&--error) + span {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
    }

    &:focus {
      opacity: 1;
    }

    &:disabled {
      cursor: not-allowed;
      + span {
        cursor: not-allowed;
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 1px $p-color-state-disabled;
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 1px $p-color-theme-dark-state-disabled;
        }
      }
    }

    &--success {
      + span {
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 2px $p-color-notification-success;
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-success;
        }
      }

      &:hover + span {
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
        }
      }

      #{$bem-block}--theme-light label:hover + & + span {
        box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);
      }

      #{$bem-block}--theme-dark label:hover + & + span {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
      }
    }

    &--error {
      + span {
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 2px $p-color-notification-error;
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-error;
        }
      }

      &:hover + span {
        #{$bem-block}--theme-light & {
          box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);
        }

        #{$bem-block}--theme-dark & {
          box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
        }
      }

      #{$bem-block}--theme-light label:hover + & + span {
        box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);
      }

      #{$bem-block}--theme-dark label:hover + & + span {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
      }
    }
  }
}
