@import '~@porsche-design-system/utilities/scss';

// disable animations globally because of Browserstack VRT testing
:root {
  --p-animation-duration__spinner: 0s !important;
}

// disable animations for IE11
p-spinner > .p-spinner {
  animation-duration: 0s !important;
}

#app {
  padding: $p-spacing-32;
}

p-divider {
  margin: $p-spacing-24 0;
}

/**
 * TODO: @see explanation below
 */
//p-grid > p-grid-item[size='2']:first-child > p-headline[tag='h4'] {
//  margin-top: $p-spacing-16;
//}

#human-readable-browser-name::before {
  content: 'Unknown browser';
  @include p-headline-4;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #human-readable-browser-name::before {
    content: 'Internet Explorer 10+';
  }
}

@supports (-ms-ime-align:auto) {
  #human-readable-browser-name::before {
    content: 'Edge';
  }
}

@-moz-document url-prefix() {
  #human-readable-browser-name::before {
    content: 'Firefox';
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  #human-readable-browser-name::before {
    content: 'Chrome 29+';
  }
}

.playground {
  padding: $p-spacing-16;

  &.light {
    background: $p-color-theme-light-background;
  }

  &.dark {
    background: $p-color-theme-dark-surface;
  }

  &.spacing-inline {
    &::before {
      content: '';
      display: block;
      margin-top: -$p-spacing-16;
    }

    > * {
      margin-top: $p-spacing-16;

      &:not(:last-child) {
        margin-right: $p-spacing-16;
      }
    }
  }

  &.spacing-block {
    &::before {
      content: '';
      display: block;
      margin-top: -$p-spacing-16;
    }

    > * {
      margin-top: $p-spacing-16;
    }
  }

  p-grid-item[size],
  p-grid-item[class*="--size"],
  p-grid-item[offset],
  p-grid-item[class*="--offset"],
  p-flex-item[width],
  p-flex-item[class*="--width"],
  p-flex-item[offset],
  p-flex-item[class*="--offset"] {
    &::before {
      @include p-text;
      content: '';
      background: lightskyblue;
      padding: $p-spacing-4;
      display: block;
      text-align: center;
      color: $p-color-theme-dark-default;
      min-height: $p-spacing-24;
    }
  }

  .example-content {
    @include p-text;
    background: lightskyblue;
    padding: $p-spacing-4;
    display: block;
    text-align: center;
    color: $p-color-theme-dark-default;
    min-height: $p-spacing-24;
  }

  /**
   * TODO: wait for Stencil statement regarding props deletion
   * Since v0.0.7 od react components wrapper, all attributes are stripped off the compiled components.
   * Due to this fact (until it is fixed), the VRT fails because there are now contents for these attributes.
   * To fix the build the content generation is disabled and all VRT's are adapted until its clear if this is a bug or not.
   */
  //p-grid-item[size]::before,
  //p-grid-item[class*="--size"]::before{
  //  content: 's: ' attr(size);
  //}
  //
  //p-grid-item[offset]::before,
  //p-grid-item[class*="--offset"]::before{
  //  content: 'o: ' attr(offset);
  //}
  //
  //p-flex-item[width]::before,
  //p-flex-item[class*="--width"]::before{
  //  content: 'w: ' attr(width);
  //}
  //
  //p-flex-item[offset]::before,
  //p-flex-item[class*="--offset"]::before{
  //  content: 'o: ' attr(offset);
  //}
}
