@import '~@porsche-ui/ui-kit-scss-utils/index';

#app {
  padding: $p-spacing-32;
}

hr {
  border: 0;
  height: 1px;
  background: $p-color-neutral-grey-2;
  margin: $p-spacing-24 0;
}

p-grid > p-grid-child[size='2']:first-child > p-headline[tag='h4'] {
  margin-top: $p-spacing-16;
}

.playground {
  padding: $p-spacing-16;

  &.light {
    background: $p-color-porsche-light;
  }

  &.dark {
    background: $p-color-surface-dark;
  }

  &.spacing-inline {
    &::before {
      content: '';
      display: block;
      margin-top: -$p-spacing-16;
    }

    > * {
      margin-top: $p-spacing-16;

      &:not(:last-child) {
        margin-right: $p-spacing-16;
      }
    }
  }

  &.spacing-block {
    &::before {
      content: '';
      display: block;
      margin-top: -$p-spacing-16;
    }

    > * {
      margin-top: $p-spacing-16;
    }
  }

  p-grid-child[size],
  p-grid-child[offset],
  p-flex-item[width],
  p-flex-item[offset] {
    &::before {
      @include p-text-copy;
      content: '';
      background: lightskyblue;
      padding: $p-spacing-4;
      display: block;
      text-align: center;
      color: $p-color-porsche-light;
    }
  }

  p-grid-child[size]::before {
    content: 's: ' attr(size);
  }

  p-grid-child[offset]::before {
    content: 'o: ' attr(offset);
  }

  p-flex-item[width]::before {
    content: 'w: ' attr(width);
  }

  p-flex-item[offset]::before {
    content: 'o: ' attr(offset);
  }

  [class*='p-spacing'] {
    display: inline-flex;
    background: lightskyblue;
  }
}
