@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

:host {
  display: block !important;
}

.root {
  $bem-block: &;
  margin: 0;
  padding: 0;
  border: none;

  &--error {
    .message {
      color: $p-color-notification-error;
    }
  }

  &--success {
    .message {
      color: $p-color-notification-success;
    }
  }

  &--label-size-small legend {
    @include p-headline-5;
  }

  &--required legend {
    @include required;
  }
}

legend {
  @include p-headline-4;
  padding: 0;
  margin: 0 0 $p-spacing-16;
  color: $p-color-default;
}

.message {
  margin-top: $p-spacing-16;
  color: $p-color-default;
}
