:root {
  --p-transition-duration: 0s;
  --p-animation-duration__spinner: 0s;
  --p-animation-hover-duration: 0s;
  --p-animation-duration__banner: 0s;
  --p-override-toast-skip-timeout: true;
  --p-override-toast-animation-duration: 0s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body > select {
  position: relative;
  z-index: 999999;
}

.playground {
  padding: 1rem;
}

.playground.light,
.playground.light-electric {
  background: #fff;
}

.playground.dark {
  background: #1a2023;
}

.playground.hovered::before,
.playground.focused::before,
.playground.focused-hovered::before {
  display: block;
  background: deeppink;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/*light*/
.playground.light.hovered::before {
  content: ':hover (theme=light)';
}

.playground.light.focused::before {
  content: ':focus-visible (theme=light)';
}

.playground.light.focused-hovered::before {
  content: ':focus-visible:hover (theme=light)';
}

/*dark*/
.playground.dark.hovered::before {
  content: ':hover (theme=dark)';
}

.playground.dark.focused::before {
  content: ':focus-visible (theme=dark)';
}

.playground.dark.focused-hovered::before {
  content: ':focus-visible:hover (theme=dark)';
}

/*light-electric*/
.playground.light-electric.hovered::before {
  content: ':hover (theme=light-electric)';
}

.playground.light-electric.focused::before {
  content: ':focus-visible (theme=light-electric)';
}

.playground.light-electric.focused-hovered::before {
  content: ':focus-visible:hover (theme=light-electric)';
}
