:root {
  --p-transition-duration: 0s;
  --p-animation-duration: 0s;
  --p-temporary-spinner-stroke-dasharray: 40;
  --p-temporary-toast-skip-timeout: true;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Playground */
.playground {
  /* TODO: we should generate background colors with scss or js styles package */
  --theme-light-background-base: #fff;
  --theme-light-background-surface: #eeeff2;
  --theme-dark-background-base: #0e0e12;
  --theme-dark-background-surface: #212225;
  padding: 16px;
}

.playground.auto-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.playground.light {
  background: var(--theme-light-background-base);
}

.playground.light.surface {
  background: var(--theme-light-background-surface);
}

@media (prefers-color-scheme: dark) {
  .auto-dark-mode .playground.light {
    background: var(--theme-dark-background-base);
  }

  .auto-dark-mode .playground.light.surface {
    background: var(--theme-dark-background-surface);
  }
}

.playground.dark {
  background: var(--theme-dark-background-base);
}

.playground.dark.surface {
  background: var(--theme-dark-background-surface);
}

@media (prefers-color-scheme: light) {
  .auto-dark-mode .playground.dark {
    background: var(--theme-light-background-base);
  }

  .auto-dark-mode .playground.dark.surface {
    background: var(--theme-light-background-surface);
  }
}

.playground.hover::before,
.playground.focus::before,
.playground.focus-hover::before {
  display: block;
  width: 100%;
  color: deeppink;
}

.playground.hover:not(.auto-layout)::before,
.playground.focus:not(.auto-layout)::before,
.playground.focus-hover:not(.auto-layout)::before {
  margin-bottom: 16px;
}

.playground.hover::before {
  content: ':hover';
}

.playground.focus::before {
  content: ':focus-visible';
}

.playground.focus-hover::before {
  content: ':focus-visible:hover';
}

/* Select */
select:focus,
select {
  position: relative;
  z-index: 999999;
  font: revert;
  outline: none;
  outline-offset: 0;
}

/* Visualize Grid */
.visualize-grid {
  position: fixed;
  inset: 0;
  pointer-events: none;
  /* TODO: we should generate visualize grid with scss or js styles package */
  margin: 0;
  display: grid;
  padding: 0 calc(50% - 2560px / 2);
  grid-gap: clamp(16px, 1.25vw + 12px, 36px);
  max-width: 2560px;
  min-width: 320px;
  box-sizing: content-box;
  grid-template-columns:
    [full-start] minmax(0, calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px)))
    [wide-start extended-start basic-start narrow-start] repeat(6, minmax(0, 1fr))
    [narrow-end basic-end extended-end wide-end] minmax(
      0,
      calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px))
    )
    [full-end];
  --pds-internal-grid-safe-zone: max(22px, 10.625vw - 12px);
  --pds-grid-basic-span-one-half: span 3;
  --pds-grid-basic-span-one-third: span 2;
  --pds-grid-narrow-span-one-half: span 3;
  --pds-grid-basic-span-two-thirds: span 4;
  --pds-grid-extended-span-one-half: span 3;
}
@media (min-width: 760px) {
  .visualize-grid {
    grid-template-columns:
      [full-start] minmax(0, calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px)))
      [wide-start] minmax(0, 1fr) [extended-start] minmax(0, 1fr) [basic-start] repeat(2, minmax(0, 1fr)) [narrow-start] repeat(
        8,
        minmax(0, 1fr)
      )
      [narrow-end] repeat(2, minmax(0, 1fr)) [basic-end] minmax(0, 1fr) [extended-end] minmax(0, 1fr) [wide-end] minmax(
        0,
        calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px))
      )
      [full-end];
    --pds-internal-grid-safe-zone: calc(5vw - 16px);
    --pds-grid-basic-span-one-half: span 6;
    --pds-grid-basic-span-one-third: span 4;
    --pds-grid-narrow-span-one-half: span 4;
    --pds-grid-basic-span-two-thirds: span 8;
    --pds-grid-extended-span-one-half: span 7;
  }
}

@media (min-width: 1920px) {
  .visualize-grid {
    --pds-internal-grid-safe-zone: min(50vw - 880px, 400px);
  }
}

.visualize-grid > span {
  background: rgba(0, 0, 255, 0.1);
}

@media (max-width: 759px) {
  .visualize-grid > span:nth-child(n + 9) {
    display: none;
  }
}
