@import "../../../common";
@import "../../../../../../node_modules/@porsche/ui-kit-core/src/base/spacing/spacing.setup";

$spacings: (
    "3": $spacing-3,
    "6": $spacing-6,
    "12": $spacing-12,
    "18": $spacing-18,
    "24": $spacing-24,
    "30": $spacing-30,
    "36": $spacing-36,
    "42": $spacing-42,
    "48": $spacing-48,
    "54": $spacing-54,
    "60": $spacing-60
);

.#{$global-class-prefix}m {
    @each $name, $spacing in $spacings {
        &--#{$name} {
            margin: $spacing;
        }

        &t--#{$name} {
            margin-top: $spacing;
        }

        &l--#{$name} {
            margin-left: $spacing;
        }

        &b--#{$name} {
            margin-bottom: $spacing;
        }

        &r--#{$name} {
            margin-right: $spacing;
        }
    }
}

.#{$global-class-prefix}m {
    &--auto {
        margin: auto;
    }

    &t--auto {
        margin-top: auto;
    }

    &l--auto {
        margin-left: auto;
    }

    &b--auto {
        margin-bottom: auto;
    }

    &r--auto {
        margin-right: auto;
    }
}

.#{$global-class-prefix}m-n {
    @each $name, $spacing in $spacings {
        &--#{$name} {
            margin: -$spacing;
        }

        &t--#{$name} {
            margin-top: -$spacing;
        }

        &l--#{$name} {
            margin-left: -$spacing;
        }

        &b--#{$name} {
            margin-bottom: -$spacing;
        }

        &r--#{$name} {
            margin-right: -$spacing;
        }
    }
}

.#{$global-class-prefix}p {
    @each $name, $spacing in $spacings {
        &--#{$name} {
            padding: $spacing;
        }

        &t--#{$name} {
            padding-top: $spacing;
        }

        &l--#{$name} {
            padding-left: $spacing;
        }

        &b--#{$name} {
            padding-bottom: $spacing;
        }

        &r--#{$name} {
            padding-right: $spacing;
        }
    }
}
