@import '../../../styles/internal.variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

$root: '.root';

#{$root} {
  width: 800px;
}

.headline {
  padding: 24px 0;

  &--closed {
    &:hover,
    &:active {
      background-color: $p-color-background-surface;

      #{$root}--theme-dark & {
        background-color: $p-color-theme-dark-background-surface;
      }
    }
  }
}

button {
  // TODO: reset Button styles?
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  outline: transparent solid 1px;
  outline-offset: 1px;
  text-decoration: none;
  border: 0;
  background: transparent;
  color: $p-color-default;
  // iOS Safari users should not see tap highlight color on button
  -webkit-tap-highlight-color: transparent;

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
  }

  &:focus {
    outline-color: $p-color-state-focus;
  }
  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
}

.content {
  padding: 0 8px;
}

.divider--open {
  margin-top: 40px;
}
