@use 'sass:math';
/* Internal functions, - interface or output might change in future releases! */

@function __p-strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

@function __p-is-number($value) {
  @return type-of($value) == 'number';
}

@function __p-is-rem($value) {
  @return __p-is-number($value) and index('rem', unit($value)) != null;
}

@function __p-is-px($value) {
  @return __p-is-number($value) and index('px', unit($value)) != null;
}

@function __p-pow($number, $exponent) {
  @if (round($exponent) != $exponent) {
    @return __p-exp($exponent * __p-ln($number));
  }

  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: math.div($value, $number);
    }
  }

  @return $value;
}

@function __p-factorial($value) {
  $result: 1;

  @if $value == 0 {
    @return $result;
  }

  @for $index from 1 through $value {
    $result: $result * $index;
  }

  @return $result;
}

@function __p-summation($iteratee, $input, $initial: 0, $limit: 100) {
  $sum: 0;

  @for $index from $initial to $limit {
    $sum: $sum + call(get-function($iteratee), $input, $index);
  }

  @return $sum;
}

@function __p-exp-maclaurin($x, $n) {
  @return (math.div(__p-pow($x, $n), __p-factorial($n)));
}

@function __p-exp($value) {
  @return __p-summation('__p-exp-maclaurin', $value, 0, 100);
}

@function __p-ln-maclaurin($x, $n) {
  @return (math.div(__p-pow(-1, $n + 1), $n)) * (__p-pow($x - 1, $n));
}

@function __p-ln($value) {
  $ten-exp: 1;
  $ln-ten: 2.30258509;

  @while ($value > __p-pow(10, $ten-exp)) {
    $ten-exp: $ten-exp + 1;
  }

  @return __p-summation(__p-ln-maclaurin, math.div($value, __p-pow(10, $ten-exp)), 1, 100) + $ten-exp * $ln-ten;
}
