@import "../../../node_modules/@porsche/ui-kit-core/src/mixins/breakpoint";
@import "../../../node_modules/@porsche/ui-kit-core/src/base/font/font.setup";
@import "../../../node_modules/@porsche/ui-kit-core/src/base/font/font.mixin";
@import "../../../node_modules/@porsche/ui-kit-core/src/base/text-size/text-size.mixin";

//TODO: These mixins are outdated and should be removed
@mixin -typo-caption() {
    @include -font-primary;

    font-size: 0.875rem;      // 14px
    line-height: 1.25rem;    // 20px
    font-weight: $font-weight-regular;
}

@mixin -typo-body-1() {
    @include -font-primary;

    font-size: 1rem;      // 16px
    line-height: 1.5rem;    // 24px
    font-weight: $font-weight-regular;
}

@mixin -typo-body-2() {
    @include -font-primary;

    font-size: 1rem;      // 16px
    line-height: 1.5rem;    // 24px
    font-weight: $font-weight-bold;
}

@mixin -typo-subheading-1() {
    @include -font-primary;

    font-size: 1.25rem;      // 20px
    line-height: 1.625rem;    // 26px
    font-weight: $font-weight-thin;
}

@mixin -typo-subheading-2() {
    @include -font-primary;

    font-size: 1.25rem;      // 20px
    line-height: 1.625rem;    // 26px
    font-weight: $font-weight-regular;
}

@mixin -typo-subheading-3() {
    @include -font-primary;

    font-size: 1.375rem;      // 22px
    line-height: 1.75rem;    // 28px
    font-weight: $font-weight-thin;

    @include breakpoint("l") {
        font-size: 1.5rem;      // 24px
        line-height: 1.875rem;    // 30px
        font-weight: $font-weight-thin;
    }
}

@mixin -typo-subheading-4() {
    @include -font-primary;

    font-size: 1.375rem;      // 22px
    line-height: 1.75rem;    // 28px
    font-weight: $font-weight-regular;

    @include breakpoint("l") {
        font-size: 1.5rem;      // 24px
        line-height: 1.875rem;    // 30px
        font-weight: $font-weight-regular;
    }
}

@mixin -typo-title-1() {
    @include -font-primary;

    font-size: 1.5rem;      // 24px
    line-height: 1.875rem;    // 30px
    font-weight: $font-weight-thin;

    @include breakpoint("m", "l") {
        font-size: 1.625rem;      // 26px
        line-height: 2rem;    // 32px
        font-weight: $font-weight-thin;
    }

    @include breakpoint("l") {
        font-size: 1.75rem;      // 28px
        line-height: 2.125rem;    // 34px
        font-weight: $font-weight-thin;
    }
}

@mixin -typo-title-2() {
    @include -font-primary;

    font-size: 1.5rem;      // 24px
    line-height: 1.875rem;    // 30px
    font-weight: $font-weight-regular;

    @include breakpoint("m", "l") {
        font-size: 1.625rem;      // 26px
        line-height: 2rem;    // 32px
        font-weight: $font-weight-regular;
    }

    @include breakpoint("l") {
        font-size: 1.75rem;      // 28px
        line-height: 2.125rem;    // 34px
        font-weight: $font-weight-regular;
    }
}

@mixin -typo-headline() {
    @include -font-primary;

    font-size: 1.75rem;      // 28px
    line-height: 2.125rem;    // 34px
    font-weight: $font-weight-thin;

    @include breakpoint("m", "l") {
        font-size: 2rem;     // 32px
        line-height: 2.5rem;   // 40px
        font-weight: $font-weight-thin;
    }

    @include breakpoint("l") {
        font-size: 2.25rem;      // 36px
        line-height: 2.625rem;    // 42px
        font-weight: $font-weight-thin;
    }
}

@mixin -typo-headline-regular() {
    @include -font-primary;

    font-size: 1.75rem;      // 28px
    line-height: 2.125rem;    // 34px
    font-weight: $font-weight-regular;

    @include breakpoint("m", "l") {
        font-size: 2rem;     // 32px
        line-height: 2.5rem;   // 40px
        font-weight: $font-weight-regular;
    }

    @include breakpoint("l") {
        font-size: 2.25rem;      // 36px
        line-height: 2.625rem;    // 42px
        font-weight: $font-weight-regular;
    }
}

@mixin -typo-display() {
    @include -font-primary;

    font-size: 2rem;      // 32px
    line-height: 2.375rem;    // 38px
    font-weight: $font-weight-thin;

    @include breakpoint("s", "l") {
        font-size: 2.5rem;     // 40px
        line-height: 3rem;       // 52px
        font-weight: $font-weight-thin;
    }

    @include breakpoint("l") {
        font-size: 3.75rem;      // 60px
        line-height: 4.5rem;    // 72px
        font-weight: $font-weight-thin;
    }
}

@mixin -typo-display-regular() {
    @include -font-primary;

    font-size: 2rem;      // 32px
    line-height: 2.375rem;    // 38px
    font-weight: $font-weight-regular;

    @include breakpoint("s", "l") {
        font-size: 2.5rem;     // 40px
        line-height: 3rem;       // 52px
        font-weight: $font-weight-regular;
    }

    @include breakpoint("l") {
        font-size: 3.75rem;      // 60px
        line-height: 4.5rem;    // 72px
        font-weight: $font-weight-regular;
    }
}

@mixin -typo-elevated() {
    @include -font-primary;

    font-size: 5.625rem;      // 90px
    line-height: 6.75rem;    // 108px
    font-weight: $font-weight-thin;

    @include breakpoint("s", "m") {
        font-size: 6.75rem;     // 108px
        line-height: 8.125rem;   // 130px
        font-weight: $font-weight-thin;
    }

    @include breakpoint("m", "l") {
        font-size: 7.875rem;     // 126px
        line-height: 9.375rem;   // 150px
        font-weight: $font-weight-thin;
    }

    @include breakpoint("l") {
        font-size: 9rem;         // 144px
        line-height: 10.75rem;  // 172px
        font-weight: $font-weight-thin;
    }
}
