@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$pagination-dots-dot-border-radius: 100% !default;
$pagination-dots-dot-button-padding: 0 !default;
$pagination-dots-dot-button-margin: 0 $spacing-6 !default;
$pagination-dots-dot-button-dimension: rem(8px) !default;
