// sass-lint:disable empty-args
@import 'layer.setup.scss';

@mixin -layer-blocking-lower() {
  position: relative;
  z-index: $layer-blocking-lower-index;
}

@mixin -layer-blocking-higher() {
  position: relative;
  z-index: $layer-blocking-higher-index;
}
