@import "../../../common";

@mixin fillAndHoverColor($name, $color) {
    &--#{$name} {
        fill: $color;
        color: $color;

        &--hover {
            &:hover {
                fill: $color;
                color: $color;
            }
        }
    }
}

.#{$global-class-prefix}icon {
    $bem-block: &;

    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    speak: none;
    backface-visibility: hidden;

    &--small {
        font-size: 14px;
    }

    &--regular {
        font-size: 18px;
    }

    &--medium {
        font-size: 24px;
    }

    &--large {
        font-size: 30px;
    }

    &--huge {
        font-size: 42px;
    }

    &--circled {
        border-color: inherit;
        border-radius: 50%;

        &#{$bem-block}--small {
            padding: 3px;
            border: 1px solid;
        }

        &#{$bem-block}--regular {
            padding: 5px;
            border: 1px solid;
        }

        &#{$bem-block}--medium {
            padding: 7px;
            border: 1px solid;
        }

        &#{$bem-block}--large {
            padding: 11px;
            border: 2px solid;
        }

        &#{$bem-block}--huge {
            padding: 17px;
            border: 2px solid;
        }
    }

    &--link {
        cursor: pointer;
    }

    // Colors
    @include fillAndHoverColor("black", $text-color-black);

    @include fillAndHoverColor("white", $text-color-white);

    @include fillAndHoverColor("grey-darker", $text-color-grey-9);

    @include fillAndHoverColor("grey-dark", $text-color-grey-7);

    @include fillAndHoverColor("grey", $text-color-grey-5);

    @include fillAndHoverColor("grey-light", $text-color-grey-3);

    @include fillAndHoverColor("grey-lighter", $text-color-grey-1);

    @include fillAndHoverColor("red-1", $text-color-red-1);

    @include fillAndHoverColor("red-2", $text-color-red-2);

    @include fillAndHoverColor("blue-1", $text-color-blue-1);

    @include fillAndHoverColor("blue-2", $text-color-blue-2);

    @include fillAndHoverColor("status-green", $text-color-status-green);

    @include fillAndHoverColor("status-yellow", $text-color-status-yellow);

    @include fillAndHoverColor("status-orange", $text-color-status-orange);

    @include fillAndHoverColor("status-red", $text-color-status-red);
}
