@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.#{$sg-prefix}introduction {
  text-align: center;

  &__header {
    padding: $p-spacing-12 0;
    background-color: $p-color-white;
    display: flex;
    justify-content: center;
  }

  &__stage {
    position: relative;
    max-width: 1920px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__stage-img {
    display: block;
    width: 100%;
    height: auto;
  }
}
