<div class="button-notification
     {{#if button-notification_error }} button-notification--error {{/if}}
     {{#if button-notification_cookie }} button-notification--cookie {{/if}}
     {{ styleModifier }}">
  {{#if button-notification_icon}}
    <span class="button-notification__icon icon-font icon-font--{{ button-notification_icon }}"></span>
  {{/if}}
  <span class="button-notification__label">{{ button-notification_label }}</span>
</div>
