@import 'list-view-poi.setup.scss';
@import '../../../mixins/breakpoint.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/align/align.mixin.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/grid/flex.mixin.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}list-view-poi {
  $bem-block: &;

  &__item {
    @include flex; // fix for IE11, because of min-height flex bug in IE
    @include flex--direction(column); // fix for IE11, because of min-height flex bug in IE

    position: relative;

    &:not(:first-child) {
      @include -spacing-3;
    }

    // state: list item has expanded, more detailed information is shown
    &--expanded {
      #{$bem-block}__hover-area,
      #{$bem-block}__control {
        display: none;
      }
    }
  }

  &__hover-area {
    @include flex;
    @include flex--align-items(flex-start);
    @include flex--justify-content(flex-end);
    @include flex--wrap('wrap');

    min-height: $list-view-poi-hover-area-min-height;
    padding: {
      top: $list-view-poi-hover-area-spacing-inner-vertical;
      bottom: $list-view-poi-hover-area-spacing-inner-vertical;
      right: $list-view-poi-hover-area-spacing-inner-right;
    }
    background-color: $list-view-poi-hover-area-background-color;
    border-left: $list-view-poi-hover-area-border-size solid $list-view-poi-hover-area-border-color;
    cursor: pointer;

    @include breakpoint('xs') {
      border-left-width: $list-view-poi-hover-area-border-size-xs;
    }

    @include breakpoint('s') {
      @include flex--align-items(center);
      @include flex--justify-content(flex-start);
      @include flex--wrap('nowrap');
    }

    @include breakpoint('m') {
      padding-right: $list-view-poi-hover-area-spacing-inner-right-m;
    }

    &:hover {
      background-color: $list-view-poi-hover-area-background-color-hover;
    }
  }

  &__status {
    @include flex;
    @include flex--justify-content(center);

    width: $list-view-poi-status-width;
    min-width: $list-view-poi-status-width;

    @include breakpoint('xs', 'm') {
      width: $list-view-poi-status-width-xs;
      min-width: $list-view-poi-status-width-xs;
    }

    @include breakpoint('m') {
      width: $list-view-poi-status-width-m;
      min-width: $list-view-poi-status-width-m;
    }
  }

  &__content {
    display: block;

    width: $list-view-poi-content-width;

    @include breakpoint('xs', 's') {
      width: $list-view-poi-content-width-xs;
    }

    @include breakpoint('s') {
      width: $list-view-poi-content-width-s;
    }
  }

  &__info {
    width: $list-view-poi-info-width;

    @include breakpoint('xs', 's') {
      width: $list-view-poi-info-width-xs;
    }

    @include breakpoint('s') {
      @include -spacing-c('left', 'padding');

      width: $list-view-poi-info-width-s;
    }
  }

  &__control {
    position: absolute;
    top: $list-view-poi-control-position-top;
    right: $list-view-poi-control-position-right;

    @include breakpoint('s') {
      top: $list-view-poi-control-position-top-s;
    }

    @include breakpoint('m') {
      right: $list-view-poi-control-position-right-m;
    }

    &:focus {
      outline: none;
    }
  }

  &__multi-function-menu {
    position: absolute;
    top: $list-view-poi-multi-function-menu-position-top;
    right: $list-view-poi-multi-function-menu-position-right;

    &--above {
      top: auto;
      bottom: $list-view-poi-multi-function-menu-position-bottom;
    }
  }
}
