<div class="page-header {{ styleModifier }}">
  <h1 class="page-header__title">{{ page-header_title }}</h1>
  {{#if page-header_description }}
    <p class="page-header__description">{{ page-header_description }}</p>
  {{/if}}
</div>

