@import 'radio.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}radio {
  $bem-block: &;

  @include -position(relative);
  display: inline-block;
  min-width: $radio-min-width;
  min-height: $radio-min-height;
  max-width: $radio-max-width;
  vertical-align: top; // get rid of space underneath because of inline-block

  &__field {
    display: none;
  }

  &__icon {
    @include -position(absolute);
    top: $radio-icon-position-vertical;
    left: $radio-icon-position-horizontal;
    width: $radio-icon-size;
    height: $radio-icon-size;
    box-sizing: border-box;
    border: $radio-icon-border-size solid $radio-icon-border-color;
    border-radius: $radio-icon-border-radius;
    cursor: pointer;

    &--inverted {
      border-color: $radio-icon-border-color-inverted;
    }

    &--error {
      border-color: $radio-icon-border-color-error;
    }

    &::before {
      @include -position(absolute);
      content: '';
      top: $radio-icon-before-position-top;
      left: $radio-icon-before-position-left;
      width: $radio-icon-before-size;
      height: $radio-icon-before-size;
      transform: translate(-$radio-icon-before-position-top, -$radio-icon-before-position-left);
      border-radius: $radio-icon-border-radius;
      visibility: hidden;
    }

    &::after { // safe clickable area
      @include -position(absolute);
      content: '';
      top: -$radio-icon-safe-clickable-area-position;
      right: -$radio-icon-safe-clickable-area-position;
      bottom: -$radio-icon-safe-clickable-area-position;
      left: -$radio-icon-safe-clickable-area-position;
    }
  }

  &__label {
    @include -text-size-copy;
    display: block;
    min-height: $radio-label-min-height;
    padding: $radio-label-padding-top $radio-label-padding-reset $radio-label-padding-reset $radio-label-padding-left;
    color: $radio-label-text-color;
    cursor: pointer;

    &--inverted {
      color: $radio-label-text-color-inverted;
    }

    &--error {
      color: $radio-label-text-color-error;
    }
  }

  &__label-link {
    color: $radio-label-link-text-color;

    &:active,
    &:focus,
    &:hover {
      color: $radio-label-link-text-color-hover;
      text-decoration: none;
    }

    &--inverted {
      color: $radio-label-link-text-color-inverted;

      &:active,
      &:focus,
      &:hover {
        color: $radio-label-link-text-color-inverted-hover;
      }
    }

    &--error {
      color: $radio-label-link-text-color-error;

      &:active,
      &:focus,
      &:hover {
        color: $radio-label-link-text-color-error-hover;
      }
    }
  }

  // radio is hovered, not checked and not disabled
  &:hover &__field:not(:checked):not(:disabled) { // sass-lint:disable-line force-pseudo-nesting
    & ~ #{$bem-block}__icon { // sass-lint:disable-line no-combinators
      border-color: $radio-icon-border-color-unchecked-hovered;

      &--inverted {
        border-color: $radio-icon-border-color-unchecked-hovered-inverted;
      }

      &--error {
        border-color: $radio-icon-border-color-error;
      }
    }
  }

  // radio is checked
  &__field:checked { //sass-lint:disable-line force-pseudo-nesting
    & ~ #{$bem-block}__icon { // sass-lint:disable-line no-combinators
      &::before {
        background: $radio-icon-inner-background-color-checked;
        visibility: visible;
      }

      &--inverted::before { //sass-lint:disable-line force-pseudo-nesting
        background: $radio-icon-inner-background-color-checked-inverted;
      }

      &--error::before { //sass-lint:disable-line force-pseudo-nesting
        background: $radio-icon-inner-background-color-checked-error;
      }
    }
  }

  // radio is hovered, checked and not disabled
  &:hover &__field:checked:not(:disabled) { //sass-lint:disable-line force-pseudo-nesting
    & ~ #{$bem-block}__icon { // sass-lint:disable-line no-combinators
      border-color: $radio-icon-border-color-checked-hovered;
      background-color: $radio-icon-outer-background-color-checked-hovered;

      &--inverted {
        border-color: $radio-icon-border-color-checked-hovered-inverted;
        background-color: $radio-icon-outer-background-color-checked-hovered-inverted;
      }

      &--error {
        border-color: $radio-icon-border-color-checked-hovered-error;
        background-color: $radio-icon-outer-background-color-checked-hovered-error;
      }

      &::before {
        background-color: $radio-icon-inner-background-color-checked-hovered;
      }

      &--inverted::before { //sass-lint:disable-line force-pseudo-nesting
        background-color: $radio-icon-inner-background-color-checked-hovered-inverted;
      }

      &--error::before { //sass-lint:disable-line force-pseudo-nesting
        background-color: $radio-icon-inner-background-color-checked-hovered-error;
      }
    }
  }

  // radio is disabled, unchecked or checked
  // sass-lint:disable-line force-pseudo-nesting
  &__field:disabled:checked, // sass-lint:disable-line force-pseudo-nesting
  &__field:disabled:not(:checked) { // sass-lint:disable-line force-pseudo-nesting
    & ~ #{$bem-block}__icon { // sass-lint:disable-line no-combinators
      cursor: default;
      border-color: $radio-icon-border-color-disabled;

      &--inverted {
        border-color: $radio-icon-border-color-disabled-inverted;
      }

      &::before {
        background-color: $radio-icon-inner-background-color-disabled;
      }

      &--inverted::before { //sass-lint:disable-line force-pseudo-nesting
        background-color: $radio-icon-inner-background-color-disabled-inverted;
      }
    }

    & ~ #{$bem-block}__label { // sass-lint:disable-line no-combinators
      cursor: default;
      color: $radio-label-text-color-disabled;

      &--inverted {
        color: $radio-label-text-color-disabled-inverted;
      }

      #{$bem-block}__label-link { // sass-lint:disable-line no-combinators
        cursor: pointer;
        color: $radio-label-link-text-color-disabled;

        &--inverted {
          color: $radio-label-link-text-color-disabled-inverted;
        }

        &:active,
        &:focus,
        &:hover {
          color: $radio-label-link-text-color-disabled-hover;
        }

        &--inverted:active, //sass-lint:disable-line force-pseudo-nesting
        &--inverted:focus, //sass-lint:disable-line force-pseudo-nesting
        &--inverted:hover { //sass-lint:disable-line force-pseudo-nesting
          color: $radio-label-link-text-color-disabled-inverted-hover;
        }
      }
    }
  }
}
