@import 'select.setup.scss';
@import '../../base/font/font.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}select {
  position: relative;
  display: block;

  &__field {
    @include -font-primary;
    width: $select-width;
    height: $select-height;
    display: block;
    padding: $select-spacing-vertical $select-spacing-horizontal;
    outline: none;
    appearance: none;
    box-sizing: border-box;
    border: $select-border-width solid $select-border-color;
    background: $select-background-color;
    cursor: pointer;
    font-weight: normal;
    font-size: $select-text-size;
    line-height: normal;
    color: $select-text-color;
  }

  &__icon {
    position: absolute;
    top: $select-icon-position-top;
    right: $select-icon-position-right;
    transform: translate(0, -$select-icon-position-top);
  }
}
