<div class="additional-callback-vehicles row row--zero {{ styleModifier }}">
    <div class="additional-callback-vehicles__title-container column column--zero column--12 column--m-3">
        <h3 class="additional-callback-vehicles__title">
            {{ additional-callback-vehicles_title }}<br>
            {{ additional-callback-vehicles_subtitle }}
        </h3>
    </div>

    <div class="column column--zero column--12 column--m-9">
       {{> organisms-slider-vehicle styleModifier="" }}
    </div>
</div>
