<div class="tile-headline
           {{#if tile-headline_regularS}}tile-headline--regular-s{{/if}}
           {{#if tile-headline_regularM}}tile-headline--regular-m{{/if}}
           {{#if tile-headline_small}}tile-headline--small{{/if}}
           {{#if tile-headline_static}}tile-headline--static{{/if}}">
  {{ tile-headline_headline }}
</div>
