@import 'column.setup.scss';
@import '../../mixins/breakpoint.scss';

@mixin column-gap-normal {
  padding: {
    left: $column-spacing-horizontal;
    right: $column-spacing-horizontal;
  }

  @include breakpoint('xs', 's') {
    padding: {
      left: $column-spacing-horizontal-xs;
      right: $column-spacing-horizontal-xs;
    }
  }

  @include breakpoint('s', 'm') {
    padding: {
      left: $column-spacing-horizontal-s;
      right: $column-spacing-horizontal-s;
    }
  }

  @include breakpoint('m', 'l') {
    padding: {
      left: $column-spacing-horizontal-m;
      right: $column-spacing-horizontal-m;
    }
  }

  @include breakpoint('l', 'xl') {
    padding: {
      left: $column-spacing-horizontal-l;
      right: $column-spacing-horizontal-l;
    }
  }

  @include breakpoint('xl') {
    padding: {
      left: $column-spacing-horizontal-xl;
      right: $column-spacing-horizontal-xl;
    }
  }
}

@mixin column-gap-small {
  padding: {
    left: $column-gap-small-spacing-horizontal;
    right: $column-gap-small-spacing-horizontal;
  }
}

@mixin column-gap-zero {
  padding: {
    left: 0;
    right: 0;
  }
}

@mixin column-direction-normal {
  float: left;
}

@mixin column-direction-reverse {
  float: right;
}

@mixin column-auto {
  width: $column-1-width;
}

@mixin column-1 {
  width: $column-1-width;
}

@mixin column-2 {
  width: $column-2-width;
}

@mixin column-3 {
  width: $column-3-width;
}

@mixin column-4 {
  width: $column-4-width;
}

@mixin column-5 {
  width: $column-5-width;
}

@mixin column-6 {
  width: $column-6-width;
}

@mixin column-7 {
  width: $column-7-width;
}

@mixin column-8 {
  width: $column-8-width;
}

@mixin column-9 {
  width: $column-9-width;
}

@mixin column-10 {
  width: $column-10-width;
}

@mixin column-11 {
  width: $column-11-width;
}

@mixin column-12 {
  width: $column-12-width;
}
