@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$column-1-width: 8.333333% !default;
$column-2-width: 16.666667% !default;
$column-3-width: 25% !default;
$column-4-width: 33.333333% !default;
$column-5-width: 41.666667% !default;
$column-6-width: 50% !default;
$column-7-width: 58.333333% !default;
$column-8-width: 66.666667% !default;
$column-9-width: 75% !default;
$column-10-width: 83.333333% !default;
$column-11-width: 91.666667% !default;
$column-12-width: 100% !default;

$column-max-width: 100% !default;
$column-min-height: 1px !default;

$column-spacing-horizontal: rem(4px) !default;
$column-spacing-horizontal-s: rem(8px) !default;
$column-spacing-horizontal-l: $spacing-12 !default;

$column-small-spacing-horizontal: $spacing-3 !default;
