@import 'flex.mixin.scss';
@import 'flex.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}flex {
  @include flex;

  @include breakpoint('xs') {
    &-xs  { @include flex; }
  }

  @include breakpoint('s') {
    &-s   { @include flex; }
  }

  @include breakpoint('m') {
    &-m   { @include flex; }
  }

  @include breakpoint('l') {
    &-l   { @include flex; }
  }

  @include breakpoint('xl') {
    &-xl   { @include flex; }
  }

  &--wrap {
    @include flex--wrap(wrap);
  }

  &--nowrap {
    @include flex--wrap(nowrap);
  }

  &--direction {
    &-column          { @include flex-direction(column); }
    &-column-reverse  { @include flex-direction(column-reverse); }
    &-row             { @include flex-direction(row); }
    &-row-reverse     { @include flex-direction(row-reverse); }

    @include breakpoint('xs') {
      &-column-xs         { @include flex-direction(column); }
      &-column-reverse-xs { @include flex-direction(column-reverse); }
      &-row-xs            { @include flex-direction(row); }
      &-row-reverse-xs    { @include flex-direction(row-reverse); }
    }

    @include breakpoint('s') {
      &-column-s          { @include flex-direction(column); }
      &-column-reverse-s  { @include flex-direction(column-reverse); }
      &-row-s             { @include flex-direction(row); }
      &-row-reverse-s     { @include flex-direction(row-reverse); }
    }

    @include breakpoint('m') {
      &-column-m          { @include flex-direction(column); }
      &-column-reverse-m  { @include flex-direction(column-reverse); }
      &-row-m             { @include flex-direction(row); }
      &-row-reverse-m     { @include flex-direction(row-reverse); }
    }

    @include breakpoint('l') {
      &-column-l          { @include flex-direction(column); }
      &-column-reverse-l  { @include flex-direction(column-reverse); }
      &-row-l             { @include flex-direction(row); }
      &-row-reverse-l     { @include flex-direction(row-reverse); }
    }

    @include breakpoint('xl') {
      &-column-xl          { @include flex-direction(column); }
      &-column-reverse-xl  { @include flex-direction(column-reverse); }
      &-row-xl             { @include flex-direction(row); }
      &-row-reverse-xl     { @include flex-direction(row-reverse); }
    }
  }

  &--main-axis {
    &-start          { @include flex-main-axis(flex-start); }
    &-end            { @include flex-main-axis(flex-end); }
    &-center         { @include flex-main-axis(center); }
    &-space-between  { @include flex-main-axis(space-between); }
    &-space-around   { @include flex-main-axis(space-around); }
    &-space-evenly   { @include flex-main-axis(space-evenly); }

    @include breakpoint('xs') {
      &-start-xs          { @include flex-main-axis(flex-start); }
      &-end-xs            { @include flex-main-axis(flex-end); }
      &-center-xs         { @include flex-main-axis(center); }
      &-space-between-xs  { @include flex-main-axis(space-between); }
      &-space-around-xs   { @include flex-main-axis(space-around); }
      &-space-evenly-xs   { @include flex-main-axis(space-evenly); }
    }

    @include breakpoint('s') {
      &-start-s           { @include flex-main-axis(flex-start); }
      &-end-s             { @include flex-main-axis(flex-end); }
      &-center-s          { @include flex-main-axis(center); }
      &-space-between-s   { @include flex-main-axis(space-between); }
      &-space-around-s    { @include flex-main-axis(space-around); }
      &-space-evenly-s    { @include flex-main-axis(space-evenly); }
    }

    @include breakpoint('m') {
      &-start-m           { @include flex-main-axis(flex-start); }
      &-end-m             { @include flex-main-axis(flex-end); }
      &-center-m          { @include flex-main-axis(center); }
      &-space-between-m   { @include flex-main-axis(space-between); }
      &-space-around-m    { @include flex-main-axis(space-around); }
      &-space-evenly-m    { @include flex-main-axis(space-evenly); }
    }

    @include breakpoint('l') {
      &-start-l           { @include flex-main-axis(flex-start); }
      &-end-l             { @include flex-main-axis(flex-end); }
      &-center-l          { @include flex-main-axis(center); }
      &-space-between-l   { @include flex-main-axis(space-between); }
      &-space-around-l    { @include flex-main-axis(space-around); }
      &-space-evenly-l    { @include flex-main-axis(space-evenly); }
    }

    @include breakpoint('xl') {
      &-start-xl           { @include flex-main-axis(flex-start); }
      &-end-xl             { @include flex-main-axis(flex-end); }
      &-center-xl          { @include flex-main-axis(center); }
      &-space-between-xl   { @include flex-main-axis(space-between); }
      &-space-around-xl    { @include flex-main-axis(space-around); }
      &-space-evenly-xl    { @include flex-main-axis(space-evenly); }
    }
  }

  &--cross-axis {
    &-start     { @include flex-cross-axis(flex-start); }
    &-end       { @include flex-cross-axis(flex-end); }
    &-center    { @include flex-cross-axis(center); }
    &-stretch   { @include flex-cross-axis(stretch); }

    @include breakpoint('xs') {
      &-start-xs    { @include flex-cross-axis(flex-start); }
      &-end-xs      { @include flex-cross-axis(flex-end); }
      &-center-xs   { @include flex-cross-axis(center); }
      &-stretch-xs  { @include flex-cross-axis(stretch); }
    }

    @include breakpoint('s') {
      &-start-s     { @include flex-cross-axis(flex-start); }
      &-end-s       { @include flex-cross-axis(flex-end); }
      &-center-s    { @include flex-cross-axis(center); }
      &-stretch-s   { @include flex-cross-axis(stretch); }
    }

    @include breakpoint('m') {
      &-start-m     { @include flex-cross-axis(flex-start); }
      &-end-m       { @include flex-cross-axis(flex-end); }
      &-center-m    { @include flex-cross-axis(center); }
      &-stretch-m   { @include flex-cross-axis(stretch); }
    }

    @include breakpoint('l') {
      &-start-l     { @include flex-cross-axis(flex-start); }
      &-end-l       { @include flex-cross-axis(flex-end); }
      &-center-l    { @include flex-cross-axis(center); }
      &-stretch-l   { @include flex-cross-axis(stretch); }
    }

    @include breakpoint('xl') {
      &-start-xl     { @include flex-cross-axis(flex-start); }
      &-end-xl       { @include flex-cross-axis(flex-end); }
      &-center-xl    { @include flex-cross-axis(center); }
      &-stretch-xl   { @include flex-cross-axis(stretch); }
    }
  }

  &--gap-offset {
    margin: {
      left: -$flex-child-spacing-horizontal;
      right: -$flex-child-spacing-horizontal;
    }

    @include breakpoint('s') {
      margin: {
        left: -$flex-child-spacing-horizontal-s;
        right: -$flex-child-spacing-horizontal-s;
      }
    }

    @include breakpoint('l') {
      margin: {
        left: -$flex-child-spacing-horizontal-l;
        right: -$flex-child-spacing-horizontal-l;
      }
    }
  }

  &__child {
    @include flex-child-grow(1);
    @include flex-child-shrink(1);
    @include flex-child-basis(0);

    &--grow {
      @include flex-child-grow(1);
    }

    &--shrink {
      @include flex-child-shrink(1);
    }

    &--auto {
      @include flex-child-grow(1);
      @include flex-child-shrink(1);
      @include flex-child-basis(auto);
      width: auto;
    }

    &--1    { @include flex-none; width: $flex-child-1-width; }
    &--2    { @include flex-none; width: $flex-child-2-width; }
    &--3    { @include flex-none; width: $flex-child-3-width; }
    &--4    { @include flex-none; width: $flex-child-4-width; }
    &--5    { @include flex-none; width: $flex-child-5-width; }
    &--6    { @include flex-none; width: $flex-child-6-width; }
    &--7    { @include flex-none; width: $flex-child-7-width; }
    &--8    { @include flex-none; width: $flex-child-8-width; }
    &--9    { @include flex-none; width: $flex-child-9-width; }
    &--10   { @include flex-none; width: $flex-child-10-width; }
    &--11   { @include flex-none; width: $flex-child-11-width; }
    &--12   { @include flex-none; width: $flex-child-12-width; }

    &--offset-1   { margin-left: $flex-child-1-width; }
    &--offset-2   { margin-left: $flex-child-2-width; }
    &--offset-3   { margin-left: $flex-child-3-width; }
    &--offset-4   { margin-left: $flex-child-4-width; }
    &--offset-5   { margin-left: $flex-child-5-width; }
    &--offset-6   { margin-left: $flex-child-6-width; }
    &--offset-7   { margin-left: $flex-child-7-width; }
    &--offset-8   { margin-left: $flex-child-8-width; }
    &--offset-9   { margin-left: $flex-child-9-width; }
    &--offset-10  { margin-left: $flex-child-10-width; }
    &--offset-11  { margin-left: $flex-child-11-width; }

    @include breakpoint('xs') {
      &--auto-xs  {
        @include flex-child-grow(1);
        @include flex-child-shrink(1);
        @include flex-child-basis(auto);
        width: auto;
      }

      &--1-xs     { @include flex-none; width: $flex-child-1-width; }
      &--2-xs     { @include flex-none; width: $flex-child-2-width; }
      &--3-xs     { @include flex-none; width: $flex-child-3-width; }
      &--4-xs     { @include flex-none; width: $flex-child-4-width; }
      &--5-xs     { @include flex-none; width: $flex-child-5-width; }
      &--6-xs     { @include flex-none; width: $flex-child-6-width; }
      &--7-xs     { @include flex-none; width: $flex-child-7-width; }
      &--8-xs     { @include flex-none; width: $flex-child-8-width; }
      &--9-xs     { @include flex-none; width: $flex-child-9-width; }
      &--10-xs    { @include flex-none; width: $flex-child-10-width; }
      &--11-xs    { @include flex-none; width: $flex-child-11-width; }
      &--12-xs    { @include flex-none; width: $flex-child-12-width; }

      &--offset-1-xs   { margin-left: $flex-child-1-width; }
      &--offset-2-xs   { margin-left: $flex-child-2-width; }
      &--offset-3-xs   { margin-left: $flex-child-3-width; }
      &--offset-4-xs   { margin-left: $flex-child-4-width; }
      &--offset-5-xs   { margin-left: $flex-child-5-width; }
      &--offset-6-xs   { margin-left: $flex-child-6-width; }
      &--offset-7-xs   { margin-left: $flex-child-7-width; }
      &--offset-8-xs   { margin-left: $flex-child-8-width; }
      &--offset-9-xs   { margin-left: $flex-child-9-width; }
      &--offset-10-xs  { margin-left: $flex-child-10-width; }
      &--offset-11-xs  { margin-left: $flex-child-11-width; }
    }

    @include breakpoint('s') {
      &--auto-s  {
        @include flex-child-grow(1);
        @include flex-child-shrink(1);
        @include flex-child-basis(auto);
        width: auto;
      }

      &--1-s     { @include flex-none; width: $flex-child-1-width; }
      &--2-s     { @include flex-none; width: $flex-child-2-width; }
      &--3-s     { @include flex-none; width: $flex-child-3-width; }
      &--4-s     { @include flex-none; width: $flex-child-4-width; }
      &--5-s     { @include flex-none; width: $flex-child-5-width; }
      &--6-s     { @include flex-none; width: $flex-child-6-width; }
      &--7-s     { @include flex-none; width: $flex-child-7-width; }
      &--8-s     { @include flex-none; width: $flex-child-8-width; }
      &--9-s     { @include flex-none; width: $flex-child-9-width; }
      &--10-s    { @include flex-none; width: $flex-child-10-width; }
      &--11-s    { @include flex-none; width: $flex-child-11-width; }
      &--12-s    { @include flex-none; width: $flex-child-12-width; }

      &--offset-1-s   { margin-left: $flex-child-1-width; }
      &--offset-2-s   { margin-left: $flex-child-2-width; }
      &--offset-3-s   { margin-left: $flex-child-3-width; }
      &--offset-4-s   { margin-left: $flex-child-4-width; }
      &--offset-5-s   { margin-left: $flex-child-5-width; }
      &--offset-6-s   { margin-left: $flex-child-6-width; }
      &--offset-7-s   { margin-left: $flex-child-7-width; }
      &--offset-8-s   { margin-left: $flex-child-8-width; }
      &--offset-9-s   { margin-left: $flex-child-9-width; }
      &--offset-10-s  { margin-left: $flex-child-10-width; }
      &--offset-11-s  { margin-left: $flex-child-11-width; }
    }

    @include breakpoint('m') {
      &--auto-m {
        @include flex-child-grow(1);
        @include flex-child-shrink(1);
        @include flex-child-basis(auto);
        width: auto;
      }

      &--1-m    { @include flex-none; width: $flex-child-1-width; }
      &--2-m    { @include flex-none; width: $flex-child-2-width; }
      &--3-m    { @include flex-none; width: $flex-child-3-width; }
      &--4-m    { @include flex-none; width: $flex-child-4-width; }
      &--5-m    { @include flex-none; width: $flex-child-5-width; }
      &--6-m    { @include flex-none; width: $flex-child-6-width; }
      &--7-m    { @include flex-none; width: $flex-child-7-width; }
      &--8-m    { @include flex-none; width: $flex-child-8-width; }
      &--9-m    { @include flex-none; width: $flex-child-9-width; }
      &--10-m   { @include flex-none; width: $flex-child-10-width; }
      &--11-m   { @include flex-none; width: $flex-child-11-width; }
      &--12-m   { @include flex-none; width: $flex-child-12-width; }

      &--offset-1-m   { margin-left: $flex-child-1-width; }
      &--offset-2-m   { margin-left: $flex-child-2-width; }
      &--offset-3-m   { margin-left: $flex-child-3-width; }
      &--offset-4-m   { margin-left: $flex-child-4-width; }
      &--offset-5-m   { margin-left: $flex-child-5-width; }
      &--offset-6-m   { margin-left: $flex-child-6-width; }
      &--offset-7-m   { margin-left: $flex-child-7-width; }
      &--offset-8-m   { margin-left: $flex-child-8-width; }
      &--offset-9-m   { margin-left: $flex-child-9-width; }
      &--offset-10-m  { margin-left: $flex-child-10-width; }
      &--offset-11-m  { margin-left: $flex-child-11-width; }
    }

    @include breakpoint('l') {
      &--auto-l {
        @include flex-child-grow(1);
        @include flex-child-shrink(1);
        @include flex-child-basis(auto);
        width: auto;
      }

      &--1-l    { @include flex-none; width: $flex-child-1-width; }
      &--2-l    { @include flex-none; width: $flex-child-2-width; }
      &--3-l    { @include flex-none; width: $flex-child-3-width; }
      &--4-l    { @include flex-none; width: $flex-child-4-width; }
      &--5-l    { @include flex-none; width: $flex-child-5-width; }
      &--6-l    { @include flex-none; width: $flex-child-6-width; }
      &--7-l    { @include flex-none; width: $flex-child-7-width; }
      &--8-l    { @include flex-none; width: $flex-child-8-width; }
      &--9-l    { @include flex-none; width: $flex-child-9-width; }
      &--10-l   { @include flex-none; width: $flex-child-10-width; }
      &--11-l   { @include flex-none; width: $flex-child-11-width; }
      &--12-l   { @include flex-none; width: $flex-child-12-width; }

      &--offset-1-l   { margin-left: $flex-child-1-width; }
      &--offset-2-l   { margin-left: $flex-child-2-width; }
      &--offset-3-l   { margin-left: $flex-child-3-width; }
      &--offset-4-l   { margin-left: $flex-child-4-width; }
      &--offset-5-l   { margin-left: $flex-child-5-width; }
      &--offset-6-l   { margin-left: $flex-child-6-width; }
      &--offset-7-l   { margin-left: $flex-child-7-width; }
      &--offset-8-l   { margin-left: $flex-child-8-width; }
      &--offset-9-l   { margin-left: $flex-child-9-width; }
      &--offset-10-l  { margin-left: $flex-child-10-width; }
      &--offset-11-l  { margin-left: $flex-child-11-width; }
    }

    @include breakpoint('xl') {
      &--auto-xl {
        @include flex-child-grow(1);
        @include flex-child-shrink(1);
        @include flex-child-basis(auto);
        width: auto;
      }

      &--1-xl    { @include flex-none; width: $flex-child-1-width; }
      &--2-xl    { @include flex-none; width: $flex-child-2-width; }
      &--3-xl    { @include flex-none; width: $flex-child-3-width; }
      &--4-xl    { @include flex-none; width: $flex-child-4-width; }
      &--5-xl    { @include flex-none; width: $flex-child-5-width; }
      &--6-xl    { @include flex-none; width: $flex-child-6-width; }
      &--7-xl    { @include flex-none; width: $flex-child-7-width; }
      &--8-xl    { @include flex-none; width: $flex-child-8-width; }
      &--9-xl    { @include flex-none; width: $flex-child-9-width; }
      &--10-xl   { @include flex-none; width: $flex-child-10-width; }
      &--11-xl   { @include flex-none; width: $flex-child-11-width; }
      &--12-xl   { @include flex-none; width: $flex-child-12-width; }

      &--offset-1-xl   { margin-left: $flex-child-1-width; }
      &--offset-2-xl   { margin-left: $flex-child-2-width; }
      &--offset-3-xl   { margin-left: $flex-child-3-width; }
      &--offset-4-xl   { margin-left: $flex-child-4-width; }
      &--offset-5-xl   { margin-left: $flex-child-5-width; }
      &--offset-6-xl   { margin-left: $flex-child-6-width; }
      &--offset-7-xl   { margin-left: $flex-child-7-width; }
      &--offset-8-xl   { margin-left: $flex-child-8-width; }
      &--offset-9-xl   { margin-left: $flex-child-9-width; }
      &--offset-10-xl  { margin-left: $flex-child-10-width; }
      &--offset-11-xl  { margin-left: $flex-child-11-width; }
    }

    &--gap {
      &-normal {
        padding: {
          left: $flex-child-spacing-horizontal;
          right: $flex-child-spacing-horizontal;
        }

        @include breakpoint('s') {
          padding: {
            left: $flex-child-spacing-horizontal-s;
            right: $flex-child-spacing-horizontal-s;
          }
        }

        @include breakpoint('l') {
          padding: {
            left: $flex-child-spacing-horizontal-l;
            right: $flex-child-spacing-horizontal-l;
          }
        }
      }

      &-zero {
        padding: {
          left: 0;
          right: 0;
        }
      }

      // TODO: rethink the need of responsive gaps to switch between zero and grid gaps
      @include breakpoint('xs') {
        &-normal-xs {
          padding: {
            left: $flex-child-spacing-horizontal-xs;
            right: $flex-child-spacing-horizontal-xs;
          }

          @include breakpoint('s') {
            padding: {
              left: $flex-child-spacing-horizontal-s;
              right: $flex-child-spacing-horizontal-s;
            }
          }

          @include breakpoint('l') {
            padding: {
              left: $flex-child-spacing-horizontal-l;
              right: $flex-child-spacing-horizontal-l;
            }
          }
        }

        &-zero-xs {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }

      @include breakpoint('s') {
        &-normal-s {
          padding: {
            left: $flex-child-spacing-horizontal-s;
            right: $flex-child-spacing-horizontal-s;
          }

          @include breakpoint('s') {
            padding: {
              left: $flex-child-spacing-horizontal-s;
              right: $flex-child-spacing-horizontal-s;
            }
          }

          @include breakpoint('l') {
            padding: {
              left: $flex-child-spacing-horizontal-l;
              right: $flex-child-spacing-horizontal-l;
            }
          }
        }

        &-zero-s {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }

      @include breakpoint('m') {
        &-normal-m {
          padding: {
            left: $flex-child-spacing-horizontal-m;
            right: $flex-child-spacing-horizontal-m;
          }

          @include breakpoint('l', 'xl') {
            padding: {
              left: $flex-child-spacing-horizontal-l;
              right: $flex-child-spacing-horizontal-l;
            }
          }

          @include breakpoint('xl') {
            padding: {
              left: $flex-child-spacing-horizontal-xl;
              right: $flex-child-spacing-horizontal-xl;
            }
          }
        }

        &-zero-m {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }

      @include breakpoint('l') {
        &-normal-l {
          padding: {
            left: $flex-child-spacing-horizontal-l;
            right: $flex-child-spacing-horizontal-l;
          }

          @include breakpoint('xl') {
            padding: {
              left: $flex-child-spacing-horizontal-xl;
              right: $flex-child-spacing-horizontal-xl;
            }
          }
        }

        &-zero-l {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }

      @include breakpoint('xl') {
        &-normal-xl {
          padding: {
            left: $flex-child-spacing-horizontal-xl;
            right: $flex-child-spacing-horizontal-xl;
          }
        }

        &-zero-xl {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }
    }

    &--align {
      &-start     { @include flex-child-align(flex-start); }
      &-end       { @include flex-child-align(flex-end); }
      &-center    { @include flex-child-align(center); }
      &-stretch   { @include flex-child-align(stretch); }

      @include breakpoint('xs') {
        &-start-xs    { @include flex-child-align(flex-start); }
        &-end-xs      { @include flex-child-align(flex-end); }
        &-center-xs   { @include flex-child-align(center); }
        &-stretch-xs  { @include flex-child-align(stretch); }
      }

      @include breakpoint('s') {
        &-start-s     { @include flex-child-align(flex-start); }
        &-end-s       { @include flex-child-align(flex-end); }
        &-center-s    { @include flex-child-align(center); }
        &-stretch-s   { @include flex-child-align(stretch); }
      }

      @include breakpoint('m') {
        &-start-m     { @include flex-child-align(flex-start); }
        &-end-m       { @include flex-child-align(flex-end); }
        &-center-m    { @include flex-child-align(center); }
        &-stretch-m   { @include flex-child-align(stretch); }
      }

      @include breakpoint('l') {
        &-start-l     { @include flex-child-align(flex-start); }
        &-end-l       { @include flex-child-align(flex-end); }
        &-center-l    { @include flex-child-align(center); }
        &-stretch-l   { @include flex-child-align(stretch); }
      }

      @include breakpoint('xl') {
        &-start-xl     { @include flex-child-align(flex-start); }
        &-end-xl       { @include flex-child-align(flex-end); }
        &-center-xl    { @include flex-child-align(center); }
        &-stretch-xl   { @include flex-child-align(stretch); }
      }
    }
  }

}
