@import 'row.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}row {
  margin: {
    left: $row-spacing-horizontal;
    right: $row-spacing-horizontal;
  }

  @include breakpoint('s') {
    margin: {
      left: $row-spacing-horizontal-s;
      right: $row-spacing-horizontal-s;
    }
  }

  @include breakpoint('l') {
    margin: {
      left: $row-spacing-horizontal-l;
      right: $row-spacing-horizontal-l;
    }
  }

  &--small, // @deprecated, backward compatibility
  &--gap-small {
    margin: {
      left: $row-small-spacing-horizontal;
      right: $row-small-spacing-horizontal;
    }
  }

  &--zero, // @deprecated, backward compatibility
  &--gap-zero {
    margin: {
      left: 0;
      right: 0;
    }

    &-xxs-only {
      @include breakpoint('xxs', 'xs') {
        margin: {
          left: 0;
          right: 0;
        }
      }
    }

    &-xs-only {
      @include breakpoint('xs', 's') {
        margin: {
          left: 0;
          right: 0;
        }
      }
    }

    &-s-only {
      @include breakpoint('s', 'm') {
        margin: {
          left: 0;
          right: 0;
        }
      }
    }

    &-m-only {
      @include breakpoint('m', 'l') {
        margin: {
          left: 0;
          right: 0;
        }
      }
    }

    &-l-only {
      @include breakpoint('l') {
        margin: {
          left: 0;
          right: 0;
        }
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
