@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$row-spacing-horizontal: rem(-4px) !default;
$row-spacing-horizontal-s: rem(-8px) !default;
$row-spacing-horizontal-l: -$spacing-12 !default;

$row-small-spacing-horizontal: -$spacing-3 !default;
