@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/overflow/overflow.mixin.scss';
@import '../../../base/font/font.mixin.scss';
@import '../../../mixins/breakpoint.scss';
@import 'visualization-e-range.setup.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}visualization-e-range {
  width: $visualization-e-range-width; // needed so that ellipsis works properly with flex layout in charge-status pattern

  &__title {
    @include -text-size-3-thin;
    color: $visualization-e-range-title-color;
  }

  &__info {
    @include -overflow-ellipsis;
    color: $visualization-e-range-info-color;
  }

  &__value {
    @include -font-primary;

    font-weight: $visualization-e-range-value-font-weight;
    font-size: $visualization-e-range-value-font-size;
    line-height: $visualization-e-range-value-line-height;

    @include breakpoint('xs', 's') {
      font-size: $visualization-e-range-value-font-size-xs;
    }

    @include breakpoint('s', 'm') {
      font-size: $visualization-e-range-value-font-size-s;
    }

    @include breakpoint('m', 'l') {
      font-size: $visualization-e-range-value-font-size-m;
    }

    @include breakpoint('l') {
      font-size: $visualization-e-range-value-font-size-l;
    }
  }

  &__unit {
    @include -spacing-a('left');
    @include -font-primary;

    font-weight: $visualization-e-range-unit-font-weight;
    font-size: $visualization-e-range-unit-font-size;
    line-height: $visualization-e-range-unit-line-height;

    @include breakpoint('xs', 's') {
      font-size: $visualization-e-range-unit-font-size-xs;
    }

    @include breakpoint('s', 'm') {
      font-size: $visualization-e-range-unit-font-size-s;
    }

    @include breakpoint('m', 'l') {
      font-size: $visualization-e-range-unit-font-size-m;
    }

    @include breakpoint('l') {
      font-size: $visualization-e-range-unit-font-size-l;
    }
  }
}
