<div class="-background-white -spacing-inner-a {{ styleModifier }}">

  <h2 class="-text-size-3-thin -text-color-black">{{ @root.form-climatisation-timer_title }}</h2>

  <h4 class="-text-size-4-thin -text-color-black -spacing-c">{{ @root.form-climatisation-timer_departureTitle }}</h4>

  <div class="row">
    <div class="column column--12 column--xs-auto column--m-4">
      {{> molecules-input styleModifier="-spacing-a" input_label="Uhrzeit (HH:mm)" input_value="hh:mm" input_icon="timer-pcm" }}
    </div>
  </div>

  <div class="row">
    <div class="column">
      {{> molecules-radio styleModifier="-spacing-a" radio_label="wiederholend" radio_checked=true }}
    </div>
    <div class="column">
      {{> molecules-radio styleModifier="-spacing-a" radio_label="einmalig" }}
    </div>
  </div>

  <div class="row">
    <div class="column column--12 column--xs-auto column--m-4">
      {{> molecules-input styleModifier="-spacing-a" input_label="Datum (TT.MM.JJJJ)" input_value="DD.MM.JJJJ" input_icon="registration" }}
    </div>
  </div>

  <div class="row">
    <div class="column column--12 -spacing-a">
      <div class="row row--small">
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="Mo" button-inline_active=true }}
        </div>
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="Di" }}
        </div>
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="Mi" button-inline_active=true }}
        </div>
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="Do" }}
        </div>
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="Fr" }}
        </div>
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="Sa" }}
        </div>
        <div class="column column--small">
          {{> molecules-button-inline styleModifier="-spacing-6" button-inline_label="So" }}
        </div>
      </div>
    </div>
  </div>

</div>

{{> organisms-form-button-group
    form-button-group_primaryActionCta="Speichern"
    form-button-group_secondaryActionCta="Abbrechen" }}
