@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";
@import "~@porscheui/porsche-ui-kit/src/components/basic/text/text";

.markdown > div > {
  :first-child {
    margin-top: 0 !important;
  }

  :last-child {
    margin-bottom: 0 !important;
  }

  @at-root #{&},
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p,
    & blockquote,
    & ul,
    & ol,
    & table,
    & hr,
    & b,
    & strong,
    & i,
    & em,
    & s,
    & strike,
    & del,
    & a,
    & img,
    & code,
    & pre {
    *:not([class*="example_container"]):not(pre):not(hr):not(table):not(img) {
      max-width: 800px;
    }

    // Typography
    h1 {
      @include p-text-size-2($p-font-weight-bold);
      margin-top: $p-spacing-64;
    }

    h2 {
      @include p-text-size-3($p-font-weight-bold);
      margin-top: $p-spacing-32;
    }

    h3 {
      @include p-text-size-4($p-font-weight-bold);
      margin-top: $p-spacing-24;
    }

    h4 {
      @include p-text-size-4($p-font-weight-bold);
      margin-top: $p-spacing-24;
    }

    h5,
    h6 {
      @include p-text-size-copy($p-font-weight-bold);
      margin-top: $p-spacing-24;
    }

    p {
      @include p-text-size-copy;
      margin-top: $p-spacing-24;
    }

    // Horizontal Rules
    hr {
      margin: {
        top: $p-spacing-40;
        bottom: $p-spacing-40;
      }
      border: 0;
      height: 1px;
      background-color: $p-color-grey-2;
    }

    // Emphasis
    b,
    strong {
      font-weight: $p-font-weight-bold;
    }

    i,
    em {
      font-style: italic;
    }

    s,
    strike,
    del {
      text-decoration: line-through;
    }

    // Blockquote
    blockquote {
      padding-left: $p-spacing-24;
      border-left: rem(5px) solid $p-color-grey-3;
    }

    // Lists
    ul,
    ol {
      @include p-text-size-copy;
      margin-top: $p-spacing-24;
      padding-left: $p-spacing-32;

      ul,
      ol {
        margin-top: 0;
      }
    }

    // Code
    code,
    pre {
      @include p-text-size-small;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    :not(pre) > code {
      padding: 0.125rem $p-spacing-8;
      background-color: mix($p-color-red-1, $p-color-white, 10%);
      border-radius: 3px;
      color: $p-color-red-1;
    }

    pre {
      margin-top: $p-spacing-8;
      display: block;
      padding: $p-spacing-8 $p-spacing-24;
      word-break: break-all;
      word-wrap: break-word;
      background-color: $p-color-grey-1;
      color: $p-color-grey-8;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    // Tables
    table {
      margin-top: $p-spacing-24;
      width: 100%;
      text-align: left;
      border-collapse: collapse;

      thead {
        @include p-text-size-4($p-font-weight-bold);
      }

      tbody {
        @include p-text-size-copy($p-font-weight-regular);
      }

      th {
        padding-bottom: $p-spacing-8;
      }

      td {
        padding: {
          top: $p-spacing-8;
          bottom: $p-spacing-8;
        }
        border-bottom: 1px solid $p-color-grey-1;
        vertical-align: top;
      }

      th ~ th,
      td ~ td {
        padding-left: $p-spacing-24;
      }
    }

    // Links
    a {
      text-decoration: none;
      color: $p-color-red-1;
      transition: color 0.3s;

      &:hover {
        text-decoration: underline;
        color: $p-color-red-2;
      }
    }

    // Media
    img {
      max-width: 100%;
      vertical-align: top;
    }
  }
}
