<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d"
                            page-header_title=online-remote-update.title
                            page-header_description=online-remote-update.description }}

  {{> organisms-car-selector-02-logged-in-selected styleModifier="-spacing-c" }}

  {{> online-remote-update-over-the-air-update-control styleModifier="-spacing-b"
                                                       over-the-air-update-control_active=online-remote-update.active }}

  {{> organisms-next-best-actions styleModifier="-spacing-d" }}

  {{> organisms-footer styleModifier="-spacing-f"
                       footer_loggedIn=true }}

</section>