@import '../../../mixins/breakpoint.scss';
@import '../../../base/grid/flex.mixin.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/text-color/text-color.mixin.scss';
@import '../../../base/position/position.mixin.scss';
@import 'charge-status.setup.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}charge-status {
  @include flex;
  @include flex--direction(column);

  width: $charge-status-width;

  &__title {
    @include -text-size-3-thin;
    @include -text-color-white;
  }

  &__visualization {
    @include flex;
    @include flex--grow(1);
    @include flex--justify-content(space-between);
    @include -spacing-d;

    position: relative;
    width: $charge-status-visualization-width;
    min-height: $charge-status-visualization-min-height;

    @include breakpoint('xs') {
      min-height: $charge-status-visualization-min-height-xs;
    }

    @include breakpoint('m') {
      min-height: $charge-status-visualization-min-height-m;
    }

    @include breakpoint('xxs', 'm') {
      @include flex--wrap(wrap);
    }

    @include breakpoint('m') {
      @include flex--direction(column);
      @include flex--align-items(flex-end);
    }
  }

  &__graph {
    @include flex;

    width: $charge-status-graph-width;

    @include breakpoint('xs') {
      width: $charge-status-graph-width-xs;
    }

    @include breakpoint('m') {
      width: $charge-status-graph-width-m;
    }

    @include breakpoint('m') {
      @include -position-absolute-coordinates(0, auto, 0, 0);
    }
  }

  &__range {
    @include flex;
    @include flex--align-items(center);

    width: $charge-status-range-width;

    @include breakpoint('xs') {
      width: $charge-status-range-width-xs;
    }

    @include breakpoint('m') {
      @include flex--align-items(flex-start);
      @include flex--grow(1);

      width: $charge-status-range-width-m;
    }
  }

  &__plug {
    @include flex;
    @include flex--align-items(center);
    @include -spacing-b;
    @include -spacing-b('top', 'padding');
    @include -spacing-b('bottom', 'padding');

    width: $charge-status-plug-width;
    border-top: $charge-status-plug-border-size solid $charge-status-plug-border-color;
    border-bottom: $charge-status-plug-border-size solid $charge-status-plug-border-color;

    @include breakpoint('m') {
      @include -spacing-12;

      width: $charge-status-plug-width-m;
    }
  }
}
