@import "../../styles/config";

:host {
  display: block;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  padding: 0 20px;
}

.button {
  text-align: center;
  font-size: 12px;
  border :1px solid $col2;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  border-radius: $borderRadius;
  color: $col2;
  float: right;
  user-select: none;
  &.active {
    background: $col2;
    color: $col1;
  }
}

