<pui-text-size-1 class="a">I'm text-size 1</pui-text-size-1>
<span puiTextSize1 class="b">I'm text-size 1 directive</span>
<pui-text-size-1 class="c" [thin]="thinComponent" (click)="toggleComponent()">I'm text-size 1 toggleable</pui-text-size-1>
<span puiTextSize1 class="d" [thin]="thinDirective" (click)="toggleDirective()">I'm text-size 1 toggleable directive</span>

<pui-text-size-3 class="a">I'm text-size 3</pui-text-size-3>
<span puiTextSize3 class="b">I'm text-size 3 directive</span>
<pui-text-size-3 class="c" [thin]="thinComponent" (click)="toggleComponent()">I'm text-size 3 toggleable</pui-text-size-3>
<span puiTextSize3 class="d" [thin]="thinDirective" (click)="toggleDirective()">I'm text-size 3 toggleable directive</span>
