@import '../../setup/global-variables.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../setup/animations.scss';

.#{$global-class-prefix}icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: top;
  align-items: stretch;
  flex-direction: column;
  transition: fill $animation-hover-duration $animation-hover-bezier;

  &--x-small {
    width: rem(18px);
    height: rem(18px);
  }

  &--small {
    width: rem(24px);
    height: rem(24px);
  }

  &--medium {
    width: rem(30px);
    height: rem(30px);
  }

  &--large {
    width: rem(42px);
    height: rem(42px);
  }

  &--x-large {
    width: rem(60px);
    height: rem(60px);
  }

}
