
<div class="configurable-services {{styleModifier}}">
  {{#if configurable-services-fallback}}
    <div class="flex__child flex__child--12">
      <div class="configurable-services__fallback-headline">Meine Connect Dienste</div>
      {{> organisms-notification-common
          notification-common_title=""
          notification-common_text="Leider können die Dienste zur Zeit nicht abgerufen werden. Bitte versuchen Sie es zu einem späteren Zeitpunkt erneut."
      }}
    </div>
  {{else}}
    <div class="flex__child flex__child--12-xs flex__child--3-m">
      <div class="configurable-services__main">

        <div class="configurable-services__headline">Meine Connect Dienste</div>
        <div class="configurable-services__subline">Nutzen und konfigurieren die für ihr Fahrzeug verfügbaren Connect Dienste.</div>

        <div class="flex--grow -display-none-xxs -display-none-xs -display-none-s"></div>

        <div class="configurable-services__slider configurable-services__slider--display-none-m-l">
          <div class="
            configurable-services__slider-arrow
            configurable-services__slider-arrow--left
            configurable-services__slider-arrow--disabled
            icon
            icon--arrow-slider-left-next"
          >
          </div>

          <div class="configurable-services__slider-container">
            <ul class="configurable-services__slider-wrapper">
              {{#each configurable-services_services}}
                <li class="configurable-services__slider-slide">
                  {{> portal-button-service
                      button-service_disabled=disabled
                      button-service_icon=icon
                      button-service_headline=headline
                      button-service_info-icon=infoIcon
                      button-service_additional-info=additionalInfo
                      button-service_additional-info-text=additionalInfoText
                      styleModifier=styleModifier
                  }}
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="
            configurable-services__slider-arrow
            configurable-services__slider-arrow--right
            {{#if configurable-services-loading}}configurable-services__slider-arrow--disabled{{/if}}
            icon
            icon--arrow-slider-right-next"
          >
          </div>
        </div>
        {{> molecules-button-ghost
            button-ghost_disabled=configurable-services-loading
            button-ghost_inverted=true
            button-ghost_icon="loader"
            button-ghost_label="Weitere Elemente laden"
            styleModifier="configurable-services__button-load-more"
        }}

        <div {{#if configurable-services-loading}}class="-display-none"{{/if}}>
          {{> molecules-link-icon-text
              styleModifier="configurable-services__link"
              link-icon-text_icon="read-more"
              link-icon-text_label="Alle Connect Dienste anzeigen (46)"
          }}
          {{> molecules-link-icon-text
              styleModifier="configurable-services__link"
              link-icon-text_icon="basket-next"
              link-icon-text_label="Weitere Connect Dienste kaufen (8)"
          }}
        </div>
      </div>
    </div>

    <div class="flex__child flex__child--9-m -display-none-xxs -display-none-xs -display-none-s">
      <div class="configurable-services__slider">
          <div class="
            configurable-services__slider-arrow
            configurable-services__slider-arrow--left
            configurable-services__slider-arrow--disabled
            icon
            icon--arrow-slider-left-next"
          >
          </div>

          <div class="configurable-services__slider-container">
            <ul class="configurable-services__slider-wrapper">
              {{#each configurable-services_services}}
                <li class="configurable-services__slider-slide">
                  {{> portal-button-service
                      button-service_disabled=disabled
                      button-service_icon=icon
                      button-service_headline=headline
                      button-service_info-icon=infoIcon
                      button-service_additional-info=additionalInfo
                      button-service_additional-info-text=additionalInfoText
                      styleModifier=styleModifier
                  }}
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="
            configurable-services__slider-arrow
            configurable-services__slider-arrow--right
            {{#if configurable-services-loading}}configurable-services__slider-arrow--disabled{{/if}}
            icon
            icon--arrow-slider-right-next"
          >
          </div>
        </div>
    </div>
  {{/if}}
</div>
