@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';

:host {
  display: block;
  counter-reset: section !important;
}

.#{$p-global-class-prefix}text-list {
  @include p-text-small;
  display: block;
  padding: 0;
  margin: 0;
  color: $p-color-default;

  &--theme-dark {
    color: $p-color-theme-dark-default;
  }
}
