@mixin icon-rotate($degree) {
  display: block;

  transform: rotate(#{$degree}deg);
}

@mixin icon-base {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'pag-iconfont' !important; // sass-lint:disable-line no-important
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
}

@mixin icon-delivery-adress {
  content: '\e96c';
}

@mixin icon-advisor-not-available {
  content: '\e980';
}

@mixin icon-arrow-back {
  content: '\e981';
}

@mixin icon-replacement-car {
  content: '\e982';
}

@mixin icon-replacement-car-not-available {
  content: '\e983';
}

@mixin icon-rfid-card-before {
  content: '\e97f';
}

@mixin icon-limousine-pcm-before {
  content: '\e967';
}

@mixin icon-limousine-engine-pcm-before {
  content: '\e968';
}

@mixin icon-limousine-hood-pcm-before {
  content: '\e969';
}

@mixin icon-limousine-sunroof-pcm-before {
  content: '\e96a';
}

@mixin icon-limousine-trunk-pcm-before {
  content: '\e96b';
}

@mixin icon-sport-pcm-before {
  content: '\e970';
}

@mixin icon-sport-engine-pcm-before {
  content: '\e971';
}

@mixin icon-sport-hood-pcm-before {
  content: '\e972';
}

@mixin icon-sport-sunroof-pcm-before {
  content: '\e973';
}

@mixin icon-sport-trunk-pcm-before {
  content: '\e974';
}

@mixin icon-suv-pcm-before {
  content: '\e979';
}

@mixin icon-suv-engine-pcm-before {
  content: '\e97a';
}

@mixin icon-send-code-before {
  content: '\e966';
}

@mixin icon-leaf-before {
  content: '\e965';
}

@mixin icon-favorite-next-before {
  content: '\e964';
}

@mixin icon-broadcast-before {
  content: '\e963';
}

@mixin icon-basket-next-before {
  content: '\e960';
}

@mixin icon-car-next-before {
  content: '\e961';
}

@mixin icon-car-connect-next-before {
  content: '\e962';
}

@mixin icon-360-degree-before {
  content: '\e95f';
}

@mixin icon-work-next-before {
  content: '\e95e';
}

@mixin icon-home-next-before {
  content: '\e95d';
}

@mixin icon-heater-next-before {
  content: '\e95c';
}

@mixin icon-climate-next-before {
  content: '\e95b';
}

@mixin icon-morning-afternoon-next-before {
  content: '\e95a';
}

@mixin icon-evening-next-before {
  content: '\e959';
}

@mixin icon-emission-next-before {
  content: '\e958';
}

@mixin icon-electricity-consumption-next-before {
  content: '\e957';
}

@mixin icon-early-morning-next-before {
  content: '\e956';
}

@mixin icon-early-afternoon-next-before {
  content: '\e955';
}

@mixin icon-all-day-next-before {
  content: '\e954';
}

@mixin icon-arrow-slider-left-next-before {
  content: '\e951';
}

@mixin icon-arrow-slider-right-next-before {
  content: '\e952';
}

@mixin icon-details-next-before {
  content: '\e953';
}

@mixin icon-telegram-before {
  content: '\e94f';
}

@mixin icon-viber-before {
  content: '\e950';
}

@mixin icon-duration-next-before {
  content: '\e94b';
}

@mixin icon-e-fuel-next-before {
  content: '\e94c';
}

@mixin icon-route-next-before {
  content: '\e94d';
}

@mixin icon-speed-next-before {
  content: '\e94e';
}

@mixin icon-door-left2-next-before {
  content: '\e943';
}

@mixin icon-door-left1-next-before {
  content: '\e944';
}

@mixin icon-door-right2-next-before {
  content: '\e945';
}

@mixin icon-door-right1-next-before {
  content: '\e946';
}

@mixin icon-suv-hood-pcm-before {
  content: '\e947';
}

@mixin icon-suv-sunroof-pcm-before {
  content: '\e948';
}

@mixin icon-suv-trunk-pcm-before {
  content: '\e949';
}

@mixin icon-window-next-before {
  content: '\e94a';
}

@mixin icon-battery-next-before {
  content: '\e939';
}

@mixin icon-flash-next-before {
  content: '\e93a';
}

@mixin icon-fuel-next-before {
  content: '\e93b';
}

@mixin icon-horn-next-before {
  content: '\e93c';
}

@mixin icon-lock-next-before {
  content: '\e93d';
}

@mixin icon-mileage-next-before {
  content: '\e93e';
}

@mixin icon-oil-next-before {
  content: '\e93f';
}

@mixin icon-park-next-before {
  content: '\e940';
}

@mixin icon-parklight-next-before {
  content: '\e941';
}

@mixin icon-unlock-next-before {
  content: '\e942';
}

@mixin icon-crosshair-before {
  content: '\e937';
}

@mixin icon-wrench-before {
  content: '\e938';
}

@mixin icon-xing-before {
  content: '\e936';
}

@mixin icon-timer-pcm-before {
  content: '\e935';
}

@mixin icon-energy-before {
  content: '\e932';
}

@mixin icon-error-before {
  content: '\e933';
}

@mixin icon-plug-pcm-before {
  content: '\e934';
}

@mixin icon-settings-before {
  content: '\e931';
}

@mixin icon-double-arrow-down-thin-before {
  content: '\e92e';
}

@mixin icon-gebrauchtwagensuche-before {
  content: '\e92f';
}

@mixin icon-porsche-driving-experience-before {
  content: '\e930';
}

@mixin icon-desktop-before {
  content: '\e92c';
}

@mixin icon-tablet-before {
  content: '\e92d';
}

@mixin icon-whatsapp-before {
  content: '\e92b';
}

@mixin icon-add-user-before {
  content: '\e92a';
}

@mixin icon-vertical-line-before {
  content: '\e929';
}

@mixin icon-consumption-before {
  content: '\e921';
}

@mixin icon-cubic-capacity-before {
  content: '\e922';
}

@mixin icon-cw-value-before {
  content: '\e923';
}

@mixin icon-pcm-before {
  content: '\e924';
}

@mixin icon-photo-before {
  content: '\e925';
}

@mixin icon-picture-before {
  content: '\e926';
}

@mixin icon-weight-2-before {
  content: '\e927';
}

@mixin icon-wind-tunnel-before {
  content: '\e928';
}

@mixin icon-afternoon-before {
  content: '\e90f';
}

@mixin icon-callback-before {
  content: '\e910';
}

@mixin icon-code-active-before {
  content: '\e911';
}

@mixin icon-code-inactive-before {
  content: '\e912';
}

@mixin icon-customer-administration-before {
  content: '\e913';
}

@mixin icon-document-before {
  content: '\e914';
}

@mixin icon-evening-before {
  content: '\e915';
}

@mixin icon-list-view-before {
  content: '\e916';
}

@mixin icon-mail-request-before {
  content: '\e917';
}

@mixin icon-mailbox-before {
  content: '\e918';
}

@mixin icon-map-view-before {
  content: '\e919';
}

@mixin icon-mark-as-read-before {
  content: '\e91a';
}

@mixin icon-morning-before {
  content: '\e91b';
}

@mixin icon-reset-before {
  content: '\e91c';
}

@mixin icon-smartphone-before {
  content: '\e91d';
}

@mixin icon-tutorial-before {
  content: '\e91e';
}

@mixin icon-update-in-car-before {
  content: '\e91f';
}

@mixin icon-upload-before {
  content: '\e920';
}

@mixin icon-max-efficiency-before {
  content: '\e90e';
}

@mixin icon-acceleration-before {
  content: '\e904';
}

@mixin icon-car-connect-before {
  content: '\e905';
}

@mixin icon-concept-before {
  content: '\e906';
}

@mixin icon-e-power-before {
  content: '\e907';
}

@mixin icon-e-performance-before {
  content: '\e908';
}

@mixin icon-highspeed-before {
  content: '\e909';
}

@mixin icon-idea-before {
  content: '\e90a';
}

@mixin icon-performance-before {
  content: '\e90b';
}

@mixin icon-sound-of-porsche-before {
  content: '\e90c';
}

@mixin icon-weight-before {
  content: '\e90d';
}

@mixin icon-locked-before {
  content: '\e903';
}

@mixin icon-info-before {
  content: '\e902';
}

@mixin icon-teq-finder-01-before {
  content: '\e900';
}

@mixin icon-teq-finder-02-before {
  content: '\e901';
}

@mixin icon-logout-before {
  content: '\e647';
}

@mixin icon-move-inbox-before {
  content: '\e646';
}

@mixin icon-archive-before {
  content: '\e645';
}

@mixin icon-send-before {
  content: '\e644';
}

@mixin icon-sort-before {
  content: '\e640';
}

@mixin icon-deactivate-before {
  content: '\e641';
}

@mixin icon-menu-dots-before {
  content: '\e642';
}

@mixin icon-extend-duration-before {
  content: '\e643';
}

@mixin icon-exclamation-mark-before {
  content: '\e63f';
}

@mixin icon-help-and-contact-before {
  content: '\e637';
}

@mixin icon-closed-eye-before {
  content: '\e638';
}

@mixin icon-eye-before {
  content: '\e639';
}

@mixin icon-forgot-password-before {
  content: '\e63a';
}

@mixin icon-question-mark-before {
  content: '\e63c';
}

@mixin icon-registration-before {
  content: '\e63d';
}

@mixin icon-standard-features-before {
  content: '\e63e';
}

@mixin icon-expire-before {
  content: '\e636';
}

@mixin icon-payment-before {
  content: '\e634';
}

@mixin icon-home-before {
  content: '\e635';
}

@mixin icon-arrow-left-thin-first-before {
  content: '\e632';
}

@mixin icon-arrow-right-thin-last-before {
  content: '\e633';
}

@mixin icon-double-arrow-left-thin-before {
  content: '\e62a';
}

@mixin icon-double-arrow-right-thin-before {
  content: '\e62b';
}

@mixin icon-giftbox-before {
  content: '\e631';
}

@mixin icon-basket-before {
  content: '\e629';
}

@mixin icon-article-before {
  content: '\e62f';
}

@mixin icon-slideshow-before {
  content: '\e630';
}

@mixin icon-corporate-sales-before {
  content: '\e62e';
}

@mixin icon-check-small-before {
  content: '\e62d';
}

@mixin icon-menu2-before {
  content: '\e62c';
}

@mixin icon-car-before {
  content: '\e628';
}

@mixin icon-foursquare-before {
  content: '\e623';
}

@mixin icon-contact-before {
  content: '\e621';
}

@mixin icon-radio-button-before {
  content: '\e622';
}

@mixin icon-check-before {
  content: '\e615';
}

@mixin icon-list-view2-before {
  content: '\e616';
}

@mixin icon-grid-view-before {
  content: '\e617';
}

@mixin icon-print-before {
  content: '\e618';
}

@mixin icon-testdrive-before {
  content: '\e619';
}

@mixin icon-fax-before {
  content: '\e61a';
}

@mixin icon-email-before {
  content: '\e61b';
}

@mixin icon-ownerservice-before {
  content: '\e61c';
}

@mixin icon-twitter-favorite-before {
  content: '\e612';
}

@mixin icon-twitter-reply-before {
  content: '\e613';
}

@mixin icon-twitter-retweet-before {
  content: '\e614';
}

@mixin icon-delicious-before {
  content: '\e60e';
}

@mixin icon-gmail-before {
  content: '\e60f';
}

@mixin icon-igoogle-before {
  content: '\e610';
}

@mixin icon-tumblr-before {
  content: '\e611';
}

@mixin icon-hatena-bookmark-before {
  content: '\e608';
}

@mixin icon-qq-share-before {
  content: '\e609';
}

@mixin icon-skyrock-before {
  content: '\e60a';
}

@mixin icon-tecent-before {
  content: '\e60b';
}

@mixin icon-vk-before {
  content: '\e60c';
}

@mixin icon-wechat-before {
  content: '\e60d';
}

@mixin icon-baidu-before {
  content: '\e605';
}

@mixin icon-kaixin-before {
  content: '\e606';
}

@mixin icon-sohu-before {
  content: '\e607';
}

@mixin icon-yahoo-before {
  content: '\e603';
}

@mixin icon-digg-before {
  content: '\e604';
}

@mixin icon-twitter-before {
  content: '\e001';
}

@mixin icon-linkedin-before {
  content: '\e602';
}

@mixin icon-pinterest-before {
  content: '\e006';
}

@mixin icon-youku-before {
  content: '\e600';
}

@mixin icon-google-before {
  content: '\e008';
}

@mixin icon-facebook-before {
  content: '\e009';
}

@mixin icon-search-before {
  content: '\e003';
}

@mixin icon-plus-before {
  content: '\e004';
}

@mixin icon-overview-before {
  content: '\e007';
}

@mixin icon-download-before {
  content: '\e00a';
}

@mixin icon-close-before {
  content: '\e00b';
}

@mixin icon-pin-before {
  content: '\e010';
}

@mixin icon-locate-before {
  content: '\e012';
}

@mixin icon-play-before {
  content: '\e005';
}

@mixin icon-video-quali-before {
  content: '\e018';
}

@mixin icon-sound-before {
  content: '\e019';
}

@mixin icon-zoom-out-before {
  content: '\e01a';
}

@mixin icon-zoom-in-before {
  content: '\e01b';
}

@mixin icon-next-modul-before {
  content: '\e017';
}

@mixin icon-pref-modul-before {
  content: '\e01c';
}

@mixin icon-sub-menue-before {
  content: '\e01d';
}

@mixin icon-pause-before {
  content: '\e013';
}

@mixin icon-replay-before {
  content: '\e014';
}

@mixin icon-share-before {
  content: '\e002';
}

@mixin icon-mute-before {
  content: '\e016';
}

@mixin icon-arrow-up-before {
  content: '\e00c';
}

@mixin icon-arrow-right-before {
  content: '\e00d';
}

@mixin icon-arrow-left-before {
  content: '\e00e';
}

@mixin icon-arrow-down-before {
  content: '\e00f';
}

@mixin icon-arrow-up-hair-before {
  content: '\e022';
}

@mixin icon-arrow-right-hair-before {
  content: '\e024';
}

@mixin icon-arrow-left-hair-before {
  content: '\e025';
}

@mixin icon-arrow-down-hair-before {
  content: '\e026';
}

@mixin icon-weibo-before {
  content: '\e027';
}

@mixin icon-qq-before {
  content: '\e028';
}

@mixin icon-renren-before {
  content: '\e029';
}

@mixin icon-video-before {
  content: '\e02a';
}

@mixin icon-save-before {
  content: '\e02b';
}

@mixin icon-minus-before {
  content: '\e02d';
}

@mixin icon-configurator-before {
  content: '\e02e';
}

@mixin icon-arrow-up-thin-before {
  content: '\e01e';
}

@mixin icon-arrow-left-thin-before {
  content: '\e020';
}

@mixin icon-arrow-right-thin-before {
  content: '\e01f';
}

@mixin icon-arrow-down-thin-before {
  content: '\e021';
}

@mixin icon-download-02-before {
  content: '\e023';
}

@mixin icon-read-more-before {
  content: '\e02f';
}

@mixin icon-phone-before {
  content: '\e031';
}

@mixin icon-globe-before {
  content: '\e032';
}

@mixin icon-informationen-anfordern-before {
  content: '\e033';
}

@mixin icon-dealer-before {
  content: '\e034';
}

@mixin icon-compare-before {
  content: '\e035';
}

@mixin icon-youtube-before {
  content: '\f000';
}

@mixin icon-scrollbar-before {
  content: '\e050';
}

@mixin icon-menue-before {
  content: '\e011';
}

@mixin icon-breadcrumb-before {
  content: '\e015';
}

@mixin icon-highlight-before {
  content: '\e037';
}

@mixin icon-loader-before {
  content: '\e036';
}

@mixin icon-payment-calculator-before {
  content: '\e02c';
}

@mixin icon-instagram-before {
  content: '\e601';
}

@mixin icon-timer-before {
  content: '\e61d';
}

@mixin icon-gps-before {
  content: '\e61e';
}

@mixin icon-microphone-before {
  content: '\e61f';
}

@mixin icon-play2-before {
  content: '\e620';
}

@mixin icon-delete-before {
  content: '\e624';
}

@mixin icon-edit-before {
  content: '\e625';
}

@mixin icon-filter-before {
  content: '\e626';
}

@mixin icon-rss-before {
  content: '\e627';
}
