@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../modules/pagination/pagination-dots.setup.scss';

$media-center-width: 100% !default;

$media-center-media-width: 100% !default;
$media-center-media-collage-width: 50% !default;

$media-center-slide-item-width: 100% !default;
$media-center-slide-item-width-s: 50% !default;

$media-center-play-trigger-color-hover: $color-palette-red-1 !default;
$media-center-play-trigger-position: 50% !default;

$media-center-dots-position-bottom: -($spacing-12 + $pagination-dots-dot-button-dimension) !default;
$media-center-dots-width: 100% !default;
$media-center-dots-border-radius: 50% !default;
