<div class="pagination-dots
  {{ styleModifier }}
  {{#if pagination-dots_hidden-s}} pagination-dots--hidden-s {{/if}}">
    {{#each pagination-dots_dots}}
    <div class="pagination-dots__dot
      {{#if ../pagination-dots_dotsRound}} pagination-dots__dot--round {{/if}}
      {{#if this}} pagination-dots__dot--active {{/if}}"></div>
    {{/each}}
</div>
