@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

// Standard
$checkbox-dealer-service-height: inherit !default;
$checkbox-dealer-service-height-m: 100% !default;
$checkbox-dealer-service-width: 100% !default;
$checkbox-dealer-service-icon-border-color: $color-palette-grey-8 !default;
$checkbox-dealer-service-label-color: $color-palette-white !default;
$checkbox-dealer-service-container-background-color: $color-palette-grey-9 !default;
$checkbox-dealer-service-container-border-color: $color-palette-grey-9 !default;
$checkbox-dealer-service-container-width: 100% !default;
$checkbox-dealer-service-container-transition-duration: .2s !default;
$checkbox-dealer-service-label-font-size: $spacing-18 !default;

$checkbox-dealer-service-label-position-top: $spacing-3 !default;
$checkbox-dealer-service-label-position-right: $spacing-12 !default;
$checkbox-dealer-service-label-position-left: rem(34px) !default;
$checkbox-dealer-service-label-position-top-m: $spacing-12 !default;
$checkbox-dealer-service-label-position-reset: 0 !default;

$checkbox-dealer-service-other-width: 100% !default;

// Standard hovered
$checkbox-dealer-service-border-color-hovered: $color-palette-white !default;
$checkbox-dealer-service-icon-border-color-hovered: $color-palette-white !default;

// Standard checked
$checkbox-dealer-service-container-border-color-checked: $color-palette-red-1 !default;
$checkbox-dealer-service-container-border-width: 4px !default;
$checkbox-dealer-service-label-color-checked: $color-palette-white !default;
$checkbox-dealer-service-icon-border-color-checked: $color-palette-white !default;
$checkbox-dealer-service-icon-color-checked: $color-palette-white !default;


// Standard checked and disabled
$checkbox-dealer-service-container-background-color-checked-disabled: $color-palette-red-1 !default;
$checkbox-dealer-service-label-color-checked-disabled: rgba($color-palette-grey-5, .4) !default;
$checkbox-dealer-service-icon-border-color-checked-disabled: rgba($color-palette-white, .4) !default;
$checkbox-dealer-service-icon-color-checked-disabled: rgba($color-palette-white, .4) !default;

// Info Icon
$checkbox-dealer-service-icon-info-color: $color-palette-grey-5 !default;
$checkbox-dealer-service-icon-font-size: rem(20px) !default;
$checkbox-dealer-service-icon-position: rem(14px) !default;
