@import '../../setup/color-palette.setup.scss';

$media-center-modal-background-color: $color-palette-black !default;
$media-center-modal-header-color: $color-palette-white !default;
$media-center-modal-header-opacity: .8 !default;
$media-center-modal-header-icon-color: $color-palette-red-1 !default;
$media-center-modal-container-height: 56.25vw; // Should keep ratio of 1920:1080
