@import '../../setup/color-palette.setup.scss';

$media-center-modal-background-color: $color-palette-black !default;
$media-center-modal-top: 0 !default;
$media-center-modal-left: 0 !default;
$media-center-modal-height: 100vh !default;
$media-center-modal-width: 100vw !default;

$media-center-modal-header-top: 0 !default;
$media-center-modal-header-left: 0 !default;
$media-center-modal-header-width: 100vw !default;
$media-center-modal-header-background-color: rgba($color-palette-black, .8) !default;
$media-center-modal-header-color: $color-palette-white !default;
$media-center-modal-header-icon-color: $color-palette-red-1 !default;

$media-center-modal-container-height: 56.25vw !default; // Should keep ratio of 1920:1080
$media-center-modal-container-width: 100vw !default;
