@import '../../base/layout/flex.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import './media-center-modal.setup.scss';

.#{$global-class-prefix}media-center-modal {
  @include flex;
  @include flex-direction(column);
  @include -position(absolute);
  top: $media-center-modal-top;
  left: $media-center-modal-left;
  height: $media-center-modal-height;
  width: $media-center-modal-width;
  background-color: $media-center-modal-background-color;

  &__header {
    @include flex;
    @include flex-direction(row);
    @include flex-cross-axis(center);
    @include -spacing-inner-a;
    @include -text-size-copy;
    @include -position(absolute);
    top: $media-center-modal-header-top;
    left: $media-center-modal-header-left;
    width: $media-center-modal-header-width;
    color: $media-center-modal-header-color;
    background-color: $media-center-modal-header-background-color;

    &-title {
      @include flex-child-grow(1);
    }

    &-icon {
      position: relative;
      cursor: pointer;

      &:hover {
        color: $media-center-modal-header-icon-color;
      }

      &::after { // safe clickable area
        content: '';
        position: absolute;
        top: $media-center-modal-header-icon-clickable-radius;
        right: $media-center-modal-header-icon-clickable-radius;
        bottom: $media-center-modal-header-icon-clickable-radius;
        left: $media-center-modal-header-icon-clickable-radius;
      }
    }
  }

  &__container {
    height: $media-center-modal-container-height;
    width: $media-center-modal-container-width;
  }
}
