@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

@function p-radio-button-wrapper-default-image() {
  $color: str-replace('#{$p-color-background-default}', '#', '%23');
  @return 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><g fill="#{$color}" fill-rule="nonzero"><path d="M14 26c6.627 0 12-5.373 12-12S20.627 2 14 2 2 7.373 2 14s5.373 12 12 12zm0 2C6.268 28 0 21.732 0 14S6.268 0 14 0s14 6.268 14 14-6.268 14-14 14z"/><path d="M14 22a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 3C7.925 25 3 20.075 3 14S7.925 3 14 3s11 4.925 11 11-4.925 11-11 11z"/></g></svg>';
}

@function p-radio-button-wrapper-state-image() {
  $color: str-replace('#{$p-color-background-default}', '#', '%23');
  @return 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><g fill="#{$color}" fill-rule="nonzero"><path d="M14 26c6.627 0 12-5.373 12-12S20.627 2 14 2 2 7.373 2 14s5.373 12 12 12zm0 2C6.268 28 0 21.732 0 14S6.268 0 14 0s14 6.268 14 14-6.268 14-14 14z"/><path d="M14 21.273a7.273 7.273 0 1 0 0-14.546 7.273 7.273 0 0 0 0 14.546zM14 24C8.477 24 4 19.523 4 14S8.477 4 14 4s10 4.477 10 10-4.477 10-10 10z"/></g></svg> ';
}

@mixin p-radio-button-wrapper-initial-background($image, $color-1, $color-2) {
  background-image: url($image), radial-gradient(circle, $color-1 10px, $color-2 10px) !important;
}

@mixin p-radio-button-wrapper-checked-background($image, $color-1, $color-2) {
  background-image: url($image),
    radial-gradient(circle, $color-1 8px, $p-color-background-default 8px, $color-2 10px, $color-2 10px) !important;
}

@mixin p-radio-button-wrapper-label-text-visible() {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 0 0 $p-spacing-8;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin p-radio-button-wrapper-label-text-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: block;
}

::slotted(input) {
  position: relative !important;
  margin: p-px-to-rem(-2px) !important;
  width: p-px-to-rem(28px) !important; // 4px wider to enable rounded focus style
  height: p-px-to-rem(28px) !important;
  flex-shrink: 0 !important;
  display: block !important;
  padding: 0 !important;
  appearance: none !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  outline: none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  background: url(p-radio-button-wrapper-default-image()) no-repeat center,
    radial-gradient(circle, $p-color-background-default 10px, $p-color-neutral-contrast-medium 10px) no-repeat center !important;
  background-size: p-px-to-rem(28px) !important;
  border: 2px solid $p-color-background-default !important;
  transition: background $p-animation-hover-duration $p-animation-hover-bezier;
}

::slotted(input:checked) {
  @include p-radio-button-wrapper-checked-background(
    p-radio-button-wrapper-default-image(),
    $p-color-neutral-contrast-high,
    $p-color-neutral-contrast-high
  );
}

::slotted(input:disabled) {
  cursor: not-allowed !important;
  @include p-radio-button-wrapper-initial-background(
    p-radio-button-wrapper-default-image(),
    $p-color-background-default,
    $p-color-state-disabled
  );
}

::slotted(input:checked:disabled) {
  cursor: not-allowed !important;
  @include p-radio-button-wrapper-checked-background(
    p-radio-button-wrapper-default-image(),
    $p-color-state-disabled,
    $p-color-state-disabled
  );
}

::slotted(input:not(:checked):not(:disabled):hover) {
  @include p-radio-button-wrapper-initial-background(
    p-radio-button-wrapper-default-image(),
    $p-color-background-default,
    $p-color-default
  );
}

::slotted(input:not(:disabled):checked:hover) {
  @include p-radio-button-wrapper-initial-background(
    p-radio-button-wrapper-default-image(),
    $p-color-neutral-contrast-high,
    $p-color-default
  );
}

::slotted(input:focus) {
  box-shadow: 0 0 0 1px $p-color-neutral-contrast-medium !important;
}

.label {
  $bem-block: &;
  display: flex;
  position: relative;

  &--error {
    ::slotted(input) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-state-image(),
        $p-color-background-default,
        $p-color-notification-error
      );
    }
    ::slotted(input:checked) {
      @include p-radio-button-wrapper-checked-background(
        p-radio-button-wrapper-state-image(),
        $p-color-notification-error,
        $p-color-notification-error
      );
    }
    ::slotted(input:focus) {
      box-shadow: 0 0 0 1px $p-color-notification-error !important;
    }

    #{$bem-block}__text:hover ~ ::slotted(input),
    &:not(#{$bem-block}--disabled #{$bem-block}__text) ::slotted(input:not(:checked):hover) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-state-image(),
        $p-color-background-default,
        darken($p-color-notification-error, 12%)
      );
    }

    #{$bem-block}__text:hover ~ ::slotted(input:checked),
    &:not(#{$bem-block}--disabled #{$bem-block}__text) ::slotted(input:hover) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-state-image(),
        $p-color-notification-error,
        darken($p-color-notification-error, 12%)
      );
    }

    + .message {
      color: $p-color-notification-error;
    }
  }

  &--success {
    ::slotted(input) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-state-image(),
        $p-color-background-default,
        $p-color-notification-success
      );
    }
    ::slotted(input:checked) {
      @include p-radio-button-wrapper-checked-background(
        p-radio-button-wrapper-state-image(),
        $p-color-notification-success,
        $p-color-notification-success
      );
    }
    ::slotted(input:focus) {
      box-shadow: 0 0 0 1px $p-color-notification-success !important;
    }

    #{$bem-block}__text:hover ~ ::slotted(input),
    &:not(#{$bem-block}--disabled #{$bem-block}__text) ::slotted(input:not(:checked):hover) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-state-image(),
        $p-color-background-default,
        darken($p-color-notification-success, 12%)
      );
    }

    #{$bem-block}__text:hover ~ ::slotted(input:checked),
    &:not(#{$bem-block}--disabled #{$bem-block}__text) ::slotted(input:hover) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-state-image(),
        $p-color-notification-success,
        darken($p-color-notification-success, 12%)
      );
    }

    + .message {
      color: $p-color-notification-success;
    }
  }

  &--disabled {
    #{$bem-block}__text {
      color: $p-color-state-disabled;
      cursor: default;
    }
  }

  &__text {
    order: 1;
    display: inline-block;
    cursor: pointer;
    color: $p-color-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &:hover:not(#{$bem-block}--disabled #{$bem-block}__text):not(#{$bem-block}--success
        #{$bem-block}__text):not(#{$bem-block}--error #{$bem-block}__text)
      ~ ::slotted(input:not(:checked)) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-default-image(),
        $p-color-background-default,
        $p-color-default
      );
    }

    &:hover:not(#{$bem-block}--disabled #{$bem-block}__text):not(#{$bem-block}--success
        #{$bem-block}__text):not(#{$bem-block}--error #{$bem-block}__text)
      ~ ::slotted(input:checked) {
      @include p-radio-button-wrapper-initial-background(
        p-radio-button-wrapper-default-image(),
        $p-color-neutral-contrast-high,
        $p-color-default
      );
    }

    &--visible {
      @include p-radio-button-wrapper-label-text-visible;
    }

    &--hidden {
      @include p-radio-button-wrapper-label-text-hidden;
    }

    @include p-media-query('xs') {
      &--visible-xs {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-xs {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('s') {
      &--visible-s {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-s {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('m') {
      &--visible-m {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-m {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('l') {
      &--visible-l {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-l {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('xl') {
      &--visible-xl {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-xl {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }
  }
}

.required {
  @include required;
}

.message {
  margin-top: $p-spacing-4;
  color: $p-color-default;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
}
