@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

@function p-radio-button-default($color) {
  $color: str-replace('#{$color}', '#', '%23');
  @return 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="nonzero" fill="#{$color}" d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11zm0 1C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12z"/></svg>';
}

@function p-radio-button-active($color) {
  $color: str-replace('#{$color}', '#', '%23');
  @return 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill-rule="evenodd" fill="#{$color}"><circle cx="12" cy="12" r="8"/><path fill-rule="nonzero" d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11zm0 1C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12z"/></g></svg>';
}

@mixin p-radio-button-wrapper-label-text-visible() {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 0 0 $p-spacing-8;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin p-radio-button-wrapper-label-text-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: block;
}

::slotted(input) {
  position: relative !important;
  width: p-px-to-rem(30px) !important; // 4px wider to enable rounded focus style
  height: p-px-to-rem(30px) !important;
  display: block !important;
  margin: -4px !important;
  padding: 0 !important;
  appearance: none !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  outline: none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  background: transparent url(p-radio-button-default($p-color-neutral-contrast-medium)) no-repeat center !important;
  background-size: 24px !important;
}

::slotted(input:checked) {
  background-image: url(p-radio-button-active($p-color-neutral-contrast-high)) !important;
}
::slotted(input:checked:disabled) {
  background-image: url(p-radio-button-active($p-color-state-disabled)) !important;
}

::slotted(input:hover) {
  background-image: url(p-radio-button-default($p-color-default)) !important;
}

::slotted(input:disabled) {
  background-image: url(p-radio-button-default($p-color-state-disabled)) !important;
}

::slotted(input:focus) {
  box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium;
}

.label {
  $bem-block: &;
  position: relative;
  display: flex;

  &--error {
    $p-color-notification-error-darkened: darken($p-color-notification-error, 12%);

    ::slotted(input) {
      background-image: url(p-radio-button-default($p-color-notification-error)) !important;
    }
    ::slotted(input:checked) {
      background-image: url(p-radio-button-active($p-color-notification-error)) !important;
    }
    ::slotted(input:focus) {
      box-shadow: 0 0 0 1px $p-color-notification-error !important;
    }

    #{$bem-block}__text:hover ~ ::slotted(input),
    &:not(#{$bem-block}--disabled #{$bem-block}__text) ::slotted(input:hover) {
      background-image: url(p-radio-button-default($p-color-notification-error-darkened)) !important;
    }

    + .message {
      color: $p-color-notification-error;
    }
  }

  &--success {
    $p-color-notification-success-darkened: darken($p-color-notification-success, 12%);

    ::slotted(input) {
      background-image: url(p-radio-button-default($p-color-notification-success)) !important;
    }
    ::slotted(input:checked) {
      background-image: url(p-radio-button-active($p-color-notification-success)) !important;
    }
    ::slotted(input:focus) {
      box-shadow: 0 0 0 1px $p-color-notification-success !important;
    }

    //TO-DO: Hover styles
    #{$bem-block}__text:hover ~ ::slotted(input),
    &:not(#{$bem-block}--disabled #{$bem-block}__text) ::slotted(input:hover) {
      background-image: url(p-radio-button-default($p-color-notification-success-darkened)) !important;
    }

    + .message {
      color: $p-color-notification-success;
    }
  }

  &--disabled {
    #{$bem-block}__text {
      color: $p-color-state-disabled;
      cursor: default;
    }
  }

  &__text {
    order: 1;
    display: inline-block;
    cursor: pointer;
    color: $p-color-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &:hover:not(#{$bem-block}--disabled #{$bem-block}__text):not(#{$bem-block}--success
        #{$bem-block}__text):not(#{$bem-block}--error #{$bem-block}__text)
      ~ ::slotted(input) {
      background-image: url(p-radio-button-default($p-color-default)) !important;
    }

    &--visible {
      @include p-radio-button-wrapper-label-text-visible;
    }

    &--hidden {
      @include p-radio-button-wrapper-label-text-hidden;
    }

    @include p-media-query('xs') {
      &--visible-xs {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-xs {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('s') {
      &--visible-s {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-s {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('m') {
      &--visible-m {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-m {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('l') {
      &--visible-l {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-l {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('xl') {
      &--visible-xl {
        @include p-radio-button-wrapper-label-text-visible;
      }

      &--hidden-xl {
        @include p-radio-button-wrapper-label-text-hidden;
      }
    }
  }
}

.required {
  @include required;
}

.message {
  margin-top: $p-spacing-4;
  color: $p-color-default;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
}
