@import "../../../styles/utility/index";

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}checkbox {
  $bem-block: &;
  position: relative;
  display: inline-flex;
  min-width: rem(26px);
  min-height: rem(26px);
  max-width: 100%;
  cursor: pointer;
  vertical-align: top; // get rid of space underneath because of inline-block

  &__field {
    display: none;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(26px);
    height: rem(26px);
    box-sizing: border-box;
    border: rem(2px) solid $p-color-neutral-grey-6;
    cursor: pointer;

    &--error {
      border-color: $p-color-status-red;
    }

    & p-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      color: $p-color-neutral-grey-6;
    }

    &::after { // safe clickable area
      position: absolute;
      content: '';
      top: - rem(9px);
      right: - rem(9px);
      bottom: - rem(9px);
      left: - rem(9px);
    }
  }

  &__label {
    display: block;
    padding: rem(1px) 0 0 rem(38px);
    color: $p-color-porsche-black;

    &--error {
      color: $p-color-status-red;
    }
  }

  // checkbox is hovered, not checked and not disabled
  &:hover &__field:not(:checked):not(:disabled) {
    & ~ #{$bem-block}__icon {
      border-color: $p-color-neutral-grey-4;

      &--error {
        border-color: $p-color-status-red;
      }
    }
  }

  // checkbox is checked
  &__field:checked {
    & ~ #{$bem-block}__icon {

      & p-icon {
        visibility: visible;
        color: $p-color-neutral-grey-6;
      }

      &--error p-icon {
        color: $p-color-status-red;
      }
    }
  }

  // checkbox is hovered, checked and not disabled
  &:hover &__field:checked:not(:disabled) {
    & ~ #{$bem-block}__icon {
      background-color: $p-color-neutral-grey-6;

      & p-icon {
        color: $p-color-porsche-light;
      }

      &--error {
        background-color: $p-color-status-red;
      }

      &--error p-icon {
        background-color: transparent;
        color: $p-color-porsche-light;
      }
    }
  }

  // checkbox is disabled, unchecked or checked
  &__field:disabled:checked,
  &__field:disabled:not(:checked) {
    & ~ #{$bem-block}__icon {
      cursor: default;
      border-color: $p-color-neutral-grey-4;
      background: transparent;

      & p-icon {
        color: $p-color-neutral-grey-4;
      }
    }

    & ~ #{$bem-block}__label {
      cursor: default;
      color: $p-color-neutral-grey-4;

      #{$bem-block}__label-link {
        cursor: pointer;
        color: $p-color-neutral-grey-4;

        &:active,
        &:focus,
        &:hover {
          color: $p-color-porsche-red;
        }
      }
    }
  }
}
