@import 'status-bar.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/text-size/text-size.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}status-bar {
  @include flex;
  @include flex--align-items(center);
  padding: {
    top: $status-bar-spacing-vertical;
    bottom: $status-bar-spacing-vertical;
  }
  border-top: $status-bar-border-size solid $status-bar-border-color;
  border-bottom: $status-bar-border-size solid $status-bar-border-color;

  &__info {
    @include flex;
  }

  &__icon {
    display: inline-block;
    font-size: $status-bar-icon-size;
    line-height: $text-size-5-line-height;
    color: $status-bar-icon-color;

    @include breakpoint('m') {
      font-size: $status-bar-icon-size-m;
    }

    &--active {
      color: $status-bar-icon-active-color;
    }

    &--error {
      color: $status-bar-icon-error-color;
    }
  }

  &__label {
    @include -text-size-5-thin;
    display: inline-block;
    margin-left: $status-bar-label-offset;
    color: $status-bar-label-color;

    @include breakpoint('m') {
      margin-left: $status-bar-label-offset-m;
    }
  }

  &__label-primary {
    display: block;

    @include breakpoint('s') {
      display: inline;
    }
  }

  &__label-secondary {
    display: block;

    @include breakpoint('s') {
      display: inline;
    }

    &::before {
      @include breakpoint('s') {
        @include -spacing-12(left);
        @include -spacing-12(right);
        @include -text-color-grey-5;
        content: '|';
      }
    }
  }
}
