<div class="media-center-modal {{ styleModifier }}">
  <div class="flex__child"></div>
  <iframe class="media-center-modal__container" src="{{ media-center-modal_source }}"></iframe>
  <div class="flex__child"></div>
  <div class="media-center-modal__header">
    <span class="media-center-modal__header-title">{{ media-center-modal_title }}</span>
    <div class="media-center-modal__header-icon icon icon--close"></div>
  </div>
</div>
