@import '../../../../../../packages/utilities/projects/utilities/scss';

:host {
  display: block;
}

.#{$p-global-class-prefix}pagination {
  $bem-block: &;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  &--size {
    &-5 {
      counter-reset: size 5;
    }
    &-7 {
      counter-reset: size 7;
    }

    @include p-breakpoint("xs") {
      &-5-xs {
        counter-reset: size 5;
      }
      &-7-xs {
        counter-reset: size 7;
      }
    }

    @include p-breakpoint("s") {
      &-5-s {
        counter-reset: size 5;
      }
      &-7-s {
        counter-reset: size 7;
      }
    }

    @include p-breakpoint("m") {
      &-5-m {
        counter-reset: size 5;
      }
      &-7-m {
        counter-reset: size 7;
      }
    }

    @include p-breakpoint("l") {
      &-5-l {
        counter-reset: size 5;
      }
      &-7-l {
        counter-reset: size 7;
      }
    }

    @include p-breakpoint("xl") {
      &-5-xl {
        counter-reset: size 5;
      }
      &-7-xl {
        counter-reset: size 7;
      }
    }
  }

  &__items {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__goto,
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier,
    outline-color $p-animation-hover-duration $p-animation-hover-bezier;
    position: relative;
    width: p-rem(40px);
    height: p-rem(40px);
    box-sizing: border-box;
    outline: none transparent;

    &:focus {
      outline-width: 2px;
      outline-style: solid;

      #{$bem-block}--theme-light & {
        outline-color: $p-color-theme-light-state-focus;
      }

      #{$bem-block}--theme-dark & {
        outline-color: $p-color-theme-dark-state-focus;
      }
    }

    &:active {
      outline: none;

      #{$bem-block}--theme-light & {
        color: $p-color-theme-light-state-active;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-active;
      }
    }
  }

  &__goto {
    @include p-text-small;
    text-decoration: none;
    cursor: pointer;

    #{$bem-block}--theme-light & {
      color: $p-color-theme-light-default;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &:hover {
      #{$bem-block}--theme-light & {
        color: $p-color-theme-light-state-hover;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-hover;
      }
    }

    &--current {
      cursor: default;

      &:hover {
        #{$bem-block}--theme-light & {
          color: $p-color-theme-light-default;
        }

        #{$bem-block}--theme-dark & {
          color: $p-color-theme-dark-default;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: p-rem(6px);
        right: p-rem(6px);
        height: p-rem(4px);

        #{$bem-block}--theme-light & {
          background-color: $p-color-theme-light-brand;
        }

        #{$bem-block}--theme-dark & {
          background-color: $p-color-theme-dark-brand;
        }
      }
    }

    &--ellipsis {
      cursor: default;

      &:hover {
        #{$bem-block}--theme-light & {
          color: $p-color-theme-light-default;
        }

        #{$bem-block}--theme-dark & {
          color: $p-color-theme-dark-default;
        }
      }

      &::after {
        content: '…';
      }
    }
  }

  &__prev,
  &__next {
    text-decoration: none;
    cursor: pointer;

    #{$bem-block}--theme-light & {
      color: $p-color-theme-light-default;
    }

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &:hover {
      #{$bem-block}--theme-light & {
        color: $p-color-theme-light-state-hover;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-hover;
      }
    }

    &--disabled {
      cursor: default;

      #{$bem-block}--theme-light & {
        color: $p-color-theme-light-state-disabled;
      }

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-dark-state-disabled;
      }

      &:hover {
        #{$bem-block}--theme-light & {
          color: $p-color-theme-light-state-disabled;
        }

        #{$bem-block}--theme-dark & {
          color: $p-color-theme-dark-state-disabled;
        }
      }
    }
  }
}
