@import 'row.setup.scss';
@import 'row.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}row {
  @include row-gap-normal;

  &--gap {
    &-normal  { @include row-gap-normal; }
    &-small   { @include row-gap-small; }
    &-zero    { @include row-gap-zero; }

    @include breakpoint('xs') {
      &-normal-xs { @include row-gap-normal; }
      &-small-xs  { @include row-gap-small; }
      &-zero-xs   { @include row-gap-zero; }
    }

    @include breakpoint('s') {
      &-normal-s { @include row-gap-normal; }
      &-small-s  { @include row-gap-small; }
      &-zero-s   { @include row-gap-zero; }
    }

    @include breakpoint('m') {
      &-normal-m { @include row-gap-normal; }
      &-small-m  { @include row-gap-small; }
      &-zero-m   { @include row-gap-zero; }
    }

    @include breakpoint('l') {
      &-normal-l { @include row-gap-normal; }
      &-small-l  { @include row-gap-small; }
      &-zero-l   { @include row-gap-zero; }
    }

    @include breakpoint('xl') {
      &-normal-xl { @include row-gap-normal; }
      &-small-xl  { @include row-gap-small; }
      &-zero-xl   { @include row-gap-zero; }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
