@import '../../mixins/px-rem-converter.scss';

$car-interior-ventilation-picture-width: 1600 !default;
$car-interior-ventilation-picture-height: 900 !default;
$car-interior-ventilation-picture-ratio: $car-interior-ventilation-picture-height / $car-interior-ventilation-picture-width * 100% !default;

$car-interior-ventilation-ratio: .8 * $car-interior-ventilation-picture-ratio !default;
$car-interior-ventilation-ratio-m: 1.1 * $car-interior-ventilation-picture-ratio !default;
$car-interior-ventilation-ratio-l: .8 * $car-interior-ventilation-picture-ratio !default;
$car-interior-ventilation-background-src: '../images/vehicle-interior-e3-480.jpg' !default;
$car-interior-ventilation-background-src-xs: '../images/vehicle-interior-e3-640.jpg' !default;
$car-interior-ventilation-background-src-s: '../images/vehicle-interior-e3-800.jpg' !default;
$car-interior-ventilation-background-src-m: '../images/vehicle-interior-e3-640.jpg' !default;
$car-interior-ventilation-background-src-l: '../images/vehicle-interior-e3-800.jpg' !default;
$car-interior-ventilation-background-src-retina: '../images/vehicle-interior-e3-480@2x.jpg' !default;
$car-interior-ventilation-background-src-xs-retina: '../images/vehicle-interior-e3-640@2x.jpg' !default;
$car-interior-ventilation-background-src-s-retina: '../images/vehicle-interior-e3-800@2x.jpg' !default;
$car-interior-ventilation-background-src-m-retina: '../images/vehicle-interior-e3-640@2x.jpg' !default;
$car-interior-ventilation-background-src-l-retina: '../images/vehicle-interior-e3-800@2x.jpg' !default;

$car-interior-ventilation-image-opacity: 0 !default;
$car-interior-ventilation-image-transition-duration: .6s !default;
$car-interior-ventilation-image-background-src: '../images/vehicle-interior-e3-ventilation-480.jpg' !default;
$car-interior-ventilation-image-background-src-xs: '../images/vehicle-interior-e3-ventilation-640.jpg' !default;
$car-interior-ventilation-image-background-src-s: '../images/vehicle-interior-e3-ventilation-800.jpg' !default;
$car-interior-ventilation-image-background-src-m: '../images/vehicle-interior-e3-ventilation-640.jpg' !default;
$car-interior-ventilation-image-background-src-l: '../images/vehicle-interior-e3-ventilation-800.jpg' !default;
$car-interior-ventilation-image-background-src-retina: '../images/vehicle-interior-e3-ventilation-480@2x.jpg' !default;
$car-interior-ventilation-image-background-src-xs-retina: '../images/vehicle-interior-e3-ventilation-640@2x.jpg' !default;
$car-interior-ventilation-image-background-src-s-retina: '../images/vehicle-interior-e3-ventilation-800@2x.jpg' !default;
$car-interior-ventilation-image-background-src-m-retina: '../images/vehicle-interior-e3-ventilation-640@2x.jpg' !default;
$car-interior-ventilation-image-background-src-l-retina: '../images/vehicle-interior-e3-ventilation-800@2x.jpg' !default;

$car-interior-ventilation-image-fade-in-opacity: 1 !default;
