@import '../../../../../../packages/utilities/projects/utilities/scss';

@mixin p-link-with-label() {
  padding: p-rem(11px) p-rem(15px) p-rem(11px) p-rem(39px);
}

@mixin p-link-without-label() {
  padding: 0;
}

@mixin p-link-label-with-label() {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: normal;
  overflow: visible;
  border: 0;
  text-indent: 0;
}

@mixin p-link-label-without-label() {
  width: 1px;
  height: 1px;
  margin: 0 0 0 -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  text-indent: -1px;
}

@mixin p-link-icon-with-label() {
  left: p-rem(11px);
  top: p-rem(11px);
  transform: translateX(0) translateY(0);
}

@mixin p-link-icon-without-label() {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

:host {
  display: inline-flex;
  vertical-align: top;
  position: relative !important;
  cursor: pointer;
}

::slotted(a) {
  display: block !important;
  position: static !important;
  text-decoration: none !important;
  color: inherit !important;
  line-height: inherit !important;
}
::slotted(a)::before {
  content: "" !important;
  position: absolute !important;
  top: -1px !important;
  left: -1px !important;
  right: -1px !important;
  bottom: -1px !important;
  display: block !important;
  outline: transparent none !important;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier !important;
}
::slotted(a:focus) {
  outline: none !important;
}
::slotted(a:focus)::before {
  outline-offset: 1px !important;
  outline: $p-color-theme-light-state-focus solid 2px !important;
}

.#{$p-global-class-prefix}link {
  $bem-block: &;
  display: flex;
  width: 100%;
  min-width: p-rem(48px);
  min-height: p-rem(48px);
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none transparent;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  transition: background-color $p-animation-hover-duration $p-animation-hover-bezier,
  border-color $p-animation-hover-duration $p-animation-hover-bezier,
  outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier;

  &::-moz-focus-inner {
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 1px;
  }

  &--theme-light {
    &:focus {
      outline-color: $p-color-theme-light-state-focus;
    }
  }

  &--theme-dark {
    &:focus {
      outline-color: $p-color-theme-dark-state-focus;
    }
  }

  &--primary {
    &#{$bem-block}--theme-light {
      color: $p-color-theme-dark-default;
      background-color: $p-color-theme-light-brand;
      border-color: $p-color-theme-light-brand;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-dark-default;
      background-color: $p-color-theme-dark-brand;
      border-color: $p-color-theme-dark-brand;
    }

    &:hover,
    &:active {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-dark-default;
        background-color: darken($p-color-theme-light-state-hover, 12%);
        border-color: darken($p-color-theme-light-state-hover, 12%);
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-default;
        background-color: darken($p-color-theme-dark-state-hover, 12%);
        border-color: darken($p-color-theme-dark-state-hover, 12%);
      }
    }
  }

  &--secondary {
    &#{$bem-block}--theme-light {
      color: $p-color-theme-dark-default;
      background-color: $p-color-theme-light-neutral-contrast-high;
      border-color: $p-color-theme-light-neutral-contrast-high;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-light-default;
      background-color: $p-color-theme-dark-default;
      border-color: $p-color-theme-dark-default;
    }

    &:hover,
    &:active {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-dark-default;
        background-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
        border-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-light-default;
        background-color: darken($p-color-theme-dark-default, 12%);
        border-color: darken($p-color-theme-dark-default, 12%);
      }
    }
  }

  &--tertiary {
    &#{$bem-block}--theme-light {
      color: $p-color-theme-light-default;
      background-color: transparent;
      border-color: $p-color-theme-light-neutral-contrast-high;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-dark-default;
      background-color: transparent;
      border-color: $p-color-theme-dark-default;
    }

    &:hover,
    &:active {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-dark-default;
        background-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
        border-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-light-default;
        background-color: $p-color-theme-dark-default;
        border-color: $p-color-theme-dark-default;
      }
    }
  }

  &--with-label {
    @include p-link-with-label;

    #{$bem-block}__label {
      @include p-link-label-with-label;
    }

    #{$bem-block}__icon {
      @include p-link-icon-with-label;
    }
  }

  &--without-label {
    @include p-link-without-label;

    #{$bem-block}__label {
      @include p-link-label-without-label;
    }

    #{$bem-block}__icon {
      @include p-link-icon-without-label;
    }
  }

  @include p-breakpoint("xs") {
    &--with-label-xs {
      @include p-link-with-label;

      #{$bem-block}__label {
        @include p-link-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-with-label;
      }
    }

    &--without-label-xs {
      @include p-link-without-label;

      #{$bem-block}__label {
        @include p-link-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-without-label;
      }
    }
  }

  @include p-breakpoint("s") {
    &--with-label-s {
      @include p-link-with-label;

      #{$bem-block}__label {
        @include p-link-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-with-label;
      }
    }

    &--without-label-s {
      @include p-link-without-label;

      #{$bem-block}__label {
        @include p-link-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-without-label;
      }
    }
  }

  @include p-breakpoint("m") {
    &--with-label-m {
      @include p-link-with-label;

      #{$bem-block}__label {
        @include p-link-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-with-label;
      }
    }

    &--without-label-m {
      @include p-link-without-label;

      #{$bem-block}__label {
        @include p-link-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-without-label;
      }
    }
  }

  @include p-breakpoint("l") {
    &--with-label-l {
      @include p-link-with-label;

      #{$bem-block}__label {
        @include p-link-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-with-label;
      }
    }

    &--without-label-l {
      @include p-link-without-label;

      #{$bem-block}__label {
        @include p-link-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-without-label;
      }
    }
  }

  @include p-breakpoint("xl") {
    &--with-label-xl {
      @include p-link-with-label;

      #{$bem-block}__label {
        @include p-link-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-with-label;
      }
    }

    &--without-label-xl {
      @include p-link-without-label;

      #{$bem-block}__label {
        @include p-link-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-link-icon-without-label;
      }
    }
  }

  &__label {
    display: block;
    box-sizing: border-box;
  }

  &__icon {
    position: absolute;
    width: p-rem(24px);
    height: p-rem(24px);
  }
}
