strict-ssl = false
registry = https://pccbuild.web.porsche.de/nexus/content/groups/npm/
@angular:registry = https://registry.npmjs.org/
@angular-devkit:registry = https://registry.npmjs.org/
@ngtools:registry = https://registry.npmjs.org/
@types:registry = https://registry.npmjs.org/
@schematics:registry = https://registry.npmjs.org/
