<div class="-background-grey-9-1 -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-white">Button Notification</h2>
  <div class="row">
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-white">Default (Info)</h4>
      {{> molecules-button-notification styleModifier="-spacing-12" button-notification_label="OK" button-notification_icon="arrow-right-thin" }}
    </div>
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-white">Error</h4>
      {{> molecules-button-notification styleModifier="-spacing-12" button-notification_label="OK" button-notification_icon="arrow-right-thin" button-notification_error=true }}
    </div>
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-white">Cookie</h4>
      {{> molecules-button-notification styleModifier="-spacing-12" button-notification_label="Schließen" button-notification_icon="close" button-notification_cookie=true }}
    </div>
  </div>
</div>
