@import "../../../../../../../packages/scss-utils/index";

$p-grid-gutter: p-rem(16px);
$p-grid-gutter-s: p-rem(24px);
$p-grid-gutter-m: p-rem(36px);

$p-grid-safe-zone: 7vw;
$p-grid-safe-zone-xl: 10vw;

$p-grid-max-width: p-rem(map-get($p-breakpoints, xxl));

.#{$p-global-class-prefix}grid-safe-zone {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin: {
    left: 0 !important;
    right: 0 !important;
  }
  padding: {
    left: $p-grid-safe-zone !important;
    right: $p-grid-safe-zone !important;
  }

  @include p-breakpoint("xl") {
    padding: {
      left: $p-grid-safe-zone-xl !important;
      right: $p-grid-safe-zone-xl !important;
    }
  }

  & > .#{$p-global-class-prefix}grid {
    max-width: calc(#{$p-grid-max-width} + #{$p-grid-gutter-m}) !important;
  }
}

.#{$p-global-class-prefix}grid {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  margin: {
    left: -$p-grid-gutter / 2 !important;
    right: -$p-grid-gutter / 2 !important;
  }

  @include p-breakpoint("s", "m") {
    margin: {
      left: -$p-grid-gutter-s / 2 !important;
      right: -$p-grid-gutter-s / 2 !important;
    }
  }

  @include p-breakpoint("m") {
    margin: {
      left: -$p-grid-gutter-m / 2 !important;
      right: -$p-grid-gutter-m / 2 !important;
    }
  }

  &--direction {
    &-column {
      flex-direction: column !important;
    }

    &-column-reverse {
      flex-direction: column-reverse !important;
    }

    &-row {
      flex-direction: row !important;
    }

    &-row-reverse {
      flex-direction: row-reverse !important;
    }

    @include p-breakpoint("xs") {
      &-column-xs {
        flex-direction: column !important;
      }
      &-column-reverse-xs {
        flex-direction: column-reverse !important;
      }
      &-row-xs {
        flex-direction: row !important;
      }
      &-row-reverse-xs {
        flex-direction: row-reverse !important;
      }
    }

    @include p-breakpoint("s") {
      &-column-s {
        flex-direction: column !important;
      }
      &-column-reverse-s {
        flex-direction: column-reverse !important;
      }
      &-row-s {
        flex-direction: row !important;
      }
      &-row-reverse-s {
        flex-direction: row-reverse !important;
      }
    }

    @include p-breakpoint("m") {
      &-column-m {
        flex-direction: column !important;
      }
      &-column-reverse-m {
        flex-direction: column-reverse !important;
      }
      &-row-m {
        flex-direction: row !important;
      }
      &-row-reverse-m {
        flex-direction: row-reverse !important;
      }
    }

    @include p-breakpoint("l") {
      &-column-l {
        flex-direction: column !important;
      }
      &-column-reverse-l {
        flex-direction: column-reverse !important;
      }
      &-row-l {
        flex-direction: row !important;
      }
      &-row-reverse-l {
        flex-direction: row-reverse !important;
      }
    }

    @include p-breakpoint("xl") {
      &-column-xl {
        flex-direction: column !important;
      }
      &-column-reverse-xl {
        flex-direction: column-reverse !important;
      }
      &-row-xl {
        flex-direction: row !important;
      }
      &-row-reverse-xl {
        flex-direction: row-reverse !important;
      }
    }
  }
}
