@import "../../../common";
@import "../../../../../../../node_modules/@porsche/ui-kit-core/src/modules/icons/index";
@import "../../../../../../../node_modules/@porsche/ui-kit-core/src/modules/notification/index";

.#{$global-class-prefix}notification {

    // this overwrites core functionality, because the react contentWrapper component is used for centering
    &__wrapper {
        padding-left: 0;
        width: 100%;
    }

    &__text--cookie {
        @include breakpoint("xxs", "s") {
            padding-right: $spacing-48;
        }

        a {
            color: $grey;
            text-decoration: underline;
        }
    }

    &__icon--close {

        // we need this button resets because ui-kit-core does not use a button element
        margin: 0;
        outline: none;
        border: none;
        background: transparent;
        color: $white;
        align-self: flex-start;

        &:hover,
        &:focus {
            color: $grey-light;
        }

        @include breakpoint("s") {
            margin-top: -$spacing-18;
        }
    }
}

