<ul class="dropdown-multi-function {{#if dropdown-multi-function_above}}dropdown-multi-function--above{{/if}} {{#if dropdown-multi-function_visible }} dropdown-multi-function--visible {{/if}} {{ styleModifier }}">

  {{#if dropdown-multi-function_above}}
    {{> molecules-symbol-diamond styleModifier="dropdown-multi-function__diamond dropdown-multi-function__diamond--above" }}
  {{else}}
    {{> molecules-symbol-diamond styleModifier="dropdown-multi-function__diamond" }}
  {{/if}}

  {{#each dropdown-multi-function }}
    <li class="dropdown-multi-function__item">{{ label }}</li>
  {{/each}}

</ul>
