@import '../../../../../../packages/utilities/src/scss/index';

$p-spinner-size-small: p-rem(48px);
$p-spinner-size-medium: p-rem(72px);
$p-spinner-size-large: p-rem(104px);

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}spinner {
  $bem-block: &;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  stroke-width: 1px;
  animation: rotate 1s linear infinite; // IE11 fallback
  animation-duration: var(--p-animation-duration__spinner);

  &--theme-light {
    #{$bem-block}__fg,
    #{$bem-block}__bg {
      stroke: $p-color-theme-light-neutral-contrast-high;
    }
  }

  &--theme-dark {
    #{$bem-block}__fg,
    #{$bem-block}__bg {
      stroke: $p-color-theme-dark-default;
    }
  }

  &--size {
    &-small {
      width: $p-spinner-size-small;
      height: $p-spinner-size-small;
    }

    &-medium {
      width: $p-spinner-size-medium;
      height: $p-spinner-size-medium;
    }

    &-large {
      width: $p-spinner-size-large;
      height: $p-spinner-size-large;
    }

    &-inherit {
      width: inherit;
      height: inherit;
    }

    @include p-breakpoint("xs") {
      &-small-xs {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-xs {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-xs {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-xs {
        width: inherit;
        height: inherit;
      }
    }

    @include p-breakpoint("s") {
      &-small-s {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-s {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-s {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-s {
        width: inherit;
        height: inherit;
      }
    }

    @include p-breakpoint("m") {
      &-small-m {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-m {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-m {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-m {
        width: inherit;
        height: inherit;
      }
    }

    @include p-breakpoint("l") {
      &-small-l {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-l {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-l {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-l {
        width: inherit;
        height: inherit;
      }
    }

    @include p-breakpoint("xl") {
      &-small-xl {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-xl {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-xl {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-xl {
        width: inherit;
        height: inherit;
      }
    }
  }

  &__image {
    display: block;
    position: relative;
    fill: none;
    transform: translate3d(0, 0, 0);
  }

  &__bg {
    opacity: 0.4;
  }

  &__fg {
    transform-origin: center center;
    animation: rotate var(--p-animation-duration__spinner) linear infinite,
    dash var(--p-animation-duration__spinner) ease-in-out infinite;
    stroke-dasharray: 40, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 3, 1000;
  }

  50% {
    stroke-dasharray: 42, 1000;
  }

  100% {
    stroke-dasharray: 30, 1000;
    stroke-dashoffset: -52;
  }
}
