
{{> organisms-modal-dynamic
  modal-dynamic_title=services-access-go-online.title

  modal-dynamic_addFormButtonGroup=true
  form-button-group_primaryActionCta=services-access-go-online.buttons.primaryAction
  form-button-group_secondaryActionCta=services-access-go-online.buttons.secondaryAction
}}

{{#*inline "modal-dynamic_body_content" }}
  <div class="-spacing-inner-e">
    <div class="row">
      <p class="column column--12 -text-size-copy">
        <span>{{ services-access-go-online.bodyText1 }}</span>
      </p>
    </div>

    <div class="row">
      <p class="column column--12 -text-size-copy -spacing-f">
        <span>{{ services-access-go-online.bodyText2 }}</span>
      </p>
    </div>
  </div>
{{/inline}}
