@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$modal-base-overlay-dimensions: 100% !default;
$modal-base-overlay-position: 0 !default;
$modal-base-overlay-background-color: rgba($color-palette-grey-9-1, .9) !default;
$modal-base-content-dimension: 100% !default;
$modal-base-content-background-color: $color-palette-white !default;

$modal-base-dialog-width: 100% !default;
$modal-base-dialog-max-width: rem(1376px) !default;
$modal-base-dialog-height: 100% !default;
$modal-base-dialog-outer-spacing-vertical: 0 !default;
$modal-base-dialog-inner-spacing-vertical: 0 !default;
$modal-base-dialog-inner-spacing-horizontal: 7% !default;

$modal-base-icon-color: $color-palette-grey-7 !default;
$modal-base-icon-color-hovered: $color-palette-red-1 !default;
$modal-base-icon-safe-area: $spacing-12 !default;
$modal-base-icon-safe-area-xs: $spacing-18 !default;
