@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@porsche-design-system/components-react";
@import "@porsche-design-system/components-react/tailwindcss";
@import "@porsche-design-system/shared/css/styles.css";
