@import 'tag.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}tag {
  @include -text-size-copy;
  @include -spacing-6(top);
  @include flex-direction(row);

  cursor: pointer;
  background-color: $tag-background-color;
  color: $tag-color;
  display: inline-block;

  @include breakpoint('xxs', 's') {
    width: $tag-width-xxs-s;

    &:first-child {
      margin-top: $tag-width-margin-top-xxs-s;
    }
  }

  @include breakpoint('s') {
    @include -spacing-6(right);
    max-width: $tag-max-width-s;
  }

  &__container {
    @include flex;
    @include flex-cross-axis(center);
    height: $tag-container-height;
  }

  &:hover {
    background-color: $tag-background-color-hover;
  }

  &__icon-container {
    @include -spacing-12(left);
    @include flex-child-shrink(0);
  }

  &__icon {
    @include -spacing-12(right);
  }

  &__icon-container,
  &__content-container,
  &__close {
    @include flex;
  }

  &__content-container {
    @include flex-child-grow(1);
    min-width: $tag-content-container-min-width;
  }

  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: $tag-content-width;
  }

  &__close {
    @include -spacing-18(left);
    @include -spacing-12(right);
    @include flex-child-shrink(0);
    @include -align-right;
  }
}
