<span class="slider-arrow
            {{#if slider-arrow_isArrowLeft }} slider-arrow--left{{/if}}
            {{#if slider-arrow_isArrowRight }} slider-arrow--right{{/if}}
            {{ styleModifier }}">
</span>
