<div class="map-action-overview {{ styleModifier }}">
  <div class="map-action-overview__button">

    {{> molecules-button-inline styleModifier=""
                                button-inline_label=map-action-overview_buttonLabel
                                button-inline_icon=map-action-overview_buttonIcon
                                button-inline_active=true
                                button-inline_stretch=true }}

  </div>

  {{> molecules-map-overview styleModifier="map-action-overview__canvas" }}

  {{#if map-action-overview_loading}}
    {{> molecules-loader-module styleModifier="map-action-overview__loader" }}
  {{/if}}

</div>
