@import '../../../../../../packages/scss-utils/index';

@mixin p-button-with-label() {
  padding: p-rem(11px) p-rem(15px) p-rem(11px) p-rem(39px);
}

@mixin p-button-without-label() {
  padding: 0;
}

@mixin p-button-label-with-label() {
  position: static;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: normal;
  overflow: visible;
  border: 0;
  clip: auto;
  clip-path: none;
}

@mixin p-button-label-without-label() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@mixin p-button-icon-with-label() {
  left: p-rem(11px);
  top: p-rem(11px);
  transform: translateX(0) translateY(0);
}

@mixin p-button-icon-without-label() {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}button {
  $bem-block: &;
  display: flex;
  width: 100%;
  min-width: p-rem(48px);
  min-height: p-rem(48px);
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none transparent;
  text-decoration: none;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  transition: background-color $p-animation-hover-duration $p-animation-hover-bezier,
  border-color $p-animation-hover-duration $p-animation-hover-bezier,
  outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 1px;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &--theme-light {
    &:focus {
      outline-color: $p-color-theme-light-state-focus;
    }
  }

  &--theme-dark {
    &:focus {
      outline-color: $p-color-theme-dark-state-focus;
    }
  }

  &--primary {
    &#{$bem-block}--theme-light {
      color: $p-color-theme-dark-default;
      background-color: $p-color-theme-light-brand;
      border-color: $p-color-theme-light-brand;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-dark-default;
      background-color: $p-color-theme-dark-brand;
      border-color: $p-color-theme-dark-brand;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        &#{$bem-block}--theme-light {
          color: $p-color-theme-dark-default;
          background-color: darken($p-color-theme-light-state-hover, 12%);
          border-color: darken($p-color-theme-light-state-hover, 12%);
        }

        &#{$bem-block}--theme-dark {
          color: $p-color-theme-dark-default;
          background-color: darken($p-color-theme-dark-state-hover, 12%);
          border-color: darken($p-color-theme-dark-state-hover, 12%);
        }
      }
    }

    &:disabled,
    &[disabled] {
      &#{$bem-block}--theme-light {
        color: rgba($p-color-theme-dark-default, 0.55);
        background-color: $p-color-theme-light-state-disabled;
        border-color: $p-color-theme-light-state-disabled;
      }

      &#{$bem-block}--theme-dark {
        color: rgba($p-color-theme-dark-default, 0.55);
        background-color: $p-color-theme-dark-state-disabled;
        border-color: $p-color-theme-dark-state-disabled;
      }
    }
  }

  &--secondary {
    &#{$bem-block}--theme-light {
      color: $p-color-theme-dark-default;
      background-color: $p-color-theme-light-neutral-contrast-high;
      border-color: $p-color-theme-light-neutral-contrast-high;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-light-default;
      background-color: $p-color-theme-dark-default;
      border-color: $p-color-theme-dark-default;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        &#{$bem-block}--theme-light {
          color: $p-color-theme-dark-default;
          background-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
          border-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
        }

        &#{$bem-block}--theme-dark {
          color: $p-color-theme-light-default;
          background-color: darken($p-color-theme-dark-default, 12%);
          border-color: darken($p-color-theme-dark-default, 12%);
        }
      }
    }

    &:disabled,
    &[disabled] {
      &#{$bem-block}--theme-light {
        color: rgba($p-color-theme-dark-default, 0.55);
        background-color: $p-color-theme-light-state-disabled;
        border-color: $p-color-theme-light-state-disabled;
      }

      &#{$bem-block}--theme-dark {
        color: rgba($p-color-theme-dark-default, 0.55);
        background-color: $p-color-theme-dark-state-disabled;
        border-color: $p-color-theme-dark-state-disabled;
      }
    }
  }

  &--tertiary {
    &#{$bem-block}--theme-light {
      color: $p-color-theme-light-default;
      background-color: transparent;
      border-color: $p-color-theme-light-neutral-contrast-high;
    }

    &#{$bem-block}--theme-dark {
      color: $p-color-theme-dark-default;
      background-color: transparent;
      border-color: $p-color-theme-dark-default;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        &#{$bem-block}--theme-light {
          color: $p-color-theme-dark-default;
          background-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
          border-color: darken($p-color-theme-light-neutral-contrast-high, 12%);
        }

        &#{$bem-block}--theme-dark {
          color: $p-color-theme-light-default;
          background-color: $p-color-theme-dark-default;
          border-color: $p-color-theme-dark-default;
        }
      }
    }

    &:disabled,
    &[disabled] {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-state-disabled;
        background-color: transparent;
        border-color: $p-color-theme-light-state-disabled;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-state-disabled;
        background-color: transparent;
        border-color: $p-color-theme-dark-state-disabled;
      }
    }
  }

  &--with-label {
    @include p-button-with-label;

    #{$bem-block}__label {
      @include p-button-label-with-label;
    }

    #{$bem-block}__icon {
      @include p-button-icon-with-label;
    }
  }

  &--without-label {
    @include p-button-without-label;

    #{$bem-block}__label {
      @include p-button-label-without-label;
    }

    #{$bem-block}__icon {
      @include p-button-icon-without-label;
    }
  }

  @include p-breakpoint("xs") {
    &--with-label-xs {
      @include p-button-with-label;

      #{$bem-block}__label {
        @include p-button-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-with-label;
      }
    }

    &--without-label-xs {
      @include p-button-without-label;

      #{$bem-block}__label {
        @include p-button-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-without-label;
      }
    }
  }

  @include p-breakpoint("s") {
    &--with-label-s {
      @include p-button-with-label;

      #{$bem-block}__label {
        @include p-button-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-with-label;
      }
    }

    &--without-label-s {
      @include p-button-without-label;

      #{$bem-block}__label {
        @include p-button-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-without-label;
      }
    }
  }

  @include p-breakpoint("m") {
    &--with-label-m {
      @include p-button-with-label;

      #{$bem-block}__label {
        @include p-button-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-with-label;
      }
    }

    &--without-label-m {
      @include p-button-without-label;

      #{$bem-block}__label {
        @include p-button-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-without-label;
      }
    }
  }

  @include p-breakpoint("l") {
    &--with-label-l {
      @include p-button-with-label;

      #{$bem-block}__label {
        @include p-button-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-with-label;
      }
    }

    &--without-label-l {
      @include p-button-without-label;

      #{$bem-block}__label {
        @include p-button-label-without-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-without-label;
      }
    }
  }

  @include p-breakpoint("xl") {
    &--with-label-xl {
      @include p-button-with-label;

      #{$bem-block}__label {
        @include p-button-label-with-label;
      }

      #{$bem-block}__icon {
        @include p-button-icon-with-label;
      }
    }

    &--without-label-xl {
      @include p-button-without-label;

      #{$bem-block}__label {
        @include p-button-label-without-label;
      }

      #{$bem-block}__icon´ {
        @include p-button-icon-without-label;
      }
    }
  }

  &__label {
    display: block;
    box-sizing: border-box;
  }

  &__icon {
    position: absolute;
    width: p-rem(24px);
    height: p-rem(24px);
  }
}
