@import "../../../../styles/utility/index";

// copytext
@mixin p-text-copy {
  font-family: $p-font-primary;
  font-weight: 400;
  font-size: $p-text-size-16;
  line-height: 1.5;
}

@mixin p-text-small {
  font-family: $p-font-primary;
  font-weight: 400;
  font-size: $p-text-size-12;
  line-height: 1.666;
}

// generic text
@mixin p-text-generic($weight: 400, $size: $p-text-size-16) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: $size;
  line-height: 1.5;
}

::slotted(a) {
  color: inherit;
  text-decoration: underline;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
}

::slotted(a:hover) {
  color: $p-color-porsche-dark-red;
  text-decoration: none;
}

::slotted(a:focus) {
  color: $p-color-state-focus;
  text-decoration: underline;
}

.#{$p-global-class-prefix}text {
  $bem-block: &;
  padding: 0;
  margin: 0;

  &--inline {
    display: inline-block;
  }

  &--align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &--ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // copy
  &--copy {
    @include p-text-copy;

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--small {
    @include p-text-small;

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  // generic text
  &--12 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-12);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--16 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-16);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--18 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-18);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--20 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-20);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--24 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-24);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--28 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-28);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--30 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-30);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--32 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-32);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--36 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-36);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--42 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-42);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--44 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-44);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--48 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-48);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--52 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-52);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--60 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-60);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-60);
    }
  }

  &--62 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-62);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-62);
    }
  }

  &--72 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-72);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-72);
    }
  }

  &--84 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-84);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-84);
    }
  }

  &--color {
    &-inherit {
      color: inherit;
    }

    &-porsche-light {
      color: $p-color-porsche-light;
    }

    &-porsche-black {
      color: $p-color-porsche-black;
    }

    &-porsche-red {
      color: $p-color-porsche-red;
    }

    &-neutral-grey-1 {
      color: $p-color-neutral-grey-1;
    }

    &-neutral-grey-2 {
      color: $p-color-neutral-grey-2;
    }

    &-neutral-grey-3 {
      color: $p-color-neutral-grey-3;
    }

    &-neutral-grey-4 {
      color: $p-color-neutral-grey-4;
    }

    &-neutral-grey-5 {
      color: $p-color-neutral-grey-5;
    }

    &-neutral-grey-6 {
      color: $p-color-neutral-grey-6;
    }

    &-neutral-grey-7 {
      color: $p-color-neutral-grey-7;
    }

    &-neutral-grey-8 {
      color: $p-color-neutral-grey-8;
    }

    &-status-red {
      color: $p-color-status-red;
    }

    &-status-green {
      color: $p-color-status-green;
    }

    &-status-yellow {
      color: $p-color-status-yellow;
    }
  }

  &--theme-dark {
    color: $p-color-porsche-light;
  }
}
