@import "../../../common";
@import "./select.setup";

.#{$global-class-prefix}Select {
    position: relative;
    min-width: 120px;
}

.#{$global-class-prefix}Select,
.#{$global-class-prefix}Select div,
.#{$global-class-prefix}Select input,
.#{$global-class-prefix}Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.#{$global-class-prefix}Select-control {
    background-color: $select-background-color;
    border: $select-border-size solid $select-border-color;
    border-radius: 0;
    color: $select-text-color;
    cursor: default;
    display: block;
    border-spacing: 0;
    border-collapse: separate;
    height: $select-height;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.#{$global-class-prefix}Select-control:hover {
    box-shadow: none;

    .#{$global-class-prefix}Select-placeholder,
    .#{$global-class-prefix}Select-value,
    .#{$global-class-prefix}Select-icon {
        color: $color-palette-red-1;
    }
}

.#{$global-class-prefix}Select-control .#{$global-class-prefix}Select-input:focus {
    outline: none;
}

.#{$global-class-prefix}select-is-searchable.#{$global-class-prefix}select-is-open > .#{$global-class-prefix}Select-control {
    cursor: text;
}

.#{$global-class-prefix}select-is-searchable.#{$global-class-prefix}select-is-focused:not(.#{$global-class-prefix}select-is-open) > .#{$global-class-prefix}Select-control {
    cursor: text;
}

.#{$global-class-prefix}Select-placeholder,
.#{$global-class-prefix}Select-control .#{$global-class-prefix}Select-value {
    @include -text-size-copy;

    bottom: 0;
    color: $select-text-color;
    left: 0;
    line-height: $select-height - 2px;
    padding-left: $select-padding-horizontal-left;
    padding-right: 70px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.#{$global-class-prefix}Select-input {
    vertical-align: middle;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.#{$global-class-prefix}Select-input > input {
    /* For IE 8 compatibility */
    padding: 0;

    /* For IE 8 compatibility */
    -webkit-appearance: none;
    padding-right: 70px;
    left: $spacing-12;
    position: relative;
    width: 100%;
    height: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: $spacing-18;
}

.#{$global-class-prefix}select-is-focused .#{$global-class-prefix}Select-input > input {
    cursor: text;
}

.#{$global-class-prefix}select-is-pseudo-focused .#{$global-class-prefix}Select-input {
    opacity: 0;
}

.#{$global-class-prefix}Select-control:not(.#{$global-class-prefix}select-is-searchable) > .#{$global-class-prefix}Select-input {
    outline: none;
}

.#{$global-class-prefix}Select-arrow-zone {
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    padding-right: 22px;
    padding-left: 22px;
    top: 0;
    right: 0;
    bottom: 0;
}

.#{$global-class-prefix}Select-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -10px);
    font-size: 18px;

    &--open {
        transform: translate(0, -8px);
    }
}

.#{$global-class-prefix}Select-clear-zone {
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    padding-right: $spacing-12;
    padding-left: $spacing-12;
    top: 0;
    right: 44px;
    bottom: 0;
}

.#{$global-class-prefix}Select-clear {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 18px;
    color: $grey;
}

.#{$global-class-prefix}Select-clear:hover {
    color: $color-palette-red-1;
}

.#{$global-class-prefix}select-is-focused:not(.#{$global-class-prefix}select-is-pseudo-focused) {
    .#{$global-class-prefix}Select-placeholder {
        display: none;
    }
}

// PICK ONE: Hide select values when select-has-query is set
// .#{$global-class-prefix}Select--multi.#{$global-class-prefix}select-has-query {
//     .#{$global-class-prefix}Select-value {
//         display: none;
//     }
// }

// PICK ONE: Hide select values when select is open
.#{$global-class-prefix}select-is-searchable.#{$global-class-prefix}select-is-open .#{$global-class-prefix}Select-value {
    display: none;
}

.#{$global-class-prefix}Select .#{$global-class-prefix}Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
}

.#{$global-class-prefix}Select-menu-outer {
    border-top: none;
    border: $select-border-size solid $select-border-color;
    background-color: $select-background-color;
    overflow: hidden;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
    -webkit-overflow-scrolling: touch;
}

.#{$global-class-prefix}Select-menu {
    max-height: 200px;
    overflow-y: auto;
}

.#{$global-class-prefix}Select-option-group-label {
    @include -text-size-4-thin;

    box-sizing: border-box;
    cursor: default;
    display: block;
    color: $black;
    padding: $spacing-6 $spacing-12;
    min-height: 50px;
    word-wrap: break-word;
    margin-top: $spacing-6;
}

.#{$global-class-prefix}Select-option {
    @include -text-size-copy;

    box-sizing: border-box;
    background-color: $select-background-color;
    color: $select-text-color;
    cursor: pointer;
    line-height: 20px;
    display: block;
    position: static;
    padding: $spacing-12 $select-padding-horizontal-left;

    &.#{$global-class-prefix}select-is-focused {
        background-color: inherit;
        color: $color-palette-red-1;
    }

    &.#{$global-class-prefix}select-is-selected {
        background-color: $select-background-color;
        color: $color-palette-red-1;
    }
}

.#{$global-class-prefix}Select.#{$global-class-prefix}select-is-error {
    .#{$global-class-prefix}Select-control {
        border-color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-placeholder {
        color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-value {
        color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-arrow-zone {
        color: $select-text-color-error;
    }

    .#{$global-class-prefix}Select-menu-outer {
        border-color: $select-text-color-error;
    }
}

.#{$global-class-prefix}Select.#{$global-class-prefix}select-is-disabled {
    .#{$global-class-prefix}Select-arrow-zone {
        cursor: default;
        pointer-events: none;
        color: $grey-light;
    }

    .#{$global-class-prefix}Select-placeholder,
    .#{$global-class-prefix}Select-icon,
    .#{$global-class-prefix}Select-label,
    .#{$global-class-prefix}Select-value {
        color: $grey-light;
    }
}

.#{$global-class-prefix}Select-noresults {
    box-sizing: border-box;
    color: $grey-light;
    cursor: default;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    line-height: $select-height - 2px;
}

.#{$global-class-prefix}Select-value-icon {
    display: none;
}

.#{$global-class-prefix}Select-option .#{$global-class-prefix}checkbox__label {
    color: inherit;
}

.#{$global-class-prefix}mobile-select {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.#{$global-class-prefix}Select-label {
    @include -font-primary();
    @include -overflow-ellipsis();
    @include -text-size-small;

    z-index: 2;
    position: absolute;
    top: 50%;
    left: 2 * $basic-spacing;
    right: 70px;
    display: inline-block;
    opacity: 0;
    transition: top 0.4s ease;
    transform: translate(0, -50%);
    color: $grey;
}

.#{$global-class-prefix}select-has-value:not(.#{$global-class-prefix}select-is-basic) {
    .#{$global-class-prefix}Select-label {
        opacity: 1;
        top: 12px;
    }

    .#{$global-class-prefix}Select-value {
        top: 10px;
    }
}

// Hide placeholder and float label when select is focused
.#{$global-class-prefix}select-is-focused:not(.#{$global-class-prefix}select-is-pseudo-focused):not(.#{$global-class-prefix}select-is-basic) {
    .#{$global-class-prefix}Select-label {
        opacity: 1;
        top: 12px;
    }

    .#{$global-class-prefix}Select-value {
        top: 10px;
    }

    .#{$global-class-prefix}Select-input > input {
        transform: translate(0, 10px);
    }
}

.#{$global-class-prefix}select-is-basic {
    .#{$global-class-prefix}Select-placeholder {
        color: $grey;
    }
}

.#{$global-class-prefix}select-is-open {
    .#{$global-class-prefix}Select-clear-zone {
        display: none;
    }
}

@keyframes #{$global-class-prefix}Select-animation-spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes #{$global-class-prefix}Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}

@-webkit-keyframes #{$global-class-prefix}Select-animation-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes #{$global-class-prefix}Select-animation-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
