<div class="password-complexity-hint {{styleModifier}}">
  {{#each password-complexity-hint}}
    <div class="password-complexity-hint__item {{#if error }}password-complexity-hint__item--error{{/if}}">
      {{> molecules-visualization-icon-text visualization-icon-text_icon=icon visualization-icon-text_label=label }}
    </div>
  {{/each}}
</div>
