<div class="id-card-tile-details {{styleModifier}}">
  {{> organisms-header-tile header-tile_title=id-card-tile-details_title}}
  <div class="id-card-tile-details__body">
    <ul>
      <li class="id-card-tile-details__property-descriptor">{{id-card-tile-details_serialLabel}}</li>
      <li class="id-card-tile-details__property-value">{{id-card-tile-details_serial}}</li>
      {{#if id-card-tile-details_showButton}}
      <li class="id-card-tile-details__button">
        {{> molecules-button-primary button-primary_red=true button-primary_label=id-card-tile-details_buttonLabel }}
      </li>
      {{/if}}
    </ul>
  </div>
</div>
