<div class="status-bar {{ styleModifier }}">
  <div class="status-bar__info">
    <span class="status-bar__icon icon icon--{{ status-bar_icon }}
          {{# if status-bar_active }} status-bar__icon--active {{/if}}
          {{# if status-bar_error }} status-bar__icon--error {{/if}}"></span>
    <span class="status-bar__label">
      <span class="status-bar__label-primary">{{ status-bar_labelPrimary }}</span><!-- fighting the space between inline elements
      -->{{#if status-bar_labelSecondary}}<span class="status-bar__label-secondary">{{ status-bar_labelSecondary }}</span>{{/if}}
    </span>
  </div>
</div>
