<label class="select {{ styleModifier }}">
  <select class="select__field">
    <option selected disabled>{{ select.label }}</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <span class="select__icon icon-font icon-font--arrow-down"></span>
</label>
