@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$button-ghost-width: auto !default;
$button-ghost-width-xxs-xs: 100% !default;
$button-ghost-text-color: $color-palette-black !default;
$button-ghost-text-color-hover: $color-palette-red-1 !default;
$button-ghost-text-color-disabled: $color-palette-grey-5 !default;
$button-ghost-border-size: 1px !default;
$button-ghost-border-color: $color-palette-grey-7 !default;
$button-ghost-border-color-hover: $color-palette-red-1 !default;
$button-ghost-border-color-disabled: $color-palette-grey-8 !default;

$button-ghost-stretch-width: 100% !default;

$button-ghost-inverted-border-color: $color-palette-grey-7 !default;
$button-ghost-inverted-text-color: $color-palette-white !default;

$button-ghost-error-border-color: $color-palette-red-1 !default;

$button-ghost-icon-font-size: rem(16px) !default;

$button-ghost-loader-position: 50% !default;
$button-ghost-loader-size: rem(16px) !default;
$button-ghost-loader-offset: - $button-ghost-loader-size / 2 !default;

$button-ghost-label-width: 100% !default;
