@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';

.#{$global-class-prefix}notification-icon {
  @include -text-size-copy;
  display: inline-block;

  &__icon {
    @include -text-color-black;
    line-height: inherit;
    float: left;

    &--red {
      @include -text-color-red-1;
    }
  }

  &__text {
    @include -spacing-24(left);
    display: block;
  }

  &__link {
    @include -text-color-black;

    &:hover {
      @include -text-color-red-1;
    }
  }
}
