@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$notification-common-border-left: $spacing-3 !default;
$notification-common-border-left-s: $spacing-6 !default;

$notification-common-padding-vertical: $spacing-18 !default;
$notification-common-padding-vertical-s: $spacing-24 !default;
$notification-common-padding-vertical-l: $spacing-30 !default;

$notification-common-padding-horizontal: rem(15px) !default;
$notification-common-padding-horizontal-s: rem(21px) !default;
$notification-common-padding-horizontal-l: rem(27px) !default;

$notification-common-background: $color-palette-grey-9 !default;
$notification-common-title-color: $color-palette-white !default;
$notification-common-text-color: $color-palette-white !default;
$notification-common-border-color: $color-palette-red-1 !default;

$notification-common-error-background-color: $color-palette-white !default;
$notification-common-error-text-color: $color-palette-red-1 !default;
