@import 'notification-common.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}notification-common {
  @include -text-size-copy;
  border-left: solid $notification-common-border-color;
  border-left-width: $notification-common-border-left;
  background-color: $notification-common-background;
  padding: $notification-common-padding-vertical $notification-common-padding-horizontal;

  @include breakpoint('s') {
    border-left-width: $notification-common-border-left-s;
    padding: $notification-common-padding-vertical-s $notification-common-padding-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $notification-common-padding-vertical-l $notification-common-padding-horizontal-l;
  }

  &--error {
    background: $notification-common-error-background-color;
  }

  &__title {
    @include -text-size-copy;

    color: $notification-common-title-color;

    &--error {
      color: $notification-common-error-text-color;
    }
  }

  &__text {
    @include -text-size-copy;

    color: $notification-common-text-color;

    &--error {
      color: $notification-common-error-text-color;
    }
  }

  &__row {
    @include breakpoint('s') {
      @include flex;
    }
  }

  &__column {
    /* prevent sass render from removing empty selectors */

    &--text {
      @include flex;
      @include flex-cross-axis(center);
    }

    &--button {
      @include breakpoint('s') {
        @include -align-right;
        @include -spacing-zero;
      }

      @include -spacing-18;
    }

  }
}
