@import 'notification.setup.scss';
@import '../../base/wrapper/wrapper.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}notification {

  &--sticky {
    position: fixed;
    top: $notification-sticky-position;
    left: $notification-sticky-position;
    right: $notification-sticky-position;
    max-height: $notification-sticky-max-height;
    overflow: auto;
  }

  &__item {
    background: $notification-item-background-color;

    &:first-child ~ & { // sass-lint:disable-line no-combinators
      border-top: $notification-item-separator-size solid $notification-item-separator-color;
    }

    &--error {
      background: $notification-item-error-background-color;
    }

    &--cookie {
      background: $notification-item-cookie-background-color;
    }
  }

  &__wrapper {
    @include flex;
    @include flex--direction(column);
    @include flex--align-items(flex-start);

    @include -wrapper-page;
    position: relative;

    @include breakpoint('xxs') {
      padding: {
        top: $notification-item-spacing-inner-vertical;
        bottom: $notification-item-spacing-inner-vertical;
      }
    }

    @include breakpoint('s') {
      @include flex--direction(row);
      @include flex--align-items(center);
      @include flex--justify-content(space-between);
    }
  }

  &__text {
    @include -text-size-copy;
    width: $notification-text-width;
    max-width: $notification-text-max-width;
    padding-right: $notification-text-spacing-right;
    color: $notification-text-color;

    &--cookie {
      color: $notification-cookie-text-color;
    }
  }

  &__icon-text {
    width: $notification-icon-text-width;
    max-width: $notification-icon-text-max-width;
    padding-right: $notification-icon-text-spacing-right;
    color: $notification-icon-text-color;

    @include breakpoint('s') {
      @include -spacing-zero(right);
    }
  }

  &__button {
    @include -spacing-18;
    @include flex--shrink(0);
    width: $notification-button-width;

    @include breakpoint('xs') {
      width: auto;
    }

    // fix for IE 10+
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // sass-lint:disable-line no-vendor-prefixes
      min-width: 150px;

      @include breakpoint('l') {
        min-width: 0;
      }
    }

    @include breakpoint('s') {
      @include -spacing-zero;
      @include -spacing-18(left);
    }

    &--indent {
      @include breakpoint('xs') {
        margin-left: $notification-button-spacing-left;
      }
    }
  }
}
