$p-breakpoints: (
  'xxs': 0,
  'xs': 480px,
  's': 760px,
  'm': 1000px,
  'l': 1300px,
  'xl': 1760px,
  'xxl': 1920px
);

@mixin breakpoint($min-breakpoint: null, $max-breakpoint: null) {
  @if ($min-breakpoint and $max-breakpoint) {
    @if map-has-key($p-breakpoints, $min-breakpoint) and map-has-key($p-breakpoints, $max-breakpoint) {
      @media (min-width: #{map-get($p-breakpoints, $min-breakpoint)}) and (max-width: #{map-get($p-breakpoints, $max-breakpoint) - 1px}) {
        @content;
      }
    } @else {
      @if unitless($min-breakpoint) {
        $min-breakpoint: $min-breakpoint + 0;
      }
      @if unitless($max-breakpoint) {
        $max-breakpoint: $max-breakpoint + 0;
      }

      @media (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
        @content;
      }
    }
  } @else if ($min-breakpoint) {
    @if map-has-key($p-breakpoints, $min-breakpoint) {
      @media (min-width: #{map-get($p-breakpoints, $min-breakpoint)}) {
        @content;
      }
    } @else {
      @if unitless($min-breakpoint) {
        $min-breakpoint: $min-breakpoint + 0;
      }

      @media (min-width: $min-breakpoint) {
        @content;
      }
    }
  }
}

// generate major breakpoint styles
@mixin generate-min-major-breakpoints() {
  @each $name, $breakpoint in $p-breakpoints {
    @if ($name == 'xxs') {
      @content;
    } @else {
      @include breakpoint($breakpoint) {
        &-#{$name} {
          @content;
        }
      }
    }
  }
}

// generate max major breakpoint styles
@mixin generate-max-major-breakpoints() {
  @each $name, $breakpoint in $p-breakpoints {
    @if ($name != 'xxs') {
      @include breakpoint('xxs', $name) {
        &-#{$name} {
          @content;
        }
      }
    }
  }
}
