@import '../../../../../../utilities/projects/utilities/scss';

:host {
  display: table-header-group;
  width: 100%;
  text-align: left;
  font-weight: $p-font-weight-bold;
  border-bottom: 2px solid $p-color-neutral-contrast-high;
}
