@import "../../../common";

.#{$global-class-prefix}sortable-list {
    &__container {
        border: 1px solid $color-palette-grey-2;
        background: $color-palette-grey-1;
    }

    &__element {
        display: flex;
        align-items: center;
        background: $white;
        list-style: none;
        padding-top: $spacing-12;
        padding-bottom: $spacing-12;
        cursor: move;

        &--dragging {
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
            border: 1px solid $color-palette-grey-2;
        }
    }

    &__element:not(:last-child) {
        border-bottom: 1px solid $color-palette-grey-2;
    }
}
