@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$car-selector-button-details-border-width: 0 !default;
$car-selector-button-details-line-height: rem(28px) !default;
$car-selector-button-details-width: auto !default;
$car-selector-button-details-position-top: 0 !default;
$car-selector-button-details-position-right: 0 !default;
$car-selector-button-details-icon-font-size: $spacing-24 !default;

$car-selector-icon-warning-font-size: $spacing-24 !default;
$car-selector-icon-warning-before-position-bottom: rem(-3px) !default;
