<div class="-background-grey-9-1 -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-white">Link Text</h2>
  <div class="row">
    <div class="column column--12 -spacing-30">
      {{> molecules-link-text link-text_labelInverted=true link-text_label="Some link text" }}
    </div>
  </div>
</div>

<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Link Text</h2>
  <div class="row">
    <div class="column column--12 -spacing-30">
      {{> molecules-link-text link-text_label="Some link text" }}
    </div>
  </div>
</div>
