@import "../../../common";
@import "../../../../../../../node_modules/@porsche/ui-kit-core//src/base/wrapper/wrapper.mixin.scss";

.#{$global-class-prefix}content-wrapper {
    max-width: $content-wrapper-max-width;
    margin: 0 auto;

    & > &__child {
        width: 100%;
        padding: 0 $padding-horizontal-xxs;

        @include breakpoint("xl") {
            padding: 0 $padding-horizontal-xl;
        }
    }

    &--raw {
        max-width: none;
    }

    &--raw > &__child {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}
