@import 'over-the-air-update-control.setup.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/text-color/text-color.mixin.scss';
@import '../../../base/grid/flex.mixin.scss';
@import '../../../mixins/breakpoint.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}over-the-air-update-control {
  @include -spacing-inner-a;

  background-color: $over-the-air-update-control-background-color;

  @include breakpoint('s') {
    @include flex;
    @include flex--justify-content(space-between);
    @include flex--align-items(baseline);
  }

  &__info {
    @include -spacing-a('right', 'padding');

    width: $over-the-air-update-control-info-width;
    max-width: $over-the-air-update-control-info-max-width;
  }

  &__title {
    @include -text-size-3-thin;
    @include -text-color-white;
  }

  &__description {
    @include -spacing-6;
    @include -text-size-copy;
    @include -text-color-white;
  }

  &__toggle {
    @include -spacing-a;

    @include breakpoint('s') {
      @include -spacing-zero;
    }
  }
}
