@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../mixins/breakpoint.scss';

@import 'how-to-progress-bar.setup.scss';

.#{$global-class-prefix}how-to-progress-bar {
  @include -spacing-inner-a;
  @include -background-white;
  @include -text-color-black;

  &__headline {
    @include -text-size-4-thin;
    @include -spacing-d(bottom);
  }

  &__navigation {
    @include -spacing-b(left, padding);
    position: relative;

    @include breakpoint('s') {
      @include flex;
      @include flex--direction(row);
      @include -spacing-zero(left, padding);
    }

    &::after {
      @include -background-grey-5;
      content: '';
      position: absolute;
      width: $how-to-progress-bar-steps-navigation-after-width;
      left: $how-to-progress-bar-steps-navigation-after-position;
      top: $how-to-progress-bar-steps-navigation-after-position;
      bottom: $how-to-progress-bar-steps-navigation-after-position;

      @include breakpoint('s') {
        left: $how-to-progress-bar-steps-navigation-after-position;
        right: $how-to-progress-bar-steps-navigation-after-position;
        height: $how-to-progress-bar-steps-navigation-after-height;
        width: $how-to-progress-bar-steps-navigation-after-width-s;
        top: $how-to-progress-bar-steps-navigation-after-position-top-s;
      }
    }
  }

  &__steps {
    @include -spacing-b(top, padding);
    @include -spacing-b(bottom, padding);

    @include breakpoint('s') {
      @include flex;
      @include flex--direction(column);
      @include -spacing-zero(top, padding);
      @include -spacing-zero(bottom, padding);
      @include flex--align-items(center);
      margin-right: $how-to-progress-bar-steps-margin-right-s;

      &:last-child {
        @include -spacing-zero(right);
      }
    }
  }

  &__steps-title {
    @include -text-size-copy;
    @include -text-color-black;
    position: relative;
    text-decoration: none;

    @include breakpoint('s') {
      text-align: center;
    }
  }

  &__steps-link {
    @include -text-size-copy;
    @include -text-color-black;
    text-decoration: none;
    display: block;

    &:hover {
      @include -text-color-red-1;
    }

    &--active {
      @include -spacing-b(left, margin, '-');
      position: relative;
      z-index: 1;
      padding-left: $how-to-progress-bar-steps-link-active-padding-left;
      border-left: $how-to-progress-bar-steps-link-active-border-dimension solid $how-to-progress-bar-steps-link-active-border-color;

      &:hover {
        @include -text-color-black;
      }

      @include breakpoint('s') {
        @include -spacing-a(bottom, padding);
        @include -spacing-zero(left);
        @include -spacing-zero(left, padding);
        border-left-width: 0;
        border-bottom: $how-to-progress-bar-steps-link-active-border-dimension solid $how-to-progress-bar-steps-link-active-border-color;
      }
    }
  }

  &__description {
    @include -spacing-c;

    @include breakpoint('s') {
      display: none;
    }
  }
}
