@use '@porsche-design-system/components-js/styles' as *;

:where(.ag-root-wrapper, .ag-measurement-container, .ag-apply-theme-variables, .ag-popup) {
  --ag-background-color: #{$pds-theme-light-background-base}; // Docs: Can be changed
  --ag-background-color: #{$pds-theme-light-background-base};
  --ag-foreground-color: #{$pds-theme-light-primary};
  --ag-menu-background-color: #{$pds-theme-light-background-base};
  --ag-border-color: #{$pds-theme-light-contrast-low};
  --ag-grid-size: 10px; // Default
  //--ag-grid-size: 6px; // Docs: compact
  --ag-border-radius: #{$pds-border-radius-small}; // widget
  --ag-wrapper-border-radius: 8px;

  --ag-header-background-color: #{$pds-theme-light-background-surface};
  --ag-header-font-weight: 600;
  --ag-header-vertical-padding-scale: 1; // default

  //--ag-header-vertical-padding-scale: 0.5; // Docs: compact
  --ag-cell-horizontal-padding-scale: 1; // default
  --ag-cell-vertical-padding-scale: 1; // default
  //--ag-cell-horizontal-padding-scale: 0.5; // Docs: compact

  //--ag-odd-row-background-color: #{$pds-theme-light-background-surface}; // Docs: Optional can be configured

  --ag-font-family: #{$pds-font-family};
  --ag-font-size: 1rem; // 14px in theme builder
  --ag-icon-size: #{$pds-font-line-height};
  --ag-checkbox-checked-background-color: #{$pds-theme-light-primary};
  --ag-checkbox-checked-border-color: #{$pds-theme-light-primary};
  --ag-checkbox-unchecked-border-color: #{$pds-theme-light-contrast-medium};
  --ag-checkbox-border-radius: #{$pds-border-radius-small};
  --ag-checkbox-border-width: 2px;
  //--ag-checkbox-indeterminate-background-color: ??? // Can't be like in pds since icon color wont be visible

  --ag-input-background-color: transparent;
  --ag-input-border: 2px solid #{$pds-theme-light-contrast-medium};
  --ag-input-focus-border: 2px solid #{$pds-theme-light-primary};
  --ag-input-focus-shadow: none;

  // General colors
  --ag-accent-color: none;
  --ag-invalid-color: #{$pds-theme-light-notification-error};

  --ag-icon-aggregation: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 24 24" viewBox="0 0 24 24"><path d="M17.2 19.3H5.7l6.5-7.6-6.5-7h11.5v1H7.9l5.7 6-5.7 6.6h9.3z" style="fill:%23020202"/></svg>');
  --ag-icon-arrows: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-asc: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-cancel: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-chart: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-color-picker: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-columns: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-contracted: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-copy: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-cross: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-csv: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-cut: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-desc: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-down: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-excel: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-expanded: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-eye-slash: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-eye: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-filter: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 4v3l5 6.428v1.573L11 16v-3.004L6.337 7h11.326L13 12.996V18l1 1v-5.572L19 7V4zm13 2H6V5h12z" style="fill:%23000"/></svg>');
  --ag-icon-first: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-group: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-last: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-left: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-linked: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-loading: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-maximize: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-menu: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-menu-alt: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-minimize: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-minus: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-next: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-none: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-not-allowed: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-paste: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-pin: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-pivot: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-plus: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-previous: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-right: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-save: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-small-down: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-small-left: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-small-right: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-small-up: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-tick: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-tree-closed: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-tree-indeterminate: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-tree-open: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-unlinked: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-up: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-grip: url('data:image/svg+xml;charset=UTF-8, ');
  --ag-icon-settings: url('data:image/svg+xml;charset=UTF-8, ');

  .ag-icon-aggregation::before {
    mask-image: var(--ag-icon-aggregation);
  }

  .ag-icon-arrows::before {
    mask-image: var(--ag-icon-arrows);
  }
  .ag-icon-asc::before {
    mask-image: var(--ag-icon-asc);
  }
  .ag-icon-cancel::before {
    mask-image: var(--ag-icon-cancel);
  }
  .ag-icon-chart::before {
    mask-image: var(--ag-icon-chart);
  }
  .ag-icon-color-picker::before {
    mask-image: var(--ag-icon-color-picker);
  }
  .ag-icon-columns::before {
    mask-image: var(--ag-icon-columns);
  }
  .ag-icon-contracted::before {
    mask-image: var(--ag-icon-contracted);
  }
  .ag-icon-copy::before {
    mask-image: var(--ag-icon-copy);
  }
  .ag-icon-cross::before {
    mask-image: var(--ag-icon-cross);
  }
  .ag-icon-csv::before {
    mask-image: var(--ag-icon-csv);
  }
  .ag-icon-cut::before {
    mask-image: var(--ag-icon-cut);
  }
  .ag-icon-desc::before {
    mask-image: var(--ag-icon-desc);
  }
  .ag-icon-down::before {
    mask-image: var(--ag-icon-down);
  }
  .ag-icon-excel::before {
    mask-image: var(--ag-icon-excel);
  }
  .ag-icon-expanded::before {
    mask-image: var(--ag-icon-expanded);
  }
  .ag-icon-eye-slash::before {
    mask-image: var(--ag-icon-eye-slash);
  }
  .ag-icon-eye::before {
    mask-image: var(--ag-icon-eye);
  }
  .ag-icon-filter::before {
    mask-image: var(--ag-icon-filter);
  }
  .ag-icon-first::before {
    mask-image: var(--ag-icon-first);
  }
  .ag-icon-group::before {
    mask-image: var(--ag-icon-group);
  }
  .ag-icon-last::before {
    mask-image: var(--ag-icon-last);
  }
  .ag-icon-left::before {
    mask-image: var(--ag-icon-left);
  }
  .ag-icon-linked::before {
    mask-image: var(--ag-icon-linked);
  }
  .ag-icon-loading::before {
    mask-image: var(--ag-icon-loading);
  }
  .ag-icon-maximize::before {
    mask-image: var(--ag-icon-maximize);
  }
  .ag-icon-menu::before {
    mask-image: var(--ag-icon-menu);
  }
  .ag-icon-menu-alt::before {
    mask-image: var(--ag-icon-menu-alt);
  }
  .ag-icon-minimize::before {
    mask-image: var(--ag-icon-minimize);
  }
  .ag-icon-minus::before {
    mask-image: var(--ag-icon-minus);
  }
  .ag-icon-next::before {
    mask-image: var(--ag-icon-next);
  }
  .ag-icon-none::before {
    mask-image: var(--ag-icon-none);
  }
  .ag-icon-not-allowed::before {
    mask-image: var(--ag-icon-not-allowed);
  }
  .ag-icon-paste::before {
    mask-image: var(--ag-icon-paste);
  }
  .ag-icon-pin::before {
    mask-image: var(--ag-icon-pin);
  }
  .ag-icon-pivot::before {
    mask-image: var(--ag-icon-pivot);
  }
  .ag-icon-plus::before {
    mask-image: var(--ag-icon-plus);
  }
  .ag-icon-previous::before {
    mask-image: var(--ag-icon-previous);
  }
  .ag-icon-right::before {
    mask-image: var(--ag-icon-right);
  }
  .ag-icon-save::before {
    mask-image: var(--ag-icon-save);
  }
  .ag-icon-small-down::before {
    mask-image: var(--ag-icon-small-down);
  }
  .ag-icon-small-left::before {
    mask-image: var(--ag-icon-small-left);
  }
  .ag-icon-small-right::before {
    mask-image: var(--ag-icon-small-right);
  }
  .ag-icon-small-up::before {
    mask-image: var(--ag-icon-small-up);
  }
  .ag-icon-tick::before {
    mask-image: var(--ag-icon-tick);
  }
  .ag-icon-tree-closed::before {
    mask-image: var(--ag-icon-tree-closed);
  }
  .ag-icon-tree-indeterminate::before {
    mask-image: var(--ag-icon-tree-indeterminate);
  }
  .ag-icon-tree-open::before {
    mask-image: var(--ag-icon-tree-open);
  }
  .ag-icon-unlinked::before {
    mask-image: var(--ag-icon-unlinked);
  }
  .ag-icon-up::before {
    mask-image: var(--ag-icon-up);
  }
  .ag-icon-grip::before {
    mask-image: var(--ag-icon-grip);
  }
  .ag-icon-settings::before {
    mask-image: var(--ag-icon-settings);
  }
}
