<div class="next-best-actions {{ styleModifier }}">

  <div class="next-best-actions__header">
    <h2 class="next-best-actions__title">{{ next-best-actions_title }}</h2>
    <h6 class="next-best-actions__subtitle">{{ next-best-actions_subtitle }}</h6>
  </div>

  <div class="next-best-actions__body">
    <div class="next-best-actions__row row">
      {{#each next-best-actions }}
        <div class="next-best-actions__column column column--12 column--s-6 column--l-4">

          {{> molecules-link-icon-text styleModifier="next-best-actions__link"
                                       link-icon-text_icon=icon
                                       link-icon-text_label=label }}

        </div>
      {{/each}}
    </div>
  </div>
</div>
