@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$button-service-background-color: $color-palette-grey-9 !default;
$button-service-icon-color: $color-palette-grey-7 !default;
$button-service-info-icon-color: $color-palette-red-1 !default;
$button-service-headline-color: $color-palette-white !default;
$button-service-subline-color: $color-palette-grey-5 !default;
$button-service-disabled-color: $color-palette-grey-5 !default;
$button-service-disabled-opacity: .5 !default;
$button-service-active-background-color: $color-palette-grey-8 !default;
$button-service-active-icon-color: $color-palette-white !default;
$button-service-active-headline-color: $color-palette-red-1 !default;
$button-service-active-subline-color: $color-palette-white !default;

$button-service-icon-height: rem(50px) !default;
$button-service-info-icon-height: rem(24px) !default;
$button-service-tooltip-icon-height: rem(20px) !default;
$button-service-width: 100% !default;
$button-service-min-width: rem(170px) !default;
$button-service-height-s: 100% !default;
$button-service-min-height-s: rem(200px) !default;

$button-service-hover-duration: .5s !default;
$button-service-fadein-duration: .8s !default;
