@import '../../setup/color-palette.setup.scss';

$dealer-information-map-title-height: 100% !default;
$dealer-information-map-title-position: 0 !default;
$dealer-information-map-background-gradient-color-1: rgba($color-palette-black, .8) !default;
$dealer-information-map-background-gradient-color-2: transparent !default;
$dealer-information-map-image-width: 100% !default;
