@import '../../../../../utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

:host {
  display: block;
}

.#{$p-global-class-prefix}content-wrapper {
  margin: 0 auto;
  padding: 0;
  display: block;

  &--basic {
    max-width: p-px-to-rem(1536px);
    padding: {
      left: 7vw;
      right: 7vw;
    }

    @include p-media-query("xl", "xxl") {
      padding: {
        left: 10vw;
        right: 10vw;
      }
    }

    @include p-media-query("xxl") {
      padding: {
        left: p-px-to-rem(192px);
        right: p-px-to-rem(192px);
      }
    }
  }

  &--extended {
    max-width: p-px-to-rem(1920px);
  }
}
