$flex-child-width: 0% 25% 33.333333% 50% 66.666667% 75% 100%;

@mixin flex-child-width($i) {
  width: #{nth($flex-child-width, $i + 1)};
}

@mixin flex-child-offset($i) {
  margin-left: #{nth($flex-child-width, $i)};
}

/**
 * properties for flex container
 */
@mixin flex {
  display: flex;
}

@mixin flex-inline {
  display: inline-flex;
}

@mixin flex-direction($direction) {
  flex-direction: #{$direction};
}

@mixin flex-wrap($wrap) {
  flex-wrap: #{$wrap};
}

@mixin flex-main-axis($align) {
  justify-content: #{$align};
}

@mixin flex-cross-axis($align) {
  align-items: #{$align};
}

@mixin flex-align-content($align-content) {
  align-content: #{$align-content};
}

/**
 * properties for flex child items
 */
@mixin flex-child-cross-axis($align) {
  align-self: #{$align};
}

@mixin flex-child-grow($grow) {
  flex-grow: #{$grow};
}

@mixin flex-child-shrink($shrink) {
  flex-shrink: #{$shrink};
}

@mixin flex-child-basis($basis) {
  flex-basis: #{$basis};
}

@mixin flex-child-initial {
  flex: initial;
}

@mixin flex-child-auto {
  flex: auto;
}

@mixin flex-child-equal {
  flex: 1 1 0;
}

@mixin flex-child-none {
  flex: none;
}

@mixin flex-child-order($order) {
  order: #{$order};
}
