<div class="tile-image-headline-button {{ styleModifier }}">
  <div class="tile-image-headline-button__content">
    <div class="tile-image-headline-button__imageholder">

      {{> molecules-image-cover
        image-cover_gradientVisible = tile-image-headline-button_imageGradient
          image-cover_image=tile-image-headline-button_image }}

    </div>
    <div class="tile-image-headline-button__headlinecontainer">
      <div class="tile-image-headline-button__headline
           {{#if tile-image-headline-button_headlineWidthS}} tile-image-headline-button__headline--width-s {{/if}}
           {{#if tile-image-headline-button_headlineWidthM}} tile-image-headline-button__headline--width-m {{/if}}
           {{#if tile-image-headline-button_headlineMultiline}} tile-image-headline-button__headline--multiline {{/if}}">
        {{ tile-image-headline-button_headline }}
      </div>
    </div>
  </div>
  <div class="tile-image-headline-button__button">

    {{> molecules-button-inline
        button-inline_icon=tile-image-headline-button_buttonIcon
        button-inline_active=tile-image-headline-button_buttonActive
        button-inline_label=tile-image-headline-button_buttonLabel
        button-inline_stretch=true }}

  </div>
</div>
