@import '../../../styles/internal.variables';

:host {
  display: block;
}

$root: '.root';

:host(:first-of-type) {
  #{$root} {
    border-top: 1px solid $p-color-theme-light-neutral-contrast-low;

    &--compact {
      border-top: none;
    }

    &--theme-dark:not(&--compact) {
      border-color: $p-color-theme-dark-neutral-contrast-low;
    }

    &--theme-light-electric:not(&--compact) {
      border-color: $p-color-theme-light-electric-neutral-contrast-low;
    }
  }
}

#{$root} {
  border-bottom: 1px solid $p-color-theme-light-neutral-contrast-low;

  &--compact {
    border-bottom: none;
  }

  &--theme-dark:not(&--compact) {
    border-color: $p-color-theme-dark-neutral-contrast-low;
  }

  &--theme-light-electric:not(&--compact) {
    border-color: $p-color-theme-light-electric-neutral-contrast-low;
  }
}

.heading {
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  justify-content: space-between;
  padding: p-px-to-rem(12px) 0;
  margin: p-px-to-rem(4px) 0;
  width: 100%;
  text-decoration: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;
  overflow: hidden; // fixes rotating icon to increase bounding box of focus outline in firefox
  text-align: left;
  color: $p-color-default;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  @include p-generate-font-definition($p-font-size-small, $p-font-weight-semibold);
  @include p-focus($p-color-state-focus);

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
    @include p-focus($p-color-theme-dark-state-focus);
  }

  #{$root}--theme-light-electric & {
    color: $p-color-theme-light-electric-default;
    @include p-focus($p-color-theme-light-electric-state-focus);
  }

  #{$root}--size-medium & {
    @include p-generate-type-scale($p-font-size-medium);
    padding: p-px-to-rem(20px) 0;
  }

  @each $breakpoint in $breakpoints {
    @include p-media-query($breakpoint) {
      #{$root}--size-small-#{$breakpoint} & {
        @include p-generate-type-scale($p-font-size-small);
        padding: p-px-to-rem(12px) 0;
      }

      #{$root}--size-medium-#{$breakpoint} & {
        @include p-generate-type-scale($p-font-size-medium);
        padding: p-px-to-rem(20px) 0;
      }
    }
  }

  #{$root}--compact & {
    padding: p-px-to-rem(4px) 0;
  }

  &:hover {
    color: $p-color-theme-light-state-hover;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-state-hover;
    }

    #{$root}--theme-light-electric & {
      color: $p-color-theme-light-electric-state-hover;
    }
  }
}

.icon {
  width: #{p-calculate-line-height($p-font-size-small)}em;
  height: #{p-calculate-line-height($p-font-size-small)}em;
  margin-left: $p-spacing-24;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, 0.0001deg); // needs to be a little bit more than 0 for correct direction in safari
  transition: transform $p-animation-hover-duration-var $p-animation-hover-bezier;

  #{$root}--open & {
    transform: rotate3d(0, 0, 1, 180deg);
  }

  #{$root}--size-medium & {
    width: #{p-calculate-line-height($p-font-size-medium)}em;
    height: #{p-calculate-line-height($p-font-size-medium)}em;
  }

  @each $breakpoint in $breakpoints {
    @include p-media-query($breakpoint) {
      &--size-small-#{$breakpoint} {
        width: #{p-calculate-line-height($p-font-size-small)}em;
        height: #{p-calculate-line-height($p-font-size-small)}em;
      }

      &--size-medium-#{$breakpoint} {
        width: #{p-calculate-line-height($p-font-size-medium)}em;
        height: #{p-calculate-line-height($p-font-size-medium)}em;
      }
    }
  }
}

.collapsible {
  height: 0;
  padding: 0;
  visibility: hidden;
  overflow: hidden;
  transition: height $p-animation-hover-duration-var $p-animation-hover-bezier,
    visibility $p-animation-hover-duration-var linear $p-animation-hover-duration-var;

  #{$root}--open & {
    height: auto;
    padding-bottom: $p-spacing-40;
    visibility: visible;
    transition: height $p-animation-hover-duration-var $p-animation-hover-bezier,
      visibility $p-animation-hover-duration-var;
    animation: $p-animation-hover-duration-var $p-animation-hover-bezier forwards openAnimation;
  }

  #{$root}--open#{$root}--compact & {
    padding-bottom: $p-spacing-8;
  }
}

@keyframes openAnimation {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
