@import '../../../styles/internal.variables';

$root: '.root';

#{$root} {
  // add overlapping of borders
  margin-top: -1px;
  padding-top: 1px;
  border-top: 1px solid $p-color-neutral-contrast-medium;
  border-bottom: 1px solid $p-color-neutral-contrast-medium;
  transition: padding $p-animation-hover-duration-var $p-animation-hover-bezier;

  @include p-generate-font-definition($p-font-size-small, $p-font-weight-semibold);

  &--size-small {
    @include p-generate-type-scale($p-font-size-small);
  }

  &--size-medium {
    @include p-generate-type-scale($p-font-size-medium);
  }

  @each $breakpoint in $breakpoints {
    @include p-media-query($breakpoint) {
      &--size-small-#{$breakpoint} {
        @include p-generate-type-scale($p-font-size-small);
      }
      &--size-medium-#{$breakpoint} {
        @include p-generate-type-scale($p-font-size-medium);
      }
    }
  }

  &--open {
    padding-bottom: $p-spacing-40;
  }
  &--theme-dark {
    border-bottom-color: $p-color-theme-dark-neutral-contrast-medium;
    border-top-color: $p-color-theme-dark-neutral-contrast-medium;
  }
}

.heading-wrapper {
  padding: p-px-to-rem(24px) 0;
  cursor: pointer;
  transition: background-color $p-animation-hover-duration-var $p-animation-hover-bezier;

  // iOS Safari users should not see tap highlight color on headline
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: $p-color-background-surface;

    #{$root}--theme-dark & {
      background-color: $p-color-theme-dark-background-surface;
    }
  }
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 p-px-to-rem(12px);
  width: 100%;
  outline: transparent solid 1px;
  outline-offset: 1px;
  text-decoration: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-weight: $p-font-weight-semibold;

  // iOS Safari users should not see tap highlight color on button
  -webkit-tap-highlight-color: transparent;

  // inherit headline styles except for slotted semibold weight override
  margin: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  overflow-wrap: inherit;
  word-wrap: inherit;
  hyphens: inherit;

  #{$root}--weight-regular & {
    font-weight: $p-font-weight-regular;
  }

  &:focus {
    outline-color: $p-color-state-focus;
  }
  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
}

.heading {
  padding-right: $p-spacing-24;
}

.icon {
  transform-origin: 50% 50%;
  transition: transform $p-animation-hover-duration-var $p-animation-hover-bezier;

  #{$root}--open & {
    transform: rotate(180deg);
  }
}

.content {
  padding: 0 p-px-to-rem(12px);
  transition: opacity $p-animation-hover-duration-var $p-animation-hover-bezier;
  opacity: 0;
  visibility: hidden;
  height: 0;

  #{$root}--open & {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  & > ::slotted(*) {
    display: none;

    #{$root}--open & {
      display: block;
    }
  }
}
