<label class="toggle {{ styleModifier }}">
  <input class="toggle__checkbox"
         type="checkbox"
         {{#if toggle_active }} checked="checked" {{/if}}
         {{#if toggle_disabled }} disabled="disabled" {{/if}}>
  <span class="toggle__slider {{#if toggle_inverted}} toggle__slider--inverted {{/if}}">
    <span class="toggle__icon toggle__icon--inactive {{#if toggle_inverted}} toggle__icon--inverted {{/if}}"></span><!-- fighting the space between inline elements
    --><span class="toggle__icon toggle__icon--active {{#if toggle_inverted}} toggle__icon--inverted {{/if}}"></span>
  </span>
</label>
