@import '../../../setup/color-palette.setup.scss';

// radio button e-range
$e-range-map-selector-radio-icon-border-color-e-range: $color-palette-acid-green !default;
$e-range-map-selector-radio-label-text-color-e-range: $color-palette-acid-green !default;

// radio button default unchecked hovered
$e-range-map-selector-radio-icon-border-color-unchecked-hovered-e-range: darken($color-palette-acid-green, 25) !default;

// radio button default checked
$e-range-map-selector-radio-icon-inner-background-color-checked-e-range: $color-palette-acid-green !default;

// radio button default checked hovered
$e-range-map-selector-radio-icon-border-color-checked-hovered-e-range: $color-palette-acid-green !default;
$e-range-map-selector-radio-icon-outer-background-color-checked-hovered-e-range: $color-palette-acid-green !default;
