@import 'e-range-map-selector.setup.scss';
@import '../../../setup/global-variables.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/text-color/text-color.mixin.scss';
@import '../../../base/spacing/spacing.mixin.scss';

.#{$global-class-prefix}e-range-map-selector {
  /* prevent sass render from removing empty selectors */
  $bem-block: &;

  &__range-visualization {
    font-size: .61538462rem;
  }

  &__radio {
    @include -spacing-a;

    display: table;
  }

  &__radio-icon {
    &--e-range {
      border-color: $e-range-map-selector-radio-icon-border-color-e-range;
    }
  }

  &__radio-label {

    &--e-range {
      color: $e-range-map-selector-radio-label-text-color-e-range;
    }
  }

  // e-range radio is hovered, not checked and not disabled
  &__radio:hover &__radio-field:not(:checked):not(:disabled) {
    & ~ #{$bem-block}__radio-icon {
      &--e-range {
        border-color: $e-range-map-selector-radio-icon-border-color-unchecked-hovered-e-range;
      }
    }
  }

  // radio is checked
  &__radio-field:checked {
    & ~ #{$bem-block}__radio-icon {
      &--e-range::before {
        background: $e-range-map-selector-radio-icon-inner-background-color-checked-e-range;
      }
    }
  }

  // e-range radio is hovered, checked and not disabled
  &__radio:hover &__radio-field:checked:not(:disabled) {
    & ~ #{$bem-block}__radio-icon {
      &--e-range {
        border-color: $e-range-map-selector-radio-icon-border-color-checked-hovered-e-range;
        background-color: $e-range-map-selector-radio-icon-outer-background-color-checked-hovered-e-range;
      }
    }
  }

  &__disclaimer {
    @include -text-size-small;
    @include -text-color-grey-5;
    @include -spacing-30;
  }
}
