@import 'symbol-menu-dots.setup.scss';
@import '../../deprecated/icon-font/icon-font.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}symbol-menu-dots {
  @include icon-base;

  position: relative;
  display: table;
  cursor: pointer;
  font-size: $symbol-menu-dots-size;
  color: $symbol-menu-dots-color;

  &:hover {
    color: $symbol-menu-dots-color-hover;
  }

  &::before {
    @include icon-menu-dots-before;
  }

  &::after {
    content: '';
    position: absolute;
    top: $icon-menu-dots-safe-click-area-position;
    left: $icon-menu-dots-safe-click-area-position;
    width: $icon-menu-dots-safe-click-area-size;
    height: $icon-menu-dots-safe-click-area-size;
    transform: translate($icon-menu-dots-safe-click-area-offset, $icon-menu-dots-safe-click-area-offset);

    @include breakpoint('s') {
      width: $icon-menu-dots-safe-click-area-size-s;
      height: $icon-menu-dots-safe-click-area-size-s;
    }
  }
}
