<div class="app-download {{ styleModifier }}">
  {{#each app-download_items }}
    <a href="javascript:void(0);" class="app-download__item">
      <img class="app-download__logo" src="{{ app-download_logo }}" alt="">
    </a>
  {{/each}}
</div>
