@import "../../../common";

.#{$global-class-prefix}header {
    background: $white;

    &__divider {
        display: none;

        @include breakpoint("s") {
            display: block;
            margin-top: -16px;
        }
    }

    &__logo {
        background: $white;
        box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 0.375rem;
        z-index: 2;
        padding: 20px 8px 17px 8px;
        box-sizing: content-box;
        width: 86px;

        @include breakpoint("s") {
            box-shadow: none;
            position: relative;
            margin-top: $spacing-12;
            padding: $spacing-12 20px;
            width: 100px;
        }
    }
}
