@import './list-tag.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}list-tag {
  @include -text-size-copy;
  @include -text-color-white;

  &__item {
    display: inline-block;

    &::after {
      @include -spacing-12('left');
      @include -spacing-12('right');
      @include -text-color-grey-8;
      content: '|';
    }

    &:last-child {
      &::after {
        margin: $tags-reset;
        content: '';
      }
    }
  }
}
