@import '../../mixins/breakpoint.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../setup/global-variables.scss';
@import 'list-menu.setup.scss';

.#{$global-class-prefix}list-menu {
  @include -align-center;
  position: absolute;
  top: $list-menu-position-top;
  right: $list-menu-position-right;
  width: $list-menu-size;
  height: $list-menu-size;
  display: table;
  box-sizing: border-box;
  border-radius: $list-menu-border-radius;
  background-color: $list-menu-circle-background-color;
  border: $list-menu-border-width solid $list-menu-circle-border-color;
  cursor: pointer;

  @include breakpoint('xs') {
    right: $list-menu-position-right-xs;
  }

  @include breakpoint('s') {
    width: $list-menu-size-s;
    height: $list-menu-size-s;
    top: $list-menu-position-top-s;
    transform: translate(0, -$list-menu-position-top-s);
  }

  @include breakpoint('l') {
    right: $list-menu-position-right-l;
  }

  &::before {
    @include -align-middle;
    color: $list-menu-icon-color;
    display: table-cell;

    @include breakpoint('s') {
      font-size: $list-menu-icon-font-size-s;
    }
  }

  &::after { // safe clickable area
    content: '';
    position: absolute;
    top: $list-menu-position-safe-click-area;
    right: $list-menu-position-safe-click-area;
    bottom: $list-menu-position-safe-click-area;
    left: $list-menu-position-safe-click-area;
  }

  &:hover {
    background-color: $list-menu-circle-hover-background-color;
    border-color: $list-menu-circle-hover-border-color;

    &::before {
      color: $list-menu-icon-hover-color;
    }
  }

  &--open {
    transform: rotate(180deg) translate(0, $list-menu-translation-open-state);
    top: $list-menu-position-top-open-state;
  }
}
