@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$list-expanded-min-height: rem(80px) !default;
$list-expanded-background-color: $color-palette-white !default;

$list-expanded-close-position: 0 !default;
$list-expanded-close-size: rem(20px) !default;
$list-expanded-close-safe-click-area: rem(16px) !default;
$list-expanded-close-color: $color-palette-grey-7 !default;
$list-expanded-close-color-hover: $color-palette-red-1 !default;
$list-expanded-close-spacing-vertical: calc(#{$spacing-inner-a-vertical} - #{$list-expanded-close-safe-click-area}) !default;
$list-expanded-close-spacing-horizontal: calc(#{$spacing-inner-a-horizontal} - #{$list-expanded-close-safe-click-area}) !default;
$list-expanded-close-spacing-vertical-s: calc(#{$spacing-inner-a-vertical-s} - #{$list-expanded-close-safe-click-area}) !default;
$list-expanded-close-spacing-horizontal-s: calc(#{$spacing-inner-a-horizontal-s} - #{$list-expanded-close-safe-click-area}) !default;
$list-expanded-close-spacing-vertical-l: calc(#{$spacing-inner-a-vertical-l} - #{$list-expanded-close-safe-click-area}) !default;
$list-expanded-close-spacing-horizontal-l: calc(#{$spacing-inner-a-horizontal-l} - #{$list-expanded-close-safe-click-area}) !default;
