@import 'list-view.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}list-view {
  /* prevent sass render from removing empty selectors */
  $bem-block: &;

  &__item {
    position: relative;
    background-color: $list-view-item-background-color;
    border-left: $list-view-item-border-size solid $list-view-item-border-color;

    @include breakpoint('xs') {
      border-left-width: $list-view-item-border-size-xs;
    }

    &:not(:first-child) {
      @include -spacing-3;
    }

    &--active {
      border-left-color: $list-view-item-active-border-color;
    }

    &--active-e-mobility {
      border-left-color: $list-view-item-active-e-mobility-border-color;
    }

    // state: list item has expanded, more detailed information is shown
    &--expanded {
      border-left-width: $list-view-reset;

      #{$bem-block}__content,
      #{$bem-block}__checkbox,
      #{$bem-block}__menu {
        display: none;
      }
    }
  }

  &__content {
    min-height: $list-view-content-min-height;
    padding-left: $list-view-content-spacing-left;
    padding-right: $list-view-content-spacing-right;
    padding-top: $list-view-content-spacing-top;
    padding-bottom: $list-view-content-spacing-bottom;
    box-sizing: border-box;
    color: $list-view-item-text-color;

    @include breakpoint('xs') {
      padding-left: $list-view-content-spacing-left-xs;
      padding-right: $list-view-content-spacing-right-xs;
    }

    @include breakpoint('s') {
      min-height: $list-view-content-min-height-s;
      padding-right: $list-view-content-spacing-right-s;
    }

    @include breakpoint('l') {
      padding-left: $list-view-content-spacing-left-l;
    }

    &--checkable {
      padding-left: $list-view-content-checkable-spacing-left;

      @include breakpoint('xs') {
        padding-left: $list-view-content-checkable-spacing-left-xs;
      }

      @include breakpoint('m') {
        padding-left: $list-view-content-checkable-spacing-left-m;
      }
    }

    &--hoverable {
      cursor: pointer;

      &:hover {
        background-color: $list-view-item-hover-background-color;
      }
    }

    &--active {
      color: $list-view-item-active-text-color;
    }
  }

  &__title {
    @include -text-size-4-thin;
  }

  &__tags {
    @include -text-size-copy;
  }

  &__tag {
    @include -spacing-3;
    position: relative;

    @include breakpoint('s') {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $list-view-tag-spacing;
        padding-right: $list-view-tag-spacing;

        @include breakpoint('m') {
          margin-right: $list-view-tag-spacing-m;
          padding-right: $list-view-tag-spacing-m;
        }
      }
    }

    &--divider {
      &:not(:last-child) {
        @include breakpoint('s') {
          margin-right: $list-view-tag-spacing * 2;
          padding-right: $list-view-tag-spacing * 2;
          border-right: $list-view-tag-divider-width solid $list-view-content-separator-color;
        }

        @include breakpoint('m') {
          margin-right: $list-view-tag-spacing-m * 2;
          padding-right: $list-view-tag-spacing-m * 2;
        }
      }
    }

    &--icon {
      padding-left: $list-view-tag-icon-spacing;
    }
  }

  &__icon {
    position: absolute;
    top: $list-view-icon-position-top;
    left: $list-view-reset;
    transform: translate($list-view-reset, - $list-view-icon-position-top);
    font-size: $list-view-icon-size;

    &--active {
      color: $list-view-content-icon-color;
    }
  }

  &__checkbox {
    position: absolute;
    top: $list-view-checkbox-position-top;
    left: $list-view-checkbox-position-left;

    @include breakpoint('xs') {
      left: $list-view-checkbox-position-left-xs;
    }

    @include breakpoint('s') {
      top: $list-view-checkbox-position-top-s;
      transform: translate($list-view-reset, - $list-view-checkbox-position-top-s);
    }

    @include breakpoint('m') {
      left: $list-view-checkbox-position-left-m;
    }
  }

  &__menu {
    @include -align-center;
    position: absolute;
    top: $list-view-menu-position-top;
    right: $list-view-menu-position-right;
    width: $list-view-menu-size;
    height: $list-view-menu-size;
    display: table;
    box-sizing: border-box;
    border-radius: $list-view-menu-border-radius;
    background-color: $list-view-menu-circle-background-color;
    border: $list-view-menu-border-size solid $list-view-menu-circle-border-color;
    cursor: pointer;

    @include breakpoint('xs') {
      right: $list-view-menu-position-right-xs;
    }

    @include breakpoint('s') {
      width: $list-view-menu-size-s;
      height: $list-view-menu-size-s;
      top: $list-view-menu-position-top-s;
      transform: translate($list-view-reset, - $list-view-menu-position-top-s);
    }

    @include breakpoint('l') {
      right: $list-view-menu-position-right-l;
    }

    &::before {
      @include -align-middle;
      color: $list-view-menu-icon-color;
      display: table-cell;

      @include breakpoint('s') {
        font-size: $list-view-menu-icon-size;
      }
    }

    &::after { // safe clickable area
      content: '';
      position: absolute;
      top: $list-view-menu-click-area-offset;
      right: $list-view-menu-click-area-offset;
      bottom: $list-view-menu-click-area-offset;
      left: $list-view-menu-click-area-offset;
    }

    &:hover {
      background-color: $list-view-menu-circle-hover-background-color;
      border-color: $list-view-menu-circle-hover-border-color;

      &::before {
        color: $list-view-menu-icon-hover-color;
      }
    }
  }
}
