@import "../variables/index";
@import "../functions/index";
@import "./media-query";

@mixin p-text-x-small {
  @include p-generate-font-definition($p-font-size-x-small, $p-font-weight-regular)
}
@mixin p-text-small {
  @include p-generate-font-definition($p-font-size-small, $p-font-weight-regular)
}
@mixin p-text-medium {
  @include p-generate-font-definition($p-font-size-medium, $p-font-weight-regular)
}
@mixin p-text-large {
  @include p-generate-font-definition($p-font-size-large, $p-font-weight-regular)
}
@mixin p-text-x-large {
  @include p-generate-font-definition($p-font-size-x-large, $p-font-weight-regular)
}

@mixin p-large-title {
  @include p-generate-font-definition($p-font-size-32, $p-font-weight-semibold);

  @include p-media-query("s", "m") {
    @include p-type-scale($p-font-size-42);
  }

  @include p-media-query("m", "l") {
    @include p-type-scale($p-font-size-52);
  }

  @include p-media-query("l", "xl") {
    @include p-type-scale($p-font-size-62);
  }

  @include p-media-query("xl") {
    @include p-type-scale($p-font-size-72);
  }
}

@mixin p-headline-1 {
  @include p-generate-font-definition($p-font-size-28, $p-font-weight-semibold);

  @include p-media-query("s", "m") {
    @include p-type-scale($p-font-size-36);
  }

  @include p-media-query("m", "l") {
    @include p-type-scale($p-font-size-44);
  }

  @include p-media-query("l", "xl") {
    @include p-type-scale($p-font-size-52);
  }

  @include p-media-query("xl") {
    @include p-type-scale($p-font-size-60);
  }
}

@mixin p-headline-2 {
  @include p-generate-font-definition($p-font-size-24, $p-font-weight-semibold);

  @include p-media-query("s", "m") {
    @include p-type-scale($p-font-size-30);
  }

  @include p-media-query("m", "l") {
    @include p-type-scale($p-font-size-36);
  }

  @include p-media-query("l", "xl") {
    @include p-type-scale($p-font-size-42);
  }

  @include p-media-query("xl") {
    @include p-type-scale($p-font-size-48);
  }
}

@mixin p-headline-3 {
  @include p-generate-font-definition($p-font-size-20, $p-font-weight-semibold);

  @include p-media-query("s", "m") {
    @include p-type-scale($p-font-size-24);
  }

  @include p-media-query("m", "l") {
    @include p-type-scale($p-font-size-28);
  }

  @include p-media-query("l", "xl") {
    @include p-type-scale($p-font-size-32);
  }

  @include p-media-query("xl") {
    @include p-type-scale($p-font-size-36);
  }
}

@mixin p-headline-4 {
  @include p-generate-font-definition($p-font-size-16, $p-font-weight-semibold);

  @include p-media-query("s", "m") {
    @include p-type-scale($p-font-size-18);
  }

  @include p-media-query("m", "l") {
    @include p-type-scale($p-font-size-20);
  }

  @include p-media-query("l", "xl") {
    @include p-type-scale($p-font-size-22);
  }

  @include p-media-query("xl") {
    @include p-type-scale($p-font-size-24);
  }
}

@mixin p-headline-5 {
  @include p-generate-font-definition($p-font-size-16, $p-font-weight-semibold);
}

@mixin p-generate-font-definition($size: $p-font-size-small, $weight: $p-font-weight-regular) {
  @include p-type-scale($size);
  font-family: $p-font-primary;
  font-weight: $weight;
}

/**
 * Calculates font-size and line-height to fit into Porsche Vertical Grid System
 * @param $size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@mixin p-type-scale($size) {
  font-size: p-font-size($size);
  line-height: p-line-height($size);
}
