@import 'timestamp-refresh.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../modules/icon/icon.mixin.scss';
@import '../../mixins/animation.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}timestamp-refresh {
  @include -align-left;

  @include breakpoint('s') {
    @include -align-right;
  }

  &__text {
    @include -text-size-copy;
    @include -text-color-grey-5;

    display: inline;

    &--divider {
      &::after { // sass-lint:disable-line nesting-depth
        @include -spacing-12('left');
        @include -spacing-12('right');

        content: '|';
      }
    }
  }

  &__button {
    @include -text-size-copy;
    @include -text-color-white;

    display: inline-block;
    appearance: none;
    outline: none;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;

    &:hover {
      @include -text-color-red-1;
    }

    &:disabled {
      @include -text-color-white;

      cursor: default;
      pointer-events: none;
    }

    &::before {
      @include icon-base;
      @include icon-reset-before;
      @include -spacing-3('right');
      @include -text-color-red-1;

      display: inline-block;
      vertical-align: middle;
      font-size: $timestamp-refresh-icon-size;
    }

    &--loading {
      &::before {
        @include animation($timestamp-refresh-animation-name, $timestamp-refresh-animation-duration, linear, 0s, infinite, reverse);
      }
    }
  }
}
