<div
  class="button-service
  {{#if button-service_disabled}} button-service--disabled{{/if}}
  {{#if button-service_loading}} button-service--loading{{/if}}
  {{styleModifier}}"
>
  <div class="button-service__icon-wrapper">
    <svg class="button-service__icon" data-name="Ebene 5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
      <path class="cls-1" d="M64,4a60,60,0,1,0,60,60A60,60,0,0,0,64,4Zm36.84,96.84A52.11,52.11,0,0,1,27.16,27.16,52.11,52.11,0,0,1,100.84,100.84Z"/>
      <path class="cls-1" d="M91.35,51.6a4.13,4.13,0,0,0-.42-3.16,4.17,4.17,0,0,0-3.6-2.08,4.45,4.45,0,0,0-2.15.56L68,56.8V37.05a4,4,0,1,0-8,0V56.8L42.82,46.93a4.31,4.31,0,0,0-2.12-.56,4.2,4.2,0,0,0-3.62,2.08,4.15,4.15,0,0,0,1.51,5.68L55.69,64l-17.1,9.87a4.16,4.16,0,0,0,2.08,7.76,4.45,4.45,0,0,0,2.15-.56L60,71.2V90.95a4,4,0,1,0,8,0V71.2l17.18,9.87a4.31,4.31,0,0,0,2.12.56,4.2,4.2,0,0,0,3.62-2.08,4.15,4.15,0,0,0-1.5-5.68L72.32,64l17.1-9.87A4.13,4.13,0,0,0,91.35,51.6Z"/>
    </svg>
  </div>
  <div class="button-service__info">
    <span class="button-service__info-icon icon icon--{{button-service_info-icon}}"></span>
    <div class="button-service__info-text">
      <span class="button-service__info-headline">{{button-service_headline}}</span>
      {{#if button-service_additional-info}}
        <div class="button-service__info-subline">
          <span>{{button-service_additional-info-text}}</span>
            <span class="icon icon--info button-service__info-subline-tooltip"> </span>
        </div>
      {{/if}}
    </div>
  </div>
</div>
