<div class="car-detail row {{ styleModifier }}">
  <div class="column column--12 column--m-6 flex">

    <div class="car-detail__container">
      <div class="car-detail__title">
        {{ car-detail_title }}
      </div>
      <div class="car-detail__subtitle">
        {{ car-detail_subtitle }}
      </div>
      <div class="car-detail__image" style="background-image: url({{ car-detail_image }})">
      </div>
    </div>

  </div>
  <div class="column column--12 column--m-6">

    {{> organisms-list-striped
        list-striped_items=car-detail_items
    }}

  </div>
</div>