<div class="licenseactivation-panel">
  {{> organisms-notification-common-02-button
    notification-common_title=""
    notification-common_button=true
    notification-common_text="Sie können nun Ihre Dienste für die Nutzung im Fahrzeug und in My Porsche freischalten, indem Sie den Inklusivzeitraum Ihrer Dienste im Porsche Connect Store aktivieren."
  }}
</div>
