<div class="licenseactivation-widget">
  <div class="row">
    <div class="column column--12 -spacing-d">

      {{> organisms-page-header
          page-header_title=licenseactivation-widget_title
          page-header_description=licenseactivation-widget_description
      }}

    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-30">

      {{> organisms-form-button-group
          form-button-group_primaryActionCta=licenseactivation-widget_primaryCta
          form-button-group_secondaryActionCta=licenseactivation-widget_secondaryCta
      }}

    </div>
  </div>
</div>
