<div class="service-reminder-tile">
  {{> molecules-button-inline button-inline_ghost=true
        styleModifier=service-reminder-tile_bodyMessagesButtonStyle

        styleModifier_label=service-reminder-tile_bodyMessagesButtonLabelStyle
        button-inline_label=service-reminder-tile_bodyMessagesAvailableText

        button-inline_icon=service-reminder-tile_bodyMessagesButtonIcon
  }}
</div>
