<div class="service-history-tile
            flex-s column column--12 {{ styleModifier }}">
  <div class="service-history-tile__imageholder
              column column--12 column--s-4">
    <img class="service-history-tile__image" src="{{ service-history-tile_image }}" alt="Carfix">
  </div>
  <div class="service-history-tile__content
              column column--12 column--s-8">
    <h3 class="service-history-tile__headline">{{ service-history-tile_headline }}</h3>
    <p class="service-history-tile__description">
       {{ service-history-tile_description }}
    </p>
    {{> molecules-button-inline
        styleModifier="service-history-tile__button"
        button-inline_label=service-history-tile_buttonLabel
        button-inline_icon=service-history-tile_buttonIcon }}
  </div>
</div>
