<div class="tutorial-pairing-code">
  <div class="tutorial-pairing-code__box">
    <h4 class="tutorial-pairing-code__title">{{tutorial-pairing-code_title}}</h4>
    <div class="tutorial-pairing-code__code">{{tutorial-pairing-code_code}}</div>
  </div>

  {{> molecules-button-inline
    styleModifier="-spacing-18"
    button-inline_label=tutorial-pairing-code_buttonLabel
    button-inline_icon="arrow-right-thin"
    button-inline_ghostDark=true
  }}
</div>
