// external brand colors
$external-brand-color-facebook: #3b5998;
$external-brand-color-google: #cc3732;
$external-brand-color-youtube: #cd201f;
$external-brand-color-twitter: #55acee;
$external-brand-color-pinterest: #cc2127;
$external-brand-color-instagram: #3f729b;
$external-brand-color-linkedin: #0077b5;
