// external brand colors
$external-brand-color-facebook:   #3b5998 !default;
$external-brand-color-google:     #cc3732 !default;
$external-brand-color-youtube:    #cd201f !default;
$external-brand-color-twitter:    #55acee !default;
$external-brand-color-pinterest:  #cc2127 !default;
$external-brand-color-instagram:  #3f729b !default;
$external-brand-color-linkedin:   #0077b5 !default;
