@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

:host {
  display: block;
}

.#{$p-global-class-prefix}tabs {
  $bem-block: &;

  &__header {
    position: relative;
  }

  &__action {
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    box-sizing: border-box;
    width: p-px-to-rem(48px);
    display: none;

    &--visible {
      display: flex;
    }

    &--prev {
      left: 0;
      justify-content: flex-start;

      &#{$bem-block}__action--color-scheme-default {
        background: linear-gradient(90deg, rgba($p-color-background-default, 1) 50%, rgba($p-color-background-default, 0) 100%);
      }
      &#{$bem-block}__action--color-scheme-surface {
        background: linear-gradient(90deg, rgba($p-color-background-surface, 1) 50%, rgba($p-color-background-surface, 0) 100%);
      }
      &#{$bem-block}__action--color-scheme-picture {
        background: transparent;
      }

      &#{$bem-block}__action--theme-dark {
        &#{$bem-block}__action--color-scheme-default {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-default, 1) 50%, rgba($p-color-theme-dark-background-default, 0) 100%);
        }
        &#{$bem-block}__action--color-scheme-surface {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-surface, 1) 50%, rgba($p-color-theme-dark-background-surface, 0) 100%);
        }
        &#{$bem-block}__action--color-scheme-picture {
          background: transparent;
        }
      }
    }

    &--next {
      right: 0;
      justify-content: flex-end;

      &#{$bem-block}__action--color-scheme-default {
        background: linear-gradient(90deg, rgba($p-color-background-default, 1) 50%, rgba($p-color-background-default, 0) 100%);
      }
      &#{$bem-block}__action--color-scheme-surface {
        background: linear-gradient(90deg, rgba($p-color-background-surface, 1) 50%, rgba($p-color-background-surface, 0) 100%);
      }


      &#{$bem-block}__action--theme-dark {
        &#{$bem-block}__action--color-scheme-default {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-default, 1) 50%, rgba($p-color-theme-dark-background-default, 0) 100%);
        }
        &#{$bem-block}__action--color-scheme-surface {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-surface, 1) 50%, rgba($p-color-theme-dark-background-surface, 0) 100%);
        }
      }
    }
  }

  &__nav {
    position: relative;
    margin-bottom: $p-spacing-16;
    padding: 3px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    @include p-text-medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    outline: none transparent;
    text-decoration: none;
    text-align: left;
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
    color $p-animation-hover-duration $p-animation-hover-bezier;

    &::-moz-focus-inner {
      border: 0; // fix for Firefox, avoid dotted outline in button on focus
    }

    &:focus {
      outline-width: 2px;
      outline-style: solid;
      outline-offset: 1px;
    }

    &--theme-light {
      color: $p-color-theme-light-default;

      &:hover {
        color: $p-color-theme-light-state-hover;
      }

      &:active {
        color: $p-color-theme-light-state-active;
      }

      &:focus {
        outline-color: $p-color-theme-light-state-focus;
      }

      &#{$bem-block}__button--selected {
        color: $p-color-theme-light-state-active;
      }
    }

    &--theme-dark {
      color: $p-color-theme-dark-default;

      &:hover {
        color: $p-color-theme-dark-state-hover;
      }

      &:active {
        color: $p-color-theme-dark-state-active;
      }

      &:focus {
        outline-color: $p-color-theme-dark-state-focus;
      }

      &#{$bem-block}__button--selected {
        color: $p-color-theme-dark-state-active;
      }
    }

    &--size-small {
      font-size: $p-font-size-small;
    }

    &--size-medium {
      font-size: $p-font-size-medium;
    }

    &--weight-regular {
      font-weight: $p-font-weight-regular;
    }

    &--weight-semibold {
      font-weight: $p-font-weight-semibold;
    }

  }

  &__button-list {
    list-style: none;
    display: flex;
    white-space: nowrap;
    margin: 0;
    padding: 0;

    & li:not(:last-child) {
      margin-right: $p-spacing-32;
    }
  }

  &__status-bar {
    height: 2px;
    position: absolute;
    display: flex;
    transition: width $p-tabs-transition-duration, left $p-tabs-transition-duration;

    &--theme-light {
      background-color: $p-color-state-active;
    }
    &--theme-dark {
      background-color: $p-color-theme-dark-state-active;
    }
  }

  &__slot {
    padding: 3px;
  }
}

