@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

$duration: 0.5s;
$distance: -8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

:host {
  display: block;
  box-sizing: border-box;
}

.#{$p-global-class-prefix}tabs {
  $bem-block: &;

  &__header {
    border-bottom: transparent;
    padding: 0;
    color: $p-color-default;
    font-family: $p-font-family;
    background-color: $p-color-theme-light-background;
    font-size: $p-font-size-20;
    overflow: auto;
    white-space: nowrap;

    &--theme-dark {
      background-color: $p-color-theme-dark-background-default;
      color: $p-color-theme-dark-default;
    }

    &--size-small {
      font-size: $p-font-size-16;
    }

  }

  &__header::-webkit-scrollbar {
    display: none;
  }

  &__icon {
    position: absolute;
    transition: transform 1s ease;
    width: 100%;

    &--right {
      position: absolute;
      right: 0;
      padding: $p-spacing-16;
      background-color: white;
      box-shadow: 0 0 12px 14px white;
      z-index: 1000;
    }

    &--left {
      position: relative;
      padding: $p-spacing-16;
      background-color: white;
      box-shadow: 0 0 12px 14px white;
      z-index: 1000;
    }

    &--hidden {
      visibility: hidden;
    }

    &--visible {
      visibility: visible;
    }
  }

  &__button {
    position: relative;
    margin: $p-spacing-16;
    box-sizing: border-box;
    outline: transparent none;
    appearance: none;
    border: none;
    text-decoration: none;
    text-align: left;
    background: transparent;
    cursor: pointer;
    color: inherit;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier,
    font-size 1ms linear;
    font-family: $p-font-family;
    font-size: inherit;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      display: block;
      content: '';
      border-bottom: solid 2px $p-color-brand;
      opacity: 0;
      transform: translateY(-$distance);
      transition: transform 0s $easeOutBack, opacity 0s;
      transition-duration: 0.5s;
    }

    &:focus {
      outline-offset: 1px;
      outline: $p-color-state-focus solid 2px;
    }

    &::-moz-focus-inner {
      border: 0; // fix for Firefox, avoid dotted outline in button on focus
    }

    &:hover:not(:disabled):not(.active) {
      color: $p-color-brand;
    }

    &--selected {
      color: $p-color-brand;
      &::before,
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
      &::before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &::after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }

    &--disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &--regular {
      font-weight: $p-font-weight-regular;
    }

    &--semibold {
      font-weight: $p-font-weight-semibold;
    }
  }

  &__content {
    padding: $p-spacing-16;
    background-color: $p-color-theme-light-background;
    &--theme-dark {
      background-color: $p-color-theme-dark-background-default;
    }
  }
}

