@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

:host {
  display: block;
}

.#{$p-global-class-prefix}tabs {
  $bem-block: &;
  @include p-generate-type-scale($p-font-size-small);
  font-weight: $p-font-weight-regular;
  position: relative;
  margin: 0 -4px; /* preserve space for focused tab outline */

  &--weight-semibold {
    font-weight: $p-font-weight-semibold;
  }

  &--size-small {
    @include p-generate-type-scale($p-font-size-small);
  }

  &--size-medium {
    @include p-generate-type-scale($p-font-size-medium);
  }

  @include p-media-query("xs") {
    &--size-small-xs {
      @include p-generate-type-scale($p-font-size-small);
    }

    &--size-medium-xs {
      @include p-generate-type-scale($p-font-size-medium);
    }
  }

  @include p-media-query("s") {
    &--size-small-s {
      @include p-generate-type-scale($p-font-size-small);
    }

    &--size-medium-s {
      @include p-generate-type-scale($p-font-size-medium);
    }
  }

  @include p-media-query("m") {
    &--size-small-m {
      @include p-generate-type-scale($p-font-size-small);
    }

    &--size-medium-m {
      @include p-generate-type-scale($p-font-size-medium);
    }
  }

  @include p-media-query("l") {
    &--size-small-l {
      @include p-generate-type-scale($p-font-size-small);
    }

    &--size-medium-l {
      @include p-generate-type-scale($p-font-size-medium);
    }
  }

  @include p-media-query("xl") {
    &--size-small-xl {
      @include p-generate-type-scale($p-font-size-small);
    }

    &--size-medium-xl {
      @include p-generate-type-scale($p-font-size-medium);
    }
  }

  &__scroll-area {
    position: relative;
    padding: 4px 4px .5em;
    margin-bottom: 2em;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tab {
    font-family: $p-font-family;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    outline: none transparent;
    text-decoration: none;
    text-align: left;
    border: 0;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    color: $p-color-default;
    cursor: pointer;
    transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
    color $p-animation-hover-duration $p-animation-hover-bezier;

    &::-moz-focus-inner {
      border: 0; // fix for Firefox, avoid dotted outline in button on focus
    }

    &:hover {
      color: $p-color-state-hover;
    }

    &:active,
    &#{$bem-block}__tab--selected {
      color: $p-color-state-active;
    }

    &:focus {
      outline-offset: 1px;
      outline: $p-color-state-focus solid 2px;
    }

    &--theme-dark {
      color: $p-color-theme-dark-default;

      &:hover {
        color: $p-color-theme-dark-state-hover;
      }

      &:active,
      &#{$bem-block}__tab--selected {
        color: $p-color-theme-dark-state-active;
      }

      &:focus {
        outline-color: $p-color-theme-dark-state-focus;
      }
    }
  }

  &__tab-list {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;

    & li {
      vertical-align: top;
      display: inline-block;
    }

    & li:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__status-bar {
    position: absolute;
    bottom: 0;
    height: .09375em;
    display: block;
    transition: width $p-tabs-transition-duration, left $p-tabs-transition-duration;
    background-color: $p-color-state-active;

    &--theme-dark {
      background-color: $p-color-theme-dark-state-active;
    }

    &--weight-semibold {
      height: .125em;
    }
  }

  &__action {
    position: absolute;
    top: 4px;
    display: flex;

    &--prev {
      left: 0;
      justify-content: flex-start;
    }

    &--next {
      right: 0;
      justify-content: flex-end;
    }

    &--hidden {
      display: none;
    }
  }

  &__gradient {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -.5em;
    width: 2em;
    pointer-events: none;

    &--prev {
      &#{$bem-block}__gradient--color-scheme-default {
        background: linear-gradient(90deg, rgba($p-color-background-default, 1) 50%, rgba($p-color-background-default, 0) 100%);
      }

      &#{$bem-block}__gradient--color-scheme-surface {
        background: linear-gradient(90deg, rgba($p-color-background-surface, 1) 50%, rgba($p-color-background-surface, 0) 100%);
      }

      &#{$bem-block}__gradient--theme-dark {
        &#{$bem-block}__gradient--color-scheme-default {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-default, 1) 50%, rgba($p-color-theme-dark-background-default, 0) 100%);
        }

        &#{$bem-block}__gradient--color-scheme-surface {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-surface, 1) 50%, rgba($p-color-theme-dark-background-surface, 0) 100%);
        }
      }
    }

    &--next {
      &#{$bem-block}__gradient--color-scheme-default {
        background: linear-gradient(90deg, rgba($p-color-background-default, 0) 0%, rgba($p-color-background-default, 1) 50%);
      }

      &#{$bem-block}__gradient--color-scheme-surface {
        background: linear-gradient(90deg, rgba($p-color-background-surface, 0) 0%, rgba($p-color-background-surface, 1) 50%);
      }

      &#{$bem-block}__gradient--theme-dark {
        &#{$bem-block}__gradient--color-scheme-default {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-default, 0) 0%, rgba($p-color-theme-dark-background-default, 1) 50%);
        }

        &#{$bem-block}__gradient--color-scheme-surface {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-surface, 0) 0%, rgba($p-color-theme-dark-background-surface, 1) 50%);
        }
      }
    }
  }
}
