<label class="checkbox checkbox-dealer-service">
    <input class="checkbox__field checkbox-dealer-service__field"
           type="checkbox"
           name="{{ checkbox-dealer-service_name }}"
           value="{{ checkbox-dealer-service_value }}"
        {{#if checkbox-dealer-service_checked }} checked="checked" {{/if}}
        {{#if checkbox-dealer-service_disabled }} disabled="disabled" readonly {{/if}} >
    <span class="checkbox-dealer-service__container">
        <span class="checkbox__icon checkbox-dealer-service__icon icon icon--check"></span>
        <span class="checkbox-dealer-service__label checkbox__label">{{ checkbox-dealer-service_label }}</span>
    </span>
    {{#if checkbox-dealer-service_showTooltip }}
      <span class="icon icon--info checkbox-dealer-service__icon checkbox-dealer-service__icon--info"></span>
    {{/if}}
</label>
