<div class="dealer-information-map">
    <img class="dealer-information-map__image" src="{{ dealer-information-map_map }}">
    <div class="dealer-information-map__overlay">
        <h3 class="dealer-information-map__title ">{{ dealer-information-map_title }}</h3>
        <span class="dealer-information-map__subtitle">{{ dealer-information-map_subtitle }}</span>
    </div>
</div>