<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Icons</h2>
  <ul class="flex flex--wrap sg-icon-list -spacing-30">
    {{#each icons}}
      <li class="sg-icon-list__item">
        <span class="sg-icon-list__item-icon">{{> atoms-icon icon_code=this.code icon_large=true styleModifier="" }}</span>
        <span class="sg-icon-list__item-label -text-size-copy -text-color-black">{{this.filename}}</span>
      </li>
    {{/each}}
  </ul>
</div>
