<div class="no-recall-available {{ styleModifier }}">
    <p class="icon icon--deactivate no-recall-available__icon"></p>
    <h3 class="no-recall-available__headline"> {{ no-recall-available_headline }} </h3>
    <p class="no-recall-available__subline"> {{ no-recall-available_subline }} </p>
</div>
