@import '../../../../../../packages/scss-utils/index';

.#{$p-global-class-prefix}textfield-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;

  &__label {
    display: block;
  }

  &__input {
    position: relative;
    display: block;

    input {
      @include p-text;
      width: 100%;
      height: p-rem(48px);
      display: block;
      padding: p-rem(11px) p-rem(18px);
      outline: transparent none;
      appearance: none;
      box-sizing: border-box;
      border: 1px solid $p-color-theme-light-neutral-contrast-high;
      background: $p-color-theme-light-background;
      color: $p-color-theme-light-default;
      transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
      border-color $p-animation-hover-duration $p-animation-hover-bezier,
      color $p-animation-hover-duration $p-animation-hover-bezier;

      &::placeholder {
        color: $p-color-theme-light-state-disabled;
        opacity: 1;
      }

      &[type='search'] {
        /* clears the 'X' from Internet Explorer */
        &::-ms-clear {
          display: none;
          width: 0;
          height: 0;
        }
        &::-ms-reveal {
          display: none;
          width: 0;
          height: 0;
        }

        /* clears the 'X' from Chrome */
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          display: none;
        }
      }

      // input type number - disabling the arrow icons
      &[type='number'] {
        appearance: none;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
          -webkit-appearance: none;
        }
      }

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
      &[type='date']::-webkit-input-placeholder {
        visibility: hidden !important;
      }

      &:focus:not(:read-only) {
        outline: $p-color-theme-light-state-focus solid 2px;
        outline-offset: 1px;
      }

      &:disabled {
        color: $p-color-theme-light-state-disabled;
        border-color: $p-color-theme-light-state-disabled;

        &::placeholder {
          color: $p-color-theme-light-state-disabled;
        }
      }
    }

    &--error {
      input {
        color: $p-color-theme-light-notification-error;
        border-color: $p-color-theme-light-notification-error;
        border-width: 2px;
        padding: p-rem(10px) p-rem(17px);
      }
    }

    &--success {
      input {
        border-color: $p-color-theme-light-notification-success;
        border-width: 2px;
        padding: p-rem(16px) p-rem(17px);
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    color: $p-color-theme-light-default;
    cursor: pointer;
    width: p-rem(48px);
    height: p-rem(48px);
    border: none;
    outline: none;
    background: transparent;

    &:focus {
      color: $p-color-theme-light-state-focus;
    }

    &:hover {
      color: $p-color-theme-light-state-hover;
    }

    & ~ input {
      padding-right: p-rem(56px);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
