@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$flex-child-1-width: 8.333333% !default;
$flex-child-2-width: 16.666667% !default;
$flex-child-3-width: 25% !default;
$flex-child-4-width: 33.333333% !default;
$flex-child-5-width: 41.666667% !default;
$flex-child-6-width: 50% !default;
$flex-child-7-width: 58.333333% !default;
$flex-child-8-width: 66.666667% !default;
$flex-child-9-width: 75% !default;
$flex-child-10-width: 83.333333% !default;
$flex-child-11-width: 91.666667% !default;
$flex-child-12-width: 100% !default;

$flex-child-spacing-horizontal: rem(4px) !default;
$flex-child-spacing-horizontal-xs: rem(4px) !default;
$flex-child-spacing-horizontal-s: rem(8px) !default;
$flex-child-spacing-horizontal-m: rem(8px) !default;
$flex-child-spacing-horizontal-l: $spacing-12 !default;
