@import '../../base/background/background.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/font/font.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'car-selector.setup.scss';
@import 'car-selector.portal.setup.scss';

.#{$global-class-prefix}car-selector {
  // extends button-inline
  &__button-details {
    @include breakpoint('xxs', 'm') {
      @include -spacing-c(left, padding);
      @include -spacing-c(right, padding);
      @include -spacing-18(top, padding);
      @include -spacing-18(bottom, padding);
      position: absolute;
      border: $car-selector-button-details-border-width;
      line-height: $car-selector-button-details-line-height;
      width: $car-selector-button-details-width;
      right: $car-selector-button-details-position-right;
      top: $car-selector-button-details-position-top;

      .button-ghost__icon {
        position: static;
        font-size: $car-selector-button-details-icon-font-size;
      }

      .button-ghost__label {
        display: none;
      }
    }

    @include breakpoint('m') {
      @include -spacing-12;
      @include flex-child-align(center);
    }
  }

  &__icon-warning {
    @include -spacing-3(left);
    @include -text-color-red-1;
    font-size: $car-selector-icon-warning-font-size;

    &::before {
      position: relative;
      bottom: $car-selector-icon-warning-before-position-bottom;
    }
  }
}
