@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$button-primary-width: auto !default;
$button-primary-width-xxs-xs: 100% !default;
$button-primary-background-color: $color-palette-grey-7 !default;
$button-primary-background-color-hover: $color-palette-red-1 !default;
$button-primary-background-color-disabled: $color-palette-grey-8 !default;
$button-primary-text-color: $color-palette-white !default;
$button-primary-text-color-disabled: $color-palette-grey-5 !default;
$button-primary-border-size: 1px !default;
$button-primary-border-color: $button-primary-background-color !default;
$button-primary-border-color-hover: $button-primary-background-color-hover !default;
$button-primary-border-color-disabled: $button-primary-background-color-disabled !default;

$button-primary-black-background-color: $color-palette-black !default;
$button-primary-black-background-color-hover: $color-palette-red-1 !default;
$button-primary-black-border-color: $button-primary-black-background-color !default;
$button-primary-black-border-color-hover: $button-primary-black-background-color-hover !default;

$button-primary-red-background-color: $color-palette-red-1 !default;
$button-primary-red-background-color-hover: $color-palette-red-2 !default;
$button-primary-red-border-color: $button-primary-red-background-color !default;
$button-primary-red-border-color-hover: $button-primary-red-background-color-hover !default;

$button-primary-acid-green-background-color: $color-palette-acid-green !default;
$button-primary-acid-green-background-color-hover: $color-palette-grey-8 !default;
$button-primary-acid-green-border-color: $button-primary-acid-green-background-color !default;
$button-primary-acid-green-border-color-hover: $button-primary-acid-green-background-color-hover !default;
$button-primary-acid-green-text-color: $color-palette-black !default;
$button-primary-acid-green-text-color-hover: $color-palette-white !default;

$button-primary-error-background-color: $color-palette-grey-9 !default;
$button-primary-error-border-color: $color-palette-red-1 !default;
$button-primary-error-text-color: $color-palette-white !default;

$button-primary-stretch-width: 100% !default;

$button-primary-icon-font-size: rem(16px) !default;

$button-primary-loader-position: 50% !default;
$button-primary-loader-size: rem(16px) !default;
$button-primary-loader-offset: - $button-primary-loader-size / 2 !default;
