@import 'button-inline.setup.scss';
@import 'button-inline.mixin.scss';
@import '../../base/font/font.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/overflow/overflow.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}button-inline {
  $bem-block: &;

  @include button-inline;
  @include -align-center;
  position: relative;
  height: $button-inline-height;
  min-width: $button-inline-min-width;
  max-width: $button-inline-max-width;
  padding: $button-inline-spacing-vertical $button-inline-spacing-horizontal;
  display: inline-block;
  appearance: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  line-height: $button-inline-height;
  border-radius: $button-inline-border-radius;

  &[disabled]:hover,
  &[disabled] {
    background-color: $button-inline-background-color-disabled;
    color: $button-inline-text-color-disabled;
    cursor: default;
    pointer-events: none;
  }

  &--multi-lines-centered {
    @include -align-left;
    @include button-inline-multiline;
    width: $button-inline-multi-lines-centered-width;

  }

  &--multiline {
    @include -align-left;
    @include button-inline-multiline;
  }

  &--stretch {
    @include -align-left;
    @include -spacing-inner-a;
    background-color: $button-inline-stretch-background-color;
    width: $button-inline-max-width;
    display: block;
    color: $button-inline-stretch-text-color;

    @include breakpoint('xxs') {
      padding-top: $button-inline-spacing-vertical;
      padding-bottom: $button-inline-spacing-vertical;
    }

    &:hover {
      background: $button-inline-stretch-background-color-hovered;
    }

    &[disabled]:hover,
    &[disabled] {
      background-color: $button-inline-stretch-background-color-disabled;
      color: $button-inline-stretch-text-color-disabled;
      cursor: default;
      pointer-events: none;
    }
  }

  &--center {
    @include -align-center;
  }

  &--active {
    background-color: $button-inline-background-color-active;
    color: $button-inline-text-color-active;

    &:hover {
      background: $button-inline-background-color-hovered-active;
    }
  }

  &--seamless {
    background: transparent;
    color: $button-inline-seamless-text-color;
    padding: $button-inline-reset;
    min-width: $button-inline-reset;
    height: $button-inline-seamless-height;
    line-height: $button-inline-seamless-height;

    &:hover {
      color: $button-inline-seamless-text-color-hover;
      background: transparent;
    }

    &[disabled]:hover,
    &[disabled] {
      background: transparent;
    }

    &__label--icon {
      background: transparent;
    }
  }

  &--ghost {
    @include button-inline-ghost;
  }

  &--ghost-dark {
    @include button-inline-ghost-dark;
  }

  &--ghost-small-only {
    @include button-inline-ghost;

    @include breakpoint('s') {
      @include button-inline;
    }
  }

  &__icon {
    position: relative;
    float: left;
    font-size: $button-inline-icon-font-size;
    line-height: inherit;

    &--center {
      float: none;
    }

    &--large {
      font-size: $button-inline-icon-large-size;
      margin-right: $button-inline-icon-large-spacing-horizontal;
    }

    &--multi-lines-centered {
      @include -text-size-small;
    }

    &--loading {
      &::before {
        visibility: hidden;
      }

      #{$bem-block}__loader {
        visibility: visible;
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: {
      top: -10px;
      left: -10px;
    }
    width: 20px;
    height: 20px;
    visibility: hidden;
  }

  &__label {
    @include -overflow-ellipsis;
    @include -text-size-copy;
    line-height: inherit;
    display: block;

    &--icon {
      margin-left: $button-inline-icon-font-size + $button-inline-icon-spacing-to-label;
    }

    &--multi-lines-centered {
      line-height: $text-size-small-line-height;
      white-space: normal;
    }

    &--multiline {
      @include -text-size-5-thin;
      line-height: $button-inline-height;
    }
  }

  &__label-subline {
    display: block;
    line-height: $text-size-small-line-height;
    white-space: normal;
    margin-top: $button-inline-multiline-margin-top;
    margin-bottom: $button-inline-multiline-margin-bottom;
  }
}
