@import "../../../styles/utility/index";

.#{$p-global-class-prefix}icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  fill: currentColor;
  transition: fill $p-animation-hover-duration $p-animation-hover-bezier;

  &--x-small {
    width: rem(16px);
    height: rem(16px);
  }

  &--small {
    width: rem(24px);
    height: rem(24px);
  }

  &--medium {
    width: rem(32px);
    height: rem(32px);
  }

  &--large {
    width: rem(40px);
    height: rem(40px);
  }

  &--x-large {
    width: rem(80px);
    height: rem(80px);
  }
}
