@import '../battery-chart/battery-chart.setup.scss';
@import '../../../base/spacing/spacing.setup.scss';

$charge-status-width: 100% !default;

$charge-status-visualization-width: 100% !default;
$charge-status-visualization-min-height: $battery-chart-outer-min-height !default;
$charge-status-visualization-min-height-xs: $battery-chart-outer-min-height-xs !default;
$charge-status-visualization-min-height-m: $battery-chart-outer-min-height-m !default;

$charge-status-graph-width: $battery-chart-outer-width !default;
$charge-status-graph-width-xs: $battery-chart-outer-width-xs !default;
$charge-status-graph-width-m: $battery-chart-outer-width-m !default;

$charge-status-range-width: calc(100% - (#{$charge-status-graph-width}) - #{$spacing-24}) !default;
$charge-status-range-width-xs: calc(100% - (#{$charge-status-graph-width-xs}) - #{$spacing-24}) !default;
$charge-status-range-width-m: calc(100% - (#{$charge-status-graph-width-m}) - #{$spacing-24}) !default;

$charge-status-plug-width: 100% !default;
$charge-status-plug-width-m: $charge-status-range-width-m !default;
$charge-status-plug-border-size: 1px !default;
$charge-status-plug-border-color: $color-palette-grey-8 !default;
