@import '../../../../../../packages/scss-utils/index';

:host {
  display: block;
}

::slotted(input) {
  width: 100% !important;
  display: block !important;
  outline: transparent none !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border-style: solid !important;
  background: $p-color-theme-light-background !important;
  font-family: $p-font-primary !important;
  font-weight: $p-font-weight-regular !important;
  font-size: p-font-size($p-text-size-small) !important;
  line-height: p-line-height($p-text-size-small) !important;
  color: $p-color-theme-light-default !important;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  border-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier !important;
}

// Focus
::slotted(input:focus) {
  outline: $p-color-theme-light-state-focus solid 2px !important;
  outline-offset: 1px !important;
}

// Disabled
::slotted(input:disabled) {
  color: $p-color-theme-light-state-disabled !important;
  cursor: not-allowed;
}

.#{$p-global-class-prefix}text-field-wrapper {

  &__label {
    display: block;
  }

  &__label-text {
    position: relative;
    z-index: 1; // necessary so that focus of optional anchor tag inside label is overlaying input field
  }

  &__message {
    position: relative;
    z-index: 1; // necessary so that focus of optional anchor tag inside label is overlaying input field
  }

  //&__button {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  color: $p-color-theme-light-default;
  //  cursor: pointer;
  //  width: p-rem(48px);
  //  height: p-rem(48px);
  //  border: none;
  //  outline: none;
  //  background: transparent;
  //
  //  &:focus {
  //    color: $p-color-theme-light-state-focus;
  //  }
  //
  //  &:hover {
  //    color: $p-color-theme-light-state-hover;
  //  }
  //
  //  & ~ input {
  //    padding-right: p-rem(56px);
  //  }
  //}
  //
  //&__icon {
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //}
}
