@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/pds-internal.variables';

@mixin p-text-field-wrapper-label-text-visible() {
  position: static;
  width: fit-content;
  height: auto;
  margin: 0;
  padding: 0 0 $p-spacing-4 0;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin p-text-field-wrapper-label-text-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: block;
}

::slotted(input) {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  padding: p-rem(12px) !important;
  margin: 0 !important;
  outline: transparent none !important;
  outline-offset: 1px !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border-width: 0 !important;
  border-top-color: transparent !important;
  background-color: transparent !important;
  opacity: 1 !important;
  font-family: $p-font-primary !important;
  font-weight: $p-font-weight-regular !important;
  font-size: p-font-size($p-font-size-small) !important;
  line-height: p-line-height($p-font-size-small) !important;
  text-indent: 0 !important;
  color: $p-color-theme-light-default !important;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier,
  border-top-color 1ms linear !important; // used for transitionend event listener;
}

// Focus
::slotted(input:focus) {
  outline: $p-color-theme-light-state-focus solid 2px !important;
}

::slotted(input:read-only:focus) {
  outline: none !important;
}

// Read only
::slotted(input:not(:disabled):read-only) {
  border-top-color: rgba(255, 255, 255, 0.01) !important;
  color: $p-color-theme-light-neutral-contrast-medium !important;
}

// Disabled
::slotted(input:disabled) {
  border-top-color: rgba(255, 255, 255, 0.02) !important;
  color: $p-color-theme-light-state-disabled !important;
  -webkit-text-fill-color: $p-color-theme-light-state-disabled !important; // fix placeholder color bug in Safari
  cursor: not-allowed !important;
}

// Hide arrows for number fields
::slotted(input[type="number"]) {
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
}
::slotted(input[type="number"]::-webkit-outer-spin-button),
::slotted(input[type="number"]::-webkit-inner-spin-button) {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  margin: 0 !important;
}

.#{$p-global-class-prefix}text-field-wrapper {
  $bem-block: &;

  &__container {
    position: relative;
    display: block;
  }

  &__label {
    display: block;
  }

  &__label-text,
  &__description-text {
    display: block;
    width: fit-content;
    color: $p-color-theme-light-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &--disabled {
      color: $p-color-theme-light-state-disabled;
    }

    &--visible {
      @include p-text-field-wrapper-label-text-visible;
    }

    &--hidden {
      @include p-text-field-wrapper-label-text-hidden;
    }

    @include p-breakpoint("xs") {
      &--visible-xs {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-xs {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("s") {
      &--visible-s {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-s {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("m") {
      &--visible-m {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-m {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("l") {
      &--visible-l {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-l {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }

    @include p-breakpoint("xl") {
      &--visible-xl {
        @include p-text-field-wrapper-label-text-visible;
      }

      &--hidden-xl {
        @include p-text-field-wrapper-label-text-hidden;
      }
    }
  }

  &__description-text {
    color: $p-color-theme-light-neutral-contrast-medium;

    &--disabled {
      color: $p-color-theme-light-state-disabled;
    }

    #{$bem-block}__label-text ~ & {
      margin-top: -$p-spacing-4;
      padding-bottom: $p-spacing-8;
    }
  }

  &__fake-input {
    position: relative;
    width: 100%;
    height: p-rem(48px);
    display: block;
    background-color: $p-color-theme-light-background;
    box-shadow: inset 0 0 0 1px $p-color-theme-light-neutral-contrast-medium;
    transition: box-shadow $p-animation-hover-duration $p-animation-hover-bezier,
    background-color $p-animation-hover-duration $p-animation-hover-bezier;

    &:hover:not(&--disabled):not(&--readonly):not(&--success):not(&--error),
    #{$bem-block}__label-text:hover ~ &:not(&--disabled):not(&--readonly):not(&--success):not(&--error) {
      box-shadow: inset 0 0 0 1px $p-color-theme-light-default;
    }

    &--disabled {
      box-shadow: inset 0 0 0 1px $p-color-theme-light-state-disabled;
      background-color: $p-color-theme-light-background;
    }

    &--readonly {
      box-shadow: inset 0 0 0 1px #ebebeb;
      background-color: #ebebeb;
    }

    &--success {
      box-shadow: inset 0 0 0 2px $p-color-theme-light-notification-success;

      &:hover,
      #{$bem-block}__label-text:hover ~ & {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-light-notification-success, 12%);
      }
    }

    &--error {
      box-shadow: inset 0 0 0 2px $p-color-theme-light-notification-error;

      &:hover,
      #{$bem-block}__label-text:hover ~ & {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-light-notification-error, 12%);
      }
    }
  }

  &__message {
    margin-top: $p-spacing-4;
    color: $p-color-theme-light-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &--success {
      color: $p-color-theme-light-notification-success;
    }

    &--error {
      color: $p-color-theme-light-notification-error;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: p-rem(48px);
    height: p-rem(48px);
    padding: p-rem(12px);
    box-sizing: border-box;
    outline: transparent none;
    appearance: none;
    border: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    color: $p-color-theme-light-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &::-moz-focus-inner {
      border: 0; // fix for Firefox, avoid dotted outline in button on focus
    }

    &:hover {
      color: $p-color-theme-light-state-hover;
    }

    &:active {
      color: $p-color-theme-light-state-active;
    }

    &:focus {
      color: $p-color-theme-light-state-focus;
    }

    &:disabled {
      color: $p-color-theme-light-state-disabled;
      cursor: not-allowed !important;
    }
  }
}
