@import '../../../setup/color-palette.setup.scss';
@import '../../../base/spacing/spacing.setup.scss';
@import '../../../mixins/px-rem-converter.scss';

$car-actions-control-background-color: $color-palette-grey-9 !default;
$car-actions-control-width: 100% !default;

$car-actions-control-section-spacing-horizontal-s: $spacing-inner-a-horizontal-s !default;

$car-actions-control-border-color: $color-palette-grey-8 !default;
$car-actions-control-border-size: 1px !default;

$car-actions-control-button-group-spacing-vertical-s: $spacing-6 !default;

$car-actions-control-icon-size: $spacing-42 !default;
$car-actions-control-icon-color: $color-palette-grey-5 !default;
$car-actions-control-icon-line-height: rem(44px) !default;
$car-actions-control-icon-line-height-s: $spacing-48 !default;

$car-actions-control-title-color: $color-palette-white !default;
$car-actions-control-title-line-height-s: $spacing-24 !default;
$car-actions-control-title-status-unknown-color: $color-palette-grey-5 !default;
