@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.sidebar {
  position: relative;
  padding: $p-spacing-40 $p-spacing-32 150px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.category {
  margin-top: $p-spacing-24;
}

.title {
  font-weight: bold;
}

.nav-item {
  list-style-type: none;

  .nav-item {
    display: flex;

    &::before {
      content: "";
      display: flex;
      align-items: center;
      margin-right: $p-spacing-8;
    }
  }
}

.nav-link {
  position: relative;
  display: block;
  padding: $p-spacing-4 $p-spacing-8 $p-spacing-4 $p-spacing-16;
  text-decoration: none;
  color: $p-color-grey-10;

  &:hover,
  &:focus,
  &:active {
    color: $p-color-red-1;
  }
}

.nav-link.current {
  color: $p-color-red-1;
}

.nav-icon {
  position: absolute;
  left: 0;
  top: 7px;
}
