@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";
@import "~@porscheui/porsche-ui-kit/src/components/basic/text/text";

.#{$sg-prefix}sidebar {
  position: relative;
  padding: $p-spacing-42 $p-spacing-30 120px;

  &__logo {
    display: block;
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  &__logo-item {
    display: block;
    width: 100%;
  }

  &__hr {
    height: 1px;
    border: 0;
    border-top: 1px solid $p-color-grey-3;
    margin-top: $p-spacing-24;
    margin-bottom: $p-spacing-24;
  }

  &__category {
    margin-top: $p-spacing-24;
    &__title {
      font-weight: bold;
    }
  }

  &__nav-item {
    list-style-type: none;
  }

  &__nav-link {
    display: block;
    @include -text-size-copy;
    padding: $p-spacing-6 0;
    text-decoration: none;
  }
}
