@import "../../styles/base/index";

.#{$global-class-prefix}sidebar {
  position: relative;
  padding: $spacing-24 $spacing-30;

  &__hr {
    height: 1px;
    border: 0;
    border-top: 1px solid $color-palette-grey-3;
    margin-top: $spacing-24;
    margin-bottom: $spacing-24;
  }

  &__category {
    margin-top: $spacing-24;
    &__title {
      font-weight: bold;
    }
  }
  &__item {
  }
}
