@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.#{$sg-prefix}sidebar {
  position: relative;
  padding: $p-spacing-42 $p-spacing-30;

  .#{$sg-prefix}category {
    margin-top: $p-spacing-24;
  }

  .#{$sg-prefix}title {
    font-weight: bold;
  }

  .#{$sg-prefix}nav-item {
    list-style-type: none;

    .#{$sg-prefix}nav-item {
      display: flex;

      &::before {
        content: "";
        display: flex;
        align-items: center;
        margin-right: $p-spacing-12;
      }
    }
  }

  .#{$sg-prefix}nav-link {
    position: relative;
    display: block;
    padding: $p-spacing-6 $p-spacing-6 $p-spacing-6 $p-spacing-18;
    text-decoration: none;
    color: $p-color-grey-10;

    &--current,
    &:hover,
    &:focus,
    &:active {
      color: $p-color-red-1;
    }
  }

  .#{$sg-prefix}nav-link-icon {
    position: absolute;
    left: 0;
    top: 9px;
  }
}
