@import '../../setup/color-palette.setup.scss';

$divider-width: 100% !default;
$divider-height: 0 !default;
$divider-max-height: 0 !default;
$divider-spacing-bottom: 0 !default;
$divider-border-size: 0 !default;

$divider-border-top-size: 1px !default;
$divider-border-top-color: $color-palette-grey-3 !default;
$divider-border-top-color-gray: $color-palette-grey-8 !default;
