@import '../../../../../../../packages/utilities/projects/utilities/scss';

:host {
  display: block;
}

::slotted(p),
::slotted(address),
::slotted(blockquote),
::slotted(figcaption),
::slotted(cite),
::slotted(time),
::slotted(legend) {
  margin: 0 !important;
  padding: 0 !important;
  font-style: normal !important;
  font-size: inherit !important;
}

.#{$p-global-class-prefix}text {
  $bem-block: &;
  @include p-text;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inherit;
  transition: font-size 1ms linear; // used for transitionend event listener

  &--size-x-small {
    @include p-type-scale($p-text-size-x-small);
  }

  &--size-small {
    @include p-type-scale($p-text-size-small);
  }

  &--size-medium {
    @include p-type-scale($p-text-size-medium);
  }

  &--size-large {
    @include p-type-scale($p-text-size-large);
  }

  &--size-x-large {
    @include p-type-scale($p-text-size-x-large);
  }

  &--size-inherit {
    font-size: inherit;
    line-height: inherit;
  }

  @include p-breakpoint("xs") {
    &--size-x-small-xs {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-xs {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-xs {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-xs {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-xs {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-xs {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("s") {
    &--size-x-small-s {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-s {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-s {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-s {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-s {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-s {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("m") {
    &--size-x-small-m {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-m {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-m {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-m {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-m {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-m {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("l") {
    &--size-x-small-l {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-l {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-l {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-l {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-l {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-l {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("xl") {
    &--size-x-small-xl {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-xl {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-xl {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-xl {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-xl {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-xl {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &--weight-thin {
    font-weight: $p-font-weight-thin;
  }

  &--weight-regular {
    font-weight: $p-font-weight-regular;
  }

  &--weight-semibold {
    font-weight: $p-font-weight-semibold;
  }

  &--weight-bold {
    font-weight: $p-font-weight-bold;
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &--color {
    &-brand {
      &#{$bem-block}--theme-light {
        color: $p-color-brand;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-brand;
      }
    }

    &-default {
      &#{$bem-block}--theme-light {
        color: $p-color-default;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-default;
      }
    }

    &-neutral-contrast-high {
      &#{$bem-block}--theme-light {
        color: $p-color-neutral-contrast-high;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-neutral-contrast-high;
      }
    }

    &-neutral-contrast-medium {
      &#{$bem-block}--theme-light {
        color: $p-color-neutral-contrast-medium;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-neutral-contrast-medium;
      }
    }

    &-neutral-contrast-low {
      &#{$bem-block}--theme-light {
        color: $p-color-neutral-contrast-low;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-neutral-contrast-low;
      }
    }

    &-notification-success {
      &#{$bem-block}--theme-light {
        color: $p-color-notification-success;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-success;
      }
    }

    &-notification-warning {
      &#{$bem-block}--theme-light {
        color: $p-color-notification-warning;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-warning;
      }
    }

    &-notification-error {
      &#{$bem-block}--theme-light {
        color: $p-color-notification-error;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-error;
      }
    }

    &-notification-neutral {
      &#{$bem-block}--theme-light {
        color: $p-color-notification-neutral;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-neutral;
      }
    }

    &-inherit {
      color: inherit;
    }
  }

  &--ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
