@import '../../../../../utilities/projects/utilities/scss';

:host {
  display: block;
}

table,
::slotted(table) {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  @include p-text-small;
  white-space: nowrap;
  text-overflow: ellipsis;
}

thead {
  border-bottom: 1px solid black;
}

tbody tr {
  &:hover a {
    background: coral;
  }

  &:nth-child(even) {
    background: lightgray;
  }
}

th,
td {
  padding: 5px;
}

th {
  text-align: left;
  font-weight: $p-font-weight-bold;
}

td {
  vertical-align: top;
  overflow: hidden;

  a {
    display: block;
    text-decoration: none;
    color: black;
    margin: -100px;
    padding: 100px;
  }
}

img {
  vertical-align: middle;
}

.sortable {
  cursor: pointer;

  &:hover {
    color: gray;

    .sorting {
      opacity: 1;
    }
  }

  &--asc .sorting *:first-child,
  &--desc .sorting *:last-child {
    color: gray;
  }

  &--active {
    color: black;

    .sorting {
      opacity: 1;
    }
  }
}

.sorting {
  opacity: 0;
  margin-left: 3px;

  *:last-child {
    margin-left: -12px;
  }
}
