@import '../../../../../utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

:host {
  display: block;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  @include p-text-small;
  white-space: nowrap;
  text-overflow: ellipsis;
}

thead {
  border-bottom: 2px solid $p-color-neutral-contrast-high;
}

th {
  text-align: left;
  font-weight: $p-font-weight-bold;
  padding: 0 p-px-to-rem(12px) p-px-to-rem(8px) 0;

  &:last-child {
    padding-right: 0;
  }
}

::slotted(tr) {
  border-bottom: 1px solid $p-color-neutral-contrast-medium;
}

//::slotted(tr:nth-child(even)){
//   background: 'lightgray',
//}

button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  @include p-text-small;
  font-weight: $p-font-weight-bold;
  text-decoration: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  color: $p-color-default;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
  @include p-focus();

  &:hover {
    color: $p-color-state-hover;
  }

  &:hover,
  &:focus {
    .icon {
      opacity: 1;
    }
  }
}

.icon {
  opacity: 0;
  margin-left: 3px;

  &--active {
    opacity: 1;
  }
}
