@import '../../../../../utilities/projects/utilities/scss';

:host {
  display: block;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 1px solid black;
}

td {
  padding: 2px;
}

tr:nth-child(even) {
  background: lightgray;
}
