@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}link-text {

  @include -text-size-copy;
  display: inline-block;
  text-decoration: none;

  &__label {
    @include -text-color-black;
    display: block;
    text-decoration: underline;

    &--inverted {
      @include -text-color-white;
    }
  }

  &:active &__label,
  &:active &__label--inverted,
  &:focus &__label,
  &:focus &__label--inverted,
  &:hover &__label,
  &:hover &__label--inverted {
    @include -text-color-red-1;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
