<div class="image-cover {{ styleModifier }}" style="background-image:url({{ image-cover_image }});">
{{#if image-cover_gradientVisible}} <div class="image-cover__gradient"></div>{{/if}}
{{#if image-cover_gradientBannerVisible}} <div class="image-cover__gradient-banner"></div>{{/if}}
</div>
