@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';

:host {
  display: block;
}

.root {
  $bem-block: &;
  position: relative;
  display: list-item;
  color: inherit;
  list-style-type: none;
  padding-left: p-px-to-rem(24px);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(1.5em / 2 - 0.125em);
    width: p-px-to-rem(4px);
    height: p-px-to-rem(4px);
    background-color: currentColor;
  }
  &--nested {
    &::before {
      height: 1px;
      width: p-px-to-rem(8px);
      top: calc(1.5em / 2);
    }

    #{$bem-block}--ordered-numbered & {
      &::before {
        content: counters(section, '.', decimal);
      }
    }

    #{$bem-block}--ordered-alphabetically & {
      &::before {
        content: counters(section, '.', lower-latin);
      }
    }
  }

  &--ordered {
    padding-left: p-px-to-rem(40px);

    &::before {
      right: calc(100% - 24px);
      top: 0;
      width: auto;
      height: auto;
      counter-increment: section;
      text-align: right;
      @include p-text-small;
      background-color: transparent;
    }

    &-numbered {
      &::before {
        content: counters(section, '.', decimal) '.';
      }
    }

    &-alphabetically {
      &::before {
        content: counters(section, '.', lower-latin) '.';
      }
    }
  }
}
