@import '~@porsche-design-system/utilities/scss';

#focusable-element-regular {
  @include p-focus;
}

#focusable-element-custom {
  @include p-focus(red, 3px);
}

#focusable-element-pseudo {
  position: relative;
  outline: transparent;
  @include p-focus($p-color-state-focus, 1px, '::before');
}

#focusable-element-custom-pseudo {
  position: relative;
  outline: transparent;
  @include p-focus(red, 3px, '::after');
}
