@import '../../../../../../../packages/scss-utils/index';

:host {
  position: relative !important;
  display: list-item !important;
  color: inherit !important;
  list-style-type: none !important;
}

:host(.#{$p-global-class-prefix}text-list-item--unordered) {
  padding-left: p-rem(24px) !important;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(1.5em / 2 - 0.125em);
    width: p-rem(4px);
    height: p-rem(4px);
    background-color: currentColor;
  }
}

:host(.#{$p-global-class-prefix}text-list-item--ordered) {
  padding-left: p-rem(40px) !important;

  &::before {
    position: absolute;
    content: counters(section, '.', decimal) '.';
    counter-increment: section;
    right: calc(100% - 24px);
    text-align: right;
  }
}

:host(.#{$p-global-class-prefix}text-list-item--ordered-alphabetically) {
  &::before {
    content: counters(section, '.', lower-latin) '.';
  }
}

:host(.#{$p-global-class-prefix}text-list-item--unordered.#{$p-global-class-prefix}text-list-item--nested) {
  &::before {
    height: 1px;
    width: p-rem(8px);
    top: calc(1.5em / 2);
  }
}
