@import '../../../../../../../packages/scss-utils/index';

:host {
  position: relative !important;
  display: list-item !important;
  color: inherit !important;
}

:host(.#{$p-global-class-prefix}text-list-item--unordered) {
  padding-left: p-rem(28px) !important;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(1.5em / 2 - 0.125em);
    width: p-rem(4px);
    height: p-rem(4px);
    background-color: currentColor;
    font-size: inherit;
    line-height: inherit;
  }
}

:host(.#{$p-global-class-prefix}text-list-item--ordered) {
  &::before {
    counter-increment: section;
    content: counters(section, '.', decimal) '.';
    display: inline-block;
    min-width: p-rem(28px);
  }
}

:host(.#{$p-global-class-prefix}text-list-item--ordered-alphabetically) {
  &::before {
    counter-increment: section;
    content: counters(section, '.', lower-latin) '.';
  }
}

:host(.#{$p-global-class-prefix}text-list-item--unordered.#{$p-global-class-prefix}text-list-item--nested) {
  &::before {
    height: 1px;
    width: p-rem(8px);
    top: calc(1.5em / 2);
  }
}

:host(.#{$p-global-class-prefix}text-list-item--ordered.#{$p-global-class-prefix}text-list-item--nested) {
  padding-left: p-rem(28px) !important;

  &::before {
    min-width: p-rem(36px);
  }
}
