$p-font-primary: "Porsche Next", "Arial Narrow", Arial, sans-serif;

// linear scaling //
@mixin p-text-size-large-title($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(36px);
  line-height: 1.333;

  @include breakpoint("s", "m") {
    font-size: rem(48px);
    line-height: 1.25;
  }

  @include breakpoint("m", "l") {
    font-size: rem(60px);
    line-height: 1.2;
  }

  @include breakpoint("l", "xl") {
    font-size: rem(72px);
    line-height: 1.25;
  }

  @include breakpoint("xl") {
    font-size: rem(84px);
    line-height: 1.243;
  }
}

@mixin p-text-size-1($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(32px);
  line-height: 1.25;

  @include breakpoint("s", "m") {
    font-size: rem(42px);
    line-height: 1.333;
  }

  @include breakpoint("m", "l") {
    font-size: rem(52px);
    line-height: 1.23;
  }

  @include breakpoint("l", "xl") {
    font-size: rem(62px);
    line-height: 1.225;
  }

  @include breakpoint("xl") {
    font-size: rem(72px);
    line-height: 1.25;
  }
}

@mixin p-text-size-2($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(28px);
  line-height: 1.285;

  @include breakpoint("s", "m") {
    font-size: rem(36px);
    line-height: 1.333;
  }

  @include breakpoint("m", "l") {
    font-size: rem(44px);
    line-height: 1.181;
  }

  @include breakpoint("l", "xl") {
    font-size: rem(52px);
    line-height: 1.22;
  }

  @include breakpoint("xl") {
    font-size: rem(60px);
    line-height: 1.2;
  }
}

@mixin p-text-size-3($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(24px);
  line-height: 1.4;

  @include breakpoint("s", "m") {
    font-size: rem(30px);
    line-height: 1.4;
  }

  @include breakpoint("m", "l") {
    font-size: rem(36px);
    line-height: 1.4;
  }

  @include breakpoint("l", "xl") {
    font-size: rem(42px);
    line-height: 1.35;
  }

  @include breakpoint("xl") {
    font-size: rem(48px);
    line-height: 1.35;
  }
}

@mixin p-text-size-4($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(20px);
  line-height: 1.4;

  @include breakpoint("s", "m") {
    font-size: rem(24px);
    line-height: 1.333;
  }

  @include breakpoint("m", "l") {
    font-size: rem(28px);
    line-height: 1.285;
  }

  @include breakpoint("l", "xl") {
    font-size: rem(32px);
    line-height: 1.25;
  }

  @include breakpoint("xl") {
    font-size: rem(36px);
    line-height: 1.333;
  }
}

@mixin p-text-size-5($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(16px);
  line-height: 1.5;

  @include breakpoint("s", "m") {
    font-size: rem(18px);
    line-height: 1.333;
  }

  @include breakpoint("m", "l") {
    font-size: rem(20px);
    line-height: 1.4;
  }

  @include breakpoint("l", "xl") {
    font-size: rem(22px);
    line-height: 1.45;
  }

  @include breakpoint("xl") {
    font-size: rem(24px);
    line-height: 1.333;
  }
}

@mixin p-text-size-copy($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(16px);
  line-height: 1.5;
}

@mixin p-text-size-small($weight: 400) {
  font-family: $p-font-primary;
  font-weight: $weight;
  font-size: rem(12px);
  line-height: 1.666;
}
