<div class="
  callout
  {{ styleModifier }}
  {{#if callout_orientation_top}}callout--top{{/if}}
  {{#if callout_orientation_bottom}}callout--bottom{{/if}}"
>
  <div class="callout__panel">
    {{#if callout_showTitle}}
      <h4 class="callout__title">{{callout_title}}</h4>
    {{/if}}
    {{callout_message}}
    <div class="callout__arrow"></div>
  </div>
</div>
