<span class="loader
    {{#if loader_small }}loader--small{{/if}}
    {{#if loader_medium }}loader--medium{{/if}}
    {{#if loader_large }}loader--large{{/if}}
    {{#if loader_x-large }}loader--x-large{{/if}}
    {{ styleModifier }}">
  <svg class="loader__fg {{#if loader_small }}loader__fg--small{{/if}}" viewBox="25 25 50 50">
    <circle class="loader__fg-path" cx="50" cy="50" r="20" />
  </svg>
  <svg class="loader__bg {{#if loader_small }}loader__bg--small{{/if}}" viewBox="25 25 50 50">
    <circle class="loader__bg-path" cx="50" cy="50" r="20" />
  </svg>
</span>
