<div class="loader-application {{ styleModifier }}">

  {{> molecules-loader loader_isThemeInverted=true loader_large=true }}

  {{#if loader-application_label }}
    <p class="loader-application__label"> {{ loader-application_label }} </p>
  {{/if}}
</div>
