<div class="loader-fullpage {{ styleModifier }}">

  {{> molecules-loader loader_isThemeInverted=true loader_x-large=true }}

  {{#if loader-fullpage_label }}
    <p class="loader-fullpage__label"> {{ loader-fullpage_label }} </p>
  {{/if}}
</div>
