<ul class="list-view-poi {{ styleModifier }}">
  {{#each list-view-poi}}
    <li class="list-view-poi__item {{#if isListItemExpanded }}list-view-poi__item--expanded{{/if}}">

      <div class="list-view-poi__hover-area">
        <div class="list-view-poi__status">

          {{> molecules-symbol-marker symbol-marker_label=label }}

        </div>
        <div class="list-view-poi__content">

          {{> navigation-plus-summary-poi summary-poi_title=title
                                          summary-poi_text=text
                                          summary-poi_isFlagHome=homeFlag
                                          summary-poi_isFlagWork=workFlag }}

        </div>
        <div class="list-view-poi__info">

          {{> molecules-copyright-google styleModifier="-spacing-18 -spacing-zero-s" }}

        </div>
      </div>

      {{#*inline "symbol-menu-dots_content"}}

        {{#if isMultiFunctionMenuAbove}}
          {{> molecules-dropdown-multi-function styleModifier="list-view-poi__multi-function-menu list-view-poi__multi-function-menu--above"
                                                dropdown-multi-function=../list-view-poi_multiFunctionMenu
                                                dropdown-multi-function_visible=isMultiFunctionMenuOpen
                                                dropdown-multi-function_above=isMultiFunctionMenuAbove }}
        {{else}}
          {{> molecules-dropdown-multi-function styleModifier="list-view-poi__multi-function-menu"
                                                dropdown-multi-function=../list-view-poi_multiFunctionMenu
                                                dropdown-multi-function_visible=isMultiFunctionMenuOpen
                                                dropdown-multi-function_above=isMultiFunctionMenuAbove }}
        {{/if}}

      {{/inline}}
      {{> molecules-symbol-menu-dots styleModifier="list-view-poi__control" }}

      {{#if isListItemExpanded}}
        {{#> list-view-poi_content}} {{/list-view-poi_content}}
      {{/if}}

    </li>
  {{/each}}
</ul>
