@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$slider-arrow-position: 0 !default;
$slider-arrow-width: 6% !default;
$slider-arrow-font-size: rem(64px) !default;
$slider-arrow-color: $color-palette-white !default;
$slider-arrow-color-hover: $color-palette-red-2 !default;
$slider-arrow-z-index: 1 !default;
$slider-arrow-background-color: transparent !default;
$slider-arrow-background-gradient-color: rgba($color-palette-black, .45) !default;
$slider-arrow-margin-horizontal: rem(-21px) !default;
