@import "../../../styles/utility/index";

.#{$p-global-class-prefix}toggle {
  $bem-block: &;

  position: relative;
  width: rem(48px);
  height: rem(24px);
  display: inline-block;

  // toggle is hovered
  &:hover #{$bem-block}__slider {
    background-color: $p-color-neutral-grey-2;

    &--inverted {
      background-color: $p-color-neutral-grey-6;
    }

    & #{$bem-block}__icon {
      color: $p-color-porsche-light;
    }
  }

  &__checkbox {
    display: none;

    // toggle is active
    &:checked ~ #{$bem-block}__slider {
      border-color: $p-color-status-green;
      background-color: $p-color-status-green;

      &::after {
        border-color: $p-color-status-green;
        transform: translateX(rem(24px));
      }

      & #{$bem-block}__icon {
        color: $p-color-porsche-light;
      }
    }

    // toggle is disabled
    &:disabled ~ #{$bem-block}__slider {
      cursor: default;
      pointer-events: none;
    }

    // toggle is disabled and not active
    &:disabled:not(:checked) ~ #{$bem-block}__slider {
      background-color: transparent;

      & #{$bem-block}__icon {
        color: $p-color-neutral-grey-2;

        &--inverted {
          color: $p-color-porsche-light;
        }
      }
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: $p-animation-hover-duration;
    border: 1px solid $p-color-neutral-grey-2;
    border-radius: rem(12px);
    background-color: transparent;
    cursor: pointer;

    &::after {
      transition: $p-animation-hover-duration;
      content: '';
      display: block;
      position: absolute;
      width: rem(24px);
      height: rem(24px);
      left: -1px;
      top: -1px;
      border: 1px solid $p-color-neutral-grey-2;
      border-radius: 50%;
      background-color: $p-color-porsche-light;
      transform: translate(0, 0);
      box-sizing: border-box;
    }

    &--inverted {
      border-color: $p-color-neutral-grey-6;

      &::after {
        border-color: $p-color-neutral-grey-6;
      }
    }
  }

  &__icon {
    //@include icon-base;
    //@include -align-center;
    transition: $p-animation-hover-duration;
    display: inline-block;
    //width: $toggle-slider-icon-width;
    //font-size: $toggle-slider-icon-size;
    //color: $toggle-slider-icon-color;

    &--inverted {
      //color: $toggle-slider-icon-inverted-color;
    }

    &--inactive {
      order: 2;

      &::before {
        //@include icon-minus-before;
      }
    }

    &--active {
      order: 1;

      &::before {
        //@include icon-check-before;
      }
    }
  }
}
