@use '@porsche-design-system/components-js/styles' as *;

// global style reset

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

// global utility classes (Tailwind like utility classes)

.-mt-static-x-small {
  margin-top: $pds-spacing-static-x-small;
}
.-mt-static-small {
  margin-top: $pds-spacing-static-small;
}
.-mt-static-medium {
  margin-top: $pds-spacing-static-medium;
}
.-mt-static-large {
  margin-top: $pds-spacing-static-large;
}
.-mt-static-x-large {
  margin-top: $pds-spacing-static-x-large;
}
.-mt-static-xx-large {
  margin-top: $pds-spacing-static-xx-large;
}

.-mt-fluid-x-small {
  margin-top: $pds-spacing-fluid-x-small;
}
.-mt-fluid-small {
  margin-top: $pds-spacing-fluid-small;
}
.-mt-fluid-medium {
  margin-top: $pds-spacing-fluid-medium;
}
.-mt-fluid-large {
  margin-top: $pds-spacing-fluid-large;
}
.-mt-fluid-x-large {
  margin-top: $pds-spacing-fluid-x-large;
}
.-mt-fluid-xx-large {
  margin-top: $pds-spacing-fluid-xx-large;
}

.-ms-auto {
  margin-inline-start: auto;
}
.-me-auto {
  margin-inline-end: auto;
}

.-block {
  display: block;
}

.-img-small {
  width: clamp(48px, 7cqw, 72px);
  height: clamp(48px, 7cqw, 72px);
}

.-max-w-full {
  max-width: 100%;
}
.-max-w-medium {
  max-width: 40rem;
}

.-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.-ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// "main" section

.intro {
  grid-column: 1 / -1;
  display: flex;
  gap: $pds-spacing-fluid-medium;
  flex-direction: column;
  align-items: center;

  &__image {
    width: clamp(48px, 7cqw, 72px);
    height: clamp(48px, 7cqw, 72px);
  }

  &__text {
    display: grid;
    justify-items: center;
    gap: $pds-spacing-fluid-x-small;
  }
}

.intro-cards {
  grid-column: 1 / -1;
  display: grid;
  grid-auto-rows: 1fr auto;
  gap: $pds-spacing-static-medium;

  @container (min-width: #{$pds-breakpoint-m}px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  :is(a, button) {
    @include pds-focus;
    all: unset;
    cursor: pointer;
    padding: $pds-spacing-static-medium;
    border-radius: $pds-border-radius-large;
    background: hsl(0deg 0% 100% / 15%);
    transition: background $pds-motion-duration-moderate $pds-motion-easing-base;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: $pds-spacing-static-medium $pds-spacing-static-small;

    @media (hover: hover) {
      &:hover {
        background: hsl(0deg 0% 100% / 40%);
      }
    }
  }
}

.controls {
  display: grid;
  gap: $pds-spacing-static-medium;

  &__item {
    --p-internal-button-scaling: 0;
    position: relative;
    display: grid;
    grid-template-columns: var(--controls-grid-template, minmax(0, 1fr) auto);
    gap: $pds-spacing-static-small;
    align-items: center;

    &--active {
      --controls-item-background: #{$pds-theme-light-background-base};
    }

    @media (hover: hover) {
      &:not(:hover):not(:focus-within) {
        --controls-grid-template: minmax(0, 1fr);
        --controls-group-display: none;
      }

      &:hover {
        --controls-item-background: #{$pds-theme-light-background-base};
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: -4px -6px;
      transition: background $pds-motion-duration-short $pds-motion-easing-base;
      border-radius: $pds-border-radius-small;
      background: var(--controls-item-background, transparent);
    }

    :is(button, a) {
      @include pds-focus;
      @include pds-text-small;
      all: unset;
      cursor: pointer;
      position: relative;
      display: flex;
      gap: $pds-spacing-static-small;
      padding-block: 2px;
      border-radius: $pds-border-radius-small;

      img {
        width: $pds-font-line-height;
        height: $pds-font-line-height;
      }

      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__group {
    display: var(--controls-group-display, flex);
    gap: $pds-spacing-static-small;
  }
}

.plugin-search {
  max-width: 30rem;
  margin-inline: auto;
}

.plugin-cards {
  --plugin-cards-background: #{$pds-theme-light-background-surface};
  --plugin-cards-background-hover: #{$pds-theme-light-background-surface};
  --plugin-cards-image-size: clamp(40px, 6vw, 80px);
  display: grid;
  grid-auto-rows: 1fr;
  gap: $pds-spacing-static-medium;

  @include pds-media-query-min('s') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &--small {
    --plugin-cards-background: transparent;
    --plugin-cards-background-hover: #{$pds-theme-light-background-surface};
    --plugin-cards-image-size: clamp(24px, 3vw, 48px);
  }

  :is(a, button) {
    @include pds-focus;
    all: unset;
    cursor: pointer;
    padding: $pds-spacing-fluid-small;
    border-radius: $pds-border-radius-large;
    background: var(--plugin-cards-background);
    transition: background $pds-motion-duration-moderate $pds-motion-easing-base;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: $pds-spacing-static-medium;

    @media (hover: hover) {
      &:hover {
        background: var(--plugin-cards-background-hover);
      }
    }
  }

  img {
    width: var(--plugin-cards-image-size);
    height: var(--plugin-cards-image-size);
  }

  span {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    align-items: flex-end;
  }
}

.chat {
  grid-column: 1 / -1;
  display: grid;
  gap: $pds-spacing-static-x-large;

  &__bubble {
    max-width: 30rem;

    &--question {
      justify-self: flex-end;
      background: $pds-theme-light-background-surface;
      padding: $pds-spacing-static-medium $pds-spacing-static-medium;
      border-radius: $pds-border-radius-large $pds-border-radius-large $pds-border-radius-small $pds-border-radius-large;
    }

    &--answer {
      justify-self: flex-start;
      background: transparent;
      display: grid;
      grid-template-columns: 36px minmax(0, 1fr);
      gap: $pds-spacing-static-medium;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__files {
    margin-top: $pds-spacing-fluid-small;
    display: flex;
    flex-wrap: wrap;
    gap: $pds-spacing-static-small;
  }
}

// "footer" section

.chat-input {
  grid-column: 1 / -1;
  display: grid;
  grid-template: repeat(2, auto) / auto minmax(0, 1fr) auto;
  padding: $pds-spacing-static-x-small;
  border-radius: $pds-border-radius-medium;
  background: $pds-theme-light-background-surface;

  input {
    all: unset;
    @include pds-text-small;
    color: $pds-theme-light-primary;
    grid-area: 2 / 2;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__file-upload {
    grid-area: 2 / 1;
    place-self: center;
    margin-inline: $pds-spacing-fluid-small;
  }

  &__files {
    grid-area: 1 / 2 / auto / -1;
    flex-wrap: wrap;
    gap: $pds-spacing-static-small;
    max-height: 80px;
    overflow: hidden auto;
    margin-bottom: $pds-spacing-static-small;
    padding-block: $pds-spacing-static-small;
    padding-inline: 0 $pds-spacing-static-x-small;

    &:not([hidden]) {
      display: flex;
    }
  }

  &__submit {
    grid-area: 2 / 3;
  }
}

.footer {
  grid-column: 1 / -1;
  display: flex;
  gap: $pds-spacing-static-medium;
  align-items: flex-start;
  justify-content: center;
}

.profile {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: $pds-spacing-static-medium;

  &::before {
    --profile-initials-size: 72px;
    @include pds-text-medium;
    color: $pds-theme-light-contrast-medium;
    text-align: center;
    line-height: var(--profile-initials-size);
    letter-spacing: 1px;
    content: '' attr(data-initials) '';
    display: block;
    width: var(--profile-initials-size);
    height: var(--profile-initials-size);
    border-radius: 50%;
    background: $pds-theme-light-background-surface;
  }
}
