@import '../../../../../utilities/projects/utilities/scss';

:host {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  padding: 5px;
  text-align: left;
  font-weight: $p-font-weight-bold;
}

.sortable {
  cursor: pointer;

  &:hover {
    color: gray;

    .sorting {
      opacity: 1;
    }
  }

  &--asc .sorting *:first-child,
  &--desc .sorting *:last-child {
    color: gray;
  }

  &--active {
    color: black;

    .sorting {
      opacity: 1;
    }
  }
}

.sorting {
  opacity: 0;
  margin-left: 3px;

  *:last-child {
    margin-left: -12px;
  }
}
