@import '../../base/text-size/text-size.mixin.scss';
@import './tile-paragraph.setup.scss';
@import '../../base/overflow/overflow.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}tile-paragraph {
  @include -text-size-copy;
  @include -overflow-ellipsis;

  /* Taken from `tile-headline.scss .tile-headline::before`,
   * which has a fixed width.  Used here as padding.
   */
  padding-left: $tile-paragraph-padding-left;

  &--static {
    margin-left: $tile-paragraph-static-margin-left;
    padding-left: $tile-paragraph-static-padding-left;
  }

  &--multiline {
    white-space: normal;
  }
}
