@import "../variables/global";
@import "utils";

/**
 * Converts px to rem units
 * @param $px - only accepts value in px unit, e.g. 12px
 */
@function p-rem($px) {
  @if p-is-px($px) {
    $px: p-strip-unit($px);
    $base: p-strip-unit($p-global-rem-base);
    @return ($px / $base) * 1rem;
  } @else {
    @error 'p-rem() Sass function only accepts value in px for param $px, e.g. 12px';
  }
}

/**
 * Converts rem to px units
 * @param $rem - only accepts value in rem unit, e.g. 1.5rem
 */
@function p-px($rem) {
  @if p-is-rem($rem) {
    $rem: p-strip-unit($rem);
    $base: p-strip-unit($p-global-rem-base);
    @return ($rem * $base) * 1px;
  } @else {
    @error 'p-px() Sass function only accepts value in rem for param $rem, e.g. 1.5rem';
  }
}

// @deprecated
@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: ($pxval / ($pxval * 0 + 1));
  }

  $base: $p-global-rem-base;
  @if not unitless($base) {
    $base: ($base / ($base * 0 + 1));
  }
  @return ($pxval / $base) * 1rem;
}
