@import "converter";
@import "utils";

/**
 * Converts font-size to rem.
 * @param $font-size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@function p-font-size($font-size) {
  @if __p-is-rem($font-size) {
    $font-size: $font-size;
  } @else if __p-is-px($font-size) {
    $font-size: p-rem($font-size);
  } @else {
    @error 'p-font-size() Scss function only accepts value in rem or px for param $font-size, e.g. 12px or 1.5rem';
  }

  @return $font-size;
}

/**
 * Calculates line-height depending on font-size that fits into Porsche Vertical Grid System
 * @param $font-size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@function p-line-height($font-size) {

  @if __p-is-rem($font-size) {
    $font-size: p-px($font-size);
  } @else if __p-is-px($font-size) {
    $font-size: $font-size;
  } @else {
    @error 'p-line-height() Scss function only accepts value in rem or px for param $font-size, e.g. 12px or 1.5rem';
  }

  $font-size: __p-strip-unit($font-size);
  $e: 2.71828;
  $exact-line-height-factor: 0.911 / ( 2.97 + 0.005 * __p-pow( $e, 0.2 * $font-size ) ) + 1.2;
  $exact-line-height-px: $font-size * $exact-line-height-factor;
  $remaining-px: $exact-line-height-px % 4;

  @if $remaining-px > 2 {
    $remaining-px: $remaining-px - 4;
  }

  $fitted-line-height-px: $exact-line-height-px - $remaining-px;
  $fitted-line-height-factor: $fitted-line-height-px / $font-size;

  @return $fitted-line-height-factor;
}
