/* Internal functions */

@import "converter";
@import "utils";

/**
 * Calculates line-height depending on font-size that fits into Porsche Vertical Grid System
 * @param $font-size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@function p-line-height($font-size) {

  @if p-is-rem($font-size) {
    $font-size: p-px($font-size);
  } @else if p-is-px($font-size) {
    $font-size: $font-size;
  } @else {
    @error 'p-line-height() Scss function only accepts value in rem or px for param $font-size, e.g. 12px or 1.5rem';
  }

  $font-size: p-strip-unit($font-size);
  $e: 2.71828;
  $exact-line-height-factor: 0.911 / ( 2.95 + 0.01 * p-pow( $e, 0.1 * $font-size ) ) + 1.2;
  $exact-line-height-px: $font-size * $exact-line-height-factor;
  $vertical-grid-line-height-px: $exact-line-height-px - ($exact-line-height-px % 8);
  $vertical-grid-line-height-factor: $vertical-grid-line-height-px / $font-size;

  @return $vertical-grid-line-height-factor;
}
