@import '../../../setup/color-palette.setup.scss';
@import '../../../mixins/px-rem-converter.scss';

$charge-control-width: 100% !default;
$charge-control-background: $color-palette-grey-9 !default;

$charge-control-icon-size: rem(80px) !default;
$charge-control-icon-color: $color-palette-grey-5 !default;

$charge-control-title-color: $color-palette-white !default;

$charge-control-button-background-color: $color-palette-acid-green !default;
$charge-control-button-text-color: $color-palette-grey-9 !default;
$charge-control-button-text-color-hover: $color-palette-white !default;
