@import '../variables/color';

@mixin p-focus($color: $p-color-state-focus, $offset: 2px, $pseudo: '') {
  @if $pseudo != '::before' and $pseudo != '::after' and $pseudo != '' {
    @error 'The parameter $pseudo needs to be "::before" or "::after" when set.';
  }

  &::-moz-focus-inner {
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  @if $pseudo != '' {
    & {
      outline: transparent none;
    }
  }

  &#{$pseudo} {
    outline: transparent solid 1px;
    outline-offset: $offset;

    @if $pseudo == '::before' or $pseudo == '::after' {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &:focus#{$pseudo} {
    outline-color: $color;
  }

  // why? have a look at this article https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
  &:focus:not(:focus-visible)#{$pseudo} {
    outline-color: transparent;
  }
}
