$p-breakpoint: (
  'xxs': 0,
  'xs': 480px,
  's': 760px,
  'm': 1000px,
  'l': 1300px,
  'xl': 1760px,
  'xxl': 1920px,
);

@mixin p-media-query($min-breakpoint: null, $max-breakpoint: null) {
  @if ($min-breakpoint and $max-breakpoint) {
    @if map-has-key($p-breakpoint, $min-breakpoint) and map-has-key($p-breakpoint, $max-breakpoint) {
      @media (min-width: #{map-get($p-breakpoint, $min-breakpoint)}) and (max-width: #{map-get($p-breakpoint, $max-breakpoint) - 1px}) {
        @content;
      }
    } @else {
      @if unitless($min-breakpoint) {
        $min-breakpoint: $min-breakpoint + 0;
      }
      @if unitless($max-breakpoint) {
        $max-breakpoint: $max-breakpoint + 0;
      }

      @media (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
        @content;
      }
    }
  } @else if ($min-breakpoint) {
    @if map-has-key($p-breakpoint, $min-breakpoint) {
      @media (min-width: #{map-get($p-breakpoint, $min-breakpoint)}) {
        @content;
      }
    } @else {
      @if unitless($min-breakpoint) {
        $min-breakpoint: $min-breakpoint + 0;
      }

      @media (min-width: $min-breakpoint) {
        @content;
      }
    }
  }
}
