<ul class="navigation-header {{ styleModifier }}">
    {{#each navigation-header_items }}
        <li class="navigation-header__item {{#if active }} navigation-header__item--active {{/if}}">
            <a href="#" class="navigation-header__link"> {{ item }} </a>
        </li>
    {{/each}}
</ul>
