@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

:host {
  display: block;
}

::slotted(a) {
  font-family: $p-font-family;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none transparent;
  text-decoration: none;
  text-align: left;
  border: 0;
  background: transparent;
  display: inline-block;
  vertical-align: top;
  color: $p-color-default;
  cursor: pointer;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier;
}

:host([theme="dark"]) ::slotted(a) {
  color: $p-color-theme-dark-default;
}

::slotted(a:hover) {
  color: $p-color-state-hover;
}

:host([theme="dark"]) ::slotted(a:hover) {
  color: $p-color-theme-dark-state-hover;
}

::slotted(a:active),
::slotted(a.selected) {
  color: $p-color-state-active;
}

:host([theme="dark"]) ::slotted(a:active),
:host([theme="dark"]) ::slotted(a.selected) {
  color: $p-color-theme-dark-state-active;
}

::slotted(a:focus) {
  outline-offset: 1px;
  outline: $p-color-state-focus solid 2px;
}

:host([theme="dark"]) ::slotted(a:focus) {
  outline-color: $p-color-theme-dark-state-focus;
}

::slotted(a:not(:last-child)) {
  margin-right: 1em;
}

.#{$p-global-class-prefix}tabs-nav {
  $bem-block: &;
  @include p-generate-type-scale($p-font-size-small);
  font-weight: $p-font-weight-regular;
  position: relative;
  margin: 0 -3px; /* preserve space for focused tab outline */

  &--weight-semibold {
    font-weight: $p-font-weight-semibold;
  }

  &--size-medium {
    @include p-generate-type-scale($p-font-size-medium);
  }

  &__scroll-area {
    position: relative;
    padding: 3px 3px .5em;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__status-bar {
    position: absolute;
    bottom: 0;
    height: .09375em;
    display: block;
    transition: width $p-tabs-transition-duration, left $p-tabs-transition-duration;
    background-color: $p-color-state-active;

    &--theme-dark {
      background-color: $p-color-theme-dark-state-active;
    }

    &--weight-semibold {
      height: .125em;
    }
  }

  &__action {
    position: absolute;
    top: 3px;
    display: flex;

    &--prev {
      left: 0;
      justify-content: flex-start;
    }

    &--next {
      right: 0;
      justify-content: flex-end;
    }

    &--hidden {
      display: none;
    }
  }

  &__gradient {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -.5em;
    width: 2em;
    pointer-events: none;

    &--prev {
      &#{$bem-block}__gradient--color-scheme-default {
        background: linear-gradient(90deg, rgba($p-color-background-default, 1) 50%, rgba($p-color-background-default, 0) 100%);
      }

      &#{$bem-block}__gradient--color-scheme-surface {
        background: linear-gradient(90deg, rgba($p-color-background-surface, 1) 50%, rgba($p-color-background-surface, 0) 100%);
      }

      &#{$bem-block}__gradient--theme-dark {
        &#{$bem-block}__gradient--color-scheme-default {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-default, 1) 50%, rgba($p-color-theme-dark-background-default, 0) 100%);
        }

        &#{$bem-block}__gradient--color-scheme-surface {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-surface, 1) 50%, rgba($p-color-theme-dark-background-surface, 0) 100%);
        }
      }
    }

    &--next {
      &#{$bem-block}__gradient--color-scheme-default {
        background: linear-gradient(90deg, rgba($p-color-background-default, 0) 0%, rgba($p-color-background-default, 1) 50%);
      }

      &#{$bem-block}__gradient--color-scheme-surface {
        background: linear-gradient(90deg, rgba($p-color-background-surface, 0) 0%, rgba($p-color-background-surface, 1) 50%);
      }

      &#{$bem-block}__gradient--theme-dark {
        &#{$bem-block}__gradient--color-scheme-default {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-default, 0) 0%, rgba($p-color-theme-dark-background-default, 1) 50%);
        }

        &#{$bem-block}__gradient--color-scheme-surface {
          background: linear-gradient(90deg, rgba($p-color-theme-dark-background-surface, 0) 0%, rgba($p-color-theme-dark-background-surface, 1) 50%);
        }
      }
    }
  }
}
