@import '../../../setup/color-palette.setup.scss';
@import '../../../mixins/px-rem-converter.scss';
@import '../../../base/spacing/spacing.setup.scss';

$event-tile-offset: 0 !default;
$event-tile-inner-offset-top: rem(10px) !default;
$event-tile-inner-offset-bottom: $spacing-30 !default;
$event-tile-border-width: rem(1px) !default;
$event-tile-inner-border-color: $color-palette-grey-8 !default;
$event-tile-img-width: 100% !default;
$event-tile-img-height: 100% !default;
$event-tile-img-min-height: 100% !default;
