@import 'link-icon-text.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}link-icon-text {

  @include -text-size-copy;
  display: inline-block;
  text-decoration: none;

  &__label {
    @include -text-color-white;
    margin-left: $link-icon-text-label-spacing-left;
    display: block;

    &--black {
      @include -text-color-black;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:hover &__label,
  &:hover &__label--black {
    @include -text-color-red-1;
    text-decoration: none;
  }

  &__icon {
    @include -text-color-red-1;
    vertical-align: middle;
    line-height: inherit;
    float: left;
    margin-right: $link-icon-text-icon-horizontal-spacing;
  }
}
