@use 'sass:math';
@import 'internal';

/**
 * Converts px to rem unit
 * @param $px - only accepts value in px unit, e.g. 12px
 */
@function p-px-to-rem($px) {
  $p-rem-base: 16px;

  @if __p-is-px($px) {
    $px: __p-strip-unit($px);
    $base: __p-strip-unit($p-rem-base);
    @return math.div($px, $base) * 1rem;
  } @else {
    @error 'p-px-to-rem() Scss function only accepts value in px for param $px, e.g. 12px';
  }
}

/**
 * Converts rem to px unit
 * @param $rem - only accepts value in rem unit, e.g. 1.5rem
 */
@function p-rem-to-px($rem) {
  $p-rem-base: 16px;

  @if __p-is-rem($rem) {
    $rem: __p-strip-unit($rem);
    $base: __p-strip-unit($p-rem-base);
    @return ($rem * $base) * 1px;
  } @else {
    @error 'p-rem-to-px() Scss function only accepts value in rem for param $rem, e.g. 1.5rem';
  }
}

// generates static font definitions
@mixin p-generate-font-definition($size, $weight) {
  @include p-generate-type-scale($size);
  font-family: $p-font-family;
  font-weight: $weight;
}

/**
 * Calculates font-size and line-height to fit into Porsche Vertical Grid System
 * @param $size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@mixin p-generate-type-scale($size) {
  @if __p-is-rem($size) {
    font-size: $size;
  } @else if __p-is-px($size) {
    font-size: p-px-to-rem($size);
  } @else {
    @error 'p-generate-type-scale() Scss function only accepts value in rem or px for param $size, e.g. 12px or 1.5rem';
  }
  line-height: p-calculate-line-height($size);
}

/**
 * Calculates line-height depending on font-size that fits into Porsche Vertical Grid System
 * @param $font-size - only accepts value in rem or px, e.g. 12px or 1.5rem
 */
@function p-calculate-line-height($font-size) {
  @if __p-is-rem($font-size) {
    $font-size: p-rem-to-px($font-size);
  } @else if __p-is-px($font-size) {
    $font-size: $font-size;
  } @else {
    @error 'p-calculate-line-height() Scss function only accepts value in rem or px for param $font-size, e.g. 12px or 1.5rem';
  }

  $font-size: __p-strip-unit($font-size);
  $e: 2.71828;
  $exact-line-height-factor: math.div(0.911, (2.97 + 0.005 * __p-pow($e, 0.2 * $font-size))) + 1.2;
  $exact-line-height-px: $font-size * $exact-line-height-factor;
  $remaining-px: $exact-line-height-px % 4;

  @if $remaining-px > 2 {
    $remaining-px: $remaining-px - 4;
  }

  $fitted-line-height-px: $exact-line-height-px - $remaining-px;
  $fitted-line-height-factor: math.div($fitted-line-height-px, $font-size);

  @return $fitted-line-height-factor;
}

// Screen reader only styles to hide (text-)contents visually in the browser but grant access for screen readers
@mixin p-sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
