@import '../../../../../../packages/ui-kit-scss-utils/index';

:host {
  display: block;
}

.#{$p-global-class-prefix}pagination {
  $bem-block: &;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  &__items {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__goto,
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier,
      box-shadow $p-animation-hover-duration $p-animation-hover-bezier;
    position: relative;
    width: rem(40px);
    height: rem(40px);
    box-sizing: border-box;

    &:focus {
      // outline: 1px solid $p-color-theme-light-state-focus;
      // outline-offset: -1px;
      outline: none;
      box-shadow: inset 0 0 0 1px $p-color-theme-light-state-focus;
    }

    &:active {
      outline: none;
      color: $p-color-theme-light-brand;
    }
  }

  &__goto {
    @include p-text;
    color: $p-color-theme-light-default;
    text-decoration: none;
    cursor: pointer;

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &:hover {
      color: $p-color-theme-light-brand;

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-light-brand;
      }
    }

    &--current {
      cursor: default;

      &:hover {
        color: $p-color-theme-light-default;

        #{$bem-block}--theme-dark & {
          color: $p-color-theme-dark-default;
        }
      }

      &::after {
        content: '';
        background-color: $p-color-theme-light-brand;
        display: block;
        position: absolute;
        bottom: 0;
        left: rem(6px);
        right: rem(6px);
        height: rem(4px);
      }
    }

    &--ellipsis {
      cursor: default;

      &:hover {
        color: $p-color-theme-light-default;

        #{$bem-block}--theme-dark & {
          color: $p-color-theme-dark-default;
        }
      }

      &::after {
        content: '…';
      }
    }
  }

  &__prev,
  &__next {
    color: $p-color-theme-light-default;
    text-decoration: none;
    cursor: pointer;

    #{$bem-block}--theme-dark & {
      color: $p-color-theme-dark-default;
    }

    &:hover {
      color: $p-color-theme-light-brand;

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-light-brand;
      }
    }

    &--disabled {
      color: $p-color-theme-light-state-disabled;
      cursor: default;

      #{$bem-block}--theme-dark & {
        color: $p-color-theme-light-neutral-3;
      }

      &:hover {
        color: $p-color-theme-light-state-disabled;

        #{$bem-block}--theme-dark & {
          color: $p-color-theme-light-neutral-3;
        }
      }
    }
  }
}
