<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38934327-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-38934327-7');
    </script>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}

    <script>
      if (window.location.search.indexOf('disableCSSAnimations') > -1) {
        var style = document.createElement('style');
        style.textContent =
          '*, *::before, *::after { ' +
            '-moz-animation: none !important; ' +
            '-ms-animation: none !important; ' +
            '-webkit-animation: none !important; ' +
            'animation: none !important; ' +
            '-moz-transition: none !important; ' +
            '-ms-transition: none !important; ' +
            '-webkit-transition: none !important; ' +
            'transition: none !important; ' +
          '}';
        document.head.appendChild(style);
      }
    </script>


    <link rel="stylesheet" href="../../css/porsche-ui-kit-core.styleguide-scaffolding.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/porsche-stylesheets.css?{{ cacheBuster }}" media="all"/>

  </head>
  <body class="{{ bodyClass }}">

