    <!--DO NOT REMOVE-->
    {{{ patternLabFoot }}}
    <script src="../../js/porsche-ui-kit-core/polyfill.placeholder-shown.es5.min.js"></script>
    <script src="../../js/porsche-ui-kit-docs/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>

  </body>
</html>
