<div class="sg-markdown">
<h1 id="work-with-the-porsche-ui-kit">Work with the Porsche UI Kit</h1>
<h2 id="for-designer">For Designer</h2>
<p>Please visit <a target="_blank" href="https://ui.porsche.com/latest/#/getting-started/start-designing">the start designing section</a></p>
<h2 id="for-developer">For Developer</h2>
<p>We evolved the Porsche UI Kit from the HTML/CSS pattern library (<a target="_blank" href="https://ui.porsche.com/v0/core/">Porsche UI Kit V0 Core</a>) to an extended react component library (<a target="_blank" href="https://ui.porsche.com/v0/react/">Porsche UI Kit V0 React</a>). This libraries are not maintained anymore just updated with relevant bugfixes.</p>
<p>The V0 ressources are available as versioned NPM packages. To get access <a target="_blank" href="https://ui.porsche.com/v0/core/?p=docs-start-coding">follow the instructions here</a></p>
<p>The new <a target="_blank" href="https://ui.porsche.com/">Porsche UI Kit V1</a> is built upon web components and can be used within applications built in vanillaJS or with frameworks like react, vue or angular. The V1 releases are not yet published, but you can follow the <a target="_blank" href="https://ui.porsche.com/latest/#/news/roadmap">poadmap planning</a> or signup for the <a target="_blank" href="http://eepurl.com/ghVSjH">release notes</a></p>
<h2 id="general-explanations">General Explanations</h2>
<p>First decide on your working mode within your project:</p>
<p>A: Only integrate the Porsche UI Kit in your application and use them as basis and extend individually</p>
<ul>
<li>Try not to change existing elements but build upon them. So that you will be able to update the contents with fixes or new releases</li>
<li>Regulary check for new releases/changes and implement them to avoid growing debts</li>
<li>Join the #porsche-ui-kit slack channel to get informed and share your feedback</li>
<li>Get in touch with us to let us know you and kick-off introduce the Porsche UI Kit:<ul>
<li>Bertram, Marcel (VMK3) (Business)</li>
<li>Schroeter, Stephan (FIV4_EXTERN) (Tech)</li>
<li>Schaeffler, Anna (VMK_EXTERN) (Design)</li>
</ul>
</li>
</ul>
<p>B: Both integrate the Porsche UI Kit in your application and participate in jointly develop it</p>
<ul>
<li>Same as A but also</li>
<li>Follow the defined development standards and methologies to ensure a overall coding quality</li>
<li>Make your work transparent and public available for others and share your work, knowledge and feedback<ol>
<li>Participate in the regular Porsche UI Kit Sync</li>
<li>Publish your work public and share it</li>
</ol>
</li>
</ul>

</div>