<div class="tag {{ styleModifier }}">
  <div class="tag__container">
    <span class="tag__icon-container">
      <i class="tag__icon icon icon--{{tag_icon}}"></i>
    </span>
    <span class="tag__content-container">
      <span class="tag__content">
        {{tag_content}}
      </span>
    </span>
    <span class="tag__close icon icon--close"></span>
  </div>
</div>
