@import '../../setup/color-palette.setup.scss';
@import '../../base/tile/tile.setup.scss';
@import '../../modules/button/button-inline.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$tile-icon-headline-button-headline-color: $color-palette-white !default;

$tile-icon-headline-button-icon-color: $color-palette-grey-7 !default;

$tile-icon-headline-button-background-color: $color-palette-grey-9 !default;

$tile-icon-headline-button-height-default: $tile-height-default - $button-inline-height !default;
$tile-icon-headline-button-height-xs: $tile-height-xs - $button-inline-height !default;
$tile-icon-headline-button-height-s: $tile-height-s - $button-inline-height !default;
$tile-icon-headline-button-height-m: $tile-height-m - $button-inline-height !default;
$tile-icon-headline-button-height-l: $tile-height-l - $button-inline-height !default;

$tile-icon-headline-button-icon-height-default: rem(76px) !default;
$tile-icon-headline-button-icon-height-s: rem(90px) !default;
$tile-icon-headline-button-icon-height-l: rem(120px) !default;

$tile-icon-headline-button-text-width-default: 100% !default;
$tile-icon-headline-button-text-width-l: 65% !default;

$tile-icon-headline-button-height: 100% !default;

$tile-icon-headline-button-full-width: $tile-flex-full-width !default;
