@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$tile-height: 100% !default;
$tile-background-color: $color-palette-grey-9 !default;
$tile-unknown-color: $color-palette-grey-5 !default;
$tile-padding-vertical-s: rem(20px) !default;
