@import '../../setup/color-palette.setup.scss';
@import '../../base/tile/tile.setup.scss';
@import '../../modules/button/button-inline.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$tile-events-headline-color: $color-palette-grey-5 !default;
$tile-events-background-color: $color-palette-grey-9 !default;
$tile-events-item-text-color: $color-palette-white !default;
$tile-events-item-icon-color: $color-palette-red-1 !default;

$tile-events-item-text-color-hover: $color-palette-red-1 !default;

$tile-events-height-s: $tile-height-s - $button-inline-height !default;
$tile-events-height-m: $tile-height-m - $button-inline-height !default;
$tile-events-height-l: $tile-height-l - $button-inline-height !default;

$tile-events-icon-width: rem(22px) !default;
$tile-events-icon-offset: rem(-5px) !default;

$tile-events-icon-headline-icon-position-top: 0 !default;
