<div class="visualization-charging-time {{ styleModifier }}">
  <h2 class="visualization-charging-time__title">{{ visualization-charging-time_title }}</h2>
  <div class="visualization-charging-time__info">
    <span class="visualization-charging-time__icon"></span><!-- fighting the space between inline block elements
    --><span class="visualization-charging-time__value">{{ visualization-charging-time_value }}</span><!-- fighting the space between inline block elements
    --><span class="visualization-charging-time__unit">{{ visualization-charging-time_unit }}</span>
  </div>
</div>
