<div class="visualization-e-range {{ styleModifier }}">
  <h2 class="visualization-e-range__title">{{ visualization-e-range_title }}</h2>
  <div class="visualization-e-range__info">
    <span class="visualization-e-range__value">{{ visualization-e-range_value }}</span><!-- fighting the space between inline block elements
    --><span class="visualization-e-range__unit">{{ visualization-e-range_unit }}</span>
  </div>
</div>
