<h2 class="-text-size-3-thin -text-color-black">Flex Grid</h2>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--12">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--11 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--1 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--10 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--2 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--9 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--3 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--8 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--4 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--7 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--5 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--6 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--6 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--5 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--7 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--4 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--8 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--3 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--9 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--2 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--10 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--1 flex__child--gap-right">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="flex__child flex__child--11 flex__child--gap-left">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-row">
  <div class="flex__child flex__child--12">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="flex flex--direction-column flex--direction-row-m">
  <div class="flex__child flex__child--12 flex__child--6-m flex__child--gap-right-m">

    <h2 class="-text-size-3-regular -text-color-black -spacing-30">Modifier for the Parent</h2>

    <!-- ##########  Direction  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Direction ("flex-direction")</h2>

    <div class="flex">
      <div class="flex__child flex__child--6 flex__child--gap-right">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"row" (default)</p>
        <div class="flex flex--direction-row -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--4 flex__child--gap-right">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap-left">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--6 flex__child--gap-left">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"row reverse"</p>
        <div class="flex flex--direction-row-reverse -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--4 flex__child--gap-left">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap-right">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex">
      <div class="flex__child flex__child--6 flex__child--gap-right">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"column"</p>
        <div class="flex flex--direction-column -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--4 flex__child--gap-right">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap-right -spacing-12">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap-right -spacing-12">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--6 flex__child--gap-left">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"column reverse"</p>
        <div class="flex flex--direction-column-reverse -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--4 flex__child--gap-right -spacing-12">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap-right -spacing-12">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
          </div>
          <div class="flex__child flex__child--4 flex__child--gap-right">
            <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
          </div>
        </div>

      </div>
    </div>

    <!-- ##########  Main Axis (Justify Content)  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Main Axis ("justify-content")</h2>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"start" (default)</p>
    <div class="flex flex--main-axis-start -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--2 flex__child--gap-right">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--1 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--4 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"end"</p>
    <div class="flex flex--main-axis-end -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--2 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--1 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--4 flex__child--gap-left">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"center"</p>
    <div class="flex flex--main-axis-center -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--2 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--1 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--4 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"space between"</p>
    <div class="flex flex--main-axis-space-between -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--2 flex__child--gap-right">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--1 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--4 flex__child--gap-left">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"space around"</p>
    <div class="flex flex--main-axis-space-around -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--2 flex__child--gap-right">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--1 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--4 flex__child--gap-left">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"space evenly"</p>
    <div class="flex flex--main-axis-space-evenly -spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--2 flex__child--gap-right">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--1 flex__child--gap">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--4 flex__child--gap-left">
        <div style="height: 2rem; background: #00e6e6;"></div>
      </div>
    </div>

    <!-- ##########  Cross Axis (Align Items)  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Cross Axis ("align-items")</h2>

    <div class="flex">
      <div class="flex__child flex__child--6 flex__child--gap-right">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"start"</p>
        <div class="flex flex--cross-axis-start -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--3 flex__child--gap-right">
            <div style="height: 5rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 8rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 3rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap-left">
            <div style="height: 5rem; background: #00e6e6;"></div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--6 flex__child--gap-left">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"end"</p>
        <div class="flex flex--cross-axis-end -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--3 flex__child--gap-right">
            <div style="height: 5rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 8rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 3rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap-left">
            <div style="height: 5rem; background: #00e6e6;"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex">
      <div class="flex__child flex__child--6 flex__child--gap-right">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"center"</p>
        <div class="flex flex--cross-axis-center -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--3 flex__child--gap-right">
            <div style="height: 5rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 8rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 3rem; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap-left">
            <div style="height: 5rem; background: #00e6e6;"></div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--6 flex__child--gap-left">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"stretch" (default)</p>
        <div class="flex flex--cross-axis-stretch -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
          <div class="flex__child flex__child--3 flex__child--gap-right">
            <div style="height: 100%; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 100%; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap">
            <div style="height: 100%; background: #00e6e6;"></div>
          </div>
          <div class="flex__child flex__child--3 flex__child--gap-left">
            <div style="height: 100%; background: #00e6e6;"></div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="flex__child flex__child--12 flex__child--6-m flex__child--gap-left-m">

    <h2 class="-text-size-3-regular -text-color-black -spacing-30">Modifier for the Children</h2>

    <!-- ##########  Align Self (Flex Child)  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Align ("align-self")</h2>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"start"</p>
    <div class="flex flex--cross-axis-end -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--3 flex__child--gap-right">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap">
        <div style="height: 8rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap flex__child--align-start">
        <div style="height: 3rem; background: deeppink;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap-left">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"end"</p>
    <div class="flex -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--3 flex__child--gap-right">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap">
        <div style="height: 8rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap flex__child--align-end">
        <div style="height: 3rem; background: deeppink;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap-left">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"center"</p>
    <div class="flex -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--3 flex__child--gap-right">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap">
        <div style="height: 8rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap flex__child--align-center">
        <div style="height: 3rem; background: deeppink;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap-left">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"stretch"</p>
    <div class="flex -spacing-3" style="height: 10rem; background: rgba(0, 230, 230, .25);">
      <div class="flex__child flex__child--3 flex__child--gap-right">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap">
        <div style="height: 8rem; background: #00e6e6;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap flex__child--align-stretch">
        <div style="height: 100%; background: deeppink;"></div>
      </div>
      <div class="flex__child flex__child--3 flex__child--gap-left">
        <div style="height: 5rem; background: #00e6e6;"></div>
      </div>
    </div>

  </div>
</div>

