<h2 class="-text-size-3-thin -text-color-black">Grid Float</h2>

<div class="row">
  <div class="column column--12">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--11">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--1">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--10">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--2">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--9">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--3">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--8">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--4">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--7">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--5">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--6">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--6">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--5">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--7">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--4">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--8">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--3">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--9">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--2">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--10">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--1">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--11">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--12">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<h2 class="-text-size-3-regular -text-color-black -spacing-30">Modifier</h2>
<div class="row">
  <div class="column column--12 column--m-6">

    <!-- ##########  Direction  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Direction</h2>

    <div class="row">
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"default"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row">
            <div class="column column--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="column column--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="column column--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"reverse"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row">
            <div class="column column--4 column--reverse">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="column column--4 column--reverse">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="column column--4 column--reverse">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="column column--12 column--m-6">

    <!-- ##########  Gap  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Gap</h2>

    <div class="row">
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"gap-small"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row row--gap-small">
            <div class="column column--4 column--gap-small">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">S</div>
            </div>
            <div class="column column--4 column--gap-small">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">S</div>
            </div>
            <div class="column column--4 column--gap-small">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">S</div>
            </div>
          </div>
        </div>

      </div>
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"gap-zero"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row row--gap-zero">
            <div class="column column--4 column--gap-zero">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Z</div>
            </div>
            <div class="column column--4 column--gap-zero">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Z</div>
            </div>
            <div class="column column--4 column--gap-zero">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Z</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
