<h2 class="-text-size-3-thin -text-color-black">Grid Float</h2>

<div class="row">
  <div class="column column--12">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--11">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--1">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--10">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--2">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--9">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--3">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--8">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--4">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--7">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--5">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--6">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--6">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--5">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--7">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--4">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--8">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--3">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--9">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--2">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--10">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--1">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
  <div class="column column--11">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<div class="row">
  <div class="column column--12">
    <div class="-spacing-12" style="height: 1rem; background: #00e6e6;"></div>
  </div>
</div>

<h2 class="-text-size-3-regular -text-color-black -spacing-30">Modifier</h2>
<div class="row">
  <div class="column column--12 column--6-m">

    <!-- ##########  Direction  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Direction</h2>

    <div class="row">
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"normal" (default)</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row">
            <div class="column column--4 column--direction-normal">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="column column--4 column--direction-normal">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="column column--4 column--direction-normal">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"reverse"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row">
            <div class="column column--4 column--direction-reverse">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="column column--4 column--direction-reverse">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="column column--4 column--direction-reverse">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="column column--12 column--6-m">

    <!-- ##########  Gap  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Gap</h2>

    <div class="row">
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"normal" (default)</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row row--gap-normal">
            <div class="column column--4 column--gap-normal">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">N</div>
            </div>
            <div class="column column--4 column--gap-normal">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">N</div>
            </div>
            <div class="column column--4 column--gap-normal">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">N</div>
            </div>
          </div>
        </div>

      </div>
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"small"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row row--gap-small">
            <div class="column column--4 column--gap-small">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">S</div>
            </div>
            <div class="column column--4 column--gap-small">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">S</div>
            </div>
            <div class="column column--4 column--gap-small">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">S</div>
            </div>
          </div>
        </div>

      </div>
      <div class="column column--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"zero"</p>
        <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="row row--gap-zero">
            <div class="column column--4 column--gap-zero">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Z</div>
            </div>
            <div class="column column--4 column--gap-zero">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Z</div>
            </div>
            <div class="column column--4 column--gap-zero">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Z</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<h2 class="-text-size-3-regular -text-color-black -spacing-30">Breakpoint Specific Modifiers</h2>

<div class="row">
  <div class="column column--12">

    <p class="-text-size-copy -text-color-grey-7 -spacing-30"></p>
    <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">

      <div class="row">
        <div class="column column--12 column--6-m column--4-l">
          <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">Usually I'm using 12 cols, but at M it's 6 and L only 4</div>
        </div>
        <div class="column column--12 column--6-m column--8-l">
          <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">I start at 12, use 6 cols at M and 8 cols at L and above</div>
        </div>
      </div>
    </div>

    <div class="-spacing-3" style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="row row--gap-small-xs row--gap-zero-l row--gap-normal-xl">
        <div class="column column--12 column--4-s column--direction-reverse-s column--direction-normal-m column--gap-small-xs column--gap-zero-l column--gap-normal-xl">
          <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
        </div>
        <div class="column column--12 column--4-s column--direction-reverse-s column--direction-normal-m column--gap-small-xs column--gap-zero-l column--gap-normal-xl">
          <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
        </div>
        <div class="column column--12 column--4-s column--direction-reverse-s column--direction-normal-m column--gap-small-xs column--gap-zero-l column--gap-normal-xl">
          <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
        </div>
      </div>
    </div>

  </div>
</div>
