@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$how-to-description-item-width-s: 50% !default;

$how-to-description-image-width: 100% !default;

$how-to-description-info-width-s: 50% !default;

$how-to-description-navigate-button-height: rem(50px) !default;
