@import '../../setup/color-palette.setup.scss';

// ### IMPORTANT ###
// please don't use this variables as color definitions. They are only for the text-color mixins. Use instead
// common color-palette variables

// ci colors
$text-color-white: $color-palette-white !default;
$text-color-grey-1: $color-palette-grey-1 !default;
$text-color-grey-2: $color-palette-grey-2 !default;
$text-color-grey-3: $color-palette-grey-3 !default;
$text-color-grey-4: $color-palette-grey-4 !default;
$text-color-grey-5: $color-palette-grey-5 !default;
$text-color-grey-6: $color-palette-grey-6 !default;
$text-color-grey-7: $color-palette-grey-7 !default;
$text-color-grey-8: $color-palette-grey-8 !default;
$text-color-grey-9: $color-palette-grey-9 !default;
$text-color-grey-9-1: $color-palette-grey-9-1 !default;
$text-color-grey-10: $color-palette-grey-10 !default;
$text-color-grey-10-1: $color-palette-grey-10-1 !default;
$text-color-black: $color-palette-black !default;

$text-color-red-1: $color-palette-red-1 !default;
$text-color-red-2: $color-palette-red-2 !default;

$text-color-blue-1: $color-palette-blue-1 !default;
$text-color-blue-2: $color-palette-blue-2 !default;

// special colors
$text-color-acid-green: $color-palette-acid-green !default;

// status colors
$text-color-status-green: $color-palette-status-green !default;
$text-color-status-yellow: $color-palette-status-yellow !default;
$text-color-status-orange: $color-palette-status-orange !default;
$text-color-status-red: $color-palette-status-red !default;
