// sass-lint:disable empty-args
@import 'text-color.setup.scss';

// ci colors
@mixin -text-color-white() {
  color: $text-color-white;
}

@mixin -text-color-grey-1() {
  color: $text-color-grey-1;
}

@mixin -text-color-grey-2() {
  color: $text-color-grey-2;
}

@mixin -text-color-grey-3() {
  color: $text-color-grey-3;
}

@mixin -text-color-grey-4() {
  color: $text-color-grey-4;
}

@mixin -text-color-grey-5() {
  color: $text-color-grey-5;
}

@mixin -text-color-grey-6() {
  color: $text-color-grey-6;
}

@mixin -text-color-grey-7() {
  color: $text-color-grey-7;
}

@mixin -text-color-grey-8() {
  color: $text-color-grey-8;
}

@mixin -text-color-grey-9() {
  color: $text-color-grey-9;
}

@mixin -text-color-grey-9-1() {
  color: $text-color-grey-9-1;
}

@mixin -text-color-grey-10() {
  color: $text-color-grey-10;
}

@mixin -text-color-grey-10-1() {
  color: $text-color-grey-10-1;
}

@mixin -text-color-black() {
  color: $text-color-black;
}

@mixin -text-color-red-1() {
  color: $text-color-red-1;
}

@mixin -text-color-red-2() {
  color: $text-color-red-2;
}

@mixin -text-color-blue-1() {
  color: $text-color-blue-1;
}

@mixin -text-color-blue-2() {
  color: $text-color-blue-2;
}

// special colors
@mixin -text-color-acid-green() {
  color: $text-color-acid-green;
}

// status colors
@mixin -text-color-status-green() {
  color: $text-color-status-green;
}

@mixin -text-color-status-yellow() {
  color: $text-color-status-yellow;
}

@mixin -text-color-status-orange() {
  color: $text-color-status-orange;
}

@mixin -text-color-status-red() {
  color: $text-color-status-red;
}
