@use '../../utilities/src/index' as *;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #{$pds-theme-light-primary};
  --color-base: #{$pds-theme-light-background-base};
  --color-surface: #{$pds-theme-light-background-surface};
  --color-shading: #{$pds-theme-light-background-shading};
  --color-frosted: #{$pds-theme-light-background-frosted};
  --color-contrast-low: #{$pds-theme-light-contrast-low};
  --color-contrast-medium: #{$pds-theme-light-contrast-medium};
  --color-contrast-high: #{$pds-theme-light-contrast-high};
  --color-success: #{$pds-theme-light-notification-success};
  --color-success-soft: #{$pds-theme-light-notification-success-soft};
  --color-warning: #{$pds-theme-light-notification-warning};
  --color-warning-soft: #{$pds-theme-light-notification-warning-soft};
  --color-error: #{$pds-theme-light-notification-error};
  --color-error-soft: #{$pds-theme-light-notification-error-soft};
  --color-info: #{$pds-theme-light-notification-info};
  --color-info-soft: #{$pds-theme-light-notification-info-soft};
  --color-hover: #{$pds-theme-light-state-hover};
  --color-active: #{$pds-theme-light-state-active};
  --color-focus: #{$pds-theme-light-state-focus};
  --color-disabled: #{$pds-theme-light-state-disabled};
  --color-skeleton: #f7f7f7;

  // Forced light colors
  --color-primary-light: #{$pds-theme-light-primary};
  --color-base-light: #{$pds-theme-light-background-base};
  --color-surface-light: #{$pds-theme-light-background-surface};
  --color-shading-light: #{$pds-theme-light-background-shading};
  --color-frosted-light: #{$pds-theme-light-background-frosted};
  --color-contrast-low-light: #{$pds-theme-light-contrast-low};
  --color-contrast-medium-light: #{$pds-theme-light-contrast-medium};
  --color-contrast-high-light: #{$pds-theme-light-contrast-high};
  --color-success-light: #{$pds-theme-light-notification-success};
  --color-success-soft-light: #{$pds-theme-light-notification-success-soft};
  --color-warning-light: #{$pds-theme-light-notification-warning};
  --color-warning-soft-light: #{$pds-theme-light-notification-warning-soft};
  --color-error-light: #{$pds-theme-light-notification-error};
  --color-error-soft-light: #{$pds-theme-light-notification-error-soft};
  --color-info-light: #{$pds-theme-light-notification-info};
  --color-info-soft-light: #{$pds-theme-light-notification-info-soft};
  --color-hover-light: #{$pds-theme-light-state-hover};
  --color-active-light: #{$pds-theme-light-state-active};
  --color-focus-light: #{$pds-theme-light-state-focus};
  --color-disabled-light: #{$pds-theme-light-state-disabled};

  // Forced dark colors
  --color-primary-dark: #{$pds-theme-dark-primary};
  --color-base-dark: #{$pds-theme-dark-background-base};
  --color-surface-dark: #{$pds-theme-dark-background-surface};
  --color-shading-dark: #{$pds-theme-dark-background-shading};
  --color-frosted-dark: #{$pds-theme-dark-background-frosted};
  --color-contrast-low-dark: #{$pds-theme-dark-contrast-low};
  --color-contrast-medium-dark: #{$pds-theme-dark-contrast-medium};
  --color-contrast-high-dark: #{$pds-theme-dark-contrast-high};
  --color-success-dark: #{$pds-theme-dark-notification-success};
  --color-success-soft-dark: #{$pds-theme-dark-notification-success-soft};
  --color-warning-dark: #{$pds-theme-dark-notification-warning};
  --color-warning-soft-dark: #{$pds-theme-dark-notification-warning-soft};
  --color-error-dark: #{$pds-theme-dark-notification-error};
  --color-error-soft-dark: #{$pds-theme-dark-notification-error-soft};
  --color-info-dark: #{$pds-theme-dark-notification-info};
  --color-info-soft-dark: #{$pds-theme-dark-notification-info-soft};
  --color-hover-dark: #{$pds-theme-dark-state-hover};
  --color-active-dark: #{$pds-theme-dark-state-active};
  --color-focus-dark: #{$pds-theme-dark-state-focus};
  --color-disabled-dark: #{$pds-theme-dark-state-disabled};

  --font-porsche-next: #{$pds-font-family};

  --font-weight-normal: #{$pds-font-weight-regular};
  --font-weight-semibold: #{$pds-font-weight-semi-bold};
  --font-weight-bold: #{$pds-font-weight-bold};

  --leading-normal: #{$pds-font-line-height};

  --text-2xs: #{$pds-font-size-text-xx-small};
  --text-2xs--line-height: #{$pds-font-line-height};
  --text-xs: #{$pds-font-size-text-x-small};
  --text-xs--line-height: #{$pds-font-line-height};
  --text-base: #{$pds-font-size-text-small};
  --text-base--line-height: #{$pds-font-line-height};
  --text-sm: #{$pds-font-size-text-small};
  --text-sm--line-height: #{$pds-font-line-height};
  --text-md: #{$pds-font-size-text-medium};
  --text-md--line-height: #{$pds-font-line-height};
  --text-lg: #{$pds-font-size-text-large};
  --text-lg--line-height: #{$pds-font-line-height};
  --text-xl: #{$pds-font-size-text-x-large};
  --text-xl--line-height: #{$pds-font-line-height};
  --text-2xl: #{$pds-font-size-heading-xx-large};
  --text-2xl--line-height: #{$pds-font-line-height};

  --breakpoint-xs: #{$pds-breakpoint-xs}px;
  --breakpoint-sm: #{$pds-breakpoint-s}px;
  --breakpoint-md: #{$pds-breakpoint-m}px;
  --breakpoint-lg: #{$pds-breakpoint-l}px;
  --breakpoint-xl: #{$pds-breakpoint-xl}px;
  --breakpoint-2xl: #{$pds-breakpoint-xxl}px;

  // Default spacing
  --spacing: 0.25rem;

  --spacing-fluid-xs: #{$pds-spacing-fluid-x-small};
  --spacing-fluid-sm: #{$pds-spacing-fluid-small};
  --spacing-fluid-md: #{$pds-spacing-fluid-medium};
  --spacing-fluid-lg: #{$pds-spacing-fluid-large};
  --spacing-fluid-xl: #{$pds-spacing-fluid-x-large};
  --spacing-fluid-2xl: #{$pds-spacing-fluid-xx-large};

  --spacing-static-xs: #{$pds-spacing-static-x-small};
  --spacing-static-sm: #{$pds-spacing-static-small};
  --spacing-static-md: #{$pds-spacing-static-medium};
  --spacing-static-lg: #{$pds-spacing-static-large};
  --spacing-static-xl: #{$pds-spacing-static-x-large};
  --spacing-static-2xl: #{$pds-spacing-static-xx-large};

  --radius-sm: #{$pds-border-radius-small};
  --radius-md: #{$pds-border-radius-medium};
  --radius-lg: #{$pds-border-radius-large};

  --ease-base: #{$pds-motion-easing-base};
  --ease-in: #{$pds-motion-easing-in};
  --ease-out: #{$pds-motion-easing-out};

  // Undocumented but used by tailwind
  --default-border-width: #{$pds-border-width-base};
  --default-outline-width: #{$pds-border-width-base};
  --default-transition-timing-function: #{$pds-motion-easing-base};
  --default-transition-duration: #{$pds-motion-duration-short};

  /** Custom none namespace variables (https://tailwindcss.com/docs/theme#theme-variable-namespaces) */
  --border-width-thin: #{$pds-border-width-thin};

  --shadow-high: 0px 8px 40px rgba(0, 0, 0, 0.16); // Corresponds to drop-shadow-high style
  --shadow-medium: 0px 4px 16px rgba(0, 0, 0, 0.16); // Corresponds to drop-shadow-medium style
  --shadow-low: 0px 3px 8px rgba(0, 0, 0, 0.16); // Corresponds to drop-shadow-low style

  --blur-frosted: 32px;

  // Custom PDS variables
  --pds-duration-short: #{$pds-motion-duration-short};
  --pds-duration-moderate: #{$pds-motion-duration-moderate};
  --pds-duration-long: #{$pds-motion-duration-long};
  --pds-duration-very-long: #{$pds-motion-duration-very-long};

  --pds-gradient-to-bottom: to bottom,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;
  --pds-gradient-to-left: to left,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;
  --pds-gradient-to-right: to right,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;
  --pds-gradient-to-top: to top,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;

  // TODO: move to global.scss in Storefront
  --pds-grid-narrow-offset: #{$pds-grid-narrow-offset-base};
  --pds-grid-narrow-offset-sm: #{$pds-grid-narrow-offset-s};
  --pds-grid-narrow-offset-2xl: #{$pds-grid-narrow-offset-xxl};
  --pds-grid-basic-offset: #{$pds-grid-basic-offset-base};
  --pds-grid-basic-offset-sm: #{$pds-grid-basic-offset-s};
  --pds-grid-basic-offset-2xl: #{$pds-grid-basic-offset-xxl};
  --pds-grid-extended-offset: #{$pds-grid-extended-offset-base};
  --pds-grid-extended-offset-sm: #{$pds-grid-extended-offset-s};
  --pds-grid-extended-offset-2xl: #{$pds-grid-extended-offset-xxl};
  --pds-grid-wide-offset: #{$pds-grid-wide-offset-base};
  --pds-grid-wide-offset-sm: #{$pds-grid-wide-offset-s};
  --pds-grid-wide-offset-2xl: #{$pds-grid-wide-offset-xxl};
  --pds-grid-full-offset: #{$pds-grid-full-offset};

  // Animation
  --animate-skeleton: skeletonAnimation var(--pds-duration-long) var(--ease-base) infinite;

  @keyframes skeletonAnimation {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: -100%;
    }
  }
}

@layer theme {
  .light {
    --color-primary: #{$pds-theme-light-primary};
    --color-base: #{$pds-theme-light-background-base};
    --color-surface: #{$pds-theme-light-background-surface};
    --color-shading: #{$pds-theme-light-background-shading};
    --color-frosted: #{$pds-theme-light-background-frosted};
    --color-contrast-low: #{$pds-theme-light-contrast-low};
    --color-contrast-medium: #{$pds-theme-light-contrast-medium};
    --color-contrast-high: #{$pds-theme-light-contrast-high};
    --color-success: #{$pds-theme-light-notification-success};
    --color-success-soft: #{$pds-theme-light-notification-success-soft};
    --color-warning: #{$pds-theme-light-notification-warning};
    --color-warning-soft: #{$pds-theme-light-notification-warning-soft};
    --color-error: #{$pds-theme-light-notification-error};
    --color-error-soft: #{$pds-theme-light-notification-error-soft};
    --color-info: #{$pds-theme-light-notification-info};
    --color-info-soft: #{$pds-theme-light-notification-info-soft};
    --color-hover: #{$pds-theme-light-state-hover};
    --color-active: #{$pds-theme-light-state-active};
    --color-focus: #{$pds-theme-light-state-focus};
    --color-disabled: #{$pds-theme-light-state-disabled};
    --color-skeleton: #f7f7f7;
  }
  .dark {
    --color-primary: #{$pds-theme-dark-primary};
    --color-base: #{$pds-theme-dark-background-base};
    --color-surface: #{$pds-theme-dark-background-surface};
    --color-shading: #{$pds-theme-dark-background-shading};
    --color-frosted: #{$pds-theme-dark-background-frosted};
    --color-contrast-low: #{$pds-theme-dark-contrast-low};
    --color-contrast-medium: #{$pds-theme-dark-contrast-medium};
    --color-contrast-high: #{$pds-theme-dark-contrast-high};
    --color-success: #{$pds-theme-dark-notification-success};
    --color-success-soft: #{$pds-theme-dark-notification-success-soft};
    --color-warning: #{$pds-theme-dark-notification-warning};
    --color-warning-soft: #{$pds-theme-dark-notification-warning-soft};
    --color-error: #{$pds-theme-dark-notification-error};
    --color-error-soft: #{$pds-theme-dark-notification-error-soft};
    --color-info: #{$pds-theme-dark-notification-info};
    --color-info-soft: #{$pds-theme-dark-notification-info-soft};
    --color-hover: #{$pds-theme-dark-state-hover};
    --color-active: #{$pds-theme-dark-state-active};
    --color-focus: #{$pds-theme-dark-state-focus};
    --color-disabled: #{$pds-theme-dark-state-disabled};
    --color-skeleton: #1a1b1e;
  }
  .auto {
    @media (prefers-color-scheme: dark) {
      --color-primary: #{$pds-theme-dark-primary};
      --color-base: #{$pds-theme-dark-background-base};
      --color-surface: #{$pds-theme-dark-background-surface};
      --color-shading: #{$pds-theme-dark-background-shading};
      --color-frosted: #{$pds-theme-dark-background-frosted};
      --color-contrast-low: #{$pds-theme-dark-contrast-low};
      --color-contrast-medium: #{$pds-theme-dark-contrast-medium};
      --color-contrast-high: #{$pds-theme-dark-contrast-high};
      --color-success: #{$pds-theme-dark-notification-success};
      --color-success-soft: #{$pds-theme-dark-notification-success-soft};
      --color-warning: #{$pds-theme-dark-notification-warning};
      --color-warning-soft: #{$pds-theme-dark-notification-warning-soft};
      --color-error: #{$pds-theme-dark-notification-error};
      --color-error-soft: #{$pds-theme-dark-notification-error-soft};
      --color-info: #{$pds-theme-dark-notification-info};
      --color-info-soft: #{$pds-theme-dark-notification-info-soft};
      --color-hover: #{$pds-theme-dark-state-hover};
      --color-active: #{$pds-theme-dark-state-active};
      --color-focus: #{$pds-theme-dark-state-focus};
      --color-disabled: #{$pds-theme-dark-state-disabled};
      --color-skeleton: #1a1b1e;
    }
  }
}

// TODO: Do we want to expose grid gap?
// Grid
@utility pds-grid {
  @apply
    [--pds-grid-gap:clamp(16px,1.25vw+12px,36px)]
    [--pds-internal-grid-safe-zone:max(22px,10.625vw-12px)]
    [--_pds-grid-col:minmax(0,var(--pds-internal-grid-outer-column,calc(var(--pds-internal-grid-safe-zone)-var(--pds-grid-gap))))]
    grid
    grid-cols-[[full-start]_var(--_pds-grid-col)_[wide-start_extended-start_basic-start_narrow-start]_repeat(6,minmax(0,1fr))_[narrow-end_basic-end_extended-end_wide-end]_var(--_pds-grid-col)_[full-end]]
    gap-(--pds-grid-gap)
    min-w-[var(--pds-internal-grid-width-min,320px)]
    max-w-[var(--pds-internal-grid-width-max,2560px)]
    box-content
    mx-(--pds-internal-grid-margin,0)
    px-[calc(50%-var(--pds-internal-grid-margin,0px)-2560px/2)]
    sm:[--pds-internal-grid-safe-zone:calc(5vw-16px)]
    sm:grid-cols-[[full-start]_var(--_pds-grid-col)_[wide-start]_minmax(0,1fr)_[extended-start]_minmax(0,1fr)_[basic-start]_repeat(2,minmax(0,1fr))_[narrow-start]_repeat(8,minmax(0,1fr))_[narrow-end]_repeat(2,minmax(0,1fr))_[basic-end]_minmax(0,1fr)_[extended-end]_minmax(0,1fr)_[wide-end]_var(--_pds-grid-col)[full-end]]
    2xl:[--pds-internal-grid-safe-zone:min(50vw-880px,400px)];
}

// Grid: Area Narrow
@utility col-narrow {
  @apply [--_pds-grid-one-half:3] sm:[--_pds-grid-one-half:4] col-[narrow];
}

@utility col-start-narrow {
  @apply col-start-[narrow-start];
}

@utility col-end-narrow {
  @apply col-end-[narrow-end];
}

// Grid: Area Basic
@utility col-basic {
  @apply [--_pds-grid-one-half:3] [--_pds-grid-one-third:2] [--_pds-grid-two-thirds:4] sm:[--_pds-grid-one-half:6] sm:[--_pds-grid-one-third:4] sm:[--_pds-grid-two-thirds:8] col-[basic];
}

@utility col-start-basic {
  @apply col-start-[basic-start];
}

@utility col-end-basic {
  @apply col-end-[basic-end];
}

// Grid: Area Extended
@utility col-extended {
  @apply [--_pds-grid-one-half:3] sm:[--_pds-grid-one-half:7] col-[extended];
}

@utility col-start-extended {
  @apply col-start-[extended-start];
}

@utility col-end-extended {
  @apply col-end-[extended-end];
}

// Grid: Area Wide
@utility col-wide {
  @apply [--_pds-grid-one-half:3] sm:[--_pds-grid-one-half:8] col-[wide];
}

@utility col-start-wide {
  @apply col-start-[wide-start];
}

@utility col-end-wide {
  @apply col-end-[wide-end];
}

// Grid: Area Full
@utility col-full {
  @apply col-[full];
}

@utility col-start-full {
  @apply col-start-[full-start];
}

@utility col-end-full {
  @apply col-end-[full-end];
}

// Grid: Division
@utility col-span-one-half {
  @apply col-span-(--_pds-grid-one-half,1);
}

@utility col-span-one-third {
  @apply col-span-(--_pds-grid-one-third,1);
}

@utility col-span-two-thirds {
  @apply col-span-(--_pds-grid-two-thirds,1);
}

// Typography: Text
@utility pds-text-2xs {
  @apply font-porsche-next not-italic font-normal text-2xs text-primary;
}
@utility pds-text-xs {
  @apply font-porsche-next not-italic font-normal text-xs text-primary;
}
@utility pds-text-sm {
  @apply font-porsche-next not-italic font-normal text-sm text-primary;
}
@utility pds-text-md {
  @apply font-porsche-next not-italic font-normal text-md text-primary;
}
@utility pds-text-lg {
  @apply font-porsche-next not-italic font-normal text-lg text-primary;
}
@utility pds-text-xl {
  @apply font-porsche-next not-italic font-normal text-xl text-primary;
}

// Typography: Heading
@utility pds-heading-sm {
  @apply font-porsche-next not-italic font-semibold text-sm text-primary;
}
@utility pds-heading-md {
  @apply font-porsche-next not-italic font-semibold text-md text-primary;
}
@utility pds-heading-lg {
  @apply font-porsche-next not-italic font-semibold text-lg text-primary;
}
@utility pds-heading-xl {
  @apply font-porsche-next not-italic font-semibold text-xl text-primary;
}
@utility pds-heading-2xl {
  @apply font-porsche-next not-italic font-semibold text-2xl text-primary;
}

// Typography: Display
@utility pds-display-sm {
  @apply font-porsche-next not-italic font-normal leading-normal text-primary;
  font-size: #{$pds-font-size-display-small};
}
@utility pds-display-md {
  @apply font-porsche-next not-italic font-normal leading-normal text-primary;
  font-size: #{$pds-font-size-display-medium};
}
@utility pds-display-lg {
  @apply font-porsche-next not-italic font-normal leading-normal text-primary;
  font-size: #{$pds-font-size-display-large};
}

// Skeleton
@utility pds-skeleton {
  @apply animate-skeleton;
  @apply block rounded-sm;
  @apply bg-surface bg-[linear-gradient(to_right,transparent_0%,var(--color-skeleton)_20%,transparent_50%)] bg-position-[0_0] bg-size-[200%_100%];
}
