@use '../../utilities/src/index' as *;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #{$pds-theme-light-primary};
  --color-background-base: #{$pds-theme-light-background-base};
  --color-background-surface: #{$pds-theme-light-background-surface};
  --color-background-shading: #{$pds-theme-light-background-shading};
  --color-background-frosted: #{$pds-theme-light-background-frosted};
  --color-contrast-low: #{$pds-theme-light-contrast-low};
  --color-contrast-medium: #{$pds-theme-light-contrast-medium};
  --color-contrast-high: #{$pds-theme-light-contrast-high};
  --color-notification-success: #{$pds-theme-light-notification-success};
  --color-notification-success-soft: #{$pds-theme-light-notification-success-soft};
  --color-notification-warning: #{$pds-theme-light-notification-warning};
  --color-notification-warning-soft: #{$pds-theme-light-notification-warning-soft};
  --color-notification-error: #{$pds-theme-light-notification-error};
  --color-notification-error-soft: #{$pds-theme-light-notification-error-soft};
  --color-notification-info: #{$pds-theme-light-notification-info};
  --color-notification-info-soft: #{$pds-theme-light-notification-info-soft};
  --color-state-hover: #{$pds-theme-light-state-hover};
  --color-state-active: #{$pds-theme-light-state-active};
  --color-state-focus: #{$pds-theme-light-state-focus};
  --color-state-disabled: #{$pds-theme-light-state-disabled};

  // Forced light colors
  --color-primary-light: #{$pds-theme-light-primary};
  --color-background-base-light: #{$pds-theme-light-background-base};
  --color-background-surface-light: #{$pds-theme-light-background-surface};
  --color-background-shading-light: #{$pds-theme-light-background-shading};
  --color-background-frosted-light: #{$pds-theme-light-background-frosted};
  --color-contrast-low-light: #{$pds-theme-light-contrast-low};
  --color-contrast-medium-light: #{$pds-theme-light-contrast-medium};
  --color-contrast-high-light: #{$pds-theme-light-contrast-high};
  --color-notification-success-light: #{$pds-theme-light-notification-success};
  --color-notification-success-soft-light: #{$pds-theme-light-notification-success-soft};
  --color-notification-warning-light: #{$pds-theme-light-notification-warning};
  --color-notification-warning-soft-light: #{$pds-theme-light-notification-warning-soft};
  --color-notification-error-light: #{$pds-theme-light-notification-error};
  --color-notification-error-soft-light: #{$pds-theme-light-notification-error-soft};
  --color-notification-info-light: #{$pds-theme-light-notification-info};
  --color-notification-info-soft-light: #{$pds-theme-light-notification-info-soft};
  --color-state-hover-light: #{$pds-theme-light-state-hover};
  --color-state-active-light: #{$pds-theme-light-state-active};
  --color-state-focus-light: #{$pds-theme-light-state-focus};
  --color-state-disabled-light: #{$pds-theme-light-state-disabled};

  // Forced dark colors
  --color-primary-dark: #{$pds-theme-dark-primary};
  --color-background-base-dark: #{$pds-theme-dark-background-base};
  --color-background-surface-dark: #{$pds-theme-dark-background-surface};
  --color-background-shading-dark: #{$pds-theme-dark-background-shading};
  --color-background-frosted-dark: #{$pds-theme-dark-background-frosted};
  --color-contrast-low-dark: #{$pds-theme-dark-contrast-low};
  --color-contrast-medium-dark: #{$pds-theme-dark-contrast-medium};
  --color-contrast-high-dark: #{$pds-theme-dark-contrast-high};
  --color-notification-success-dark: #{$pds-theme-dark-notification-success};
  --color-notification-success-soft-dark: #{$pds-theme-dark-notification-success-soft};
  --color-notification-warning-dark: #{$pds-theme-dark-notification-warning};
  --color-notification-warning-soft-dark: #{$pds-theme-dark-notification-warning-soft};
  --color-notification-error-dark: #{$pds-theme-dark-notification-error};
  --color-notification-error-soft-dark: #{$pds-theme-dark-notification-error-soft};
  --color-notification-info-dark: #{$pds-theme-dark-notification-info};
  --color-notification-info-soft-dark: #{$pds-theme-dark-notification-info-soft};
  --color-state-hover-dark: #{$pds-theme-dark-state-hover};
  --color-state-active-dark: #{$pds-theme-dark-state-active};
  --color-state-focus-dark: #{$pds-theme-dark-state-focus};
  --color-state-disabled-dark: #{$pds-theme-dark-state-disabled};

  --font-porsche-next: #{$pds-font-family};

  --font-weight-normal: #{$pds-font-weight-regular};
  --font-weight-semibold: #{$pds-font-weight-semi-bold};
  --font-weight-bold: #{$pds-font-weight-bold};

  --leading-normal: #{$pds-font-line-height};

  --text-2xs: #{$pds-font-size-text-xx-small};
  --text-2xs--line-height: #{$pds-font-line-height};
  --text-xs: #{$pds-font-size-text-x-small};
  --text-xs--line-height: #{$pds-font-line-height};
  --text-base: #{$pds-font-size-text-small};
  --text-base--line-height: #{$pds-font-line-height};
  --text-sm: #{$pds-font-size-text-small};
  --text-sm--line-height: #{$pds-font-line-height};
  --text-md: #{$pds-font-size-text-medium};
  --text-md--line-height: #{$pds-font-line-height};
  --text-lg: #{$pds-font-size-text-large};
  --text-lg--line-height: #{$pds-font-line-height};
  --text-xl: #{$pds-font-size-text-x-large};
  --text-xl--line-height: #{$pds-font-line-height};
  --text-2xl: #{$pds-font-size-heading-xx-large};
  --text-2xl--line-height: #{$pds-font-line-height};

  --breakpoint-xs: #{$pds-breakpoint-xs}px;
  --breakpoint-sm: #{$pds-breakpoint-s}px;
  --breakpoint-md: #{$pds-breakpoint-m}px;
  --breakpoint-lg: #{$pds-breakpoint-l}px;
  --breakpoint-xl: #{$pds-breakpoint-xl}px;
  --breakpoint-2xl: #{$pds-breakpoint-xxl}px;

  // Default spacing
  --spacing: 0.25rem;

  --spacing-fluid-xs: #{$pds-spacing-fluid-x-small};
  --spacing-fluid-sm: #{$pds-spacing-fluid-small};
  --spacing-fluid-md: #{$pds-spacing-fluid-medium};
  --spacing-fluid-lg: #{$pds-spacing-fluid-large};
  --spacing-fluid-xl: #{$pds-spacing-fluid-x-large};
  --spacing-fluid-2xl: #{$pds-spacing-fluid-xx-large};

  --spacing-static-xs: #{$pds-spacing-static-x-small};
  --spacing-static-sm: #{$pds-spacing-static-small};
  --spacing-static-md: #{$pds-spacing-static-medium};
  --spacing-static-lg: #{$pds-spacing-static-large};
  --spacing-static-xl: #{$pds-spacing-static-x-large};
  --spacing-static-2xl: #{$pds-spacing-static-xx-large};

  --radius-sm: #{$pds-border-radius-small};
  --radius-md: #{$pds-border-radius-medium};
  --radius-lg: #{$pds-border-radius-large};

  --ease-base: #{$pds-motion-easing-base};
  --ease-in: #{$pds-motion-easing-in};
  --ease-out: #{$pds-motion-easing-out};

  // Undocumented but used by tailwind
  --default-border-width: #{$pds-border-width-base};
  // TODO: Outline offset
  --default-outline-width: #{$pds-border-width-base};
  --default-transition-timing-function: #{$pds-motion-easing-base};
  --default-transition-duration: #{$pds-motion-duration-short};

  /** Custom none namespace variables (https://tailwindcss.com/docs/theme#theme-variable-namespaces) */
  --border-width-thin: #{$pds-border-width-thin};
  --border-width-base: #{$pds-border-width-base};

  --duration-short: #{$pds-motion-duration-short};
  --duration-moderate: #{$pds-motion-duration-moderate};
  --duration-long: #{$pds-motion-duration-long};
  --duration-very-long: #{$pds-motion-duration-very-long};

  // Only --drop-shadow-xs|md.. available in tailwind variable namespace
  --drop-shadow-high: 0px 8px 40px rgba(0, 0, 0, 0.16);
  --drop-shadow-medium: 0px 4px 16px rgba(0, 0, 0, 0.16);
  --drop-shadow-low: 0px 3px 8px rgba(0, 0, 0, 0.16);

  // --blur-xs|md... would be available to customize
  --frosted-glass: 32px;

  --gradient-to-bottom: to bottom,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;
  --gradient-to-left: to left,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;
  --gradient-to-right: to right,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;
  --gradient-to-top: to top,
  hsla(0, 0%, 0%, 0.8) 0%,
  hsla(0, 0%, 0%, 0.8) 8.1%,
  hsla(0, 0%, 0%, 0.8) 15.5%,
  hsla(0, 0%, 0%, 0.8) 22.5%,
  hsla(0, 0%, 0%, 0.78) 29%,
  hsla(0, 0%, 0%, 0.73) 35.3%,
  hsla(0, 0%, 0%, 0.67) 41.2%,
  hsla(0, 0%, 0%, 0.6) 47.1%,
  hsla(0, 0%, 0%, 0.52) 52.9%,
  hsla(0, 0%, 0%, 0.44) 58.8%,
  hsla(0, 0%, 0%, 0.33) 64.7%,
  hsla(0, 0%, 0%, 0.22) 71%,
  hsla(0, 0%, 0%, 0.12) 77.5%,
  hsla(0, 0%, 0%, 0.05) 84.5%,
  hsla(0, 0%, 0%, 0.011) 91.9%,
  hsla(0, 0%, 0%, 0) 100%;

  --pds-grid-narrow-column-start: #{$pds-grid-narrow-column-start};
  --pds-grid-narrow-column-end: #{$pds-grid-narrow-column-end};
  --pds-grid-narrow-span-one-half: #{$pds-grid-narrow-span-one-half};
  --pds-grid-narrow-offset: #{$pds-grid-narrow-offset-base};
  --pds-grid-narrow-offset-sm: #{$pds-grid-narrow-offset-s};
  --pds-grid-narrow-offset-2xl: #{$pds-grid-narrow-offset-xxl};

  --pds-grid-basic-column-start: #{$pds-grid-basic-column-start};
  --pds-grid-basic-column-end: #{$pds-grid-basic-column-end};
  --pds-grid-basic-span-one-half: #{$pds-grid-basic-span-one-half};
  --pds-grid-basic-span-one-third: #{$pds-grid-basic-span-one-third};
  --pds-grid-basic-span-two-thirds: #{$pds-grid-basic-span-two-thirds};
  --pds-grid-basic-offset: #{$pds-grid-basic-offset-base};
  --pds-grid-basic-offset-sm: #{$pds-grid-basic-offset-s};
  --pds-grid-basic-offset-2xl: #{$pds-grid-basic-offset-xxl};

  --pds-grid-extended-column-start: #{$pds-grid-extended-column-start};
  --pds-grid-extended-column-end: #{$pds-grid-extended-column-end};
  --pds-grid-extended-span-one-half: #{$pds-grid-extended-span-one-half};
  --pds-grid-extended-offset: #{$pds-grid-extended-offset-base};
  --pds-grid-extended-offset-sm: #{$pds-grid-extended-offset-s};
  --pds-grid-extended-offset-2xl: #{$pds-grid-extended-offset-xxl};

  --pds-grid-wide-column-start: #{$pds-grid-wide-column-start};
  --pds-grid-wide-column-end: #{$pds-grid-wide-column-end};
  --pds-grid-wide-offset: #{$pds-grid-wide-offset-base};
  --pds-grid-wide-offset-sm: #{$pds-grid-wide-offset-s};
  --pds-grid-wide-offset-2xl: #{$pds-grid-wide-offset-xxl};

  --pds-grid-full-column-start: #{$pds-grid-full-column-start};
  --pds-grid-full-column-end: #{$pds-grid-full-column-end};
  --pds-grid-full-offset: #{$pds-grid-full-offset};

  @keyframes skeletonAnimation {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: -100%;
    }
  }
}

@layer theme {
  .light {
    --color-primary: #{$pds-theme-light-primary};
    --color-background-base: #{$pds-theme-light-background-base};
    --color-background-surface: #{$pds-theme-light-background-surface};
    --color-background-shading: #{$pds-theme-light-background-shading};
    --color-background-frosted: #{$pds-theme-light-background-frosted};
    --color-contrast-low: #{$pds-theme-light-contrast-low};
    --color-contrast-medium: #{$pds-theme-light-contrast-medium};
    --color-contrast-high: #{$pds-theme-light-contrast-high};
    --color-notification-success: #{$pds-theme-light-notification-success};
    --color-notification-success-soft: #{$pds-theme-light-notification-success-soft};
    --color-notification-warning: #{$pds-theme-light-notification-warning};
    --color-notification-warning-soft: #{$pds-theme-light-notification-warning-soft};
    --color-notification-error: #{$pds-theme-light-notification-error};
    --color-notification-error-soft: #{$pds-theme-light-notification-error-soft};
    --color-notification-info: #{$pds-theme-light-notification-info};
    --color-notification-info-soft: #{$pds-theme-light-notification-info-soft};
    --color-state-hover: #{$pds-theme-light-state-hover};
    --color-state-active: #{$pds-theme-light-state-active};
    --color-state-focus: #{$pds-theme-light-state-focus};
    --color-state-disabled: #{$pds-theme-light-state-disabled};
  }
  .dark {
    --color-primary: #{$pds-theme-dark-primary};
    --color-background-base: #{$pds-theme-dark-background-base};
    --color-background-surface: #{$pds-theme-dark-background-surface};
    --color-background-shading: #{$pds-theme-dark-background-shading};
    --color-background-frosted: #{$pds-theme-dark-background-frosted};
    --color-contrast-low: #{$pds-theme-dark-contrast-low};
    --color-contrast-medium: #{$pds-theme-dark-contrast-medium};
    --color-contrast-high: #{$pds-theme-dark-contrast-high};
    --color-notification-success: #{$pds-theme-dark-notification-success};
    --color-notification-success-soft: #{$pds-theme-dark-notification-success-soft};
    --color-notification-warning: #{$pds-theme-dark-notification-warning};
    --color-notification-warning-soft: #{$pds-theme-dark-notification-warning-soft};
    --color-notification-error: #{$pds-theme-dark-notification-error};
    --color-notification-error-soft: #{$pds-theme-dark-notification-error-soft};
    --color-notification-info: #{$pds-theme-dark-notification-info};
    --color-notification-info-soft: #{$pds-theme-dark-notification-info-soft};
    --color-state-hover: #{$pds-theme-dark-state-hover};
    --color-state-active: #{$pds-theme-dark-state-active};
    --color-state-focus: #{$pds-theme-dark-state-focus};
    --color-state-disabled: #{$pds-theme-dark-state-disabled};
  }
  .auto {
    @media (prefers-color-scheme: dark) {
      --color-primary: #{$pds-theme-dark-primary};
      --color-background-base: #{$pds-theme-dark-background-base};
      --color-background-surface: #{$pds-theme-dark-background-surface};
      --color-background-shading: #{$pds-theme-dark-background-shading};
      --color-background-frosted: #{$pds-theme-dark-background-frosted};
      --color-contrast-low: #{$pds-theme-dark-contrast-low};
      --color-contrast-medium: #{$pds-theme-dark-contrast-medium};
      --color-contrast-high: #{$pds-theme-dark-contrast-high};
      --color-notification-success: #{$pds-theme-dark-notification-success};
      --color-notification-success-soft: #{$pds-theme-dark-notification-success-soft};
      --color-notification-warning: #{$pds-theme-dark-notification-warning};
      --color-notification-warning-soft: #{$pds-theme-dark-notification-warning-soft};
      --color-notification-error: #{$pds-theme-dark-notification-error};
      --color-notification-error-soft: #{$pds-theme-dark-notification-error-soft};
      --color-notification-info: #{$pds-theme-dark-notification-info};
      --color-notification-info-soft: #{$pds-theme-dark-notification-info-soft};
      --color-state-hover: #{$pds-theme-dark-state-hover};
      --color-state-active: #{$pds-theme-dark-state-active};
      --color-state-focus: #{$pds-theme-dark-state-focus};
      --color-state-disabled: #{$pds-theme-dark-state-disabled};
    }
  }
}

@layer components {
  .pds-grid {
    @include pds-grid;
  }
}

@utility pds-text-2xs {
  @apply font-porsche-next not-italic font-normal text-2xs text-primary;
}
@utility pds-text-xs {
  @apply font-porsche-next not-italic font-normal text-xs text-primary;
}
@utility pds-text-sm {
  @apply font-porsche-next not-italic font-normal text-sm text-primary;
}
@utility pds-text-md {
  @apply font-porsche-next not-italic font-normal text-md text-primary;
}
@utility pds-text-lg {
  @apply font-porsche-next not-italic font-normal text-lg text-primary;
}
@utility pds-text-xl {
  @apply font-porsche-next not-italic font-normal text-xl text-primary;
}
@utility pds-text-2xl {
  @apply font-porsche-next not-italic font-normal text-2xl text-primary;
}

@utility pds-heading-sm {
  @apply font-porsche-next not-italic font-semibold text-sm text-primary;
}
@utility pds-heading-md {
  @apply font-porsche-next not-italic font-semibold text-md text-primary;
}
@utility pds-heading-lg {
  @apply font-porsche-next not-italic font-semibold text-lg text-primary;
}
@utility pds-heading-xl {
  @apply font-porsche-next not-italic font-semibold text-xl text-primary;
}
@utility pds-heading-2xl {
  @apply font-porsche-next not-italic font-semibold text-2xl text-primary;
}

@utility pds-display-sm {
  @apply font-porsche-next not-italic font-normal leading-normal text-primary;
  font-size: #{$pds-font-size-display-small};
}
@utility pds-display-md {
  @apply font-porsche-next not-italic font-normal leading-normal text-primary;
  font-size: #{$pds-font-size-display-medium};
}
@utility pds-display-lg {
  @apply font-porsche-next not-italic font-normal leading-normal text-primary;
  font-size: #{$pds-font-size-display-large};
}

@utility pds-skeleton {
  @include pds-skeleton('light');
  .dark {
    @include pds-skeleton('dark');
  }
  .auto {
    @media (prefers-color-scheme: dark) {
      @include pds-skeleton('dark');
    }
  }
}

