<a href="javascript:void(0);" class="link-text {{ styleModifier }}">
  <span class="link-text__label {{#if link-text_labelInverted }} link-text__label--inverted {{/if}}">{{ link-text_label }}</span>
</a>
