<div class="slider-vehicle {{ styleModifier }}">
    <div class="slider-vehicle__arrow slider-vehicle__arrow--prev icon-font icon-font--arrow-left-hair"></div>

    {{#each slider-vehicle_items }}
        <div class="slider-vehicle__item">
            <img src="{{ image }}" class="slider-vehicle__image">
            <span class="slider-vehicle__icon icon-font icon-font--arrow-right-thin"></span>
            <h4 class="slider-vehicle__title"> {{ title }} </h4>
            <span class="slider-vehicle__subtitle">  {{ subtitle }}  </span>
        </div>
    {{/each}}

    <div class="slider-vehicle__arrow slider-vehicle__arrow--next icon-font icon-font--arrow-right-hair"></div>
</div>
