@import '../../mixins/px-rem-converter.scss';
@import '../../setup/color-palette.setup.scss';

$price-view-header-margin-bottom: rem(8px) !default;

$price-view-row-padding-vertical: rem(8px) !default;
$price-view-row-padding-vertical-s: rem(16px) !default;
$price-view-row-border-bottom-size: rem(1px) !default;
$price-view-row-border-bottom-color: $color-palette-grey-3 !default;
