@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.area-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $p-color-white;
  width: 300px;
  height: 100vh;
  z-index: 1;
  border-right: 1px solid $p-color-grey-3;
  transition: transform 400ms ease-out, opacity 400ms ease-out;
  will-change: transform, opacity;
}

.area-sidebar.close {
  opacity: 0;
  transform: translateX(-100%);
}

.area-content {
  display: block;
  padding: $p-spacing-32;
  max-width: 1620px;
  transition: margin-left 400ms ease-out;

  @include breakpoint("s") {
    padding: $p-spacing-64;
  }

  @include breakpoint("m") {
    margin-left: 300px;
    padding: $p-spacing-64;
  }
}

.area-content.fullscreen {
  margin-left: 0;
  max-width: 1920px;
}

.sidebar-toggle {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 $p-spacing-8;
  height: 30px;
  background: $p-color-white;
  border: 1px solid $p-color-grey-4;
  cursor: pointer;
  color: $p-color-black;
  @include -text-size-small(600);
  &:focus {
    outline: 0;
  }
}
