@import '../../../setup/color-palette.setup.scss';
@import '../../../mixins/px-rem-converter.scss';
@import '../../../base/spacing/spacing.setup.scss';

$list-car-info-separator-color: $color-palette-grey-8 !default;
$list-car-info-reset: 0 !default;

$list-car-info-item-border-color: $color-palette-grey-8 !default;
$list-car-info-item-border-size: 1px !default;
$list-car-info-item-padding-vertical: rem(20px) !default;
$list-car-info-item-padding-vertical-s: rem(32px) !default;
$list-car-info-item-left-text-color: $color-palette-grey-5 !default;
$list-car-info-item-right-text-color: $color-palette-white !default;

$list-car-info-font-size: rem(14px) !default;
$list-car-info-icon-size: $spacing-24 !default;
$list-car-info-icon-margin-right: $spacing-12 !default;
