// sass-lint:disable empty-args
@mixin -align-left() {
  text-align: left;
}

@mixin -align-center() {
  text-align: center;
}

@mixin -align-right() {
  text-align: right;
}

@mixin -align-middle() {
  vertical-align: middle;
}
