@import '../../../../../../packages/ui-kit-scss-utils/index';

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}marque {
  display: block;

  > img {
    display: block;
  }
}
