@import '../../../../../../packages/ui-kit-scss-utils/index';

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}marque {
  position: relative;
  display: block;
  width: 102px;
  padding-top: 60.784%;

  @include breakpoint('m') {
    width: 123px;
  }

  > img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: auto;
  }
}
