<div
    class="pagination-dots
    {{ styleModifier }}
    {{#if pagination-dots_type-inverted}} pagination-dots--inverted {{/if}}
    {{#if pagination-dots_type-image}} pagination-dots--image {{/if}}
    {{#if pagination-dots_hidden-s}} pagination-dots--hidden-s {{/if}}"
>
    {{#each pagination-dots_dots}}
    <div
        class="pagination-dots__dot
        {{#if active}} pagination-dots__dot--active {{/if}}
        {{#if sizeSecondary}} pagination-dots__dot--size-secondary {{/if}}
        {{#if sizeTertiary}} pagination-dots__dot--size-tertiary {{/if}}"
    ></div>
    {{/each}}
</div>
