<nav role="navigation" 
    class="pagination-dots
    {{ styleModifier }}
    {{#if pagination-dots_hidden-s}} pagination-dots--hidden-s {{/if}}"
>
    <ul class="pagination-dots__list">
        {{#each pagination-dots_dots}}
        <li
            class="pagination-dots__item
            {{#if typeGrey}} pagination-dots__dot--type-grey {{/if}}
            {{#if typeBlack}} pagination-dots__dot--type-black {{/if}}
            {{#if typeImage}} pagination-dots__dot--type-image {{/if}}
            {{#if sizeSecondary}} pagination-dots__dot--size-secondary {{/if}}
            {{#if sizeTertiary}} pagination-dots__dot--size-tertiary {{/if}}
            {{#if active}} pagination-dots__dot--active {{/if}}"
        ></li>
        {{/each}}
    </ul>
</nav>
