<nav role="navigation" 
    class="pagination-dots
    {{ styleModifier }}
    {{#if pagination-dots_hidden-s}} pagination-dots--hidden-s {{/if}}"
>
    <ul class="pagination-dots__list">
        {{#each pagination-dots_dots}}
        <li class="pagination-dots__item">
            <span class="pagination-dots__dot
            {{#if ../pagination-dots_typeGrey}} pagination-dots__dot--type-grey {{/if}}
            {{#if ../pagination-dots_typeBlack}} pagination-dots__dot--type-black {{/if}}
            {{#if ../pagination-dots_typeImage}} pagination-dots__dot--type-image {{/if}}
            {{#if sizeSecondary}} pagination-dots__dot--size-secondary {{/if}}
            {{#if sizeTertiary}} pagination-dots__dot--size-tertiary {{/if}}
            {{#if active}} pagination-dots__dot--active {{/if}}
            "></span>
        </li>
        {{/each}}
    </ul>
</nav>
