@import "../../styles/base/index";

.#{$global-class-prefix}example {
  &__render {
    margin: $spacing-36 0;
    padding: $spacing-30;
    background-color: $color-palette-grey-1;
  }
  &__info {
    // Reset styles from story code for editor
    code {
      padding: initial;
      background-color: initial;
      border-radius: initial;
    }

    &__html {
    }
  }
}
