@import 'radio.setup.scss';
@import '../../setup/global-variables.scss';

// specific styling for angular
.ng-submitted {
  $bem-block: #{$global-class-prefix}radio;

  .#{$bem-block} {
    // angular specific selector, input is invalid
    .#{$bem-block}__field.ng-invalid ~ .#{$bem-block}__icon { // sass-lint:disable-line no-combinators force-element-nesting
      border-color: $radio-icon-border-color-error;

      &::before { // sass-lint:disable-line nesting-depth
        background-color: $radio-icon-inner-background-color-checked-error;
      }
    }

    .#{$bem-block}__field.ng-invalid ~ .#{$bem-block}__label { // sass-lint:disable-line no-combinators force-element-nesting
      color: $radio-label-text-color-error;

      .#{$bem-block}__label-link { // sass-lint:disable-line no-combinators nesting-depth
        color: $radio-label-link-text-color-error;
      }
    }

    &:hover .#{$bem-block}__field.ng-invalid:not(:checked):not(:disabled) ~ .#{$bem-block}__icon { // sass-lint:disable-line no-combinators force-element-nesting force-pseudo-nesting
      border-color: $radio-icon-border-color-error;
    }

    &:hover .#{$bem-block}__field.ng-invalid:checked:not(:disabled) ~ .#{$bem-block}__icon { // sass-lint:disable-line no-combinators force-element-nesting force-pseudo-nesting
      border-color: $radio-icon-border-color-checked-hovered-error;
      background-color: $radio-icon-outer-background-color-checked-hovered-error;

      &::before {
        background-color: $radio-icon-inner-background-color-checked-hovered-error;
      }
    }

    .#{$bem-block}__field.ng-invalid:disabled ~ .#{$bem-block}__icon, // sass-lint:disable-line no-combinators force-element-nesting force-pseudo-nesting
    &:hover .#{$bem-block}__field.ng-invalid:disabled ~ .#{$bem-block}__icon { // sass-lint:disable-line no-combinators force-element-nesting force-pseudo-nesting
      border-color: $radio-icon-border-color-disabled;

      &::before {
        background-color: $radio-icon-inner-background-color-disabled;
      }
    }

    .#{$bem-block}__field.ng-invalid:disabled ~ .#{$bem-block}__label, // sass-lint:disable-line no-combinators force-element-nesting force-pseudo-nesting
    &:hover .#{$bem-block}__field.ng-invalid:disabled ~ .#{$bem-block}__label { // sass-lint:disable-line no-combinators force-element-nesting force-pseudo-nesting
      color: $radio-label-text-color-disabled;

      .#{$bem-block}__label-link { // sass-lint:disable-line no-combinators
        color: $radio-label-link-text-color-disabled;

        &:active,
        &:focus,
        &:hover {
          color: $radio-label-link-text-color-disabled-hover;
        }
      }
    }
  }
}
