@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';
@import '../../../../styles/mixins';

:host {
  display: block;
}

$root: '.root';

input {
  position: absolute;
  z-index: 1;
  bottom: 2px;
  left: 2px;
  display: block;
  width: calc(100% - #{p-px-to-rem(44px)});
  height: p-px-to-rem(44px);
  padding: p-px-to-rem(10px);
  outline: transparent none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  opacity: 0;
  font-family: $p-font-family;
  font-weight: $p-font-weight-regular;
  font-size: $p-font-size-small;
  line-height: p-calculate-line-height($p-font-size-small);
  text-indent: 0;
  cursor: text;
  color: $p-color-default;
  background: $p-color-background-default;

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
    background: $p-color-theme-dark-background-default;
  }

  &::placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  // TODO: why with just one ':'?
  &:-moz-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  + span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: p-px-to-rem(48px);
    outline: transparent solid 1px;
    outline-offset: 2px;
    transition: box-shadow $p-animation-hover-duration-var $p-animation-hover-bezier;
    pointer-events: all;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium;

    #{$root}:hover & {
      box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
    }

    #{$root}--theme-dark & {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-medium;

      &:hover & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
      }
    }
  }

  &:hover:not(&--disabled):not(&--success):not(&--error) + span {
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;

    #{$root}--theme-dark & {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
    }
  }

  label:hover + &:not(&--disabled):not(&--success):not(&--error) + span {
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
  }

  #{$root}--theme-dark label:hover + &:not(&--disabled):not(&--success):not(&--error) + span {
    box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
  }

  &:focus {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;

    + span {
      cursor: not-allowed;
      box-shadow: inset 0 0 0 1px $p-color-state-disabled;

      #{$root}--theme-dark & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-state-disabled;
      }
    }
  }

  #{$root}--success {
    + span {
      box-shadow: inset 0 0 0 2px $p-color-notification-success;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-success;
      }
    }

    &:hover + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
      }
    }

    label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);
    }

    @at-root #{$root}--theme-dark#{&} label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
    }
  }

  #{$root}--error {
    + span {
      box-shadow: inset 0 0 0 2px $p-color-notification-error;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-error;
      }
    }

    &:hover + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
      }
    }

    label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);
    }

    @at-root #{$root}--theme-dark#{&} label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
    }
  }
}
