{{#if e-control_notificationOfflineBanner }}
  {{> organisms-notification-offline-banner }}
{{/if}}

<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d" }}

  <div class="row -spacing-c">
    <div class="column column--12">

      {{> organisms-car-selector-02-logged-in-selected }}

    </div>
  </div>
  <div class="row -spacing-12">
    <div class="column column--12">

      {{> organisms-timestamp-refresh-without-button }}

    </div>
  </div>
  <div class="row flex-s -spacing-b">
    <div class="column column--12 column--s-7 flex-s">

      {{> e-control-charge-status charge-status_chargeLevel=e-control.battery.chargeLevel
                                  charge-status_eRangeTitle=e-control.eRange.title
                                  charge-status_eRangeValue=e-control.eRange.value
                                  charge-status_eRangeUnit=e-control.eRange.unit
                                  charge-status_chargingTimeTitle=e-control.chargingTime.title
                                  charge-status_chargingTimeValue=e-control.chargingTime.value
                                  charge-status_chargingTimeUnit=e-control.chargingTime.unit
                                  charge-status_plugStatusLabel=e-control.plugStatus.label
                                  charge-status_isCharging=e-control.chargeStatus.isCharging
                                  charge-status_isPending=e-control.chargeStatus.isPending
                                  charge-status_hasError=e-control.chargeStatus.hasError }}

    </div>
    <div class="column column--12 column--s-5 flex-s">

      {{> e-control-charge-control styleModifier="-spacing-d -spacing-zero-s"
                                   charge-control_buttonLabel=e-control.charge-control.label
                                   charge-control_buttonDisabled=e-control.charge-control.disabled }}

    </div>
  </div>
  <div class="row -spacing-b">
    <div class="column column--12">

      {{> organisms-header-tile }}

      {{#*inline "list-expanded_content"}}
        {{> e-control-battery-charge-form-timer }}
      {{/inline}}
      {{> organisms-list-view styleModifier="-spacing-3" }}

    </div>
  </div>
  <div class="row row--zero flex-s -spacing-b">
    <div class="column column--12 column--s-6 column--m-4 column--zero flex flex--center-vertical -spacing-inner-a -background-grey-9">

      {{> e-control-e-range-map-selector }}

    </div>
    <div class="column column--12 column--s-6 column--m-8 column--zero flex-s">

      {{> e-control-e-range-map }}

    </div>
  </div>
</section>

{{#if e-control_blockingLayer}}
  {{> atoms-layer-blocking }}
{{/if}}
