$breakpoint-xs: 480;
$breakpoint-sm: 760;
$breakpoint-md: 1000;
$breakpoint-lg: 1300;
$breakpoint-xl: 1760;
$breakpoint-2xl: 1920;

$pds-breakpoint-base: 0; /* alias (deprecated) */
$pds-breakpoint-xs: 480; /* alias (deprecated) */
$pds-breakpoint-s: 760; /* alias (deprecated) */
$pds-breakpoint-m: 1000; /* alias (deprecated) */
$pds-breakpoint-l: 1300; /* alias (deprecated) */
$pds-breakpoint-xl: 1760; /* alias (deprecated) */
$pds-breakpoint-xxl: 1920; /* alias (deprecated) */
