<div class="charge-control {{ styleModifier }}">
  <h2 class="charge-control__title">{{ charge-control_title }}</h2>

  {{> molecules-button-inline
      styleModifier="charge-control__button"
      button-inline_label=charge-control_buttonLabel
      button-inline_icon="arrow-right-hair"
      button-inline_multi-lines-centered=true
      button-inline_disabled=charge-control_buttonDisabled }}

</div>