@import "../../../../../../../packages/ui-kit-scss-utils/index";

:host {
  display: block;

  ::slotted(a) {
    color: inherit;
    text-decoration: none;
  }
}

.#{$p-global-class-prefix}headline {
  $bem-block: &;
  padding: 0;
  margin: 0;

  &--variant {
    &-large-title {
      @include p-large-title;
    }

    &-headline-1 {
      @include p-headline-1;
    }

    &-headline-2 {
      @include p-headline-2;
    }

    &-headline-3 {
      @include p-headline-3;
    }

    &-headline-4 {
      @include p-headline-4;
    }

    &-headline-5 {
      @include p-headline-5;
    }

    &-headline-6 {
      @include p-headline-5;
    }
  }

  &--align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--color {
    &-brand {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-brand;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-brand;
      }
    }

    &-default {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-default;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-default;
      }
    }

    &-neutral-1 {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-neutral-1;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-neutral-1;
      }
    }

    &-neutral-2 {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-neutral-2;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-neutral-2;
      }
    }

    &-neutral-3 {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-neutral-3;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-neutral-3;
      }
    }

    &-notification-success {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-notification-success;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-success;
      }
    }

    &-notification-warning {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-notification-warning;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-warning;
      }
    }

    &-notification-error {
      &#{$bem-block}--theme-light {
        color: $p-color-theme-light-notification-error;
      }

      &#{$bem-block}--theme-dark {
        color: $p-color-theme-dark-notification-error;
      }
    }

    &-inherit {
      color: inherit;
    }
  }

  &--ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
