@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

:host {
  display: block;
  outline: 0 !important;
}

.root {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  &--theme-dark {
    @include p-focus($p-color-theme-dark-state-focus, 1px);

    .goto {
      &--current {
        &:hover {
          color: $p-color-theme-dark-default;
        }
        &::after {
          background-color: $p-color-theme-dark-brand;
        }
      }
    }

    .goto,
    .prev,
    .next {
      color: $p-color-theme-dark-default;
      &:hover {
        color: $p-color-theme-dark-state-hover;
      }
      &:active {
        color: $p-color-theme-dark-state-active;
      }
    }

    .prev,
    .next {
      &:hover {
        color: $p-color-theme-dark-state-hover;
      }
      &--disabled {
        color: $p-color-theme-dark-state-disabled;
      }
    }
  }

  &--size {
    &-5 {
      counter-reset: size 5;
    }
    &-7 {
      counter-reset: size 7;
    }

    @include p-media-query('xs') {
      &-5-xs {
        counter-reset: size 5;
      }
      &-7-xs {
        counter-reset: size 7;
      }
    }
    @include p-media-query('s') {
      &-5-s {
        counter-reset: size 5;
      }
      &-7-s {
        counter-reset: size 7;
      }
    }
    @include p-media-query('m') {
      &-5-m {
        counter-reset: size 5;
      }
      &-7-m {
        counter-reset: size 7;
      }
    }
    @include p-media-query('l') {
      &-5-l {
        counter-reset: size 5;
      }
      &-7-l {
        counter-reset: size 7;
      }
    }
    @include p-media-query('xl') {
      &-5-xl {
        counter-reset: size 5;
      }
      &-7-xl {
        counter-reset: size 7;
      }
    }
  }
}

.items {
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.goto,
.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;
  position: relative;
  width: p-px-to-rem(40px);
  height: p-px-to-rem(40px);
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  color: $p-color-default;
  @include p-focus($p-color-state-focus, 1px);

  &:active {
    outline: none;
    color: $p-color-state-active;
  }
}

.goto {
  @include p-text-small;

  &:hover {
    color: $p-color-state-hover;
  }

  &--current {
    cursor: default;

    &:hover {
      color: $p-color-default;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: p-px-to-rem(6px);
      right: p-px-to-rem(6px);
      height: p-px-to-rem(4px);
      background-color: $p-color-brand;
    }
  }

  &--ellipsis {
    cursor: default;
    pointer-events: none;

    &::after {
      content: '…';
    }
  }
}

.prev,
.next {
  &:hover {
    color: $p-color-state-hover;
  }

  &--disabled {
    cursor: default;
    pointer-events: none;
    color: $p-color-state-disabled;
  }
}
