@import "~@porscheui/ui-kit-react/src/styles/utility/index";

.teaser {
  &:first-child {
    margin-top: -$p-spacing-32;

    @include breakpoint("s") {
      margin-top: -$p-spacing-64;
    }
  }

  margin: {
    left: -$p-spacing-32;
    right: -$p-spacing-32;
  }

  @include breakpoint("s") {
    margin: {
      left: -$p-spacing-64;
      right: -$p-spacing-64;
    }
  }
}

.cover {
  position: relative;
  padding-top: 34%;
  overflow: hidden;
  background: $p-color-neutral-grey-2;
  border-bottom: 1px solid $p-color-neutral-grey-2;

  video {
    width: calc(100% + 4px);
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro {
  margin: {
    left: -$p-spacing-32;
    right: -$p-spacing-32;
  }
  padding: $p-spacing-32;

  @include breakpoint("s") {
    margin: {
      left: -$p-spacing-64;
      right: -$p-spacing-64;
    }
    padding: $p-spacing-64;
  }
  p a {
    text-decoration: none;
    color: $p-color-porsche-red;
    transition: color 0.3s;

    &:hover {
      color: $p-color-porsche-dark-red;
    }
  }

  h2 + p a {
    border-bottom: 1px solid $p-color-porsche-red;
  }
}

.newsletter {
  &:last-child {
    margin-bottom: -$p-spacing-32;

    @include breakpoint("s") {
      margin-bottom: -$p-spacing-64;
    }
  }

  margin: {
    left: -$p-spacing-32;
    right: -$p-spacing-32;
  }
  padding: $p-spacing-32;
  background: $p-color-surface-light;

  @include breakpoint("s") {
    margin: {
      left: -$p-spacing-64;
      right: -$p-spacing-64;
    }
    padding: $p-spacing-64;
  }

  a {
    border-bottom: 1px solid $p-color-porsche-red;
    text-decoration: none;
    color: $p-color-porsche-red;
    transition: color 0.3s;

    &:hover {
      color: $p-color-porsche-dark-red;
    }
  }
}
