@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.video-teaser {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: $p-color-grey-1;
  margin-top: -4rem;

  video {
    width: calc(100% + 4px);
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.teaser {
  position: relative;
  display: block;

  .img-wrap {
    position: relative;
    overflow: hidden;
    max-height: 240px;

    @include breakpoint("s") {
      min-height: 340px;
    }

    @include breakpoint("m") {
      min-height: 400px;
    }

    @include breakpoint("xl") {
      min-height: 500px;
    }
  }

  .img {
    position: relative;
    max-width: 100%;

    @include breakpoint("s") {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .text {
    margin-top: 60px;
    color: $p-color-black;
    padding: 0 $p-spacing-32;

    @include breakpoint("s") {
      position: relative;
      left: 0;
      right: 0;
      padding: 0 $p-spacing-64;
    }
  }

  .headline {
    position: absolute;
    left: 0;
    right: 0;
    top: $p-spacing-64;
    padding: 0 $p-spacing-32;

    @include breakpoint("s") {
      position: static;
      padding: 0 $p-spacing-64;
    }
  }

  .headline-large {
    display: block;
    line-height: 1;
    font-size: rem(48px);

    @include breakpoint("l") {
      font-size: rem(72px);
    }

    @include breakpoint("xl") {
      font-size: rem(99px);
    }
  }

  .subline {
    margin-top: $p-spacing-20;
  }
}

.mail-teaser {
  padding: $p-spacing-24;
  background-color: $p-color-grey-1;
}

.content {
  padding-top: $p-spacing-24;
}
