$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-3xl: 24px;
$radius-4xl: 32px;
$radius-full: calc(infinity * 1px);

$pds-border-radius-small: 4px; /* alias (deprecated) */
$pds-border-radius-medium: 6px; /* alias (deprecated) */
$pds-border-radius-large: 8px; /* alias (deprecated) */
$pds-border-width-base: 2px; /* alias (deprecated) */
$pds-border-width-thin: 1px; /* alias (deprecated) */
