@import '../../base/grid/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'modal-choose-dealer.setup.scss';

.#{$global-class-prefix}modal-choose-dealer {

  &__row {
    @include flex;
    @include flex--row-wrap;

    @include breakpoint('s', 'm') {
      @include flex--column-reverse;
    }

    @include breakpoint('s') {
      @include -spacing-a;
    }
  }

  &__map {
    @include -background-black;

    height: $modal-choose-dealer-map-height;
    width: $modal-choose-dealer-map-width;
    display: none;
    position: relative;

    @include breakpoint('s') {
      display: block;
    }
  }
}
