@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";
@import "~@porscheui/porsche-ui-kit/src/components/basic/text/text";

.#{$sg-prefix}story {
  padding: $p-spacing-60 120px;

  &__tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: $p-spacing-42;

    &__button {
      margin-right: $p-spacing-18;
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer;
    }
  }

  &__props {
    margin-bottom: $p-spacing-60;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-bottom: $p-spacing-24;
    max-width: 60em;
  }

  h1 {
    @include -text-size-1(600);
    margin-top: $p-spacing-30;
  }

  h2 {
    @include -text-size-2(600);
    margin-top: $p-spacing-30;
  }

  h3 {
    @include -text-size-3(600);
    margin-top: $p-spacing-24;
  }

  h4 {
    @include -text-size-4(600);
    margin-top: $p-spacing-18;
  }

  h5,
  h6 {
    @include -text-size-copy(600);
    margin-top: $p-spacing-18;
  }

  p {
    @include -text-size-copy;
    margin-top: $p-spacing-18;
  }

  hr {
    margin-top: $p-spacing-42;
    margin-bottom: $p-spacing-60;
    height: 1px;
    border: 0;
    border-top: 1px solid $p-color-grey-2;
  }

  code {
    padding: 3px;
    background-color: $p-color-grey-1;
    border-radius: 2px;
  }
}
