@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";
@import "~@porscheui/porsche-ui-kit/src/components/basic/text/text";

.#{$sg-prefix}story {
  padding: $p-spacing-60 120px;
  max-width: 1920px;

  &__props {
    margin-bottom: $p-spacing-60;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    padding: 0;
    margin: 0;
    max-width: 60em;
  }

  h1 {
    @include -text-size-2(600);
    margin-top: $p-spacing-60;
  }

  h2 {
    @include -text-size-3(600);
    margin-top: $p-spacing-30;
  }

  h3 {
    @include -text-size-4(600);
    margin-top: $p-spacing-24;
  }

  h4 {
    @include -text-size-4(600);
    margin-top: $p-spacing-18;
  }

  h5,
  h6 {
    @include -text-size-copy(600);
    margin-top: $p-spacing-18;
  }

  p {
    @include -text-size-copy;
    margin-top: $p-spacing-18;
  }

  ul,
  ol {
    @include -text-size-copy;
    margin-top: $p-spacing-18;
    margin-left: $p-spacing-18;
  }

  li {
    @include -text-size-copy;
  }

  hr {
    margin-top: $p-spacing-42;
    margin-bottom: $p-spacing-42;
    height: 1px;
    border: 0;
    border-top: 1px solid $p-color-grey-2;
  }

  blockquote {
    padding-left: $p-spacing-18;
    border-left: 5px solid $p-color-grey-3;
  }

  pre {
    display: block;
    padding: $p-spacing-12;
    background-color: $p-color-grey-1;
    code {
      padding: 0;
    }
  }

  code {
    padding: 2px 5px;
    background-color: $p-color-grey-1;
    border-radius: 2px;
  }

  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin-top: $p-spacing-60;
  }

  thead {
    @include -text-size-4(600);
  }

  tbody {
    @include -text-size-copy(400);
  }

  tr {
  }

  th {
    padding-bottom: $p-spacing-12;
    padding-right: $p-spacing-24;
  }

  td {
    border-bottom: 1px solid $p-color-grey-1;
    padding-top: $p-spacing-12;
    padding-bottom: $p-spacing-12;
    padding-right: $p-spacing-24;
  }
}
