@import "../../../common";

.#{$global-class-prefix}color-tile {
    $bem-block: &;

    &__preview-container {
        height: $spacing-18;
        width: $spacing-18;
        overflow: hidden;

        &--circle {
            border-radius: 9px;
        }
    }

    &__preview {
        display: inline-block;
        height: 100%;

        &--full {
            width: 100%;
        }

        &--split {
            width: 50%;
        }
    }

    &__label {
        display: block;
        margin-left: $spacing-6;
        margin-right: $spacing-6;
    }

    &--huge {
        #{$bem-block}__preview-container {
            height: 120px;
            width: 120px;

            &--circle {
                border-radius: 60px;
            }
        }

        #{$bem-block}__label {
            margin-left: $spacing-12;
        }
    }
}
