@mixin pds-focus($offset: 2px) {
  &:focus {
    outline: #0a0aff solid 2px;
    outline-offset: $offset;
    // why? have a look at this article https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
    &:not(:focus-visible) {
      outline-color: transparent;
    }
  }
}
