@import 'lib/border';
@import 'lib/theme';
@import 'lib/motion';

@mixin pds-skeleton($theme: 'light') {
  @if ($theme == 'dark') {
    background: $pds-theme-dark-background-surface
      linear-gradient(to right, transparent 0%, #1a1b1e 20%, transparent 50%)
      0
      0 /
      200%
      100%;
  } @else {
    background: $pds-theme-light-background-surface
      linear-gradient(to right, transparent 0%, #f7f7f7 20%, transparent 50%)
      0
      0 /
      200%
      100%;
  }

  display: block;
  border-radius: $pds-border-radius-small;

  animation: skeletonAnimation var(--animation-duration, $pds-motion-duration-long) $pds-motion-easing-base infinite;

  @keyframes skeletonAnimation {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: -100%;
    }
  }
}
