@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$modal-dynamic-overlay-dimensions: 100% !default;
$modal-dynamic-overlay-position: 0 !default;
$modal-dynamic-overlay-background-color: rgba($color-palette-grey-9-1, .9) !default;
$modal-dynamic-content-dimension: 100% !default;
$modal-dynamic-content-background-color: $color-palette-white !default;

$modal-dynamic-dialog-max-width: rem(1376px) !default;
$modal-dynamic-dialog-height: auto !default;
$modal-dynamic-dialog-outer-spacing-vertical: 0 !default;
$modal-dynamic-dialog-inner-spacing-vertical: 0 !default;
$modal-dynamic-dialog-inner-spacing-horizontal: 7% !default;

$modal-dynamic-icon-color: $color-palette-grey-7 !default;
$modal-dynamic-icon-color-hovered: $color-palette-red-1 !default;
$modal-dynamic-icon-safe-area: $spacing-12 !default;
$modal-dynamic-icon-safe-area-xs: $spacing-18 !default;

$modal-dynamic-title-max-width: 90% !default;
$modal-dynamic-body-max-height: 80% !default;

$modal-dynamic-footer-position: 0 !default;
$modal-dynamic-footer-width: 100% !default;
