@import '../../../mixins/px-rem-converter.scss';

$event-detail-contact-height: 100% !default;
$event-detail-contact-height-m: 100% !default;
$event-detail-contact-offset-bottom: rem(48xp) !default;
$event-detail-contact-position-left: 0 !default;
$event-detail-contact-position-bottom: 0 !default;
$event-detail-contact-map-width: 100% !default;
$event-detail-contact-map-pin-position-left: 50% !default;
$event-detail-contact-map-pin-position-top: 50% !default;
$event-detail-contact-map-pin-position-zero: 0 !default;
$event-detail-contact-map-pin-margin-top: rem(-25px) !default;
