@import '../../mixins/px-rem-converter.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';

$navigation-footer-item-header-inner-spacing-vertical: $spacing-18 !default;
$navigation-footer-item-header-inner-spacing-reset: 0 !default;
$navigation-footer-item-border-width: 1px !default;
$navigation-footer-item-border-color: $color-palette-grey-8 !default;

$navigation-footer-item-icon-font-size: $spacing-18 !default;
$navigation-footer-item-icon-line-height: rem(28px) !default;
