<div class="central-context-menu-flyout
  {{#if inverted}} central-context-menu-flyout--inverted {{/if}}">
  <div class="row">
    <div class="column column--12 column--6-s column--6-m column--4-l">
      <div class="central-context-menu-flyout__container">

        <span class="central-context-menu-flyout__close icon icon--close"></span>

        <div class="central-context-menu-flyout__content">
          {{#> central-context-menu-flyout_content}}PUT SOME CONTENT HERE{{/central-context-menu-flyout_content}}
        </div>

      </div>

    </div>

  </div>
</div>
