@import '../../base/align/align.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/display/display.mixin.scss';
@import './button-service.setup.scss';

.#{$global-class-prefix}button-service {
  $bem-block: &;

  @include flex;
  @include flex--direction(column);
  @include flex--align-items(stretch);
  @include -spacing-inner-b;
  @include -align-center;
  width: $button-service-width;
  min-width: $button-service-min-width;
  background-color: $button-service-background-color;
  border: 0;
  cursor: pointer;

  @include breakpoint('s') {
    height: $button-service-height-s;
    min-height: $button-service-min-height-s;
  }

  &--disabled {
    cursor: default;
    opacity: $button-service-disabled-opacity;

    #{$bem-block}__info > .icon {
      @include -display-none;
    }

    #{$bem-block}__info-headline {
      color: $button-service-disabled-color;
    }

    #{$bem-block}__info-subline {
      color: $button-service-disabled-color;
    }
  }

  &--loading {
    cursor: default;
    pointer-events: none;
    opacity: 1;

    #{$bem-block}__info {
      visibility: hidden;
    }

    #{$bem-block}__info-subline {
      @include -display-none;
    }
  }

  &:not(&--disabled) {
    &:hover,
    &:focus,
    &:active {
      #{$bem-block}__icon {
        animation: hover-icon $button-service-hover-duration ease;
        fill: $button-service-active-icon-color;
      }

      #{$bem-block}__info {
        &-headline {
          animation: hover-headline $button-service-hover-duration ease;
          color: $button-service-active-headline-color;
        }
      }
    }
  }

  &__icon {
    @include -display-none-xxs;
    @include -display-none-xs;
    fill: $button-service-icon-color;
    height: $button-service-icon-height;

    &-wrapper {
      @include flex-child-grow(1);
    }
  }

  &__info {
    @include flex;
    @include -align-left;

    @include breakpoint('s') {
      @include -spacing-12;
    }

    &-icon {
      @include -spacing-12(right);
      @include -text-size-5-thin;
      color: $button-service-info-icon-color;
    }

    &-headline {
      @include -text-size-5-thin;
      display: block;
      color: $button-service-headline-color;
    }

    &-subline {
      @include -text-size-copy;
      color: $button-service-subline-color;
    }

    &-subline-tooltip {
      @include -spacing-6(left);
      @include -align-middle;
      display: inline-block;
      font-size: $button-service-tooltip-icon-height;
      line-height: $button-service-tooltip-icon-height;
      cursor: pointer;
    }
  }

  @keyframes hover-icon {
    from {
      fill: $button-service-icon-color;
    }

    to {
      fill: $button-service-active-icon-color;
    }
  }

  @keyframes hover-headline {
    from {
      color: $button-service-headline-color;
    }

    to {
      color: $button-service-active-headline-color;
    }
  }
}
