@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

@mixin p-textarea-wrapper-label-text-visible() {
  position: static;
  width: fit-content;
  height: auto;
  margin: 0;
  padding: 0 0 $p-spacing-4 0;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin p-textarea-wrapper-label-text-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: block;
}

::slotted(textarea) {
  position: relative !important;
  width: 100% !important;
  min-height: p-px-to-rem(188px);
  display: block !important;
  padding: p-px-to-rem(10px) !important;
  margin: 0 !important;
  outline: transparent solid 1px !important;
  outline-offset: 4px !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border-width: 0 !important;
  border-top-color: transparent !important;
  background-color: transparent !important;
  opacity: 1 !important;
  font-family: $p-font-family !important;
  font-weight: $p-font-weight-regular !important;
  font-size: $p-font-size-small !important;
  line-height: p-calculate-line-height($p-font-size-small) !important;
  text-indent: 0 !important;
  color: $p-color-default !important;
  resize: vertical;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
}

// Focus
::slotted(textarea:focus) {
  outline-color: $p-color-neutral-contrast-medium !important;
}

:host([state='success']) ::slotted(textarea:focus) {
  outline-color: $p-color-notification-success !important;
}

:host([state='error']) ::slotted(textarea:focus) {
  outline-color: $p-color-notification-error !important;
}

::slotted(textarea:read-only:focus),
:host([state]) ::slotted(textarea:read-only:focus) {
  outline-color: transparent !important;
}

// Read only
::slotted(textarea:not(:disabled):read-only) {
  color: $p-color-neutral-contrast-medium !important;
}

// Disabled
::slotted(textarea:disabled) {
  color: $p-color-state-disabled !important;
  -webkit-text-fill-color: $p-color-state-disabled !important; // fix placeholder color bug in Safari
  cursor: not-allowed !important;
}

.#{$p-global-class-prefix}textarea-wrapper {
  $bem-block: &;

  &__label {
    display: block;
  }

  &__label-text,
  &__description-text {
    display: block;
    width: fit-content;
    color: $p-color-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &--disabled {
      color: $p-color-state-disabled;
    }

    &--visible {
      @include p-textarea-wrapper-label-text-visible;
    }

    &--hidden {
      @include p-textarea-wrapper-label-text-hidden;
    }

    @include p-media-query('xs') {
      &--visible-xs {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-xs {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('s') {
      &--visible-s {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-s {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('m') {
      &--visible-m {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-m {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('l') {
      &--visible-l {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-l {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }

    @include p-media-query('xl') {
      &--visible-xl {
        @include p-textarea-wrapper-label-text-visible;
      }

      &--hidden-xl {
        @include p-textarea-wrapper-label-text-hidden;
      }
    }
  }

  &__required {
    @include required;
  }

  &__description-text {
    color: $p-color-neutral-contrast-medium;

    &--disabled {
      color: $p-color-state-disabled;
    }

    #{$bem-block}__label-text ~ & {
      margin-top: -$p-spacing-4;
      padding-bottom: $p-spacing-8;
    }
  }

  &__fake-textarea {
    display: block;
    padding: p-px-to-rem(2px);
    background-color: $p-color-background-default;
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium;
    box-sizing: border-box;
    transition: box-shadow $p-animation-hover-duration $p-animation-hover-bezier,
      background-color $p-animation-hover-duration $p-animation-hover-bezier;

    &:hover:not(&--disabled):not(&--readonly):not(&--success):not(&--error),
    #{$bem-block}__label-text:hover ~ &:not(&--disabled):not(&--readonly):not(&--success):not(&--error) {
      box-shadow: inset 0 0 0 1px $p-color-default;
    }

    &--disabled {
      box-shadow: inset 0 0 0 1px $p-color-state-disabled;
      background-color: $p-color-background-default;
    }

    &--readonly {
      box-shadow: inset 0 0 0 1px #ebebeb;
      background-color: #ebebeb;
    }

    &--success {
      box-shadow: inset 0 0 0 2px $p-color-notification-success;

      &:hover,
      #{$bem-block}__label-text:hover ~ & {
        box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);
      }
    }

    &--error {
      box-shadow: inset 0 0 0 2px $p-color-notification-error;

      &:hover,
      #{$bem-block}__label-text:hover ~ & {
        box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);
      }
    }
  }

  &__message {
    margin-top: $p-spacing-4;
    color: $p-color-default;
    transition: color $p-animation-hover-duration $p-animation-hover-bezier;

    &--success {
      color: $p-color-notification-success;
    }

    &--error {
      color: $p-color-notification-error;
    }

    &--none {
      color: $p-color-default;
    }
  }
}
