@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

:host {
  display: block;
}

::slotted(textarea) {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  min-height: p-px-to-rem(192px); // min-height should be overridable
  display: block !important;
  padding: p-px-to-rem(11px) !important;
  margin: 0 !important;
  outline: transparent solid 1px !important;
  outline-offset: 2px !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border: 1px solid $p-color-neutral-contrast-medium !important;
  border-radius: 0 !important;
  background-color: $p-color-background-default !important;
  opacity: 1 !important;
  font-family: $p-font-family !important;
  font-weight: $p-font-weight-regular !important;
  font-size: $p-font-size-small !important;
  line-height: p-calculate-line-height($p-font-size-small) !important;
  text-indent: 0 !important;
  color: $p-color-default !important;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier,
    border-color $p-animation-hover-duration-var $p-animation-hover-bezier,
    background-color $p-animation-hover-duration-var $p-animation-hover-bezier !important;
  resize: vertical;
}

::slotted(textarea:hover) {
  border-color: $p-color-default !important;
}

::slotted(textarea:focus) {
  outline-color: $p-color-neutral-contrast-medium !important;
}

::slotted(textarea[readonly]:focus) {
  outline-color: transparent !important;
}

::slotted(textarea:disabled) {
  color: $p-color-state-disabled !important;
  border-color: $p-color-state-disabled !important;
  -webkit-text-fill-color: $p-color-state-disabled !important; // fix placeholder color bug in Safari
  cursor: not-allowed !important;
}

::slotted(textarea[readonly]) {
  border-color: #ebebeb !important;
  background-color: #ebebeb !important;
}

::slotted(textarea[readonly]:not(:disabled)) {
  color: $p-color-neutral-contrast-medium !important;
}

.root {
  $bem-block: &;
  display: block;
  position: relative;

  &--success,
  &--error {
    ::slotted(textarea) {
      border-width: 2px !important;
      padding: p-px-to-rem(10px) !important;
    }
    ::slotted(textarea[readonly]:focus) {
      outline-color: transparent !important;
    }
  }

  &--success {
    ::slotted(textarea) {
      border-color: $p-color-notification-success !important;
    }
    ::slotted(textarea:focus) {
      outline-color: $p-color-notification-success !important;
    }

    #{$bem-block}__text:hover ~ ::slotted(textarea:not(:disabled):not([readonly])),
    ::slotted(textarea:hover:not(:disabled):not([readonly])) {
      border-color: darken($p-color-notification-success, 12%) !important;
    }

    + .message {
      color: $p-color-notification-success;
    }
  }

  &--error {
    ::slotted(textarea) {
      border-color: $p-color-notification-error !important;
    }
    ::slotted(textarea:focus) {
      outline-color: $p-color-notification-error !important;
    }

    #{$bem-block}__text:hover ~ ::slotted(textarea:not(:disabled):not([readonly])),
    ::slotted(textarea:hover:not(:disabled):not([readonly])) {
      border-color: darken($p-color-notification-error, 12%) !important;
    }

    + .message {
      color: $p-color-notification-error;
    }
  }

  &--visible #{$bem-block}__text {
    @include form-text-visible;
  }

  &--hidden #{$bem-block}__text {
    @include form-text-hidden;
  }

  @include p-media-query('xs') {
    &--visible-xs #{$bem-block}__text {
      @include form-text-visible;
    }

    &--hidden-xs #{$bem-block}__text {
      @include form-text-hidden;
    }
  }

  @include p-media-query('s') {
    &--visible-s #{$bem-block}__text {
      @include form-text-visible;
    }

    &--hidden-s #{$bem-block}__text {
      @include form-text-hidden;
    }
  }

  @include p-media-query('m') {
    &--visible-m #{$bem-block}__text {
      @include form-text-visible;
    }

    &--hidden-m #{$bem-block}__text {
      @include form-text-hidden;
    }
  }

  @include p-media-query('l') {
    &--visible-l #{$bem-block}__text {
      @include form-text-visible;
    }

    &--hidden-l #{$bem-block}__text {
      @include form-text-hidden;
    }
  }

  @include p-media-query('xl') {
    &--visible-xl #{$bem-block}__text {
      @include form-text-visible;
    }

    &--hidden-xl #{$bem-block}__text {
      @include form-text-hidden;
    }
  }

  &--disabled #{$bem-block}__text {
    color: $p-color-state-disabled;
  }

  &__text {
    display: block;
    width: fit-content;
    color: $p-color-default;
    transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;

    &--description {
      color: $p-color-neutral-contrast-medium;
    }

    + #{$bem-block}__text--description {
      margin-top: -$p-spacing-4;
      padding-bottom: $p-spacing-8;
    }

    &:hover ~ ::slotted(textarea:not(:disabled):not([readonly])) {
      border-color: $p-color-default !important;
    }
  }
}

.required {
  @include required;
}

@include state-message;

.counter {
  position: absolute;
  bottom: p-px-to-rem(6px);
  right: p-px-to-rem(12px);
  pointer-events: none;
  color: $p-color-neutral-contrast-medium;
}
