{{#if climate_notificationOfflineBanner }}
  {{> organisms-notification-offline-banner }}
{{/if}}

<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d"
                            page-header_title=header_title
                            page-header_description=header_description  }}

  <div class="row -spacing-c">
    <div class="column column--12">

      {{> organisms-car-selector-02-logged-in-selected }}

    </div>
  </div>
  <div class="row -spacing-b">
    <div class="column column--12">
      <h2 class="-text-size-3-thin -text-color-white">{{ climate_runtimeStatus }}</h2>
    </div>
  </div>
  <div class="row -spacing-18 flex-m">
    <div class="column column--12 column--m-7 flex-m flex--column">

      {{> organisms-car-interior-ventilation
          car-interior-ventilation_fadeInImageActive=climate_carInteriorVentilationFadeInImageActive }}

      {{> organisms-status-bar
          styleModifier="-spacing-b flex--grow"
          status-bar_icon=climate_statusBarIcon
          status-bar_labelPrimary=climate_statusBarLabelPrimary
          status-bar_labelSecondary=climate_statusBarLabelSecondary
          status-bar_active=climate_statusBarActive
          status-bar_error=climate_statusBarError }}

    </div>
    <div class="column column--12 column--m-5 flex-m -spacing-b -spacing-zero-m">

      {{> climate-climatisation-control
          climatisation-control_buttonLabel=climate_climatisationControlButtonLabel
          climatisation-control_buttonDisabled=climate_climatisationControlButtonDisabled }}

    </div>
  </div>
  <div class="row -spacing-b">
    <div class="column column--12">

      {{> organisms-header-tile }}

      {{#*inline "list-expanded_content"}}
        {{> climate-form-climatisation-timer }}
      {{/inline}}
      {{> organisms-list-view styleModifier="-spacing-3" }}

    </div>
  </div>
</section>

{{#if climate_blockingLayer}}
  {{> atoms-layer-blocking }}
{{/if}}
