<section class="auth-info">
  {{#each auth-info_items }}
    <div class="auth-info__item">
      <h3 class="auth-info__headline">{{ auth-info_headline }}</h3>
      <div class="row">
        <div class="column column--12 column--xs-3 column--m-2">
          <figure class="auth-info__icon-box">
            <img class="auth-info__icon" src="{{ auth-info_icon }}" alt="">
          </figure>
        </div>
        <div class="column column--12 column--xs-9 column--m-10">
          <div class="auth-info__wysiwyg">
            <p>{{ auth-info_description }}</p>
            <p>{{ auth-info_description }}</p>
            {{#if auth-info_apps }}
              {{> charging-service-app-download
                  styleModifier="auth-info__apps"
                  app-download_items=auth-info_apps
              }}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</section>
