@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

// TODO: Remove this component it is outdated

.#{$global-class-prefix}wrapper {
  position: relative;

  &__header {
    padding: 1.125rem 1.125rem 1.125rem 0;

    &--zero-padding {
      padding: 0;
    }
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__content {

    &--zero-padding {
      padding: 0;
    }
  }

  &__body {
    padding: 1.125rem;
  }
}

@include breakpoint('s') {

  .#{$global-class-prefix}wrapper {
    &__header {
      padding: 1.5rem 1.5rem 1.5rem 0;

      &--zero-padding {
        padding: 0;
      }
    }

    &__body {
      padding: 1.5rem;

      &--zero-padding {
        padding: 0;
      }
    }
  }
}

@include breakpoint('l') {

  .#{$global-class-prefix}wrapper {
    &__header {
      padding: 1.875rem 1.875rem 1.875rem 0;

      &--zero-padding {
        padding: 0;
      }
    }

    &__body {
      padding: 1.875rem;

      &--zero-padding {
        padding: 0;
      }
    }
  }
}
