@import "../../../../styles/utility/index";

.#{$p-global-class-prefix}text {
  $bem-block: &;
  color: inherit;

  &--inline {
    display: inline;
  }

  &--align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &--ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // copy
  &--copy {
    @include p-text-copy;

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--small {
    @include p-text-small;

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  // generic text
  &--12 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-12);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--16 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-16);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--20 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-20);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--24 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-24);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--28 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-28);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--30 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-30);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--32 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-32);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--36 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-36);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--42 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-42);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--44 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-44);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--48 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-48);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--52 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-52);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }
  }

  &--60 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-60);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-60);
    }
  }

  &--62 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-62);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-62);
    }
  }

  &--72 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-72);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-72);
    }
  }

  &--84 {
    @include p-text-generic($weight: $p-font-weight-regular, $size: $p-text-size-84);

    > strong,
    > b {
      font-weight: $p-font-weight-bold;
    }

    &-thin {
      @include p-text-generic($weight: $p-font-weight-thin, $size: $p-text-size-84);
    }
  }

  &--color {
    &-white {
      color: $p-color-porsche-light;
    }

    &-black {
      color: $p-color-porsche-black;
      &#{$bem-block}--theme-inverted {
        color: $p-color-porsche-light;
      }
    }
  }

  &--theme-inverted {
    color: $p-color-porsche-light;
  }
}
