<section class="-wrapper-page">
  <h1 class="-text-size-3-thin -text-color-white -spacing-b">{{event-list_headline}}</h1>
  {{#each event-list_items}}
    {{>portal-event-tile}}
  {{/each}}
  <div class="row -spacing-d">
    <div class="column column--12">
      {{>organisms-next-best-actions header-tile_title="More Options"}}
    </div>
  </div>
</section>
