<section class="-wrapper-page">
  <h1 class="-text-size-3-thin -text-color-white -spacing-d">{{event-detail_headline}}</h1>

  <div class="row -spacing-c">
    <div class="column column--12">
      {{> organisms-tile-image-text-link
        tile-image-text-link_image=event-detail_image
        tile-image-text-link_headline=event-detail_title
        tile-image-text-link_text=event-detail_date
        tile-image-text-link_subText=event-detail_subText
        tile-image-text-link_subTextVisible=true
        tile-image-text-link_staticTile=true
        tile-image-text-link_invertedTextbar=true
        tile-image-text-link_showTextBlack=true
      }}
    </div>
  </div>
  <div class="row">
    <div class="column column--12">
      <div class="-background-white  -text-size-copy -spacing-inner-a">
        <p>{{event-detail_description}}</p>
        {{#each event-detail_description}}
          <p class="-spacing-a">{{this}}</p>
        {{/each}}

        <h2 class="-text-size-3-thin -spacing-d">Termin in meinem Kalender speichern</h2>

        <div class="row">
          <div class="column column--12 column--m-4 column--l-3">
            {{> molecules-button-primary styleModifier="-spacing-18"
            button-primary_stretch = false
            button-primary_label=event-detail_calendarHeadline
            button-primary_icon="arrow-right-thin" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row  -text-color-white -font-primary -spacing-b">
    <div class="column column--12">

      {{> portal-event-detail-contact}}
    </div>
  </div>

  <div class="row -spacing-d">
    <div class="column column--12">
      {{>organisms-next-best-actions header-tile_title="More Options"}}
    </div>
  </div>
</section>
