<section class="-wrapper-page">
  <div class="row flex-s">
    <div class="column column--12 -spacing-c">

      {{> organisms-car-chooser }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 -spacing-c">

      {{> organisms-notification-common-02-button }}

    </div>
  </div>

  <div class="row flex-s">
    <div class="column column--12 column--m-8 -spacing-c">
      {{> portal-vehicle-overview }}
    </div>
  </div>

  <div class="row flex-s">
    <div class="column column--12 -spacing-c">

      {{> organisms-tile-slider
          tile-slider_image="../../images/portal/home/banner_typ-a-l8_2x.jpg"
          tile-slider_headline="Porsche Motorsport"
          tile-slider_text="Aus Leidenschaft. Aus Tradition. Aus Prinzip."
          tile-slider_invert=true
          tile-slider_textUpperLeft=true
          tile-slider_textUpperRight=false }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 column--m-4 -spacing-c">

      {{> portal-tile-financial-services
          tile-financial-services_buttonLabel="Mein Konto verwalten"
          tile-financial-services_contentBottomTextLabel="Konto verwalten oder Zahlung tätigen" }}

    </div>
    <div class="column column--12 column--m-8 -spacing-c">

      {{> organisms-tile-image-text-link
          tile-image-text-link_image="../../images/portal/home/brandstory_typ-a-l8_2x.jpg"
          tile-image-text-link_headline="Christophorus - Das Porsche Magazin"
          tile-image-text-link_text="Neben spannenden Informationen zu Fahrzeugen und Technik bietet das Magazin exklusive Einblicke in das Unternehmen." }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 column--m-6 -spacing-c">

      {{> organisms-tile-events
          }}

    </div>
    <div class="column column--12 column--m-6 -spacing-c">

      {{> organisms-tile-image-text-link
          tile-image-text-link_image="../../images/portal/home/tequipment_typ-a-l6_2x.jpg"
          tile-image-text-link_headline="Tequipment Finder"
          tile-image-text-link_text="Das Zubehörprogramm von Porsche Tequipment" }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 column--m-6 -spacing-c">

      {{> organisms-tile-image-text-link
          tile-image-text-link_image="../../images/portal/home/sales_typ-a-l6_2x.jpg"
          tile-image-text-link_headline="Porsche Driver's Selection"
          tile-image-text-link_text="Attraktive Accessoires im klassischen Porsche Design" }}

    </div>
    <div class="column column--12 column--m-6 -spacing-c">

      {{> organisms-tile-image-text-link
          tile-image-text-link_image="../../images/portal/home/icc_typ-a-l6_2x.jpg"
          tile-image-text-link_headline="Car Configurator"
          tile-image-text-link_text="Konfigurieren Sie Ihr persönliches Fahrzeug" }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 column--m-4 -spacing-c">

      {{> organisms-tile-image-headline-button
          tile-image-headline-button_image="../../images/portal/home/tutorial_typ-a-l6_2x.jpg"
          tile-image-headline-button_buttonActive=false
          tile-image-headline-button_buttonLabel="Einführung starten"
          tile-image-headline-button_headline="Erste Schritte in My Porsche"
          tile-image-headline-button_headlineWidthS=true }}

    </div>
    <div class="column column--12 column--m-4 -spacing-c">

      {{> organisms-tile-image-text-link
          tile-image-text-link_image="../../images/portal/home/store_typ-a-l6_2x.jpg"
          tile-image-text-link_headline="Porsche Connect Store"
          tile-image-text-link_textInvisible=true }}

    </div>
    <div class="column column--12 column--m-4 -spacing-c">

      {{> organisms-tile-icon-headline-button-01-with-text
          tile-icon-headline-button_icon="phone"
          tile-icon-headline-button_buttonActive=false
          tile-icon-headline-button_headline="AT&T"
          tile-icon-headline-button_text="Wireless connectivity"
          tile-icon-headline-button_buttonLabel="Mehr erfahren" }}

    </div>
  </div>

  {{> organisms-footer footer_loggedIn=true styleModifier="-spacing-f"}}
</section>
