@import "../../../../../../packages/utilities/projects/utilities/scss";
@import '../../../styles/pds-internal.variables';

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}icon {
  $bem-block: &;
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: p-rem(24px);
  height: p-rem(24px);

  &--size {
    &-small {
      width: p-rem(24px);
      height: p-rem(24px);
    }

    &-medium {
      width: p-rem(36px);
      height: p-rem(36px);
    }

    &-large {
      width: p-rem(48px);
      height: p-rem(48px);
    }

    &-inherit {
      width: inherit;
      height: inherit;
    }
  }

  &--color {
    &-brand {
      &#{$bem-block}--theme-light {
        fill: $p-color-brand;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-brand;
      }
    }

    &-default {
      &#{$bem-block}--theme-light {
        fill: $p-color-default;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-default;
      }
    }

    &-neutral-contrast-high {
      &#{$bem-block}--theme-light {
        fill: $p-color-neutral-contrast-high;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-neutral-contrast-high;
      }
    }

    &-neutral-contrast-medium {
      &#{$bem-block}--theme-light {
        fill: $p-color-neutral-contrast-medium;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-neutral-contrast-medium;
      }
    }

    &-neutral-contrast-low {
      &#{$bem-block}--theme-light {
        fill: $p-color-neutral-contrast-low;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-neutral-contrast-low;
      }
    }

    &-notification-success {
      &#{$bem-block}--theme-light {
        fill: $p-color-notification-success;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-notification-success;
      }
    }

    &-notification-warning {
      &#{$bem-block}--theme-light {
        fill: $p-color-notification-warning;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-notification-warning;
      }
    }

    &-notification-error {
      &#{$bem-block}--theme-light {
        fill: $p-color-notification-error;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-notification-error;
      }
    }

    &-notification-neutral {
      &#{$bem-block}--theme-light {
        fill: $p-color-notification-neutral;
      }

      &#{$bem-block}--theme-dark {
        fill: $p-color-theme-dark-notification-neutral;
      }
    }

    &-inherit {
      fill: currentColor;
    }
  }
}
