@import '../../../../../../packages/utilities/src/scss/index';

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}marque {
  display: block;
  width: 100px;
  height: 60px;

  @include p-breakpoint('l') {
    width: 120px;
    height: 72px;
  }

  > img {
    display: block;
    width: 100%;
    height: auto;
  }
}
