@import "../../../styles/utility/index";

:host {
  display: inline-flex;
}

.#{$p-global-class-prefix}button-regular {
  $bem-block: &;
  display: inline-flex;
  width: rem(48px);
  height: rem(48px);
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%; // fix for Chrome and Safari
  appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: $p-color-neutral-grey-8;
  border: 1px solid $p-color-neutral-grey-8;
  color: $p-color-porsche-light;
  transition: background-color $p-animation-hover-duration $p-animation-hover-bezier,
    border-color $p-animation-hover-duration $p-animation-hover-bezier,
    box-shadow $p-animation-hover-duration $p-animation-hover-bezier;

  &::-moz-focus-inner {
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &--theme-dark {
    color: $p-color-porsche-black;
    background-color: $p-color-porsche-light;
    border-color: $p-color-porsche-light;
  }

  &:enabled,
  &:not([disabled]) {
    &:hover,
    &:active {
      background-color: $p-color-neutral-grey-7;
      border-color: $p-color-neutral-grey-7;
      text-decoration: none;

      &#{$bem-block}--theme-dark {
        background-color: $p-color-neutral-grey-1;
        border-color: $p-color-neutral-grey-1;
      }
    }
    &:focus:not([aria-disabled="true"]) {
      box-shadow: inset 0 0 0 1px $p-color-state-focus;
      border-color: $p-color-state-focus;

      &#{$bem-block}--theme-dark {
        border-color: $p-color-state-focus;
      }
    }
  }

  &:disabled,
  &[disabled],
  &[aria-disabled="true"] {
    cursor: default;
    pointer-events: none;
    color: $p-color-neutral-grey-5;
    background-color: $p-color-neutral-grey-2;
    border-color: $p-color-neutral-grey-2;

    &#{$bem-block}--theme-dark {
      color: $p-color-neutral-grey-4;
      background-color: $p-color-neutral-grey-7;
      border-color: $p-color-neutral-grey-7;
    }
  }

  &--ghost {
    color: $p-color-porsche-black;
    background-color: transparent;
    border-color: $p-color-neutral-grey-8;

    &#{$bem-block}--theme-dark {
      color: $p-color-porsche-light;
      border-color: $p-color-porsche-light;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        color: $p-color-porsche-light;
        background-color: $p-color-neutral-grey-8;
        border-color: $p-color-neutral-grey-8;

        &#{$bem-block}--theme-dark {
          color: $p-color-porsche-black;
          background-color: $p-color-porsche-light;
          border-color: $p-color-porsche-light;
        }
      }

      &:focus:not([aria-disabled="true"]) {
        border-color: $p-color-state-focus;

        &#{$bem-block}--theme-dark {
          border-color: $p-color-state-focus;
        }
      }
    }

    &:disabled,
    &[disabled],
    &[aria-disabled="true"] {
      color: $p-color-neutral-grey-5;
      background-color: transparent;
      border-color: $p-color-neutral-grey-2;

      &#{$bem-block}--theme-dark {
        color: $p-color-neutral-grey-4;
        background-color: transparent;
        border-color: $p-color-neutral-grey-7;
      }
    }
  }

  &--transparent {
    color: $p-color-porsche-black;
    background-color: transparent;
    border-color: transparent;

    &#{$bem-block}--theme-dark {
      color: $p-color-porsche-light;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        color: $p-color-porsche-dark-red;
        background-color: transparent;
        border-color: transparent;

        &#{$bem-block}--theme-dark {
          color: $p-color-porsche-red;
          background-color: transparent;
          border-color: transparent;
        }
      }

      &:focus:not([aria-disabled="true"]) {
        border-color: $p-color-state-focus;

        &#{$bem-block}--theme-dark {
          border-color: $p-color-state-focus;
        }
      }
    }

    &:disabled,
    &[disabled],
    &[aria-disabled="true"] {
      color: $p-color-neutral-grey-5;
      background-color: transparent;
      border-color: transparent;

      &#{$bem-block}--theme-dark {
        color: $p-color-neutral-grey-4;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  &__icon,
  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__loader {
    // margin-top: 0.1875em; // this must be adapted if final SVG icons are integrated!
  }

  &--loading {
    cursor: default;
    pointer-events: none;
  }

  // fix for Firefox, so that top alignment of button content works when two button are next to each other
  @-moz-document url-prefix() {
    &__label {
      height: 100%;
    }
  }
}
