<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d" }}

  <div class="row -spacing-c">
    <div class="column column--12">

      {{> organisms-car-selector-02-logged-in-selected }}

    </div>
  </div>
  <div class="row -spacing-12">
    <div class="column column--12">

      {{> organisms-timestamp-refresh }}

    </div>
  </div>

  <div class="row flex-m">
    <div class="column column--12 column--m-8 flex-m flex--center-vertical -spacing-30">

      {{> car-control-visualization-car }}

    </div>
    <div class="column column--12 column--m-4 flex-m -spacing-30">

      {{> car-control-car-actions-control }}

    </div>
  </div>
  <div class="row -spacing-e">
    <div class="column column--12 column--s-4">

      {{> car-control-layout-car-chart layout-car-chart_title="Tankfüllstand" layout-car-chart_icon="fuel-next" layout-car-chart_label="398 km" }}

    </div>
    <div class="column column--12 column--s-4 -spacing-12 -spacing-zero-s">

      {{> car-control-layout-car-chart layout-car-chart_title="Batteriestatus" layout-car-chart_icon="battery-next" layout-car-chart_label="18 km" }}

    </div>
    <div class="column column--12 column--s-4 -spacing-12 -spacing-zero-s">

      {{> car-control-layout-car-chart layout-car-chart_title="Ölstand" layout-car-chart_icon="oil-next" layout-car-chart_label="" }}

    </div>
  </div>
  <div class="row -spacing-b flex-m">
    <div class="column column--12 column--s-6 column--m-4">

      {{> car-control-list-car-info }}

    </div>
    <div class="column column--12 column--s-6 column--m-4 -spacing-12 -spacing-zero-s flex-m flex--column">

      {{> car-control-tile-service-interval tile-service-interval_title=car-control.serviceIntervals.inspection.title
                                            tile-service-interval_icon=car-control.serviceIntervals.inspection.icon
                                            tile-service-interval_label=car-control.serviceIntervals.inspection.label
                                            tile-service-interval_tags=car-control.serviceIntervals.inspection.tags }}

    </div>

    <div class="column column--12 column--s-6 column--m-4 -spacing-12 -spacing-zero-m flex-m flex--column">

      {{> car-control-tile-service-interval tile-service-interval_title=car-control.serviceIntervals.oilChange.title
                                            tile-service-interval_icon=car-control.serviceIntervals.oilChange.icon
                                            tile-service-interval_label=car-control.serviceIntervals.oilChange.label
                                            tile-service-interval_tags=car-control.serviceIntervals.oilChange.tags }}

    </div>
  </div>
</section>
