@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

@mixin with-label() {
  padding: p-px-to-rem(12px) p-px-to-rem(16px) p-px-to-rem(12px) p-px-to-rem(40px);
}

@mixin without-label() {
  padding: 0;
}

@mixin label-with-label() {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: normal;
  overflow: visible;
  border: 0;
  text-indent: 0;
}

@mixin label-without-label() {
  width: 1px;
  height: 1px;
  margin: 0 0 0 -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  text-indent: -1px;
}

@mixin icon-with-label() {
  left: p-px-to-rem(12px);
  top: p-px-to-rem(12px);
  transform: translateX(0) translateY(0);
}

@mixin icon-without-label() {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

:host {
  display: inline-flex;
  vertical-align: top;
  position: relative !important;
  cursor: pointer;
}

::slotted(a) {
  display: block !important;
  position: static !important;
  text-decoration: none !important;
  color: inherit !important;
  line-height: inherit !important;
  outline: transparent none !important;
}

.link {
  $bem-block: &;
  display: flex;
  width: 100%;
  min-width: p-px-to-rem(48px);
  min-height: p-px-to-rem(48px);
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  text-decoration: none;
  background-color: $p-color-neutral-contrast-high;
  color: $p-color-theme-dark-default;
  @include p-focus($p-color-default);
  transition: background-color $p-animation-hover-duration $p-animation-hover-bezier,
    color $p-animation-hover-duration $p-animation-hover-bezier;

  &:hover,
  &:active {
    color: $p-color-theme-dark-default;
    background-color: darken($p-color-neutral-contrast-high, 12%);
  }

  &--theme-dark {
    background-color: $p-color-theme-dark-default;
    color: $p-color-default;
    @include p-focus($p-color-theme-dark-default);

    &:hover,
    &:active {
      background-color: darken($p-color-theme-dark-default, 12%);

      // when icon is undefined
      &#{$bem-block}--undefined {
        color: $p-color-default;
      }
    }
  }

  &--logo-facebook {
    &:hover,
    &:active {
      background-color: $p-color-external-facebook;
    }
  }

  &--logo-google {
    &:hover,
    &:active {
      background-color: $p-color-external-google;
    }
  }

  &--logo-instagram {
    &:hover,
    &:active {
      background-color: $p-color-external-instagram;
    }
  }

  &--logo-linkedin {
    &:hover,
    &:active {
      background-color: $p-color-external-linkedin;
    }
  }

  &--logo-pinterest {
    &:hover,
    &:active {
      background-color: $p-color-external-pinterest;
    }
  }

  &--logo-twitter {
    &:hover,
    &:active {
      background-color: $p-color-external-twitter;
    }
  }

  &--logo-wechat {
    &:hover,
    &:active {
      background-color: $p-color-external-wechat;
    }
  }

  &--logo-whatsapp {
    &:hover,
    &:active {
      background-color: $p-color-external-whatsapp;
    }
  }

  &--logo-xing {
    &:hover,
    &:active {
      background-color: $p-color-external-xing;
    }
  }

  &--logo-youtube {
    &:hover,
    &:active {
      background-color: $p-color-external-youtube;
    }
  }

  &--with-label {
    @include with-label;

    .label {
      @include label-with-label;
    }

    .icon {
      @include icon-with-label;
    }
  }

  &--without-label {
    @include without-label;

    .label {
      @include label-without-label;
    }

    .icon {
      @include icon-without-label;
    }
  }

  @include p-media-query('xs') {
    &--with-label-xs {
      @include with-label;

      .label {
        @include label-with-label;
      }

      .icon {
        @include icon-with-label;
      }
    }

    &--without-label-xs {
      @include without-label;

      .label {
        @include label-without-label;
      }

      .icon {
        @include icon-without-label;
      }
    }
  }

  @include p-media-query('s') {
    &--with-label-s {
      @include with-label;

      .label {
        @include label-with-label;
      }

      .icon {
        @include icon-with-label;
      }
    }

    &--without-label-s {
      @include without-label;

      .label {
        @include label-without-label;
      }

      .icon {
        @include icon-without-label;
      }
    }
  }

  @include p-media-query('m') {
    &--with-label-m {
      @include with-label;

      .label {
        @include label-with-label;
      }

      .icon {
        @include icon-with-label;
      }
    }

    &--without-label-m {
      @include without-label;

      .label {
        @include label-without-label;
      }

      .icon {
        @include icon-without-label;
      }
    }
  }

  @include p-media-query('l') {
    &--with-label-l {
      @include with-label;

      .label {
        @include label-with-label;
      }

      .icon {
        @include icon-with-label;
      }
    }

    &--without-label-l {
      @include without-label;

      .label {
        @include label-without-label;
      }

      .icon {
        @include icon-without-label;
      }
    }
  }

  @include p-media-query('xl') {
    &--with-label-xl {
      @include with-label;

      .label {
        @include label-with-label;
      }

      .icon {
        @include icon-with-label;
      }
    }

    &--without-label-xl {
      @include without-label;

      .label {
        @include label-without-label;
      }

      .icon {
        @include icon-without-label;
      }
    }
  }
}

.icon {
  position: absolute;
  width: p-px-to-rem(24px);
  height: p-px-to-rem(24px);
}
