@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

@mixin label-visible() {
  .label,
  + .subline {
    position: static;
    width: 100%;
    height: auto;
    margin-left: p-px-to-rem(4px);
    padding: 0 0.125em 0 0;
    white-space: normal;
    overflow: visible;
    clip: auto;
    clip-path: none;
  }
}

@mixin label-hidden() {
  .label,
  + .subline {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left: -1px;
    margin-top: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
}

:host {
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}

::slotted(p) {
  margin: 0;
}

.button {
  $bem-block: &;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  text-decoration: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  color: $p-color-default;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier, font-size 1ms linear; // used for transitionend event listener
  @include p-focus($p-color-state-focus, 1px, '::before');

  + * {
    color: $p-color-default;
  }

  &:not(:disabled) {
    &:hover {
      color: $p-color-state-hover;
      + * {
        color: $p-color-state-hover;
      }
    }

    &:active {
      color: $p-color-state-active;
      + * {
        color: $p-color-state-active;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: $p-color-state-disabled;
    + * {
      color: $p-color-state-disabled;
    }
  }

  &--theme-dark {
    @include p-focus($p-color-theme-dark-state-focus, 1px, '::before');
    color: $p-color-theme-dark-default;

    + * {
      color: $p-color-theme-dark-default;
    }

    &:not(:disabled) {
      &:hover {
        color: $p-color-theme-dark-state-hover;
        + * {
          color: $p-color-theme-dark-state-hover;
        }
      }

      &:active {
        color: $p-color-theme-dark-state-active;
        + * {
          color: $p-color-theme-dark-state-active;
        }
      }
    }

    &:disabled {
      color: $p-color-theme-dark-state-disabled;
      + * {
        color: $p-color-theme-dark-state-disabled;
      }
    }
  }

  &--size-x-small {
    @include size($p-font-size-x-small);
  }
  &--size-small {
    @include size($p-font-size-small);
  }
  &--size-medium {
    @include size($p-font-size-medium);
  }
  &--size-large {
    @include size($p-font-size-large);
  }
  &--size-x-large {
    @include size($p-font-size-x-large);
  }
  &--size-inherit {
    @include size('inherit');
  }

  &--with-label {
    @include label-visible;
  }
  &--without-label {
    @include label-hidden;
  }

  @include p-media-query('xs') {
    &--size-x-small-xs {
      @include size($p-font-size-x-small);
    }
    &--size-small-xs {
      @include size($p-font-size-small);
    }
    &--size-medium-xs {
      @include size($p-font-size-medium);
    }
    &--size-large-xs {
      @include size($p-font-size-large);
    }
    &--size-x-large-xs {
      @include size($p-font-size-x-large);
    }
    &--size-inherit-xs {
      @include size('inherit');
    }

    &--with-label-xs {
      @include label-visible;
    }
    &--without-label-xs {
      @include label-hidden;
    }
  }

  @include p-media-query('s') {
    &--size-x-small-s {
      @include size($p-font-size-x-small);
    }
    &--size-small-s {
      @include size($p-font-size-small);
    }
    &--size-medium-s {
      @include size($p-font-size-medium);
    }
    &--size-large-s {
      @include size($p-font-size-large);
    }
    &--size-x-large-s {
      @include size($p-font-size-x-large);
    }
    &--size-inherit-s {
      @include size('inherit');
    }

    &--with-label-s {
      @include label-visible;
    }
    &--without-label-s {
      @include label-hidden;
    }
  }

  @include p-media-query('m') {
    &--size-x-small-m {
      @include size($p-font-size-x-small);
    }
    &--size-small-m {
      @include size($p-font-size-small);
    }
    &--size-medium-m {
      @include size($p-font-size-medium);
    }
    &--size-large-m {
      @include size($p-font-size-large);
    }
    &--size-x-large-m {
      @include size($p-font-size-x-large);
    }
    &--size-inherit-m {
      @include size('inherit');
    }

    &--with-label-m {
      @include label-visible;
    }
    &--without-label-m {
      @include label-hidden;
    }
  }

  @include p-media-query('l') {
    &--size-x-small-l {
      @include size($p-font-size-x-small);
    }
    &--size-small-l {
      @include size($p-font-size-small);
    }
    &--size-medium-l {
      @include size($p-font-size-medium);
    }
    &--size-large-l {
      @include size($p-font-size-large);
    }
    &--size-x-large-l {
      @include size($p-font-size-x-large);
    }
    &--size-inherit-l {
      @include size('inherit');
    }

    &--with-label-l {
      @include label-visible;
    }
    &--without-label-l {
      @include label-hidden;
    }
  }

  @include p-media-query('xl') {
    &--size-x-small-xl {
      @include size($p-font-size-x-small);
    }
    &--size-small-xl {
      @include size($p-font-size-small);
    }
    &--size-medium-xl {
      @include size($p-font-size-medium);
    }
    &--size-large-xl {
      @include size($p-font-size-large);
    }
    &--size-x-large-xl {
      @include size($p-font-size-x-large);
    }
    &--size-inherit-xl {
      @include size('inherit');
    }

    &--with-label-xl {
      @include label-visible;
    }
    &--without-label-xl {
      @include label-hidden;
    }
  }
}

.icon {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
}

.label {
  display: block;
  box-sizing: border-box;
  border: 0;
}

.subline {
  display: flex;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
  margin-top: 4px;

  &::before {
    // We need a margin-left according to the labels font-size. The size of before gets calculated in the p-link-pure-size mixin
    content: '';
  }
}
