@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$password-complexity-bar-line-height-reset: 0 !default;
$password-complexity-bar-item-height: $spacing-6 !default;
$password-complexity-bar-item-width: rem(25px) !default;
$password-complexity-bar-item-spacing-left: rem(2px) !default;
$password-complexity-bar-item-spacing-reset: $password-complexity-bar-line-height-reset !default;
