@import '../../base/background/background.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import 'password-complexity-bar.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}password-complexity-bar {
  $bem-block: &;

  @include flex;

  &--status-weak {
    #{$bem-block}__item:nth-child(-n+3) {
      @include -background-status-red;
    }
  }

  &--status-medium {
    #{$bem-block}__item:nth-child(-n+6) {
      @include -background-status-orange;
    }
  }

  &--status-strong {
    #{$bem-block}__item {
      @include -background-status-green;
    }
  }

  &__item {
    @include -background-grey-4;

    width: $password-complexity-bar-item-width;
    height: $password-complexity-bar-item-height;
    margin-left: $password-complexity-bar-item-spacing-left;

    &:first-child {
      margin-left: $password-complexity-bar-item-spacing-reset;
    }
  }
}
