
<pui-button-ghost label="Ghost"></pui-button-ghost>
<pui-button-ghost label="Ghost loading" loading="true"></pui-button-ghost>
<pui-button-ghost label="Ghost inverted" inverted="true"></pui-button-ghost>
<pui-button-ghost label="Ghost inverted loading" loading="true" inverted="true"></pui-button-ghost>
<pui-button-ghost label="Ghost error" error="true"></pui-button-ghost>
<pui-button-ghost label="Ghost disabled" disabled="true"></pui-button-ghost>
<pui-button-ghost label="Ghost link" link="true"></pui-button-ghost>
<pui-button-ghost label="Ghost icon car-next" icon="car-next"></pui-button-ghost>
<pui-button-ghost label="Ghost stretch" stretch="true"></pui-button-ghost>
