@import "../../../common";

$spacing: $basic-spacing !default;

$input-field-border-color: $grey-light !default;
$input-field-background-color: $white !default;
$input-field-text-color: $black !default;
$input-field-text-color-disabled: $grey !default;
$input-field-text-color-error: $color-palette-red-1 !default;
$input-field-placeholder-color: $grey !default;
$input-field-height: 50px !default;
$input-field-padding-horizontal: $spacing * 2 !default;
$input-field-padding-vertical-top-focus: 20px !default;

$input-label-text-color: $grey !default;
$input-label-position-top: $spacing * 2 !default;
$input-label-position-left: $spacing * 2 !default;

$input-icon-size: 20px !default;
$input-icon-color: $black !default;
$input-icon-color-hovered: $color-palette-red-2 !default;

$input-error-message-margin-top: $spacing !default;
$input-required-margin-top: $spacing !default;

$input-unit-color: $grey !default;
