<div class="vehicle-overview">
  <div class="vehicle-overview__scene-wrapper row row--zero">
    <div class="vehicle-overview__details-container">
      <div class="vehicle-overview__details-icon icon icon--{{vehicle-overview_detailsIcon}}"></div>
      <div class="vehicle-overview__details">
        <div
          class="vehicle-overview__details-model">
          {{ vehicle-overview_model }}
        </div>
        <div
          class="vehicle-overview__details-subline">
          {{ vehicle-overview_subline }}
        </div>
      </div>
    </div>
    <div class="vehicle-overview__image-wrapper">
      <img
        src="{{ vehicle-overview_carImage }}"
        class="vehicle-overview__image" />
    </div>
  </div>

  {{> organisms-form-button-group
    form-button-group_primaryActionIcon=vehicle-overview_primaryActionIcon
    form-button-group_primaryActionCta=vehicle-overview_primaryActionCta
    form-button-group_primaryActionCtaSubline=vehicle-overview_primaryActionCtaSubline
    form-button-group_secondaryActionIcon=vehicle-overview_secondaryActionIcon
    form-button-group_secondaryActionCta=vehicle-overview_secondaryActionCta
    form-button-group_secondaryActionCtaSubline=vehicle-overview_secondaryActionCtaSubline
    form-button-group_buttonsFlex=true
    form-button-group_isFlex=true
    form-button-group_styleModifier=vehicle-overview_formButtonGroupStyleModifier
  }}

</div>
