@import '../../setup/global-variables.scss';
@import '../../setup/color-palette.setup.scss';

.#{$global-class-prefix}loader {
  $bem-block: &;

  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  stroke-width: 2px;

  &__image {
    display: block;
    position: relative;
    fill: none;
    stroke-width: inherit;
    transform: translate3d(0, 0, 0);
  }

  &__fg {
    transform-origin: center center;
    animation: rotate 1.5s linear infinite, dash 2s ease-in-out infinite;
    stroke: $color-palette-grey-9;
    stroke-dasharray: 100, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }

  &__bg {
    stroke: $color-palette-grey-1;
  }

  &--theme-inverted {
    #{$bem-block}__fg {
      stroke: $color-palette-white;
    }

    #{$bem-block}__bg {
      stroke: $color-palette-grey-7;
    }
  }

  // the exact sizes must be refactored when final SVG icons are in place!
  &--x-small {
    width: rem(16px);
    height: rem(16px);
    stroke-width: 5px;
  }

  &--small {
    width: rem(24px);
    height: rem(24px);
    stroke-width: 4px;
  }

  &--medium {
    width: rem(36px);
    height: rem(36px);
    stroke-width: 3px;
  }

  &--large {
    width: rem(60px);
    height: rem(60px);
  }

  &--x-large {
    width: rem(80px);
    height: rem(80px);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 1000;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 160, 1000;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 0, 1000;
    stroke-dashoffset: -124.33;
  }
}
