// @import 'loader.setup.scss';
// @import '../../mixins/animation.scss';
// @import '../../setup/global-variables.scss';
@import '../../setup/color-palette.setup.scss';

//Rename to loader box to loader, when we get rid of pcc-sass css
// .#{$global-class-prefix}loader-box {
//   position: relative;
//   height: $loader-spinner-dimension-tall;
//   min-height: $loader-spinner-dimension;
//   min-width: $loader-spinner-dimension;

//   &::after {
//     @include animation($loader-spinner-animation-name, $loader-spinner-animation-duration);
//     content: '';
//     position: absolute;
//     top: $loader-spinner-position-vertical;
//     left: $loader-spinner-position-horizontal;
//     display: block;
//     background-position: center center;
//     background-repeat: no-repeat;
//     margin-top: $loader-spinner-spacing-vertical;
//     margin-left: $loader-spinner-spacing-horizontal;
//     width: $loader-spinner-dimension;
//     height: $loader-spinner-dimension;
//     background-image: url($loader-box-spinner-resource);
//   }

//   &--medium {
//     min-height: $loader-spinner-medium-dimension;
//     min-width: $loader-spinner-medium-dimension;
//     margin-right: $loader-spinner-medium-spacing;

//     &::after {
//       margin-top: $loader-spinner-medium-spacing-vertical;
//       margin-left: $loader-spinner-medium-spacing-horizontal;
//       width: $loader-spinner-medium-dimension;
//       height: $loader-spinner-medium-dimension;
//       background-image: url($loader-box-spinner-medium-resource);
//     }
//   }
// }

@mixin loader-track($z-index) {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  fill: none;
  stroke-width: 2px;
  z-index: $z-index;
}

.#{$global-class-prefix}loader {
  $bem-block: &;

  display: block;
  position: relative;
  width: 50px;
  height: 50px;

  &__fg {
    @include loader-track(1);
    transform-origin: center center;
    animation: rotate 1.5s linear infinite;

    &--small {
      stroke-width: 5px;
    }

    &-path {
      stroke: $color-palette-grey-9;
      stroke-dasharray: 100, 200;
      stroke-dashoffset: 0;
      animation: dash 2s ease-in-out infinite;
      stroke-linecap: round;
    }
  }

  &__bg {
    @include loader-track(0);

    &--small {
      stroke-width: 5px;
    }

    &-path {
      stroke: $color-palette-grey-1;
    }
  }

  &--inverted {
    #{$bem-block}__fg {
      &__path {
        stroke: $color-palette-white;
      }
    }

    #{$bem-block}__bg {
      &__path {
        stroke: $color-palette-grey-9;
      }
    }
  }

  // the exact sizes must be refactored when final SVG icons are in place!
  &--small {
    width: rem(16px);
    height: rem(16px);
  }

  &--medium {
    width: rem(24px);
    height: rem(24px);
  }

  &--large {
    width: rem(36px);
    height: rem(36px);
  }

  &--x-large {
    width: rem(60px);
    height: rem(60px);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 1000;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 160, 1000;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 0, 1000;
    stroke-dashoffset: -124.33;
  }
}
