@import 'loader-module.setup.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}loader-module {
  @include -position-absolute-coordinates;
  @include flex;
  @include flex-cross-axis(center);
  @include flex-main-axis(center);
  @include -spacing-inner-a;
  @include -background-grey-10-1;

  &__spinner {
    width: $loader-module-spinner-size;
    height: $loader-module-spinner-size;

    @include breakpoint('s') {
      width: $loader-module-spinner-size-s;
      height: $loader-module-spinner-size-s;
    }
  }
}
