@import '../variable/index';
@import './breakpoint.mixin';

/*
* responsive spacing
*/
@mixin p-spacing-a($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-a;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-a;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-a-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-a-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-a-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-a-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-a-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-a-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-a-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-a-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}

@mixin p-spacing-b($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-b;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-b;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-b-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-b-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-b-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-b-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-b-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-b-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-b-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-b-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}

@mixin p-spacing-c($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-c;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-c;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-c-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-c-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-c-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-c-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-c-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-c-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-c-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-c-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}

@mixin p-spacing-d($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-d;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-d;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-d-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-d-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-d-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-d-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-d-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-d-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-d-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-d-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}

@mixin p-spacing-e($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-e;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-e;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-e-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-e-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-e-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-e-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-e-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-e-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-e-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-e-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}

@mixin p-spacing-f($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-f;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-f;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-f-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-f-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-f-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-f-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-f-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-f-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-f-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-f-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}

@mixin p-spacing-g($type: 'margin', $direction: null, $sign: null) {
  $spacing-value: $p-spacing-g;
  @if #{$sign} == '-' {
    $spacing-value: -$p-spacing-g;
  }

  @if $direction and $direction != '' {
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  } @else {
    #{$type}: $spacing-value;
  }

  @include breakpoint('s') {
    $spacing-value: $p-spacing-g-s;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-g-s;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('m') {
    $spacing-value: $p-spacing-g-m;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-g-m;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $p-spacing-g-l;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-g-l;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }

  @include breakpoint('xl') {
    $spacing-value: $p-spacing-g-xl;
    @if #{$sign} == '-' {
      $spacing-value: -$p-spacing-g-xl;
    }
    @if $direction and $direction != '' {
      #{$type}: {
        #{$direction}: $spacing-value;
      }
    } @else {
      #{$type}: $spacing-value;
    }
  }
}
