@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$navigation-topbar-mobile-background-color: $color-palette-white !default;
$navigation-topbar-mobile-height: rem(64px) !default;
$navigation-topbar-mobile-spacing-inner-horizontal: 3% !default;

$navigation-topbar-mobile-crest-height: rem(80px) !default;
$navigation-topbar-mobile-crest-width: rem(102px) !default;
$navigation-topbar-mobile-crest-z-index: 1 !default;
$navigation-topbar-mobile-crest-background-color: $color-palette-white !default;
$navigation-topbar-mobile-crest-position-left: $spacing-6 !default;
$navigation-topbar-mobile-crest-position-top: 0 !default;
$navigation-topbar-mobile-crest-box-shadow-position-reset: 0 !default;
$navigation-topbar-mobile-crest-box-shadow-blur: rem(7px) !default;
$navigation-topbar-mobile-crest-box-shadow-color: rgba($color-palette-black, .15) !default;

$navigation-topbar-mobile-image-width: $navigation-topbar-mobile-crest-width !default;
$navigation-topbar-mobile-image-height: rem(62px) !default;

$navigation-topbar-mobile-items-height: 100% !default;

$navigation-topbar-mobile-item-inner-spacing-horizontal: $spacing-18 !default;
$navigation-topbar-mobile-item-inner-spacing-horizontal-reset: 0 !default;
$navigation-topbar-mobile-item-border-width: 1px !default;
$navigation-topbar-mobile-item-border-height: $spacing-30 !default;
$navigation-topbar-mobile-item-border-color: $color-palette-grey-7 !default;
$navigation-topbar-mobile-item-border-position-top: 50% !default;
$navigation-topbar-mobile-item-border-position-right: 0 !default;

$navigation-topbar-mobile-flyout-header-width: 100% !default;
$navigation-topbar-mobile-flyout-header-height: $navigation-topbar-mobile-height !default;
$navigation-topbar-mobile-flyout-header-inner-spacing-horizontal: $navigation-topbar-mobile-spacing-inner-horizontal !default;

$navigation-topbar-mobile-icon-font-size: $spacing-18 !default;
$navigation-topbar-mobile-icon-right-position-right: 0 !default;
$navigation-topbar-mobile-headline-dimension: 100% !default;

$navigation-topbar-mobile-link-inner-spacing-vertical: rem(20px) !default;

$navigation-topbar-mobile-flyout-position-vertical: 0 !default;
$navigation-topbar-mobile-flyout-position-left: 0 !default;
$navigation-topbar-mobile-flyout-width: 100% !default;

$navigation-topbar-mobile-flyout-menu-inner-spacing: 0 !default;

$navigation-topbar-mobile-flyout-item-border-width: 94% !default;
$navigation-topbar-mobile-flyout-item-border-height: 1px !default;
$navigation-topbar-mobile-flyout-item-border-color: $color-palette-grey-3 !default;
$navigation-topbar-mobile-flyout-item-border-position-left: 3% !default;
$navigation-topbar-mobile-flyout-item-border-position-top: 0 !default;

$navigation-topbar-mobile-flyout-link-inner-spacing-horizontal: 3% !default;

$navigation-topbar-mobile-flyout-icon-font-size-left: rem(22px) !default;
$navigation-topbar-mobile-flyout-icon-font-size-right: rem(14px) !default;
$navigation-topbar-mobile-flyout-icon-postion-top-right: $spacing-3 !default;

$navigation-topbar-mobile-flyout-footer-width: 100% !default;
$navigation-topbar-mobile-flyout-footer-height: rem(140px) !default;
$navigation-topbar-mobile-flyout-footer-position-bottom: 0 !default;

$navigation-topbar-mobile-flyout-footer-nav-dimension: 100% !default;
$navigation-topbar-mobile-flyout-nav-item-width: 33.333333% !default;
$navigation-topbar-mobile-flyout-nav-item-height: 100% !default;
$navigation-topbar-mobile-flyout-footer-icon-font-size: rem(22px) !default;
$navigation-topbar-mobile-flyout-footer-link-height: 100% !default;
$navigation-topbar-mobile-flyout-footer-link-title-spacing-top: rem(16px) !default;
