@import 'map-action-overview.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}map-action-overview {
  position: relative;

  &__button {
    position: relative;
    z-index: $map-action-overview-button-z-index;

    @include breakpoint('s') {
      position: absolute;
      top: $map-action-overview-reset;
      left: $map-action-overview-reset;
    }
  }

  &__canvas {
    z-index: $map-action-overview-canvas-z-index;
  }

  &__loader {
    z-index: $map-action-overview-loader-z-index;
  }
}
