@import '../../base/spacing/spacing.setup.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$list-violation-item-spacing-vertical: $spacing-18 !default;
$list-violation-item-background-color: $color-palette-white !default;
$list-violation-item-text-color: $color-palette-grey-4 !default;

$list-violation-content-divider-spacing-horizontal: $spacing-24 !default;
$list-violation-content-separator-color: $color-palette-grey-3 !default;
$list-violation-content-border-size: 1px !default;

$list-violation-tags-divider-spacing-horizontal: rem(10px) !default;
$list-violation-tags-divider-color: $color-palette-grey-3 !default;
