@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$list-view-reset: 0 !default;
$list-view-item-background-color: $color-palette-white !default;
$list-view-item-hover-background-color: $color-palette-grey-1 !default;
$list-view-item-border-color: $color-palette-grey-4 !default;
$list-view-item-border-size: $spacing-6 !default;
$list-view-item-border-size-xs: $spacing-12 !default;
$list-view-item-active-border-color: $color-palette-red-1 !default;
$list-view-item-active-e-mobility-border-color: $color-palette-acid-green !default;
$list-view-item-text-color: $color-palette-grey-5 !default;
$list-view-item-active-text-color: $color-palette-black !default;

$list-view-menu-circle-background-color: transparent !default;
$list-view-menu-circle-border-color: $color-palette-grey-7 !default;
$list-view-menu-circle-hover-background-color: $color-palette-grey-7 !default;
$list-view-menu-circle-hover-border-color: $color-palette-grey-7 !default;

$list-view-content-icon-color: $color-palette-grey-5 !default;
$list-view-content-separator-color: $color-palette-grey-3 !default;
$list-view-content-min-height: rem(66px) !default;
$list-view-content-min-height-s: rem(72px) !default;
$list-view-content-spacing-left: $spacing-12 !default;
$list-view-content-spacing-left-xs: $spacing-18 !default;
$list-view-content-spacing-left-l: $spacing-30 !default;
$list-view-content-spacing-right: $spacing-48 !default;
$list-view-content-spacing-right-xs: $spacing-60 !default;
$list-view-content-spacing-right-s: rem(80px) !default;
$list-view-content-spacing-top: $spacing-18 !default;
$list-view-content-spacing-bottom: $spacing-18 !default;
$list-view-content-checkable-spacing-left: rem(50px) !default;
$list-view-content-checkable-spacing-left-xs: rem(64px) !default;
$list-view-content-checkable-spacing-left-m: rem(90px) !default;

$list-view-tag-spacing: $spacing-6 !default;
$list-view-tag-spacing-m: $spacing-12 !default;
$list-view-tag-divider-width: 1px !default;
$list-view-tag-icon-spacing: rem(28px) !default;

$list-view-icon-position-top: 50% !default;
$list-view-icon-size: rem(20px) !default;

$list-view-checkbox-position-top: $spacing-18 !default;
$list-view-checkbox-position-top-s: 50% !default;
$list-view-checkbox-position-left: $spacing-12 !default;
$list-view-checkbox-position-left-xs: rem(19px) !default;
$list-view-checkbox-position-left-m: rem(32px) !default;

$list-view-menu-position-top: (18px) !default;
$list-view-menu-position-top-s: 50% !default;
$list-view-menu-position-right: $spacing-12 !default;
$list-view-menu-position-right-xs: $spacing-18 !default;
$list-view-menu-position-right-l: $spacing-30 !default;
$list-view-menu-size: $spacing-30 !default;
$list-view-menu-size-s: $spacing-36 !default;
$list-view-menu-border-size: rem(2px) !default;
$list-view-menu-border-radius: 50% !default;
$list-view-menu-icon-size: $spacing-18 !default;
$list-view-menu-icon-color: $color-palette-grey-7 !default;
$list-view-menu-icon-hover-color: $color-palette-white !default;
$list-view-menu-click-area-offset: - rem(7px) !default;
