@import "../../../styles/utility/index";

:host {
  display: inline-flex;
}

.#{$p-global-class-prefix}radio {
  $bem-block: &;

  position: relative;
  display: inline-flex;
  min-width: rem(26px);
  min-height: rem(26px);
  max-width: 100%;
  cursor: pointer;
  vertical-align: top; // get rid of space underneath because of inline-block

  &__field {
    display: none;
  }

  &__icon {
    position: absolute;
    top: rem(-2px);
    left: rem(-2px);
    width: rem(30px);
    height: rem(30px);
    box-sizing: border-box;
    border: rem(2px) solid $p-color-neutral-grey-6;
    border-radius: 50%;
    cursor: pointer;

    &--error {
      border-color: $p-color-status-red;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: rem(12px);
      height: rem(12px);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      visibility: hidden;
    }

    &::after { // safe clickable area
      position: absolute;
      content: '';
      top: - rem(7px);
      right: - rem(7px);
      bottom: - rem(7px);
      left: - rem(7px);
    }
  }

  &__label {
    display: block;
    padding: rem(1px) 0 0 rem(38px);
    color: $p-color-porsche-black;
    cursor: pointer;

    &--error {
      color: $p-color-status-red;
    }
  }

  //&__label-link {
  //  color: $radio-label-link-text-color;
//
  //  &:active,
  //  &:focus,
  //  &:hover {
  //    color: $radio-label-link-text-color-hover;
  //    text-decoration: none;
  //  }
//
  //  &--error {
  //    color: $radio-label-link-text-color-error;
//
  //    &:active,
  //    &:focus,
  //    &:hover {
  //      color: $radio-label-link-text-color-error-hover;
  //    }
  //  }
  //}

  // radio is hovered, not checked and not disabled
  &:hover &__field:not(:checked):not(:disabled) {
    & ~ #{$bem-block}__icon {
      border-color: $p-color-neutral-grey-4;

      &--error {
        border-color: $p-color-status-red;
      }
    }
  }

  // radio is checked
  &__field:checked {
    & ~ #{$bem-block}__icon {
      &::before {
        background: $p-color-neutral-grey-6;
        visibility: visible;
      }

      &--error::before {
        background: $p-color-status-red;
      }
    }
  }

  // radio is hovered, checked and not disabled
  &:hover &__field:checked:not(:disabled) {
    & ~ #{$bem-block}__icon {
      border-color: $p-color-neutral-grey-6;
      background-color: $p-color-neutral-grey-6;

      &--error {
        border-color: $p-color-status-red;
        background-color: $p-color-status-red;
      }

      &::before {
        background-color: $p-color-porsche-light;
      }

      &--error::before {
        background-color: $p-color-porsche-light;
      }
    }
  }

  // radio is disabled, unchecked or checked
  &__field:disabled:checked,
  &__field:disabled:not(:checked) {
    & ~ #{$bem-block}__icon {
      cursor: default;
      border-color: $p-color-neutral-grey-5;

      &::before {
        background-color: $p-color-neutral-grey-5;
      }
    }

    & ~ #{$bem-block}__label {
      cursor: default;
      color: $p-color-neutral-grey-5;

      #{$bem-block}__label-link {
        cursor: pointer;
        color: $p-color-neutral-grey-5;

        &:active,
        &:focus,
        &:hover {
          color: $p-color-porsche-red;
        }
      }
    }
  }
}
