{{> organisms-header }}

<section class="-wrapper-page">
  <div class="row flex-s">
    <div class="column column--12 -spacing-d">

      {{> organisms-page-header
          page-header_title="Registrierung abgeschlossen"
          page-header_description="" }}

      <div class="row">
        <p class="column column--12 column--s-7 -text-size-copy -text-color-white -spacing-a">
          <span>{{ registration-page-third-step_paragraphOne }}</span>
        </p>
      </div>

      <div class="row">
        <p class="column column--12 column--s-7 -text-size-copy -text-color-white -spacing-a">
          <span>{{ registration-page-third-step_paragraphTwo }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
