@import "../../../../styles/utility/index";

$p-flex-item-width: 0% 25% 33.333333% 50% 66.666667% 75% 100%;

/**
 * properties for flex child items
 */
@mixin p-flex-item-align-self($align) {
  align-self: #{$align};
}

@mixin p-flex-item-grow($grow) {
  flex-grow: #{$grow};
}

@mixin p-flex-item-shrink($shrink) {
  flex-shrink: #{$shrink};
}

@mixin p-flex-item-basis($basis) {
  flex-basis: #{$basis};
}

@mixin p-flex-item-initial {
  flex: initial;
}

@mixin p-flex-item-auto {
  flex: auto;
}

@mixin p-flex-item-equal {
  flex: 1 1 0;
}

@mixin p-flex-item-none {
  flex: none;
}

@mixin p-flex-item-width($i) {
  width: #{nth($p-flex-item-width, $i + 1)};
}

@mixin p-flex-item-offset($i) {
  margin-left: #{nth($p-flex-item-width, $i)};
}

.#{$p-global-class-prefix}flex {
  /**
   * properties for flex items
   */
  &__item {
    box-sizing: border-box;

    &--grow {
      &-0 {
        @include p-flex-item-grow(0);
      }
      &-1 {
        @include p-flex-item-grow(1);
      }
    }

    &--shrink {
      &-0 {
        @include p-flex-item-shrink(0);
      }
      &-1 {
        @include p-flex-item-shrink(1);
      }
    }

    &--initial {
      @include p-flex-item-initial;
    }

    &--auto {
      @include p-flex-item-auto;
    }

    &--equal {
      @include p-flex-item-equal;
    }

    &--none {
      @include p-flex-item-none;
    }

    @include breakpoint("xs") {
      &--grow {
        &-0-xs {
          @include p-flex-item-grow(0);
        }
        &-1-xs {
          @include p-flex-item-grow(1);
        }
      }

      &--shrink {
        &-0-xs {
          @include p-flex-item-shrink(0);
        }
        &-1-xs {
          @include p-flex-item-shrink(1);
        }
      }

      &--initial-xs {
        @include p-flex-item-initial;
      }

      &--auto-xs {
        @include p-flex-item-auto;
      }

      &--equal-xs {
        @include p-flex-item-equal;
      }

      &--none-xs {
        @include p-flex-item-none;
      }
    }

    @include breakpoint("s") {
      &--grow {
        &-0-s {
          @include p-flex-item-grow(0);
        }
        &-1-s {
          @include p-flex-item-grow(1);
        }
      }

      &--shrink {
        &-0-s {
          @include p-flex-item-shrink(0);
        }
        &-1-s {
          @include p-flex-item-shrink(1);
        }
      }

      &--initial-s {
        @include p-flex-item-initial;
      }

      &--auto-s {
        @include p-flex-item-auto;
      }

      &--equal-s {
        @include p-flex-item-equal;
      }

      &--none-s {
        @include p-flex-item-none;
      }
    }

    @include breakpoint("m") {
      &--grow {
        &-0-m {
          @include p-flex-item-grow(0);
        }
        &-1-m {
          @include p-flex-item-grow(1);
        }
      }

      &--shrink {
        &-0-m {
          @include p-flex-item-shrink(0);
        }
        &-1-m {
          @include p-flex-item-shrink(1);
        }
      }

      &--initial-m {
        @include p-flex-item-initial;
      }

      &--auto-m {
        @include p-flex-item-auto;
      }

      &--equal-m {
        @include p-flex-item-equal;
      }

      &--none-m {
        @include p-flex-item-none;
      }
    }

    @include breakpoint("l") {
      &--grow {
        &-0-l {
          @include p-flex-item-grow(0);
        }
        &-1-l {
          @include p-flex-item-grow(1);
        }
      }

      &--shrink {
        &-0-l {
          @include p-flex-item-shrink(0);
        }
        &-1-l {
          @include p-flex-item-shrink(1);
        }
      }

      &--initial-l {
        @include p-flex-item-initial;
      }

      &--auto-l {
        @include p-flex-item-auto;
      }

      &--equal-l {
        @include p-flex-item-equal;
      }

      &--none-l {
        @include p-flex-item-none;
      }
    }

    @include breakpoint("xl") {
      &--grow {
        &-0-xl {
          @include p-flex-item-grow(0);
        }
        &-1-xl {
          @include p-flex-item-grow(1);
        }
      }

      &--shrink {
        &-0-xl {
          @include p-flex-item-shrink(0);
        }
        &-1-xl {
          @include p-flex-item-shrink(1);
        }
      }

      &--initial-xl {
        @include p-flex-item-initial;
      }

      &--auto-xl {
        @include p-flex-item-auto;
      }

      &--equal-xl {
        @include p-flex-item-equal;
      }

      &--none-xl {
        @include p-flex-item-none;
      }
    }

    &--align-self {
      &-auto {
        @include p-flex-item-align-self(auto);
      }
      &-start {
        @include p-flex-item-align-self(flex-start);
      }
      &-end {
        @include p-flex-item-align-self(flex-end);
      }
      &-center {
        @include p-flex-item-align-self(center);
      }
      &-stretch {
        @include p-flex-item-align-self(stretch);
      }
      &-baseline {
        @include p-flex-item-align-self(baseline);
      }

      @include breakpoint("xs") {
        &-auto-xs {
          @include p-flex-item-align-self(auto);
        }
        &-start-xs {
          @include p-flex-item-align-self(flex-start);
        }
        &-end-xs {
          @include p-flex-item-align-self(flex-end);
        }
        &-center-xs {
          @include p-flex-item-align-self(center);
        }
        &-stretch-xs {
          @include p-flex-item-align-self(stretch);
        }
        &-baseline-xs {
          @include p-flex-item-align-self(baseline);
        }
      }

      @include breakpoint("s") {
        &-auto-s {
          @include p-flex-item-align-self(auto);
        }
        &-start-s {
          @include p-flex-item-align-self(flex-start);
        }
        &-end-s {
          @include p-flex-item-align-self(flex-end);
        }
        &-center-s {
          @include p-flex-item-align-self(center);
        }
        &-stretch-s {
          @include p-flex-item-align-self(stretch);
        }
        &-baseline-s {
          @include p-flex-item-align-self(baseline);
        }
      }

      @include breakpoint("m") {
        &-auto-m {
          @include p-flex-item-align-self(auto);
        }
        &-start-m {
          @include p-flex-item-align-self(flex-start);
        }
        &-end-m {
          @include p-flex-item-align-self(flex-end);
        }
        &-center-m {
          @include p-flex-item-align-self(center);
        }
        &-stretch-m {
          @include p-flex-item-align-self(stretch);
        }
        &-baseline-m {
          @include p-flex-item-align-self(baseline);
        }
      }

      @include breakpoint("l") {
        &-auto-l {
          @include p-flex-item-align-self(auto);
        }
        &-start-l {
          @include p-flex-item-align-self(flex-start);
        }
        &-end-l {
          @include p-flex-item-align-self(flex-end);
        }
        &-center-l {
          @include p-flex-item-align-self(center);
        }
        &-stretch-l {
          @include p-flex-item-align-self(stretch);
        }
        &-baseline-l {
          @include p-flex-item-align-self(baseline);
        }
      }

      @include breakpoint("xl") {
        &-auto-xl {
          @include p-flex-item-align-self(auto);
        }
        &-start-xl {
          @include p-flex-item-align-self(flex-start);
        }
        &-end-xl {
          @include p-flex-item-align-self(flex-end);
        }
        &-center-xl {
          @include p-flex-item-align-self(center);
        }
        &-stretch-xl {
          @include p-flex-item-align-self(stretch);
        }
        &-baseline-xl {
          @include p-flex-item-align-self(baseline);
        }
      }
    }

    &--width {
      &-one-quarter {
        @include p-flex-item-width(1);
      }
      &-one-third {
        @include p-flex-item-width(2);
      }
      &-half {
        @include p-flex-item-width(3);
      }
      &-two-thirds {
        @include p-flex-item-width(4);
      }
      &-three-quarters {
        @include p-flex-item-width(5);
      }
      &-full {
        @include p-flex-item-width(6);
      }
      &-auto {
        width: auto;
      }

      @include breakpoint("xs") {
        &-one-quarter-xs {
          @include p-flex-item-width(1);
        }
        &-one-third-xs {
          @include p-flex-item-width(2);
        }
        &-half-xs {
          @include p-flex-item-width(3);
        }
        &-two-thirds-xs {
          @include p-flex-item-width(4);
        }
        &-three-quarters-xs {
          @include p-flex-item-width(5);
        }
        &-full-xs {
          @include p-flex-item-width(6);
        }
        &-auto-xs {
          width: auto;
        }
      }

      @include breakpoint("s") {
        &-one-quarter-s {
          @include p-flex-item-width(1);
        }
        &-one-third-s {
          @include p-flex-item-width(2);
        }
        &-half-s {
          @include p-flex-item-width(3);
        }
        &-two-thirds-s {
          @include p-flex-item-width(4);
        }
        &-three-quarters-s {
          @include p-flex-item-width(5);
        }
        &-full-s {
          @include p-flex-item-width(6);
        }
        &-auto-s {
          width: auto;
        }
      }

      @include breakpoint("m") {
        &-one-quarter-m {
          @include p-flex-item-width(1);
        }
        &-one-third-m {
          @include p-flex-item-width(2);
        }
        &-half-m {
          @include p-flex-item-width(3);
        }
        &-two-thirds-m {
          @include p-flex-item-width(4);
        }
        &-three-quarters-m {
          @include p-flex-item-width(5);
        }
        &-full-m {
          @include p-flex-item-width(6);
        }
        &-auto-m {
          width: auto;
        }
      }

      @include breakpoint("l") {
        &-one-quarter-l {
          @include p-flex-item-width(1);
        }
        &-one-third-l {
          @include p-flex-item-width(2);
        }
        &-half-l {
          @include p-flex-item-width(3);
        }
        &-two-thirds-l {
          @include p-flex-item-width(4);
        }
        &-three-quarters-l {
          @include p-flex-item-width(5);
        }
        &-full-l {
          @include p-flex-item-width(6);
        }
        &-auto-l {
          width: auto;
        }
      }

      @include breakpoint("xl") {
        &-one-quarter-xl {
          @include p-flex-item-width(1);
        }
        &-one-third-xl {
          @include p-flex-item-width(2);
        }
        &-half-xl {
          @include p-flex-item-width(3);
        }
        &-two-thirds-xl {
          @include p-flex-item-width(4);
        }
        &-three-quarters-xl {
          @include p-flex-item-width(5);
        }
        &-full-xl {
          @include p-flex-item-width(6);
        }
        &-auto-xl {
          width: auto;
        }
      }
    }

    &--offset {
      &-none {
        @include p-flex-item-offset(1);
      }
      &-one-quarter {
        @include p-flex-item-offset(2);
      }
      &-one-third {
        @include p-flex-item-offset(3);
      }
      &-half {
        @include p-flex-item-offset(4);
      }
      &-two-thirds {
        @include p-flex-item-offset(5);
      }
      &-three-quarters {
        @include p-flex-item-offset(6);
      }

      @include breakpoint("xs") {
        &-none-xs {
          @include p-flex-item-offset(1);
        }
        &-one-quarter-xs {
          @include p-flex-item-offset(2);
        }
        &-one-third-xs {
          @include p-flex-item-offset(3);
        }
        &-half-xs {
          @include p-flex-item-offset(4);
        }
        &-two-thirds-xs {
          @include p-flex-item-offset(5);
        }
        &-three-quarters-xs {
          @include p-flex-item-offset(6);
        }
      }

      @include breakpoint("s") {
        &-none-s {
          @include p-flex-item-offset(1);
        }
        &-one-quarter-s {
          @include p-flex-item-offset(2);
        }
        &-one-third-s {
          @include p-flex-item-offset(3);
        }
        &-half-s {
          @include p-flex-item-offset(4);
        }
        &-two-thirds-s {
          @include p-flex-item-offset(5);
        }
        &-three-quarters-s {
          @include p-flex-item-offset(6);
        }
      }

      @include breakpoint("m") {
        &-none-m {
          @include p-flex-item-offset(1);
        }
        &-one-quarter-m {
          @include p-flex-item-offset(2);
        }
        &-one-third-m {
          @include p-flex-item-offset(3);
        }
        &-half-m {
          @include p-flex-item-offset(4);
        }
        &-two-thirds-m {
          @include p-flex-item-offset(5);
        }
        &-three-quarters-m {
          @include p-flex-item-offset(6);
        }
      }

      @include breakpoint("l") {
        &-none-l {
          @include p-flex-item-offset(1);
        }
        &-one-quarter-l {
          @include p-flex-item-offset(2);
        }
        &-one-third-l {
          @include p-flex-item-offset(3);
        }
        &-half-l {
          @include p-flex-item-offset(4);
        }
        &-two-thirds-l {
          @include p-flex-item-offset(5);
        }
        &-three-quarters-l {
          @include p-flex-item-offset(6);
        }
      }

      @include breakpoint("xl") {
        &-none-xl {
          @include p-flex-item-offset(1);
        }
        &-one-quarter-xl {
          @include p-flex-item-offset(2);
        }
        &-one-third-xl {
          @include p-flex-item-offset(3);
        }
        &-half-xl {
          @include p-flex-item-offset(4);
        }
        &-two-thirds-xl {
          @include p-flex-item-offset(5);
        }
        &-three-quarters-xl {
          @include p-flex-item-offset(6);
        }
      }
    }
  }
}
