@import '../../../../../../packages/utilities/projects/utilities/scss';

@mixin p-marque-small {
  width: 100px;
  height: 60px;
}

@mixin p-marque-medium {
  width: 120px;
  height: 72px;
}

:host {
  display: inline-flex;
  vertical-align: top;
}

a {
  @include p-focus($p-color-default, 0);
  display: block;
  text-decoration: none;
}

picture {
  @include p-marque-small;
  display: block;

  @include p-media-query('l') {
    @include p-marque-medium;
  }

  :host([size='small']) &,
  :host(.small) & {
    @include p-marque-small;
  }

  :host([size='medium']) &,
  :host(.medium) & {
    @include p-marque-medium;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
