@import '../../../../../../packages/utilities/projects/utilities/scss';

:host {
  display: inline-flex;
  vertical-align: top;
}

picture {
  display: flex;
  width: 100px;
  height: 60px;

  @include p-media-query('l') {
    width: 120px;
    height: 72px;
  }
}

a {
  @include p-focus($p-color-default, 0);
  display: flex;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
