@import '../../base/align/align.mixin.scss';
@import '../../base/font/font.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import 'checkbox-multiple-selector.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}checkbox-multiple-selector {

  $bem-block: &;

  @include -align-center;
  display: inline-block;
  position: relative;
  min-width: $checkbox-multiple-selector-min-width;
  min-height: $checkbox-multiple-selector-min-height;
  background: $checkbox-multiple-selector-background-color;
  width: $checkbox-multiple-selector-width;
  cursor: pointer;

  &__container {
    width: $checkbox-multiple-selector-container-width;
    height: $checkbox-multiple-selector-container-height;
    display: block;
    padding: $checkbox-multiple-selector-container-inner-spacing-top $checkbox-multiple-selector-container-inner-spacing-horizontal $checkbox-multiple-selector-container-inner-spacing-bottom;
  }

  &__field {
    display: none;
  }

  &__icon {
    font-size: $checkbox-multiple-selector-icon-font-size;
    color: $checkbox-multiple-selector-icon-text-color;
    display: block;
  }

  &__indicator {
    width: $checkbox-multiple-selector-indicator-dimension;
    height: $checkbox-multiple-selector-indicator-dimension;
    position: absolute;
    top: $checkbox-multiple-selector-indicator-position;
    right: $checkbox-multiple-selector-indicator-position;
    border: $checkbox-multiple-selector-indicator-border-width solid $checkbox-multiple-selector-indicator-border-color;
    font-size: $checkbox-multiple-selector-indicator-font-size;

    &::before {
      position: absolute;
      top: $checkbox-multiple-selector-indicator-icon-position;
      left: $checkbox-multiple-selector-indicator-icon-position;
      transform: translate(-$checkbox-multiple-selector-indicator-icon-position, -$checkbox-multiple-selector-indicator-icon-position);
      visibility: hidden;
    }
  }

  &__label,
  &__sublabel {
    @include -font-primary;

    font-size: $checkbox-multiple-selector-label-font-size;
    line-height: $checkbox-multiple-selector-label-line-height;
    display: block;
  }

  @include breakpoint('s') {
    // hovered, checkbox not checked, not disabled
    &:hover &__field:not(:checked):not(:disabled) + &__container {
      #{$bem-block}__indicator {
        border-color: $checkbox-multiple-selector-indicator-border-color-unchecked-hovered;
      }
    }

    // hovered, checked, not disabled
    &:hover &__field:checked:not(:disabled) + &__container {
      #{$bem-block}__indicator {
        background: $checkbox-multiple-selector-indicator-background-color-checked-hovered;

        &::before {
          color: $checkbox-multiple-selector-indicator-icon-color-checked-hovered;
        }
      }
    }

    &__field:hover + &__container {
      background: $checkbox-multiple-selector-container-background-color-hovered;
    }
  }


  // checked
  &__field:checked + &__container {
    border-bottom: $checkbox-multiple-selector-container-border-width solid $checkbox-multiple-selector-container-border-color;

    #{$bem-block}__indicator {

      &::before {
        visibility: visible;
      }
    }
  }

  // disabled
  &__field:disabled + &__container {
    color: $checkbox-multiple-selector-container-text-color-disabled;

    #{$bem-block}__indicator {
      border-color: $checkbox-multiple-selector-indicator-border-color-unchecked-disabled;
    }
  }
}
