@import '../../../../../../utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';

:host {
  display: table-cell;
  text-align: left;
  padding: 0 p-px-to-rem(12px) p-px-to-rem(8px) 0;
  vertical-align: bottom;

  &:last-child {
    padding-right: 0;
  }
}

button {
  display: flex;
  align-items: center;
  margin: 3px 0 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  @include p-text-small;
  font-weight: $p-font-weight-bold;
  text-decoration: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  color: $p-color-default;
  transition: color $p-animation-hover-duration $p-animation-hover-bezier;
  @include p-focus();

  &:hover {
    color: $p-color-state-hover;
  }

  &:hover,
  &:focus {
    .icon {
      opacity: 1;
    }
  }
}

.icon {
  opacity: 0;
  margin-left: 3px;

  &--active {
    opacity: 1;
  }
}
