@use '@porsche-design-system/components-js/styles' as *;
@use './internal.variables' as *;

@mixin tableStyles {
  margin-top: $pds-spacing-fluid-medium;
  border-collapse: collapse;

  code ~ code::before {
    content: '| ';
  }

  thead {
    @include pds-text-small;
  }

  tbody {
    @include pds-text-small;
  }

  th {
    text-align: start;
    padding-bottom: $pds-spacing-static-small;
    border-bottom: 1px solid var(--theme-contrast-low);
  }

  td {
    text-align: start;
    padding: {
      top: $pds-spacing-static-small;
      bottom: $pds-spacing-static-small;
    }
    border-bottom: 1px solid var(--theme-contrast-low);
    vertical-align: top;
    width: 10%;
  }

  th ~ th,
  td ~ td {
    padding-inline-start: $pds-spacing-static-medium;
  }
}

@mixin codeStyles {
  @include pds-text-x-small;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@mixin codeHighlightStyles {
  padding: 2px $pds-spacing-static-small;
  border-radius: $pds-border-radius-small;
  background-color: var(--theme-custom-background-code);
  color: var(--theme-primary);
}
