@import '../../../../../../../packages/utilities/projects/utilities/scss';

$p-grid-gutter: p-px-to-rem(16px);
$p-grid-gutter-s: p-px-to-rem(24px);
$p-grid-gutter-m: p-px-to-rem(36px);

$p-grid-item-width: 0% 8.333333% 16.666667% 25% 33.333333% 41.666667% 50% 58.333333% 66.666667% 75% 83.333333%
  91.666667% 100%;

@mixin p-grid-item-size($i) {
  width: #{nth($p-grid-item-width, $i)} !important;
}

@mixin p-grid-item-offset($i) {
  margin-left: #{nth($p-grid-item-width, $i)} !important;
}

:host {
  display: block;
  box-sizing: border-box !important;
  padding: {
    left: $p-grid-gutter / 2 !important;
    right: $p-grid-gutter / 2 !important;
  }
}

@for $i from 1 through 12 {
  :host([size='#{$i}']),
  :host([size*='base:#{$i}']),
  :host([size*='base: #{$i}']) {
    @include p-grid-item-size($i + 1);
  }
  :host([offset='#{$i}']),
  :host([offset*='base:#{$i}']),
  :host([offset*='base: #{$i}']) {
    @include p-grid-item-offset($i + 1);
  }
}

@include p-media-query('xs') {
  @for $i from 1 through 12 {
    :host([size='#{$i}']),
    :host([size*='xs:#{$i}']),
    :host([size*='xs: #{$i}']) {
      @include p-grid-item-size($i + 1);
    }
    :host([offset='#{$i}']),
    :host([offset*='xs:#{$i}']),
    :host([offset*='xs: #{$i}']) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('s') {
  :host {
    padding: {
      left: $p-grid-gutter-s / 2 !important;
      right: $p-grid-gutter-s / 2 !important;
    }
  }

  @for $i from 1 through 12 {
    :host([size='#{$i}']),
    :host([size*='s:#{$i}']),
    :host([size*='s: #{$i}']) {
      @include p-grid-item-size($i + 1);
    }
    :host([offset='#{$i}']),
    :host([offset*='s:#{$i}']),
    :host([offset*='s: #{$i}']) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('m') {
  :host {
    padding: {
      left: $p-grid-gutter-m / 2 !important;
      right: $p-grid-gutter-m / 2 !important;
    }
  }

  @for $i from 1 through 12 {
    :host([size='#{$i}']),
    :host([size*='m:#{$i}']),
    :host([size*='m: #{$i}']) {
      @include p-grid-item-size($i + 1);
    }
    :host([offset='#{$i}']),
    :host([offset*='m:#{$i}']),
    :host([offset*='m: #{$i}']) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('l') {
  @for $i from 1 through 12 {
    :host([size='#{$i}']),
    :host([size*='l:#{$i}']),
    :host([size*='l: #{$i}']) {
      @include p-grid-item-size($i + 1);
    }
    :host([offset='#{$i}']),
    :host([offset*='l:#{$i}']),
    :host([offset*='l: #{$i}']) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('xl') {
  @for $i from 1 through 12 {
    :host([size='#{$i}']),
    :host([size*='xl:#{$i}']),
    :host([size*='xl: #{$i}']) {
      @include p-grid-item-size($i + 1);
    }
    :host([offset='#{$i}']),
    :host([offset*='xl:#{$i}']),
    :host([offset*='xl: #{$i}']) {
      @include p-grid-item-offset($i + 1);
    }
  }
}
