@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';

$p-grid-gutter: p-px-to-rem(16px);
$p-grid-gutter-s: p-px-to-rem(24px);
$p-grid-gutter-m: p-px-to-rem(36px);

$p-grid-item-width: 0% 8.333333% 16.666667% 25% 33.333333% 41.666667% 50% 58.333333% 66.666667% 75% 83.333333%
  91.666667% 100%;

@mixin p-grid-item-size($i) {
  width: #{nth($p-grid-item-width, $i)} !important;
}

@mixin p-grid-item-offset($i) {
  margin-left: #{nth($p-grid-item-width, $i)} !important;
}

:host {
  display: block;
  box-sizing: border-box !important;
  padding: {
    left: $p-grid-gutter / 2 !important;
    right: $p-grid-gutter / 2 !important;
  }
}

@for $i from 1 through 12 {
  :host(.p-size-#{$i}) {
    @include p-grid-item-size($i + 1);
  }
  :host(.p-offset-#{$i}) {
    @include p-grid-item-offset($i + 1);
  }
}

@include p-media-query('xs') {
  @for $i from 1 through 12 {
    :host(.p-size-#{$i}-xs) {
      @include p-grid-item-size($i + 1);
    }
    :host(.p-offset-#{$i}-xs) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('s') {
  :host {
    padding: {
      left: $p-grid-gutter-s / 2 !important;
      right: $p-grid-gutter-s / 2 !important;
    }
  }

  @for $i from 1 through 12 {
    :host(.p-size-#{$i}-s) {
      @include p-grid-item-size($i + 1);
    }
    :host(.p-offset-#{$i}-s) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('m') {
  :host {
    padding: {
      left: $p-grid-gutter-m / 2 !important;
      right: $p-grid-gutter-m / 2 !important;
    }
  }

  @for $i from 1 through 12 {
    :host(.p-size-#{$i}-m) {
      @include p-grid-item-size($i + 1);
    }
    :host(.p-offset-#{$i}-m) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('l') {
  @for $i from 1 through 12 {
    :host(.p-size-#{$i}-l) {
      @include p-grid-item-size($i + 1);
    }
    :host(.p-offset-#{$i}-l) {
      @include p-grid-item-offset($i + 1);
    }
  }
}

@include p-media-query('xl') {
  @for $i from 1 through 12 {
    :host(.p-size-#{$i}-xl) {
      @include p-grid-item-size($i + 1);
    }
    :host(.p-offset-#{$i}-xl) {
      @include p-grid-item-offset($i + 1);
    }
  }
}
