@import 'list-car-info.setup.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/overflow/overflow.mixin.scss';
@import '../../../mixins/breakpoint.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}list-car-info {
  @include -text-size-copy;

  &__item {
    @include -overflow-ellipsis;
    padding-top: $list-car-info-item-padding-vertical;
    padding-bottom: $list-car-info-item-padding-vertical;
    position: relative;
    border-bottom: $list-car-info-item-border-size solid $list-car-info-item-border-color;

    &:first-child {
      border-top: $list-car-info-item-border-size solid $list-car-info-item-border-color;
    }

    @include breakpoint('s', 'm') {
      padding-top: $list-car-info-item-padding-vertical-s;
      padding-bottom: $list-car-info-item-padding-vertical-s;
    }
  }

  &__icon {
    font-size: $list-car-info-icon-size;
    vertical-align: middle;
    margin-right: $list-car-info-icon-margin-right;
  }

  &__left {
    display: inline-block;
    float: left;
    color: $list-car-info-item-left-text-color;
    vertical-align: middle;
  }

  &__right {
    display: inline-block;
    float: right;
    color: $list-car-info-item-right-text-color;
    vertical-align: middle;
  }
}
