@import 'service-history-tile.setup.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}service-history-tile {

  background-color: $service-history-tile-background-color;

  &__imageholder {
    position: relative;
    overflow: hidden;
    text-align: center;
    align-self: center;

    padding: $service-history-tile-image-holder-padding;
    @include breakpoint('s') {
      padding: $service-history-tile-image-holder-padding-s;
    }
  }

  &__image {
    max-height: $service-history-tile-image-max-height;
  }

  &__content {
    @include -spacing-inner-c;
    @include -text-size-copy;
    color: $service-history-tile-content-color;
  }

  &__headline {
    @include -text-size-3-thin;
  }

  &__description {
    @include -spacing-c;
  }

  &__button {
    @include -spacing-c
  }
}
