@import '../../mixins/px-rem-converter.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';

$service-history-tile-background-color: $color-palette-grey-9 !default;

$service-history-tile-content-color: $color-palette-white !default;

$service-history-tile-image-holder-padding: rem(50px) rem(10px) $spacing-30 rem(10px) !default;
$service-history-tile-image-holder-padding-s: rem(0) rem(10px) !default;

$service-history-tile-image-max-height: rem(100px) !default;
