@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code,
  pre {
    @apply pds-text-small;
    font-family: theme(fontFamily.code);
  }

  code.readonly {
    user-select: none;
  }

  :not(pre) > code {
    padding: 2px theme(spacing.static-sm);
    border-radius: theme(borderRadius.sm);
    background-color: theme(colors.background-code.light);
    color: theme(colors.primary.light);
  }

  pre {
    @apply pds-focus;
  }

  pre > * {
    margin-top: theme(spacing.static-sm);
    display: block;
    padding: theme(spacing.static-sm) theme(spacing.static-md);
    word-break: break-all;
    word-wrap: break-word;
    background-color: theme(colors.background-code.light);
    color: theme(colors.primary.light);
    border-radius: theme(borderRadius.md);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@layer components {
  p-inline-notification {
    margin-top: theme(spacing.sm);
  }
}

/*TODO: Fix*/
@layer utilities {
  :where(h3, h4, h5, h6) + p-text-list {
    margin-top: theme(spacing.xs);
  }
}
