@import 'copyright-google.setup.scss';
@import '../../mixins/retina.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}copyright-google {
  width: $copyright-google-width;
  height: $copyright-google-height;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url($copyright-google-background-src);

  @include retina { // sass-lint:disable-line mixins-before-declarations
    background-image: url($copyright-google-background-src-retina);
  }
}
