@import 'layer-blocking.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}layer-blocking {
  background: $layer-blocking-background-color;
  position: absolute;
  left: $layer-blocking-position;
  right: $layer-blocking-position;
  top: $layer-blocking-position;
  bottom: $layer-blocking-position;
  z-index: $layer-blocking-z-index;

  &--sticky {
    position: fixed;
  }
}
