<div class="layout-map-form {{ styleModifier }}">
  <div class="layout-map-form__container -background-white -spacing-inner-a">
    <h2 class="-text-size-3-thin -text-color-black">{{ layout-map-form_title }}</h2>
    {{> molecules-input styleModifier="-spacing-a" input_label="Ort/Adresse" input_value="Porsche Zentrum Stuttgart Porschestraße 9" input_icon="close" }}
    <div class="layout-map-form__map">
      <img src="{{ googleMaps.src }}" style="width: 100%; height: 100%;">
    </div>
    {{> molecules-input styleModifier="-spacing-a layout-map-form__input-radius" input_label="Radius" input_value="0,25 km" input_icon="close" }}
    {{> molecules-input styleModifier="-spacing-a" input_label="Name" input_value="Porsche Zentrum Stuttgart" input_icon="close" }}
    <div class="layout-map-form__button-delete">
      {{#if layout-map-form_deleteButton }}
        {{> molecules-button-icon button-icon_icon="delete" }}
      {{/if}}
    </div>
  </div>
  {{> organisms-form-button-group }}
</div>
