@import 'climatisation-control.setup.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/align/align.mixin.scss';
@import '../../../base/grid/flex.mixin.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}climatisation-control {
  @include flex;
  @include flex--direction('column');
  @include -spacing-inner-a;
  width: $climatisation-control-width;
  background-color: $climatisation-control-background;

  &__info {
    @include flex;
    @include flex--direction('column');
    @include flex--justify-content('center');
    @include flex--align-items('center');
    @include flex--grow(1);
  }

  &__icon {
    font-size: $climatisation-control-icon-size;
    color: $climatisation-control-icon-color;
  }

  &__title {
    @include -text-size-3-thin;
    @include -align-center;
    color: $climatisation-control-title-color;
  }

  &__button {
    @include -spacing-c;
    height: auto; // fixes 100% height definition for multiline button
  }
}
