@import '../../setup/color-palette.setup.scss';

$list-menu-size: 1.875rem !default;
$list-menu-size-s: 2.25rem !default;

$list-menu-position-top: 1.125rem !default;
$list-menu-position-top-s: 50% !default;
$list-menu-position-right: .75rem !default;
$list-menu-position-right-xs: 1.125rem !default;
$list-menu-position-right-l: 1.875rem !default;

$list-menu-icon-font-size-s: 1.125rem !default;
$list-menu-position-safe-click-area: -.4375rem !default;
$list-menu-border-width: .125rem !default;
$list-menu-border-radius: 50% !default;

$list-menu-circle-background-color: transparent !default;
$list-menu-circle-border-color: $color-palette-grey-7 !default;
$list-menu-circle-hover-background-color: $color-palette-grey-7 !default;
$list-menu-circle-hover-border-color: $color-palette-grey-7 !default;
$list-menu-icon-color: $color-palette-grey-7 !default;
$list-menu-icon-hover-color: $color-palette-white !default;

$list-menu-position-top-open-state: 3.3125rem !default;
$list-menu-translation-open-state: 50% !default;
