@import '../../base/spacing/spacing.setup.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$list-orders-item-spacing-top: $spacing-18 !default;
$list-orders-item-spacing-bottom: $spacing-24 !default;
$list-orders-item-border-color: $color-palette-grey-6 !default;
$list-orders-item-border-width: rem(2px) !default;
$list-orders-item-active-border-color: $color-palette-red-1 !default;

$list-orders-content-separator-color: $color-palette-grey-6 !default;
$list-orders-content-separator-spacing: 0 10px !default;

$list-orders-content-border-size: 1px !default;

$list-orders-menu-circle-button-size: rem(40px) !default;
$list-orders-menu-circle-button-radius: 50% !default;
$list-orders-menu-circle-background-color: transparent !default;
$list-orders-menu-circle-border-color: $color-palette-red-1 !default;
$list-orders-menu-circle-border-width: 2px !default;
$list-orders-menu-circle-hover-border-color: $color-palette-red-1 !default;

$list-orders-menu-icon-offset-top: rem(10px) !default;
$list-orders-menu-icon-font-size: rem(20px) !default;
$list-orders-menu-icon-line-height: rem(37px) !default;
