// brand colors
$p-color-porsche-red: #d5001c;
$p-color-porsche-dark-red: #960014;
$p-color-porsche-light: #fff;
$p-color-surface-light: #f2f2f2;
$p-color-surface-dark: #1a2023;
$p-color-porsche-dark: #0e1418;
$p-color-porsche-black: #000;

// neutral colors
$p-color-neutral-grey-1: #e3e4e5;
$p-color-neutral-grey-2: #c9cacb;
$p-color-neutral-grey-3: #b0b1b2;
$p-color-neutral-grey-4: #96989a;
$p-color-neutral-grey-5: #7c7f81;
$p-color-neutral-grey-6: #626669;
$p-color-neutral-grey-7: #4a4e51;
$p-color-neutral-grey-8: #323639;

// status colors
$p-color-status-red: #e00000;
$p-color-status-green: #13d246;
$p-color-status-yellow: #e2b236;

/**
 * TODO: old variables. delete if storefront is refactored to new ones!!!!
 */
// ci colors
$p-color-white: #fff; // --> $p-color-porsche-light
$p-color-grey-1: #eff0f1; // --> ???
$p-color-grey-2: #e3e4e4; // --> $p-color-neutral-grey-1
$p-color-grey-3: #c8cacb; // --> $p-color-neutral-grey-2
$p-color-grey-4: #afb1b2; // --> $p-color-neutral-grey-3
$p-color-grey-5: #959899; // --> $p-color-neutral-grey-4
$p-color-grey-6: #7b7e80; // --> $p-color-neutral-grey-5
$p-color-grey-7: #626669; // --> $p-color-neutral-grey-6
$p-color-grey-8: #494e51; // --> $p-color-neutral-grey-7
$p-color-grey-9: #313639; // --> $p-color-neutral-grey-8
$p-color-grey-9-1: #1c2225; // --> ???
$p-color-grey-10: #191f22; // --> ???
$p-color-grey-10-1: #12181c; // --> ???
$p-color-black: #000; // --> $p-color-porsche-black

$p-color-red-1: #d5001c; // --> $p-color-porsche-red
$p-color-red-2: #960014; // --> $p-color-porsche-dark-red

$p-color-blue-1: #196a99; // --> does not exist anymore!
$p-color-blue-2: #15577e; // --> does not exist anymore!
$p-color-blue-3: #2da6d5; // --> does not exist anymore!

// status colors
$p-color-status-orange: #e6950a; // --> ???
