// ci colors
$p-color-white: #fff;
$p-color-grey-1: #eff0f1;
$p-color-grey-2: #e3e4e4;
$p-color-grey-3: #c8cacb;
$p-color-grey-4: #afb1b2;
$p-color-grey-5: #959899;
$p-color-grey-6: #7b7e80;
$p-color-grey-7: #626669;
$p-color-grey-8: #494e51;
$p-color-grey-9: #313639;
$p-color-grey-9-1: #1c2225;
$p-color-grey-10: #191f22;
$p-color-grey-10-1: #12181c;
$p-color-black: #000;

$p-color-red-1: #d5001c;
$p-color-red-2: #960014;

$p-color-blue-1: #196a99;
$p-color-blue-2: #15577e;
$p-color-blue-3: #2da6d5;

// status colors
$p-color-status-green: #13d246;
$p-color-status-yellow: #ff0;
$p-color-status-orange: #e6950a;
$p-color-status-red: #d5001c;

// external brand colors
$p-color-facebook: #3b5998;
$p-color-google: #cc3732;
$p-color-youtube: #cd201f;
$p-color-twitter: #55acee;
$p-color-pinterest: #cc2127;
$p-color-instagram: #3f729b;
$p-color-linkedin: #0077b5;
