@import "./../function/rem.function";

$p-spacing-0: rem(0);
$p-spacing-4: rem(4px);
$p-spacing-8: rem(8px);
$p-spacing-16: rem(16px);
$p-spacing-24: rem(24px);
$p-spacing-32: rem(32px);
$p-spacing-40: rem(40px);
$p-spacing-48: rem(48px);
$p-spacing-56: rem(56px);
$p-spacing-64: rem(64px);
$p-spacing-72: rem(72px);
$p-spacing-80: rem(80px);
