@import "./../function/rem.function";

$p-spacing-0: rem(0);
$p-spacing-3: rem(3px);
$p-spacing-6: rem(6px);
$p-spacing-12: rem(12px);
$p-spacing-18: rem(18px);
$p-spacing-24: rem(24px);
$p-spacing-30: rem(30px);
$p-spacing-36: rem(36px);
$p-spacing-42: rem(42px);
$p-spacing-48: rem(48px);
$p-spacing-54: rem(54px);
$p-spacing-60: rem(60px);
