@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';
@import '../../../styles/mixins';

@mixin label-visible() {
  .label,
  + .subline {
    width: 100%;
    height: auto;
    margin-left: p-px-to-rem(4px);
    padding: 0 0.125em 0 0;
    white-space: normal;
    overflow: visible;
    text-indent: 0;
  }
}

@mixin label-hidden() {
  .label,
  + .subline {
    width: 1px;
    height: 1px;
    margin-left: -1px;
    margin-top: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-indent: -1px;
  }
}

:host {
  display: inline-block;
  vertical-align: top;
  position: relative !important;
  cursor: pointer;
}

::slotted(a) {
  display: block !important;
  position: static !important;
  text-decoration: none !important;
  color: inherit !important;
  line-height: inherit !important;
  outline: transparent none !important;
}

::slotted(p) {
  margin: 0;
}

.root {
  $bem-block: &;
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent none;
  appearance: none;
  border: none;
  text-decoration: none;
  text-align: left;
  background: transparent;
  color: $p-color-default;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier, font-size 1ms linear; // used for transitionend event listener
  @include p-focus($p-color-state-focus, 1px, '::before');

  &:not(a)::before {
    pointer-events: none;
  }
  + * {
    color: $p-color-default;
  }

  &:active {
    color: $p-color-state-active;
    + * {
      color: $p-color-state-active;
    }
  }

  &:hover {
    color: $p-color-state-hover;
    + * {
      color: $p-color-state-hover;
    }
  }

  &--active {
    color: $p-color-brand;
    + * {
      color: $p-color-brand;
    }
  }

  &--theme-dark {
    @include p-focus($p-color-theme-dark-state-focus, 1px, '::before');
    color: $p-color-theme-dark-default;
    + * {
      color: $p-color-theme-dark-default;
    }

    &:active {
      color: $p-color-theme-dark-state-active;
      + * {
        color: $p-color-theme-dark-state-active;
      }
    }

    &:hover {
      color: $p-color-theme-dark-state-hover;
      + * {
        color: $p-color-theme-dark-state-hover;
      }
    }

    &#{$bem-block}--active {
      color: $p-color-theme-dark-brand;
      + * {
        color: $p-color-theme-dark-brand;
      }
    }
  }

  &--size-x-small {
    @include adjust-to-font-size($p-font-size-x-small);
  }
  &--size-small {
    @include adjust-to-font-size($p-font-size-small);
  }
  &--size-medium {
    @include adjust-to-font-size($p-font-size-medium);
  }
  &--size-large {
    @include adjust-to-font-size($p-font-size-large);
  }
  &--size-x-large {
    @include adjust-to-font-size($p-font-size-x-large);
  }
  &--size-inherit {
    @include adjust-to-font-size('inherit');
  }

  &--with-label {
    @include label-visible;
  }
  &--without-label {
    @include label-hidden;
  }

  @include p-media-query('xs') {
    &--size-x-small-xs {
      @include adjust-to-font-size($p-font-size-x-small);
    }
    &--size-small-xs {
      @include adjust-to-font-size($p-font-size-small);
    }
    &--size-medium-xs {
      @include adjust-to-font-size($p-font-size-medium);
    }
    &--size-large-xs {
      @include adjust-to-font-size($p-font-size-large);
    }
    &--size-x-large-xs {
      @include adjust-to-font-size($p-font-size-x-large);
    }
    &--size-inherit-xs {
      @include adjust-to-font-size('inherit');
    }

    &--with-label-xs {
      @include label-visible;
    }
    &--without-label-xs {
      @include label-hidden;
    }
  }

  @include p-media-query('s') {
    &--size-x-small-s {
      @include adjust-to-font-size($p-font-size-x-small);
    }
    &--size-small-s {
      @include adjust-to-font-size($p-font-size-small);
    }
    &--size-medium-s {
      @include adjust-to-font-size($p-font-size-medium);
    }
    &--size-large-s {
      @include adjust-to-font-size($p-font-size-large);
    }
    &--size-x-large-s {
      @include adjust-to-font-size($p-font-size-x-large);
    }
    &--size-inherit-s {
      @include adjust-to-font-size('inherit');
    }

    &--with-label-s {
      @include label-visible;
    }
    &--without-label-s {
      @include label-hidden;
    }
  }

  @include p-media-query('m') {
    &--size-x-small-m {
      @include adjust-to-font-size($p-font-size-x-small);
    }
    &--size-small-m {
      @include adjust-to-font-size($p-font-size-small);
    }
    &--size-medium-m {
      @include adjust-to-font-size($p-font-size-medium);
    }
    &--size-large-m {
      @include adjust-to-font-size($p-font-size-large);
    }
    &--size-x-large-m {
      @include adjust-to-font-size($p-font-size-x-large);
    }
    &--size-inherit-m {
      @include adjust-to-font-size('inherit');
    }

    &--with-label-m {
      @include label-visible;
    }
    &--without-label-m {
      @include label-hidden;
    }
  }

  @include p-media-query('l') {
    &--size-x-small-l {
      @include adjust-to-font-size($p-font-size-x-small);
    }
    &--size-small-l {
      @include adjust-to-font-size($p-font-size-small);
    }
    &--size-medium-l {
      @include adjust-to-font-size($p-font-size-medium);
    }
    &--size-large-l {
      @include adjust-to-font-size($p-font-size-large);
    }
    &--size-x-large-l {
      @include adjust-to-font-size($p-font-size-x-large);
    }
    &--size-inherit-l {
      @include adjust-to-font-size('inherit');
    }

    &--with-label-l {
      @include label-visible;
    }
    &--without-label-l {
      @include label-hidden;
    }
  }

  @include p-media-query('xl') {
    &--size-x-small-xl {
      @include adjust-to-font-size($p-font-size-x-small);
    }
    &--size-small-xl {
      @include adjust-to-font-size($p-font-size-small);
    }
    &--size-medium-xl {
      @include adjust-to-font-size($p-font-size-medium);
    }
    &--size-large-xl {
      @include adjust-to-font-size($p-font-size-large);
    }
    &--size-x-large-xl {
      @include adjust-to-font-size($p-font-size-x-large);
    }
    &--size-inherit-xl {
      @include adjust-to-font-size('inherit');
    }

    &--with-label-xl {
      @include label-visible;
    }
    &--without-label-xl {
      @include label-hidden;
    }
  }
}

.icon {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
}

.label {
  display: block;
  box-sizing: border-box;
  border: 0;
}

.subline {
  display: flex;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;
  margin-top: 4px;

  &::before {
    // We need a margin-left according to the labels font-size. The size of before gets calculated in the size mixin
    content: '';
  }
}
