@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$button-notification-max-width: 100% !default;
$button-notification-height: $spacing-30 !default;
$button-notification-spacing-vertical: 0 !default;
$button-notification-spacing-right: $spacing-18 !default;
$button-notification-spacing-left: $spacing-12 !default;
$button-notification-border-size: 1px !default;
$button-notification-border-radius: 0 !default;
$button-notification-border-color: $color-palette-white !default;
$button-notification-background-color: transparent !default;
$button-notification-background-color-hovered: $color-palette-white !default;
$button-notification-text-color: $color-palette-white !default;
$button-notification-text-color-hovered: $color-palette-blue-1 !default;

$button-notification-error-text-color-hovered: $color-palette-red-1 !default;

$button-notification-cookie-text-color-hovered: $color-palette-grey-9 !default;

$button-notification-safe-clickable-area: - $spacing-6 !default;

$button-notification-icon-font-size: $spacing-18 !default;

$button-notification-label-spacing-to-icon: $spacing-12 !default;
