@import 'button-inline.setup.scss';

@mixin button-inline {
  border: $button-inline-border-width;
  background: $button-inline-background-color;
  color: $button-inline-text-color;

  &:hover {
    @include hover-background($button-inline-background-color-hovered);
  }
}

@mixin button-inline-ghost {
  background: $button-inline-background-color-ghost;
  border: $button-inline-border-width-ghost solid $button-inline-border-color-ghost;

  &:hover {
    @include hover-background($button-inline-background-color-ghost-hovered);
  }
}

@mixin button-inline-ghost-dark {
  background: $button-inline-background-color-ghost-dark;
  border: $button-inline-border-width-ghost-dark solid $button-inline-border-color-ghost-dark;
  color: $button-inline-text-color-ghost-dark;

  &:hover {
    @include hover-background($button-inline-background-color-ghost-dark-hovered);
    color: $button-inline-text-color;
  }
}

@mixin hover-background($color) {
  background: $color;
}

@mixin button-inline-multiline {
  height: $button-inline-multi-lines-centered-height;
  display: block;
  padding: {
    top: $button-inline-multi-lines-centered-spacing-vertical;
    bottom: $button-inline-multi-lines-centered-spacing-vertical;
  }
}
