<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d" }}

  <div class="row -spacing-c">
    <div class="column column--12">

      {{> organisms-car-selector-02-logged-in-selected }}

    </div>
  </div>
  <div class="row -spacing-12">
    <div class="column column--12">
      <p class="-text-size-copy -text-color-grey-5 -align-right">{{ car-finder_latestUpdateTimestamp }}</p>
    </div>
  </div>
  <div class="row -spacing-b">
    <div class="column column--12">

      {{> molecules-map-overview }}

    </div>
  </div>
</section>
