@import "../../../common";
@import "../../../../../../../node_modules/@porsche/ui-kit-core/src/base/layout/index";

// Grid spacings
.#{$global-class-prefix}flex {
    @include flex;

    @include breakpoint("xs") {
        &-xs {
            @include flex;
        }
    }

    @include breakpoint("s") {
        &-s {
            @include flex;
        }
    }

    @include breakpoint("m") {
        &-m {
            @include flex;
        }
    }

    @include breakpoint("l") {
        &-l {
            @include flex;
        }
    }

    @include breakpoint("xl") {
        &-xl {
            @include flex;
        }
    }

    &--direction {
        &-column {
            @include flex-direction(column);
        }
        &-column-reverse {
            @include flex-direction(column-reverse);
        }
        &-row {
            @include flex-direction(row);
        }
        &-row-reverse {
            @include flex-direction(row-reverse);
        }

        @include breakpoint("xs") {
            &-column-xs {
                @include flex-direction(column);
            }
            &-column-reverse-xs {
                @include flex-direction(column-reverse);
            }
            &-row-xs {
                @include flex-direction(row);
            }
            &-row-reverse-xs {
                @include flex-direction(row-reverse);
            }
        }

        @include breakpoint("s") {
            &-column-s {
                @include flex-direction(column);
            }
            &-column-reverse-s {
                @include flex-direction(column-reverse);
            }
            &-row-s {
                @include flex-direction(row);
            }
            &-row-reverse-s {
                @include flex-direction(row-reverse);
            }
        }

        @include breakpoint("m") {
            &-column-m {
                @include flex-direction(column);
            }
            &-column-reverse-m {
                @include flex-direction(column-reverse);
            }
            &-row-m {
                @include flex-direction(row);
            }
            &-row-reverse-m {
                @include flex-direction(row-reverse);
            }
        }

        @include breakpoint("l") {
            &-column-l {
                @include flex-direction(column);
            }
            &-column-reverse-l {
                @include flex-direction(column-reverse);
            }
            &-row-l {
                @include flex-direction(row);
            }
            &-row-reverse-l {
                @include flex-direction(row-reverse);
            }
        }

        @include breakpoint("xl") {
            &-column-xl {
                @include flex-direction(column);
            }
            &-column-reverse-xl {
                @include flex-direction(column-reverse);
            }
            &-row-xl {
                @include flex-direction(row);
            }
            &-row-reverse-xl {
                @include flex-direction(row-reverse);
            }
        }
    }

    &--main-axis {
        &-start {
            @include flex-main-axis(flex-start);
        }
        &-end {
            @include flex-main-axis(flex-end);
        }
        &-center {
            @include flex-main-axis(center);
        }
        &-space-between {
            @include flex-main-axis(space-between);
        }
        &-space-around {
            @include flex-main-axis(space-around);
        }
        &-space-evenly {
            @include flex-main-axis(space-evenly);
        }

        @include breakpoint("xs") {
            &-start-xs {
                @include flex-main-axis(flex-start);
            }
            &-end-xs {
                @include flex-main-axis(flex-end);
            }
            &-center-xs {
                @include flex-main-axis(center);
            }
            &-space-between-xs {
                @include flex-main-axis(space-between);
            }
            &-space-around-xs {
                @include flex-main-axis(space-around);
            }
            &-space-evenly-xs {
                @include flex-main-axis(space-evenly);
            }
        }

        @include breakpoint("s") {
            &-start-s {
                @include flex-main-axis(flex-start);
            }
            &-end-s {
                @include flex-main-axis(flex-end);
            }
            &-center-s {
                @include flex-main-axis(center);
            }
            &-space-between-s {
                @include flex-main-axis(space-between);
            }
            &-space-around-s {
                @include flex-main-axis(space-around);
            }
            &-space-evenly-s {
                @include flex-main-axis(space-evenly);
            }
        }

        @include breakpoint("m") {
            &-start-m {
                @include flex-main-axis(flex-start);
            }
            &-end-m {
                @include flex-main-axis(flex-end);
            }
            &-center-m {
                @include flex-main-axis(center);
            }
            &-space-between-m {
                @include flex-main-axis(space-between);
            }
            &-space-around-m {
                @include flex-main-axis(space-around);
            }
            &-space-evenly-m {
                @include flex-main-axis(space-evenly);
            }
        }

        @include breakpoint("l") {
            &-start-l {
                @include flex-main-axis(flex-start);
            }
            &-end-l {
                @include flex-main-axis(flex-end);
            }
            &-center-l {
                @include flex-main-axis(center);
            }
            &-space-between-l {
                @include flex-main-axis(space-between);
            }
            &-space-around-l {
                @include flex-main-axis(space-around);
            }
            &-space-evenly-l {
                @include flex-main-axis(space-evenly);
            }
        }

        @include breakpoint("xl") {
            &-start-xl {
                @include flex-main-axis(flex-start);
            }
            &-end-xl {
                @include flex-main-axis(flex-end);
            }
            &-center-xl {
                @include flex-main-axis(center);
            }
            &-space-between-xl {
                @include flex-main-axis(space-between);
            }
            &-space-around-xl {
                @include flex-main-axis(space-around);
            }
            &-space-evenly-xl {
                @include flex-main-axis(space-evenly);
            }
        }
    }

    &--cross-axis {
        &-start {
            @include flex-cross-axis(flex-start);
        }
        &-end {
            @include flex-cross-axis(flex-end);
        }
        &-center {
            @include flex-cross-axis(center);
        }
        &-stretch {
            @include flex-cross-axis(stretch);
        }

        @include breakpoint("xs") {
            &-start-xs {
                @include flex-cross-axis(flex-start);
            }
            &-end-xs {
                @include flex-cross-axis(flex-end);
            }
            &-center-xs {
                @include flex-cross-axis(center);
            }
            &-stretch-xs {
                @include flex-cross-axis(stretch);
            }
        }

        @include breakpoint("s") {
            &-start-s {
                @include flex-cross-axis(flex-start);
            }
            &-end-s {
                @include flex-cross-axis(flex-end);
            }
            &-center-s {
                @include flex-cross-axis(center);
            }
            &-stretch-s {
                @include flex-cross-axis(stretch);
            }
        }

        @include breakpoint("m") {
            &-start-m {
                @include flex-cross-axis(flex-start);
            }
            &-end-m {
                @include flex-cross-axis(flex-end);
            }
            &-center-m {
                @include flex-cross-axis(center);
            }
            &-stretch-m {
                @include flex-cross-axis(stretch);
            }
        }

        @include breakpoint("l") {
            &-start-l {
                @include flex-cross-axis(flex-start);
            }
            &-end-l {
                @include flex-cross-axis(flex-end);
            }
            &-center-l {
                @include flex-cross-axis(center);
            }
            &-stretch-l {
                @include flex-cross-axis(stretch);
            }
        }

        @include breakpoint("xl") {
            &-start-xl {
                @include flex-cross-axis(flex-start);
            }
            &-end-xl {
                @include flex-cross-axis(flex-end);
            }
            &-center-xl {
                @include flex-cross-axis(center);
            }
            &-stretch-xl {
                @include flex-cross-axis(stretch);
            }
        }
    }

    &__child {
        @include flex-child-grow(1);
        @include flex-child-shrink(1);
        @include flex-child-basis(0);
    }
}

// Additions
.#{$global-class-prefix}flex {
    &--inline {
        display: inline-flex;
    }

    &--align-lines {
        &-start {
            align-content: flex-start;
        }
        &-center {
            align-content: center;
        }
        &-end {
            align-content: flex-end;
        }
        &-space-around {
            align-content: space-around;
        }
        &-space-between {
            align-content: space-between;
        }
        &-stretch {
            align-content: stretch;
        }
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }

    &--wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &--shrink-0 {
        flex-shrink: 0;
    }

    &--shrink-1 {
        flex-shrink: 1;
    }

    &__child {
        &--cross-axis {
            &-start {
                align-self: flex-start;
            }
            &-center {
                align-self: center;
            }
            &-end {
                align-self: flex-end;
            }
            &-baseline {
                align-self: baseline;
            }
            &-stretch {
                align-self: stretch;
            }
        }

        &--shrink-0 {
            flex-shrink: 0;
        }

        &--shrink-1 {
            flex-shrink: 1;
        }
    }
}
