@import '../../../../../../../packages/ui-kit-scss-utils/index';

.#{$p-global-class-prefix}text-list {
  @include p-text;
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--color {
    &-inherit {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: inherit;
      }
    }

    &-porsche-light {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: $p-color-theme-dark-default;
      }
    }

    &-porsche-black {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: $p-color-theme-light-default;
      }
    }
  }
}
