@import '../../../../styles/utility/index';

.#{$p-global-class-prefix}text-list {
  @include p-text-copy;
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--color {
    &-inherit {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: inherit;
      }
    }

    &-porsche-light {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: $p-color-porsche-light;
      }
    }

    &-porsche-black {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: $p-color-porsche-black;
      }
    }
  }
}
