@import '../../../../../../../packages/ui-kit-scss-utils/index';

.#{$p-global-class-prefix}text-list {
  $bem-block: &;
  @include p-text;
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--color {

    &-default {
      &#{$bem-block}--theme-light {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-light-default;
        }
      }

      &#{$bem-block}--theme-dark {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-dark-default;
        }
      }
    }

    &-neutral-1 {
      &#{$bem-block}--theme-light {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-light-neutral-1;
        }
      }

      &#{$bem-block}--theme-dark {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-dark-neutral-1;
        }
      }
    }

    &-neutral-2 {
      &#{$bem-block}--theme-light {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-light-neutral-2;
        }
      }

      &#{$bem-block}--theme-dark {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-dark-neutral-2;
        }
      }
    }

    &-neutral-3 {
      &#{$bem-block}--theme-light {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-light-neutral-3;
        }
      }

      &#{$bem-block}--theme-dark {
        &,
        & .#{$p-global-class-prefix}text-list {
          color: $p-color-theme-dark-neutral-3;
        }
      }
    }

    &-inherit {
      &,
      & .#{$p-global-class-prefix}text-list {
        color: inherit;
      }
    }
  }
}
