@import "../../../../styles/utility/index";

$p-grid-child-width: 0% 8.333333% 16.666667% 25% 33.333333% 41.666667% 50% 58.333333% 66.666667% 75% 83.333333%
  91.666667% 100%;

@mixin p-grid-child-size($i) {
  width: #{nth($p-grid-child-width, $i)};
}

@mixin p-grid-child-offset($i) {
  margin-left: #{nth($p-grid-child-width, $i)};
}

/**
  * properties for grid children items (widths and offsets)
  */
.#{$p-global-class-prefix}grid-child {
  box-sizing: border-box;

  &--size {
    @for $i from 1 through 12 {
      &-#{$i} {
        @include p-grid-child-size($i + 1);
      }
    }

    @include breakpoint("xs") {
      @for $i from 1 through 12 {
        &-#{$i}-xs {
          @include p-grid-child-size($i + 1);
        }
      }
    }

    @include breakpoint("s") {
      @for $i from 1 through 12 {
        &-#{$i}-s {
          @include p-grid-child-size($i + 1);
        }
      }
    }

    @include breakpoint("m") {
      @for $i from 1 through 12 {
        &-#{$i}-m {
          @include p-grid-child-size($i + 1);
        }
      }
    }

    @include breakpoint("l") {
      @for $i from 1 through 12 {
        &-#{$i}-l {
          @include p-grid-child-size($i + 1);
        }
      }
    }

    @include breakpoint("xl") {
      @for $i from 1 through 12 {
        &-#{$i}-xl {
          @include p-grid-child-size($i + 1);
        }
      }
    }
  }

  &--offset {
    @for $i from 0 through 11 {
      &-#{$i} {
        @include p-grid-child-offset($i + 1);
      }
    }

    @include breakpoint("xs") {
      @for $i from 0 through 11 {
        &-#{$i}-xs {
          @include p-grid-child-offset($i + 1);
        }
      }
    }

    @include breakpoint("s") {
      @for $i from 0 through 11 {
        &-#{$i}-s {
          @include p-grid-child-offset($i + 1);
        }
      }
    }

    @include breakpoint("m") {
      @for $i from 0 through 11 {
        &-#{$i}-m {
          @include p-grid-child-offset($i + 1);
        }
      }
    }

    @include breakpoint("l") {
      @for $i from 0 through 11 {
        &-#{$i}-l {
          @include p-grid-child-offset($i + 1);
        }
      }
    }

    @include breakpoint("xl") {
      @for $i from 0 through 11 {
        &-#{$i}-xl {
          @include p-grid-child-offset($i + 1);
        }
      }
    }
  }
}
