@import "../../../common";

$modal-max-width: 520px;

.#{$global-class-prefix}modal {
    max-width: calc(100% - 2 * 24px);
    max-height: calc(100% - 2 * 48px);

    @media screen and (min-width: rem($modal-max-width) + 2 * $spacing-24) {
        max-width: $modal-max-width;
    }

    &--full-width {
        max-width: calc(100% - 2 * 24px);

        @include breakpoint("s") {
            max-width: calc(100% - 2 * 48px);
        }
    }

    background: $white;
    outline: none;
    overflow-y: scroll;

    &__body {
        &--open {
            overflow: hidden;
        }
    }

    &__overlay {
        position: fixed;
        // overflow: auto;
        // -webkit-overflow-scrolling: touch;
        z-index: 10000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($black, 0.8);
    }

    &__content {
        padding-left: $spacing-36;
        padding-right: $spacing-36;
        padding-top: $spacing-24;
        padding-bottom: $spacing-24;
    }
}

.#{$global-class-prefix}modal__portal > div {
    opacity: 0;
}

.#{$global-class-prefix}modal__portal .ReactModal__Overlay {
    transition: opacity 100ms ease-in-out;
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}
