@import "./variables.scss";

$p-font-face-source: "https://cdn.ui.porsche.com/porsche-ui-kit/font/v1" !default;

// Latin
@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-thin;
    src: url("#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Thin.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Thin.woff") format("woff");
    unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F,
        U+0E00-0E7F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF,
        U+2200-22FF, U+25A0-25FF, U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-regular;
    src: url("#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Regular.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Regular.woff") format("woff");
    unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F,
        U+0E00-0E7F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF,
        U+2200-22FF, U+25A0-25FF, U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-bold;
    src: url("#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Bold.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Bold.woff") format("woff");
    unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F,
        U+0E00-0E7F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF,
        U+2200-22FF, U+25A0-25FF, U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
    font-display: swap;
}

// Greek
@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-thin;
    src: url("#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Thin.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Thin.woff") format("woff");
    unicode-range: U+0370-03FF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-regular;
    src: url("#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Regular.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Regular.woff") format("woff");
    unicode-range: U+0370-03FF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-bold;
    src: url("#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Bold.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Bold.woff") format("woff");
    unicode-range: U+0370-03FF;
    font-display: swap;
}

// Cyril
@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-thin;
    src: url("#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Thin.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Thin.woff") format("woff");
    unicode-range: U+0400-04FF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-regular;
    src: url("#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Regular.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Regular.woff") format("woff");
    unicode-range: U+0400-04FF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-bold;
    src: url("#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Bold.woff2") format("woff2"),
        url("#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Bold.woff") format("woff");
    unicode-range: U+0400-04FF;
    font-display: swap;
}

// Armenian
@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-thin;
    src: local("Sylfaen"), local("Segoe UI"), local("Free Sans"), local("Mshtakan"), local("Noto Serif Armenian");
    unicode-range: U+0530-058F;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-regular;
    src: local("Sylfaen"), local("Segoe UI"), local("Free Sans"), local("Mshtakan"), local("Noto Serif Armenian");
    unicode-range: U+0530-058F;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-bold;
    src: local("Sylfaen"), local("Segoe UI"), local("Free Sans"), local("Mshtakan"), local("Noto Serif Armenian");
    unicode-range: U+0530-058F;
    font-display: swap;
}

// Hebrew
@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-thin;
    src: local("Arial Hebrew"), local("Heebo"), local("Droid Sans Hebrew"), local("DebianHebrew");
    unicode-range: U+0590-05FF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-regular;
    src: local("Arial Hebrew"), local("Heebo"), local("Droid Sans Hebrew"), local("DebianHebrew");
    unicode-range: U+0590-05FF;
    font-display: swap;
}

@font-face {
    font-family: "Porsche Next";
    font-style: normal;
    font-weight: $p-font-weight-bold;
    src: local("Arial Hebrew"), local("Heebo"), local("Droid Sans Hebrew"), local("DebianHebrew");
    unicode-range: U+0590-05FF;
    font-display: swap;
}

// CJK (Chinese Japanese Korean)
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-thin;
//  // src
//  unicode-range: U+FF00-FFEF;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-regular;
//  // src
//  unicode-range: U+FF00-FFEF;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-bold;
//  // src
//  unicode-range: U+FF00-FFEF;
//  font-display: swap;
//}

// Japanese
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-thin;
//  // src
//  unicode-range: U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+3190-319F;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-regular;
//  // src
//  unicode-range: U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+3190-319F;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-bold;
//  // src
//  unicode-range: U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+3190-319F;
//  font-display: swap;
//}

// Korean
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-thin;
//  // src
//  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-regular;
//  // src
//  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Porsche Next';
//  font-style: normal;
//  font-weight: $p-font-weight-bold;
//  // src
//  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF;
//  font-display: swap;
//}
