@import '../../../../../utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

@mixin column-mixin() {
  flex-flow: column nowrap !important;
  align-items: stretch !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  ::slotted(*) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@mixin row-mixin() {
  flex-flow: row wrap !important;
  align-items: center !important;
  margin-right: -$p-spacing-8 !important;
  margin-left: -$p-spacing-8 !important;
  ::slotted(*) {
    margin-right: $p-spacing-8 !important;
    margin-left: $p-spacing-8 !important;
  }
}

:host {
  display: block;
}

::slotted(*) {
  margin-top: $p-spacing-16 !important;
}

.group {
  display: flex;
  margin-top: -$p-spacing-16;

  @include column-mixin();
  @include p-media-query('xs') {
    @include row-mixin();
  }

  &--direction {
    &-column {
      @include column-mixin();
    }

    &-row {
      @include row-mixin();
    }

    @include p-media-query('xs') {
      &-column-xs {
        @include column-mixin();
      }

      &-row-xs {
        @include row-mixin();
      }
    }

    @include p-media-query('s') {
      &-column-s {
        @include column-mixin();
      }

      &-row-s {
        @include row-mixin();
      }
    }

    @include p-media-query('m') {
      &-column-m {
        @include column-mixin();
      }

      &-row-m {
        @include row-mixin();
      }
    }

    @include p-media-query('l') {
      &-column-l {
        @include column-mixin();
      }

      &-row-l {
        @include row-mixin();
      }
    }

    @include p-media-query('xl') {
      &-column-xl {
        @include column-mixin();
      }

      &-row-xl {
        @include row-mixin();
      }
    }
  }
}
