@import '../../base/font/font.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../setup/animations.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../mixins/breakpoint.scss';

.#{$global-class-prefix}button-regular {
  $bem-block: &;

  @include flex-inline;
  @include flex-cross-axis(flex-start);
  @include flex-direction(column);
  @include -align-left;
  @include -text-size-copy;
  @include -spacing-12(top, padding);
  @include -spacing-12(bottom, padding);
  padding-left: rem(17px); // 17px width because of 1 px border which leads to 18px
  padding-right: rem(17px);
  position: relative;
  max-width: 100%; // fix for IE11, forces using multi line label
  border-radius: 0; // fix for Chrome and Safari
  appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: $color-palette-grey-9;
  border: 1px solid $color-palette-grey-9;
  color: $color-palette-white;
  transition: background-color $animation-hover-duration $animation-hover-bezier, border-color $animation-hover-duration $animation-hover-bezier, color $animation-hover-duration $animation-hover-bezier; // must be globally defined

  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &--theme-inverted {
    color: $color-palette-black;
    background-color: $color-palette-white;
    border-color: $color-palette-white;
  }

  &:not([disabled]) {
    &:hover,
    &:focus,
    &:active {
      background-color: $color-palette-grey-10;
      border-color: $color-palette-grey-10;
      text-decoration: none;

      &#{$bem-block}--theme-inverted {
        background-color: $color-palette-grey-2;
        border-color: $color-palette-grey-2;
      }
    }
  }

  &[disabled],
  &[aria-disabled='true'] {
    cursor: default;
    pointer-events: none;
    background-color: mix($color-palette-grey-9, $color-palette-white, 50%);
    border-color: mix($color-palette-grey-9, $color-palette-white, 50%);

    #{$bem-block}__icon {
      opacity: .55;
    }

    #{$bem-block}__label {
      opacity: .55;
    }

    #{$bem-block}__icon-loader {
      opacity: 1;
    }

    &#{$bem-block}--theme-inverted {
      color: $color-palette-black;
      background-color: mix($color-palette-white, $color-palette-grey-10, 50%);
      border-color: mix($color-palette-white, $color-palette-grey-10, 50%);

      #{$bem-block}__icon {
        opacity: .35;
      }

      #{$bem-block}__label {
        opacity: .35;
      }

      #{$bem-block}__icon-loader {
        opacity: 1;
      }
    }
  }

  &--ghost {
    color: $color-palette-black;
    background-color: transparent;
    border-color: $color-palette-grey-9;

    &#{$bem-block}--theme-inverted {
      color: $color-palette-white;
      border-color: $color-palette-white;
    }

    &:not([disabled]) {
      &:hover,
      &:focus,
      &:active {
        color: $color-palette-white;
        background-color: $color-palette-grey-9;
        border-color: $color-palette-grey-9;

        &#{$bem-block}--theme-inverted {
          color: $color-palette-black;
          background-color: $color-palette-white;
          border-color: $color-palette-white;
        }
      }
    }

    &[disabled],
    &[aria-disabled='true'] {
      color: mix($color-palette-grey-9, $color-palette-white, 40%);
      background-color: transparent;
      border-color: mix($color-palette-grey-9, $color-palette-white, 40%);

      #{$bem-block}__icon {
        opacity: 1;
      }

      #{$bem-block}__label {
        opacity: 1;
      }

      &#{$bem-block}--theme-inverted {
        color: mix($color-palette-white, $color-palette-grey-10, 30%);
        background-color: transparent;
        border-color: mix($color-palette-white, $color-palette-grey-10, 30%);

        #{$bem-block}__icon {
          opacity: 1;
        }

        #{$bem-block}__label {
          opacity: 1;
        }
      }
    }
  }

  &--highlight {
    color: $color-palette-white;
    background-color: $color-palette-red-1;
    border-color: $color-palette-red-1;

    &:not([disabled]) {
      &:hover,
      &:focus,
      &:active {
        background-color: $color-palette-red-2;
        border-color: $color-palette-red-2;
        text-decoration: none;

        &#{$bem-block}--theme-inverted { // sass-lint:disable-line nesting-depth
          background-color: $color-palette-red-2;
          border-color: $color-palette-red-2;
        }
      }
    }

    &[disabled],
    &[aria-disabled='true'] {
      background-color: mix($color-palette-red-1, $color-palette-white, 50%);
      border-color: mix($color-palette-red-1, $color-palette-white, 50%);

      #{$bem-block}__icon {
        opacity: .6;
      }

      #{$bem-block}__label {
        opacity: .6;
      }

      #{$bem-block}__icon-loader {
        opacity: 1;
      }

      &#{$bem-block}--theme-inverted {
        color: $color-palette-white;
        background-color: mix($color-palette-red-1, $color-palette-grey-10, 35%);
        border-color: mix($color-palette-red-1, $color-palette-grey-10, 35%);

        #{$bem-block}__icon {
          opacity: .35;
        }

        #{$bem-block}__label {
          opacity: .35;
        }

        #{$bem-block}__icon-loader {
          opacity: 1;
        }
      }
    }
  }

  &--sales {
    color: $color-palette-white;
    background-color: $color-palette-blue-1;
    border-color: $color-palette-blue-1;

    &:not([disabled]) {
      &:hover,
      &:focus,
      &:active {
        background-color: $color-palette-blue-2;
        border-color: $color-palette-blue-2;
        text-decoration: none;

        &#{$bem-block}--theme-inverted { // sass-lint:disable-line nesting-depth
          background-color: $color-palette-blue-2;
          border-color: $color-palette-blue-2;
        }
      }
    }

    &[disabled],
    &[aria-disabled='true'] {
      background-color: mix($color-palette-blue-1, $color-palette-white, 50%);
      border-color: mix($color-palette-blue-1, $color-palette-white, 50%);

      #{$bem-block}__icon {
        opacity: .6;
      }

      #{$bem-block}__label {
        opacity: .6;
      }

      #{$bem-block}__icon-loader {
        opacity: 1;
      }

      &#{$bem-block}--theme-inverted {
        color: $color-palette-white;
        background-color: mix($color-palette-blue-1, $color-palette-grey-10, 30%);
        border-color: mix($color-palette-blue-1, $color-palette-grey-10, 30%);

        #{$bem-block}__icon {
          opacity: .35;
        }

        #{$bem-block}__label {
          opacity: .35;
        }

        #{$bem-block}__icon-loader {
          opacity: 1;
        }
      }
    }
  }

  &--sales-ghost {
    color: $color-palette-blue-1;
    background-color: transparent;
    border-color: $color-palette-blue-1;

    &#{$bem-block}--theme-inverted {
      color: $color-palette-blue-3;
      background-color: transparent;
      border-color: $color-palette-blue-3;
    }

    &:not([disabled]) {
      &:hover,
      &:focus,
      &:active {
        color: $color-palette-white;
        background-color: $color-palette-blue-1;
        border-color: $color-palette-blue-1;

        &#{$bem-block}--theme-inverted {
          color: $color-palette-white;
          background-color: lighten($color-palette-blue-1, 10);
          border-color: lighten($color-palette-blue-1, 10);
        }
      }
    }

    &[disabled],
    &[aria-disabled='true'] {
      color: mix($color-palette-blue-1, $color-palette-white, 40%);
      background-color: transparent;
      border-color: mix($color-palette-blue-1, $color-palette-white, 40%);

      #{$bem-block}__icon {
        opacity: 1;
      }

      #{$bem-block}__label {
        opacity: 1;
      }

      &#{$bem-block}--theme-inverted {
        color: mix($color-palette-blue-3, $color-palette-grey-10, 40%);
        background-color: transparent;
        border-color: mix($color-palette-blue-3, $color-palette-grey-10, 40%);

        #{$bem-block}__icon {
          opacity: 1;
        }

        #{$bem-block}__label {
          opacity: 1;
        }
      }
    }
  }

  &--small {
    padding: rem(2px) rem(11px);

    #{$bem-block}__label {
      padding-left: rem(22px);
    }
  }

  &__icon,
  &__icon-loader {
    position: absolute;
    margin-top: .1875em; // this must be adapted if final SVG icons are integrated!
  }

  &__label {
    padding-left: rem(22px);
    display: block;
    width: 100%;
  }

  &--loading {
    cursor: default;
    pointer-events: none;
  }

  &--stretch {
    width: 100%;
  }

  // fix for Firefox, so that top alignment of button content works when two button are next to each other
  @-moz-document url-prefix() { //sass-lint:disable-line no-vendor-prefixes
    &__label {
      height: 100%;
    }
  }
}

