@import '../../setup/global-variables.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import './button-group.mixin.scss';

.#{$global-class-prefix}button-group {
  @include button-group(horizontal);
  margin: -#{$spacing-6} -#{$spacing-6} 0;

  &--vertical {
    @include button-group(vertical);
    margin: -#{$spacing-6} 0 0;
  }

  @include breakpoint('xs') {
    &--xs {
      @include button-group(horizontal);
      margin: -#{$spacing-6} -#{$spacing-6} 0;
    }

    &--vertical-xs {
      @include button-group(vertical);
      margin: -#{$spacing-6} 0 0;
    }
  }

  @include breakpoint('s') {
    &--s {
      @include button-group(horizontal);
      margin: -#{$spacing-6} -#{$spacing-6} 0;
    }

    &--vertical-s {
      @include button-group(vertical);
      margin: -#{$spacing-6} 0 0;
    }
  }

  @include breakpoint('m') {
    &--m {
      @include button-group(horizontal);
      margin: -#{$spacing-6} -#{$spacing-6} 0;
    }

    &--vertical-m {
      @include button-group(vertical);
      margin: -#{$spacing-6} 0 0;
    }
  }

  @include breakpoint('l') {
    &--l {
      @include button-group(horizontal);
      margin: -#{$spacing-6} -#{$spacing-6} 0;
    }

    &--vertical-l {
      @include button-group(vertical);
      margin: -#{$spacing-6} 0 0;
    }
  }

  @include breakpoint('xl') {
    &--xl {
      @include button-group(horizontal);
      margin: -#{$spacing-6} -#{$spacing-6} 0;
    }

    &--vertical-xl {
      @include button-group(vertical);
      margin: -#{$spacing-6} 0 0;
    }
  }
}
