@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../mixins/px-rem-converter.scss';


@function alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  @return $solid-color;
}

$button-regular-width: auto !default;
$button-regular-width-xxs-xs: 100% !default;
$button-regular-background-color: $color-palette-grey-9 !default;
$button-regular-background-color-hover: $color-palette-grey-10 !default;
$button-regular-background-color-disabled: $color-palette-grey-5 !default;
$button-regular-background-color-inverted: $color-palette-white !default;
$button-regular-background-color-inverted-hover: $color-palette-grey-2 !default;
$button-regular-background-color-inverted-disabled: mix($color-palette-white, $color-palette-grey-10, 50%) !default;
$button-regular-text-color: $color-palette-white !default;
$button-regular-text-color-inverted: $color-palette-black !default;
$button-regular-text-color-inverted-disabled: $button-regular-text-color-inverted !default;
$button-regular-border-size: 1px !default;
$button-regular-border-color: $button-regular-background-color !default;
$button-regular-border-color-hover: $button-regular-background-color-hover !default;
$button-regular-border-color-disabled: $button-regular-background-color-disabled !default;
$button-regular-border-color-inverted: $button-regular-background-color-inverted !default;
$button-regular-border-color-inverted-hover: $button-regular-background-color-inverted-hover !default;
$button-regular-border-color-inverted-disabled: $button-regular-background-color-inverted-disabled !default;

$button-regular-highlight-background-color: $color-palette-red-1 !default;
$button-regular-highlight-background-color-hover: $color-palette-red-2 !default;
$button-regular-highlight-background-color-disabled: $color-palette-status-red-disabled !default;
$button-regular-highlight-background-color-inverted: $button-regular-highlight-background-color !default;
$button-regular-highlight-background-color-inverted-hover: $button-regular-highlight-background-color-hover !default;
$button-regular-highlight-background-color-inverted-disabled: mix($color-palette-red-1, $color-palette-grey-10, 35%) !default;
$button-regular-highlight-text-color: $color-palette-white !default;
$button-regular-highlight-text-color-inverted-disabled: $button-regular-highlight-text-color !default;
$button-regular-highlight-border-color: $button-regular-highlight-background-color !default;
$button-regular-highlight-border-color-hover: $button-regular-highlight-background-color-hover !default;
$button-regular-highlight-border-color-disabled: $button-regular-highlight-background-color-disabled !default;
$button-regular-highlight-border-color-disabled: $button-regular-highlight-background-color-disabled !default;
$button-regular-highlight-border-color-inverted: $button-regular-highlight-background-color-inverted !default;
$button-regular-highlight-border-color-inverted-hover: $button-regular-highlight-background-color-inverted-hover !default;
$button-regular-highlight-border-color-inverted-disabled: $button-regular-highlight-background-color-inverted-disabled !default;

$button-regular-sales-background-color: $color-palette-blue-1 !default;
$button-regular-sales-background-color-hover: $color-palette-blue-2 !default;
$button-regular-sales-background-color-disabled: $color-palette-status-blue-disabled !default;
$button-regular-sales-background-color-inverted: $button-regular-sales-background-color !default;
$button-regular-sales-background-color-inverted-hover: $button-regular-sales-background-color-hover !default;
$button-regular-sales-background-color-inverted-disabled: mix($color-palette-blue-1, $color-palette-grey-10, 30%) !default;
$button-regular-sales-text-color: $color-palette-white !default;
$button-regular-sales-text-color-inverted-disabled: $button-regular-sales-text-color !default;
$button-regular-sales-border-color: $button-regular-sales-background-color !default;
$button-regular-sales-border-color-hover: $button-regular-sales-background-color-hover !default;
$button-regular-sales-border-color-disabled: $button-regular-sales-background-color-disabled !default;
$button-regular-sales-border-color-inverted: $button-regular-sales-background-color-inverted !default;
$button-regular-sales-border-color-inverted-hover: $button-regular-sales-background-color-inverted-hover !default;
$button-regular-sales-border-color-inverted-disabled: $button-regular-sales-background-color-inverted-disabled !default;

$button-regular-ghost-background-color: transparent !default;
$button-regular-ghost-background-color-hover: $color-palette-grey-9 !default;
$button-regular-ghost-background-color-disabled: transparent !default;
$button-regular-ghost-text-color: $color-palette-grey-9 !default;
$button-regular-ghost-text-color-hover: $color-palette-white !default;
$button-regular-ghost-text-color-disabled: $color-palette-status-grey-disabled !default;
$button-regular-ghost-text-color-inverted: $color-palette-white !default;
$button-regular-ghost-border-color: $color-palette-grey-9 !default;
$button-regular-ghost-border-color-hover: $color-palette-grey-9 !default;
$button-regular-ghost-border-color-disabled: $color-palette-grey-4 !default;
$button-regular-ghost-border-color-inverted: $color-palette-white !default;

$button-regular-sales-ghost-background-color: transparent !default;
$button-regular-sales-ghost-background-color-hover: $color-palette-blue-1 !default;
$button-regular-sales-ghost-background-color-disabled: transparent !default;
$button-regular-sales-ghost-text-color: $color-palette-blue-1 !default;
$button-regular-sales-ghost-text-color-hover: $color-palette-white !default;
$button-regular-sales-ghost-text-color-disabled: $color-palette-status-blue-disabled !default;
$button-regular-sales-ghost-border-color: $color-palette-blue-1 !default;
$button-regular-sales-ghost-border-color-hover: $color-palette-blue-1 !default;
$button-regular-sales-ghost-border-color-disabled: $color-palette-status-blue-disabled !default;

$button-regular-stretch-width: 100% !default;

$button-regular-icon-font-size: rem(16px) !default;

$button-regular-loader-position: 50% !default;
$button-regular-loader-size: rem(16px) !default;
$button-regular-loader-offset: - $button-regular-loader-size / 2 !default;
