@import '../../setup/global-variables.scss';
@import '../../base/spacing/spacing.mixin.scss';

@mixin button-group($direction) {
  @if $direction == vertical {
    margin-left: 0;
    margin-right: 0;
  } @else {
    margin-left: -$spacing-6;
    margin-right: -$spacing-6;
  }

  // sass-lint:disable no-combinators
  > .#{$global-class-prefix}button-regular,
  > .#{$global-class-prefix}button-icon {
    @if $direction == vertical {
      margin: 0 0 $spacing-12;
    } @else {
      margin: 0 $spacing-6 $spacing-12;
    }
  }
}
