@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../base/position/position.mixin.scss';
@import 'button-notification.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}button-notification {
  @include flex;
  @include flex--justify-content(center);
  @include flex--align-items(center);
  @include -text-size-small;
  position: relative;
  height: $button-notification-height;
  max-width: $button-notification-max-width;
  padding: {
    top: $button-notification-spacing-vertical;
    right: $button-notification-spacing-right;
    bottom: $button-notification-spacing-vertical;
    left: $button-notification-spacing-left;
  }
  appearance: none;
  outline: none;
  border: $button-notification-border-size solid $button-notification-border-color;
  border-radius: $button-notification-border-radius;
  background: $button-notification-background-color;
  color: $button-notification-text-color;
  cursor: pointer;
  line-height: calc( #{$button-notification-height} - #{$button-notification-border-size} * 2 );

  &:hover {
    background: $button-notification-background-color-hovered;
    color: $button-notification-text-color-hovered;
  }

  &--error {
    &:hover {
      color: $button-notification-error-text-color-hovered;
    }
  }

  &--cookie {
    &:hover {
      color: $button-notification-cookie-text-color-hovered;
    }
  }

  &::after {
    @include -position-absolute-coordinates(
      $button-notification-safe-clickable-area,
      $button-notification-safe-clickable-area,
      $button-notification-safe-clickable-area,
      $button-notification-safe-clickable-area
    );
    content: '';
  }

  &__icon {
    line-height: inherit;
  }

  &__label {
    line-height: inherit;
    margin-left: $button-notification-label-spacing-to-icon;
  }
}
