@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$tag-background-color: $color-palette-grey-8 !default;
$tag-background-color-hover: $color-palette-grey-9 !default;

$tag-max-width-s: rem(300px) !default;
$tag-width-xxs-s: 100% !default;
$tag-width-margin-top-xxs-s: 0 !default;
$tag-color: $color-palette-white !default;

$tag-container-height: rem(40px) !default;

$tag-content-width: 100% !default;
$tag-content-container-min-width: 0 !default;
