@import '../../mixins/px-rem-converter.scss';

$auth-info-icon-box-height: rem(80px) !default;

$auth-info-icon-margin-horizontal: auto !default;
$auth-info-icon-height: 100% !default;

$auth-info-wysiwyg-max-width: rem(800px) !default;
