@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';


$callout-background-color: $color-palette-grey-1 !default;
$callout-reset: 0 !default;
$callout-width: 100% !default;
$callout-max-width: rem(700px) !default;
$callout-position-horizontal: rem(7px) !default;
$callout-spacing-vertical: rem(13px) !default;

$callout-arrow-border-color: $color-palette-grey-1 !default;
$callout-arrow-border-size: rem(8px) !default;
$callout-arrow-position-vertical: rem(8px) !default;
$callout-arrow-spacing-horizontal: $spacing-6 !default;
