<a href="javascript:void(0);" class="link-icon-text {{ styleModifier }}">
  <span class="icon icon--{{ link-icon-text_icon }} link-icon-text__icon"></span>
  <span class="link-icon-text__label {{#if link-icon-text_labelColorBlack }} link-icon-text__label--black {{/if}}">{{ link-icon-text_label }}</span>
</a>
