<section class="-wrapper-page">
  <div class="row flex-s">
    <div class="column column--12 -spacing-d">

      {{> organisms-page-header
            page-header_title=notification-center_pageHeaderTitle
            page-header_description=""
      }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 -spacing-c">

      {{> organisms-central-context-menu
          central-context-menu_filter=notification-center_showFilter
      }}

      {{#*inline "central-context-menu_filter"}}
        {{> organisms-tag-group tag-group_tags=notification-center_tags }}
      {{/inline}}
    </div>
  </div>
</section>
