{{> organisms-header }}

<div class="-wrapper-page">
    <div class="row">
        <div class="column column--12 -spacing-d">
          {{> organisms-page-header page-header_title="Fahrzeug hinzufügen" page-header_description="Die mit * markierten Angaben sind unbedingt erforderlich." }}
        </div>
    </div>
    <div class="row">
        <div class="column column--12">
          {{> organisms-navigation-steps styleModifier="-spacing-d" }}
        </div>
    </div>

    <div class="row">
        <div class="column column--12">
          {{> portal-vin-input styleModifier="-spacing-a" }}
        </div>
    </div>

</div>
