@import '../../mixins/breakpoint.scss';
@import '../../base/font/font.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}visualization-typo {
  @include -font-primary;
  width: 100%;

  &__label {
    font-weight: normal;
    font-size: 1.375rem;
    line-height: 1;

    &--responsive {
      @include breakpoint('xs', 'm') {
        font-size: 1.875rem;
      }

      @include breakpoint('m') {
        font-size: 2.25rem;
      }
    }
  }

  &__info {
    font-weight: normal;
    font-size: 4.875rem;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    :last-child {
      font-size: 50%;
      margin-left: 1rem;
    }

    &--responsive {
      @include breakpoint('xs', 'm') {
        font-size: 6.25rem;
      }

      @include breakpoint('m') {
        font-size: 7.875rem;
      }

      :last-child {
        @include breakpoint('xs') {
          margin-left: 1.25rem;
        }
      }
    }
  }
}
