@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$filter-flyout-body-filter-entry-padding-first-child: 0 !default;

$filter-flyout-overlay-dimensions: 100% !default;
$filter-flyout-overlay-position: 0 !default;
$filter-flyout-overlay-background-color: rgba($color-palette-grey-9-1, .9) !default;
$filter-flyout-content-dimension: 100% !default;
$filter-flyout-content-background-color: $color-palette-white !default;

$filter-flyout-dialog-max-width: rem(1376px) !default;
$filter-flyout-dialog-height: 100% !default;
$filter-flyout-dialog-outer-spacing-vertical: 0 !default;
$filter-flyout-dialog-inner-spacing-vertical: 0 !default;
$filter-flyout-dialog-inner-spacing-horizontal: 7% !default;

$filter-flyout-icon-color: $color-palette-grey-7 !default;
$filter-flyout-icon-color-hovered: $color-palette-red-1 !default;
$filter-flyout-icon-safe-area: $spacing-12 !default;
$filter-flyout-icon-safe-area-xs: $spacing-18 !default;

$filter-flyout-title-max-width: 90% !default;

$filter-flyout-footer-position: 0 !default;
$filter-flyout-footer-width: 100% !default;
