@import "../../../common";
@import "~@porsche/ui-kit-core/src/base/text-size/text-size";
@import "~@porsche/ui-kit-core/src/base/text-color/text-color";
@import "./text-size.mixin";

.#{$global-class-prefix}text {
    &--inline {
        display: inline;
    }

    &--align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &--wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    &--ellipsis {
        max-width: 100%;
        @include -overflow-ellipsis();
    }
}

.-#{$global-class-prefix}text-color {
    // Grey helpers
    &-grey-darker {
        color: $color-palette-grey-9;
    }

    &-grey-dark {
        color: $color-palette-grey-7;
    }

    &-grey {
        color: $color-palette-grey-5;
    }

    &-grey-light {
        color: $color-palette-grey-3;
    }

    &-grey-lighter {
        color: $color-palette-grey-1;
    }
}

.-#{$global-class-prefix}text-size {
    &-1 {
        &-bold {
            @include -text-size-1-bold;
        }
    }

    &-2 {
        &-bold {
            @include -text-size-2-bold;
        }
    }

    &-3 {
        &-bold {
            @include -text-size-3-bold;
        }
    }

    &-4 {
        &-bold {
            @include -text-size-4-bold;
        }
    }

    &-5 {
        &-bold {
            @include -text-size-5-bold;
        }
    }

    &-copy {
        &-bold {
            @include -text-size-copy-bold;
        }
    }

    &-small {
        &-bold {
            @include -text-size-small-bold;
        }
    }

    &-micro {
        &-bold {
            @include -text-size-micro-bold;
        }
    }
}
