@import '../../../setup/color-palette.setup.scss';
@import '../../../mixins/px-rem-converter.scss';
@import '../../../base/font/font.setup.scss';
@import '../../../base/spacing/spacing.setup.scss';

$visualization-charging-time-width: 100% !default;

$visualization-charging-time-title-color: $color-palette-white !default;

$visualization-charging-time-info-color: $color-palette-white !default;

$visualization-charging-time-icon-size: rem(32px) !default;
$visualization-charging-time-icon-color: $color-palette-status-green !default;

$visualization-charging-time-value-font-weight: $font-weight-thin !default;
$visualization-charging-time-value-font-size: $spacing-48 !default;
$visualization-charging-time-value-line-height: 1.125 !default;

$visualization-charging-time-unit-font-weight: $font-weight-thin !default;
$visualization-charging-time-unit-font-size: $visualization-charging-time-value-font-size / 2 !default;
$visualization-charging-time-unit-line-height: 1.125 !default;
