@import '../../mixins/px-rem-converter.scss';

$map-overview-height: rem(300px) !default;
$map-overview-height-xs: rem(350px) !default;
$map-overview-height-s: rem(450px) !default;
$map-overview-height-m: rem(500px) !default;
$map-overview-height-l: rem(600px) !default;
