@import "~@porscheui/ui-kit-react-deprecated/src/styles/utility/index";

.container {
  code {
    padding: initial;
    background-color: initial;
    border-radius: initial;
  }
}
.codeblock {
  font-size: 16px;

  pre {
    height: 200px;
    resize: vertical;
    padding: $p-spacing-32 !important;
    overflow: auto !important;
  }

  [class^="hljs-tag"] {
    line-height: 1.5;
  }
}

.render {
  padding: $p-spacing-32;
  overflow-x: auto;
}

.render.light {
  border: 1px solid $p-color-neutral-grey-2;
  background-color: $p-color-porsche-light;
}

.render.dark {
  border: 1px solid $p-color-surface-dark;
  background-color: $p-color-surface-dark;
}

.toggle-container {
  margin-top: -1px;
}

.toggle {
  padding: 0 $p-spacing-8;
  position: relative;
  height: 30px;
  background: none;
  border: 1px solid $p-color-neutral-grey-3;
  cursor: pointer;
  text-transform: uppercase;
  @include p-text-small;
  color: $p-color-porsche-black;
  &:focus {
    outline: 0;
  }
}

.toggle.open {
  background-color: $p-color-porsche-light;
}
