@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.vrt {
  display: block !important;
}

.vrt + .vrt {
  margin-top: 80px;

  &::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background-color: $p-color-neutral-grey-1;
    top: -40px;
  }
}
.vrt.light {
  background-color: $p-color-porsche-light;
}
.vrt.dark {
  background-color: $p-color-surface-dark;
}

.sg-example-loader {
  .p-loader {
    animation: none;
    &__fg {
      animation: none;
    }
  }
}
