@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.#{$sg-prefix}example {
  &__render {
    padding: $p-spacing-30;

    &--light {
      background-color: $p-color-grey-1;
    }

    &--dark {
      background-color: $p-color-grey-10;
    }
  }

  &__info {
    &__toggle-html {
      margin-bottom: $p-spacing-12;
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer;
      color: $p-color-black;
    }

    // Reset styles from story code for editor
    code {
      padding: initial;
      background-color: initial;
      border-radius: initial;
    }

    &__html {
      font-size: 16px;

      pre {
        padding: $p-spacing-24 $p-spacing-30 !important;
      }
    }
  }

  &__themes {
    padding: $p-spacing-18 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    // &__button {
    //   padding: 0 $p-spacing-12;
    //   background: none;
    //   border: none;
    //   font-size: 1em;
    //   cursor: pointer;

    //   &--light {
    //     border-right: 1px solid $p-color-grey-3;

    //     &--active {
    //       color: $p-color-black;
    //     }

    //     &--inactive {
    //       color: $p-color-grey-5;
    //     }
    //   }

    //   &--dark {
    //     margin-right: -$p-spacing-12;

    //     &--active {
    //       color: $p-color-white;
    //     }

    //     &--inactive {
    //       color: $p-color-grey-5;
    //     }
    //   }
    // }
  }
}
