@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

/**
 * Define styles for component representation
 */

// variables
$sg-color-blue-1: lightskyblue;
$sg-color-blue-2: deepskyblue;
$sg-color-blue-3: dodgerblue;
$sg-color-blue-4: royalblue;
$sg-color-highlight: deeppink;

/* ----------  flex component styles ---------- */
.sg-example-flex {
  &--fixed-height {
    .p-flex {
      height: 180px;
    }
  }

  .sg-example-item {
    padding: $p-spacing-4 $p-spacing-80;
    @include -text-size-copy();
    color: $p-color-white;
    text-align: center;
  }

  .p-flex:not(.p-flex--inline) + .p-flex:not(.p-flex--inline) {
    margin-top: $p-spacing-8;
  }

  // special styling to visualize align items behaviour
  [class*="p-flex--align-items-"] {
    .p-flex__item:not(.p-flex__item--align-self-stretch) {
      &:nth-child(1n) {
        height: 40px;
      }
      &:nth-child(2n) {
        height: 80px;
      }
      &:nth-child(3n) {
        height: 54px;
      }
    }
  }

  // special styling to visualize baseline
  .p-flex--align-items-baseline {
    .p-flex__item {
      margin-top: $p-spacing-24;
    }
  }

  .p-flex__item {
    &:nth-child(1n) {
      background-color: $sg-color-blue-1;
    }
    &:nth-child(2n) {
      background-color: $sg-color-blue-2;
    }
    &:nth-child(3n) {
      background-color: $sg-color-blue-3;
    }
    &:nth-child(4n) {
      background-color: $sg-color-blue-4;
    }

    // special styling to visualize baseline
    &--align-self-baseline {
      margin-top: $p-spacing-24;
    }
  }

  // reset padding to visualize width property
  [class*="p-flex__item--width"] {
    .sg-example-item {
      padding-left: $p-spacing-8;
      padding-right: $p-spacing-8;
    }
  }

  //  special case for visualizing gap styling
  &--gap {
    .p-flex__item {
      background-color: transparent !important;

      &:nth-child(1n) p {
        background-color: $sg-color-blue-1;
      }
      &:nth-child(2n) p {
        background-color: $sg-color-blue-2;
      }
      &:nth-child(3n) p {
        background-color: $sg-color-blue-3;
      }
      &:nth-child(4n) p {
        background-color: $sg-color-blue-4;
      }
    }
  }
}

/* ----------  grid component styles ---------- */
.sg-example-grid {
  .sg-example-item-outer {
    text-align: center;
    color: $p-color-white;
    background-color: $sg-color-blue-2;
  }
  .sg-example-item {
    width: 100%;
    padding: $p-spacing-4;
    background-color: $sg-color-blue-1;
    @include -text-size-copy();
    color: $p-color-white;
    text-align: center;
  }

  .p-grid + .p-grid {
    margin-top: $p-spacing-8;
  }
}

/* ----------  spacing component styles ---------- */
.sg-example-spacing-visual {
  .sg-example-row {
    display: flex;
    margin-left: -$p-spacing-8;
    margin-right: -$p-spacing-8;
  }
  .sg-example-block {
    padding: 0 $p-spacing-8;
  }
  .sg-example-item {
    background-color: $sg-color-blue-1;
    width: fit-content;
  }
}

.sg-example-spacing {
  display: flex;

  > div {
    display: inline-flex;
    background-color: $sg-color-blue-1;
  }

  .sg-example-item {
    background-color: $sg-color-blue-2;
    width: $p-spacing-80;
    height: $p-spacing-80;
  }

  &--negative {
    > div {
      padding: $p-spacing-40;
    }
  }

  &--negative-responsive {
    .sg-example-item {
      width: 2 * $p-spacing-d;
      height: 2 * $p-spacing-d;
      @include breakpoint("s") {
        width: 2 * $p-spacing-d-s;
        height: 2 * $p-spacing-d-s;
      }
      @include breakpoint("m") {
        width: 2 * $p-spacing-d-m;
        height: 2 * $p-spacing-d-m;
      }
      @include breakpoint("l") {
        width: 2 * $p-spacing-d-l;
        height: 2 * $p-spacing-d-l;
      }
      @include breakpoint("xl") {
        width: 2 * $p-spacing-d-xl;
        height: 2 * $p-spacing-d-xl;
      }
    }

    > div {
      @include p-spacing-d("padding", "", "");
    }
  }
}
