@import 'image-cover.setup.scss';
@import 'image-cover.animations.scss';
@import '../../mixins/breakpoint.scss';
@import '../../mixins/transform.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}image-cover {
  position: absolute;
  top: $image-cover-position-top;
  left: $image-cover-position-left;
  width: $image-cover-width;
  height: $image-cover-height;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__gradient {
    @include breakpoint('xxs') {
      display: none;
    }

    @include breakpoint('s') {
      display: block;
      width: $image-cover-gradient-width;
      height: $image-cover-gradient-height;
      position: absolute;
      bottom: $image-cover-gradient-bottom-position;
      background: $image-cover-gradient;
    }
  }

  &__gradient-banner {
    @include breakpoint('xxs') {
      display: none;
    }

    @include breakpoint('m') {
      display: block;
      width: $image-cover-gradient-width;
      height: $image-cover-gradient-height;
      position: absolute;
      bottom: $image-cover-gradient-bottom-position;
      background: $image-cover-gradient;
    }
  }
}

@if $image-cover-import-animations == true {
  @include image-cover-animations;
}
