<p class="notification-icon {{ styleModifier }}">
  <span class="notification-icon__icon icon-font icon-font--{{ notification-icon_icon }} {{#if notification-icon_red }} notification-icon__icon--red {{/if}}"></span>
  <span class="notification-icon__text">{{ notification-icon_text }}
    {{#if notification-icon_link }}
      <a href="javascript:void(0);" class="notification-icon__link">{{ notification-icon_link }}</a>
    {{/if}}
  </span>
</p>
