@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$wrapper-page-spacing-outer-horizontal: auto !default;
$wrapper-page-spacing-outer-vertical: 0 !default;
$wrapper-page-spacing-inner-horizontal: 0 !default;
$wrapper-page-spacing-inner-top: 0 !default;
$wrapper-page-spacing-inner-bottom: 0 !default;
$wrapper-page-spacing-inner-bottom-s: $spacing-48 !default;
$wrapper-page-spacing-inner-left-m: calc(100vw - 100%) !default;
$wrapper-page-width: calc(100vw - 7vw * 2) !default;
$wrapper-page-max-width: rem(1376px) !default;
