@import '../../mixins/px-rem-converter.scss';

$wrapper-page-width: calc(100vw - 7vw * 2) !default;
$wrapper-page-width-xl:  calc(100vw - 10vw * 2) !default;
$wrapper-page-max-width: rem(1536px) !default;
