@import '../../../../../node_modules/@porsche-design-system/components-angular/utilities/scss';

// Wrapper
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: $pds-grid-gap;
  padding: $pds-spacing-fluid-medium;

  &--light {
    background: $pds-theme-light-background-base;
  }

  &--dark {
    background: $pds-theme-dark-background-base;
  }
}

// Typography
.heading {
  @include pds-heading-medium;
  text-align: center;
  width: 100%;
  margin: 0;

  &--light {
    color: $pds-theme-light-primary;
  }

  &--dark {
    color: $pds-theme-dark-primary;
  }
}

// Native Button
.native-button {
  @include pds-text-small;

  &--light {
    @include pds-focus;
    color: $pds-theme-light-primary;
  }

  &--dark {
    @include pds-focus;
  }
}

// Native Anchor
.native-anchor {
  @include pds-text-small;

  &--light {
    @include pds-focus;
    color: $pds-theme-light-primary;
  }

  &--dark {
    @include pds-focus;
    color: $pds-theme-dark-primary;
  }
}
