@import '../../setup/color-palette.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/font/font.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$button-inline-reset: 0 !default;
$button-inline-min-width: rem(55px) !default;
$button-inline-max-width: 100% !default;
$button-inline-height: $spacing-48 !default;
$button-inline-seamless-height: rem(21px) !default;
$button-inline-spacing-horizontal: $spacing-12 !default;
$button-inline-spacing-vertical: 0 !default;
$button-inline-border-radius: 0 !default;
$button-inline-border-width: 0 !default;
$button-inline-border-width-ghost: rem(1px) !default;
$button-inline-border-width-ghost-dark: rem(1px) !default;

$button-inline-background-color: $color-palette-grey-7 !default;
$button-inline-background-color-active: $color-palette-red-1 !default;
$button-inline-background-color-hovered: $color-palette-grey-8 !default;
$button-inline-background-color-hovered-active: $color-palette-red-2 !default;
$button-inline-background-color-ghost: transparent !default;
$button-inline-background-color-ghost-hovered: $color-palette-grey-7 !default;
$button-inline-background-color-ghost-dark: transparent !default;
$button-inline-background-color-ghost-dark-hovered: $color-palette-grey-7 !default;

$button-inline-border-color-ghost: $color-palette-grey-7 !default;
$button-inline-border-color-ghost-dark: $color-palette-grey-7 !default;

$button-inline-text-color: $color-palette-white !default;
$button-inline-text-color-ghost-dark: $color-palette-black !default;
$button-inline-text-color-active: $color-palette-white !default;
$button-inline-text-color-disabled: $color-palette-grey-5 !default;
$button-inline-background-color-disabled: $color-palette-grey-8 !default;
$button-inline-seamless-text-color: $color-palette-white !default;
$button-inline-seamless-text-color-hover: $color-palette-red-1 !default;

$button-inline-stretch-text-color: $color-palette-white !default;
$button-inline-stretch-text-color-disabled: $color-palette-grey-5 !default;
$button-inline-stretch-background-color: $color-palette-grey-7 !default;
$button-inline-stretch-background-color-disabled: $color-palette-grey-8 !default;
$button-inline-stretch-background-color-hovered: $color-palette-grey-8 !default;

$button-inline-icon-font-size: rem(16px) !default;
$button-inline-icon-spacing-to-label: rem(10px) !default;
$button-inline-icon-large-size: $spacing-30 !default;
$button-inline-icon-large-spacing-horizontal: rem(8px) !default;

$button-inline-multi-lines-centered-spacing-vertical: $spacing-12 !default;
$button-inline-multi-lines-centered-width: 100% !default;
$button-inline-multi-lines-centered-height: 100% !default;

$button-inline-multiline-font-weight-bold: $font-weight-bold !default;
$button-inline-multiline-margin-bottom: rem(16px) !default;
$button-inline-multiline-margin-top: calc(#{$button-inline-multiline-margin-bottom} * .5 * -1) !default;
