@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.#{$sg-prefix}props {
  overflow-x: auto;

  .#{$sg-prefix} {
    &component-description {
      white-space: pre-wrap;
    }

    &table {
      min-width: 900px;
    }

    &cell-name {
      width: 15%;
      min-width: 100px;
    }

    &cell-default {
      width: 15%;
      min-width: 100px;
    }

    &cell-type {
      width: 25%;
      min-width: 200px;
    }

    &cell-desc {
      white-space: pre-wrap;
    }
  }

  + .#{$sg-prefix}props {
    margin-top: $p-spacing-60;
  }
}
