@import "../../styles/variable";
@import "~@porscheui/porsche-ui-kit/src/styles/utility/index";

.#{$sg-prefix}props {
  overflow-x: auto;
  margin-top: $p-spacing-30;

  .#{$sg-prefix}component-description {
    white-space: pre-wrap;
  }

  .#{$sg-prefix}table {
    min-width: 900px;
  }

  .#{$sg-prefix}cell-name {
    width: 15%;
    min-width: 100px;
  }

  .#{$sg-prefix}cell-default {
    width: 15%;
    min-width: 100px;
  }

  .#{$sg-prefix}cell-type {
    width: 25%;
    min-width: 200px;
  }

  .#{$sg-prefix}cell-desc {
    white-space: pre-wrap;
  }
}
