@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@porsche-design-system/components-vue";
@import "@porsche-design-system/components-vue/tailwindcss";

@source not './vanilla-extract';
