@import 'input.setup.scss';
@import '../../mixins/breakpoint.scss';

@mixin input-field-is-focused {
  &::placeholder {
    opacity: $input-placeholder-opacity;
  }
}

@mixin input-field-is-disabled {
  color: $input-field-text-color-disabled;

  &::placeholder {
    color: $input-field-text-color-disabled;
  }
}

@mixin input-field-is-focused-or-input-field-is-not-empty($bem-block) {
  padding: {
    top: $input-field-padding-vertical-top-focus;
    bottom: $input-field-padding-vertical-bottom-focus;
  }

  & + #{$bem-block}__label { // sass-lint:disable-line no-combinators
    top: $input-label-position-top-focus;
    opacity: $input-placeholder-opacity-focus;
  }
}

@mixin input-field-has-error {
  color: $input-field-text-color-error;
  border-color: $input-field-text-color-error;
  border-width: $input-field-border-size-error;
  padding: {
    top: calc(#{$input-field-padding-vertical} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
    right: calc(#{$input-field-padding-horizontal} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
    bottom: calc(#{$input-field-padding-vertical} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
    left: calc(#{$input-field-padding-horizontal} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
  }
}

@mixin input-field-with-icon-has-error {
  padding: {
    right: calc(#{$input-field-padding-horizontal} * 2 + #{$input-icon-size} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
  }
}

@mixin input-field-has-error-and-is-focused-or-input-field-has-error-and-is-not-empty {
  padding: {
    top: calc(#{$input-field-padding-vertical-top-focus} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
    bottom: calc(#{$input-field-padding-vertical-bottom-focus} - ( #{$input-field-border-size-error} - #{$input-field-border-size} ));
  }
}
