@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$input-placeholder-opacity: 0 !default;
$input-placeholder-opacity-focus: 1 !default;

$input-field-width: 100% !default;
$input-field-border-color: $color-palette-grey-3 !default;
$input-field-background-color: $color-palette-white !default;
$input-field-text-color: $color-palette-black !default;
$input-field-text-color-disabled: $color-palette-grey-8 !default;
$input-field-text-color-error: $color-palette-status-red !default;
$input-field-border-size: 1px !default;
$input-field-border-size-error: 2px !default;

$input-field-height: rem(50px) !default;
$input-field-padding-horizontal: $spacing-18 !default;
$input-field-padding-vertical: rem(17px) !default;
$input-field-padding-vertical-top-focus: rem(20px) !default;
$input-field-padding-vertical-bottom-focus: rem(8px) !default;

$input-field-text-size: rem(16px) !default;
$input-field-line-height: normal !default;
$input-field-reset: 0 !default;

$input-label-text-color: $color-palette-grey-5 !default;
$input-label-position-top: 50% !default;
$input-label-position-top-offset: -$input-label-position-top !default;
$input-label-position-top-focus: rem(12px) !default;

$input-label-text-size: rem(12px) !default;
$input-label-line-height: 1.25 !default;
$input-label-transition-speed: .4s !default;

$input-icon-position-top: 50% !default;
$input-icon-position-top-offset: -$input-icon-position-top !default;
$input-icon-size: $spacing-24 !default;

$input-icon-color: $color-palette-grey-7 !default;
$input-icon-color-hovered: $color-palette-red-1 !default;
