@import '../../setup/color-palette.setup.scss';

$select-width: 100% !default;
$select-height: 3.75rem !default;
$select-spacing-vertical: .375rem !default;
$select-spacing-horizontal: 1.125rem !default;
$select-border-width: 1px !default;
$select-border-color: $color-palette-grey-1;
$select-background-color: $color-palette-grey-1;
$select-text-size: .875rem !default;
$select-text-color: $color-palette-black;

$select-field-error-border-color: $color-palette-status-red !default;

$select-icon-position-top: 50% !default;
$select-icon-position-right: 1.1875rem !default;
