@import 'toggle.setup.scss';
@import '../../mixins/animation.scss';
@import '../../base/position/position.mixin.scss';
@import '../../modules/icon/icon.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}toggle {
  $bem-block: &;

  position: relative;
  width: $toggle-width;
  height: $toggle-height;
  display: inline-block;

  // toggle is hovered
  &:hover #{$bem-block}__slider { // sass-lint:disable-line force-element-nesting no-combinators
    background-color: $toggle-slider-background-color-hover;

    &--inverted {
      background-color: $toggle-slider-inverted-background-color-hover;
    }

    & #{$bem-block}__icon {
      color: $toggle-slider-icon-color-hover;
    }
  }

  &__checkbox {
    display: none;

    // toggle is active
    &:checked ~ #{$bem-block}__slider { // sass-lint:disable-line no-combinators
      border-color: $toggle-slider-border-color-active;
      background-color: $toggle-slider-background-color-active;

      &::after {
        border-color: $toggle-slider-circle-border-color-active;
        transform: translateX($toggle-slider-circle-translate-x-active);
      }

      & #{$bem-block}__icon {
        color: $toggle-slider-icon-color-active;
      }
    }

    // toggle is disabled
    &:disabled ~ #{$bem-block}__slider { // sass-lint:disable-line no-combinators
      cursor: default;
      pointer-events: none;
    }

    // toggle is disabled and not active
    &:disabled:not(:checked) ~ #{$bem-block}__slider { // sass-lint:disable-line force-pseudo-nesting no-combinators
      background-color: $toggle-slider-background-color-disabled;

      & #{$bem-block}__icon {
        color: $toggle-slider-icon-color-disabled;

        &--inverted {
          color: $toggle-slider-icon-inverted-color-disabled;
        }
      }
    }
  }

  &__slider {
    @include -position-absolute-coordinates;
    @include flex;
    @include flex--align-items(center);
    @include apply-animation('toggle') {
      transition: $toggle-slider-transition-speed;
    }

    border: $toggle-slider-border-size solid $toggle-slider-border-color;
    border-radius: $toggle-slider-border-radius;
    background-color: $toggle-slider-background-color;
    cursor: pointer;

    &::after {
      @include apply-animation('toggle') {
        transition: $toggle-slider-circle-transition-speed;
      }

      content: '';
      display: block;
      position: absolute;
      width: $toggle-slider-circle-size;
      height: $toggle-slider-circle-size;
      left: $toggle-slider-circle-offset;
      top: $toggle-slider-circle-offset;
      border: $toggle-slider-circle-border-size solid $toggle-slider-circle-border-color;
      border-radius: $toggle-slider-circle-border-radius;
      background-color: $toggle-slider-circle-background-color;
      transform: translate($toggle-slider-circle-translate-x, 0);
    }

    &--inverted {
      border-color: $toggle-slider-inverted-border-color;

      &::after {
        border-color: $toggle-slider-inverted-circle-border-color;
      }
    }
  }

  &__icon {
    @include icon-base;
    @include -align-center;
    @include apply-animation('toggle') {
      transition: $toggle-slider-icon-transition-speed;
    }

    display: inline-block;
    width: $toggle-slider-icon-width;
    font-size: $toggle-slider-icon-size;
    color: $toggle-slider-icon-color;

    &--inverted {
      color: $toggle-slider-icon-inverted-color;
    }

    &--inactive {
      @include flex--order(2);

      &::before {
        @include icon-minus-before;
      }
    }

    &--active {
      @include flex--order(1);

      &::before {
        @include icon-check-before;
      }
    }
  }
}
