@import 'visualization-car.setup.scss';
@import '../../../mixins/breakpoint.scss';
@import '../../../base/overflow/overflow.mixin.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../base/align/align.mixin.scss';
@import '../../../setup/global-variables.scss';
@import '../../../modules/icon/icon.mixin.scss';

.#{$global-class-prefix}visualization-car {
  position: relative;
  overflow: hidden;
  padding: {
    top: $visualization-car-vertical-spacing;
    bottom: $visualization-car-vertical-spacing;
  }

  @include breakpoint('xs', 's') {
    padding: {
      top: $visualization-car-vertical-spacing-xs;
      bottom: $visualization-car-vertical-spacing-xs;
    }
  }

  @include breakpoint('s', 'm') {
    padding: {
      top: $visualization-car-vertical-spacing-s;
      bottom: $visualization-car-vertical-spacing-s;
    }
  }

  @include breakpoint('m', 'l') {
    padding: {
      top: $visualization-car-vertical-spacing-m;
      bottom: $visualization-car-vertical-spacing-m;
    }
  }

  @include breakpoint('l') {
    padding: {
      top: $visualization-car-vertical-spacing-l;
      bottom: $visualization-car-vertical-spacing-l;
    }
  }

  &::before {
    content: '';
    display: block;
    padding-top: $visualization-car-image-ratio;
  }

  &__image {
    position: absolute;
    top: $visualization-car-image-position;
    left: $visualization-car-image-position;
    transform: translate(- $visualization-car-image-position, - $visualization-car-image-position);
    width: $visualization-car-image-width;
    height: $visualization-car-image-height;
    display: block;

    @include breakpoint('s', 'm') {
      width: $visualization-car-image-width-s;
    }

    @include breakpoint('m', 'l') {
      width: $visualization-car-image-width-m;
    }

    @include breakpoint('l') {
      width: $visualization-car-image-width-l;
    }
  }

  &__tire-pressure {
    position: absolute;
    // needed for correct positioning relative to proportional scaling car image
    transform: translate($visualization-car-tire-pressure-horizontal-offset, $visualization-car-reset);

    &--front-left,
    &--front-right {
      left: $visualization-car-tire-pressure-horizontal-position-front;

      @include breakpoint('s') {
        // needed for correct positioning relative to proportional scaling car image
        transform: translate($visualization-car-tire-pressure-horizontal-offset-front-s, $visualization-car-reset);
      }

      @include breakpoint('s', 'm') {
        left: $visualization-car-tire-pressure-horizontal-position-front-s;
      }

      @include breakpoint('m', 'l') {
        left: $visualization-car-tire-pressure-horizontal-position-front-m;
      }

      @include breakpoint('l') {
        left: $visualization-car-tire-pressure-horizontal-position-front-l;
      }
    }

    &--rear-left,
    &--rear-right {
      left: $visualization-car-tire-pressure-horizontal-position-rear;

      @include breakpoint('s') {
        // needed for correct positioning relative to proportional scaling car image
        transform: translate($visualization-car-tire-pressure-horizontal-offset-rear-s, $visualization-car-reset);
      }

      @include breakpoint('s', 'm') {
        left: $visualization-car-tire-pressure-horizontal-position-rear-s;
      }

      @include breakpoint('m', 'l') {
        left: $visualization-car-tire-pressure-horizontal-position-rear-m;
      }

      @include breakpoint('l') {
        left: $visualization-car-tire-pressure-horizontal-position-rear-l;
      }
    }

    &--front-left,
    &--rear-left {
      top: $visualization-car-tire-pressure-vertical-position;
    }

    &--front-right,
    &--rear-right {
      bottom: $visualization-car-tire-pressure-vertical-position;
    }

    // sass-lint:disable force-pseudo-nesting
    &--front-left::after,
    &--rear-left::after,
    &--front-right::before,
    &--rear-right::before {
      content: '';
      display: block;
      width: $visualization-car-tire-pressure-line-width;
      height: $visualization-car-tire-pressure-line-height;
      margin: {
        left: $visualization-car-tire-pressure-line-horizontal-alignment;
        right: $visualization-car-tire-pressure-line-horizontal-alignment;
      }
      background: $visualization-car-tire-pressure-line-color;

      @include breakpoint('s') {
        position: absolute;
      }
    }

    &--front-left {
      &::after {
        margin-top: $visualization-car-tire-pressure-line-vertical-spacing;

        @include breakpoint('s') {
          margin-top: $visualization-car-reset;
          top: $visualization-car-reset;
          left: - $visualization-car-tire-pressure-line-horizontal-spacing-s;
        }
      }
    }

    &--rear-left {
      &::after {
        margin-top: $visualization-car-tire-pressure-line-vertical-spacing;

        @include breakpoint('s') {
          margin-top: $visualization-car-reset;
          top: $visualization-car-reset;
          right: - $visualization-car-tire-pressure-line-horizontal-spacing-s;
        }
      }
    }

    &--front-right {
      &::before {
        margin-bottom: $visualization-car-tire-pressure-line-vertical-spacing;

        @include breakpoint('s') {
          margin-bottom: $visualization-car-reset;
          bottom: $visualization-car-reset;
          left: - $visualization-car-tire-pressure-line-horizontal-spacing-s;
        }
      }
    }

    &--rear-right {
      &::before {
        margin-bottom: $visualization-car-tire-pressure-line-vertical-spacing;

        @include breakpoint('s') {
          margin-bottom: $visualization-car-reset;
          bottom: $visualization-car-reset;
          right: - $visualization-car-tire-pressure-line-horizontal-spacing-s;
        }
      }
    }
  }

  &__label {
    @include -text-size-copy;
    @include -align-right;
    @include -overflow-ellipsis;
    color: $visualization-car-label-color;
    display: block;

    &--info {
      @include -text-size-copy;
      color: $visualization-car-label-info-color;
    }
  }

  &__lock-status {
    @include icon-base;
    @include -align-center;
    position: absolute;
    width: $visualization-car-lock-status-size;
    height: $visualization-car-lock-status-size;
    border-radius: $visualization-car-lock-status-border-radius;
    border: $visualization-car-lock-status-border-size solid $visualization-car-lock-status-border-color;
    background: $visualization-car-lock-status-background;
    box-shadow: $visualization-car-lock-status-box-shadow;
    transform: translate($visualization-car-lock-status-offset, $visualization-car-lock-status-offset);
    font-size: $visualization-car-lock-status-icon-size;
    line-height: $visualization-car-lock-status-icon-line-height;
    color: $visualization-car-lock-status-icon-color;

    @include breakpoint('l') {
      width: $visualization-car-lock-status-size-l;
      height: $visualization-car-lock-status-size-l;
      font-size: $visualization-car-lock-status-icon-size-l;
      line-height: $visualization-car-lock-status-icon-line-height-l;
    }

    &--bonnet {
      top: $visualization-car-lock-status-bonnet-position-top;
      left: $visualization-car-lock-status-bonnet-position-left;

      @include breakpoint('xs', 's') {
        left: $visualization-car-lock-status-bonnet-position-left-xs;
      }

      @include breakpoint('s', 'm') {
        left: $visualization-car-lock-status-bonnet-position-left-s;
      }

      @include breakpoint('m', 'l') {
        left: $visualization-car-lock-status-bonnet-position-left-m;
      }

      @include breakpoint('l') {
        left: $visualization-car-lock-status-bonnet-position-left-l;
      }
    }

    &--bonnet-open-suv {
      &::before {
        @include icon-suv-hood-pcm-before;
      }
    }

    &--bonnet-open-sport {
      &::before {
        @include icon-sport-hood-pcm-before;
      }
    }

    &--roof {
      top: $visualization-car-lock-status-roof-position-top;
      left: $visualization-car-lock-status-roof-position-left;

      @include breakpoint('xs', 's') {
        left: $visualization-car-lock-status-roof-position-left-xs;
      }

      @include breakpoint('s', 'm') {
        left: $visualization-car-lock-status-roof-position-left-s;
      }

      @include breakpoint('m', 'l') {
        left: $visualization-car-lock-status-roof-position-left-m;
      }

      @include breakpoint('l') {
        left: $visualization-car-lock-status-roof-position-left-l;
      }
    }

    &--roof-open-suv {
      &::before {
        @include icon-suv-sunroof-pcm-before;
      }
    }

    &--roof-open-sport {
      &::before {
        @include icon-sport-sunroof-pcm-before;
      }
    }

    &--trunk {
      top: $visualization-car-lock-status-trunk-position-top;
      left: $visualization-car-lock-status-trunk-position-left;

      @include breakpoint('xs', 's') {
        left: $visualization-car-lock-status-trunk-position-left-xs;
      }

      @include breakpoint('s', 'm') {
        left: $visualization-car-lock-status-trunk-position-left-s;
      }

      @include breakpoint('m', 'l') {
        left: $visualization-car-lock-status-trunk-position-left-m;
      }

      @include breakpoint('l') {
        left: $visualization-car-lock-status-trunk-position-left-l;
      }
    }

    &--trunk-open-suv {
      &::before {
        @include icon-suv-trunk-pcm-before;
      }
    }

    &--trunk-open-sport {
      &::before {
        @include icon-sport-trunk-pcm-before;
      }
    }

    &--front-left {
      top: $visualization-car-lock-status-front-left-position-top;
      left: $visualization-car-lock-status-front-left-position-left;

      @include breakpoint('xs', 's') {
        top: $visualization-car-lock-status-front-left-position-top-xs;
        left: $visualization-car-lock-status-front-left-position-left-xs;
      }

      @include breakpoint('s', 'm') {
        top: $visualization-car-lock-status-front-left-position-top-s;
        left: $visualization-car-lock-status-front-left-position-left-s;
      }

      @include breakpoint('m', 'l') {
        top: $visualization-car-lock-status-front-left-position-top-m;
        left: $visualization-car-lock-status-front-left-position-left-m;
      }

      @include breakpoint('l') {
        top: $visualization-car-lock-status-front-left-position-top-l;
        left: $visualization-car-lock-status-front-left-position-left-l;
      }
    }

    &--front-left-door-open {
      &::before {
        @include icon-door-left1-next-before;
      }
    }

    &--front-left-door-unlocked {
      &::before {
        @include icon-unlock-next-before;
      }
    }

    &--front-left-window-open {
      &::before {
        @include icon-window-next-before;
      }
    }

    &--front-right {
      top: $visualization-car-lock-status-front-right-position-top;
      left: $visualization-car-lock-status-front-right-position-left;

      @include breakpoint('xs', 's') {
        top: $visualization-car-lock-status-front-right-position-top-xs;
        left: $visualization-car-lock-status-front-right-position-left-xs;
      }

      @include breakpoint('s', 'm') {
        top: $visualization-car-lock-status-front-right-position-top-s;
        left: $visualization-car-lock-status-front-right-position-left-s;
      }

      @include breakpoint('m', 'l') {
        top: $visualization-car-lock-status-front-right-position-top-m;
        left: $visualization-car-lock-status-front-right-position-left-m;
      }

      @include breakpoint('l') {
        top: $visualization-car-lock-status-front-right-position-top-l;
        left: $visualization-car-lock-status-front-right-position-left-l;
      }
    }

    &--front-right-door-open {
      &::before {
        @include icon-door-right1-next-before;
      }
    }

    &--front-right-door-unlocked {
      &::before {
        @include icon-unlock-next-before;
      }
    }

    &--front-right-window-open {
      &::before {
        @include icon-window-next-before;
      }
    }

    &--rear-left {
      top: $visualization-car-lock-status-rear-left-position-top;
      left: $visualization-car-lock-status-rear-left-position-left;

      @include breakpoint('xs', 's') {
        left: $visualization-car-lock-status-rear-left-position-left-xs;
        top: $visualization-car-lock-status-rear-left-position-top-xs;
      }

      @include breakpoint('s', 'm') {
        top: $visualization-car-lock-status-rear-left-position-top-s;
        left: $visualization-car-lock-status-rear-left-position-left-s;
      }

      @include breakpoint('m', 'l') {
        top: $visualization-car-lock-status-rear-left-position-top-m;
        left: $visualization-car-lock-status-rear-left-position-left-m;
      }

      @include breakpoint('l') {
        top: $visualization-car-lock-status-rear-left-position-top-l;
        left: $visualization-car-lock-status-rear-left-position-left-l;
      }
    }

    &--rear-left-door-open {
      &::before {
        @include icon-door-left2-next-before;
      }
    }

    &--rear-left-door-unlocked {
      &::before {
        @include icon-unlock-next-before;
      }
    }

    &--rear-left-window-open {
      &::before {
        @include icon-window-next-before;
      }
    }

    &--rear-right {
      top: $visualization-car-lock-status-rear-right-position-top;
      left: $visualization-car-lock-status-rear-right-position-left;

      @include breakpoint('xs', 's') {
        top: $visualization-car-lock-status-rear-right-position-top-xs;
        left: $visualization-car-lock-status-rear-right-position-left-xs;
      }

      @include breakpoint('s', 'm') {
        top: $visualization-car-lock-status-rear-right-position-top-s;
        left: $visualization-car-lock-status-rear-right-position-left-s;
      }

      @include breakpoint('m', 'l') {
        top: $visualization-car-lock-status-rear-right-position-top-m;
        left: $visualization-car-lock-status-rear-right-position-left-m;
      }

      @include breakpoint('l') {
        top: $visualization-car-lock-status-rear-right-position-top-l;
        left: $visualization-car-lock-status-rear-right-position-left-l;
      }
    }

    &--rear-right-door-open {
      &::before {
        @include icon-door-right2-next-before;
      }
    }

    &--rear-right-door-unlocked {
      &::before {
        @include icon-unlock-next-before;
      }
    }

    &--rear-right-window-open {
      &::before {
        @include icon-window-next-before;
      }
    }
  }
}
