@import 'font.setup.scss';

// Latin
@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Thin.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Thin.woff') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F,
  U+0E00-0E7F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F,
  U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Regular.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Regular.woff') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F,
  U+0E00-0E7F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F,
  U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Bold.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-latin/PorscheNextWLa-Bold.woff') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F,
  U+0E00-0E7F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F,
  U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

// Greek
@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Thin.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Thin.woff') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Regular.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Regular.woff') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Bold.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-greek/PorscheNextWGr-Bold.woff') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

// Cyril
@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Thin.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Thin.woff') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Regular.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Regular.woff') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Bold.woff2') format('woff2'),
  url('#{$p-font-face-source}/porsche-next-cyril/PorscheNextWCy-Bold.woff') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

// arabic charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Arabic';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.svg#PorscheNextArabic') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Arabic';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.svg#PorscheNextArabic') format('svg'); // Legacy iOS
}

// persian charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Persian';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.svg#PorscheNextPersian ') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Persian';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.svg#PorscheNextPersian') format('svg'); // Legacy iOS
}

// pashto charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Pashto';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.svg#PorscheNextPashto') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Pashto';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.svg#PorscheNextPashto') format('svg'); // Legacy iOS
}

// urdu charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Urdu';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.svg#PorscheNextUrdu') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Urdu';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.svg#PorscheNextUrdu') format('svg'); // Legacy iOS
}
