@import 'font.setup.scss';

// latin charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-thin;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Thin.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Thin.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Thin.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Thin.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Thin.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Thin.svg#PorscheNext') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Regular.svg#PorscheNext') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-latin/PorscheNextWLa-Bold.svg#PorscheNext') format('svg'); // Legacy iOS
}

// cyrillic charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Cyrilic';
  font-style: normal;
  font-weight: $font-weight-thin;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Thin.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Thin.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Thin.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Thin.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Thin.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Thin.svg#PorscheNextCyril') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Cyrilic';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Regular.svg#PorscheNextCyril') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Cyrilic';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-cyril/PorscheNextWCy-Bold.svg#PorscheNextCyril') format('svg'); // Legacy iOS
}

// greek charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Greek';
  font-style: normal;
  font-weight: $font-weight-thin;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Thin.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Thin.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Thin.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Thin.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Thin.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Thin.svg#PorscheNextGreek') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Greek';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Regular.svg#PorscheNextGreek') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Greek';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-greek/PorscheNextWGr-Bold.svg#PorscheNextGreek') format('svg'); // Legacy iOS
}

// arabic charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Arabic';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Regular.svg#PorscheNextArabic') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Arabic';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-arabic/PorscheNextWAr-Bold.svg#PorscheNextArabic') format('svg'); // Legacy iOS
}

// persian charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Persian';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Regular.svg#PorscheNextPersian ') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Persian';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-persian/PorscheNextWPe-Bold.svg#PorscheNextPersian') format('svg'); // Legacy iOS
}

// pashto charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Pashto';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Regular.svg#PorscheNextPashto') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Pashto';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-pashto/PorscheNextWPa-Bold.svg#PorscheNextPashto') format('svg'); // Legacy iOS
}

// urdu charset
@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Urdu';
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Regular.svg#PorscheNextUrdu') format('svg'); // Legacy iOS
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties indentation
  font-family: 'Porsche Next Urdu';
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: fallback;
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.eot'); // IE9 Compat Modes
  src: url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.woff2') format('woff2'), // Super Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.woff') format('woff'), // Pretty Modern Browsers
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.ttf') format('truetype'), // Safari, Android, iOS
  url('#{$font-resource-base-path}/porsche-next-urdu/PorscheNextWUr-Bold.svg#PorscheNextUrdu') format('svg'); // Legacy iOS
}
