$font-resource-base-path: 'https://cdn.ui.porsche.com/porsche-ui-kit/font/v1' !default;

$font-primary-family: 'Porsche Next', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family: 'Porsche Next', 'Arial Narrow', Arial, sans-serif !default;

$font-primary-family-cyrilic: 'Porsche Next Cyrilic', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family-cyrilic: $font-primary-family-cyrilic;

$font-primary-family-greek: 'Porsche Next Greek', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family-greek: $font-primary-family-greek;

$font-primary-family-chinese: 'Porsche Next', 黑体, SimHei, 宋体, SimSun, sans-serif !default;
$font-default-family-chinese: $font-primary-family-chinese !default;

$font-primary-family-arabic: 'Porsche Next Arabic', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family-arabic: $font-primary-family-arabic !default;

$font-primary-family-pashto: 'Porsche Next Pashto', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family-pashto: $font-primary-family-pashto !default;

$font-primary-family-persian: 'Porsche Next Persian', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family-persian: $font-primary-family-persian !default;

$font-primary-family-urdu: 'Porsche Next Urdu', 'Arial Narrow', Arial, sans-serif !default;
$font-default-family-urdu: $font-primary-family-urdu !default;

$font-weight-thin: 200 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 600 !default;
