@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'car-detail.setup.scss';

.#{$global-class-prefix}car-detail {

  @include flex;
  @include flex--row-wrap;

  @include breakpoint('m') {
    @include flex--row-nowrap;
  }

  &__container {
    @include flex;
    @include flex--direction(column);

    @include flex--grow(1);
    @include -spacing-inner-a;

    background-color: $car-detail-image-background;
  }

  &__title {
    @include -text-size-4-thin;
  }

  &__subtitle {
    @include -text-size-copy;
  }

  &__image {
    @include flex--grow(1);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: $car-detail-image-height-xxs;

    @include breakpoint('xs', 's') {
      height: $car-detail-image-height-xs;
    }

    @include breakpoint('s', 'm') {
      height: $car-detail-image-height-s;
    }

    @include breakpoint('m') {
      height: auto;
    }
  }

}
