{{> organisms-header }}

<section class="-wrapper-page">
  <div class="row flex-s">
    <div class="column column--12 -spacing-d">

      {{> organisms-page-header page-header_title="Bei My Porsche registrieren"
          page-header_description="Für Ihre Organisation existiert bisher noch kein Porsche ID-Account. Im nächsten Schritt können Sie ienen neuen Account anlegen bzw. einen temporären Account vervollständigen." }}

    </div>
  </div>
  <div class="row flex-s">
    <div class="column column--12 -spacing-c">

       {{> molecules-button-inline button-inline_label="Weiter zur Registrierung"
           button-inline_icon="arrow-right-thin"
           button-inline_active=true }}

    </div>
  </div>
</section>
