@import "../../../common";
@import "textArea.setup.scss";

.#{$global-class-prefix}text-area {
    $bem-block: &;

    position: relative;
    display: block;

    &__required {
        color: $text-area-label-text-color;
        margin-top: $text-area-required-margin-top;
    }

    &__error-message {
        margin-top: $text-area-error-message-margin-top;
        color: $text-area-field-text-color-error;
    }

    &__field {
        @include -text-size-copy;

        width: 100%;
        display: block;
        min-height: 140px;
        padding: $text-area-field-padding;
        outline: none;
        appearance: none;
        border-radius: 0;
        box-sizing: border-box;
        border: 1px solid $text-area-field-border-color;
        background: $text-area-field-background-color;
        color: $text-area-field-text-color;
        box-shadow: none;
        resize: none;

        &::placeholder {
            color: $text-area-field-text-color;
        }

        &::-moz-placeholder {
            opacity: 1;
        }

        &--error {
            color: $text-area-field-text-color-error;
            border-color: $text-area-field-text-color-error;
            padding: $text-area-field-padding;
        }
    }

    &__label {
        @include -font-primary();
        @include -overflow-ellipsis();
        @include -text-size-small;

        position: absolute;
        top: 30px;
        left: 1px;
        right: 17px;
        background: linear-gradient(to bottom, white 80%, rgba(255, 255, 255, 0));
        padding-left: $text-area-field-padding;
        padding-bottom: 4px;
        display: inline-block;
        opacity: 0;
        transition: top 0.4s ease;
        color: $text-area-label-text-color;
    }

    &__unit {
        position: absolute;
        top: 50%;
        right: $text-area-field-padding;
        transform: translate(0, -50%);
        color: #babbbe;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: $text-area-field-padding;
        transform: translate(0, -50%);
        font-size: $text-area-icon-size;
        color: $text-area-icon-color;

        & ~ #{$bem-block}__field {
            padding-right: calc(#{$text-area-field-padding} * 2 + #{$text-area-icon-size});
        }

        & ~ #{$bem-block}__field--error {
            padding-right: calc(#{$text-area-field-padding} * 2 + #{$text-area-icon-size});
        }

        & ~ #{$bem-block}__label {
            right: calc(#{$text-area-field-padding} * 2 + #{$text-area-icon-size});
        }
    }

    // text-area is focused
    &__field:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    // text-area is disabled
    &__field:disabled {
        color: $text-area-field-text-color-disabled;

        &::placeholder {
            color: $text-area-field-text-color-disabled;
        }
    }

    // text-area is focused or text-area is not empty
    &__field:focus,
    &__field:valid,
    &__field--has-value {
        padding-top: $text-area-field-padding-vertical-top-focus;
        padding-bottom: $text-area-field-padding-vertical-bottom-focus;

        & + #{$bem-block}__label {
            top: $text-area-label-position-top;
            opacity: 1;
        }
    }

    // text-area has error and not focused and has no value
    &__field--error:placeholder-shown:not(:focus) {
        & + .#{$global-class-prefix}text-area__label {
            color: $text-area-field-text-color-error;
        }

        &::placeholder {
            color: $text-area-field-text-color-error;
        }
    }

    // text-area has error and is focused or text-area has error and is not empty
    &__field--error:focus,
    &__field--error:not(:placeholder-shown) {
        padding-top: $text-area-field-padding-vertical-top-focus;
        padding-bottom: $text-area-field-padding-vertical-bottom-focus;
    }

    &__field--no-label {
        padding-top: $text-area-field-padding;
        padding-bottom: $text-area-field-padding;

        &::placeholder {
            color: $text-area-placeholder-color;
        }

        &:focus,
        &:not(:placeholder-shown) {
            padding-top: $text-area-field-padding;
            padding-bottom: $text-area-field-padding;
        }
    }

    &__max-length {
        @include -text-size-small;

        color: $grey;
        position: absolute;
        bottom: $spacing;
        right: $spacing;
    }
}
