@import "../../../../../../../packages/utilities/projects/utilities/scss";

/**
 * properties for flex container
 */
@mixin p-flex {
  display: flex;
}

@mixin p-flex-inline {
  display: inline-flex;
}

@mixin p-flex-direction($direction) {
  flex-direction: #{$direction};
}

@mixin p-flex-wrap($wrap) {
  flex-wrap: #{$wrap};
}

@mixin p-flex-justify-content($align) {
  justify-content: #{$align};
}

@mixin p-flex-align-items($align) {
  align-items: #{$align};
}

@mixin p-flex-align-content($align) {
  align-content: #{$align};
}

.#{$p-global-class-prefix}flex {
  @include p-flex;

  &--default {
    @include p-flex;
  }
  &--inline {
    @include p-flex-inline;
  }

  @include p-breakpoint("xs") {
    &--default-xs {
      @include p-flex;
    }
    &--inline-xs {
      @include p-flex-inline;
    }
  }

  @include p-breakpoint("s") {
    &--default-s {
      @include p-flex;
    }
    &--inline-s {
      @include p-flex-inline;
    }
  }

  @include p-breakpoint("m") {
    &--default-m {
      @include p-flex;
    }
    &--inline-m {
      @include p-flex-inline;
    }
  }

  @include p-breakpoint("l") {
    &--default-l {
      @include p-flex;
    }
    &--inline-l {
      @include p-flex-inline;
    }
  }

  @include p-breakpoint("xl") {
    &--default-xl {
      @include p-flex;
    }
    &--inline-xl {
      @include p-flex-inline;
    }
  }

  /**
   * properties for flex parent
   */

  &--wrap {
    &-wrap {
      @include p-flex-wrap(wrap);
    }
    &-nowrap {
      @include p-flex-wrap(nowrap);
    }
    &-wrap-reverse {
      @include p-flex-wrap(wrap-reverse);
    }

    @include p-breakpoint("xs") {
      &-wrap-xs {
        @include p-flex-wrap(wrap);
      }
      &-nowrap-xs {
        @include p-flex-wrap(nowrap);
      }
      &-wrap-reverse-xs {
        @include p-flex-wrap(wrap-reverse);
      }
    }

    @include p-breakpoint("s") {
      &-wrap-s {
        @include p-flex-wrap(wrap);
      }
      &-nowrap-s {
        @include p-flex-wrap(nowrap);
      }
      &-wrap-reverse-s {
        @include p-flex-wrap(wrap-reverse);
      }
    }

    @include p-breakpoint("m") {
      &-wrap-m {
        @include p-flex-wrap(wrap);
      }
      &-nowrap-m {
        @include p-flex-wrap(nowrap);
      }
      &-wrap-reverse-m {
        @include p-flex-wrap(wrap-reverse);
      }
    }

    @include p-breakpoint("l") {
      &-wrap-l {
        @include p-flex-wrap(wrap);
      }
      &-nowrap-l {
        @include p-flex-wrap(nowrap);
      }
      &-wrap-reverse-l {
        @include p-flex-wrap(wrap-reverse);
      }
    }

    @include p-breakpoint("xl") {
      &-wrap-xl {
        @include p-flex-wrap(wrap);
      }
      &-nowrap-xl {
        @include p-flex-wrap(nowrap);
      }
      &-wrap-reverse-xl {
        @include p-flex-wrap(wrap-reverse);
      }
    }
  }

  &--direction {
    &-column {
      @include p-flex-direction(column);
    }
    &-column-reverse {
      @include p-flex-direction(column-reverse);
    }
    &-row {
      @include p-flex-direction(row);
    }
    &-row-reverse {
      @include p-flex-direction(row-reverse);
    }

    @include p-breakpoint("xs") {
      &-column-xs {
        @include p-flex-direction(column);
      }
      &-column-reverse-xs {
        @include p-flex-direction(column-reverse);
      }
      &-row-xs {
        @include p-flex-direction(row);
      }
      &-row-reverse-xs {
        @include p-flex-direction(row-reverse);
      }
    }

    @include p-breakpoint("s") {
      &-column-s {
        @include p-flex-direction(column);
      }
      &-column-reverse-s {
        @include p-flex-direction(column-reverse);
      }
      &-row-s {
        @include p-flex-direction(row);
      }
      &-row-reverse-s {
        @include p-flex-direction(row-reverse);
      }
    }

    @include p-breakpoint("m") {
      &-column-m {
        @include p-flex-direction(column);
      }
      &-column-reverse-m {
        @include p-flex-direction(column-reverse);
      }
      &-row-m {
        @include p-flex-direction(row);
      }
      &-row-reverse-m {
        @include p-flex-direction(row-reverse);
      }
    }

    @include p-breakpoint("l") {
      &-column-l {
        @include p-flex-direction(column);
      }
      &-column-reverse-l {
        @include p-flex-direction(column-reverse);
      }
      &-row-l {
        @include p-flex-direction(row);
      }
      &-row-reverse-l {
        @include p-flex-direction(row-reverse);
      }
    }

    @include p-breakpoint("xl") {
      &-column-xl {
        @include p-flex-direction(column);
      }
      &-column-reverse-xl {
        @include p-flex-direction(column-reverse);
      }
      &-row-xl {
        @include p-flex-direction(row);
      }
      &-row-reverse-xl {
        @include p-flex-direction(row-reverse);
      }
    }
  }

  &--justify-content {
    &-flex-start {
      @include p-flex-justify-content(flex-start);
    }
    &-flex-end {
      @include p-flex-justify-content(flex-end);
    }
    &-center {
      @include p-flex-justify-content(center);
    }
    &-space-between {
      @include p-flex-justify-content(space-between);
    }
    &-space-around {
      @include p-flex-justify-content(space-around);
    }
    &-space-evenly {
      @include p-flex-justify-content(space-evenly);
    }

    @include p-breakpoint("xs") {
      &-flex-start-xs {
        @include p-flex-justify-content(flex-start);
      }
      &-flex-end-xs {
        @include p-flex-justify-content(flex-end);
      }
      &-center-xs {
        @include p-flex-justify-content(center);
      }
      &-space-between-xs {
        @include p-flex-justify-content(space-between);
      }
      &-space-around-xs {
        @include p-flex-justify-content(space-around);
      }
      &-space-evenly-xs {
        @include p-flex-justify-content(space-evenly);
      }
    }

    @include p-breakpoint("s") {
      &-flex-start-s {
        @include p-flex-justify-content(flex-start);
      }
      &-flex-end-s {
        @include p-flex-justify-content(flex-end);
      }
      &-center-s {
        @include p-flex-justify-content(center);
      }
      &-space-between-s {
        @include p-flex-justify-content(space-between);
      }
      &-space-around-s {
        @include p-flex-justify-content(space-around);
      }
      &-space-evenly-s {
        @include p-flex-justify-content(space-evenly);
      }
    }

    @include p-breakpoint("m") {
      &-flex-start-m {
        @include p-flex-justify-content(flex-start);
      }
      &-flex-end-m {
        @include p-flex-justify-content(flex-end);
      }
      &-center-m {
        @include p-flex-justify-content(center);
      }
      &-space-between-m {
        @include p-flex-justify-content(space-between);
      }
      &-space-around-m {
        @include p-flex-justify-content(space-around);
      }
      &-space-evenly-m {
        @include p-flex-justify-content(space-evenly);
      }
    }

    @include p-breakpoint("l") {
      &-flex-start-l {
        @include p-flex-justify-content(flex-start);
      }
      &-flex-end-l {
        @include p-flex-justify-content(flex-end);
      }
      &-center-l {
        @include p-flex-justify-content(center);
      }
      &-space-between-l {
        @include p-flex-justify-content(space-between);
      }
      &-space-around-l {
        @include p-flex-justify-content(space-around);
      }
      &-space-evenly-l {
        @include p-flex-justify-content(space-evenly);
      }
    }

    @include p-breakpoint("xl") {
      &-flex-start-xl {
        @include p-flex-justify-content(flex-start);
      }
      &-flex-end-xl {
        @include p-flex-justify-content(flex-end);
      }
      &-center-xl {
        @include p-flex-justify-content(center);
      }
      &-space-between-xl {
        @include p-flex-justify-content(space-between);
      }
      &-space-around-xl {
        @include p-flex-justify-content(space-around);
      }
      &-space-evenly-xl {
        @include p-flex-justify-content(space-evenly);
      }
    }
  }

  &--align-items {
    &-flex-start {
      @include p-flex-align-items(flex-start);
    }
    &-flex-end {
      @include p-flex-align-items(flex-end);
    }
    &-center {
      @include p-flex-align-items(center);
    }
    &-stretch {
      @include p-flex-align-items(stretch);
    }
    &-baseline {
      @include p-flex-align-items(baseline);
    }

    @include p-breakpoint("xs") {
      &-flex-start-xs {
        @include p-flex-align-items(flex-start);
      }
      &-flex-end-xs {
        @include p-flex-align-items(flex-end);
      }
      &-center-xs {
        @include p-flex-align-items(center);
      }
      &-stretch-xs {
        @include p-flex-align-items(stretch);
      }
      &-baseline-xs {
        @include p-flex-align-items(baseline);
      }
    }

    @include p-breakpoint("s") {
      &-flex-start-s {
        @include p-flex-align-items(flex-start);
      }
      &-flex-end-s {
        @include p-flex-align-items(flex-end);
      }
      &-center-s {
        @include p-flex-align-items(center);
      }
      &-stretch-s {
        @include p-flex-align-items(stretch);
      }
      &-baseline-s {
        @include p-flex-align-items(baseline);
      }
    }

    @include p-breakpoint("m") {
      &-flex-start-m {
        @include p-flex-align-items(flex-start);
      }
      &-flex-end-m {
        @include p-flex-align-items(flex-end);
      }
      &-center-m {
        @include p-flex-align-items(center);
      }
      &-stretch-m {
        @include p-flex-align-items(stretch);
      }
      &-baseline-m {
        @include p-flex-align-items(baseline);
      }
    }

    @include p-breakpoint("l") {
      &-flex-start-l {
        @include p-flex-align-items(flex-start);
      }
      &-flex-end-l {
        @include p-flex-align-items(flex-end);
      }
      &-center-l {
        @include p-flex-align-items(center);
      }
      &-stretch-l {
        @include p-flex-align-items(stretch);
      }
      &-baseline-l {
        @include p-flex-align-items(baseline);
      }
    }

    @include p-breakpoint("xl") {
      &-flex-start-xl {
        @include p-flex-align-items(flex-start);
      }
      &-flex-end-xl {
        @include p-flex-align-items(flex-end);
      }
      &-center-xl {
        @include p-flex-align-items(center);
      }
      &-stretch-xl {
        @include p-flex-align-items(stretch);
      }
      &-baseline-xl {
        @include p-flex-align-items(baseline);
      }
    }
  }

  &--align-content {
    &-flex-start {
      @include p-flex-align-content(flex-start);
    }
    &-flex-end {
      @include p-flex-align-content(flex-end);
    }
    &-center {
      @include p-flex-align-content(center);
    }
    &-stretch {
      @include p-flex-align-content(stretch);
    }
    &-space-between {
      @include p-flex-align-content(space-between);
    }
    &-space-around {
      @include p-flex-align-content(space-around);
    }
    &-space-evenly {
      @include p-flex-align-content(space-evenly);
    }

    @include p-breakpoint("xs") {
      &-flex-start-xs {
        @include p-flex-align-content(flex-start);
      }
      &-flex-end-xs {
        @include p-flex-align-content(flex-end);
      }
      &-center-xs {
        @include p-flex-align-content(center);
      }
      &-stretch-xs {
        @include p-flex-align-content(stretch);
      }
      &-space-between-xs {
        @include p-flex-align-content(space-between);
      }
      &-space-around-xs {
        @include p-flex-align-content(space-around);
      }
      &-space-evenly-xs {
        @include p-flex-align-content(space-evenly);
      }
    }

    @include p-breakpoint("s") {
      &-flex-start-s {
        @include p-flex-align-content(flex-start);
      }
      &-flex-end-s {
        @include p-flex-align-content(flex-end);
      }
      &-center-s {
        @include p-flex-align-content(center);
      }
      &-stretch-s {
        @include p-flex-align-content(stretch);
      }
      &-space-between-s {
        @include p-flex-align-content(space-between);
      }
      &-space-around-s {
        @include p-flex-align-content(space-around);
      }
      &-space-evenly-s {
        @include p-flex-align-content(space-evenly);
      }
    }

    @include p-breakpoint("m") {
      &-flex-start-m {
        @include p-flex-align-content(flex-start);
      }
      &-flex-end-m {
        @include p-flex-align-content(flex-end);
      }
      &-center-m {
        @include p-flex-align-content(center);
      }
      &-stretch-m {
        @include p-flex-align-content(stretch);
      }
      &-space-between-m {
        @include p-flex-align-content(space-between);
      }
      &-space-around-m {
        @include p-flex-align-content(space-around);
      }
      &-space-evenly-m {
        @include p-flex-align-content(space-evenly);
      }
    }

    @include p-breakpoint("l") {
      &-flex-start-l {
        @include p-flex-align-content(flex-start);
      }
      &-flex-end-l {
        @include p-flex-align-content(flex-end);
      }
      &-center-l {
        @include p-flex-align-content(center);
      }
      &-stretch-l {
        @include p-flex-align-content(stretch);
      }
      &-space-between-l {
        @include p-flex-align-content(space-between);
      }
      &-space-around-l {
        @include p-flex-align-content(space-around);
      }
      &-space-evenly-l {
        @include p-flex-align-content(space-evenly);
      }
    }

    @include p-breakpoint("xl") {
      &-flex-start-xl {
        @include p-flex-align-content(flex-start);
      }
      &-flex-end-xl {
        @include p-flex-align-content(flex-end);
      }
      &-center-xl {
        @include p-flex-align-content(center);
      }
      &-stretch-xl {
        @include p-flex-align-content(stretch);
      }
      &-space-between-xl {
        @include p-flex-align-content(space-between);
      }
      &-space-around-xl {
        @include p-flex-align-content(space-around);
      }
      &-space-evenly-xl {
        @include p-flex-align-content(space-evenly);
      }
    }
  }
}
