@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../setup/global-variables.scss';
@import 'notification-error-inline.setup.scss';

.#{$global-class-prefix}notification-error-inline {
  @include -text-size-copy;

  background: $notification-error-inline-background-color;
  padding-left: $notification-error-inline-inner-spacing-horizontal;
  padding-right: $notification-error-inline-inner-spacing-horizontal;
  color: $notification-error-inline-text-color;
  border-left-width: $notification-error-inline-border-left-width;
  border-left-color: $notification-error-inline-border-left-color;
  border-left: solid;

  // This will be removed when Portal Team migrates to Angular
  &--spacing-bottom {
    &:last-of-type {
      @include -spacing-c(bottom);
    }
  }
}
