@import '../../mixins/px-rem-converter.scss';
@import '../../setup/color-palette.setup.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../modules/symbol/symbol-diamond.setup.scss';
@import '../../mixins/strip-unit.scss';
@import '../../mixins/math/sqrt.scss';
@import '../../mixins/math/pow.scss';

$dropdown-multi-function-width: rem(249px) !default;
$dropdown-multi-function-width-xs: rem(270px) !default;
$dropdown-multi-function-spacing-top: #{sqrt( pow( strip-unit($symbol-diamond-size), 2) + pow( strip-unit($symbol-diamond-size), 2) ) / 2}rem !default;
$dropdown-multi-function-spacing-right: - $spacing-12 - ($symbol-diamond-size / 2) !default;
$dropdown-multi-function-z-index: 1 !default;
$dropdown-multi-function-box-shadow: 0 $spacing-3 rem(20px) rem(2px) rgba(0, 0, 0, .25) !default;

$dropdown-multi-function-above-spacing-top: 0 !default;
$dropdown-multi-function-above-spacing-bottom: #{sqrt( pow( strip-unit($symbol-diamond-size), 2) + pow( strip-unit($symbol-diamond-size), 2) ) / 2}rem !default;

$dropdown-multi-function-above-safe-click-area-offset-top: rem(-8px) !default;
$dropdown-multi-function-above-safe-click-area-offset-bottom: rem(-40px) !default;

$dropdown-multi-function-safe-click-area-offset-horizontal: rem(-8px) !default;
$dropdown-multi-function-safe-click-area-offset-top: rem(-40px) !default;
$dropdown-multi-function-safe-click-area-offset-bottom: rem(-8px) !default;

$dropdown-multi-function-diamond-position-top: - $symbol-diamond-size / 2 !default;
$dropdown-multi-function-diamond-position-right: $spacing-12 !default;
$dropdown-multi-function-diamond-box-shadow: rem(-1px) rem(-1px) rem(4px) 0 rgba(0, 0, 0, .1) !default;

$dropdown-multi-function-diamond-above-position-bottom: - $symbol-diamond-size / 2 !default;
$dropdown-multi-function-diamond-above-box-shadow: rem(1px) rem(1px) rem(4px) 0 rgba(0, 0, 0, .1) !default;

$dropdown-multi-function-item-spacing-inner-horizontal: $spacing-24 !default;
$dropdown-multi-function-item-spacing-inner-vertical: $spacing-12 !default;
$dropdown-multi-function-item-background-color: $color-palette-grey-1 !default;
$dropdown-multi-function-item-background-color-hover: $color-palette-red-1 !default;
$dropdown-multi-function-item-text-color: $color-palette-black !default;
$dropdown-multi-function-item-text-color-hover: $color-palette-white !default;

$dropdown-multi-function-item-divider-position-height: 1px !default;
$dropdown-multi-function-item-divider-position-top: 0 !default;
$dropdown-multi-function-item-divider-position-left: $dropdown-multi-function-item-spacing-inner-horizontal !default;
$dropdown-multi-function-item-divider-position-right: $dropdown-multi-function-item-spacing-inner-horizontal !default;
$dropdown-multi-function-item-divider-background-color: $color-palette-grey-3 !default;
