<h1 class="-text-size-1-thin -text-color-black">Grid</h1>

<!-- ##########  Size  ########## -->
<h2 class="-text-size-3-thin -text-color-black -spacing-30">Size</h2>

<div class="grid">
  <div class="grid__child grid__child--size-12">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-11">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-1">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-10">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-2">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-9">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-3">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-8">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-7">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-5">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-6">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-6">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-5">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-7">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-8">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-3">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-9">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-2">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-10">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>
<div class="grid">
  <div class="grid__child grid__child--size-1">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-11">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>


<!-- ##########  Offset  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Offset</h2>

<div class="grid">
  <div class="grid__child grid__child--size-11 grid__child--offset-1">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-10 grid__child--offset-2">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-9 grid__child--offset-3">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-8 grid__child--offset-4">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-7 grid__child--offset-5">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-6 grid__child--offset-6">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-5 grid__child--offset-7">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-4 grid__child--offset-8">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-3 grid__child--offset-9">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-2 grid__child--offset-10">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--size-1 grid__child--offset-11">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<!-- ##########  Direction  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Direction</h2>

<p class="-text-size-copy -text-color-grey-7 -spacing-12">"row" (default)</p>
<div class="grid grid--direction-row">
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">1</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">2</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">3</h4>
  </div>
</div>

<p class="-text-size-copy -text-color-grey-7 -spacing-12">"row-reverse"</p>
<div class="grid grid--direction-row-reverse">
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">1</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">2</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">3</h4>
  </div>
</div>

<p class="-text-size-copy -text-color-grey-7 -spacing-12">"column"</p>
<div class="grid grid--direction-column">
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">1</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">2</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">3</h4>
  </div>
</div>

<p class="-text-size-copy -text-color-grey-7 -spacing-12">"column-reverse"</p>
<div class="grid grid--direction-column-reverse">
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">1</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">2</h4>
  </div>
  <div class="grid__child grid__child--size-4">
    <h4 class="-spacing-12 sg-bg-color-4 -text-size-5-regular -text-color-white -align-center">3</h4>
  </div>
</div>

<!-- ##########  Gap  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Gap</h2>

<p class="-text-size-copy -text-color-grey-7 -spacing-12">"normal" (default)</p>
<div class="grid grid--gap-normal">
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-2 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-3 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<p class="-text-size-copy -text-color-grey-7 -spacing-12">"zero"</p>
<div class="grid grid--gap-zero">
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-2 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-3 sg-box-size-1"></div>
  </div>
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-4 sg-box-size-1"></div>
  </div>
</div>

<hr class="divider -spacing-60">

<h1 class="-text-size-1-thin -text-color-black -spacing-12">Examples</h1>

<!-- ##########  Nesting (mix match with offset)  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-30">Grid nested</h2>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-12">Example 1</h3>
<div class="grid">
  <div class="grid__child grid__child--size-6">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__child grid__child--size-6">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--size-4">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
        <div class="grid__child grid__child--size-8">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">Example 2</h3>
<div class="grid">
  <div class="grid__child grid__child--size-8">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-2">
            <div class="grid">
              <div class="grid__child grid__child--size-6">
                <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
              </div>
              <div class="grid__child grid__child--size-6">
                <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-2">
            <div class="grid">
              <div class="grid__child grid__child--size-6">
                <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
              </div>
              <div class="grid__child grid__child--size-6">
                <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">Example 3</h3>
<div class="grid">
  <div class="grid__child grid__child--size-4">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__child grid__child--size-6 grid__child--offset-2">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--size-6">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
        <div class="grid__child grid__child--size-4 grid__child--offset-2">
          <div class="-spacing-24 sg-bg-color-4 sg-box-size-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ##########  Breakpoints  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Grid breakpoints</h2>
<p class="-text-size-copy -text-color-grey-7 -spacing-12">
  This is a 4 column grid which behaves different between breakpoints, includes vertical spacing and auto stretching height.<br><br>
  Column 1: <br>
  xxs --> size: 12<br>
  s --> gap: zero
  m --> gap: normal, size: 4, offset: 2<br>
  l --> size: 3, offset: 0 <br><br>

  Column 2: <br>
  xxs --> size: 12<br>
  s --> gap: zero, size: 6, offset: 3<br>
  m --> gap: normal, size: 4, offset: 0<br>
  l --> size: 3 <br><br>

  Column 3 and 4: <br>
  xxs --> size: 12<br>
  s --> gap: zero, size: 6<br>
  m --> gap: normal<br>
  l --> size: 3
</p>
<div class="grid grid--gap-zero-s grid--gap-normal-m -spacing-12">
  <div class="grid__child grid__child--size-12 grid__child--size-4-m grid__child--size-3-l grid__child--offset-2-m grid__child--offset-0-l flex">
    <div class="sg-bg-color-4 sg-padding-1">
      <h3 class="-text-size-4-thin -text-color-white">Column 1</h3>
      <p class="-text-size-copy -text-color-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="grid__child grid__child--size-12 grid__child--size-6-s grid__child--size-4-m grid__child--size-3-l grid__child--offset-3-s grid__child--offset-0-m -spacing-24 -spacing-zero-m flex">
    <div class="sg-bg-color-4 sg-padding-1">
      <h3 class="-text-size-4-thin -text-color-white">Column 2</h3>
      <p class="-text-size-copy -text-color-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="grid__child grid__child--size-12 grid__child--size-6-s grid__child--size-3-l -spacing-24 -spacing-zero-l flex">
    <div class="sg-bg-color-4 sg-padding-1">
      <h3 class="-text-size-4-thin -text-color-white">Column 3</h3>
      <p class="-text-size-copy -text-color-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </div>
  <div class="grid__child grid__child--size-12 grid__child--size-6-s grid__child--size-3-l -spacing-24 -spacing-zero-l flex">
    <div class="sg-bg-color-4 sg-padding-1">
      <h3 class="-text-size-4-thin -text-color-white">Column 4</h3>
      <p class="-text-size-copy -text-color-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
