<h2 class="-text-size-2-thin -text-color-black -spacing-60">Grid</h2>

<h2 class="-text-size-3-thin -text-color-black -spacing-30">Standard 12 column grid</h2>

<div class="grid">
  <div class="grid__child grid__child--12">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--11">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--1">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--10">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--2">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--9">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--3">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--8">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--7">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--5">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--6">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--6">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--5">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--7">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--8">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--3">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--9">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--2">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--10">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>
<div class="grid">
  <div class="grid__child grid__child--1">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--11">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>


<!-- ##########  Offset  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Standard grid with offsets</h2>

<div class="grid">
  <div class="grid__child grid__child--11 grid__child--offset-1">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--10 grid__child--offset-2">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--9 grid__child--offset-3">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--8 grid__child--offset-4">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--7 grid__child--offset-5">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--6 grid__child--offset-6">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--5 grid__child--offset-7">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--4 grid__child--offset-8">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--3 grid__child--offset-9">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--2 grid__child--offset-10">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<div class="grid">
  <div class="grid__child grid__child--1 grid__child--offset-11">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>


<!-- ##########  Breakpoints  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Grid with different breakpoints</h2>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-12">
  From 0 to bp-l: full width columns (12 cols) in rows<br>
  From bp-l to ∞: 3 columns in cols
</h3>
<div class="grid grid--direction-column-xs grid--direction-row-l">
  <div class="grid__child grid__child--12 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--12 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--12 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">
  From 0 to bp-l: 2 columns 1 row full width (auto wrapped)<br>
  From bp-l to ∞: 3 columns in cols
</h3>
<div class="grid grid--wrap">
  <div class="grid__child grid__child--6 grid__child--2-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--6 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
  <div class="grid__child grid__child--12 grid__child--6-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 1rem;"></div>
  </div>
</div>

<!-- ##########  Reverse  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Grid with different breakpoints and reversed order</h2>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-12">
  From 0 to bp-l: full width columns (12 cols) in rows and reversed order<br>
  From bp-l to ∞: 3 columns in cols
</h3>
<div class="grid grid--direction-column-reverse grid--direction-row-l">
  <div class="grid__child grid__child--12 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 2rem;">
      <h4 class="-text-size-4-thin -text-color-black">Column 1</h4>
    </div>
  </div>
  <div class="grid__child grid__child--12 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 2rem;">
      <h4 class="-text-size-4-thin -text-color-black">Column 2</h4>
    </div>
  </div>
  <div class="grid__child grid__child--12 grid__child--4-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 2rem;">
      <h4 class="-text-size-4-thin -text-color-black">Column 3</h4>
    </div>
  </div>
</div>


<!-- ##########  Nesting (mix match with offset)  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Grid nested</h2>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-12">6:6 -- 6:6 &amp; 4:8</h3>
<div class="grid">
  <div class="grid__child grid__child--6">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__child grid__child--6">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--4">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
        <div class="grid__child grid__child--8">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">8:4 -- 4:4 &amp; 2:2 -- 2:2 &amp; 2:2</h3>
<div class="grid">
  <div class="grid__child grid__child--8">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-2">
            <div class="grid">
              <div class="grid__child grid__child--6">
                <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
              </div>
              <div class="grid__child grid__child--6">
                <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-2">
            <div class="grid">
              <div class="grid__child grid__child--6">
                <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
              </div>
              <div class="grid__child grid__child--6">
                <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">4:6 (offset 2) -- 6:6 &amp; 6:4 (offset 2)</h3>
<div class="grid">
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__child grid__child--6 grid__child--offset-2">
    <div class="-spacing-12 sg-bg-color-1">
      <div class="grid">
        <div class="grid__child grid__child--6">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
        <div class="grid__child grid__child--4 grid__child--offset-2">
          <div class="-spacing-24 sg-bg-color-4" style="height: 1rem;"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ##########  Grid with zero gap  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Grid with zero gap</h2>
<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">Zero gap for all breakpoints</h3>
<div class="grid grid--gap-zero">
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-2" style="height: 3rem;"></div>
  </div>
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-3" style="height: 3rem;"></div>
  </div>
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-4" style="height: 3rem;"></div>
  </div>
</div>

<h3 class="-text-size-copy -text-color-grey-7 -spacing-24">Zero gap from breakpoint xxs (default) to m, gap from m to xl, zero gap from xl</h3>
<div class="grid grid--gap-zero grid--gap-normal-m grid--gap-zero-xl">
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-2" style="height: 3rem;"></div>
  </div>
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-3" style="height: 3rem;"></div>
  </div>
  <div class="grid__child grid__child--4">
    <div class="-spacing-12 sg-bg-color-4" style="height: 3rem;"></div>
  </div>
</div>


<!-- ##########  Mix 'n' Match  ########## -->

<h2 class="-text-size-3-thin -text-color-black -spacing-60">Grid goes wild</h2>
<p class="-text-size-copy -text-color-grey-7 -spacing-24">
  This is a 4 column grid which behaves different between breakpoints.<br><br>
  Column 1: <br>
  xxs --> zero gap, full width<br>
  m --> grid gap, offset of 2, width of 4<br>
  l --> width of 3 <br><br>

  Column 2: <br>
  xxs --> zero gap, full width<br>
  s --> grid gap, offset of 3, width of 6 <br>
  m --> no offset, width of 4<br>
  l --> width of 3 <br><br>

  Column 3 and 4: <br>
  xxs --> zero gap, full width<br>
  s --> grid gap, width of 6<br>
  l --> width of 3 <br><br>
</p>
<div class="grid grid--gap-zero grid--gap-normal-s">
  <div class="grid__child grid__child--offset-2-m grid__child--offset-zero-l grid__child--12 grid__child--4-m grid__child--3-l">
    <div class="-spacing-12 sg-bg-color-2" style="height: 100%;">
      <h3 class="-text-size-4-thin -text-color-black">Column 1</h3>
      <p class="-font-default -text-color-black">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="grid__child grid__child--offset-3-s grid__child--offset-zero-m grid__child--12 grid__child--6-s grid__child--4-m grid__child--3-l">
    <div class="-spacing-12 sg-bg-color-3" style="height: 100%;">
      <h3 class="-text-size-4-thin -text-color-black">Column 2</h3>
      <p class="-font-default -text-color-black">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="grid__child grid__child--12 grid__child--6-s grid__child--3-l">
    <div class="-spacing-12 sg-bg-color-4" style="height: 100%;">
      <h3 class="-text-size-4-thin -text-color-black">Column 3</h3>
      <p class="-font-default -text-color-black">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </div>
  <div class="grid__child grid__child--12 grid__child--6-s grid__child--3-l">
    <div class="-spacing-12 sg-bg-color-5" style="height: 100%;">
      <h3 class="-text-size-4-thin -text-color-black">Column 4</h3>
      <p class="-font-default -text-color-black">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<br><br>
