$next-best-actions-header-width-m-l: 33.333333% !default;
$next-best-actions-header-width-l: 25% !default;

$next-best-actions-body-width-m-l: 66.666667% !default;
$next-best-actions-body-width-l: 75% !default;
