@import 'divider.setup.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}divider {
  width: $divider-width;
  height: $divider-height;
  max-height: $divider-max-height;
  margin-bottom: $divider-spacing-bottom;
  display: block;
  clear: both;
  border: $divider-border-size;
  border-top: $divider-border-top-size solid $divider-border-top-color;

  &--gray {
    border-top: $divider-border-top-size solid $divider-border-top-color-gray;
  }
}
