@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$proposition-item-background-color: $color-palette-grey-9 !default;
$proposition-item-color: $color-palette-white !default;
$proposition-item-width: 100% !default;

$proposition-promo-width: 100% !default;
$proposition-promo-max-width: rem(400px) !default;
$proposition-promo-height: 100% !default;

$proposition-headline-title-color: $color-palette-white !default;

$proposition-image-width: rem(28px) !default;
$proposition-image-width-s: rem(64px) !default;
