<h2 class="-text-size-2-thin -text-color-black -spacing-60">Flex Layout</h2>

<div class="flex flex--gap-shim-grid flex--wrap">
  <div class="flex__child flex__child--gap-grid flex__child--12 flex__child--6-m">

    <h2 class="-text-size-3-thin -text-color-black -spacing-30">Modifier for the Parent</h2>

    <!-- ##########  Direction  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Direction ("flex-direction")</h2>

    <div class="flex flex--gap-shim-grid">
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"row" (default)</p>
        <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--direction-row -spacing-3">
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"row reverse"</p>
        <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--direction-row-reverse -spacing-3">
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex flex--gap-shim-grid">
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"column"</p>
        <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--direction-column -spacing-3">
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4 -spacing-12">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4 -spacing-12">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"column reverse"</p>
        <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--direction-column-reverse -spacing-3">
            <div class="flex__child flex__child--gap-grid flex__child--4 -spacing-12">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">1</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4 -spacing-12">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">2</div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--4">
              <div class="-text-size-5-regular -text-color-white -align-center" style="background: #00e6e6;">3</div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- ##########  Main Axis (Justify Content)  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Main Axis ("justify-content")</h2>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"start" (default)</p>
    <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--main-axis-start -spacing-3">
        <div class="flex__child flex__child--gap-grid flex__child--2">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--1">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--4">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"end"</p>
    <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--main-axis-end -spacing-3">
        <div class="flex__child flex__child--gap-grid flex__child--2">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--1">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--4">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"center"</p>
    <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--main-axis-center -spacing-3">
        <div class="flex__child flex__child--gap-grid flex__child--2">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--1">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--4">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"space between"</p>
    <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--main-axis-space-between -spacing-3">
        <div class="flex__child flex__child--gap-grid flex__child--2">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--1">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--4">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"space around"</p>
    <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--main-axis-space-around -spacing-3">
        <div class="flex__child flex__child--gap-grid flex__child--2">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--1">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--4">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"space evenly"</p>
    <div style="padding: 1rem 0; background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--main-axis-space-evenly -spacing-3">
        <div class="flex__child flex__child--gap-grid flex__child--2">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--1">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--4">
          <div style="height: 2rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>
    <!-- ##########  Cross Axis (Align Items)  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Cross Axis ("align-items")</h2>

    <div class="flex flex--gap-shim-grid">
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"stretch" (default)</p>
        <div style="background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--cross-axis-stretch -spacing-3" style="height: 10rem">
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 10rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 10rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 10rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 10rem; background: #00e6e6;"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"start"</p>
        <div style="background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--cross-axis-start -spacing-3" style="height: 10rem;">
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 5rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 8rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 3rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 5rem; background: #00e6e6;"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex flex--gap-shim-grid">
      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"end"</p>
        <div style="background: rgba(0, 230, 230, .25);">
          <div class="flex flex--cross-axis-end -spacing-3" style="height: 10rem;">
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 5rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 8rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 3rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 5rem; background: #00e6e6;"></div>
            </div>
          </div>
        </div>

      </div>

      <div class="flex__child flex__child--gap-grid flex__child--6">

        <p class="-text-size-copy -text-color-grey-7 -spacing-12">"center"</p>
        <div style="background: rgba(0, 230, 230, .25);">
          <div class="flex flex--gap-shim-grid flex--cross-axis-center -spacing-3" style="height: 10rem;">
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 5rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 8rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 3rem; background: #00e6e6;"></div>
            </div>
            <div class="flex__child flex__child--gap-grid flex__child--3">
              <div style="height: 5rem; background: #00e6e6;"></div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="flex__child flex__child--gap-grid flex__child--12 flex__child--6-m">

    <h2 class="-text-size-3-thin -text-color-black -spacing-30">Modifier for the Children</h2>

    <!-- ##########  Align Self (Flex Child)  ########## -->

    <h2 class="-text-size-4-thin -text-color-black -spacing-30">Align ("align-self")</h2>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"start"</p>
    <div style="background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid flex--cross-axis-end" style="height: 10rem;">
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 8rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3 flex__child--align-start">
          <div style="height: 3rem; background: deeppink;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"end"</p>
    <div style="background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid -spacing-3" style="height: 10rem;">
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 8rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3 flex__child--align-end">
          <div style="height: 3rem; background: deeppink;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"center"</p>
    <div style="background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid -spacing-3" style="height: 10rem;">
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 8rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3 flex__child--align-center">
          <div style="height: 3rem; background: deeppink;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

    <p class="-text-size-copy -text-color-grey-7 -spacing-12">"stretch"</p>
    <div style="background: rgba(0, 230, 230, .25);">
      <div class="flex flex--gap-shim-grid -spacing-3" style="height: 10rem;">
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 8rem; background: #00e6e6;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3 flex__child--align-stretch">
          <div style="height: 10rem; background: deeppink;"></div>
        </div>
        <div class="flex__child flex__child--gap-grid flex__child--3">
          <div style="height: 5rem; background: #00e6e6;"></div>
        </div>
      </div>
    </div>

  </div>
</div>

