@import '../../../../../utilities/scss/index';

:host {
  display: block;
}

.#{$p-global-class-prefix}content-wrapper {
  margin: 0 auto;
  padding: 0;
  display: block;

  &--basic {
    max-width: p-rem(1536px);
    padding: {
      left: 7vw;
      right: 7vw;
    }

    @include p-breakpoint("xl", "xxl") {
      padding: {
        left: 10vw;
        right: 10vw;
      }
    }

    @include p-breakpoint("xxl") {
      padding: {
        left: p-rem(192px);
        right: p-rem(192px);
      }
    }
  }

  &--extended {
    max-width: p-rem(1920px);
  }
}
