{{> organisms-header }}

<section class="-wrapper-page">
  <div class="flex">
    {{> organisms-page-header styleModifier="-spacing-d" page-header_title=porsche-id-card.title page-header_description=porsche-id-card.description }}
  </div>

  {{#if porsche-id-card.empty }}
  <div class="flex flex--direction-row">
    <div class="flex__child">
      {{> profile-id-card-empty-state }}
    </div>
  </div>
  {{/if}}

  {{#unless porsche-id-card.empty }}
  {{#if porsche-id-card.cardHint }}
  <div class="flex flex--direction-row">
    <div class="flex__child -spacing-f">
      {{> organisms-notification-common notification-common_title=false notification-common_text=porsche-id-card.cardHint}}
    </div>
  </div>
  {{/if}}

  <div class="flex flex--direction-column flex--direction-row-s {{#if porsche-id-card.cardHint }} -spacing-b {{else}} -spacing-f {{/if}}">
    <div class="flex__child flex__child--12 flex__child--4-s flex__child--gap-right-s">
      {{> profile-id-card-tile-details id-card-tile-details_showButton=porsche-id-card.details.lockButton }}
    </div>
    <div class="flex__child flex__child--12 flex__child--8-s flex__child--gap-left-s -spacing-b -spacing-zero-s">
      {{> profile-id-card-tile-services }}
    </div>
  </div>
  {{> organisms-next-best-actions styleModifier="-spacing-b" }}
  {{/unless}}

  {{> organisms-footer }}
</section>
