<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">Radio and Checkbox on same line</h2>
  <div class="row">
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Default</h4>
      {{> molecules-checkbox styleModifier="-spacing-12" checkbox_label="Lorem Ipsum" }}
    </div>
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Default</h4>
      {{> molecules-radio styleModifier="-spacing-12" radio_label="Lorem Ipsum" }}
    </div>
  </div>
  <div class="row">
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Default</h4>
      {{> molecules-radio styleModifier="-spacing-12" radio_label="Lorem Ipsum" }}
    </div>
    <div class="column -spacing-30">
      <h4 class="-text-size-5-thin -text-color-black">Default</h4>
      {{> molecules-checkbox styleModifier="-spacing-12" checkbox_label="Lorem Ipsum" }}
    </div>
  </div>
</div>

