<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">{{ font_titlePrimary }}</h2>
  <p class="-spacing-30 -font-primary">{{ font_primary }}</p>
</div>

<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">{{ font_titleDefault }}</h2>
  <p class="-spacing-30 -font-default">{{ font_default }}</p>
</div>
