@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/mixins';

$p-grid-gutter: p-px-to-rem(16px);
$p-grid-gutter-s: p-px-to-rem(24px);
$p-grid-gutter-m: p-px-to-rem(36px);

:host {
  display: flex !important;
  flex-wrap: wrap !important;
  flex: auto !important;
  width: auto !important;
  margin: {
    left: -$p-grid-gutter / 2 !important;
    right: -$p-grid-gutter / 2 !important;
  }

  @include p-media-query('s') {
    margin: {
      left: -$p-grid-gutter-s / 2 !important;
      right: -$p-grid-gutter-s / 2 !important;
    }
  }

  @include p-media-query('m') {
    margin: {
      left: -$p-grid-gutter-m / 2 !important;
      right: -$p-grid-gutter-m / 2 !important;
    }
  }
}

@include breakpoint-customizable('direction', 'flex-direction', ('column', 'column-reverse', 'row', 'row-reverse'));
