@import '../../../../../../packages/scss-utils/index';

@mixin p-button-pure-label-with-label() {
  position: static;
  width: 100%;
  height: auto;
  margin: 0 0 0 rem(4px);
  padding: 0;
  white-space: normal;
  overflow: visible;
  border: 0;
  clip: auto;
  clip-path: none;
}

@mixin p-button-pure-label-without-label() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:host {
  display: inline-flex;
  vertical-align: top;
}

.#{$p-global-class-prefix}button-pure {
  $bem-block: &;
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent none;
  appearance: none;
  border: none;
  text-decoration: none;
  text-align: left;
  background: transparent;
  color: inherit;
  transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
  color $p-animation-hover-duration $p-animation-hover-bezier,
  font-size 0.00001ms linear;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0; // fix for Firefox, avoid dotted outline in button on focus
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 1px;
  }

  &:disabled,
  &[disabled] {
    pointer-events: none;
  }

  &--theme-light {
    color: $p-color-theme-light-default;

    &:focus {
      outline-color: $p-color-theme-light-state-focus;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        color: $p-color-theme-light-brand;
      }
    }

    &:disabled,
    &[disabled] {
      color: $p-color-theme-light-state-disabled;
    }
  }

  &--theme-dark {
    color: $p-color-theme-dark-default;

    &:focus {
      outline-color: $p-color-theme-dark-state-focus;
    }

    &:enabled,
    &:not([disabled]) {
      &:hover,
      &:active {
        color: $p-color-theme-dark-brand;
      }
    }

    &:disabled,
    &[disabled] {
      color: $p-color-theme-dark-state-disabled;
    }
  }

  &--size-x-small {
    @include p-type-scale($p-text-size-x-small);
  }
  &--size-small {
    @include p-type-scale($p-text-size-small);
  }
  &--size-medium {
    @include p-type-scale($p-text-size-medium);
  }
  &--size-large {
    @include p-type-scale($p-text-size-large);
  }
  &--size-x-large {
    @include p-type-scale($p-text-size-x-large);
  }
  &--size-inherit {
    font-size: inherit;
    line-height: inherit;
  }

  @include p-breakpoint("xs") {
    &--size-x-small-xs {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-xs {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-xs {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-xs {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-xs {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-xs {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("s") {
    &--size-x-small-s {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-s {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-s {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-s {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-s {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-s {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("m") {
    &--size-x-small-m {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-m {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-m {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-m {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-m {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-m {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("l") {
    &--size-x-small-l {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-l {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-l {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-l {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-l {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-l {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include p-breakpoint("xl") {
    &--size-x-small-xl {
      @include p-type-scale($p-text-size-x-small);
    }
    &--size-small-xl {
      @include p-type-scale($p-text-size-small);
    }
    &--size-medium-xl {
      @include p-type-scale($p-text-size-medium);
    }
    &--size-large-xl {
      @include p-type-scale($p-text-size-large);
    }
    &--size-x-large-xl {
      @include p-type-scale($p-text-size-x-large);
    }
    &--size-inherit-xl {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &--with-label {
    #{$bem-block}__label {
      @include p-button-pure-label-with-label;
    }
  }

  &--without-label {
    #{$bem-block}__label {
      @include p-button-pure-label-without-label;
    }
  }

  @include p-breakpoint("xs") {
    &--with-label-xs {
      #{$bem-block}__label {
        @include p-button-pure-label-with-label;
      }
    }

    &--without-label-xs {
      #{$bem-block}__label {
        @include p-button-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("s") {
    &--with-label-s {
      #{$bem-block}__label {
        @include p-button-pure-label-with-label;
      }
    }

    &--without-label-s {
      #{$bem-block}__label {
        @include p-button-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("m") {
    &--with-label-m {
      #{$bem-block}__label {
        @include p-button-pure-label-with-label;
      }
    }

    &--without-label-m {
      #{$bem-block}__label {
        @include p-button-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("l") {
    &--with-label-l {
      #{$bem-block}__label {
        @include p-button-pure-label-with-label;
      }
    }

    &--without-label-l {
      #{$bem-block}__label {
        @include p-button-pure-label-without-label;
      }
    }
  }

  @include p-breakpoint("xl") {
    &--with-label-xl {
      #{$bem-block}__label {
        @include p-button-pure-label-with-label;
      }
    }

    &--without-label-xl {
      #{$bem-block}__label {
        @include p-button-pure-label-without-label;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 1em;
  }

  &__label {
    display: block;
    box-sizing: border-box;
  }
}
