<pui-button-primary label="Primary"></pui-button-primary>
<pui-button-primary label="Primary loading" loading="true"></pui-button-primary>
<pui-button-primary label="Primary link" link="true"></pui-button-primary>
<pui-button-primary label="Primary error" error="true"></pui-button-primary>
<pui-button-primary label="Primary black" black="true"></pui-button-primary>
<pui-button-primary label="Primary red" red="true"></pui-button-primary>
<pui-button-primary label="Primary acid-green" acidGreen="true"></pui-button-primary>
<pui-button-primary label="Primary button-group" buttonGroup="true"></pui-button-primary>
<pui-button-primary label="Primary disabled" disabled="true"></pui-button-primary>
<pui-button-primary label="Primary icon car-next" [icon]="carNextIcon"></pui-button-primary>
<pui-button-primary label="Primary stretch" stretch="true"></pui-button-primary>
