// ci colors
$color-palette-white:                #fff !default;
$color-palette-grey-1:               #eff0f1 !default;
$color-palette-grey-2:               #e3e4e4 !default;
$color-palette-grey-3:               #c8cacb !default;
$color-palette-grey-4:               #afb1b2 !default;
$color-palette-grey-5:               #959899 !default;
$color-palette-grey-6:               #7b7e80 !default;
$color-palette-grey-7:               #626669 !default;
$color-palette-grey-8:               #494e51 !default;
$color-palette-grey-9:               #313639 !default;
$color-palette-grey-9-1:             #1c2225 !default;
$color-palette-grey-10:              #191f22 !default;
$color-palette-grey-10-1:            #12181c !default;
$color-palette-black:                #000 !default;

$color-palette-red-1:                #d5001c !default;
$color-palette-red-2:                #960014 !default;

$color-palette-blue-1:               #196a99 !default;
$color-palette-blue-2:               #15577e !default;

// special colors
$color-palette-acid-green:           #d2eb2d !default;

// status colors
$color-palette-status-green:         #13d246 !default;
$color-palette-status-yellow:        #ff0 !default;
$color-palette-status-orange:        #e6950a !default;
$color-palette-status-red:           #d5001c !default;
