@import '../../mixins/px-rem-converter.scss';

$app-download-item-height: rem(40px) !default;
$app-download-item-height-s: rem(47px) !default;

$app-download-logo-height: 100% !default;
$app-download-logo-width: auto !default;
