@import 'visualization-icon-text.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}visualization-icon-text {
  @include -text-size-copy;

  &__icon {
    float: left;
    font-size: $visualization-icon-text-icon-size;
    line-height: inherit;
  }

  &__label {
    margin-left: $visualization-icon-text-icon-size + $visualization-icon-text-label-spacing-left;
    display: block;
  }
}
