@import 'font.setup.scss';

// sass-lint:disable empty-args
@mixin -font-primary() {
  $selector: &;

  font-family: $font-primary-family;

  @at-root html {
    &[lang='ru'],
    &[lang='ru-RU'] {
      #{$selector} {
        font-family: $font-primary-family-cyrilic;
      }
    }
  }

  @at-root html {
    &[lang='zh'],
    &[lang='zh-CN'] {
      #{$selector} {
        font-family: $font-primary-family-chinese;
      }
    }
  }

  @at-root html {
    &[lang='ar'],
    &[lang='ar-AE'] {
      #{$selector} {
        font-family: $font-primary-family-arabic;
      }
    }
  }

  @at-root html {
    &[lang='ps'],
    &[lang='ps-AR'] {
      #{$selector} {
        font-family: $font-primary-family-pashto;
      }
    }
  }

  @at-root html {
    &[lang='fa'],
    &[lang='fa-IR'] {
      #{$selector} {
        font-family: $font-primary-family-persian;
      }
    }
  }

  @at-root html {
    &[lang='ur'],
    &[lang='ur-PK'] {
      #{$selector} {
        font-family: $font-primary-family-urdu;
      }
    }
  }
}

@mixin -font-default($family: $font-default-family) {
  $selector: &;

  font-family: $family;

  @at-root html {
    &[lang='ru'],
    &[lang='ru-RU'] {
      #{$selector} {
        font-family: $font-default-family-cyrilic;
      }
    }
  }

  @at-root html {
    &[lang='zh'],
    &[lang='zh-CN'] {
      #{$selector} {
        font-family: $font-default-family-chinese;
      }
    }
  }

  @at-root html {
    &[lang='ar'],
    &[lang='ar-AE'] {
      #{$selector} {
        font-family: $font-default-family-arabic;
      }
    }
  }

  @at-root html {
    &[lang='ps'],
    &[lang='ps-AR'] {
      #{$selector} {
        font-family: $font-default-family-pashto;
      }
    }
  }

  @at-root html {
    &[lang='fa'],
    &[lang='fa-IR'] {
      #{$selector} {
        font-family: $font-default-family-persian;
      }
    }
  }

  @at-root html {
    &[lang='ur'],
    &[lang='ur-PK'] {
      #{$selector} {
        font-family: $font-default-family-urdu;
      }
    }
  }
}
