@import 'pagination-dots.setup.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}pagination-dots {
  @include flex;
  @include flex--justify-content(center);
  @include flex--align-items(center);

  &--hidden-s {
    @include breakpoint('s') {
      display: none;
    }
  }

  &__dot {
    @include -background-grey-3;

    display: block;
    width: $pagination-dots-dot-size-primary;
    height: $pagination-dots-dot-size-primary;
    padding: $pagination-dots-dot-padding;
    margin: $pagination-dots-dot-margin;

    border-style: none;
    cursor: pointer;

    border-radius: $pagination-dots-dot-border-radius;

    &--size-secondary {
      width: $pagination-dots-dot-size-secondary;
      height: $pagination-dots-dot-size-secondary;
    }

    &--size-tertiary {
      width: $pagination-dots-dot-size-tertiary;
      height: $pagination-dots-dot-size-tertiary;
    }

    &--active {
      @include -background-red-1;
    }

  }
}
