@import 'pagination-dots.setup.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}pagination-dots {
  @include flex;
  @include flex--justify-content(center);

  &--hidden-s {
    @include breakpoint('s') {
      display: none;
    }
  }

  &__dot {
    @include -background-grey-3;

    display: block;
    width: $pagination-dots-dot-button-dimension;
    height: $pagination-dots-dot-button-dimension;
    padding: $pagination-dots-dot-button-padding;
    margin: $pagination-dots-dot-button-margin;

    border-style: none;
    cursor: pointer;

    &--active {
      @include -background-red-1;
    }

    &--round {
      border-radius: $pagination-dots-dot-border-radius;
    }
  }
}
