{{> molecules-modal-base }}

{{#*inline "modal-base_content" }}
  <div class="-text-size-copy">
    {{ modal-confirm_copy }}
  </div>

  {{> molecules-modal-footer
    styleModifier="-spacing-30"
    modal-footer_addFormButtonGroup=modal-footer_addFormButtonGroup
    modal-footer_addFormButtonGroupCustom=modal-footer_addFormButtonGroupCustom

    form-button-group_primaryActionCta="Delete"
    form-button-group_secondaryActionCta="Cancel"
  }}
{{/inline}}

