@import './car-actions-control.setup.scss';
@import '../../../base/spacing/spacing.mixin.scss';
@import '../../../base/align/align.mixin.scss';
@import '../../../mixins/breakpoint.scss';
@import '../../../base/text-size/text-size.mixin.scss';
@import '../../../setup/global-variables.scss';

.#{$global-class-prefix}car-actions-control {
  @include -spacing-inner-a;
  background-color: $car-actions-control-background-color;
  width: $car-actions-control-width; // IE11 fixes flex issues
  max-width: $car-actions-control-width; // IE10 fixes flex issues
  box-sizing: border-box; // IE10 fixes flex issues

  &__section-top {
    @include breakpoint('s', 'm') {
      padding-right: $car-actions-control-section-spacing-horizontal-s;
    }

    &::after {
      @include -spacing-c;
      content: '';
      display: block;
      height: $car-actions-control-border-size;
      background: $car-actions-control-border-color;

      @include breakpoint('s', 'm') {
        display: none;
      }
    }
  }

  &__section-bottom {
    @include -spacing-c;

    @include breakpoint('s', 'm') {
      @include -spacing-zero;
      padding-left: $car-actions-control-section-spacing-horizontal-s;
    }
  }

  &__button-group {
    @include -spacing-c;

    @include breakpoint('s', 'm') {
      margin-top: $car-actions-control-button-group-spacing-vertical-s;
    }
  }

  &__icon {
    font-size: $car-actions-control-icon-size;
    color: $car-actions-control-icon-color;
    line-height: $car-actions-control-icon-line-height;

    @include breakpoint('s') {
      line-height: $car-actions-control-icon-line-height-s;
    }
  }

  &__title {
    @include -text-size-4-thin;
    color: $car-actions-control-title-color;

    @include breakpoint('s', 'm') {
      @include -text-size-5-thin;
      line-height: $car-actions-control-title-line-height-s;
    }
  }

  &__icon,
  &__title {
    @include -align-left;
    display: inline-block;

    @include breakpoint('m') {
      @include -align-center;
      display: block;
    }

    &--status-unknown {
      color: $car-actions-control-title-status-unknown-color;
    }
  }
}
