@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';

$loader-text-dot-size: rem(4px) !default;
$loader-text-dot-spacing-right: $spacing-6 !default;
$loader-text-dot-border-radius: 50% !default;
$loader-text-dot-background-color: $color-palette-grey-5 !default;
$loader-text-dot-background-color-dark: $color-palette-grey-8 !default;
$loader-text-dot-background-color-light: $color-palette-white !default;
$loader-text-dot-opacity: .6 !default;

$loader-text-dot-animation-name: animation-fade-opacity !default;
$loader-text-dot-animation-duration: 1s !default;

$loader-text-dot-second-child-animation-delay: .2s !default;
$loader-text-dot-third-child-animation-delay: .5s !default;
