@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$state-empty-action-background: transparent !default;

$state-empty-action-icon-color: $color-palette-white !default;
$state-empty-action-icon-size: rem(20px) !default;

$state-empty-action-icon-large-color: $color-palette-grey-5 !default;
$state-empty-action-icon-large-size: rem(120px) !default;

$state-empty-action-title-width: 100% !default;
$state-empty-action-title-max-width: rem(800px) !default;
$state-empty-action-title-color: $color-palette-white !default;

$state-empty-action-image-width: rem(120px) !default;
$state-empty-action-image-opacity: .1 !default;
