@import '../scss/index';
@import 'font-face.variables';

// Latin
@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-thin;
  src: url('#{$p-font-porsche-next-w-la-thin-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-la-thin-woff}') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F, U+0E00-0E7F,
    U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF,
    U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-regular;
  src: url('#{$p-font-porsche-next-w-la-regular-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-la-regular-woff}') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F, U+0E00-0E7F,
    U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF,
    U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-semibold;
  src: url('#{$p-font-porsche-next-w-la-semi-bold-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-la-semi-bold-woff}') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F, U+0E00-0E7F,
    U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF,
    U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-bold;
  src: url('#{$p-font-porsche-next-w-la-bold-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-la-bold-woff}') format('woff');
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F, U+0E00-0E7F,
    U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF,
    U+2600-26FF, U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}

// Greek
@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-thin;
  src: url('#{$p-font-porsche-next-w-gr-thin-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-gr-thin-woff}') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-regular;
  src: url('#{$p-font-porsche-next-w-gr-regular-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-gr-regular-woff}') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-semibold;
  src: url('#{$p-font-porsche-next-w-gr-semi-bold-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-gr-semi-bold-woff}') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-bold;
  src: url('#{$p-font-porsche-next-w-gr-bold-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-gr-bold-woff}') format('woff');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

// Cyril
@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-thin;
  src: url('#{$p-font-porsche-next-w-cy-thin-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-cy-thin-woff}') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-regular;
  src: url('#{$p-font-porsche-next-w-cy-regular-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-cy-regular-woff}') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-semibold;
  src: url('#{$p-font-porsche-next-w-cy-semi-bold-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-cy-semi-bold-woff}') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  font-style: normal;
  font-weight: $p-font-weight-bold;
  src: url('#{$p-font-porsche-next-w-cy-bold-woff2}') format('woff2'),
    url('#{$p-font-porsche-next-w-cy-bold-woff}') format('woff');
  unicode-range: U+0400-04FF;
  font-display: swap;
}
