@import '../../mixins/breakpoint.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/background/background.mixin.scss';

@import 'media-center.setup.scss';

.media-center {
  $bem-block: &;

  &__media-carousel {
    @include flex;
    overflow: hidden;
  }

  &__slide-item {
    @include flex;
    @include flex--wrap(wrap);
    @include flex--align-items(flex-start);
    width: $media-center-slide-item-width;
    min-width: $media-center-slide-item-width;

    @include breakpoint('s') {
      width: $media-center-slide-item-width-s;
      min-width: $media-center-slide-item-width-s;
    }

    //sass-lint:disable force-pseudo-nesting
    &--1-2 {
      #{$bem-block}__media:nth-child(n+2) {
        width: $media-center-media-collage-width;
      }
    }

    //sass-lint:disable force-pseudo-nesting
    &--2-1 {
      #{$bem-block}__media:nth-child(-n+2) {
        width: $media-center-media-collage-width;
      }
    }
  }

  &__media {
    width: $media-center-media-width;
    position: relative;
    overflow: hidden;

    img,
    video {
      width: $media-center-media-width;
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      #{$bem-block}__play-trigger {
        color: $media-center-play-trigger-color-hover;
      }
    }
  }

  &__play-trigger {
    position: absolute;
    top: $media-center-play-trigger-position;
    left: $media-center-play-trigger-position;
    transform: translate(-$media-center-play-trigger-position, -$media-center-play-trigger-position);
  }

  &__pagination-dots {
    position: absolute;
    bottom: $media-center-dots-position-bottom;
    width: $media-center-dots-width;

    .pagination-dots__dot {
      border-radius: $media-center-dots-border-radius;

      &--active {
        @include -background-white;
      }
    }

    @include breakpoint('s') {
      display: none;
    }
  }

  &__slider-arrow {
    position: absolute;

    @include breakpoint('xxs', 's') {
      display: none;
    }
  }
}
