@import '../../../setup/color-palette.setup.scss';
@import '../../../base/font/font.setup.scss';

$visualization-e-range-width: 100% !default;

$visualization-e-range-title-color: $color-palette-white !default;

$visualization-e-range-info-color: $color-palette-acid-green !default;

$visualization-e-range-value-font-weight: $font-weight-regular !default;
$visualization-e-range-value-font-size: 15vw !default;
$visualization-e-range-value-font-size-xs: 12.5vw !default;
$visualization-e-range-value-font-size-s: 9.895833333333334vw !default;
$visualization-e-range-value-font-size-m: 10.080645161290322vw !default;
$visualization-e-range-value-font-size-l: rem(126px) !default;
$visualization-e-range-value-line-height: 1.125 !default;

$visualization-e-range-unit-font-weight: $font-weight-regular !default;
$visualization-e-range-unit-font-size: $visualization-e-range-value-font-size / 2 !default;
$visualization-e-range-unit-font-size-xs: $visualization-e-range-value-font-size-xs / 2 !default;
$visualization-e-range-unit-font-size-s: $visualization-e-range-value-font-size-s / 2 !default;
$visualization-e-range-unit-font-size-m: $visualization-e-range-value-font-size-m / 2 !default;
$visualization-e-range-unit-font-size-l: $visualization-e-range-value-font-size-l / 2 !default;
$visualization-e-range-unit-line-height: 1.125 !default;
