@import 'spacing.setup.scss';
@import '../../mixins/breakpoint.scss';

@mixin -spacing-0($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-0;
  }
}

@mixin -spacing-3($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-3;
  }
}

@mixin -spacing-6($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-6;
  }
}

@mixin -spacing-12($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-12;
  }
}

@mixin -spacing-18($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-18;
  }
}

@mixin -spacing-24($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-24;
  }
}

@mixin -spacing-30($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-30;
  }
}

@mixin -spacing-36($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-36;
  }
}

@mixin -spacing-42($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-42;
  }
}

@mixin -spacing-48($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-48;
  }
}

@mixin -spacing-54($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-54;
  }
}

@mixin -spacing-60($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-60;
  }
}

// TODO: Following spacing mixins might be moved into a project scope
@mixin -spacing-a($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-a;
  }

  @include breakpoint('s', 'l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-a-s;
    }
  }

  @include breakpoint('l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-a-l;
    }
  }
}

@mixin -spacing-b($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-b;
  }

  @include breakpoint('s', 'l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-b-s;
    }
  }

  @include breakpoint('l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-b-l;
    }
  }
}

@mixin -spacing-c($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-c;
  }

  @include breakpoint('s', 'l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-c-s;
    }
  }

  @include breakpoint('l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-c-l;
    }
  }
}

@mixin -spacing-d($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-d;
  }

  @include breakpoint('s', 'l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-d-s;
    }
  }

  @include breakpoint('l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-d-l;
    }
  }
}

@mixin -spacing-e($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-e;
  }

  @include breakpoint('s', 'l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-e-s;
    }
  }

  @include breakpoint('l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-e-l;
    }
  }
}

@mixin -spacing-f($direction: 'top', $type: 'margin', $sign: '+') {
  #{$type}: {
    #{$direction}: #{$sign}$spacing-f;
  }

  @include breakpoint('s', 'l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-f-s;
    }
  }

  @include breakpoint('l') {
    #{$type}: {
      #{$direction}: #{$sign}$spacing-f-l;
    }
  }
}

@mixin -spacing-zero($direction: 'top', $type: 'margin') {
  #{$type}: {
    #{$direction}: 0;
  }
}

@mixin -spacing-inner-a {
  padding: $spacing-inner-a-vertical $spacing-inner-a-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-a-vertical-s $spacing-inner-a-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-a-vertical-l $spacing-inner-a-horizontal-l;
  }
}

@mixin -spacing-inner-b {
  padding: $spacing-inner-b-vertical $spacing-inner-b-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-b-vertical-s $spacing-inner-b-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-b-vertical-l $spacing-inner-b-horizontal-l;
  }
}

@mixin -spacing-inner-c {
  padding: $spacing-inner-c-vertical $spacing-inner-c-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-c-vertical-s $spacing-inner-c-horizontal-s;
  }

  @include breakpoint('m') {
    padding: $spacing-inner-c-vertical-m $spacing-inner-c-horizontal-m;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-c-vertical-l $spacing-inner-c-horizontal-l;
  }
}

@mixin -spacing-inner-d {
  padding: $spacing-inner-d-vertical $spacing-inner-d-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-d-vertical-s $spacing-inner-d-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-d-vertical-l $spacing-inner-d-horizontal-l;
  }
}

@mixin -spacing-inner-e {
  padding: $spacing-inner-e-vertical $spacing-inner-e-horizontal;
}
