@import 'spacing.setup.scss';
@import '../../mixins/breakpoint.scss';

@mixin -spacing-0($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-0;
  @if $sign == '-' {
    $spacing-value: -$spacing-0;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-3($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-3;
  @if $sign == '-' {
    $spacing-value: -$spacing-3;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-6($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-6;
  @if $sign == '-' {
    $spacing-value: -$spacing-6;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-12($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-12;
  @if $sign == '-' {
    $spacing-value: -$spacing-12;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-18($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-18;
  @if $sign == '-' {
    $spacing-value: -$spacing-18;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-24($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-24;
  @if $sign == '-' {
    $spacing-value: -$spacing-24;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-30($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-30;
  @if $sign == '-' {
    $spacing-value: -$spacing-30;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-36($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-36;
  @if $sign == '-' {
    $spacing-value: -$spacing-36;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-42($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-42;
  @if $sign == '-' {
    $spacing-value: -$spacing-42;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-48($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-48;
  @if $sign == '-' {
    $spacing-value: -$spacing-48;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-54($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-54;
  @if $sign == '-' {
    $spacing-value: -$spacing-54;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

@mixin -spacing-60($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-60;
  @if $sign == '-' {
    $spacing-value: -$spacing-60;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }
}

// TODO: Following spacing mixins might be moved into a project scope
@mixin -spacing-a($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-a;
  @if $sign == '-' {
    $spacing-value: -$spacing-a;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }

  @include breakpoint('s', 'l') {
    $spacing-value: $spacing-a-s;
    @if $sign == '-' {
      $spacing-value: -$spacing-a-s;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $spacing-a-l;
    @if $sign == '-' {
      $spacing-value: -$spacing-a-l;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }
}

@mixin -spacing-b($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-b;
  @if $sign == '-' {
    $spacing-value: -$spacing-b;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }

  @include breakpoint('s', 'l') {
    $spacing-value: $spacing-b-s;
    @if $sign == '-' {
      $spacing-value: -$spacing-b-s;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $spacing-b-l;
    @if $sign == '-' {
      $spacing-value: -$spacing-b-l;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }
}

@mixin -spacing-c($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-c;
  @if $sign == '-' {
    $spacing-value: -$spacing-c;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }

  @include breakpoint('s', 'l') {
    $spacing-value: $spacing-c-s;
    @if $sign == '-' {
      $spacing-value: -$spacing-c-s;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $spacing-c-l;
    @if $sign == '-' {
      $spacing-value: -$spacing-c-l;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }
}

@mixin -spacing-d($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-d;
  @if $sign == '-' {
    $spacing-value: -$spacing-d;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }

  @include breakpoint('s', 'l') {
    $spacing-value: $spacing-d-s;
    @if $sign == '-' {
      $spacing-value: -$spacing-d-s;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $spacing-d-l;
    @if $sign == '-' {
      $spacing-value: -$spacing-d-l;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }
}

@mixin -spacing-e($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-e;
  @if $sign == '-' {
    $spacing-value: -$spacing-e;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }

  @include breakpoint('s', 'l') {
    $spacing-value: $spacing-e-s;
    @if $sign == '-' {
      $spacing-value: -$spacing-e-s;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $spacing-e-l;
    @if $sign == '-' {
      $spacing-value: -$spacing-e-l;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }
}

@mixin -spacing-f($direction: 'top', $type: 'margin', $sign: '+') {
  $spacing-value: $spacing-f;
  @if $sign == '-' {
    $spacing-value: -$spacing-f;
  }
  #{$type}: {
    #{$direction}: $spacing-value;
  }

  @include breakpoint('s', 'l') {
    $spacing-value: $spacing-f-s;
    @if $sign == '-' {
      $spacing-value: -$spacing-f-s;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }

  @include breakpoint('l') {
    $spacing-value: $spacing-f-l;
    @if $sign == '-' {
      $spacing-value: -$spacing-f-l;
    }
    #{$type}: {
      #{$direction}: $spacing-value;
    }
  }
}

@mixin -spacing-zero($direction: 'top', $type: 'margin') {
  #{$type}: {
    #{$direction}: 0;
  }
}

@mixin -spacing-inner-a {
  padding: $spacing-inner-a-vertical $spacing-inner-a-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-a-vertical-s $spacing-inner-a-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-a-vertical-l $spacing-inner-a-horizontal-l;
  }
}

@mixin -spacing-inner-b {
  padding: $spacing-inner-b-vertical $spacing-inner-b-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-b-vertical-s $spacing-inner-b-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-b-vertical-l $spacing-inner-b-horizontal-l;
  }
}

@mixin -spacing-inner-c {
  padding: $spacing-inner-c-vertical $spacing-inner-c-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-c-vertical-s $spacing-inner-c-horizontal-s;
  }

  @include breakpoint('m') {
    padding: $spacing-inner-c-vertical-m $spacing-inner-c-horizontal-m;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-c-vertical-l $spacing-inner-c-horizontal-l;
  }
}

@mixin -spacing-inner-d {
  padding: $spacing-inner-d-vertical $spacing-inner-d-horizontal;

  @include breakpoint('s') {
    padding: $spacing-inner-d-vertical-s $spacing-inner-d-horizontal-s;
  }

  @include breakpoint('l') {
    padding: $spacing-inner-d-vertical-l $spacing-inner-d-horizontal-l;
  }
}

@mixin -spacing-inner-e {
  padding: $spacing-inner-e-vertical $spacing-inner-e-horizontal;
}
