@import '../../mixins/px-rem-converter.scss';

$spacing-0:  rem(0)  !default;
$spacing-3:  rem(3px)  !default;
$spacing-6:  rem(6px)  !default;
$spacing-12: rem(12px) !default;
$spacing-18: rem(18px) !default;
$spacing-24: rem(24px) !default;
$spacing-30: rem(30px) !default;
$spacing-36: rem(36px) !default;
$spacing-42: rem(42px) !default;
$spacing-48: rem(48px) !default;
$spacing-54: rem(54px) !default;
$spacing-60: rem(60px) !default;

// TODO: Following spacing variables might be moved into a project scope
$spacing-a: $spacing-12 !default;
$spacing-a-s: $spacing-18 !default;
$spacing-a-l: $spacing-18 !default;

$spacing-b: $spacing-18 !default;
$spacing-b-s: $spacing-24 !default;
$spacing-b-l: $spacing-24 !default;

$spacing-c: $spacing-18 !default;
$spacing-c-s: $spacing-24 !default;
$spacing-c-l: $spacing-30 !default;

$spacing-d: $spacing-24 !default;
$spacing-d-s: $spacing-30 !default;
$spacing-d-l: $spacing-36 !default;

$spacing-e: $spacing-30 !default;
$spacing-e-s: $spacing-36 !default;
$spacing-e-l: $spacing-48 !default;

$spacing-f: $spacing-30 !default;
$spacing-f-s: $spacing-48 !default;
$spacing-f-l: $spacing-60 !default;

$spacing-inner-a-vertical: $spacing-18 !default;
$spacing-inner-a-horizontal: $spacing-18 !default;
$spacing-inner-a-vertical-s: $spacing-24 !default;
$spacing-inner-a-horizontal-s: $spacing-24 !default;
$spacing-inner-a-vertical-l: $spacing-30 !default;
$spacing-inner-a-horizontal-l: $spacing-30 !default;

$spacing-inner-b-vertical: $spacing-12 !default;
$spacing-inner-b-horizontal: $spacing-18 !default;
$spacing-inner-b-vertical-s: $spacing-18 !default;
$spacing-inner-b-horizontal-s: $spacing-24 !default;
$spacing-inner-b-vertical-l: $spacing-18 !default;
$spacing-inner-b-horizontal-l: $spacing-30 !default;

$spacing-inner-c-vertical: $spacing-18 !default;
$spacing-inner-c-horizontal: $spacing-18 !default;
$spacing-inner-c-vertical-s: $spacing-24 !default;
$spacing-inner-c-horizontal-s: $spacing-24 !default;
$spacing-inner-c-vertical-m: $spacing-18 !default;
$spacing-inner-c-horizontal-m: $spacing-18 !default;
$spacing-inner-c-vertical-l: $spacing-42 !default;
$spacing-inner-c-horizontal-l: $spacing-60 !default;

$spacing-inner-d-vertical: $spacing-18 !default;
$spacing-inner-d-horizontal: $spacing-18 !default;
$spacing-inner-d-vertical-s: $spacing-30 !default;
$spacing-inner-d-horizontal-s: $spacing-30 !default;
$spacing-inner-d-vertical-l: $spacing-42 !default;
$spacing-inner-d-horizontal-l: $spacing-42 !default;

$spacing-inner-e-vertical: $spacing-30 !default;
$spacing-inner-e-horizontal: $spacing-30 !default;
