<div class="ventilation-control {{ styleModifier }}">
  <div class="ventilation-control__info">
    <span class="ventilation-control__icon icon icon--{{ ventilation-control_icon }}"></span>
    <h2 class="ventilation-control__title">{{ ventilation-control_title }}</h2>

    {{#if ventilation-control_buttonGroupVisibility }}
      <p class="ventilation-control__subtitle">{{ ventilation-control_subtitle-timing }}</p>
      <div class="ventilation-control__button-group">

        {{> molecules-button-inline
            styleModifier="ventilation-control__button-timer"
            button-inline_label="10"
            button-inline_disabled=ventilation-control_buttonGroupDisabled }}

        {{> molecules-button-inline
            styleModifier="ventilation-control__button-timer ventilation-control__button-timer--active"
            button-inline_label="20"
            button-inline_active=true
            button-inline_disabled=ventilation-control_buttonGroupDisabled }}

        {{> molecules-button-inline
            styleModifier="ventilation-control__button-timer"
            button-inline_label="30"
            button-inline_disabled=ventilation-control_buttonGroupDisabled }}

        {{> molecules-button-inline
            styleModifier="ventilation-control__button-timer"
            button-inline_label="40"
            button-inline_disabled=ventilation-control_buttonGroupDisabled }}

        {{> molecules-button-inline
            styleModifier="ventilation-control__button-timer"
            button-inline_label="50"
            button-inline_disabled=ventilation-control_buttonGroupDisabled }}

        {{> molecules-button-inline
            styleModifier="ventilation-control__button-timer"
            button-inline_label="60"
            button-inline_disabled=ventilation-control_buttonGroupDisabled }}

        </div>
    {{/if}}

  </div>

  {{> molecules-button-inline
      styleModifier="ventilation-control__button"
      button-inline_label=ventilation-control_buttonLabel
      button-inline_icon="arrow-right-hair"
      button-inline_active=true
      button-inline_multi-lines-centered=true
      button-inline_disabled=ventilation-control_buttonDisabled }}

</div>
