@import "../../../common";

.#{$global-class-prefix}content-wrapper {
    width: 100%;
    max-width: $content-wrapper-max-width;
    margin: 0 auto;
    padding: 0 $padding-horizontal-xxs;

    @include breakpoint('s','m') {
        padding: 0 $padding-horizontal-s;
    }

    @include breakpoint('m','l') {
        padding: 0 $padding-horizontal-m;
    }

    @include breakpoint('l') {
        padding: 0 $padding-horizontal-l;
    }

    &--raw {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}
