@import '../../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../../styles/internal.variables';
@import '../../../../styles/mixins';

:host {
  display: block;
}

$root: '.root';

::slotted(select) {
  position: static !important;
  display: block !important;
  width: 100% !important;
  height: p-px-to-rem(48px) !important;
  padding: p-px-to-rem(12px) p-px-to-rem(48px) p-px-to-rem(12px) p-px-to-rem(12px) !important;
  @-moz-document url-prefix() {
    // fix for 3px text-indention in FF
    padding-left: p-px-to-rem(8px) !important;
  }
  margin: 0 !important;
  outline: 1px solid transparent !important;
  outline-offset: 2px !important;
  appearance: none !important;
  box-sizing: border-box !important;
  border: none !important;
  border-radius: 0 !important; // for safari
  background: $p-color-background-default !important;
  box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium !important;

  // opacity: 1 !important;
  font-family: $p-font-family !important;
  font-weight: $p-font-weight-regular !important;
  font-size: $p-font-size-small !important;
  line-height: p-calculate-line-height($p-font-size-small) !important;
  color: inherit;
  text-indent: 0 !important;
  cursor: pointer !important;
  transition: box-shadow $p-animation-hover-duration-var $p-animation-hover-bezier,
    background-color $p-animation-hover-duration-var $p-animation-hover-bezier,
    color $p-animation-hover-duration-var $p-animation-hover-bezier;
}

::slotted(select:hover:not(:disabled):not([readonly])) {
  box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high !important;
}

::slotted(select:focus),
input:focus + span {
  outline-color: $p-color-neutral-contrast-medium !important;
}

::slotted(select:disabled) {
  color: $p-color-state-disabled !important;
  cursor: not-allowed !important;
  background: $p-color-background-default !important;
  box-shadow: inset 0 0 0 1px $p-color-state-disabled !important;
}

#{$root} {
  display: block;
  position: relative;
  color: $p-color-default;

  &:hover {
    .dropdown {
      border-color: $p-color-neutral-contrast-high;
    }
  }

  &--theme-dark {
    color: $p-color-theme-dark-default;

    &:hover {
      .dropdown {
        border-color: $p-color-theme-dark-neutral-contrast-high;
      }
    }

    ::slotted(select) {
      background: $p-color-theme-dark-background-default !important;
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-medium !important;
    }

    .label__text:hover ~ ::slotted(select:not(:disabled):not([readonly])),
    ::slotted(select:hover:not(:disabled):not([readonly])) {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high !important;
    }

    ::slotted(select:focus),
    input:focus + span {
      outline-color: $p-color-theme-dark-neutral-contrast-medium !important;
    }

    ::slotted(select:disabled) {
      background: $p-color-default !important;
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-state-disabled !important;
    }
  }

  &--success {
    ::slotted(select) {
      box-shadow: inset 0 0 0 2px $p-color-notification-success !important;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-success !important;
      }
    }

    .label__text:hover ~ ::slotted(select:not(:disabled):not([readonly])),
    ::slotted(select:hover:not(:disabled):not([readonly])) {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%) !important;
    }

    ::slotted(select:focus),
    input:focus + span {
      outline-color: $p-color-notification-success !important;
    }

    @at-root #{$root}--theme-dark#{&} {
      .label__text:hover ~ ::slotted(select:not(:disabled):not([readonly])),
      ::slotted(select:hover:not(:disabled):not([readonly])) {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%) !important;
      }

      ::slotted(select:focus),
      input:focus + span {
        outline-color: $p-color-theme-dark-notification-success !important;
      }
    }

    + .message {
      color: $p-color-notification-success;

      @at-root #{$root}--theme-dark#{&} {
        color: $p-color-theme-dark-notification-success;
      }
    }
  }

  &--error {
    ::slotted(select) {
      box-shadow: inset 0 0 0 2px $p-color-notification-error !important;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-error !important;
      }
    }

    .label__text:hover ~ ::slotted(select:not(:disabled):not([readonly])),
    ::slotted(select:hover:not(:disabled):not([readonly])) {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%) !important;
    }

    ::slotted(select:focus),
    input:focus + span {
      outline-color: $p-color-notification-error !important ;
    }

    @at-root #{$root}--theme-dark#{&} {
      .label__text:hover ~ ::slotted(select:not(:disabled):not([readonly])),
      ::slotted(select:hover:not(:disabled):not([readonly])) {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%) !important;
      }

      ::slotted(select:focus),
      input:focus + span {
        outline-color: $p-color-theme-dark-notification-error !important;
      }
    }

    + .message {
      color: $p-color-notification-error;

      @at-root #{$root}--theme-dark#{&} {
        color: $p-color-theme-dark-notification-error;
      }
    }
  }
}

.label {
  $bem-block: &;
  display: block;

  &--visible #{$bem-block}__text {
    @include text-visible;
  }

  &--hidden #{$bem-block}__text {
    @include text-hidden;
  }

  @include p-media-query('xs') {
    &--visible-xs #{$bem-block}__text {
      @include text-visible;
    }

    &--hidden-xs #{$bem-block}__text {
      @include text-hidden;
    }
  }

  @include p-media-query('s') {
    &--visible-s #{$bem-block}__text {
      @include text-visible;
    }

    &--hidden-s #{$bem-block}__text {
      @include text-hidden;
    }
  }

  @include p-media-query('m') {
    &--visible-m #{$bem-block}__text {
      @include text-visible;
    }

    &--hidden-m #{$bem-block}__text {
      @include text-hidden;
    }
  }

  @include p-media-query('l') {
    &--visible-l #{$bem-block}__text {
      @include text-visible;
    }

    &--hidden-l #{$bem-block}__text {
      @include text-hidden;
    }
  }

  @include p-media-query('xl') {
    &--visible-xl #{$bem-block}__text {
      @include text-visible;
    }

    &--hidden-xl #{$bem-block}__text {
      @include text-hidden;
    }
  }

  #{$root}--disabled & #{$bem-block}__text {
    color: $p-color-state-disabled;

    @at-root #{$root}--theme-dark#{&} {
      color: $p-color-theme-dark-state-disabled;
    }
  }

  &__text {
    display: block;
    width: fit-content;
    transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;

    &--description {
      color: $p-color-neutral-contrast-medium;

      #{$root}--theme-dark & {
        color: $p-color-theme-dark-neutral-contrast-medium;
      }
    }

    + #{$bem-block}__text--description {
      margin-top: -$p-spacing-4;
      padding-bottom: $p-spacing-8;
    }

    @at-root #{$root}:hover ::slotted(select:not(:disabled):not([readonly])),
      &:hover ~ ::slotted(select:not(:disabled):not([readonly])) {
      box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high !important;
    }
  }
}

.required {
  @include required;

  #{$root}--theme-dark & {
    @include required('dark');
  }
}

.message {
  margin-top: $p-spacing-4;
  transition: color $p-animation-hover-duration-var $p-animation-hover-bezier;
}

.icon {
  position: absolute;
  bottom: p-px-to-rem(12px);
  right: p-px-to-rem(12px);
  color: $p-color-default;
  transform: rotate3d(0, 0, 1, 0.0001deg); // needs to be a little bit more than 0 for correct direction in safari
  transition: transform $p-animation-hover-duration-var $p-animation-hover-bezier;

  &--open {
    transform: rotate3d(0, 0, 1, 180deg);
  }

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
  }

  #{$root}--disabled & {
    color: $p-color-state-disabled;

    @at-root #{$root}--theme-dark#{&} {
      color: $p-color-theme-dark-state-disabled;
    }
  }
}

input {
  position: absolute;
  z-index: 1;
  bottom: 2px;
  left: 2px;
  display: block;
  width: calc(100% - #{p-px-to-rem(44px)});
  height: p-px-to-rem(44px);
  padding: p-px-to-rem(10px);
  outline: transparent none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  opacity: 0;
  font-family: $p-font-family;
  font-weight: $p-font-weight-regular;
  font-size: $p-font-size-small;
  line-height: p-calculate-line-height($p-font-size-small);
  text-indent: 0;
  cursor: text;
  color: $p-color-default;
  background: $p-color-background-default;

  #{$root}--theme-dark & {
    color: $p-color-theme-dark-default;
    background: $p-color-theme-dark-background-default;
  }

  &::placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  // TODO: why with just one ':'?
  &:-moz-placeholder {
    opacity: 1;
    color: $p-color-default;

    #{$root}--theme-dark & {
      color: $p-color-theme-dark-default;
    }
  }

  + span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: p-px-to-rem(48px);
    outline: transparent solid 1px;
    outline-offset: 2px;
    transition: box-shadow $p-animation-hover-duration-var $p-animation-hover-bezier;
    pointer-events: all;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-medium;

    #{$root}:hover & {
      box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
    }

    #{$root}--theme-dark & {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-medium;

      &:hover & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
      }
    }
  }

  &:hover:not(&--disabled):not(&--success):not(&--error) + span {
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;

    #{$root}--theme-dark & {
      box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
    }
  }

  label:hover + &:not(&--disabled):not(&--success):not(&--error) + span {
    box-shadow: inset 0 0 0 1px $p-color-neutral-contrast-high;
  }

  #{$root}--theme-dark label:hover + &:not(&--disabled):not(&--success):not(&--error) + span {
    box-shadow: inset 0 0 0 1px $p-color-theme-dark-neutral-contrast-high;
  }

  &:focus {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;

    + span {
      cursor: not-allowed;
      box-shadow: inset 0 0 0 1px $p-color-state-disabled;

      #{$root}--theme-dark & {
        box-shadow: inset 0 0 0 1px $p-color-theme-dark-state-disabled;
      }
    }
  }

  #{$root}--success {
    + span {
      box-shadow: inset 0 0 0 2px $p-color-notification-success;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-success;
      }
    }

    &:hover + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
      }
    }

    label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-success, 12%);
    }

    @at-root #{$root}--theme-dark#{&} label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-success, 12%);
    }
  }

  #{$root}--error {
    + span {
      box-shadow: inset 0 0 0 2px $p-color-notification-error;

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px $p-color-theme-dark-notification-error;
      }
    }

    &:hover + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);

      @at-root #{$root}--theme-dark#{&} {
        box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
      }
    }

    label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-notification-error, 12%);
    }

    @at-root #{$root}--theme-dark#{&} label:hover + & + span {
      box-shadow: inset 0 0 0 2px darken($p-color-theme-dark-notification-error, 12%);
    }
  }
}
