@use '@porsche-design-system/scss' as *;

:root {
  --scss-color-focus: #{$pds-theme-light-state-focus};
  --scss-color-disabled: #{$pds-theme-light-state-disabled};
  --scss-color-canvas: #{$pds-theme-light-background-base};
  --scss-color-surface: #{$pds-theme-light-background-surface};
  --scss-color-frosted: #{$pds-theme-light-background-frosted};
  --scss-color-frosted-soft: hsla(234, 9.8%, 60%, 0.06);
  --scss-color-backdrop: #{$pds-theme-light-background-shading};
  --scss-color-contrast-lower: hsla(234, 6%, 32.9%, 0.324);
  --scss-color-contrast-low: #{$pds-theme-light-contrast-low};
  --scss-color-contrast-medium: #{$pds-theme-light-contrast-medium};
  --scss-color-contrast-high: #{$pds-theme-light-contrast-high};
  --scss-color-contrast-higher: hsla(240, 8.7%, 9%, 0.8);
  --scss-color-primary: #{$pds-theme-light-primary};
  --scss-color-success: #{$pds-theme-light-notification-success};
  --scss-color-success-low: hsla(115, 77.5%, 27.8%, 0.18);
  --scss-color-success-medium: hsla(115, 77.5%, 27.8%, 0.6);
  --scss-color-success-frosted: #{$pds-theme-light-notification-success-soft};
  --scss-color-success-frosted-soft: hsla(115, 77.5%, 27.8%, 0.1);
  --scss-color-warning: #{$pds-theme-light-notification-warning};
  --scss-color-warning-low: hsla(28, 97.7%, 34.1%, 0.18);
  --scss-color-warning-medium: hsla(28, 97.7%, 34.1%, 0.6);
  --scss-color-warning-frosted: #{$pds-theme-light-notification-warning-soft};
  --scss-color-warning-frosted-soft: hsla(28, 97.7%, 34.1%, 0.1);
  --scss-color-error: #{$pds-theme-light-notification-error};
  --scss-color-error-low: hsla(357, 78%, 41%, 0.18);
  --scss-color-error-medium: hsla(357, 78%, 41%, 0.6);
  --scss-color-error-frosted: #{$pds-theme-light-notification-error-soft};
  --scss-color-error-frosted-soft: hsla(357, 78%, 41%, 0.1);
  --scss-color-info: #{$pds-theme-light-notification-info};
  --scss-color-info-low: hsla(228, 83.2%, 51%, 0.18);
  --scss-color-info-medium: hsla(228, 83.2%, 51%, 0.6);
  --scss-color-info-frosted: #{$pds-theme-light-notification-info-soft};
  --scss-color-info-frosted-soft: hsla(228, 83.2%, 51%, 0.1);
  --scss-color-skeleton: #f7f7f7;
}

.dark {
  --scss-color-focus: #{$pds-theme-dark-state-focus};
  --scss-color-disabled: #{$pds-theme-dark-state-disabled};
  --scss-color-canvas: #{$pds-theme-dark-background-base};
  --scss-color-surface: #{$pds-theme-dark-background-surface};
  --scss-color-frosted: #{$pds-theme-dark-background-frosted};
  --scss-color-frosted-soft: hsla(240, 3.7%, 26.5%, 0.154);
  --scss-color-backdrop: #{$pds-theme-dark-background-shading};
  --scss-color-contrast-lower: hsla(240, 1.5%, 61.8%, 0.302);
  --scss-color-contrast-low: #{$pds-theme-dark-contrast-low};
  --scss-color-contrast-medium: #{$pds-theme-dark-contrast-medium};
  --scss-color-contrast-high: #{$pds-theme-dark-contrast-high};
  --scss-color-contrast-higher: hsla(240, 12.5%, 96.9%, 0.78);
  --scss-color-primary: #{$pds-theme-dark-primary};
  --scss-color-success: #{$pds-theme-dark-notification-success};
  --scss-color-success-low: hsla(157, 84.9%, 41.6%, 0.18);
  --scss-color-success-medium: hsla(157, 84.9%, 41.6%, 0.6);
  --scss-color-success-frosted: #{$pds-theme-dark-notification-success-soft};
  --scss-color-success-frosted-soft: hsla(157, 84.9%, 41.6%, 0.1);
  --scss-color-warning: #{$pds-theme-dark-notification-warning};
  --scss-color-warning-low: hsla(28, 90.2%, 56.1%, 0.18);
  --scss-color-warning-medium: hsla(28, 90.2%, 56.1%, 0.6);
  --scss-color-warning-frosted: #{$pds-theme-dark-notification-warning-soft};
  --scss-color-warning-frosted-soft: hsla(28, 90.2%, 56.1%, 0.1);
  --scss-color-error: #{$pds-theme-dark-notification-error};
  --scss-color-error-low: hsla(0, 96.9%, 62%, 0.18);
  --scss-color-error-medium: hsla(0, 96.9%, 62%, 0.6);
  --scss-color-error-frosted: #{$pds-theme-dark-notification-error-soft};
  --scss-color-error-frosted-soft: hsla(0, 96.9%, 62%, 0.1);
  --scss-color-info: #{$pds-theme-dark-notification-info};
  --scss-color-info-low: hsla(210, 100%, 54.5%, 0.18);
  --scss-color-info-medium: hsla(210, 100%, 54.5%, 0.6);
  --scss-color-info-frosted: #{$pds-theme-dark-notification-info-soft};
  --scss-color-info-frosted-soft: hsla(210, 100%, 54.5%, 0.1);
  --scss-color-skeleton: #1a1b1e;
}

.auto {
  @media (prefers-color-scheme: dark) {
    --scss-color-focus: #{$pds-theme-dark-state-focus};
    --scss-color-disabled: #{$pds-theme-dark-state-disabled};
    --scss-color-canvas: #{$pds-theme-dark-background-base};
    --scss-color-surface: #{$pds-theme-dark-background-surface};
    --scss-color-frosted: #{$pds-theme-dark-background-frosted};
    --scss-color-frosted-soft: hsla(240, 3.7%, 26.5%, 0.154);
    --scss-color-backdrop: #{$pds-theme-dark-background-shading};
    --scss-color-contrast-lower: hsla(240, 1.5%, 61.8%, 0.302);
    --scss-color-contrast-low: #{$pds-theme-dark-contrast-low};
    --scss-color-contrast-medium: #{$pds-theme-dark-contrast-medium};
    --scss-color-contrast-high: #{$pds-theme-dark-contrast-high};
    --scss-color-contrast-higher: hsla(240, 12.5%, 96.9%, 0.78);
    --scss-color-primary: #{$pds-theme-dark-primary};
    --scss-color-success: #{$pds-theme-dark-notification-success};
    --scss-color-success-low: hsla(157, 84.9%, 41.6%, 0.18);
    --scss-color-success-medium: hsla(157, 84.9%, 41.6%, 0.6);
    --scss-color-success-frosted: #{$pds-theme-dark-notification-success-soft};
    --scss-color-success-frosted-soft: hsla(157, 84.9%, 41.6%, 0.1);
    --scss-color-warning: #{$pds-theme-dark-notification-warning};
    --scss-color-warning-low: hsla(28, 90.2%, 56.1%, 0.18);
    --scss-color-warning-medium: hsla(28, 90.2%, 56.1%, 0.6);
    --scss-color-warning-frosted: #{$pds-theme-dark-notification-warning-soft};
    --scss-color-warning-frosted-soft: hsla(28, 90.2%, 56.1%, 0.1);
    --scss-color-error: #{$pds-theme-dark-notification-error};
    --scss-color-error-low: hsla(0, 96.9%, 62%, 0.18);
    --scss-color-error-medium: hsla(0, 96.9%, 62%, 0.6);
    --scss-color-error-frosted: #{$pds-theme-dark-notification-error-soft};
    --scss-color-error-frosted-soft: hsla(0, 96.9%, 62%, 0.1);
    --scss-color-info: #{$pds-theme-dark-notification-info};
    --scss-color-info-low: hsla(210, 100%, 54.5%, 0.18);
    --scss-color-info-medium: hsla(210, 100%, 54.5%, 0.6);
    --scss-color-info-frosted: #{$pds-theme-dark-notification-info-soft};
    --scss-color-info-frosted-soft: hsla(210, 100%, 54.5%, 0.1);
    --scss-color-skeleton: #1a1b1e;
  }
}