@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/text-size/text-size.mixin.scss';

$vehicle-overview-color-background: $color-palette-white !default;
$vehicle-overview-color-details-model: $color-palette-grey-7 !default;
$vehicle-overview-color-details-subline: $color-palette-grey-10 !default;

$vehicle-overview-image-max-width: 100% !default;
$vehicle-overview-image-max-height-default: rem(140px) !default;
$vehicle-overview-image-max-height-xs: rem(180px) !default;
$vehicle-overview-image-max-height-s: rem(240px) !default;
$vehicle-overview-image-max-height-l: rem(350px) !default;

$vehicle-overview-details-icon-line-height: $text-size-3-line-height !default;

$vehicle-overview-details-margin-left: 0 !default;
$vehicle-overview-details-absolute-position-top: 0 !default;
$vehicle-overview-details-absolute-position-left: $vehicle-overview-details-absolute-position-top !default;
