@import '../../../../../../packages/scss-utils/index';

.#{$p-global-class-prefix}textfield {
  $bem-block: &;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &__label {
    display: block;
    @include p-text;
  }

  &__form-element-wrapper {
    display: block;
    position: relative;

    input {
      @include p-text;
      width: 100%;
      height: rem(50px);
      display: block;
      padding: rem(17px) rem(18px);
      outline: transparent none;
      appearance: none;
      box-sizing: border-box;
      border: 1px solid $p-color-theme-light-neutral-contrast-high;
      background: $p-color-theme-light-background;
      color: $p-color-theme-light-default;
      transition: outline-color $p-animation-hover-duration $p-animation-hover-bezier,
      border-color $p-animation-hover-duration $p-animation-hover-bezier,
      color $p-animation-hover-duration $p-animation-hover-bezier;

      &::placeholder {
        color: $p-color-theme-light-neutral-contrast-medium;
        font-style: italic;
      }

      &::-ms-clear {
        width: 0;
        height: 0;
      }

      &:focus {
        outline: $p-color-theme-light-state-focus solid 2px;
        outline-offset: 1px;
      }

      &:disabled {
        color: $p-color-theme-light-neutral-contrast-medium;
        border-color: $p-color-theme-light-neutral-contrast-medium;

        &::placeholder {
          color: $p-color-theme-light-neutral-contrast-medium;
        }
      }

      // input type number - disabling the arrow icons
      &[type='number'] {
        appearance: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    color: $p-color-theme-light-default;
    cursor: pointer;
    width: rem(48px);
    height: rem(48px);

    &:hover {
      color: $p-color-theme-light-state-hover;
    }

    & ~ input {
      padding-right: rem(56px);
    }
  }

  &--error {
    input {
      color: $p-color-theme-light-notification-error;
      border-color: $p-color-theme-light-notification-error;
      border-width: 2px;
      padding: rem(16px) rem(17px);
    }
  }

  &--success {
    input {
      border-color: $p-color-theme-light-notification-success;
      border-width: 2px;
      padding: rem(16px) rem(17px);
    }
  }

  &__message {
    @include p-text;
    display: block;

    &--error {
      color: $p-color-theme-light-notification-error;
    }
    &--success {
      color: $p-color-theme-light-notification-success;
    }
  }
}
