
{{> organisms-modal-dynamic
  modal-dynamic_title=services-access.title

  modal-dynamic_addFormButtonGroup=true
  form-button-group_primaryActionCta=services-access.footerButtons.primaryAction
  form-button-group_secondaryActionCta=services-access.footerButtons.secondaryAction
}}

{{#*inline "modal-dynamic_body_content" }}
  <div class="-spacing-inner-e">
    <div class="row">
      <p class="column column--12 -text-size-copy">
        <span>{{ services-access.bodyText1 }}</span>
      </p>
    </div>

    <div class="-spacing-f">
      {{> molecules-button-inline
        button-inline_label=services-access.bodyButtons.secondaryAction
        button-inline_icon="close"
        button-inline_stretch=false
        button-inline_active=false
      }}

      {{> molecules-button-inline
        button-inline_label=services-access.bodyButtons.primaryAction
        button-inline_icon="arrow-right-thin"
        button-inline_stretch=false
        button-inline_active=true
      }}
    </div>
  </div>
{{/inline}}
