@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/font/font.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../modules/icon/icon.mixin.scss';
@import '../../mixins/breakpoint.scss';

@import 'slider-arrow.setup.scss';

.slider-arrow {
  @include breakpoint('xxs', 'xs') {
    display: none;
  }

  @include breakpoint('xs') {
    @include flex;
    @include flex--center-vertical;

    position: relative;
    cursor: pointer;
    top: $slider-arrow-position;
    bottom: $slider-arrow-position;
    width: $slider-arrow-width;
    min-width: $slider-arrow-font-size;
    font-size: $slider-arrow-font-size;
    color: $slider-arrow-color;
    z-index: $slider-arrow-z-index;
    background-color: $slider-arrow-background-color;

    &:hover {
      color: $slider-arrow-color-hover;
    }

    &--left {
      @include icon-base;
      left: 0;
      background-image: linear-gradient(left, $slider-arrow-background-gradient-color 0, $slider-arrow-background-color);

      &::before {
        @include icon-arrow-slider-left-next-before;
        @include -spacing-c(left, padding);
        margin-left: $slider-arrow-margin-horizontal;
      }
    }

    &--right {
      @include icon-base;
      right: 0;
      background-image: linear-gradient(right, $slider-arrow-background-gradient-color 0, $slider-arrow-background-color);

      &::before {
        @include icon-arrow-slider-right-next-before;
        @include -spacing-c(right, padding);
        margin-right: $slider-arrow-margin-horizontal;
        text-align: right;
      }
    }

    &--disabled {
      cursor: default;

      &:hover {
        color: $slider-arrow-color;
      }
    }
  }
}
