@import "../../../common";
@import "checkbox.setup.scss";

.#{$global-class-prefix}checkbox {
    $bem-block: &;

    display: flex;
    align-items: flex-start;
    max-width: 100%;
    cursor: pointer;

    &__error-message {
        @include -typo-caption;

        margin-top: $checkbox-error-message-margin-top;
        color: $checkbox-text-color-error;
    }

    &__field {
        display: none;
    }

    &__icon {
        position: relative;
        float: left;
        font-size: 18px;
        width: $checkbox-icon-width;
        height: $checkbox-icon-width;
        flex: 0 0 $checkbox-icon-width;
        box-sizing: border-box;
        border: 1px solid $checkbox-icon-border-color;
        align-self: center;

        &--default {
            color: $checkbox-icon-color;
        }

        &--blue {
            color: $checkbox-icon-color-blue;
        }

        &--red {
            color: $checkbox-icon-color-red;
        }

        &--inverted {
            border-color: $checkbox-icon-border-color-inverted;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
        }

        &::after { // safe clickable area
            content: "";
            position: absolute;
            top: -0.4375rem;
            right: -0.4375rem;
            bottom: -0.4375rem;
            left: -0.4375rem;
        }
    }

    &--colored {
        #{$bem-block}__icon {
            border: none;
            border-color: transparent;
        }
    }

    &__label {
        display: block;
        margin: 0 $spacing-18 0 $spacing-18;
        color: $checkbox-label-text-color;
        align-self: center;

        &--inverted {
            color: $checkbox-label-text-color-inverted;
        }

        &--error {
            color: $checkbox-text-color-error;
        }

        &--single-line {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    // checkbox is hovered, not checked and not disabled
    &:hover &__field:not(:disabled) {
        & ~ #{$bem-block}__label {
            color: $checkbox-label-text-color-hover;
        }
    }

    // checkbox is checked
    &__field:checked {
        & ~ #{$bem-block}__icon {
            &::before {
                visibility: visible;
            }

            &--default {
                color: $checkbox-icon-color-checked;
                background-color: $checkbox-icon-inner-background-color-checked;
                border-color: $checkbox-icon-border-color-checked;
            }

            &--blue {
                border-color: $checkbox-icon-border-color-blue;
                color: $checkbox-icon-color-blue;
                background-color: $checkbox-icon-inner-background-color-blue;
            }

            &--red {
                border-color: $checkbox-icon-border-color-red;
                color: $checkbox-icon-color-red;
                background-color: $checkbox-icon-inner-background-color-red;
            }

            &--inverted {
                border-color: $checkbox-icon-border-color-inverted;
                color: $checkbox-icon-color-checked-inverted;
                background-color: transparent;
            }
        }
    }

    // checkbox is disabled and checked
    &__field:disabled:checked {
        border-color: $checkbox-icon-border-color-disabled-checked;

        &--inverted::before {
            background-color: transparent;
        }

        & ~ #{$bem-block}__label {
            cursor: default;
            color: $checkbox-label-text-color-disabled-checked;

            &--inverted {
                color: $checkbox-label-text-color-disabled-checked-inverted;
            }
        }

        & ~ #{$bem-block}__icon {
            cursor: default;
            background-color: transparent;
            border-color: $checkbox-icon-border-color-disabled-checked;
            color: $checkbox-icon-color-disabled-checked;

            &--blue {
                border-color: $checkbox-icon-border-color-disabled-checked;
                color: $checkbox-icon-color-blue-disabled;
                background-color: transparent;
            }

            &--red {
                border-color: $checkbox-icon-border-color-disabled-checked;
                color: $checkbox-icon-color-red-disabled;
                background-color: transparent;
            }

            &--inverted {
                border-color: $checkbox-icon-border-color-disabled-checked-inverted;
                color: $checkbox-icon-color-disabled-checked-inverted;

                &--blue {
                    color: $checkbox-icon-color-blue-disabled;
                }

                &--red {
                    color: $checkbox-icon-color-red-disabled;
                }
            }
        }
    }

    // checkbox is disabled, unchecked
    &__field:disabled:not(:checked) {
        & ~ #{$bem-block}__icon {
            cursor: default;
            border-color: $checkbox-icon-border-color-disabled;
            color: $checkbox-icon-color-checked-disabled;

            &--inverted {
                border-color: $checkbox-icon-border-color-disabled-inverted;
                background-color: transparent !important;
                color: $checkbox-icon-color-checked-disabled-inverted;
            }

            &--inverted::before {
                background-color: transparent;
            }
        }

        & ~ #{$bem-block}__label {
            cursor: default;
            color: $checkbox-label-text-color-disabled;

            &--inverted {
                color: $checkbox-label-text-color-disabled-inverted;
            }
        }
    }
}
