@import "../../../styles/utility/index";

.#{$p-global-class-prefix}loader {
  $bem-block: &;
  display: block;
  width: 48px;
  height: 48px;
  stroke-width: 2px;
  animation: rotate 2s linear infinite; // basic IE11 fallback

  &__image {
    display: block;
    position: relative;
    fill: none;
    stroke-width: inherit;
    transform: translate3d(0, 0, 0);
  }

  &__fg {
    transform-origin: center center;
    animation: rotate 2s linear infinite, dash 2s ease-in-out infinite;
    stroke: $p-color-neutral-grey-8;
    stroke-dasharray: 100, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }

  &__bg {
    stroke: $p-color-neutral-grey-8;
    opacity: 0.4;
  }

  &--theme-dark {
    #{$bem-block}__fg {
      stroke: $p-color-porsche-light;
    }

    #{$bem-block}__bg {
      stroke: $p-color-porsche-light;
    }
  }

  &--x-small {
    width: rem(16px);
    height: rem(16px);
    stroke-width: 5px;
  }

  &--small {
    width: rem(48px);
    height: rem(48px);
    stroke-width: 3px;
  }

  &--medium {
    width: rem(48px);
    height: rem(48px);
    stroke-width: 3px;

    @include breakpoint("m") {
      width: rem(72px);
      height: rem(72px);
      stroke-width: 2px;
    }
  }

  &--large {
    width: rem(48px);
    height: rem(48px);
    stroke-width: 3px;

    @include breakpoint("m") {
      width: rem(72px);
      height: rem(72px);
      stroke-width: 2px;
    }

    @include breakpoint("l") {
      width: rem(104px);
      height: rem(104px);
      stroke-width: 2px;
    }
  }

  &--auto {
    width: 100%;
    height: auto;
    stroke-width: 3px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 1000;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 160, 1000;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 0, 1000;
    stroke-dashoffset: -124.33;
  }
}
