$pds-grid-basic-column-start: basic-start;
$pds-grid-basic-column-end: basic-end;
$pds-grid-basic-span-one-half: var(--pds-grid-basic-span-one-half);
$pds-grid-basic-span-one-third: var(--pds-grid-basic-span-one-third);
$pds-grid-basic-span-two-thirds: var(--pds-grid-basic-span-two-thirds);
