@use 'border';
@use 'color';
@use 'motion';

@mixin skeleton() {
  background: color.$color-surface
  linear-gradient(to right, transparent 0%, light-dark(#f7f7f7, #1a1b1e) 20%, transparent 50%)
  0
  0 /
      200%
  100%;

  display: block;
  border-radius: border.$radius-sm;

  animation: skeletonAnimation motion.$duration-lg motion.$ease-in-out infinite;

  @keyframes skeletonAnimation {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: -100%;
    }
  }
}
