<div class="tile-service-interval flex-m flex--grow">

  {{> organisms-header-tile header-tile_title=tile-service-interval_title
                            header-tile_icon=tile-service-interval_icon }}

  {{> organisms-tile tile_label=tile-service-interval_label
                     tile_tags=tile-service-interval_tags }}

</div>
