@import 'overlay.setup.scss';
@import '../../setup/global-variables.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/grid/flex.mixin.scss';

.#{$global-class-prefix}overlay {
  position: relative;

  &__item {
    @include flex;
    @include flex--center-vertical;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-background-color;
  }

  &__message {
    @include -text-size-5-thin;
    @include -text-color-white;
    @include -align-center;
    max-width: 17.5rem;
    padding: 1.125rem;
    margin: 0 auto;
    box-sizing: content-box;
  }
}
