@import '../../base/grid/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../setup/global-variables.scss';
@import 'slide-tutorial.setup.scss';

.#{$global-class-prefix}slide-tutorial {

  @include -align-left;

  &__title {
    @include -text-size-3-regular;
  }

  &__image {
    @include -position(relative);
    @include -spacing-d;
    padding-top: $slide-tutorial-image-aspect-ratio-padding;

    &--slideshow {
      @include flex--shrink($slide-tutorial-slideshow-flex-shrink);
      @include -position(relative);
      @include -spacing-zero;
      padding-top: $slide-tutorial-slideshow-image-aspect-ratio-padding;
      width: $slide-tutorial-slideshow-image-width;
      height: $slide-tutorial-slideshow-image-height;
      left: $slide-tutorial-slideshow-image-horizontal-position;
      top: $slide-tutorial-slideshow-image-vertical-position;
    }
  }

  &__slideshow {
    @include -position(relative);
    @include -spacing-18;
    padding-top: $slide-tutorial-image-aspect-ratio-padding;
  }

  &__slideshow-wrapper {
    @include flex;
    @include -position(absolute);
    width: $slide-tutorial-slideshow-wrapper-width;
    height: $slide-tutorial-slideshow-wrapper-height;
    left: $slide-tutorial-slideshow-wrapper-horizontal-position;
    top: $slide-tutorial-slideshow-wrapper-vertical-position;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: content-box;
  }

  &__copy {
    @include -text-size-copy;
    @include -spacing-b;

    &--first {
      @include -spacing-d;
    }
  }

  &__tooltip {
    @include -position(relative);
    @include -text-color-grey-5;
    display: inline-block;
    cursor: pointer;
    font-size: $slide-tutorial-tooltip-icon-font-size;
    top: $slide-tutorial-tooltip-icon-position;
  }
}
