@import "../../../common";

$spacing: $basic-spacing !default;

$text-area-field-border-color: $grey-light !default;
$text-area-field-background-color: $white !default;
$text-area-field-text-color: $body-txt-color !default;
$text-area-field-text-color-disabled: $grey !default;
$text-area-field-text-color-error: $brand-red-light !default;
$text-area-field-padding: $spacing*2 !default;
$text-area-field-padding-vertical-top-focus: 20px !default;
$text-area-field-padding-vertical-bottom-focus: 12px !default;
$text-area-placeholder-color: $grey !default;

$text-area-label-text-color: $grey !default;
$text-area-label-position-top: $spacing*2 !default;

$text-area-icon-size: 1.25rem !default;
$text-area-icon-color: $grey !default;
$text-area-icon-color-hovered: $brand-red !default;

$text-area-error-message-margin-top: $spacing !default;
$text-area-required-margin-top: $spacing !default;
