@import './../helper/helper';

/* prettier-ignore */
$p-font-family: 'Porsche Next','Arial Narrow',Arial,'Heiti SC',SimHei,sans-serif;

$p-font-weight-thin: 100;
$p-font-weight-regular: 400;
$p-font-weight-semibold: 600;
$p-font-weight-bold: 700;

$p-font-size-12: p-px-to-rem(12px);
$p-font-size-16: p-px-to-rem(16px);
$p-font-size-18: p-px-to-rem(18px);
$p-font-size-20: p-px-to-rem(20px);
$p-font-size-22: p-px-to-rem(22px);
$p-font-size-24: p-px-to-rem(24px);
$p-font-size-28: p-px-to-rem(28px);
$p-font-size-30: p-px-to-rem(30px);
$p-font-size-32: p-px-to-rem(32px);
$p-font-size-36: p-px-to-rem(36px);
$p-font-size-42: p-px-to-rem(42px);
$p-font-size-44: p-px-to-rem(44px);
$p-font-size-48: p-px-to-rem(48px);
$p-font-size-52: p-px-to-rem(52px);
$p-font-size-60: p-px-to-rem(60px);
$p-font-size-62: p-px-to-rem(62px);
$p-font-size-72: p-px-to-rem(72px);
$p-font-size-84: p-px-to-rem(84px);
$p-font-size-x-small: $p-font-size-12;
$p-font-size-small: $p-font-size-16;
$p-font-size-medium: $p-font-size-24;
$p-font-size-large: $p-font-size-36;
$p-font-size-x-large: $p-font-size-52;
