@import './../helper/index';

$p-spacing-4: p-px-to-rem(4px);
$p-spacing-8: p-px-to-rem(8px);
$p-spacing-16: p-px-to-rem(16px);
$p-spacing-24: p-px-to-rem(24px);
$p-spacing-32: p-px-to-rem(32px);
$p-spacing-40: p-px-to-rem(40px);
$p-spacing-48: p-px-to-rem(48px);
$p-spacing-56: p-px-to-rem(56px);
$p-spacing-64: p-px-to-rem(64px);
$p-spacing-72: p-px-to-rem(72px);
$p-spacing-80: p-px-to-rem(80px);

$p-layout-x-small: $p-spacing-4;
$p-layout-small: $p-spacing-8;
$p-layout-medium: $p-spacing-16;
$p-layout-large: $p-spacing-32;
$p-layout-x-large: $p-spacing-48;
$p-layout-xx-large: $p-spacing-80;
