@import "../../../common";
@import "~@porsche/ui-kit-core/src/modules/button/button-ghost";

@mixin buttonState($textColor, $borderColor) {
    &:hover,
    &:focus,
    &:active,
    &--active {
        &:not([disabled]) {
            color: $textColor;
            border-color: $borderColor;
        }
    }
}

@mixin showFrom($breakpoint) {
    &--show-#{$breakpoint} {
        display: none;

        @include breakpoint($breakpoint) {
            display: block;
        }
    }
}

.#{$global-class-prefix}button-ghost {
    $btnGhost: &;

    // Add possibility to set button active with a class
    @include buttonState($color-palette-red-1, $color-palette-red-1);

    // Fix button padding
    padding-left: $spacing-18;
    padding-right: $spacing-18;

    &--centered {
        justify-content: center;
    }

    // Add possibility to show button content only starting from a breakpoint
    &__label {
        width: auto;
        padding-left: $spacing-6;

        @include showFrom("xs");
        @include showFrom("s");
        @include showFrom("m");
        @include showFrom("l");
        @include showFrom("xl");
    }

    // Fix button stretching itself below xs
    @include breakpoint("xxs", "xs") {
        &:not(#{$btnGhost}--stretch) {
            width: auto;
        }
    }

    // TODO: set extra class for buttons with icon only. this prevents possible unwanted overwrites
    // Fix button with only icon
    flex-direction: row;

    &__label {
        padding-left: $spacing-6;
    }

    &__icon {
        position: relative;
    }

    // &__loader {
    //     position: relative;
    // }
}
