@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'modal-dynamic.setup.scss';

.#{$global-class-prefix}modal-dynamic {
  position: absolute;
  background: $modal-dynamic-overlay-background-color;
  width: $modal-dynamic-overlay-dimensions;
  height: auto;
  top: $modal-dynamic-overlay-position;
  left: $modal-dynamic-overlay-position;
  bottom: $modal-dynamic-overlay-position;

  @include breakpoint('xs') {
    @include flex;
    @include flex--center-horizontal;
    @include flex--center-vertical;
  }

  &__dialog {
    max-width: $modal-dynamic-dialog-max-width;
    margin: $modal-dynamic-dialog-outer-spacing-vertical auto;
    height: $modal-dynamic-dialog-height;

    @include breakpoint('xs') {
      @include flex;
      @include flex--center-vertical;
      @include flex--direction(row);

      padding: $modal-dynamic-dialog-inner-spacing-vertical $modal-dynamic-dialog-inner-spacing-horizontal;
      height: auto;
    }
  }

  &__content {
    height: $modal-dynamic-content-dimension;
    background-color: $modal-dynamic-content-background-color;
    box-sizing: border-box;
    position: relative;
  }

  &__header {
    @include flex;
    @include flex--center-horizontal;

    @include -spacing-30('top', 'padding');
    @include -spacing-30('right', 'padding');
    @include -spacing-30('left', 'padding');

    justify-content: space-between;
  }

  &__title {
    @include -text-size-4-thin;

    max-width: $modal-dynamic-title-max-width;
  }

  &__icon {
    color: $modal-dynamic-icon-color;
    position: absolute;
    cursor: pointer;
    top: $modal-dynamic-icon-safe-area;
    right: $modal-dynamic-icon-safe-area;

    @include breakpoint('xs') {
      top: $modal-dynamic-icon-safe-area-xs;
      right: $modal-dynamic-icon-safe-area-xs;
    }

    &:hover {
      color: $modal-dynamic-icon-color-hovered;
    }

    &::after { // safe clickable area
      content: '';
      position: absolute;
      top: -$modal-dynamic-icon-safe-area;
      right: -$modal-dynamic-icon-safe-area;
      bottom: -$modal-dynamic-icon-safe-area;
      left: -$modal-dynamic-icon-safe-area;

      @include breakpoint('xs') {
        top: -$modal-dynamic-icon-safe-area-xs;
        right: -$modal-dynamic-icon-safe-area-xs;
        bottom: -$modal-dynamic-icon-safe-area-xs;
        left: -$modal-dynamic-icon-safe-area-xs;
      }
    }
  }

  &__body {
    @include -text-size-copy;
    height: $modal-dynamic-body-max-height;
    overflow-x: hidden;
    overflow-y: auto;

    @include breakpoint('xs') {
      height: auto;
      overflow-y: auto;
    }

    &__text {
      @include -spacing-30('top', 'padding');
      @include -spacing-30('right', 'padding');
      @include -spacing-30('left', 'padding');
      @include -spacing-30('bottom', 'padding');
    }
  }

  &__footer {
    left: $modal-dynamic-footer-position;
    width: $modal-dynamic-footer-width;

    @include breakpoint('xs') {
      position: relative;
      width: auto;
    }
  }
}
