@import 'layout-map-form.setup.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/align/align.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}layout-map-form {

  @include breakpoint('s') {
    position: relative;
    padding-right: $layout-map-form-spacing-s;
  }

  &__container {
    @include breakpoint('s') {
      @include flex;
      @include flex--direction(column);
      min-height: $layout-map-form-container-height-s;
    }
    @include breakpoint('m') { min-height: $layout-map-form-container-height-m; }
    @include breakpoint('l') { min-height: $layout-map-form-container-height-l; }
  }

  &__map {
    @include -spacing-d;
    height: $layout-map-form-map-height;
    margin-left: $layout-map-form-map-alignment-left;
    margin-right: $layout-map-form-map-alignment-right;

    @include breakpoint('s') {
      position: absolute;
      top: $layout-map-form-map-position-s;
      right: $layout-map-form-map-position-s;
      bottom: $layout-map-form-map-position-s;
      left: $layout-map-form-spacing-s;
      margin: $layout-map-form-map-position-s;
      height: $layout-map-form-map-height-s;
    }
  }

  &__input-radius {
    @include breakpoint('xxs', 's') {
      @include -spacing-d;
    }
  }

  &__button-delete {
    @include -align-right;
    @include -spacing-d;
    height: $layout-map-form-button-delete-height;

    @include breakpoint('s') {
      @include flex;
      @include flex--grow(1);
      @include flex--justify-content(flex-end);
      @include flex--align-items(flex-end);
    }
  }
}
