@import 'map-overview.setup.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}map-overview {
  position: relative;
  height: $map-overview-height;
  @include breakpoint('xs') { height: $map-overview-height-xs; }
  @include breakpoint('s') { height: $map-overview-height-s; }
  @include breakpoint('m') { height: $map-overview-height-m; }
  @include breakpoint('l') { height: $map-overview-height-l; }
}
