@import '../../mixins/px-rem-converter.scss';

$map-action-overview-reset: 0 !default;

$map-action-overview-canvas-height: rem(300px) !default;
$map-action-overview-canvas-height-xs: rem(360px) !default;
$map-action-overview-canvas-height-s: rem(542px) !default;
$map-action-overview-canvas-height-m: rem(578px) !default;
$map-action-overview-canvas-height-l: rem(600px) !default;

$map-action-overview-canvas-z-index: 0 !default;
$map-action-overview-button-z-index: 1 !default;
$map-action-overview-loader-z-index: 2 !default;
