@import '../../base/background/background.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/wrapper/wrapper.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'header.setup.scss';

.#{$global-class-prefix}header {
  @include -background-white;

  width: $header-width;
  min-height: $header-min-height;

  @include breakpoint('s') {
    min-height: $header-min-height-s;
  }

  &__container {
    @include -wrapper-page;

    @include breakpoint('xxs') {
      padding-bottom: $header-inner-spacing-reset;
    }

  }

  &__logo {
    @include flex;
    @include flex-cross-axis(flex-end);

    position: relative;
    height: $header-logo-height;


    @include breakpoint('s') {
      height: $header-logo-height-s;

      &::after {
        @include -background-grey-3;

        content: '';
        position: absolute;
        bottom: $header-logo-border-position-bottom;
        left: $header-logo-border-position-left;
        width: $header-logo-border-width;
        height: $header-logo-border-height;
        display: block;
        z-index: $header-logo-z-index;
      }
    }
  }

  &__link {
    @include -background-white;
    padding: $header-link-inner-spacing-vertical $header-link-inner-spacing-horizontal;
    display: block;
    margin: $header-image-margin-vertical auto;
    position: absolute;
    top: $header-link-position-top;
    left: $header-link-position-left;
    z-index: $header-link-z-index;
    transform: translateX(-$header-link-position-left);
  }

  &__image {
    width: $header-image-width;
    height: $header-image-height;
    z-index: $header-image-z-index;

    @include breakpoint('s') {
      width: $header-image-width-s;
      height: $header-image-height-s;
    }
  }

  &__navigation {
    @include flex;

    margin-top: $header-navigation-spacing-top;
    align-items: flex-end;
    width: $header-navigation-width;

    @include breakpoint('s') {
      margin-top: auto;
      height: $header-navigation-height-s;
    }

  }
}
