@import '../../mixins/px-rem-converter.scss';

$header-width: 100% !default;
$header-min-height: rem(64px) !default;
$header-min-height-s: rem(130px) !default;
$header-inner-spacing-reset: 0 !default;

$header-logo-height: rem(65px) !default;
$header-logo-height-s: rem(74px) !default;
$header-logo-border-width: 100% !default;
$header-logo-border-position-bottom: rem(4px) !default;
$header-logo-border-position-left: 0 !default;
$header-logo-border-height: 1px !default;
$header-logo-z-index: 0 !default;

$header-link-z-index: 1 !default;
$header-link-inner-spacing-vertical: 0 !default;
$header-link-inner-spacing-horizontal: rem(8px) !default;

$header-link-position-top: rem(10px) !default;
$header-link-position-left: 50% !default;

$header-image-z-index: $header-link-z-index !default;
$header-image-margin-vertical: 0 !default;
$header-image-width: rem(115px) !default;
$header-image-height: rem(67px) !default;
$header-image-width-s: rem(123px) !default;
$header-image-height-s: rem(75px) !default;

$header-navigation-width: 100% !default;
$header-navigation-spacing-top: rem(16px) !default;
$header-navigation-height-s: rem(57px) !default;
