@import '../../setup/global-variables.scss';
@import '../../mixins/px-rem-converter.scss';

.#{$global-class-prefix}icon-svg {
  display: inline-flex;
  width: rem(18px);
  height: rem(18px);
  fill: currentColor;
  stroke: currentColor;
}
