<div class="password-complexity-bar {{styleModifier}}
     {{#if password-complexity-bar_statusWeak}}password-complexity-bar--status-weak{{/if}}
     {{#if password-complexity-bar_statusMedium}}password-complexity-bar--status-medium{{/if}}
     {{#if password-complexity-bar_statusStrong}}password-complexity-bar--status-strong{{/if}}">

  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
  <div class="password-complexity-bar__item"></div>
</div>
