// brand colors
$p-color-porsche-red: #d5001c;
$p-color-porsche-dark-red: #960014;
$p-color-porsche-light: #fff;
$p-color-porsche-dark: #0e1418;
$p-color-porsche-black: #000;

// surface colors
$p-color-surface-light: #f2f2f2;
$p-color-surface-dark: #1a2023;

// neutral colors
$p-color-neutral-grey-1: #e3e4e5;
$p-color-neutral-grey-2: #c9cacb;
$p-color-neutral-grey-3: #b0b1b2;
$p-color-neutral-grey-4: #96989a;
$p-color-neutral-grey-5: #7c7f81;
$p-color-neutral-grey-6: #626669;
$p-color-neutral-grey-7: #4a4e51;
$p-color-neutral-grey-8: #323639;

// status colors
$p-color-status-red: #e00000;
$p-color-status-green: #13d246;
$p-color-status-yellow: #e2b236;

// state colors
$p-color-state-focus: #00d5b9;
