@import "./../function/rem.function";

// font families
$p-font-primary: "Porsche Next", "Arial Narrow", Arial, sans-serif;

// font weights
$p-font-weight-thin: 200;
$p-font-weight-regular: 400;
$p-font-weight-bold: 600;

// font sizes
$p-font-size-12: rem(12px);
$p-font-size-16: rem(16px);
$p-font-size-18: rem(18px);
$p-font-size-20: rem(20px);
$p-font-size-24: rem(24px);
$p-font-size-28: rem(28px);
$p-font-size-30: rem(30px);
$p-font-size-32: rem(32px);
$p-font-size-36: rem(36px);
$p-font-size-42: rem(42px);
$p-font-size-44: rem(44px);
$p-font-size-48: rem(48px);
$p-font-size-52: rem(52px);
$p-font-size-60: rem(60px);
$p-font-size-62: rem(62px);
$p-font-size-72: rem(72px);
$p-font-size-84: rem(84px);
