@import 'font.setup.scss';

// sass-lint:disable empty-args
@mixin -font-primary() {
  font-family: $font-primary-family;

  html[lang="ru"] &,
  html[lang="ru-RU"] & {
    font-family: $font-primary-family-cyrilic;
  }

  html[lang="zh"] &,
  html[lang="zh-CN"] & {
    font-family: $font-primary-family-chinese;
  }

  html[lang="ar"] &,
  html[lang="ar-AE"] & {
    font-family: $font-primary-family-arabic;
  }

  html[lang="ps"] &,
  html[lang="ps-AR"] & {
    font-family: $font-primary-family-pashto;
  }

  html[lang="fa"] &,
  html[lang="fa-IR"] & {
    font-family: $font-primary-family-persian;
  }

  html[lang="ur"] &,
  html[lang="ur-PK"] & {
    font-family: $font-primary-family-urdu;
  }
}

@mixin -font-default($family: $font-default-family) {
  font-family: $family;

  html[lang="ru"] &,
  html[lang="ru-RU"] & {
    font-family: $font-default-family-cyrilic;
  }

  html[lang="zh"] &,
  html[lang="zh-CN"] & {
    font-family: $font-default-family-chinese;
  }

  html[lang="ar"] &,
  html[lang="ar-AE"] & {
    font-family: $font-default-family-arabic;
  }

  html[lang="ps"] &,
  html[lang="ps-AR"] & {
    font-family: $font-default-family-pashto;
  }

  html[lang="fa"] &,
  html[lang="fa-IR"] & {
    font-family: $font-default-family-persian;
  }

  html[lang="ur"] &,
  html[lang="ur-PK"] & {
    font-family: $font-default-family-urdu;
  }
}
