@import "./../utilities/index";

$spacing-0: rem(0) !default;
$spacing-3: rem(3px) !default;
$spacing-6: rem(6px) !default;
$spacing-12: rem(12px) !default;
$spacing-18: rem(18px) !default;
$spacing-24: rem(24px) !default;
$spacing-30: rem(30px) !default;
$spacing-36: rem(36px) !default;
$spacing-42: rem(42px) !default;
$spacing-48: rem(48px) !default;
$spacing-54: rem(54px) !default;
$spacing-60: rem(60px) !default;
