<div class="tile {{ styleModifier }}">
  <div class="tile__left">
    {{ tile_label }}
  </div>
  <div class="tile__right">
    {{#if tile_tags }}
      {{> organisms-list-tag list-tag=tile_tags }}
    {{/if}}
  </div>
</div>
