@import '../../../../../../packages/utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

$p-spinner-size-small: p-px-to-rem(48px);
$p-spinner-size-medium: p-px-to-rem(72px);
$p-spinner-size-large: p-px-to-rem(104px);

:host {
  display: inline-flex;
  vertical-align: top;
}

.root {
  $bem-block: &;
  margin: 0;
  padding: 0;
  width: $p-spinner-size-small;
  height: $p-spinner-size-small;
  box-sizing: border-box;
  display: block;
  stroke-width: 1px;
  animation-duration: var(--p-animation-duration__spinner, 2s);

  circle {
    stroke: $p-color-neutral-contrast-high;
  }

  &--theme-dark {
    circle {
      stroke: $p-color-theme-dark-default;
    }
  }

  &--theme-light-electric {
    circle {
      stroke: $p-color-theme-light-electric-neutral-contrast-high;
    }
  }

  &--theme-dark-electric {
    circle {
      stroke: $p-color-theme-dark-electric-default;
    }
  }

  &--size {
    &-medium {
      width: $p-spinner-size-medium;
      height: $p-spinner-size-medium;
    }

    &-large {
      width: $p-spinner-size-large;
      height: $p-spinner-size-large;
    }

    &-inherit {
      width: inherit;
      height: inherit;
    }

    @include p-media-query('xs') {
      &-small-xs {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-xs {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-xs {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-xs {
        width: inherit;
        height: inherit;
      }
    }

    @include p-media-query('s') {
      &-small-s {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-s {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-s {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-s {
        width: inherit;
        height: inherit;
      }
    }

    @include p-media-query('m') {
      &-small-m {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-m {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-m {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-m {
        width: inherit;
        height: inherit;
      }
    }

    @include p-media-query('l') {
      &-small-l {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-l {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-l {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-l {
        width: inherit;
        height: inherit;
      }
    }

    @include p-media-query('xl') {
      &-small-xl {
        width: $p-spinner-size-small;
        height: $p-spinner-size-small;
      }

      &-medium-xl {
        width: $p-spinner-size-medium;
        height: $p-spinner-size-medium;
      }

      &-large-xl {
        width: $p-spinner-size-large;
        height: $p-spinner-size-large;
      }

      &-inherit-xl {
        width: inherit;
        height: inherit;
      }
    }
  }
}

svg {
  display: block;
  position: relative;
  fill: none;
  transform: translate3d(0, 0, 0);

  circle:first-child {
    opacity: 0.4;
  }

  circle:last-child {
    transform-origin: 0 0;
    animation: rotate var(--p-animation-duration__spinner, 2s) linear infinite,
      dash var(--p-animation-duration__spinner, 2s) ease-in-out infinite;
    stroke-dasharray: 40, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
}

.sr-text {
  @include p-sr-only;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 3, 1000;
  }

  50% {
    stroke-dasharray: 42, 1000;
  }

  100% {
    stroke-dasharray: 30, 1000;
    stroke-dashoffset: -52;
  }
}
