@import 'tile-events.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../mixins/hide-after-nth-child.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}tile-events {
  background-color: $tile-events-background-color;

  &__content {
    @include -spacing-inner-a;
    @include flex;
    @include flex--direction(column);
    position: relative;

    @include breakpoint('s') {
      height: $tile-events-height-s;
      overflow: hidden;
    }

    @include breakpoint('m') {
      height: $tile-events-height-m;
    }

    @include breakpoint('l') {
      height: $tile-events-height-l;
    }
  }

  &__headline {
    @include -text-size-copy;
    color: $tile-events-headline-color;
  }

  &__item-container {
    @include flex;
    @include flex--grow(1);
    @include flex--direction(column);
  }

  &__item {
    @include -spacing-a;
    @include hide-after-nth-child(3);

    color: $tile-events-item-text-color;

    @include breakpoint('s') {
      @include hide-after-nth-child(2);
    }

    @include breakpoint('l') {
      @include hide-after-nth-child(3);
    }

    &:hover {
      cursor: pointer;
      color: $tile-events-item-text-color-hover;
    }
  }

  &__button {
    position: relative;
  }
}
