@import './tile.setup.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/layout/flex.mixin.scss';
@import '../../base/overflow/overflow.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}tile {
  @include -spacing-inner-b;
  @include flex-child-grow(1);
  height: $tile-height;
  background-color: $tile-background-color;

  @include breakpoint('s') {
    @include flex;
    @include flex-main-axis(space-between);
    @include flex-cross-axis(center);
    padding-top: $tile-padding-vertical-s;
    padding-bottom: $tile-padding-vertical-s;
  }

  &__left {
    @include -text-size-copy;
    @include -text-color-grey-5;
    @include -overflow-ellipsis;
  }

  &__right {
    @include -text-size-copy;
    @include -text-color-white;
    @include -overflow-ellipsis;
  }
}
