@import '../../base/spacing/spacing.setup.scss';
@import '../../mixins/px-rem-converter.scss';

$tile-paragraph-padding-left: $spacing-12 + rem(14px) !default;
$tile-paragraph-static-margin-left: 0 !default;
$tile-paragraph-static-padding-left: 0 !default;
