@import 'tile-image-text-link.setup.scss';
@import '../../base/grid/flex.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/tile/tile.animations.scss';
@import '../../mixins/breakpoint.scss';
@import '../../mixins/animation.scss';
@import '../../mixins/transform.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}tile-image-text-link {
  @include flex;
  @include flex--justify-content(flex-end);
  @include flex--direction(column);
  position: relative;
  height: $tile-image-text-link-textarea-height;
  cursor: pointer;

  @include breakpoint('s') {
    min-height: $tile-image-text-link-height-s;
  }

  @include breakpoint('m') {
    min-height: $tile-image-text-link-height-m;
  }

  @include breakpoint('l') {
    min-height: $tile-image-text-link-height-l;
  }

  &__image {
    @include apply-animation('tile-image-text-link') {
      @include tile-animation-image;
    }
  }

  &:hover &__image {
    @include transform-scale($tile-image-text-link-animation-scale);
  }

  &--static {

    min-height: $tile-image-text-link-static-imageholder-height-zero;
    @include breakpoint('xxs') {
      padding-top: $tile-image-text-link-static-imageholder-padding-zero;
    }
    @include breakpoint('s') {
      padding-top: $tile-image-text-link-static-imageholder-padding-s;
    }

    @include breakpoint('m') {
      padding-top: $tile-image-text-link-static-imageholder-padding-m;
    }
    @include breakpoint('l') {
      padding-top: $tile-image-text-link-static-imageholder-padding-l;
    }

    &:hover {
      cursor: default;

      .image-cover {
        @include transform-scale($tile-image-text-link-animation-no-scale);
      }
    }

    .tile-image-text-link__textwrapper {
      &:hover {
        color: inherit;
      }
    }
  }

  &__imageholder {
    position: relative;
    height: $tile-image-text-link-height-default;
    overflow: hidden;

    @include breakpoint('xs') {
      height: $tile-image-text-link-height-xs;
    }

    @include breakpoint('s') {
      @include -position-absolute-coordinates;
      height: auto;
    }

    &--static {
      @include breakpoint('s') {
        margin-bottom: $tile-image-text-link-static-imageholder-margin;
      }

      @include breakpoint('m') {
        margin-bottom: $tile-image-text-link-static-imageholder-margin-zero;
      }
    }
  }

  &__textarea {
    @include -spacing-inner-a;
    @include flex;
    position: relative;
    color: $tile-image-text-link-headline-color;
    background-color: $tile-image-text-link-textarea-background-color;

    @include breakpoint('s') {
      background: none;
    }

    &--position-absolute {
      @include breakpoint('m') {
        position: absolute;
        background: transparent;
        width: $tile-image-text-link-textarea-width-offset-m;
      }
    }

    &--upper-left {
      @include breakpoint('m') {
        left: $tile-image-text-link-position-modifier-left;
        top: $tile-image-text-link-position-modifier-top;
      }
    }

    &--upper-right {
      @include breakpoint('m') {
        right: $tile-image-text-link-position-modifier-right;
        top: $tile-image-text-link-position-modifier-top;
      }
    }

    &--lower-left {
      @include breakpoint('m') {
        left: $tile-image-text-link-position-modifier-left;
        bottom: $tile-image-text-link-position-modifier-bottom;
      }
    }

    &--lower-right {
      @include breakpoint('m') {
        right: $tile-image-text-link-position-modifier-right;
        bottom: $tile-image-text-link-position-modifier-bottom;
      }
    }

    &--inverted-textbar {
      @include -background-white;
      @include -text-color-black;

      @include breakpoint('xxs') {
        padding-bottom: $tile-image-text-link-textarea-inverted-padding-zero;
      }
      @include breakpoint('m') {
        padding-bottom: $tile-image-text-link-textarea-inverted-padding;
      }
      @include breakpoint('m') {
        @include -text-color-white;
        background: none;
      }

    }

    &--text-black-m {
      @include breakpoint('m') {
        @include -text-color-black;
      }
    }
  }

  &__iconwrapper {
    &--hide {
      @include breakpoint('xxs') {
        display: none;
      }
    }
  }

  &__textwrapper {
    @include flex;
    @include flex--direction(column);
    @include flex--grow(1);
    width: $tile-image-text-link-textarea-text-width-default;

    &:hover {
      color: $tile-image-text-link-hover-color;
    }
  }

  &__headline {
    @include -text-size-3-thin;
    display: block;
  }

  &__text {
    @include -spacing-3;

    @include breakpoint('l') {
      width: $tile-image-text-link-textarea-text-width;
    }

    &--show {
      display: block;
    }

    &--hide {
      display: none;
    }

    &--width-s {
      @include breakpoint('l') {
        width: $tile-image-text-link-textarea-text-width-default;
      }
    }

    &--width-m {
      @include breakpoint('l') {
        width: $tile-image-text-link-textarea-text-width-m;
      }
    }
  }

  &__subtext {
    &--hide {
      display: none;
    }
  }
}
