<div class="modal-footer {{ styleModifier }}">
  {{#if modal-footer_addFormButtonGroup }}
    {{> organisms-form-button-group }}
  {{else if modal-footer_addFormButtonGroupCustom }}
    {{#> modal-footer_buttonGroupCustomContent }}{{/modal-footer_buttonGroupCustomContent}}
  {{else}}
    {{> molecules-button-primary button-primary_label=modal-footer_buttonLabel button-primary_icon="arrow-right-thin" button-primary_red=modal-footer_buttonColorRed }}
  {{/if}}
</div>
