@import "../../../common";

.#{$global-class-prefix}logo-protection {
    padding: 10px 0;
    background: $white;
    box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 80px;
    top: 0;
    left: 0.375rem;
    z-index: 2;
    @include breakpoint("s") {
        height: auto;
        position: relative;
        box-shadow: none;
        padding: 0 8px;
        margin-top: 12px;
        margin-bottom: -16px;
    }
}

.#{$global-class-prefix}logo-image {
    width: 102px;
    height: 62px;
    @include breakpoint("s") {
        width: 123px;
        height: 75px;
    }
}
