@import '../../../../../utilities/projects/utilities/scss';
@import '../../../styles/internal.variables';

$easing: cubic-bezier(0.16, 1, 0.3, 1);

$p-modal-margin: 7vh $p-content-wrapper-margin;
$p-modal-margin-xl: 10vh $p-content-wrapper-margin-xl;
$p-modal-margin-xxl: 10vh $p-content-wrapper-margin-xxl;
$p-modal-min-width: p-px-to-rem(272px);
$p-modal-max-width: $p-content-wrapper-max-width;

.root {
  display: flex;
  flex-direction: column;
  background-color: $p-color-background-default;
  transition: transform 0.6s $easing;
  transform: scale3d(0.9, 0.9, 1);
  box-sizing: border-box;
  padding: p-px-to-rem(32px);
  min-width: $p-modal-min-width;
  max-width: $p-modal-max-width;
  min-height: auto;
  margin: $p-modal-margin;

  &--fullscreen-on {
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    margin: 0;
  }

  @include p-media-query('xs') {
    &--fullscreen-off-xs {
      min-width: $p-modal-min-width;
      max-width: $p-modal-max-width;
      min-height: auto;
      margin: $p-modal-margin;
    }

    &--fullscreen-on-xs {
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      margin: 0;
    }
  }

  @include p-media-query('s') {
    &--fullscreen-off-s {
      min-width: $p-modal-min-width;
      max-width: $p-modal-max-width;
      min-height: auto;
      margin: $p-modal-margin;
    }

    &--fullscreen-on-s {
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      margin: 0;
    }
  }

  @include p-media-query('m') {
    padding: p-px-to-rem(40px);

    &--fullscreen-off-m {
      min-width: $p-modal-min-width;
      max-width: $p-modal-max-width;
      min-height: auto;
      margin: $p-modal-margin;
    }

    &--fullscreen-on-m {
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      margin: 0;
    }
  }

  @include p-media-query('l') {
    &--fullscreen-off-l {
      min-width: $p-modal-min-width;
      max-width: $p-modal-max-width;
      min-height: auto;
      margin: $p-modal-margin;
    }

    &--fullscreen-on-l {
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      margin: 0;
    }
  }

  @include p-media-query('xl') {
    margin: $p-modal-margin-xl;

    &--fullscreen-off-xl {
      min-width: $p-modal-min-width;
      max-width: $p-modal-max-width;
      min-height: auto;
    }

    &--fullscreen-on-xl {
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      margin: 0;
    }

    // to be in sync with content-wrapper, would be nicer with JSS
    &--fullscreen-on:not(&--fullscreen-off-xl):not(&--fullscreen-off-l):not(&--fullscreen-off-m):not(&--fullscreen-off-s):not(&--fullscreen-off-xs),
    &--fullscreen-on-xs:not(&--fullscreen-off-xl):not(&--fullscreen-off-l):not(&--fullscreen-off-m):not(&--fullscreen-off-s),
    &--fullscreen-on-s:not(&--fullscreen-off-xl):not(&--fullscreen-off-l):not(&--fullscreen-off-m),
    &--fullscreen-on-m:not(&--fullscreen-off-xl):not(&--fullscreen-off-l),
    &--fullscreen-on-l:not(&--fullscreen-off-xl) {
      margin: 0;
    }
  }

  @include p-media-query('xxl') {
    margin: $p-modal-margin-xxl;
    padding: p-px-to-rem(64px);

    // to be in sync with content-wrapper, would be nicer with JSS
    &--fullscreen-on:not(&--fullscreen-off-xl):not(&--fullscreen-off-l):not(&--fullscreen-off-m):not(&--fullscreen-off-s):not(&--fullscreen-off-xs),
    &--fullscreen-on-xs:not(&--fullscreen-off-xl):not(&--fullscreen-off-l):not(&--fullscreen-off-m):not(&--fullscreen-off-s),
    &--fullscreen-on-s:not(&--fullscreen-off-xl):not(&--fullscreen-off-l):not(&--fullscreen-off-m),
    &--fullscreen-on-m:not(&--fullscreen-off-xl):not(&--fullscreen-off-l),
    &--fullscreen-on-l:not(&--fullscreen-off-xl),
    &--fullscreen-on-xl {
      margin: 0;
    }
  }
}

header {
  display: flex;
  padding: 0 0 p-px-to-rem(16px);

  @include p-media-query('m') {
    padding: 0 0 p-px-to-rem(24px);
  }
  @include p-media-query('xxl') {
    padding: 0 0 p-px-to-rem(32px);
  }
}

.close {
  margin-left: auto;
  padding: 0 0 0 p-px-to-rem(16px);

  > * {
    margin: p-px-to-rem(-8px) p-px-to-rem(-8px) 0 0;
    padding: p-px-to-rem(8px);
  }
}
