@import '../../setup/color-palette.setup.scss';
@import '../../mixins/px-rem-converter.scss';
@import '../../base/spacing/spacing.setup.scss';
@import '../../base/font/font.setup.scss';
@import '../pagination/pagination-dots.setup.scss';

$car-selector-bar-border-width: rem(1px) !default;
$car-selector-bar-border-color: $color-palette-grey-8 !default;

$car-selector-bar-icon-font-size: $spacing-24 !default;
$car-selector-bar-icon-width: $car-selector-bar-icon-font-size !default;
$car-selector-bar-icon-font-size-s: rem(26px) !default;
$car-selector-bar-icon-width-s: $car-selector-bar-icon-font-size-s !default;
$car-selector-bar-icon-font-size-m: rem(34px) !default;
$car-selector-bar-icon-width-m: $car-selector-bar-icon-font-size-m !default;

$car-selector-box-width: 100% !default;

$car-selector-arrow-font-size: rem(66px) !default;

$car-selector-content-width-m: 100% !default;

$car-selector-car-list-width-m: 75% !default;
$car-selector-car-list-full-width-m: 100% !default;

$car-selector-car-list-carousel-padding: 0 !default;

$car-selector-car-list-item-border-color: $color-palette-grey-3 !default;
$car-selector-car-list-item-border-width: rem(1px) !default;

// the width will be set from the slider - this is just the calculation for PatternLab
$car-selector-car-list-item-width-m: calc((100% - (2* #{$spacing-b}) - (2* #{$car-selector-arrow-font-size}) + #{$spacing-a-s}) / 3) !default;
$car-selector-car-list-item-width-l: calc((100% - (2* #{$spacing-b-l}) - (2* #{$car-selector-arrow-font-size}) + #{$spacing-a-l}) / 3) !default;
$car-selector-car-list-item-search-width-m: calc((100% - (3* #{$spacing-b}) - (2* #{$car-selector-arrow-font-size}) + #{$spacing-a-s}) / 4) !default;
$car-selector-car-list-item-search-width-l: calc((100% - (3* #{$spacing-b-l}) - (2* #{$car-selector-arrow-font-size}) + #{$spacing-a-l}) / 4) !default;

$car-selector-car-list-item-single-width-m: 100% !default;
$car-selector-car-list-item-single-width-l: 70% !default;
$car-selector-car-list-item-image-single-width-m: 50% !default;
$car-selector-car-list-item-content-single-width-m: 50% !default;

$car-selector-car-list-item-margin-m: 0 ($spacing-b / 2) !default;
$car-selector-car-list-item-margin-l: 0 ($spacing-b-l / 2) !default;
$car-selector-car-list-item-image-width: 100% !default;

$car-selector-car-list-item-active-position-top: 0 !default;
$car-selector-car-list-item-active-position-right: 0 !default;
$car-selector-car-list-item-active-position-bottom: 0 !default;
$car-selector-car-list-item-active-position-left: 0 !default;
$car-selector-car-list-item-active-border-width: $spacing-3 !default;
$car-selector-car-list-item-active-border-width-m: $spacing-6 !default;
$car-selector-car-list-item-active-border-color: $color-palette-red-1 !default;

$car-selector-car-list-item-box-height: 100% !default;

$car-selector-car-list-item-info-opacity-m: .5 !default;
$car-selector-car-list-item-info-opacity-hover: 1 !default;

$car-selector-search-input-width-l: 66.666667% !default;
$car-selector-search-input-field-border-width: 1px !default;
$car-selector-search-input-field-border-color: $color-palette-black !default;

$car-selector-button-action-border-width: rem(1px) !default;
$car-selector-button-action-border-color: $color-palette-grey-1 !default;
$car-selector-button-action-width-m: 25% !default;
$car-selector-button-action-line-height-m: 1.25 !default;
$car-selector-button-action-font-size-m: $spacing-24 !default;
$car-selector-button-action-label-font-weight-m: $font-weight-thin !default;

$car-selector-car-list-dots-position-bottom: -($spacing-12 + $pagination-dots-dot-button-dimension) !default;
$car-selector-car-list-dots-width: 100% !default;
