@import '../../base/grid/flex.mixin.scss';
@import '../../base/text-color/text-color.mixin.scss';
@import '../../base/text-size/text-size.mixin.scss';
@import '../../base/spacing/spacing.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../setup/global-variables.scss';
@import 'dealer-information-map.setup.scss';

.#{$global-class-prefix}dealer-information-map {
  @include flex--grow(1);
  flex-basis: auto;
  position: relative;
  overflow: hidden;
  height: auto;

  &__overlay {
    @include -spacing-inner-a;
    position: absolute;
    background-image: linear-gradient(180deg, $dealer-information-map-background-gradient-color-1 0, $dealer-information-map-background-gradient-color-2);
    height: $dealer-information-map-title-height;
    left: $dealer-information-map-title-position;
    right: $dealer-information-map-title-position;
    top: $dealer-information-map-title-position;
    bottom: $dealer-information-map-title-position;
  }

  &__image {
    width: $dealer-information-map-image-width;
    height: auto;
  }

  &__title {
    @include -text-size-4-regular;
    @include -text-color-white;
  }

  &__subtitle {
    @include -text-size-copy;
    @include -text-color-white;
  }
}
