<ul class="navigation-footer row row--gap-zero">
    {{#each navigation-footer_items }}
        <li class="navigation-footer__item column column--gap-zero column--12 column--6-s">
            <div class="navigation-footer__item-header {{#if isOpen}}navigation-footer__item-header--open{{/if}}">
                <h3 class="navigation-footer__category-name"> {{item}} </h3>
                <span class="icon icon--arrow-down-thin navigation-footer__icon {{#if isOpen}}navigation-footer__icon--open{{/if}}"></span>
            </div>
            <ul class="navigation-footer__submenu row row--gap-zero {{#if isOpen}}navigation-footer__submenu--open{{/if}}">
              {{#each itemsSubmenu }}
                  <li class="navigation-footer__submenu-item column column--gap-zero column--gap-zero column--12 column--6-m">
                      <a href="#" class="navigation-footer__submenu-link"> {{item}} </a>
                  </li>
              {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>
