@import '../../../../../../utilities/projects/utilities/scss';

:host {
  display: table-cell;
  padding: p-px-to-rem(12px) p-px-to-rem(12px) p-px-to-rem(12px) 0;
  vertical-align: middle;

  &:last-child {
    padding-right: 0;
  }
}
