name: 'Build and Push Docker Image'

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker Images
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Build and Push Docker Image Playwright'
        run: cd docker/node && ./build-and-push-base-image-playwright.sh
        shell: bash
      - name: 'Build and Push Docker Image Node'
        run: cd docker/node && ./build-and-push-base-image-node.sh
        shell: bash
