on:
  schedule:
    - cron: "0 0 1 * *" # at 00:00 on day-of-month 1
  # workflow_dispatch: # enable for manual / debug run only, ensure step "Send ORT Analyzer Result to OSO" is disabled

name: 'OSS Review Toolkit'
env:
  PDS_PLAYWRIGHT_DOCKER_IMAGE: ghcr.io/porsche-design-system/porsche-design-system/playwright:v1.42.1-focal-2
jobs:
  ort:
    name: 'ORT'
    runs-on: ubuntu-latest
    env:
      OSO_PROJECT_NAME: porsche_design_system
      OSO_AWS_ECR_REGISTRY: 936427553375.dkr.ecr.eu-central-1.amazonaws.com
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Setup and install'
        uses: ./.github/actions/setup-and-install
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Production Builds'
        uses: ./.github/actions/docker-run-playwright
        with:
          entrypoint: run-build-prod
      - name: "Login to AWS ECR"
        uses: docker/login-action@v3
        with:
          registry: ${{ env.OSO_AWS_ECR_REGISTRY }}
          username: ${{ secrets.OSO_AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.OSO_AWS_SECRET_ACCESS_KEY }}
      - name: "Run ORT"
        run: |
          docker run --user root -v "$PWD":/project ${{ env.OSO_AWS_ECR_REGISTRY }}/ort:latest analyze -i /project -o /project/ort
          docker run --user root -v "$PWD":/project ${{ env.OSO_AWS_ECR_REGISTRY }}/ort:latest report -i /project/ort/analyzer-result.yml -o /project/ort -f StaticHtml
        shell: bash
      - name: 'Store ORT Analysis'
        uses: actions/upload-artifact@v4
        with:
          name: ort-analysis
          path: ./ort
      # - name: "Send ORT Analyzer Result to OSO"
      #   run: |
      #     zip -j analyzer-result.zip ort/analyzer-result.yml
      #     curl -X POST https://${{ env.OSO_JENKINS_USER }}:${{ env.OSO_JENKINS_TOKEN }}@oso-ort-scan.aws.platform.porsche-preview.cloud/job/ort-porsche-scancode/buildWithParameters --form ort/analyzer-result.zip=@analyzer-result.zip --form ProjectName=${{ env.OSO_PROJECT_NAME }} --fail
      #   shell: bash
      #   env:
      #     OSO_JENKINS_USER: ${{ secrets.OSO_JENKINS_USER }}
      #     OSO_JENKINS_TOKEN: ${{ secrets.OSO_JENKINS_TOKEN }}
