on:
  push:
    branches:
      - master
      - v*
name: 'OSS Review Toolkit'
jobs:
  ort:
    name: 'ORT'
    runs-on: ubuntu-latest
    env:
      OSO_AWS_ECR_REGISTRY: 215495424956.dkr.ecr.eu-central-1.amazonaws.com
      PDS_DOCKER_IMAGE: ghcr.io/porscheui/porsche-design-system/node:16.14.0-stretch-slim
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Cache node_modules'
        uses: actions/cache@v2
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Pull Docker Image'
        run: |
          docker pull ${{ env.PDS_DOCKER_IMAGE }}
      - name: 'Install'
        if: steps.cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/docker-run
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Production Builds'
        uses: ./.github/actions/docker-run
        with:
          entrypoint: run-build-prod
      - name: "Login to AWS ECR"
        uses: docker/login-action@v1
        with:
          registry: ${{ env.OSO_AWS_ECR_REGISTRY }}
          username: ${{ secrets.OSO_AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.OSO_AWS_SECRET_ACCESS_KEY }}
      - name: "Run ORT"
        run: |
          cleanup_npm_credentials() {
            local exit_code=$?
            echo "task: [$(date)] \"cleanup_npm_credentials\""
            rm "./.npmrc"
            exit $exit_code
          }

          setup_npm_credentials() {
            echo "task: [$(date)] \"setup_npm_credentials\""
            echo "//porscheui.jfrog.io/porscheui/api/npm/npm/:_authToken=${PORSCHE_NPM_REGISTRY_TOKEN}" >> "./.npmrc"
          }

          trap cleanup_npm_credentials EXIT
          setup_npm_credentials

          docker run -v "$PWD":/project ${{ env.OSO_AWS_ECR_REGISTRY }}/ort-porsche:latest analyze -i /project/ -o /project/ort/ --package-curations-file /curations/curations.yml --package-managers yarn
          docker run -v "$PWD":/project ${{ env.OSO_AWS_ECR_REGISTRY }}/ort-porsche:latest report -i /project/ort/analyzer-result.yml -o /project/ort/ -f StaticHtml
        shell: bash
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
      - name: 'Store ORT Analysis'
        uses: actions/upload-artifact@v2
        with:
          name: ort-analysis
          path: ./ort
