on:
  push:
    branches:
      - main
      - v*
      - issue/*
      - housekeeping/*
      - release/*
      - dependabot/**/*
name: 'Porsche Design System'
jobs:
  build-and-test:
    name: 'Build and Test'
    uses: ./.github/workflows/build-and-test.yml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      gh-deploy-key-pages: ${{ secrets.GH_DEPLOY_KEY_PAGES }}
      algolia-app-id: ${{ secrets.ALGOLIA_APP_ID }}
      algolia-api-key: ${{ secrets.ALGOLIA_API_KEY }}
  deploy-and-release:
    name: 'Deploy and Release'
    uses: ./.github/workflows/deploy-and-release.yml
    needs:
      - build-and-test
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      gh-deploy-key-pages: ${{ secrets.GH_DEPLOY_KEY_PAGES }}
      porsche-npm-registry-token: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
      npmjs-registry-token: ${{ secrets.NPMJS_REGISTRY_TOKEN }}
      cdn-user: ${{ secrets.CDN_USER }}
      cdn-ssh-key: ${{ secrets.CDN_SSH_KEY }}
      algolia-app-id: ${{ secrets.ALGOLIA_APP_ID }}
      algolia-api-key: ${{ secrets.ALGOLIA_API_KEY }}
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      uxpin-token-dev: ${{ secrets.UXPIN_TOKEN_DEV }}
      uxpin-token-latest: ${{ secrets.UXPIN_TOKEN_LATEST }}
