on:
  push:
    branches:
      - master
      - v*
      - issue/*
      - housekeeping/*
name: 'Porsche Design System'
jobs:
  components-js:
    name: 'Components JS'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Get yarn cache'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: 'Cache node_modules'
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: 'Install'
        uses: ./docker/node/
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Build'
        uses: ./docker/node/
        with:
          entrypoint: run-build
      - name: 'Lint'
        uses: ./docker/node/
        with:
          entrypoint: run-lint
          args: --components-js
      - name: 'Unit Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-unit
          args: --components-js
      - name: 'E2E Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-e2e
          args: --components-js
      - name: 'VRT Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-vrt
          args: --components-js
      - name: 'VRT Regression'
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: components-js-vrt-regression
          path: ./packages/components-js/tests/vrt/results
#      - name: 'CBT Test'
#        uses: ./docker/node/
#        env:
#          BROWSERSTACK_USER_NAME: ${{ secrets.BROWSERSTACK_USER_NAME }}
#          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
#        with:
#          entrypoint: run-test-cbt
#          args: --components-js
#      - name: 'CBT Regression'
#        if: failure()
#        uses: actions/upload-artifact@v1
#        with:
#          name: components-js-cbt-regression
#          path: ./packages/components-js/tests/cbt/results
  components-angular:
    name: 'Components Angular'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Get yarn cache'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: 'Cache node_modules'
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: 'Install'
        uses: ./docker/node/
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Build'
        uses: ./docker/node/
        with:
          entrypoint: run-build
      - name: 'VRT Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-vrt
          args: --components-angular
      - name: 'VRT Regression'
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: components-angular-vrt-regression
          path: ./packages/components-angular/tests/vrt/results
#      - name: 'CBT Test'
#        uses: ./docker/node/
#        env:
#          BROWSERSTACK_USER_NAME: ${{ secrets.BROWSERSTACK_USER_NAME }}
#          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
#        with:
#          entrypoint: run-test-cbt
#          args: --components-angular
#      - name: 'CBT Regression'
#        if: failure()
#        uses: actions/upload-artifact@v1
#        with:
#          name: components-angular-cbt-regression
#          path: ./packages/components-angular/tests/cbt/results
  components-react:
    name: 'Components React'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Get yarn cache'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: 'Cache node_modules'
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: 'Install'
        uses: ./docker/node/
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Build'
        uses: ./docker/node/
        with:
          entrypoint: run-build
      - name: 'Mock Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-mocks
          args: --components-react
      - name: 'VRT Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-vrt
          args: --components-react
      - name: 'VRT Regression'
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: components-react-vrt-regression
          path: ./packages/components-react/tests/vrt/results
#      - name: 'CBT Test'
#        uses: ./docker/node/
#        env:
#          BROWSERSTACK_USER_NAME: ${{ secrets.BROWSERSTACK_USER_NAME }}
#          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
#        with:
#          entrypoint: run-test-cbt
#          args: --components-react
#      - name: 'CBT Regression'
#        if: failure()
#        uses: actions/upload-artifact@v1
#        with:
#          name: components-react-cbt-regression
#          path: ./packages/components-react/tests/cbt/results
  storefront:
    name: 'Storefront'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Get yarn cache'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: 'Cache node_modules'
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: 'Install'
        uses: ./docker/node/
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Build'
        uses: ./docker/node/
        with:
          entrypoint: run-build
      - name: 'Lint'
        uses: ./docker/node/
        with:
          entrypoint: run-lint
          args: --storefront
      - name: 'Unit Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-unit
          args: --storefront
      - name: 'E2E Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-e2e
          args: --storefront
      - name: 'VRT Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-vrt
          args: --storefront
      - name: 'VRT Regression'
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: storefront-vrt-regression
          path: ./packages/storefront/tests/vrt/results
      - name: 'Build components-js prod'
        uses: ./docker/node/
        with:
          entrypoint: run-build --components-js-prod
      - name: 'Build storefront prod'
        uses: ./docker/node/
        with:
          entrypoint: run-build --storefront
      - name: 'Store build artifact'
        uses: actions/upload-artifact@v1
        with:
          name: storefront-build
          path: ./packages/storefront/dist

  utilities:
    name: 'Utilities'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Get yarn cache'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: 'Cache node_modules'
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - name: 'Install'
        uses: ./docker/node/
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Build'
        uses: ./docker/node/
        with:
          entrypoint: run-build
          args: --utilities
      - name: 'Unit Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-unit
          args: --utilities
      - name: 'VRT Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test-vrt
          args: --utilities
      - name: 'VRT Regression'
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: utilities-vrt-regression
          path: ./packages/utilities/tests/vrt/results
  deployment:
    name: 'Deployment'
    needs: [components-js, components-angular, components-react, storefront, utilities]
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Restore build artifact'
        uses: actions/download-artifact@v1
        with:
          name: storefront-build
          path: ./packages/storefront/dist
      - name: 'Deploy'
        uses: ./docker/node/
        env:
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        with:
          entrypoint: run-deploy
