<div class="list-expanded -layer-blocking-higher">
  <span class="list-expanded__close icon-font icon-font--close"></span>

  {{#> list-expanded_content}}
    My Content
  {{/list-expanded_content}}
</div>
