<div class="car-interior-ventilation {{ styleModifier }}">
  <div class="car-interior-ventilation__image
              {{#if car-interior-ventilation_fadeInImageActive}} car-interior-ventilation__image--fade-in {{/if}}"></div>
</div>
