@import '../../../setup/color-palette.setup.scss';
@import '../../../mixins/px-rem-converter.scss';

$climatisation-control-width: 100% !default;
$climatisation-control-background: $color-palette-grey-9 !default;

$climatisation-control-icon-size: rem(80px) !default;
$climatisation-control-icon-color: $color-palette-grey-5 !default;

$climatisation-control-title-color: $color-palette-white !default;
