@import 'car-interior-ventilation.setup.scss';
@import '../../base/background/background.mixin.scss';
@import '../../base/position/position.mixin.scss';
@import '../../mixins/breakpoint.scss';
@import '../../mixins/retina.scss';
@import '../../setup/global-variables.scss';

.#{$global-class-prefix}car-interior-ventilation {
  @include -background-grey-9;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url($car-interior-ventilation-background-src);

  @include retina { // sass-lint:disable-line mixins-before-declarations
    background-image: url($car-interior-ventilation-background-src-retina);
  }

  @include breakpoint('xs', 's') {
    background-image: url($car-interior-ventilation-background-src-xs);

    @include retina { // sass-lint:disable-line mixins-before-declarations
      background-image: url($car-interior-ventilation-background-src-xs-retina);
    }
  }

  @include breakpoint('s', 'm') {
    background-image: url($car-interior-ventilation-background-src-s);

    @include retina { // sass-lint:disable-line mixins-before-declarations
      background-image: url($car-interior-ventilation-background-src-s-retina);
    }
  }

  @include breakpoint('m', 'l') {
    background-image: url($car-interior-ventilation-background-src-m);

    @include retina { // sass-lint:disable-line mixins-before-declarations
      background-image: url($car-interior-ventilation-background-src-m-retina);
    }
  }

  @include breakpoint('l') {
    background-image: url($car-interior-ventilation-background-src-l);

    @include retina { // sass-lint:disable-line mixins-before-declarations
      background-image: url($car-interior-ventilation-background-src-l-retina);
    }
  }

  &::before {
    content: '';
    display: block;
    padding-top: $car-interior-ventilation-ratio;

    @include breakpoint('m') {
      padding-top: $car-interior-ventilation-ratio-m;
    }

    @include breakpoint('l') {
      padding-top: $car-interior-ventilation-ratio-l;
    }
  }

  &__image {
    @include -position-absolute-coordinates;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: $car-interior-ventilation-image-opacity;
    transition: opacity $car-interior-ventilation-image-transition-duration ease;
    background-image: url($car-interior-ventilation-image-background-src);

    @include retina { // sass-lint:disable-line mixins-before-declarations
      background-image: url($car-interior-ventilation-image-background-src-retina);
    }

    @include breakpoint('xs', 's') {
      background-image: url($car-interior-ventilation-image-background-src-xs);

      @include retina { // sass-lint:disable-line mixins-before-declarations
        background-image: url($car-interior-ventilation-image-background-src-xs-retina);
      }
    }

    @include breakpoint('s', 'm') {
      background-image: url($car-interior-ventilation-image-background-src-s);

      @include retina { // sass-lint:disable-line mixins-before-declarations
        background-image: url($car-interior-ventilation-image-background-src-s-retina);
      }
    }

    @include breakpoint('m', 'l') {
      background-image: url($car-interior-ventilation-image-background-src-m);

      @include retina { // sass-lint:disable-line mixins-before-declarations
        background-image: url($car-interior-ventilation-image-background-src-m-retina);
      }
    }

    @include breakpoint('l') {
      background-image: url($car-interior-ventilation-image-background-src-l);

      @include retina { // sass-lint:disable-line mixins-before-declarations
        background-image: url($car-interior-ventilation-image-background-src-l-retina);
      }
    }

    &--fade-in {
      opacity: $car-interior-ventilation-image-fade-in-opacity;
    }
  }
}
